[2018-07-16 16:08] bhsmither opened #2109 "Hook Request"
In products.index.inc.php, find:
[code]
Add a new hook ABOVE those statements.
admin.product.products_list.where_filter

[2018-07-16 17:12] Noodleyman opened #2110 "Enhancement: promotional codes, exclude sale items"
Enhance promotional codes to exclude sale items.

Added here as the request a feature portal is offline

[2018-07-18 08:37] abrookbanks opened #2111 "Cookie Consent Log shows on add customer"
It should only show on edit.

[2018-07-18 08:41] #2111 closed, assigned to abrookbanks

[2018-07-19 07:56] Noodleyman opened #2112 "Hook Request - cart.class.php"
FIND:
[code]

ADD AFTER:
`foreach ($GLOBALS['hooks']->load('class.cart.discount_preadd') as $hook) include $hook;`

REASON:
This allows direct manipulation of the allowed product ID's for codes. using the existing hook isn't sufficient. this is because by the time it is called there may already have been an error/warning output to the customer (language string error_voucher_wrong_product)

[2018-07-19 15:22] abrookbanks commented on #2108
The Foundation skin is designed to always have CSRF on. The setting was added for backward compatibility so it it doesn't exist then ajax data returns as expected instead of as an array.

Older skins without CSRF should not have that code in it. Instead use;

[code]

[2018-07-19 15:22] #2108 closed, assigned to nobody

[2018-07-19 15:25] Noodleyman commented on #2108
what if you don't want to run it with CSRF on?

[2018-07-19 15:28] abrookbanks commented on #2108
It's hard coded to use CSRF. Since 6.2.x (can't remember which one exactly) the token doesn't change so you can have multiple tabs, windows and work with premature page data. On those grounds there's no good reason not to use it.

[2018-07-20 08:15] abrookbanks commented on #2109
Nice! :)

[2018-07-20 08:15] #2109 closed, assigned to abrookbanks

[2018-07-20 08:24] abrookbanks commented on #2112
Great stuff!! :)

Thanks Alec!!

[2018-07-20 08:24] #2112 closed, assigned to abrookbanks

[2018-07-20 08:42] abrookbanks commented on #2107
This is much nicer. I had to code it with backward compatibility so not to upset any existing extensions.

[2018-07-20 08:42] #2107 closed, assigned to abrookbanks

[2018-07-20 08:52] abrookbanks commented on #2106
I didn't write this code so I'm in the same position as you. It would be nice if the class could be extended maybe. However a hook follows `class.cubecart.construct` allowing you to use it.

From there you can do a lot of things.

[2018-07-20 09:50] abrookbanks commented on #2043
I really need to make progress on this. So far everything I have tried has failed.

[2018-07-20 10:23] abrookbanks commented on #2043
Ok I think I got it. It's encrypting and decrypting successfully with openssl the only potential issues is SagePay understanding it as the PKCS5 padding may or may not be required.

I don't have a SagePay test account.

[2018-07-20 10:23] abrookbanks commented on #2043
Closing for now.

[2018-07-20 10:24] #2043 closed, assigned to abrookbanks

[2018-07-20 10:51] abrookbanks opened #2113 "Encryption class needs openssl support"
As above. Currently only mcrypt supported.

[2018-07-20 10:59] #2113 closed, assigned to abrookbanks

[2018-07-20 11:00] abrookbanks commented on #2043
Relates to #2113

[2018-07-20 12:29] havenswift-hosting opened #2114 "Multiple order confirmation emails sent incorrectly"
The scenario is

Order placed 15th July at 12:52 for a physical product with a cost and print order form selected as payment method as customer (not a registered customer but as a guest) was paying via bank transfer - entry at Pending as expected in Order History

It sent out admin "Order Received" and Customer "Order Confirmed" emails at that point as expected.  It then sent out another Customer

[2018-07-20 17:05] bhsmither commented on #2114
The POF has a setting to send a complimentary email. I believe the POF uses the Customer's (Cart) Order Confirmation email template. And this is the end of the POF's involvement.

WRT the admin moving the order to Processing and Completed, and there being multiple Pending entries in the Transaction Log, perhaps a correlation with web server access logs can reveal some info.

[2018-07-22 22:05] bhsmither opened #2115 "Database Table Enumeration to be Pivoted"
Scenario: CubeCart_sessions went missing. Any httpredir() sends back the same page non-seo'd. (Somehow, the admin is still able to log in and view things.)

In admin, Maintenance, Database tab, a list of tables are listed as queried via `DB->getRows()`. Then the `$index_map` array is mapped onto that list - elements of the map being ignored if nothing to map to.

No direct and obvious warning that

[2018-07-23 08:46] #2115 closed, assigned to nobody

[2018-07-23 08:49] abrookbanks commented on #2114
If the merchant can  open a support ticket with steps to reproduce and I'll look into this.

[2018-07-23 08:49] #2114 closed, assigned to nobody

[2018-07-23 08:50] abrookbanks commented on #2110
I think this is an important one actually. You regularly see discount codes that can't be used against existing promotions.

[2018-07-23 08:50] #2110 closed, assigned to abrookbanks

[2018-07-23 09:07] Noodleyman commented on #2110
I already implemented it via hooks, was quite a chunk of code when you consider all of the different possible configurations (sale mode, is the product on sale, is it included/excluded, and what is already included/excluded in the array).  It works well.  Should you want a glance at the code I can send it to you so you can refine it into core code.

[2018-07-23 09:08] abrookbanks commented on #2110
Kool, thanks.

[2018-07-23 09:32] abrookbanks commented on #2061
It does show a separate session but "Is Admin?" has a check under it.

[2018-07-23 09:45] abrookbanks commented on #2061
Now it just shows front end online sessions. Makes much more sense.

[2018-07-23 09:45] #2061 closed, assigned to abrookbanks

[2018-07-24 11:24] havenswift-hosting opened #2116 "Caching issues with Stock when using matrix options"
See https://forums.cubecart.com/topic/54182-inventory-not-depleating-properly/

[2018-07-24 16:25] havenswift-hosting commented on #2116
Related to https://github.com/cubecart/v6/issues/2084

[2018-07-25 08:16] abrookbanks commented on #2116
Thanks Ian!! :)

[2018-07-25 08:16] #2116 closed, assigned to abrookbanks

[2018-07-25 08:16] abrookbanks commented on #2084
Should be resolved with https://github.com/cubecart/v6/commit/f9e905983aa9daa09bb1a7e9d4b1d7413304a57f

[2018-07-25 08:16] #2084 closed, assigned to abrookbanks

[2018-07-25 11:52] vidmarc opened #2117 "Errors in hreflang tags"
From Google webmaster tools:

We found the hreflang tags on your site, but a few of them have technical problems. Take a look at our hreflang report to see which of your hreflang tags have issues. Until you fix these tag errors, your website will not benefit from additional language or region targeting.

_International Targeting | Language > 'x-default' - no return tags_

[2018-07-25 22:28] bhsmither opened #2118 "Jump to Single Result May Fail"
See: #1427.

This is a very edgy case.

`Catalogue->searchCatalogue()` is used to find products matching search words, products assigned to a given category, and sale items.

In the search and sale code, `$this->_category_products` is the direct result of the query recordset. It is an indexed array with a default index, and 1427 uses the zeroth (or [0]) array element.

In the category code, `$this

[2018-07-26 05:18] bhsmither opened #2119 "Search Results may be Incomplete When Admin Logged In"
In admin, Store Settings, Stock tab, "Hide out-of-stock product" is enabled, but does not affect admin.

The admin is logged in.

Latest Products will then show out of stock items.

But, using the Quick Search box will not include out of stock items.

Suggest using `$this->outOfStockWhere()`.

Catalogue class near line 1766:
[code]

[2018-07-26 21:22] bhsmither opened #2120 "Upgrade Enhancement"
Upgrading from CC4...

If the format of `CubeCart_order_sum.ship_date` **is known to be stable**, then a hard conversion is not the optimum approach.

That is, since 'ship_date' (VARCHAR-50) for CC4 could hold _anything_, it was meant for "general information" (as opposed to being used to calculate something else). The format of the value could be anything -- assume it is MM/DD/YYYY.

In the file

[2018-07-26 22:51] bhsmither opened #2121 "Latest Products May Show Out of Stock Items"
The admin is not logged in. "Hide out-of-stock items" is enabled.

The item's "Use Stock Level" is enabled, and has main stock. However, all available option combinations in the Options Matrix Table has "Use Stock Level" enabled with zero stock.

The query for Latest Products uses the item's main stock level to determine its inclusion in the list, but the derived stock level for the Buy button use

[2018-07-27 07:59] bhsmither opened #2122 "Enhancement to SEO PCRE Pattern"
Request:

In SEO class, the constant `PCRE_REQUEST_URI` does not allow for other than word characters in the first part of the pattern. This means that requests of the form:
`/search.html?_a=product&product_id=15` works
`/testcategory03.html?_a=product&product_id=15` works
`/test-category-03.html?_a=product&product_id=15` fails

These URIs are the result of `httredir("?_a=xyz")`. The 302's target

[2018-07-27 19:27] matanhershberg commented on #2084
Any estimates for a release date on this?

Wondering if I should just apply manually or wait for release.

[2018-07-27 21:15] briansandall commented on #2096
@abrookbanks Can you reproduce the issue with the UPS module installed? It seems to be an issue with the way inherited tax rules are handled in combination with shipping modules.

[2018-07-30 22:10] bhsmither opened #2123 "Dashboard Folder Size Calculate Shows Timed-out"
Minor issue:

Click the 'Calculate' link. A few seconds later, the folder size is displayed.

However, regardless of that outcome, wait 30 seconds and the node is replaced with the time_out_text.

[2018-07-31 08:30] #2123 closed, assigned to abrookbanks

[2018-07-31 08:45] #2122 closed, assigned to abrookbanks

[2018-08-01 22:07] bhsmither opened #2124 "Database Table Enumeration Anomalies"
In admin/sources/maintenance.index.inc.php, the `$index_map` array has an extra `cubeCart_access_log` key (misspelled), an extra `cubecart_order_notes` key, and a missing `cubecart_cookie_consent` key.

[2018-08-02 09:20] abrookbanks commented on #2124
I can't find the missing cubecart_cookie_consent key?

[2018-08-02 11:37] #2124 closed, assigned to abrookbanks

[2018-08-02 13:56] bhsmither commented on #2124
Can't find it?

Seems it was placed into the array `$index_map` close to where it would be alphabetical instead of at the bottom where all the other new tables are.

[2018-08-02 14:12] abrookbanks commented on #2124
Yes its not in alphabetical order.

[2018-08-03 11:11] Dirty-Butter opened #2125 "Error on clicking on Mailing List in Stock 6.2.2 current commit"
[03-Aug-2018 12:01:50 Europe/London] PHP Warning:  count(): Parameter must be an array or an object that implements Countable in XXX/sources/customers.subscribers.inc.php on line 211

When I manually change a customer to being a Subscriber (No to Yes) to the mailing list, the error message shows when I click on the Mailing List. If I login as the customer, subscribe, and confirm the subscription v

[2018-08-04 01:22] bhsmither commented on #2118
I just learned from other CC code that one can `sort()` the array which will re-index it with sequential integers.

[2018-08-05 04:23] bhsmither commented on #1987
It can be a UNIQUE KEY if you allow this column to contain nulls.

That would mean a graceful fallback to using `cart_order_id` if `custom_oid` for an order summary is a zero-length string **or null**.

(An alternate, but ultimately unsatisfactory solution, is to span the UNIQUE KEY across `custom_oid` **and** `id`, **in that order**. This will allow the index to be unique and searchable just on t

[2018-08-06 14:38] abrookbanks opened #2126 "Sale Items shows nothing for global sale"

[2018-08-06 14:39] abrookbanks commented on #2126
Relevant code for per product sale only!
https://github.com/cubecart/v6/blob/6.2.0-branch/classes/catalogue.class.php#L1922-L1924

[2018-08-06 15:10] abrookbanks commented on #2126
See: https://github.com/cubecart/v6/commit/647f12be3dc527fce9e238d7334a9c1a462e5ac1

[2018-08-07 08:59] abrookbanks opened #2127 "Cache writing too many queries to file"

[2018-08-07 09:00] abrookbanks commented on #2127
Duplicate of https://github.com/cubecart/v6/issues/2051

[2018-08-07 09:00] #2127 closed, assigned to nobody

[2018-08-07 09:04] abrookbanks commented on #2051
FINALLY found that there was an issue with caching unnecessary files.

See: https://github.com/cubecart/v6/commit/c16efa14cfb25b57768f173354f8ebb925ab8114 (wrong issue id).

[2018-08-07 10:27] abrookbanks opened #2128 "Admin CP 404 Error XSS Vulnerability if "admin.php" path is known"
Discovered by Zekvan from [Netsparker](https://www.netsparker.com/).

A Cross-site Scripting vulnerability is present in recent versions of CubeCart version 6 from 6.2.1 and below potentially delivering a malicious script to the merchants browser.

This vulnerability is only of concern if the admin URL is somehow disclosed to the attacker.

![cubecart](https://user-images.githubusercontent.com/452

[2018-08-07 10:30] #2128 closed, assigned to abrookbanks

[2018-08-07 10:32] #2126 closed, assigned to abrookbanks

[2018-08-07 10:35] #2051 closed, assigned to abrookbanks

[2018-08-07 13:51] jasehead opened #2129 "6.1.14 - Create store account during checkout makes customer_id zero for newsletter subscriber"
(Possibly still an issue in CubeCart 6.2.2)

A guest adds an item to their basket and proceeds to checkout. They add their address details and tick all checkboxes, including:

- Subscribe to mailing list
- I would like to create an account

They complete the form and click Checkout. They are logged in with their address and shipping updated (green notice) and then prompted to click Checkout again.

[2018-08-08 09:28] abrookbanks opened #2130 "Empty query on line 1930 of catalogue.class.php"
Found in store error log.

[2018-08-08 09:29] #2130 closed, assigned to abrookbanks

[2018-08-08 09:49] abrookbanks commented on #2114
This can be fixed by turning off the IPN URL in the PayPal account. I think this issue affects PayPal powered by Braintree users only who also have the correct PayPal IPN URL specified in their PayPal account. Braintree triggers the order confirmation email and also PayPal.

[2018-08-08 09:55] havenswift-hosting commented on #2114
This issue had nothing to do with PayPal and while the client in question has standard PayPal gateway installed (the order didnt involve that gateway but used the POF) they dont even have Braintree installed (the Braintree gateway doesnt work with most third party skins as previously reported)

[2018-08-08 09:59] abrookbanks commented on #2114
OK still keeping this closed until I have steps to reproduce. Thanks.

[2018-08-08 10:37] Noodleyman opened #2131 "Cookie Consent Bug - Impacting admin area performance"
When adding a new user manually via the admin area, the Cookie Consent tab is populated with ALL records from CubeCart_cookie_consent where the customer id = 0;

$cookie_consent = $GLOBALS['db']->select('CubeCart_cookie_consent', false, array('customer_id' => (int)$_GET['customer_id']))

Which when run on the "ADD" page, triggers:
SELECT * FROM `CubeCart_cookie_consent` WHERE CubeCart_cookie_conse

[2018-08-08 11:48] abrookbanks commented on #2131
This is fixed already on 6.2.2. :)

[2018-08-08 11:48] #2131 closed, assigned to nobody

[2018-08-08 11:49] Noodleyman commented on #2131
Ah. I couldn't find a related issue for it on GitHub so assumed it was new

[2018-08-08 11:49] abrookbanks commented on #2131
Thanks for posting though. :)

[2018-08-08 15:24] andysarcade commented on #2051
this is good to know, i wonder if it will solve my issue!

Andrew Welburn
andys-arcade

On 07/08/2018 10:04, Al Brookbanks wrote:

[2018-08-08 15:35] andysarcade commented on #2051
Tried the code change, i still get one or two files per second created
in the cache folder, so i have to keep caching switched off :(

Andrew Welburn
andys-arcade

On 07/08/2018 10:04, Al Brookbanks wrote:

[2018-08-08 19:13] bhsmither commented on #2051
Two files per second. I wonder if your site is getting hit hard by random searches.

CubeCart will cache the Catalogue->searchCatalogue query regardless if anything was found.

If you have access to your web server access log, please determine if you are getting hit hard with searches.

It would be interesting to diagnose this situation by adding more data to the cached query: the REQUEST_URI and

[2018-08-09 03:49] bhsmither commented on #2051
Having backported the code changes (respecting `$cache` argument) to CC621, cache writes have dropped significantly. Previously, cache write activity was higher than I thought reasonable, but the **number** of cache files grew well within expectations.

CubeCart was writing fresh copies (only the 'time' had been changed), overwriting existing same-named cache files.

[2018-08-09 08:32] abrookbanks commented on #2051
Maybe the search tool shouldn't cache or it should have flood control.

[2018-08-09 08:43] abrookbanks commented on #2118
Thanks for the cool theory. I'm sure you are right. If you can give me steps to reproduce this happening  I'll have a look into it.

[2018-08-09 08:43] #2118 closed, assigned to nobody

[2018-08-09 08:58] abrookbanks commented on #1987
Great work Brian! :)

[2018-08-09 08:59] #1987 closed, assigned to abrookbanks

[2018-08-09 09:03] abrookbanks commented on #2103
Closing until we have steps to reproduce this.

[2018-08-09 09:03] #2103 closed, assigned to nobody

[2018-08-10 00:27] bhsmither opened #2132 "Catalogue->productCount to be Enhanced"
This function does not solely count products in a category because the given category's **children** are recursed and added into the result total.

Request:
[code]

[2018-08-10 14:56] Dirty-Butter opened #2133 "Email log troubleshooting Bug??"
![screenshotemaillogtroubleshootbug](https://user-images.githubusercontent.com/6146505/43964599-cc6f99bc-9c82-11e8-9fe9-7ca395f88e41.png)

I had some kind of Windows/Outlook glitch and had to create new passwords for all my email addresses. I forgot that meant I would need to fix the CC ones, too.

The one re-sent email that I did received was the Order Confirmation for the Eden Yellow Chick in th

[2018-08-10 18:59] mike4kz commented on #2041
I keep getting messages for gui.class.php:915, that "it expects 3 parameters". The line really has two parameters, perhaps parenthesis missing between functions?

[2018-08-13 07:33] bos4711 opened #2134 "Adding a scottish address does not work"
A customer from Inverness (Scotland) was about to order, but since the country "Scotland" is not listed, the customed picked "United Kingdom". However, "Scotland" was not listed under "County" (for obvious reasons), making the customer unable to order.

I have two suggestions here:

1. Add Scotland as a country

2. Disable (or atleast add an option) the enforced requirement of county usage. Where

[2018-08-13 07:36] bos4711 commented on #2134
Side note: for United States, the states are listed under "county" in Cubecart, while these are really states.

[2018-08-13 08:32] hairy-dog commented on #2134
Scotland us not a county. The Scottish counties should be listed, not Scotland On 13 Aug 2018 8:33 a.m., Rikard Bosnjakovic <notifications@github.com> wrote:A customer from Inverness (Scotland) was about to order, but since the country "Scotland" is not listed, the customed picked "United Kingdom". However, "Scotland" was not listed under "County" (for obvious reasons), making the customer unable

[2018-08-13 09:13] abrookbanks commented on #2134
Surely it falls under United Kingdom with state/country set as optional.

e.g.
44-46 Morningside Road
EDINBURGH
EH10 4BF
United Kingdom

[2018-08-13 09:15] abrookbanks commented on #2134
Please note that county/state is optional since 6.2.0 per country. Your skin may need to be updated to dynamically work around this.

[2018-08-13 09:15] #2134 closed, assigned to nobody

[2018-08-13 09:19] abrookbanks commented on #2134
Works fine with state/county set to optional for United Kingdom.

![screen shot 2018-08-13 at 10 18 41](https://user-images.githubusercontent.com/4520803/44023478-5aa829f4-9ee2-11e8-935f-5edbae3a1b31.png)

[2018-08-13 09:27] abrookbanks commented on #2132
Very nice. I took a slightly different approach as the value created by the `$children` query isn't needed if `$inc_children` is false. Hopefully you agree.

[2018-08-13 09:27] #2132 closed, assigned to abrookbanks

[2018-08-13 12:00] abrookbanks commented on #2129
I can't reproduce this on 6.2.2.

[2018-08-13 12:00] #2129 closed, assigned to nobody

[2018-08-13 13:25] Noodleyman opened #2135 "Tax rounding issue"
Continuation of this thread:
https://github.com/cubecart/v6/issues/1801

There are still some issues which are causing some business users of CubeCart a headache.  Here is an example on a clean install of CubeCart 6.2.2, with tax at 20% on both shipping and products. Everything is priced excluding tax.

![image](https://user-images.githubusercontent.com/10614018/44033951-d3406b9e-9f03-11e8-83cf-6d

[2018-08-13 16:26] havenswift-hosting opened #2136 "Pinterest plugin : uses hard coded http:// urls"
This plugin uses hard coded http:// urls in several places leading to mixed content messages on secure sites

[2018-08-14 13:05] abrookbanks opened #2137 "Add Joyride step for cache clearance"
The merchants needs to be educated about this process.

[2018-08-14 22:04] demand73 commented on #2086
Well 999 is to small some of my Products like resistors sells in thousands some times. http://www.demand.nu/retrotech/r0805-4k7.html
The most i have sold in the same order is 2500pcs.

[2018-08-15 03:00] bhsmither opened #2138 "Invoice Editor to have Conditioner"
The new Invoice Editor uses the admin template `orders.print.php`.

But, this template has not been 'conditioned' to survive being edited by CKEditor.

Suggest something like issue #1694 and/or #1229 in `documents.invoice.inc.php`.

CKEditor will move
[code]
outside the `<ul>` block.

[2018-08-15 23:34] mike4kz opened #2139 "seo_url not stored in translation"
Hi,

I've started playing with a translations, and noticed, that when I create a translation for a category, "Custom SEO URL" nor "keywords" are not stored. I checked the database, and fields are empty. When I manually modified SQL record for the translation, and then refreshed the page, it's still not shown. I didn't check the page URL (manually put a "custom seo url" same way as it works in main

[2018-08-16 00:41] mike4kz commented on #2139
That's probably going to be "feature request". All SEO URLs are stored in the database. All document translations stored under unique number, while category has the same number but additional "translation".

Also product translations have no separate SEO information.

[2018-08-16 06:16] bhsmither commented on #2139
All seo path (friendly URLs) are maintained in CubeCart_seo_urls.

Currently, there is no means to have more than one of the same 'type' and 'item_id' combination.

Yes, a feature request to have 'lang_code' as an additional element to the unique combination.

[2018-08-16 09:58] mike4kz commented on #2139
Yes, I understood this. My initial question was to have a mechanism to provide separate SEO_META data for each translation. Keywords, description, url, etc.

[2018-08-16 10:10] havenswift-hosting commented on #2139
This is not a "bug" as such and feature requests covering this have been open for a while

https://features.cubecart.com/topic/foreign-language-seo-urls_1

https://features.cubecart.com/topic/add-seo-title-and-meta-data-for-translations

Please add comments and support for these on those topics

[2018-08-16 10:55] mike4kz commented on #2139
I saw that. However what I consider "a bug":
* When I create a translation for a category, there is a fields for "Custom SEO URL Path" and "Meta Keywords".
* When I look into the database CubeCart_category_language, there are fields for "seo_meta_keywords" and "seo_custom_url".

However when I fill this information in the translation, they don't go to the database. And when I manually updated a da

[2018-08-16 11:55] Dirty-Butter opened #2140 "Is it possible to Beautify files with our own edits to match the system you are using?"
As title indicates

[2018-08-16 17:22] abrookbanks commented on #2140
Sure: https://github.com/FriendsOfPHP/PHP-CS-Fixer

[2018-08-16 17:22] #2140 closed, assigned to nobody

[2018-08-16 19:23] Dirty-Butter commented on #2140
THANKS!

[2018-08-16 20:36] Dirty-Butter commented on #2140
LOL! I downloaded the files HA! I'm sure you got a big smile, knowing how lost I would be. Anyway, maybe this info will help somebody.

[2018-08-16 22:04] havenswift-hosting commented on #2139
I would also love this to be sorted ASAP - we have many UK and international clients that use multiple languages but cannot use them anywhere near to their full functionality

[2018-08-17 13:03] havenswift-hosting opened #2141 "Multiple hook requests"
Request 1
In /classes/cubecart.class find

foreach ($latestProducts as $product) {

Before this add

foreach ($GLOBALS['hooks']->load('class.cubecart.latest_products') as $hook) include $hook;

Request 2
In /classes/tax.class.php near line 435 find

$amount	= sprintf('%.2F', $price*($tax['percent']/100));

After this add

foreach ($GLOBALS['hooks']->load('class.tax.producttax.amount') as $hook) in

[2018-08-17 14:57] havenswift-hosting opened #2142 "Braintree PayPal plugin doesnt work with most skins"
The way that the Braintree PayPal plugin has been coded means that it doesnt work with most skins other than the stock Foundation.

Skins not based on Foundation dont work

Skins based on Foundation that use a `<header>` tag will also not work as the plugin has a "braintree.css" file which has CSS rules. Some of those CSS rules are very high level, for example binding with the <header> HTML tag an

[2018-08-17 16:04] bhsmither commented on #2142
Please edit the above to put code inside code-backticks.

[2018-08-18 14:07] Noodleyman opened #2143 "Custom Order Numer issue"
After placing an order, the customer will see traditional order numbers:
![image](https://user-images.githubusercontent.com/10614018/44300039-510a0380-a2f8-11e8-95a9-c64461165db3.png)

But, this doesn't match the ACTUAL order number being generated when using sequential numbers
![image](https://user-images.githubusercontent.com/10614018/44300043-667f2d80-a2f8-11e8-804b-8c391af479a2.png)
****

[2018-08-18 14:23] Noodleyman opened #2144 "Incorrect Sequential Order ID (Issue with trigger)"
The trigger calls the MySQL LAST_INSERT_ID() function when working out the custom order ID, however this pulls the last ID from CubeCart_order_inventory, not order summary.

This makes the sequential order numbers non-sequential and causes unexpected results.

A trigger really isn't the correct mechanism for this custom order ID, it should be done via PHP at the time the order/record is generated.

[2018-08-18 16:12] Dirty-Butter commented on #2144
Since I had been using Chuggyskins's Sequential Order Numbers for years, I had a terrible time getting any kind of CC sequential numbers to be predictable. (I was careful to clear any signs of the old mod out of the database before attempting the CC one.) Maybe this is why. I look forward to seeing what is done with this Issue.

[2018-08-18 20:38] rahuldadda commented on #1546
very nice platform for stay updated with new thing which is coming day by day. One site <a href="https://timesera.com/"> timesera </a> is also very good for getting new updates
Thanks sir making such a wonderful place.

[2018-08-18 20:41] rahuldadda commented on #1546
very important post . Read this carefully -1.
<a href="https://timesera.com/short-inspirational-quotes//"> short inspirational quotes </a>
2.
<a href="https://timesera.com/indian-states-and-capitals/">indian states and capitals </a>
3.
<a href="https://timesera.com/portal-act/">portal act </a>
4.
<a href="https://timesera.com/motivational-quotes-for-students/"> motivational quotes for students </a

[2018-08-18 20:48] Dirty-Butter commented on #1546
SPAM COMMENTS ABOVE

[2018-08-19 00:34] bhsmither commented on #2143
I do not recognize what that is an image of. Please indicate the template that this information is coming from.

[2018-08-19 00:55] bhsmither commented on #2143
Ok, the template content.receipt.php (as well as print.receipt.php having similar) has this:
[code]
Please verify the skin you are using has this code.

I conclude this because Foundation templates do not have a hash mark in the string.

[2018-08-19 08:19] Noodleyman commented on #2143
I had this very thought last night after logging off, it's probably a smarty thing, thanks for following up. it'll be a custom template issue. I'll get it fixed

[2018-08-19 08:19] #2143 closed, assigned to nobody

[2018-08-19 09:46] Noodleyman opened #2145 "Line item options - name value pairs"
Please consider as an enhancement, currently when options are selected against an ordered item the name/value of those options get stored in the inventory table, product_options column as a serialised array.

However, within that array we simply have a string for each option and value combination. It would be VERY helpful to actually have an additional field to store the name/value pairs in an arr

[2018-08-19 13:30] Noodleyman opened #2146 "Options should be stored as name value pairs"
Please consider as an enhancement, currently when options are selected against an ordered item the name/value of those options get stored in the inventory table, product_options column as a serialised array.

However, within that array we simply have a string for each option and value combination. It would be VERY helpful to actually have an additional field to store the name/value pairs in an arr

[2018-08-19 13:31] #2146 closed, assigned to nobody

[2018-08-19 13:33] Noodleyman opened #2147 "Applies tax rate should be stored by line item"
The tax rate (percentage) applied to each product line should be stored against the ordered items.

If the tax rate changes, it's handy to quickly see the applied % to an order without needing to work it out.  useful in case of an audit.

[2018-08-20 08:53] abrookbanks commented on #1546
Thanks. I delete and reported.

[2018-08-20 10:16] abrookbanks commented on #2144
Any reliable sources for that? MySQL is very stable and highly respected.

[2018-08-20 10:19] Noodleyman commented on #2144
10 years of experience having to fix them when they "just stop" in corporate environments, with the only fixing being to delete then and re-add it.  Happens randomly, MsSQL suffers from the same problem as well. I'm not sure why it even needed a trigger, it's a simple thing to add in PHP.

[2018-08-20 10:20] abrookbanks commented on #2144
What causes them to stop?

[2018-08-20 10:21] Noodleyman commented on #2144
An excellent question which has never been answered. no issues in logs. for the MsSQL stuff, Microsoft couldn't even provide the reason. I've noted the same behaviour in MySQL, but again, never seen any issues reported in logs.

[2018-08-20 10:23] abrookbanks commented on #2144
I don't understand why MySQL and MariaDB have this feature if it isn't reliable.

[2018-08-20 10:25] abrookbanks commented on #2144
I suppose it could be recoded to use PHP only but at the time of writing how it works isn't fresh in my mind.

[2018-08-20 10:26] Noodleyman commented on #2144
you can say that about any software that has a glitch.. :)

Regardless of the history to triggers, there is a problem with this functional area at the moment. I had to work around it by updating the custom order Id to be ID, which worked fine for my customer needs.

[2018-08-20 10:28] abrookbanks commented on #2144
So true. My Mac has some unbearably annoying glitches that have been going on for years.

[2018-08-20 10:39] #2139 closed, assigned to nobody

[2018-08-20 10:39] abrookbanks commented on #2139
Need a permanently moved redirect for changed URL's too.

[2018-08-20 10:51] abrookbanks commented on #2136
Done. Thanks!!

[2018-08-20 10:51] #2136 closed, assigned to abrookbanks

[2018-08-20 11:05] havenswift-hosting commented on #2139
There is already a feature request for this - and agree this would be great !

https://features.cubecart.com/topic/feature-request-handle-301-redirects-if-a-url-is-changed_8

[2018-08-20 11:39] abrookbanks commented on #2141
`class.cubecart.latest_products` already exists :)

`class.tax.producttax.amount` doesn't exist but it seems like if we need a hook for products ex tax then we should add one for inc tax too and name accordingly.

`class.user.register_user.insertedAgain` I can't see a problem with that one.

`admin.customer.noodle.edit'` - we can add one here but can we change the hook name to be relative to posit

[2018-08-20 11:43] havenswift-hosting commented on #2141
Over to him - just getting fed up having to change core files for some plugins when there is no need

[2018-08-20 12:13] abrookbanks commented on #2141
Yes I can imagine. Lets get it done nicely.

[2018-08-20 12:22] Noodleyman commented on #2141
Ah, one of the hooks from my first module before I learnt better.. :)   It's on my roadmap to go back and sort out at some point, but for now it's low on my priority list as the addition of the hook is in the install guide that comes with the module.

[2018-08-20 12:26] Noodleyman opened #2148 "Discounts - line item"
It would be very helpful to log at line item level any adjustments based on applied discounts.  For example, if a promotional code was applied which discounted only a single item in the order, against that record in the order inventory table, the actual discount applied and new total would be useful for reference.

Currently this is only recorded at the order summary level, which isn't granular en

[2018-08-20 13:50] abrookbanks commented on #2144
I'm doing a MySQL course at the moment and not got to triggers yet so I'll be interested to see what they say about them. I might ask the lecturer too.

[2018-08-20 16:01] Dirty-Butter commented on #2144
This just happened on plushcatalog:
![messed up sequential order numbers](https://user-images.githubusercontent.com/6146505/44351827-656d0e00-a468-11e8-846f-729c92804bb6.png)

[2018-08-20 21:20] briansandall commented on #2144
I'm not sure on the context, but the last insert ID is [known to be finicky](https://secure.php.net/manual/en/mysqli-stmt.insert-id.php) in loops, at least if you are using prepared statements:

[2018-08-21 04:56] bhsmither opened #2149 "Dis/Allowed Zone Adds Gets Doubled"
Bring an extension up for changing settings. On the Allowed Zones tab, select a country (e.g., UK). Click the green circle.

UK appears in the list. The following is added to `#enabled-zones`:
[code]

Click the Save button.

I have yet to trace this out (line 225 is involved somehow), but it seems the code in admin.js, line 740 gets executed twice.

In that the form posts two instances of
[code]

[2018-08-21 12:08] Noodleyman opened #2150 "Shipping tax rate in order summary"
It would be VERY helpful to log the tax rate, and price with/without tax applied to shipping and stored  against an order summary. this is helpful in case a tax rate changes over time.

Currently the only way to get the rate is to make a call to the module, and gather the tax rate, which had a dependency on the rates always remaining the same.

Having it to reference from the point of time the ord

[2018-08-21 12:19] Noodleyman commented on #2148
Adding an additional update to capture the reason behind this request.

I am currently working on a solution which will allow CubeCart to interface with cloud based management systems,  multi site management software etc. However, all of those sites and services work on a per SKU basis and then calculate the order totals based on line items, shipping and tax.

This gets complicated in CubeCart, es

[2018-08-21 16:11] Noodleyman opened #2151 "Hook and code change request"
orders.class.php
FIND:
`$GLOBALS['db']->update('CubeCart_order_inventory', array('quantity' => $item['quantity']), array('id' => $stored_items[$hash]['id'], 'cart_order_id' => $this->_order_id));`

REPLACE WITH:
`$GLOBALS['db']->update('CubeCart_order_inventory',$record, array('id' => $stored_items[$hash]['id'], 'cart_order_id' => $this->_order_id));`

AND BEFORE ADD:
[code]

REASON:
This allows f

[2018-08-21 16:38] Noodleyman opened #2152 "Tax incorrect in CubeCart_order_inventory"
tax is correctly added to CubeCart_order_inventory when the record is added, but if it gets updated the tax is not revised.  You can replicate this by going through checkout, hitting the payment gateway and then using the back button, revising the quantity and checking out.

The tax value will always reflect the tax at the time the record was added.

Fixed as follows:
Add this:
https://github.com/

[2018-08-22 08:47] Noodleyman opened #2153 "Promotional Codes - empty assigned products"
If you create a promotional code and configure "Product List" as "Promotional code applies to ONLY above products", and then leave the list blank, the code applies to ALL products.

This is undesirable if you are trying to create a code applicable to only shipping.

[2018-08-22 08:53] hairy-dog commented on #2153
The easy fix is to have a test product with a very low price (used for testing) and assign it to that. What happens if the only product in the list is switched off?On 22 Aug 2018 9:47 a.m., Noodleyman <notifications@github.com> wrote:If you create a promotional code and configure "Product List" as "Promotional code applies to ONLY above products", and then leave the list blank, the code applies to

[2018-08-22 09:32] Noodleyman commented on #2153
That is a valid work around, although not a fix.

follow up:
It's not a valid work around, as you can't use the coupon for shipping discount only until you've added the product that you've associated the code with

[2018-08-22 15:51] bhsmither opened #2154 "Catalogue to Expose Count"
Specifically, the count of searched products. But otherwise, more generally.

See:
https://forums.cubecart.com/topic/54251-list-all-products-link-is-this-possible/

[2018-08-22 18:13] mike4kz opened #2155 "Error message for class.gui.php line 948 (str_replace require 3 parameters...)"
Looks like misplaced parentheses:

$dialogue = str_replace('%s', $GLOBALS['config']->get('config', 'store_name', $GLOBALS['language']->notification['cookie_dialogue']));

... should be (???):

$dialogue = str_replace('%s', $GLOBALS['config']->get('config', 'store_name'**)**, $GLOBALS['language']->notification['cookie_dialogue']**)**;

[2018-08-24 07:07] havenswift-hosting opened #2156 "SagePay Form issue"
PHP Warning:  Use of undefined constant CLEAN_INPUT_FILTER_TEXT - assumed 'CLEAN_INPUT_FILTER_TEXT' (this will throw an Error in a future version of PHP) in /modules/gateway/SagePay/gateway.class.php on line 238

This is on multiple lines

[2018-08-25 15:26] Jeroen321 opened #2157 "Can't change default language in CubeCart"
Hi!
I already posted a similar question, but I think I miswrote the title and question also because unfortunately I got no response.

I think it might be a CC issue what I experience.
I have two CC shops and both CC shops are going haywire when changing the main language.
Both CC shops are up to date (6.2.2) and on different servers.

What happens? After I switch to the English US language as defa

[2018-08-25 23:26] bhsmither commented on #2157
I think the solution to issue #1956 is contributing to this.

[2018-08-26 04:05] bhsmither opened #2158 "Unneeded Link"
Line 160 of `documents.index.inc.php` is creating a delete link.

However, this link is also created and displayed when **adding a new translation**.

There is
[code]
 which causes
[code]
to not appear in that link, making the link ineffectual and pointless.

[2018-08-27 00:53] aaaple2010 opened #2159 "mysql error when you click the button 'CLEAR CACHE'"
it report that server error '500' when you click 'CLEAR CACHE',i find the error log,it report mysql syntax error.

[Aug 22 2018, 03:42 am] File: [maintenance.index.inc.php] Line: [454] " TABLE `store1_CubeCart_sessions`; " - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'TABLE `store1_CubeCart_sessions`' at lin

[2018-08-27 02:12] bhsmither opened #2160 "Verify Database Action"
In `maintenance.index.inc.php`, code beginning line 444, suggest that `$_POST['action']` be tested against an enumerated list of valid commands. (Do not want TRUNCATE to mysteriously be POSTed.)

Also use this list of valid commands to create the drop-selector:
From:
[code]
To something like:
[code]

[2018-08-27 07:22] bhsmither opened #2161 "Advisory to Update Currency Rates"
Suggest putting an advisory message next to Store Settings, General tab, Default Currency that, after changing this to some other currency, to visit the Currencies admin page to update exchange rates.

This is because it seems all that changing the default currency does is to `DB->update` the `value` to 1.0, without regard to any other existing exchange rate value.

[2018-08-27 16:22] bhsmither opened #2162 "Change Default Language - Swap Documents P/C Relationship"
For your consideration:

Also, in regards to an edit with respect to: #1956.

When choosing a different default language, code in settings.index.inc.php will set all documents to that language code regardless of the language it is written in. It then removes the language code from all children.
[code]

I disagree with this. (Unless the code has a mistake in its logic.)

Following is code that will

[2018-08-28 16:24] abrookbanks commented on #2159
Clearing the cache has no correlation to any MySQL query. Please check your PHP error log to find out what the actual PHP error is and open a support ticket or ask on our forums if you need further help.

This may be fixed by manually emptying the ./cache folder and upgrading to the latest version.

[2018-08-28 16:24] #2159 closed, assigned to nobody

[2018-08-28 16:35] abrookbanks commented on #2160
That's a great one thanks!

[2018-08-28 16:35] #2160 closed, assigned to abrookbanks

[2018-08-29 08:46] abrookbanks commented on #2162
I wasn't able to get this to work. Maybe you could make a pull request?

[2018-08-29 08:52] abrookbanks commented on #2155
Thanks for this.

[2018-08-29 08:52] #2155 closed, assigned to abrookbanks

[2018-08-29 08:53] abrookbanks commented on #2141
Closing until request is updated.

[2018-08-29 08:53] #2141 closed, assigned to nobody

[2018-08-29 09:00] #2137 closed, assigned to abrookbanks

[2018-08-29 09:03] abrookbanks commented on #2151
Thanks. I've added this but its a shame its hook in a loop.

[2018-08-29 09:03] #2151 closed, assigned to abrookbanks

[2018-08-29 09:17] abrookbanks commented on #2125
The system should send another opt in email if they try to sign up again.

[2018-08-29 09:17] #2125 closed, assigned to abrookbanks

[2018-08-29 09:30] abrookbanks commented on #2133
Thanks Rosemary.

[2018-08-29 09:30] #2133 closed, assigned to abrookbanks

[2018-08-29 09:46] abrookbanks commented on #2156
Thanks this is fixed with 1.0.9.

[2018-08-29 09:46] #2156 closed, assigned to abrookbanks

[2018-08-29 09:56] abrookbanks commented on #2152
Nice find. Thanks for this Alec.

[2018-08-29 09:56] #2152 closed, assigned to abrookbanks

[2018-08-29 10:20] #2154 closed, assigned to nobody

[2018-08-29 14:33] Dirty-Butter commented on #2125
As it is, however, the Edit Customer page shows them as Subscribed when they really are not - until they complete the opt-in. Shouldn't they be shown as NOT subscribed at that point? Or even better, something like In Progress?

[2018-08-30 07:05] Jeroen321-b commented on #2157
Thank you for reading my question.
Sorry for not responding sooner.. I will look into it very soon and will let you know.
Thanks again!

[2018-08-30 15:24] Noodleyman opened #2163 "CREATE TABLE LIKE SQL query is non-functional"
The following SQL query when called via $GLOBALS['db']->query() does not execute, neither is there an error in the admin log.

`CREATE TABLE test LIKE CubeCart_inventory;`

The query will clone the table structure and indexes to a new table.

work around is to manually add the indexes after, but wanted to raise this as an issue since there is some kind of issue with CubeCart understanding this SQL

[2018-08-30 15:52] Noodleyman commented on #2163
disregard. issue was caused by cache!

[2018-08-30 15:52] #2163 closed, assigned to nobody

[2018-08-30 16:05] bhsmither commented on #2157
Also look at #2162.

[2018-08-31 23:05] bhsmither opened #2164 "ajaxNewsletter() Could Infinite Loop"
If a newsletter config setting has 'dbl_opt' enabled, but no records have `'dbl_opt' = "1"`, the `Ajax::search('newsletter')` will return `{'error':'true'}`.

In admin.js, `ajaxNewsletter()`, there is no code to handle this specific return. Instead, this function recurses -- infinitely.

[2018-09-04 17:11] Noodleyman commented on #2141
update:
Please add the hook to tax.class.php as follows:

FIND:
`$amount = sprintf('%.2F', $price - ($price/(($tax['percent']/100)+1)));`

ADD AFTER:
`foreach ($GLOBALS['hooks']->load('class.tax.producttax.amount') as $hook) include $hook;`

REASON:
Can be used to interact with tax rates (as used by EU VAT module)

[2018-09-05 09:14] Jeroen321-b commented on #2157
The solution #1956 does not apply to my shop. The languages (English US and UK) are both installed in the shop and active.
So, next step is #2162 ...

[2018-09-05 09:23] Jeroen321-b commented on #2157
Do I understand correctly that for now the language setting switch cannot be done with the switch to another language option un CubeCart?

[2018-09-05 14:22] #2106 closed, assigned to nobody

[2018-09-05 15:50] bhsmither commented on #2157
If allowed, the visitor can switch the store's displayed language for himself by using the Language selector on the storefront page.

We are currently working on ways to make sure the appropriate documents are displayed.

[2018-09-07 06:16] richosr opened #2165 "Cannot update currencies 6.2.2"
Everything was fine until today and now every attempt to update currencies fails.

Error log shows:

  | Today, 07:11 | [Exception] 	/home/richoso2/public_html/newshop/admin_*******/sources/settings.currency.inc.php:37 - String could not be parsed as XML

regards
Steve

[2018-09-07 06:56] bhsmither commented on #2165
Put this in your browser address bar, and see what shows:
http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml

I just did, and I got (what looks like) a valid XML string.

Maybe there was a temporary glitch between your server and the bank.

Also, in admin, Request Log, see if there is an entry for the attempt to get the rates. Examine the **Response recieved**.

[2018-09-07 07:00] richosr commented on #2165
I get the valid XML in the browser , I tried that already. But still cubecart won't process it.

[2018-09-07 07:04] bhsmither commented on #2165
Also, in admin, Request Log, see if there is an entry for the attempt to get the rates. Examine the Response received.

[2018-09-07 07:08] richosr commented on #2165
I just edited the code and changed the location of the xml to a local folder on my host and downloaded the xml to there.

It then processes OK.

	if (($request = new Request('www.**********.co.uk', '/_private/eurofxref-daily.xml')) !== false) {
		$request->setMethod('get');
		$rates_xml = $request->send();

[2018-09-07 07:11] richosr commented on #2165
The response log does not show any requests for the rates either when requested from eurofx or locally.

[2018-09-07 07:16] bhsmither commented on #2165
That's odd.

[2018-09-07 07:32] bhsmither commented on #2165
Check your PHP environment to determine if the version of PHP has been upgraded without your knowledge. In admin, PHP Info.

If so, make sure that CURL is enabled. If so, there will be a table for it.

If the Request class cannot use CURL, it will try to use `fsockopen()`.

In either case, there will be a log entry. (see next comment.)

If the Request class cannot get the response, CubeCart will t

[2018-09-07 07:37] bhsmither commented on #2165
I think it is not getting logged because there is no `_request_body`.

[2018-09-07 07:48] bhsmither opened #2166 "Request->log() to Log Anyway"
Only if `$request` is not empty does the request get logged.

Updating currencies does not `Request->setData()`. Thus, `$this->_request_body` is _null_.

Suggest logging anyway with:
[code]

[2018-09-07 08:00] richosr commented on #2165
I have raised a ticket with my host and hopefully they can get information from the server log.
Thanks for your help.

I will update the thread when I hear back from them.

[2018-09-07 08:07] bhsmither commented on #2165
I think I have the real reason:

The Request class has commented out this statement at line 80:
[code]
The Request class is defaulting to:
[code]
The bank is responding with:
[code]
I believe, because of the current push to make everything `https`, the fail is happening because CURL is not making a follow-on request to the secure version of the URL.

So, in settings.currency.inc.php, find:
[code]

[2018-09-07 08:20] richosr commented on #2165
Yes that fixed it Thanks very much.

That will need to be updated in a new version - I think.

regards
Steve

[2018-09-08 13:45] Jeroen321-b commented on #2157
Great that you are currently working on it :)
Yes, I do have the option in the shop that visitors can use the language selector, but many thanks for helping me by pointing to this option.

[2018-09-09 05:37] wairds opened #2167 "Sort not working on Transaction Logs"
Sort does not appear to be working on any of the columns in Dashboard/Orders/Transaction Logs.

[2018-09-10 13:06] havenswift-hosting commented on #2117
This problem was introduced with https://github.com/cubecart/v6/issues/1944 and many sites are receiving exactly the same issue.  Also reported several times on the forums ie https://forums.cubecart.com/topic/54221-errors-in-hreflang-tags/

[2018-09-10 13:57] abrookbanks commented on #2165
Confirmed working now.

[2018-09-10 13:57] #2165 closed, assigned to abrookbanks

[2018-09-11 00:58] bhsmither opened #2168 "Deprecated Messages in Log"
See:
https://forums.cubecart.com/topic/54316-error-log-query/

Suggest:
In the file ini.inc.php, near line 19:
[code]
﻿In the file /controllers/controller.index.inc.php, near line 37:﻿
[code]

[2018-09-12 09:36] havenswift-hosting opened #2169 "Gravatar avatar hard coded http://"
In classes/catalogue.class.php on line 391 you have a hard coded http when retrieving the gravatar avatar

$review['gravatar_src'] = 'http://www.gravatar.com/avatar/'.$review['gravatar'].'?d=404&r=g';

This causes mixed content warnings

[2018-09-13 17:06] bhsmither opened #2170 "Invoice Editor URL"
Inconsequential:

In /admin/sources/documents.index.inc.php, near line 189:
[code]
In the above, the second argument is not correct. And it is not semantically correct, either.

This argument is actually to have the browser scroll to the named anchor, or specifically for CubeCart, to the non-default `<div class="tab_content">` having that `id`.

Since there isn't a non-default `<div>`, this argume

[2018-09-13 17:41] Noodleyman opened #2171 "CUSTOM_QUICK_TASKS has faulty logic"
The smarty variable $CUSTOM_QUICK_TASKS is referenced in the admin dashboard.index.php file

it uses a foreach / foreachelse statement, which means if you populate the variable CUSTOM_QUICK_TASKS  with any content, it stops all other dashboard quick links from working.

Current code:
[code]

FIXED CODE
[code]

[2018-09-14 23:43] bhsmither opened #2172 "Zones Tabs to be at End of Array"
For modules that wish to have zones control, the class instantiation is:
[code]
where the fourth argument has CubeCart show the "Allowed Zones" and "Disabled Zones" tabs in Tab Control.

However, should the module **also** wish to add it's own tab to Tab Control via `Main->addTabControl()`, it will appear after the Zones tabs. (Using the hook `admin.tabs` is not much better - one would need to mak

[2018-09-15 00:04] bhsmither opened #2173 "Duplicate Statement"
Inconsequential:

In module.class.php, lines 108 and 123, there is:
[code]
Suggest line 123 is not necessary.

[2018-09-15 10:02] Noodleyman commented on #2089
I think this needs another review. I tested the fix today, but still faced the issue. once I used less complex passwords it worked

[2018-09-16 16:40] bhsmither opened #2174 "CSRF Token vs 2Checkout Gateway"
See:
https://forums.cubecart.com/topic/54328-2checkout-gateway-not-working-anymore/

2CO docs say to not use an optional parameter from any of their parameter sets. See "Custom Parameters" from:
https://www.2checkout.com/documentation/checkout/parameters/

With CubeCart now appending `token=SESSION_TOKEN` into every form at `GUI->display()`, this (unconfirmed, but likely) results in 2CO objecting

[2018-09-16 17:23] bhsmither opened #2175 "Temporary Override in Config"
There may the case where a config setting need be set to a different value, but not databased.

Currently, `Config->merge()` allows for a new setting to exist in the loaded array -- where that merged key is presumed to not be a key already existing. During `Config->_writeDB()`, merged data is removed.

However, should an existing key need to be changed temporarily, such as `config['csrf']`, there

[2018-09-16 17:49] bhsmither opened #2176 "2Checkout Anomaly"
This extension declares the private property `$_config` and uses it on line 62:
[code]
but does not assign by reference in `__construct()`.

[2018-09-17 14:42] Noodleyman opened #2177 "Issue with payment gateways and custom OID"
$this->_basket only contains 'cart_order_id', and does not contain custom_oid if it's enabled. this causes the order number shown in any gaateway to be wrong and is causing confusion.

if custom order numbers are enabled, cart_order_id should be populated with the customer order number and sent to the module, otherwise every single payment module needs to be revised.

[2018-09-17 15:33] Noodleyman commented on #2177
Summing up again, at the root of the issue, CubeCart uses two order ID's if you have custom order numbers enabled, but almost every payment system only supports ONE. If you feed the custom OID to the module, the displays work correctly, but the remote call back to the store won't match order ID to the internal OID, thus order will be stock on processing.

The only "fix" I can see is a total overha

[2018-09-17 19:45] bos4711 opened #2178 "Stock warning for product with Product option matrix went havoc [6.2.1]"
I used to have a product which I tested product matrix on in earlier days, but decided to scrap that and use a plain product instead.

Now, when the product is out of stock, the Stock Warning went totally havoc despite the matrix is cleared.

![product_options](https://user-images.githubusercontent.com/11036018/45646154-125f9880-bab2-11e8-843d-ece2b0e186ca.png)
![stock_warnings](https://user-image

[2018-09-18 22:34] mike4kz opened #2179 "RFE: Sitemap for other languages..."
In addition to lack of "seo URLs" for other languages, existing URLs are not exported to the sitemap.xml. When you switch a language, system accepts "seo_urls" for a translated documents (About Us, Contact, Terms, etc.), however they are not exported to the sitemap. Perhaps it's "feature enhancement" (part of SEO update), but want to present the idea.

[2018-09-18 23:33] mike4kz commented on #2179
Found where to turn it off (if needed):
classes/class.seo.php [line: 746]
Replace this:
`# 'document' => $GLOBALS['db']->select('CubeCart_documents', array('doc_id'), array('doc_parent_id' => '0', 'doc_status' => 1)),`
with this:
`'document' => $GLOBALS['db']->select('CubeCart_documents', array('doc_id'), array('doc_status' => 1)),`

Generally, by default system exports only documents with doc_par

[2018-09-18 23:38] mike4kz commented on #2179
Theoretically, without modifying a code, it's possible to do it through the "class.seo.sitemap" hook, just add it to `$this->_sitemap_link();`.

[2018-09-19 10:09] Noodleyman opened #2180 "Issue with admin permissions and promotional codes"
There is a mismatch of security rules. in earlier CubeCart versions an admin needed at least read access to 'documents', and permissions to edit/create are linked with 'documents'.

To delete, the permission is linked with 'products'.

In the later versions of CubeCart the 'documents' group was swapped out with 'settings', which kind of makes sense. the problem is if you want an admin to modify pr

[2018-09-19 10:26] Noodleyman opened #2181 "Custom Dashboard Tasks - Sort order"
related with:
https://github.com/cubecart/v6/issues/2171

It would be handy if all of the dashboard items are sent to the admin theme , rather than having them hard coded into the theme itself. This means that a sort order could then be applied, or modified via hooks, meaning items can be arranged as required and custom items placed in a desired location within the list of links.

Please can this

[2018-09-19 10:36] Noodleyman opened #2182 "CubeCart_order_inventory.product_options price issue"
Product options are stored against the order inventory as a serialised array. The option name, a string includes the price. However, this isn't always desirable:

Example:
`a:1:{i:3487;s:28:"Shirt Options: XXL (£23.00)";}`

But, the store owner wants the following displayed:
`a:1:{i:3487;s:28:"Shirt Options: XXL";}`

This request overlaps with the following:
https://github.com/cubecart/v6/issues/2

[2018-09-19 16:30] mike4kz opened #2183 "SEO tab on the product translation..."
Found that the product translation already has all SEO fields in the database. Default admin template also has all necessary to fill these fields. However "content" was not accessible due to the missing tab.

In the file `admin/sources/product.index.inc.php line 674` (just before the line `$GLOBALS['smarty']->assign('DISPLAY_TRANSLATE_FORM', true);`) added:

`$GLOBALS['main']->addTabControl($lang[

[2018-09-19 19:21] humantex opened #2184 "Product gallery images not rendered correctly after #1449"
I've copied the default Foundation skin to use as my site's default, and have only been changing CSS styling and some minimal HTML rearranging. Up till now I've been using the underlying code for the image gallery.

Whether choosing to use that as a vertical or horizontal gallery by swapping the includes doesn't matter, it will still distort image aspect ratios for some product images. If every im

[2018-09-20 12:45] abrookbanks commented on #2169
Thanks

[2018-09-20 12:45] #2169 closed, assigned to abrookbanks

[2018-09-20 12:48] abrookbanks commented on #2168
Thanks

[2018-09-20 12:48] #2168 closed, assigned to abrookbanks

[2018-09-20 12:50] #2173 closed, assigned to abrookbanks

[2018-09-20 13:13] havenswift-hosting commented on #2168
The problem with this solution is that the first anyone will find out about changed or removed functions in PHP is when a program crashes - recent case in point is deprecated message in SagePay payment gateway under 7.1 which would have crashed it under 7.2

[2018-09-20 13:14] abrookbanks commented on #2168
Yes totally agree. I'm tired and not thinking straight today.

[2018-09-20 23:28] bhsmither commented on #2181
Would this solve any dilemmas not solvable by creating a custom admin skin -- which is entirely do-able -- just as one would create a custom front-side skin?

[2018-09-21 01:27] mike4kz opened #2185 "Admin skin correction required..."
I had an issue before, than the category translation was not showing and not saving "seo_url" and "keywords" to the database.

Found that field names in `admin/skins/default/templates/categories.index.php` need to be changed:

`<input type="text" name="seo_path" id="seo_path" class="textbox" value="{$TRANS.seo_path}">`
to
`<input type="text" name="translate[seo_custom_url]" id="seo_path" class="te

[2018-09-21 07:23] Noodleyman commented on #2181
That comes with it's own Down sides. Every upgrade you need to remake the
custom theme to get the new settings/features and updates, which is less
desirable.

On Fri, 21 Sep 2018, 00:28 Brian Smither, <notifications@github.com> wrote:

[2018-09-21 07:32] bhsmither commented on #2181
Such is the curse we must all live with respecting said skins - admin and front-side.

[2018-09-21 07:43] Noodleyman commented on #2181
So true. But this change would make it so we can avoid it in some cases
with the use of hooks ;)

On Fri, 21 Sep 2018, 08:32 Brian Smither, <notifications@github.com> wrote:

[2018-09-21 07:48] havenswift-hosting commented on #2181
Not if there is an easy and neat solution to prevent that.  It is enough of a pain when having to do this for your own single store but when you are supporting tens or many hundreds as we do, then this becomes a major PITA.  In an ideal world, no core files would ever need to be changed and far too many "solutions" to problems offer this as a solution - sometimes it is unavoidable, but lets try to

[2018-09-21 08:01] havenswift-hosting opened #2186 "Add search to Email Log"
Many times you want to search for emails relating to a specific order or all emails for a customer

[2018-09-21 08:08] havenswift-hosting opened #2187 "Dont display download items for cancelled orders"
If a user or admin cancels an order, digital items are still shown on the users account download page.  While they cant be downloaded, wouldnt it be a better UX to not display them there ?

[2018-09-21 08:36] bhsmither commented on #2187
I slightly disagree. As a customer, I would like to see the download link struck through, and the download button label say 'Order Cancelled', or 'Loss of License' (I'm looking at you, iTunes!). That is, show the state of the digital download availability before attempting to download it, but do not hide it with no explanation.

[2018-09-22 12:00] havenswift-hosting opened #2188 "Zendesk Chat Plugin"
This plugin causes a fatal error under certain (reasonably common) conditions

With the plugin enabled, if invalid login details are entered, on clicking login, the "Invalid username or password" error message is not shown but uses are shown a blank white screen as the following error is thrown

[Exception] /home/XXXXXXXX/public_html/classes/user.class.php:244 - Call to a member function setError(

[2018-09-23 18:58] bhsmither opened #2189 "Category Status Query Enhancement"
In `Catalogue->getCategoryStatusByProductId()`, the query includes `ORDER BY CI.product_id`.

Because the function argument represents only one product, it makes no sense to sort the query on the product_id.

However, one can benefit from having the query `ORDER BY CI.primary DESC` such that
[code]
will always be the primary category.

[2018-09-24 09:10] Noodleyman opened #2190 "any admin with edit rights can self elevate permission"
Raising this as something to be reviewed. As a small business owner, you may want to delegate a staff member to be able to reset passwords, or create/remove admins as required, but also have them not be able to change store settings.

however, any admin with this permission can modify their own user account and give them self access to everything, essentially making them a super admin.

It's presu

[2018-09-24 09:20] Noodleyman opened #2191 "FCK Editor, image selection "You do not have the correct privileges to perform that action""
An administrator account who has "Read" and "Edit" rights for File Manager is shown the warning "You do not have the correct privileges to perform that action" when browsing images via FCK editor to include in a product description. The admin is able to select and use the images correctly.

If the user is given "Delete" access, the warning does not appear

[2018-09-24 10:36] abrookbanks commented on #2184
Do you think you could attache the original images used in the gallery so I can try to reproduce this?

[2018-09-24 10:41] abrookbanks commented on #2170
Thanks.

[2018-09-24 10:41] #2170 closed, assigned to abrookbanks

[2018-09-24 10:50] abrookbanks commented on #2190
Totally agree. Thanks for this.

[2018-09-24 10:50] #2190 closed, assigned to abrookbanks

[2018-09-24 10:54] abrookbanks commented on #2185
CubeCart doesn't support language specific SEO at this time. A feature request is open for this. :)

[2018-09-24 10:54] #2185 closed, assigned to nobody

[2018-09-24 10:54] abrookbanks commented on #2183
CubeCart doesn't support language specific SEO at this time. A feature request is open for this. :)

[2018-09-24 10:54] #2183 closed, assigned to nobody

[2018-09-24 10:55] abrookbanks commented on #2179
CubeCart doesn't support language specific SEO at this time. A feature request is open for this. :)

[2018-09-24 10:55] #2179 closed, assigned to nobody

[2018-09-24 15:04] #2182 closed, assigned to nobody

[2018-09-24 16:59] humantex commented on #2184
I'll be glad to make them available. Rather than add them as attachments, I've added them all to a folder in my Drive account to view/download. These are the original hi-res full size images - as-uploaded as the product images shown above. They are all 1600x1600px, with the exception of the 'hero' shot, which is 1600x975px.

I've standardized on using a 1600px image width as the better choice for

[2018-09-24 23:38] demand73 opened #2192 "Fetch Rates does not work after upgrade from 6.2.0 -> 6.2.2"
After upgrading from 6.2.0 -> 6.2.2 Fetch Rates does not work any more and worked before the upgrade.

I just get a white page after pressing the button and my error log says:
"PHP Warning:  SimpleXMLElement::__construct()"

Has anything changed with Fetch Rates?

Regards
Krister

[2018-09-24 23:49] demand73 commented on #2192
Sorry i did not check closed issues before writing this. Did find issue 2165 that solves this problem.

[2018-09-25 08:44] abrookbanks commented on #2192
Duplicate of #2165

[2018-09-25 08:44] #2192 closed, assigned to nobody

[2018-09-25 08:54] abrookbanks commented on #2158
Took me a while to get my head round this one. Great find. Thanks.

[2018-09-25 08:54] #2158 closed, assigned to abrookbanks

[2018-09-25 10:14] abrookbanks commented on #2188
Thanks Ian! Fixed with 1.0.1.

[2018-09-25 10:14] #2188 closed, assigned to abrookbanks

[2018-09-25 13:17] abrookbanks commented on #2172
Thanks!!!! ;P

[2018-09-25 13:17] #2172 closed, assigned to abrookbanks

[2018-09-25 16:28] havenswift-hosting commented on #2172
Excellent - that has bugged me for years !

[2018-09-27 01:04] bhsmither opened #2193 "Added Product to Cart is Corrupted"
Still tracing this one:

Best to have completely separate sessions between admin and customer, although I am not 100% positive this is necessary.

Enable debugging.

1. Customer signs in and puts items in basket - four different things, for example.
2. Customer gets to Checkout and selects a gateway.
3. Customer logs out.
4. Admin changes the stock level of the fourth item to zero. Clear cache.
5.

[2018-09-27 21:38] bhsmither commented on #2193
This next experiment, I accidentally failed to clear the cache at step 4, but I think it does not actually matter.

It is at step 6 that the debug section reveals the out-of-stock item has not been properly removed from the `basket{'contents']`, or that some parts of that item are being erroneously added back in:
`'hash'=>['quantity'=>1,'total_price_each'=>33]`

The hash being present in `basket['

[2018-09-27 23:32] bhsmither commented on #2193
In `Cart->update()`, if an item must be removed, `Cart->remove()` is called.

`remove()` unsets the item from the basket, saves the basket, then exits with the result of calling `update()`.

`update()` does its whole thing, and code execution returns to the next statement after `remove()`.

Note that at this point, we are still working on the `$hash` that was removed.

Thus, lines 1108:
[code]
and

[2018-09-30 21:25] humantex commented on #2184
After a bit of experimentation, I've found - quite by accident - a solution to both the squished image and the content 'bounce' when changing gallery images.

The first thing I did was to include a new outer div around the entire gallery, so the section that inserts the vertical (or horizontal) gallery inside `content.product.php` now looks like this:
[code]
After that addition I had an element th

[2018-10-01 09:33] havenswift-hosting opened #2194 "Digital download reset link issue"
If a store has a time period set for "Download expiry time" and then removes this so there should be no expiry time on downloads there are two problems.

a) If the admin user edits an order with a digital product with an expiry time that was original set, clicks to Reset, the new time for expiry is the current time whereas there should be no expiry set.

b) If the download expiry time setting is c

[2018-10-02 14:27] keat63 opened #2195 "Out of stock product shows in sale items"
I found an item in the sale items list, which was marked as zero stock, and available for purchase unchecked.
Only removing it's sale price, did it dissapear from the sale items list.

Not sure if this is a bug, but thought it worth mentioning.

[2018-10-02 19:54] bhsmither commented on #2195
To be clear, you were completely logged out of admin?

[2018-10-02 19:58] keat63 commented on #2195
Maybe not.
I'll try again tomorrow.

On Tue, 2 Oct 2018, 8:54 pm Brian Smither, <notifications@github.com> wrote:

[2018-10-03 07:25] keat63 commented on #2195
After having posted my reply, it occurred to me that it was the Boss who pointed this out to me, he wouldn't have been logged in. Anyhow, just to prove the theory, I tried again this morning and the product still shows in the sale items list if marked as zero stock and unavaiulable for purchase.
6.1.7

[2018-10-03 08:22] abrookbanks commented on #2117
Let me know if that helps.

[2018-10-03 08:22] #2117 closed, assigned to abrookbanks

[2018-10-03 16:22] bhsmither commented on #2195
The following issues have been closed (fixed in versions after CC617) that relate to stock issues:
https://github.com/cubecart/v6/commit/647f12be3dc527fce9e238d7334a9c1a462e5ac1#diff-5fb297f8c51eca6a1ef7f96cd495cbcc
https://github.com/cubecart/v6/issues/2116
https://github.com/cubecart/v6/issues/2058
https://github.com/cubecart/v6/issues/1018

Thus, your observation as regards CC617 may have alrea

[2018-10-08 19:16] Dirty-Butter opened #2196 "{if !isset($free_coupon_shipping)}...{/if}"
Is this code that is in content.checkout - medium and large - not supposed to be in -small as well?

[2018-10-10 13:41] havenswift-hosting opened #2197 "Use of undefined constant will throw an Error in a future version of PHP"
Under PHP 7.2 this is a Warning but in future versions of PHP this will throw an error

Examples (although I am sure there will be loads !)

PHP Warning:  Use of undefined constant CC_IN_ADMIN - assumed 'CC_IN_ADMIN' (this will throw an Error in a future version of PHP) in /home/XXXXXXXX/public_html/classes/debug.class.php on line 121
PHP Warning:  Use of undefined constant CC_IN_ADMIN - assumed '

[2018-10-10 23:11] bhsmither commented on #2197
Line 28 of admin.php defines `CC_IN_ADMIN` and line 14 of index.php defines `CC_IN_ADMIN`.

Please try to determine what page request is being processed that enters CubeCart other than index.php or admin.php.

[2018-10-10 23:14] bhsmither commented on #2197
P.S. It's been a very long time since I last saw an undefined constant in CubeCart.

[2018-10-11 09:25] havenswift-hosting opened #2198 "SagePay Form plugin not dealing with failed payments correctly"
If a customer tries and fails to complete payment on the SagePay site using the Form gateway, SagePay cancels the attempt and returns the customer to the store.

However, CubeCart shows the "order_pending" message and leaves the order at Pending status.  It should change the status to Cancelled and display the "order_failed" message instead

[2018-10-16 13:39] havenswift-hosting commented on #2165
This solution fixes the protocol issue and enables rates to be fetched correctly but the "Last Updated" date always shows "Yesterday 00:00"

[2018-10-17 19:50] bhsmither commented on #1990
https://stackoverflow.com/questions/5058845/how-do-i-increase-the-stack-size-for-apache-running-under-windows-7
Just some info for those doing research.

[2018-10-18 08:33] havenswift-hosting opened #2199 "PHP Warning: A non-numeric value encountered in catalogue.class.php on line 116"
Been reported on forums and also seeing it across multiple sites

https://forums.cubecart.com/topic/54220-error-warning-non-numeric-value/

[2018-10-18 16:35] Dirty-Butter commented on #2199
Thanks, Ian.

[2018-10-23 15:56] havenswift-hosting opened #2200 "Add new hook"
In classes/filemanager.class.php around line 1061 find

`move_uploaded_file($file['tmp_name'], $target);
chmod($target, chmod_writable());`

After add

`foreach ($GLOBALS['hooks']->load('classes.filemanager.upload') as $hook) include $hook;`

[2018-10-25 07:26] Noodleyman opened #2201 "Language System issue"
It's possible to set your default store language to a number of pre-defined languages, however, there doesn't appear to be any dependency checking for those languages to be enabled.

For example, if you have a store configured with English US as your default language, but only have English UK enabled, then the entire language system stops working (meaning, only default strings are loaded, no overr

[2018-10-26 08:15] Stithians-Show opened #2202 "Error 500 - This page isn't working"
When I click the product menu on the shop site it returns error 500.

This has now spread to when I click the Product item on the menu within the Cubecart Admin Panel.

I have tried clearing caches but now can't even navigate to my product listing.

[2018-10-29 17:49] bhsmither opened #2203 "Cost Price to be Recorded at Time of Sale"
Feature Request:

I am quite surprised this isn't already been requested.

I along with a lot of other people need to know the profits generated when products are sold.

A report generated that will get information stored from when a product is sold. This will show Date Sold, Item Sold, Price Sold, Cost Price and Details of who purchased it.

Other option could be available on the report.

At the

[2018-10-29 17:50] bhsmither commented on #2203
The above is from Mike at:
https://forums.cubecart.com/topic/54468-new-feature-sales-report/

[2018-10-29 19:38] hairy-dog commented on #2203
Cost price would need to be stored against specific stock items. The cost price might change whilst items are in stock. Would you want the cost price to be the lowest cost price, or the newest cost price?On 29 Oct 2018 6:53 p.m., Brian Smither <notifications@github.com> wrote:Feature Request:
I am quite surprised this isn't already been requested.
I along with a lot of other people need to know th

[2018-10-30 06:53] abrookbanks commented on #2202
Please look at the PHP error log and seek official support if you require any further assistance.

[2018-10-30 06:53] #2202 closed, assigned to nobody

[2018-10-30 09:01] abrookbanks commented on #2199
I can't reproduce this. Please provide steps to reproduce.

[2018-10-30 09:12] abrookbanks commented on #2199
Thanks I figured it out.

[2018-10-30 09:12] #2199 closed, assigned to abrookbanks

[2018-10-30 09:17] abrookbanks commented on #2200
Done but **please change to** `class.filemanager.upload` for the sake on consistency. :)

[2018-10-30 09:17] #2200 closed, assigned to abrookbanks

[2018-10-30 09:45] havenswift-hosting opened #2204 "Add support for reCaptcha V3"
See https://webmasters.googleblog.com/2018/10/introducing-recaptcha-v3-new-way-to.html

[2018-10-30 09:45] havenswift-hosting commented on #2200
Thanks and have changed

[2018-10-30 13:23] Noodleyman commented on #2203
I've had this request open since 2015, would be great to see if this, and all the related items to it could finally be added.

https://github.com/cubecart/v6/issues/619

https://github.com/cubecart/v6/issues/620

https://github.com/cubecart/v6/issues/622

[2018-10-30 13:33] havenswift-hosting opened #2205 "PayPal IPN incorrectly updates order"
The attached image shows the history from one order.  For some reason the PayPal IPN wasnt received after payment and so the client manually changed the order from Pending to Processing after receiving email notification from PayPal of the payment and then to Completed.

Nine days later it appears that the IPN notification was received and the PayPal module changed the order status back to Process

[2018-10-30 14:25] havenswift-hosting commented on #2203
As hairydogltd has intimated, recording cost price isnt as simple as having one value.  What happens if you buy 10 at one price, then another 10 two weeks later at a different price but still have some of the original items in stock etc etc.  You need a way of recording cost price for a batch of stock and then a defined order (LIFO / FIFO) for reducing that stock.

While having the cost price reco

[2018-10-30 14:31] bhsmither commented on #2203
I would have to assume this is not a unique problem to small businesses.
How does Walmart handle this? Is it even really that much of an issue?

[2018-10-30 14:53] Noodleyman commented on #2203
it is actually quite simple. you log the cost at the time of purchase per unit and as an aggregate (in case of rounding) against the order inventory. then reports will use those numbers in their calculations.  this is a really basic thing...

[2018-10-30 15:38] bhsmither commented on #2203
The problem being batches of the same item having differing cost-basis.

I see managing this is a function square in the scope of your **accounting program** - where keeping track of each batch and their cost-basis is a core function. Exactly like your public stock investment portfolio manager where buying/selling based on that cost-basis is important for your tax (avoidance) strategy.

[2018-10-30 16:08] Noodleyman commented on #2203
the whole thing can be done in a single SQL, efficient query, it's not really a problem. some people use CubeCart as the accounting program, since it offers basic financial reports. You need the store to capture the basic information, even if you want to feed that into some other financial tracking system.

[2018-10-31 15:05] abrookbanks opened #2206 "Import catalogue to create multi-level categories"
As above. If the value is text with a forward slash it should be treated as a breadcrumb.

e.g. "Electrical / TV / OLED" should create three categories.

[2018-10-31 15:07] abrookbanks commented on #2206
Tried and tested with client on Technical Support & Management plan.

[2018-10-31 15:07] #2206 closed, assigned to abrookbanks

[2018-11-01 09:41] Noodleyman opened #2207 "Large stores with high volume can experience performance issues due to sessions"
Maximum execution time of 30 seconds exceeded in /home/xxx/domains/xxx/public_html/classes/session.class.php on line 350

[code]

if you have a large number of session files (number varies based on server performance), the foreach loop can get hung up longer than execution time which results in a HTTP 500 server error on the store UI.

Assuming more than one thread/process can run this action at t

[2018-11-01 10:00] Noodleyman commented on #2207
follow up. to give some context, the store I am seeing this happen appears to have around 200,000 hits per day, thus a large number of session files & session data in the DB.

[2018-11-01 10:39] havenswift-hosting commented on #2207
One solution would be to change the session save path to a local account directory (/home/XXXXXXXX/sessions for example) and make the garbage collection something like 2 days (172800 seconds).  Not affected by general server garbage collection and has multiple other benefits.

A MUCH better solution would be https://github.com/cubecart/v6/issues/2085

[2018-11-01 10:42] Noodleyman commented on #2207
I would love sessions cached in memory... would be ideal, but doesn't look like it's been implemented yet.

Garbage collection is something I am looking into, although I don't necessarily want to reduce the session time from the default of 7 days, to 2 days. seems a step backwards. The issue is CubeCart looping hundreds of thousands of files and asking each one it's timestamp, then comparing. it's

[2018-11-01 10:47] havenswift-hosting commented on #2207
Agreed re sessions by memcached (dont really need REDIS although if doing one, then why not both) - been trying for a while to get that included and would be great.

Garbage collection defaults on most servers to 20 minutes !  7 days is extreme and far longer than really needed

If it was databased, that would at least allow indexed lookups based on time which would be much more efficient although

[2018-11-01 11:00] Noodleyman commented on #2207
I was looking at selectively deleting the files when the data in the CubeCart_session table is removed, seems like it could self manage those files rather than doing it in batches now and then. Kinda got it working, but wasn't happy with it so for the time being as a work around I've commented out the current code which removes these files, and ported it to a cron job. This does need some attentio

[2018-11-03 07:45] richosr commented on #2205
I am getting the same issue the past few days. The order is processed and history shows complete and emails are being sent as complete but the order status appears as Processing and not completed like it should be.

I am getting the following error on every sale in the error log which may or may not be related to the  issue above:

File: [catalogue.class.php] Line: [1932] "SELECT I.* FROM ns_CubeC

[2018-11-05 20:19] Dirty-Butter commented on #2199
Something you've done recently has again fixed it so using More pages, then clicking to view product, then returning to pages - sends you back where you left off. Glad to see this working again!

[2018-11-09 10:40] Noodleyman opened #2208 "Hook Request - cubecart.class.php"
FIND:
[code]

ADD AFTER:
`foreach ($GLOBALS['hooks']->load('class.cubecart.post_discount_add') as $hook) include $hook;`

REASON:
Allows for direct manipulation of the cart based on a discount being applied and before the cart is saved.

[2018-11-09 10:45] Noodleyman opened #2209 "Hook Request - order.class.php"
FIND:
[code]

AFTER ADD:
`foreach ($GLOBALS['hooks']->load('class.order.place_order.postbasket') as $hook) include $hook;	`

REASON:
Allows for actions to be performed after an order has been written to the database table and before a redirect which in some cases is required based on the custom requirement.

[2018-11-09 20:56] jac0511 opened #2210 "Total price changes at checkout because of VAT calculation method"
When the products total e.g. 303,00 € and Finnish VAT is 24 %, the total price in the checkout changes to 302,99 €. I guess this happens because in the checkout the VAT is added to rounded prices excluding VAT. The prices are defined to include VAT in the shop. Is there a way to show the VAT inclusive prices also in the checkout (only show the amount of VAT and not prices excluding VAT)?

[2018-11-14 07:30] abrookbanks commented on #2210
I think sprintf function needs to be replaced with round.

[2018-11-14 07:32] abrookbanks commented on #2207
Yes I've seen this too. Really it's an emergency fallback. If sessions are configured correctly on the server this code shouldn't execute. The garbage collection should match the session length time in CubeCart.

[2018-11-14 07:58] Noodleyman commented on #2207
I did a quick search in the code,
`$session_save_path = $GLOBALS['config']->get('config','session_save_path');`

The path gets pulled from config, but there isn't a "session_save_path" configurable option in the admin area. I also wasn't able to find where this value gets set. I'm probably wrong on this, but if it's not getting set or redefined, then won't that mean CubeCart will always try and us

[2018-11-14 07:59] abrookbanks commented on #2207
session_save_path can be set in the global file. https://github.com/cubecart/v6/blob/6.2.0-branch/includes/global.inc.php-dist#L24

[2018-11-14 08:01] Noodleyman commented on #2207
"can be", it isn't defined as part of a standard install, meaning unless you go in there for every install and manually edit the file with a path of your own, it won't work. So, this should be either added as part of the installer, made a configurable option in the admin area or auto detect?

[2018-11-14 08:04] abrookbanks commented on #2207
That code is fine as false is loosely empty. session save path in the store settings seems a bit nasty.

The merchant just needs a hosting environment which is configured well.

p.s. You might have noticed that I haven't worked on these bugs for a while. I'm totally tied up on something else CubeCart related. 6.2.2 is pretty stable so its having a bit of an unofficial code freeze.

[2018-11-14 08:07] abrookbanks commented on #2207
Going back to the original issue I think the code works well in theory. I have a feeling that the session file unlink may fail in many cases due to permissions. Have a look at the chmod/chown value of them.

[2018-11-14 08:12] Noodleyman commented on #2207
Sure,

Could you put out a 6.2.3 update with the cache fix at the very least? :) That's causing no end of problems for people. I've had to manually apply it to a whole bunch of stores as it keeps taking larger ones offline.

I did deep dive this issue, and it was caused by the overall volume of files. for large, high traffic stores you can see a large number of sessions all with small amounts of t

[2018-11-14 08:17] abrookbanks commented on #2207
Already fixed with this unless this relates to something I don't know about.
https://github.com/cubecart/v6/commit/c16efa14cfb25b57768f173354f8ebb925ab8114#diff-94fc41c13ce99260929fb4c53aa292d3

Better plan is to use memcacheD or redis.

[2018-11-14 08:19] abrookbanks commented on #2207
Is there an issue open about this? Using the database sounds counter intuitive but I haven't looked into it.

[2018-11-14 08:21] abrookbanks commented on #2207
I haven't seen any stores with this issue and no support tickets to match.

[2018-11-14 08:23] Noodleyman commented on #2207
ah... cheers. I guess I missed this was in 6.2.2, thought it was for 6.2.3. my bad :)

And yes, there is an issue open for this... This ticket..., it's the root cause of the reported problem.

glob() is returning all session files (matching prefix), it doesn't filter based on timestamp. so if you have 500,000 session files spanning a week it will grab all 500,000 and loop those to lookup the times

[2018-11-14 08:25] abrookbanks commented on #2207
Oh good.

Ah I see. The mention of cache confused me. This is session data.

I'm with you and I agree/understand. I think maybe a better option is to warn the merchant that the session path needs correcting to one which has garbage management by the server if the store is writing to includes/extra. The code first mentioned doesn't work reliably. There are two best options;

1. Use the PHP config w

[2018-11-14 10:15] havenswift-hosting commented on #2207
Agreed - best solution is to add the ability to use memcached / redis for session file - small session data files are exactly what these are brilliant at doing.

Until that is added, do not ever save session files to includes/extra

1) From a securty point of view session files should be saved outside of public visible area (even if “protected”) - so use something like /home/userdir/sessions

2) T

[2018-11-14 10:17] abrookbanks commented on #2207
The .htaccess file blocks them so its fine unless you are stupid enough to use Windows.

[2018-11-14 11:13] havenswift-hosting commented on #2207
Agree it “should” be fine but hosting best practice (and explicit advice from cPanel) is to not store these in public accessible areas.  In addition, if you are changing the path and GC maxlifetime via cPanel in order to ensure that the OS deals with garbage collection, then why not set it correctly

[2018-11-14 18:22] Noodleyman opened #2211 "Customer cancelling an order can be redirected before key processing...."
This took me a while to figure out and broke my brain, but finally got to the bottom of it... If a customer has placed an order, but then cancels it via the customer account feature,

A note is added to the order via the following code in cubecart.class.php
[code]
Note, the redirection after adding the note and setting the message to the customer.

Now, here comes the kicker... When an order has i

[2018-11-16 08:00] bhsmither commented on #2211
To me, this seems that PHP is doing some predictive processing or is spawning a new thread to handle the method call.

Is your PHP compiled to be something special?

[2018-11-16 08:36] Noodleyman commented on #2211
Bog standard LAMP install with some extra modules such as mod rewrite

On Fri, 16 Nov 2018, 08:00 Brian Smither <notifications@github.com wrote:

[2018-11-19 11:19] Noodleyman opened #2212 "No text for the COOKIE DIALOGUE TEXT on store front"
happening on a few stores and even happens on the official demo site:
https://demo.cubecart.com/cc6/index.php

just two buttons, no actual text.

[2018-11-19 11:22] Noodleyman opened #2213 "Cookie Dialogue Box only shows once (Cookies set without permission)"
If you ignore the cookie dialogue box, but don't specifically accept or deny... the box never comes back for future page loads until you clear your browser history / cookies....

This is because CubeCart is actually setting cookies BEFORE the end user has given permission for cookies to be used.

This essentially makes this setting non-functional.

[2018-11-19 16:11] #2204 closed, assigned to nobody

[2018-11-19 16:21] bhsmither commented on #2212
Caused by #2155.

[2018-11-19 16:34] #2212 closed, assigned to nobody

[2018-11-19 16:35] abrookbanks commented on #2213
It was intentional so it shows once giving them opportunity to block or continue. Maybe it shouldn't be.

[2018-11-19 16:36] abrookbanks commented on #2213
Confirmed as intentional:
https://github.com/cubecart/v6/blob/6.2.0-branch/skins/foundation/js/2.cubecart.js#L68-L71

That code could be removed.

[2018-11-19 16:42] abrookbanks commented on #2207
I've removed this method of session storage as it's most likely that garbage collection won't ever be configured correctly around it.

[2018-11-19 16:42] #2207 closed, assigned to abrookbanks

[2018-11-19 16:44] #2213 closed, assigned to abrookbanks

[2018-11-19 16:52] abrookbanks commented on #2205
It looks to me like Express Checkout already has this code to make sure the status is pending only before updating to processing..

Is this merchant using the old PayPal Standard extension? If so we can port the code to that extension from Express Checkout.

I want to check so I can rule out it not working in Express Checkout.

[2018-11-19 17:18] abrookbanks commented on #2211
Hmm this code is synchronous so it doesn't make sense but I'll take a deeper look.

[2018-11-22 13:42] havenswift-hosting opened #2214 "Clear Cache button"
If caching is disabled in a store, the Clear Cache button still turns orange

[2018-11-23 04:41] sumwonlost opened #2215 "Tax Rules - Countries sort order."
Admin -> Taxes -> Tax Rules

The Countries dropdown is all over the place.  It need to order ASC.

[2018-11-25 12:58] sporrencense opened #2216 "Max Download Attempts"
Hi. Using version 6.2.2 - have set up a digital product however the Max Download Attempts doesn't seem to be enforced. I have it set to 3 and have been able to download the file, acting as a customer, about 20 times. The download count on customer digital downloads page always stays at 1.

[2018-11-27 17:39] havenswift-hosting commented on #2041
Still also commonly seeing this across multiple sites

[2018-11-28 02:42] kitsguru opened #2217 "error in gift card image handling CC v6.2.2"
I am receiving a series of errors when I try to add an image to the gift card.

[code]

[2018-11-29 08:45] abrookbanks opened #2218 "Google reCaptcha has changed its name again"
![screenshot 2018-11-29 at 08 44 21](https://user-images.githubusercontent.com/4520803/49209660-fed68500-f3b2-11e8-9f9c-fc2cbb70838f.png)

Should be:
reCaptcha v2 - Invisible
reCaptcha v2 - Checkbox

[2018-12-05 03:52] sumwonlost commented on #2215
Also it lists All Countries in dropdown.  It stands to reason if I wish to set a Tax Rule for a Country then the Country must surely be enabled country.status = 1 (ver 6.1.15 or less) or country.status > 0 (for ver 6.2.0+).

If country.status = 0 (disabled) then what is the purpose of setting Tax Rules for that Country?

The dropdown need to display Countries where country.status > 0 order ASC.

[2018-12-06 14:48] #2214 closed, assigned to abrookbanks

[2018-12-06 14:49] abrookbanks commented on #2214
Thanks for this.

[2018-12-13 17:38] Noodleyman commented on #2207
I know this is handled, but wanted to share an update. So far, the largest number of sess_ files I've found on a single site covering a 48 hour window is.....

1,544,722,382

I jaw dropped...

[2018-12-14 10:37] Noodleyman opened #2219 "Exchange Rate - issue fetching rates"
CubeCart calls the following URL:
http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml

however, this redirects to https URL, which some times can't be followed and results in a 301 error and a white screen in CubeCart.

The URL's need to be updated to HTTPS rather than HTTP for both the initial request, and fall back method.

[2018-12-16 23:30] bhsmither commented on #2219
Probable duplicate of #2165.

[2018-12-20 22:42] Noodleyman opened #2221 "Dimensional Unit default doesn't respect store settings"
if you have NOT defined the product dimension unit of measurement, it will always default to cm as it's first in the select list.

in this scenario it should fall back to use store settings, or when updating set all undefined values to the store setting default.

[2018-12-23 07:17] bhsmither commented on #2221
That's the way the `<select>` order of `<option>`'s is coded in the template.

You are suggesting there be a default store setting?

[2018-12-24 10:15] abrookbanks commented on #2184
I haven't looked at the fixes proposed above yet but the following seems to work well adding a #open-clearing-wrapper to the hyper link.

[code]

[2019-01-03 11:40] Noodleyman commented on #2221
That is correct. Assume you are a large store who uses Imperial measurements. All of your inventory will default to Metric (admin UI) until you change and save every product. Ideally the product level setting should default to that of your store settings (Weight Unit), or perhaps a new setting for the default UOM for dimensions.

The lack of a real default caught a customer off guard since all the

[2019-01-04 09:39] Noodleyman opened #2222 "Code Improvement - Admin Area / Manufacturers"
Within the admin area, products.manufacturers.inc.php file there is a block of code to update/insert manufacturers.

[code]

However, this block of code does not do any data validation which can impact third party modules. In my case, I've added a new tab to the Manufacturers area with fields to be posted, whenever the form is submitted the insert code is triggered, which on first submission creat

[2019-01-06 19:58] Nagashiwa opened #2223 "New items and documents don't show up."
If I add an new item or edit the test item or create or edit an document,
The change doesn't show up at all.

Oh nevermind you have to press clear catch if you finish editing anyting

[2019-01-23 08:00] russellhurst commented on #2198
This issue regularly crops up on my website ropesdirect.co.uk - whilst we contact customers when we notice this has happened they all thought that the payment had been successful. Is there any chance of having this status issue corrected?

[2019-01-23 10:50] abrookbanks commented on #2223
Please click the "Clear Cache" button in the admin control panel.

[2019-01-23 10:50] #2223 closed, assigned to nobody

[2019-01-23 10:51] #2219 closed, assigned to nobody

[2019-01-23 11:01] abrookbanks commented on #2216
Thank you.

[2019-01-23 11:01] #2216 closed, assigned to abrookbanks

[2019-01-23 11:42] havenswift-hosting commented on #2216
A bug but closed without a fix ?

[2019-01-23 11:43] abrookbanks commented on #2216
hmm it hadn't synced for some reason :-/ Thanks

[2019-01-23 15:27] abrookbanks commented on #2222
Thanks for this.

[2019-01-23 15:27] #2222 closed, assigned to abrookbanks

[2019-01-23 15:44] abrookbanks commented on #2221
Thanks!! :)

[2019-01-23 15:45] Noodleyman commented on #2221
this doesn't quite fix the issue. if your store is using imperial, your default for measurements are now metric.

[2019-01-23 15:47] abrookbanks commented on #2221
So if they set it to "lb" for weight you think the default value for `dimension_unit` should change to "in"?

[2019-01-23 15:49] abrookbanks commented on #2171
Thank you!!

[2019-01-23 15:49] #2171 closed, assigned to abrookbanks

[2019-01-23 15:49] Noodleyman commented on #2221
that would make sense, since it's rare to mix both units of measurement.  The default of "cm" would still have resulted in the same issue reported, because all the dimensions needed to be imperial. without a way to bulk change all the products via the UI to the preferred UOM it's a painful job for a user to update/switch product by product.

[2019-01-23 15:51] abrookbanks commented on #2209
;)

[2019-01-23 15:51] #2209 closed, assigned to abrookbanks

[2019-01-23 15:54] abrookbanks commented on #2208
done :bowtie:

[2019-01-23 15:54] #2208 closed, assigned to abrookbanks

[2019-01-23 16:08] abrookbanks commented on #2198
Thanks. I fixed this with 1.0.10 https://www.cubecart.com/extensions/payment-gateways/sagepay-form

Works well.

[2019-01-23 16:08] #2198 closed, assigned to abrookbanks

[2019-01-23 16:10] abrookbanks commented on #2196
Excellent find!

[2019-01-23 16:10] #2196 closed, assigned to abrookbanks

[2019-01-23 16:13] abrookbanks commented on #2218
![screenshot 2019-01-23 at 16 13 45](https://user-images.githubusercontent.com/4520803/51620246-e05fb680-1f29-11e9-943c-8c0bfec638b8.png)

[2019-01-23 16:13] #2218 closed, assigned to abrookbanks

[2019-01-23 16:29] abrookbanks commented on #2217
I can't reproduce this. I was able to assign an image no problem and see it in the basket.

Maybe you can give me more detailed steps to reproduce this or I can have a look at your store via the support help desk.

[2019-01-23 16:35] abrookbanks commented on #2215
Thanks for this. :)

[2019-01-23 16:35] #2215 closed, assigned to abrookbanks

[2019-01-23 16:35] russellhurst commented on #2198
Hello Al,

I installed the new version and have tried a couple of times making deliberate errors but the order still shows as pending and not failed. From a customer's point of view there is nothing to show that the payment failed.

Regards,
Russell

[2019-01-23 16:38] abrookbanks commented on #2198
Hmm. This works for me. Please see movie: http://static.cubecart.com/issue-2198-sagepay.mp4

Did I miss something?

[2019-01-23 16:42] abrookbanks opened #2224 "Add utf8mb4 support for database"
As above.

[2019-01-23 16:56] russellhurst commented on #2198
Unfortunately not for me. I try making a purchase and deliberately make mistakes in the payment – wrong card type, wrong number, and wrong expiry. With the wrong card type and number a red message appears on the sagepay screen twice but at my third wrong attempt I go straight back to the attached screenshot. Whilst it says the order is pending there is no indication that it failed. When I then log

[2019-01-23 17:03] abrookbanks commented on #2198
I've edited your response as the email gets put here: https://github.com/cubecart/v6/issues/2198

Can you upload a screenshot on the link above? (Just drag the picture into the text area).

[2019-01-23 17:05] abrookbanks commented on #2198
Ahhhh I see. After the third attempt it bails you out to the "Pending" screen. I'm working on this..

It's strange behaviour from SagePay.

[2019-01-23 17:06] abrookbanks commented on #2198
OK so in these circumstances we have a status code "REJECTED" to work with..

[2019-01-23 17:13] abrookbanks commented on #2198
I got it covered now. It will cancel and give them a message to say the processor has rejected the transaction.

[2019-01-23 17:13] abrookbanks commented on #2198
Please try 1.0.11.

[2019-01-23 17:23] russellhurst commented on #2198
That's fantastic - many thanks for doing this.

[2019-01-24 08:04] #2217 closed, assigned to nobody

[2019-01-24 08:04] abrookbanks commented on #2217
I will reopen with more info.

[2019-01-24 08:18] abrookbanks commented on #2191
Thanks Alec

[2019-01-24 08:18] #2191 closed, assigned to abrookbanks

[2019-01-24 08:18] abrookbanks commented on #2191
See: https://github.com/cubecart/v6/commit/a0ff9d6772a53cdbd28c672927f341c9830d8cb9 wrong issue ID added there.

[2019-01-24 08:20] abrookbanks commented on #2192
Ignore "Fixed file permission logic" accidental typo in commit.

[2019-01-24 08:31] #2221 closed, assigned to abrookbanks

[2019-01-24 09:00] abrookbanks commented on #2181
I like this. :)

[2019-01-24 09:00] #2181 closed, assigned to abrookbanks

[2019-01-24 14:27] Noodleyman opened #2225 "Textarea in content causes issues"
create or edit a document, and add some basic, simple content in source mode

[code]
save, navigate away then edit the item you updated or created... broken.. :) save button is down the page, and content malformed meaning you can't then edit.

looks like the </textarea> causes issues.

[2019-01-25 10:18] abrookbanks commented on #2166
Thanks so much for this.

[2019-01-25 10:18] #2166 closed, assigned to abrookbanks

[2019-01-25 10:52] abrookbanks commented on #2187
Thanks guys this is a good one. It will disable download links unless the order status us processing or complete.
![screenshot 2019-01-25 at 10 51 05](https://user-images.githubusercontent.com/4520803/51741567-3ac65780-208f-11e9-9901-97ed87f30565.png)

[2019-01-25 10:52] #2187 closed, assigned to abrookbanks

[2019-01-25 13:15] abrookbanks commented on #2225
I can't find this in the source code? Is it modified?

[2019-01-25 13:33] #2184 closed, assigned to abrookbanks

[2019-01-25 13:47] Noodleyman commented on #2225
copy/paste into the text editor in "SOURCE" mode.... then save

IE, don't copy/paste it as content, paste it as source.

[2019-01-25 13:47] abrookbanks commented on #2120
Thanks for this and its very valid. However v4 upgrades are SO rare now. I haven't done one for six months plus. I'm best of spending time elsewhere. :)

[2019-01-25 13:47] #2120 closed, assigned to nobody

[2019-01-25 13:48] abrookbanks commented on #2225
Oh I see! :P

[2019-01-25 13:56] Noodleyman commented on #2225
:P

[2019-01-25 14:14] abrookbanks commented on #2225
Blaming the kids. Bad night last night. I've got man flu too.

[2019-01-25 20:39] bhsmither commented on #2225
Would this be more a problem with how CKEditor works? Or rather, has a still unsolved problem?
Possible duplicate of #1008

Maybe removing reliance on a `<textarea>` and using a `<div>`, or an invalid tag such as `<editorarea>`.

[2019-01-26 01:33] bhsmither commented on #2225
The problem is that `<textarea>` cannot nested. And `<div>`s are all over the page. I haven't found how to declare `<editorarea>` as a valid substitute for `<textarea>`.

A work around from 2012 involves `htmlentities()` on the way from the database to the template, and the reverse back to the database.

[2019-01-29 12:25] #2224 closed, assigned to nobody

[2019-01-29 15:15] abrookbanks commented on #2225
@bhsmither is onto something. From my testing html "encoding" helps.

For me this works. Please can you confirm.

[code]

[2019-01-29 15:19] abrookbanks commented on #2225
Can you confirm the commit above works. From my testing it works fine for all areas fo CubeCart including full HTML page editing.

[2019-01-29 16:11] #2203 closed, assigned to abrookbanks

[2019-01-29 16:28] abrookbanks commented on #2176
Fixed with 1.0.1. Thanks. I'm aware of the other issue around 2CO so I'll have a look at that and see if we can get another release out soon.

[2019-01-29 16:28] #2176 closed, assigned to abrookbanks

[2019-01-29 22:13] bhsmither commented on #2225
Is this the best solution? (I haven't tested it yet, so I don't know the side-effects.)

The question is: Is this a skin problem? Certainly it can be worked around by using a Smarty modifier in the template, but then this must be implemented for all (admin) skins.

The actual problem is the nesting of `<textarea>` tags. And this is, at it's core, a "user provided data" problem.

I would argue the

[2019-01-30 07:22] abrookbanks commented on #2225
Yes it's working flawlessly. Can't see any side effects.

[2019-01-30 09:27] jahrralf commented on #2165
Same on my server (which is not using cubecart). I can't download the XML with wget, no connection, time out. I think they blocked me. Is cubecart loading the XML very often? If yes, they might have stricter policies now...

[2019-01-31 00:02] bhsmither opened #2226 "Selecting Shipping Choice Anomaly"
Please see:
https://forums.cubecart.com/topic/54647-update-shipping-in-basket-not-working/

Related to #1732.

Using radio buttons for shipping choices require a change to the selector (not a Foundation issue).

Removing duplicated form elements (see #1732) requires re-checking checked elements (may not be evident in Foundation's use of drop-down chooser).

[2019-01-31 00:08] bhsmither commented on #2226
Rechecking checked elements may be relevant elsewhere that has multiple copies of form elements used in different viewport sizes.

[2019-01-31 14:13] #2225 closed, assigned to abrookbanks

[2019-01-31 14:17] abrookbanks commented on #2197
I agree with @bhsmither

Maybe those classes are being used in scripts other than admin/index.php? If so let me know and I can revisit this. Thanks for the report anyway. :)

[2019-01-31 14:17] #2197 closed, assigned to nobody

[2019-01-31 14:18] abrookbanks commented on #2195
Please let me know if this is reproducible in 6.2.2 and I will revisit this. Thanks for the report and even more thanks for your kind patience.

[2019-01-31 14:30] abrookbanks commented on #2177
I think we have to put this down to a downside of the custom order ID for now. I hope we can revisit it but the implications for change are significant.

[2019-01-31 14:30] #2177 closed, assigned to nobody

[2019-01-31 14:41] abrookbanks commented on #2174
Dropping in `$GLOBALS['config']->set('config', 'csrf', '0');` works well. Thanks 1.0.2 fixes this.

[2019-01-31 14:41] #2174 closed, assigned to abrookbanks

[2019-01-31 14:56] abrookbanks commented on #2167
Hmm.. I can't reproduce this. Are there specific steps I need to reproduce this?

![screenshot 2019-01-31 at 14 55 20](https://user-images.githubusercontent.com/4520803/52062359-4c649f00-2568-11e9-8f59-e8ad865d1658.png)
![screenshot 2019-01-31 at 14 55 15](https://user-images.githubusercontent.com/4520803/52062360-4c649f00-2568-11e9-9fb5-6ebf2e425227.png)
![screenshot 2019-01-31 at 14 55 10](https

[2019-01-31 14:57] abrookbanks commented on #2167
Closing but I will reopen if I can have further instructions to reproduce this.

[2019-01-31 14:57] #2167 closed, assigned to abrookbanks

[2019-01-31 15:11] abrookbanks commented on #2164
Thanks.

[2019-01-31 15:11] #2164 closed, assigned to abrookbanks

[2019-01-31 15:27] abrookbanks commented on #2193
@bhsmither - You are a genius. Fabulous clear steps to reproduce. Thanks so much.

[2019-01-31 15:27] #2193 closed, assigned to abrookbanks

[2019-01-31 15:37] abrookbanks commented on #2189
Great find. I thought dropping in a LIMIT of 1 would further improve it but we may need a deeper recordset.

[2019-01-31 15:37] #2189 closed, assigned to abrookbanks

[2019-01-31 15:44] abrookbanks commented on #2138
Thanks for this. :)

[2019-01-31 15:44] #2138 closed, assigned to abrookbanks

[2019-01-31 16:22] abrookbanks commented on #2161
Thanks!! :)
![screenshot 2019-01-31 at 16 20 56](https://user-images.githubusercontent.com/4520803/52068300-4eccf600-2574-11e9-8ced-b2975a364963.png)

[2019-01-31 16:22] #2161 closed, assigned to abrookbanks

[2019-01-31 16:33] abrookbanks opened #2227 "setACPNotify & setACPWarning inconsistency"
setACPWarning uses the gui class method setError

setACPWarning should be setACPError

This needs changing with backward compatibility.

[2019-01-31 17:05] #2227 closed, assigned to abrookbanks

[2019-01-31 21:32] Dirty-Butter commented on #2227
AN ALIAS TO A BADLY NAMED METHOD (setACPNotify) Does that mean that plugins that still use setAPCNotify will be OK, or will the substitution to errormessage, etc, need to be made in the plugins?

[2019-01-31 21:42] abrookbanks commented on #2227
Yes they will be fine without change.

[2019-01-31 22:03] Dirty-Butter commented on #2227
Thanks - hope your "man flu" is better!

[2019-02-01 16:17] abrookbanks opened #2228 "Braintree - Function create_function() is deprecated"
As above:
`[Deprecated] ./modules/plugins/Braintree/3rdparty/braintree-php-3.23.1/lib/Braintree/Util.php:208 - Function create_function() is deprecated`

[2019-02-04 15:18] abrookbanks commented on #2228
Fixed with 1.0.5.

[2019-02-04 15:18] #2228 closed, assigned to abrookbanks

[2019-02-04 17:01] abrookbanks commented on #2205
Thanks guys. This is fixed this in 1.0.9 which I just released.

[2019-02-04 17:01] #2205 closed, assigned to abrookbanks

[2019-02-04 17:02] abrookbanks commented on #2205
@richosr - I don't think your error log entry is related.

[2019-02-04 17:09] abrookbanks commented on #2178
Yuk! I don't think I can do anything unless I have clear steps to reproduce this. Happy to reopen if you can provide that. Sorry II can't be more help.

[2019-02-04 17:09] #2178 closed, assigned to nobody

[2019-02-04 17:13] abrookbanks commented on #2211
I'm sorry but I just don't know what direction I can take this. Closing for now but happy to open again if anyone can help direct me. This is truly mind boggling. I can only think that there could be separate instances for the order class somehow or something.

[2019-02-04 17:13] #2211 closed, assigned to abrookbanks

[2019-02-04 17:26] abrookbanks commented on #2142
Ian you are right but I'm closing this for reasons that will come clear in the coming weeks. Let's just say it's a waste of effort to put development time into this.

[2019-02-04 17:26] #2142 closed, assigned to nobody

[2019-02-04 17:26] #2195 closed, assigned to nobody

[2019-02-04 17:52] abrookbanks commented on #2135
This has been a bloody nightmare for years.

At the moment CubeCart is using code like `sprintf('%.2F',$variable)`. This doesn't round correctly. I think....

`sprintf('%.2F',1.55)` = 1.55
`sprintf('%.2F',1.559)` = 1.55

I believe this should be replaced with  `round($variable,2)`.

Then in a few months time another issue will be created on here as it won't work again. LOL

[2019-02-04 17:54] abrookbanks commented on #2135
Nope. I'm wrong.

`sprintf('%.2F',1.559)` = 1.56

[2019-02-04 17:55] Noodleyman commented on #2135
There are cases where rounding up is valid, and so is rounding down, it depends on tax rules in the country. For example, in the UK you can opt to round up, or down. I’m not sure if that’s still the case, but last time I checked it was. So, rounding up or down needs to be configurable based on the tax rules for the region.

I think it needs a little more than a tweak to address properly.

[2019-02-04 17:55] abrookbanks commented on #2135
`sprintf('%.2F',1.555)` however = 1.55 which is an issue.

[2019-02-04 18:01] abrookbanks commented on #2135
Relates to #2210

[2019-02-04 18:03] abrookbanks commented on #1951
I like this idea. Putting at feature request right now.

[2019-02-04 18:03] #1951 closed, assigned to nobody

[2019-02-05 01:09] jeff1452 commented on #299
This is not a freaking "feature" if we choose to only install one gateway every other provider of this service skips the display of the gateway - this is a bug costing me sales...  fix it.  Too many checkout pages gets a customer spooked these days.

[2019-02-05 06:46] abrookbanks commented on #299
If you can provide more detailed information about your specific situation maybe we will reopen this as I don't thing the original issue would cost sales.

I need you to tell me;
- the current behaviour.
- the expected behaviour.
- steps to reproduce (if necessary).

[2019-02-05 08:20] abrookbanks commented on #2119
Thanks.

[2019-02-05 08:20] #2119 closed, assigned to abrookbanks

[2019-02-05 14:15] abrookbanks commented on #2091
Ideally this should be more "hard baked" but that's not so easy for new stores without SSL configured yet. I expect this solution is acceptable. Once the browser has received this header it should be strict to SSL only.

[2019-02-05 14:16] abrookbanks commented on #2091
I do fear however that it might stop the store admin being able to login without SSL in the admin CP making config mistakes hard to recover from.

[2019-02-05 14:34] abrookbanks commented on #2092
I think a header of `Strict-Transport-Security:max-age=31536000;preload` is about as far as we can take this. `includeSubDomains` wouldn't be acceptable as we don't necessarily want all subdomains to have this policy. `X-Frame-Options SAMEORIGIN` is already a security feature. `Content-Security-Policy` seems to also require some server side configuration so we can't really do this.

`Header set X-

[2019-02-05 14:34] #2092 closed, assigned to abrookbanks

[2019-02-05 14:39] abrookbanks commented on #2092
The preloading bit is pretty cool I think. Especially for skins with outdated src tags to insecure URL's.

[2019-02-05 14:49] havenswift-hosting commented on #2091
I am extremely dubious about HSTS being controlled by any application and automatically adding the preload directive even more so.

You mentioned in a different issue "includeSubDomains wouldn't be acceptable as we don't necessarily want all subdomains to have this policy."  however, "includeSubDomains" being included is a pre-condition of including preload and it does include ALL sub-domains incl

[2019-02-05 14:50] havenswift-hosting commented on #2092
See comment on https://github.com/cubecart/v6/issues/2091

[2019-02-05 14:54] abrookbanks commented on #2091
Wise words. Better to not support this than to cause significant headaches to merchants.

[2019-02-05 14:55] #2091 closed, assigned to abrookbanks

[2019-02-06 10:48] abrookbanks commented on #1909
Fixed with 1.0.12. The states are now ajaxy to the country. Much better thanks Ian.

[2019-02-06 10:48] #1909 closed, assigned to abrookbanks

[2019-02-06 11:28] abrookbanks commented on #1960
Thanks for your patience with this one! This will be resolved in 6.2.3. Please find patched attached.

[2019-02-06 11:28] #1960 closed, assigned to abrookbanks

[2019-02-06 15:31] abrookbanks commented on #2180
I agree that this needs to be more granular. Settings access isn't good enough. Products access is too much.

I've put this as a feature request. I agree that every page should have access writes. Maybe it could even be configurable to page/input type somehow. Closed.. for now.

[2019-02-06 15:31] #2180 closed, assigned to abrookbanks

[2019-02-06 15:56] abrookbanks commented on #2072
Thanks Rosemary!!!

[2019-02-06 15:56] #2072 closed, assigned to abrookbanks

[2019-02-06 16:16] abrookbanks commented on #2145
Agreed this could be improved. The whole basket can be found in the order_summary table too as a serialised might be some handy info there. Closing as feature request for now.

[2019-02-06 16:17] #2145 closed, assigned to nobody

[2019-02-06 16:26] abrookbanks commented on #2194
Some really cool findings here. Thanks Ian.

[2019-02-06 16:56] abrookbanks commented on #2194
Just b) to do. Maybe detect if the setting has changed and ask the store admin if they want existing downloads updated with link to perform action.

[2019-02-06 17:43] bhsmither opened #2229 "Missing SEO Tab for Product Translate"
There seems to be all the code necessary to accept and database seo_meta values* in CubeCart_inventory_language, but the admin template has no tab to show the panel to collect that data.

Suggest in products.index.inc.php near line 642:
[code]
Note: Collecting a Custom SEO URL Path for a translation will collide with the existing (one and only one for all languages) seo_path.

[2019-02-06 17:47] abrookbanks commented on #2194
![screenshot 2019-02-06 at 17 47 24](https://user-images.githubusercontent.com/4520803/52361941-50e0fa00-2a37-11e9-87fa-151ee3acd1ee.png)

[2019-02-06 17:48] abrookbanks commented on #2194
Works great. If changing from 0 to a time it will add the time from now.

[2019-02-06 17:48] #2194 closed, assigned to abrookbanks

[2019-02-06 17:53] havenswift-hosting commented on #2194
Looking good - that will really please a couple of clients where these issues were driving them crazy as they "sell" a lot of free digital products

[2019-02-06 18:15] abrookbanks commented on #2194
Great!!!

On Wed, 6 Feb 2019, 17:53 Havenswift Hosting <notifications@github.com
wrote:

[2019-02-06 22:26] Dirty-Butter commented on #2227
Did all this code get reverted in today's commit?

[2019-02-06 22:27] Dirty-Butter commented on #2227
NEver mind - I see what I did - accidently picked up an older commit to compare - sorry!!

[2019-02-06 22:34] abrookbanks commented on #2227
👍🏻

[2019-02-07 09:04] abrookbanks commented on #2229
Blimey this is a big one!! EASY fix and confirmed working.

[2019-02-07 09:06] #2229 closed, assigned to abrookbanks

[2019-02-07 09:13] havenswift-hosting commented on #2229
A good start but without the ability to add a custom language url it isnt going to help too much - any chance you can add that so languages work correctly from an SEO point of view

[2019-02-07 09:15] abrookbanks commented on #2229
Yes thats too big to cover in this issue though. We have a feature request for that already. ;)

We also need to add other tools like permanent move redirects for changes SEO paths to the new one.

[2019-02-07 09:15] abrookbanks commented on #2229
Big push this year to take CC forward.

[2019-02-07 09:31] abrookbanks commented on #2226
Thanks Brian. I added the code which makes a lot of sense. This will make it easier for the merchants to use radio buttons instead of a drop down.

[2019-02-07 09:31] #2226 closed, assigned to abrookbanks

[2019-02-07 09:35] abrookbanks commented on #2201
How? The install script only allows you to choose en-GB unless you upload others first. The admin control panel only allows you to set the default language to ones that are installed and enabled.

Maybe I misunderstood (I normally do).

[2019-02-07 09:38] abrookbanks commented on #2201
So for example if you disable the current default language there is a problem?

I think the easy solution is to disallow the language to be disabled if it is set to default.

[2019-02-07 09:42] Noodleyman commented on #2201
disable or delete. I don't think there is any validation to prevent you from removing a language that is in use.  So, really this ticket is about preventing the issue by stopping users doing silly things :)

[2019-02-07 09:43] abrookbanks commented on #2201
yup you are right! Well done Mr Noodle. I'm on this...

[2019-02-07 09:50] abrookbanks commented on #2201
![screenshot 2019-02-07 at 09 49 17](https://user-images.githubusercontent.com/4520803/52403057-ba0b5080-2abd-11e9-81df-3da993c76741.png)

Working on delete now...

[2019-02-07 09:53] abrookbanks commented on #2201
Brilliant. Thanks Sir Noodlelot.

[2019-02-07 09:54] Noodleyman commented on #2201
Could you also add a step to correct this if noted on upgrade? I've seen this happen to a few stores over the past 12 months. If they are using a language which isn't enabled or does not exist, reset back to the default, or to a language they have installed?

[2019-02-07 09:55] abrookbanks commented on #2201
Yup.. good call...

[2019-02-07 09:58] abrookbanks commented on #2201
Seems to already be code in place:
https://github.com/cubecart/v6/blob/6.2.0-branch/setup/index.php#L465-L471

[2019-02-07 10:05] abrookbanks commented on #2201
Should be good now.

[2019-02-07 10:05] #2201 closed, assigned to nobody

[2019-02-07 10:11] havenswift-hosting commented on #2229
Yes I agree it is a bigger issue but has been a critical missing piece of functionality for a long time that prevents SEO in multi language stores - just asking if you can prioritise this

That is a nice feature to have as well

[2019-02-07 10:39] abrookbanks commented on #2162
I got it working well. Thank you. There is however a related bug on creating a translation I'm looking at now..

[2019-02-07 10:58] abrookbanks commented on #2162
I take that back. It's not working at all... still looking at this.

[2019-02-07 12:08] abrookbanks commented on #2162
Works well for two languages but falls apart with more than that. Real brain bender this one.

[2019-02-07 13:34] #2162 closed, assigned to abrookbanks

[2019-02-07 13:35] abrookbanks commented on #2157
See https://github.com/cubecart/v6/issues/2162 which should resolve this one. Please note that if the child/parent relations are already broken it won't fix it.

Massive thanks to Brian!!

[2019-02-07 13:35] #2157 closed, assigned to abrookbanks

[2019-02-07 16:05] abrookbanks commented on #2147
Agreed. I'm on this.

[2019-02-07 16:23] #2147 closed, assigned to abrookbanks

[2019-02-07 16:29] abrookbanks commented on #2147
![screenshot 2019-02-07 at 16 27 32](https://user-images.githubusercontent.com/4520803/52426266-89dfa400-2af5-11e9-92a8-9cb0f7a6f860.png)

[2019-02-07 16:36] havenswift-hosting opened #2230 "Incorrect order emails being sent"
Currently the "Cart: Order Confirmed" email is sent when an order is switched from Pending to Processing and most payment gateways then trigger the sending of the "Cart: Payment Received" email once they confirm that payment has been received.  As these are almost simultaneous, in most situations this makes little difference - however when using the Print Order Form "gateway" this causes a problem

[2019-02-07 16:42] abrookbanks commented on #2150
Awesome for debugging!! Thanks Alec... fab suggestion.

[2019-02-07 16:42] #2150 closed, assigned to abrookbanks

[2019-02-07 16:49] abrookbanks commented on #2135
Also relates to #2150 #2147

[2019-02-07 16:52] abrookbanks commented on #2230
I understand now. :blush:

Thanks for this. Hopefully get this sorted mañana.

[2019-02-07 17:02] abrookbanks commented on #2230
Turned out to be an easy one.

[2019-02-07 17:07] havenswift-hosting commented on #2230
Thanks and understand that you had your head buried in loads of other issues today !

However, doesn't that just block the sending of the duplicate Order Confirmation email ?  What is also  needed if it is POF, is for the "Cart: Payment Received" email to be sent

[2019-02-07 17:09] havenswift-hosting commented on #2230
Minor point : spelling mistake on variable used "already_semt"

[2019-02-07 17:10] abrookbanks commented on #2230
Is that really needed? The store can't actually now of it has. What I don't like about this is that it's a bit hackie. Adding code for specific extension in core is a bit dirty. I'll reopen this to see if it can be improved.

[2019-02-07 17:11] abrookbanks commented on #2230
Cheers.

[2019-02-07 17:12] havenswift-hosting commented on #2230
Yes it is needed, otherwise customers paying using POF payment methods never get confirmation that their payment has been received. "Cart: Payment Received" is sent for all other methods of payment and that step is needed as there can be a gap between that and Competing an order

[2019-02-07 17:14] abrookbanks commented on #2230
OK so if the gateway is POF and the order status is processing the email gets sent.

I think the best way to do this is to look for a class or public variable in the gateway class so it's not specific to POF. Same for sending the confirm email.

Thinking out loud. I'll get that done.

[2019-02-07 17:22] abrookbanks commented on #2210
This has been added to the 6.2.4 milestone because more granular logging of tax has been added to 6.2.3. This means if this issue can be reproduced in 6.2.4 we should be able to see where it went wrong and finally put a nail in this coffin.

[2019-02-07 17:22] abrookbanks commented on #2135
This has been added to the 6.2.4 milestone because more granular logging of tax has been added to 6.2.3. This means if this issue can be reproduced in 6.2.4 we should be able to see where it went wrong and finally put a nail in this coffin.

[2019-02-07 17:23] abrookbanks commented on #2096
This has been added to the 6.2.4 milestone because more granular logging of tax has been added to 6.2.3. This means if this issue can be reproduced in 6.2.4 we should be able to see where it went wrong and finally put a nail in this coffin.

[2019-02-07 17:29] abrookbanks commented on #2096
I think this can be closed. There is a note here that explains how it works:
https://github.com/cubecart/v6/issues/385#issuecomment-81473798

Essentially it takes a proportion tax rate against a mix of tax rates in the basket. It makes the best it can with what it has.

I's have thought in 99% o circumstances the actual tax rate can be set instead of having to inherit.

Please do reopen if you thi

[2019-02-07 17:29] #2096 closed, assigned to nobody

[2019-02-07 17:43] briansandall commented on #2096
Thanks for responding, Al.

The issue I was raising is that since the tax_id(s) isn't available in the shipping module, the shipping module is unable to fetch the tax rule(s) to determine if they are applicable to shipping.

It's not just the rate itself, but the rule of "does not apply to shipping" that is my main issue here.

This issue can only be fixed by providing the actual tax_ids to the sh

[2019-02-07 17:45] abrookbanks commented on #2096
UPS does have a tax rate setting? See below:

![screenshot 2019-02-07 at 17 45 24](https://user-images.githubusercontent.com/4520803/52431461-31fa6a80-2b00-11e9-9f4c-150311b3fe7a.png)

[2019-02-07 17:55] amandav8 opened #2231 "Product Options error"
I have been trying to add be product options but I keep getting this error...

Internal Server Error
The server encountered an internal error or misconfiguration and was unable to complete your request.
Please contact the server administrator to inform of the time the error occurred and of anything you might have done that may have caused the error.

More information about this error may be availa

[2019-02-07 18:02] briansandall commented on #2096
Our store is set to Inherit; I believe I tried Standard Rate as well to see if the tax rules would apply, but I can't recall for sure.

I'll run some tests later on and let you know.

[2019-02-07 19:53] jeff1452 opened #2232 "Address has been updated...appears twice"
https://forums.cubecart.com/topic/54563-address-has-been-updatedappears-twice/ has multiple descriptions and people with the issue.  I think it's part of the account validation as it doesn't occur when a user is logged in.  This only occurs when someone is using guest checkout.  The wording was in the languages under account.  But... it can also be in the shipping methods and modules.  We installe

[2019-02-07 19:59] jeff1452 commented on #2232
The templates I modified so I could see where the message was coming from are the content.gateway, content.checkout, main.checkout, the two checkout pages (small, and medium) and the confirm.  None of these actually address or allow you to remove the duplicated pages, this is in the core code.  Thanks.

[2019-02-07 23:29] Dirty-Butter commented on #2150
AS USUAL - the problem I asked about below is my own error. It finally dawned on me I could use Notepad++ to search the db/sql file for all instances of tax. The table field was added in 6.1.14. I'm not sure I even knew how to use the setup upgrade sql manually way back then.

ALTER TABLE `CubeCart_order_inventory` ADD `tax_percent` DECIMAL(7,4 ) NOT NULL DEFAULT '0.0000' AFTER `tax`; #EOQ

I don'

[2019-02-08 07:28] abrookbanks commented on #2231
Please contact support or seek assistance on our forums.

[2019-02-08 07:28] #2231 closed, assigned to nobody

[2019-02-08 10:00] #2232 closed, assigned to abrookbanks

[2019-02-08 10:46] abrookbanks commented on #2230
OK this is done. From my testing it works well.

- The order processing email will only send for the POF at status "Processing" if it hasn't already been sent.
- The print order form will now send the payment received email at order status of processing.

After adding this code please update the POF extension to 1.2.0.

[2019-02-08 10:46] #2230 closed, assigned to abrookbanks

[2019-02-08 11:08] havenswift-hosting commented on #2230
Thanks Al !

[2019-02-08 11:09] abrookbanks commented on #2230
Welcome. I think this is a great improvement. Thanks.

[2019-02-08 12:31] abrookbanks commented on #1975
Agreed I can't change the keys which is annoying. I have added the description e.g. Admin: Order Received to the database to help tie it all together. I hope that ticks this box and I understood right.

I have to say this this has pestered me in the past too as it makes finding the right email content tricky.

[2019-02-08 12:31] #1975 closed, assigned to abrookbanks

[2019-02-08 17:51] abrookbanks commented on #2232
I've not been able to reproduce this and a proposed fix is above. This needs more testing before the issue can be closed.

[2019-02-08 18:33] gt1202 opened #2233 "Countries list has duplicates"
The $COUNTRIES list has duplicates and also includes countries that are disabled (check for status>0 fails).

[2019-02-09 02:50] bhsmither commented on #2233
Please let us know what page(s) you observe this situation.

[2019-02-10 09:18] DiMarca-Online commented on #2230
Thank you, I am so happy with this :-D!!

[2019-02-10 09:46] abrookbanks commented on #2230
Great.

[2019-02-11 09:54] abrookbanks commented on #2233
Please provide steps to reproduce this issue. You haven't provided enough information for me to be able to investigate this.  I will reopen if this is provided and an issue is found.

[2019-02-11 09:54] #2233 closed, assigned to nobody

[2019-02-11 20:39] bhsmither opened #2234 "Github Annotations"
Using #1987 as an example:

This was assigned to Milestone 6.2.1 and closed in May 2018.

Milestone 6.2.1 was then closed in June.

Then, more work was done on this issue but there is no annotation as to what milestone this follow-on work first appeared in.

It can be discerned that some specific work was done on Aug 9 (https://github.com/cubecart/v6/commit/18970743591ab98cfc729365a27e48ecc8be5891

[2019-02-12 09:53] abrookbanks commented on #2234
Thanks I'll bear this in mind. For safety we should probably make new issues relating to closed milestones.

[2019-02-12 09:53] #2234 closed, assigned to nobody

[2019-02-12 11:24] abrookbanks opened #2235 "phpMailer/PHPMailerAutoload.php:45 - __autoload() is deprecated, use spl_autoload_register() instead"
As above. The load method needs to change.

[2019-02-12 11:47] abrookbanks commented on #2235
Sendmail and SMTP confirmed working with PHPMailer 6.0.7.

[2019-02-12 11:47] #2235 closed, assigned to abrookbanks

[2019-02-12 11:53] abrookbanks opened #2236 "Upgrade Ace Editor from 1.2.8"
As above. Upgrade to latest.

[2019-02-12 12:02] #2236 closed, assigned to abrookbanks

[2019-02-12 12:02] abrookbanks opened #2237 "Upgrade Smarty from 3.1.31"
As above.

[2019-02-12 12:03] #2237 closed, assigned to abrookbanks

[2019-02-12 14:23] abrookbanks commented on #2097
## 1. County added next to country ##

![screenshot 2019-02-12 at 14 21 47](https://user-images.githubusercontent.com/4520803/52641871-bae31e80-2ed1-11e9-9fef-d70f7cb10ab3.png)

[2019-02-12 14:26] abrookbanks commented on #2097
## 2. Removed width restriction on tax drop down ##
![screenshot 2019-02-12 at 14 25 20](https://user-images.githubusercontent.com/4520803/52642060-2927e100-2ed2-11e9-9f09-7f2b8bdb8559.png)

[2019-02-12 14:40] abrookbanks commented on #2097
## 3. I think I can make this work. ##

WIP...
![screenshot 2019-02-12 at 14 39 33](https://user-images.githubusercontent.com/4520803/52643037-157d7a00-2ed4-11e9-9261-7baefe81af53.png)

[2019-02-12 14:44] abrookbanks commented on #2097
This is really complex. Each product can have a different tax class. I need to match them up for existing products (in the inventory) and push by default to added ones.

[2019-02-13 10:01] bhsmither opened #2238 "Tables on Mobile Screen"
Please check Foundation for `<table>`s too wide to fit the small width for a logged in customer viewing Digital Downloads and Order History.

[2019-02-13 17:08] bhsmither opened #2239 "Foundation Small View Off-Canvas Footer"
Feature Request:

On Foundations "small" view, put the Footer contents in one or more off-canvas boxes. Show in its place a bar with trigger links (similar to Session, Search, and Cart). Keep the Copyright visible?

[2019-02-14 11:01] abrookbanks commented on #2239
I think it's ok as it is on just the footer of the main page. Have I misunderstood?

![screenshot 2019-02-14 at 11 00 26](https://user-images.githubusercontent.com/4520803/52782769-c193a200-3047-11e9-9ed9-d20ec5d4403d.png)
![screenshot 2019-02-14 at 11 00 13](https://user-images.githubusercontent.com/4520803/52782770-c22c3880-3047-11e9-9352-e41fd501200f.png)

[2019-02-14 11:02] abrookbanks commented on #2239
Plans to overhaul the skin for Q2 2019 on.

[2019-02-14 11:02] #2239 closed, assigned to nobody

[2019-02-15 09:45] abrookbanks opened #2240 "Possible MySQL / PHP Timezone Mismatch"
If the stores setting for timezone is different to the server PHP will behave. MySQL will not.

Say for example the server is "Europe/London" but the stores settings is "Canada/Eastern". MySQL timestamps will be incorrect.

Query below fixes this so long as MySQL has timezones imported `mysql_tzinfo_to_sql`.
[code]

[2019-02-15 11:26] #2240 closed, assigned to abrookbanks

[2019-02-15 11:41] abrookbanks commented on #2238
![screenshot 2019-02-15 at 11 40 59](https://user-images.githubusercontent.com/4520803/52854539-9926a900-3116-11e9-96ec-ed6c4a88123b.png)

[2019-02-15 11:53] abrookbanks commented on #2238
![screenshot 2019-02-15 at 11 52 39](https://user-images.githubusercontent.com/4520803/52855041-39c99880-3118-11e9-8041-42cc295301f0.png)

[2019-02-15 11:53] #2238 closed, assigned to abrookbanks

[2019-02-15 19:55] bhsmither opened #2241 "Bad SQL Query"
With this commit, https://github.com/cubecart/v6/commit/647f12be3dc527fce9e238d7334a9c1a462e5ac1, the following `$q2` query has an undefined `$whereString` when sale_mode is '2'.

Suggest creating queries incorporating `SQL_CALC_FOUND_ROWS`, then get the count instead of `$q2` as:
[code]
Related to #2130
Also, if the visitor manages to ask for Sale Items even though the store settings are such tha

[2019-02-18 11:39] abrookbanks commented on #2241
Thanks Brian.

[2019-02-18 12:31] abrookbanks commented on #2153
Ignore the actual promo code name "freeshipping" it's actually 50% off shipping.

![screenshot 2019-02-18 at 12 30 41](https://user-images.githubusercontent.com/4520803/52951210-15202b80-3379-11e9-8d47-8f3f9276031b.png)
![screenshot 2019-02-18 at 12 30 17](https://user-images.githubusercontent.com/4520803/52951211-15202b80-3379-11e9-89fa-1e22169c9620.png)

[2019-02-18 12:31] #2153 closed, assigned to abrookbanks

[2019-02-18 16:46] abrookbanks commented on #1982
Thanks!! We got there eventually.

[2019-02-18 16:46] #1982 closed, assigned to abrookbanks

[2019-02-21 00:22] bhsmither opened #2242 "Admin Order Summary to Show Language Used"
Feature Request:

Knowing the language in which an order was placed may be desirable.

Suggest on the Order Summary page, in the Contact Details, the name (and flag?) of the language recorded in CubeCart_order_summary be shown.

[2019-02-21 12:06] abrookbanks opened #2243 "Discount code with minimum subtotal fails for option with absolute product price"
As above. Essentially the total_price_each is incorrect as the absolute option price is being added to the product price. This allows a coupon to be used when the subtotal is actually lower than it thinks.

[2019-02-25 11:45] sumwonlost opened #2244 "Language Flags bug"
I have created en-AU language definitions file and works.

I have added en-AU.png to flags folder, it displays flag correctly in Admin sections,  however it does not display the flag correctly on front end.  It displays unknown.png.

[2019-02-25 13:57] abrookbanks commented on #2244
Not really a bug you need to add the CSS and edit the sprite image accordingly.

[2019-02-25 13:58] abrookbanks commented on #2244
I agree however that it would be best of picked up from the images/flags folder so maybe we can work from there instead.

[2019-02-25 14:09] abrookbanks commented on #2244
I had a change of heart on this one. Although it's good to use sprites there is a time and a place and this probably isn't one of them.

[2019-02-25 14:09] #2244 closed, assigned to abrookbanks

[2019-02-26 01:35] sumwonlost commented on #2244
Thanks.  Much simpler to add image to folder than having to make changes to files for each flag that will be overwritten with updates.

[2019-02-26 09:12] #2243 closed, assigned to abrookbanks

[2019-02-26 19:17] bhsmither opened #2245 "Mis-spelled Variable"
In admin source products.index.inc.php, near line 924:
[code]
Should be:
[code]

[2019-02-27 00:13] bhsmither opened #2246 "Part of Querystring Could Get Lost"
(I can't find my notes on how I found this.)

In `SEO->__construct()`, there is:
[code]
A few lines later:
[code]
If `$_SERVER['REQUEST_URI']` has, for example:
[code]
then `$match[6]` will have `&the_rest`. But, after `generatePath()`, it is not part of `$seo_url`.

This statement:
[code]
will then always succeed and may execute an unwanted bounce.

Suggest after the line `$seo_url =`, on a new l

[2019-02-27 06:17] bhsmither opened #2247 "Latest Version of PHP Recommended"
Question:

Regarding #2000, can we agree that the "recommended" version will always be **the latest**?

Also, in /language/definitions.xml, for 'dashboard':
[code]
The **latest version** being "recommended" has its many advocates and many reasons, but that have nothing to do with CubeCart's actual code requirements.

[2019-02-27 08:54] sumwonlost opened #2248 "IP Blocker - Unblock feature request"
Site Administrators are unable to unblock IP/User in CubeCart unless they have knowledge on how to query the db.  Not all site administrators are system administrators and lack this knowledge.

Can we get a page for this in Maintenance?  Wouldn't take too long to knock-up.

It should list all blocked IP's/Users - Date Blocked - Delete (delete record to unblock)

[2019-02-27 13:07] abrookbanks commented on #2245
Thanks!!!!!

[2019-02-27 13:07] #2245 closed, assigned to abrookbanks

[2019-02-27 13:10] abrookbanks commented on #2248
You are best off doing this via firewall, apache "deny" rule or via your hosting control panel (same thing) in order to be as efficient as possible. Building this int CubeCart is possible but the traffic will still use a certain amount of overhead which is best avoided.

[2019-02-27 13:10] #2248 closed, assigned to nobody

[2019-02-27 13:13] abrookbanks commented on #2247
Yes and no. It's probably best to recommend the latest version we know CubeCart is ok with. We didn't recommend 7.0 due to lack of encoders for 3rd party developers. We didn't meet 7.2 requirements until OpenSSL replaced mcrypt.

I have changed it to 7.2 for now and I think we should continue this philosophy of hightest PHP version we are confident is ok.

[2019-02-27 13:13] #2247 closed, assigned to abrookbanks

[2019-02-27 13:28] abrookbanks commented on #2246
Fabulous find. Thanks Brian. Tested and extra query string is now appended.

[2019-02-27 13:28] #2246 closed, assigned to abrookbanks

[2019-02-27 17:24] abrookbanks opened #2249 "Allow set time for product to be listed"
As above. To be able to enter a time in the future would be very beneficial for prerelease.

[2019-02-27 17:29] #2249 closed, assigned to abrookbanks

[2019-02-27 17:30] abrookbanks commented on #2249
![screenshot 2019-02-27 at 17 29 41](https://user-images.githubusercontent.com/4520803/53510229-5e792500-3ab5-11e9-9051-86209e26b1d2.png)

[2019-02-27 17:54] abrookbanks commented on #2249
The whole navigation menu is cached so adding functionality to check for empty categories isn't feasible.

[2019-02-28 16:23] #2149 closed, assigned to abrookbanks

[2019-02-28 16:51] #2040 closed, assigned to abrookbanks

[2019-02-28 16:51] abrookbanks commented on #2040
Thank you. From my testing this is working well.

[2019-02-28 17:00] abrookbanks commented on #2242
Thank you.
![screenshot 2019-02-28 at 16 58 10](https://user-images.githubusercontent.com/4520803/53583869-546d2a00-3b7a-11e9-89e8-87b3da33f70d.png)

[2019-02-28 17:00] #2242 closed, assigned to abrookbanks

[2019-02-28 17:17] abrookbanks commented on #2148
This isn't straightforward. The private method `_applyDiscounts` in `Cart` class will need to be rewritten.

[2019-02-28 17:27] #2148 closed, assigned to nobody

[2019-02-28 17:28] abrookbanks commented on #2144
I'm at a loss as to what to do here. Is there a better way to get the ID, should we bin this feature or something else.

[2019-02-28 17:52] Noodleyman commented on #2148
This may not be the best way to ask this, but is there a way I can track feature requests which are under consideration, v's those which are denied? Having all feature requests as closed makes it hard to know what is still under consideration for a future version

[2019-02-28 17:53] Noodleyman commented on #2144
feel free to catch me on Skype tomorrow for a call, happy to bounce this around. it should be a pretty simple thing to sort using existing php and mysql features.

[2019-02-28 17:56] Dirty-Butter commented on #2144
It doesn't happen very often, and I have no idea why, or even what "bin this feature" means.

![wrong sequential order number](https://user-images.githubusercontent.com/6146505/53587322-a8aee480-3b4f-11e9-96b9-9c99dc26d30f.png)

[2019-02-28 18:24] Dirty-Butter commented on #2144
I did search for all COID in order_inventory that matched PC-33, and those outlier order numbers are consecutive, if that helps in any way.

[2019-02-28 18:30] abrookbanks commented on #2148
You're always welcome to contribute features. ;)
Features.cubecart.com is the best place.

[2019-02-28 18:33] Noodleyman commented on #2148
did closed requests like this one get ported to that?

[2019-02-28 19:49] abrookbanks commented on #2148
It will be found.

[2019-03-01 14:52] havenswift-hosting opened #2250 "Spelling mistake in Bank Transfer gateway plugin"
There are two minor spelling mistakes in the skin/form.php file

<p>Your order will be completed one payment has been recieved.</p>

Obviously "one" should be "once" and received spelt incorrectly

This text is also hard coded rather than being a language string

[2019-03-04 09:19] abrookbanks commented on #2144
means to put it in the trash can. Sorry it's modern British slang from dust bin.

[2019-03-04 09:20] abrookbanks commented on #2250
That's not like me is it?!?! :laughing:

[2019-03-04 12:42] abrookbanks commented on #2250
Fixed with 1.0.1

[2019-03-04 12:45] #2250 closed, assigned to nobody

[2019-03-04 17:11] bhsmither opened #2251 "Facebook Social Plugin to Have I18N"
Aside from the language definitions for the settings panel, suggest to also allow for the Facebook API call to use the current language.

Please see:
https://developers.facebook.com/docs/internationalization

Suggest in social.class.php, near line 18:
[code]

[2019-03-05 08:55] abrookbanks commented on #2251
Fixed with 1.0.1. Thanks!

[2019-03-05 08:55] #2251 closed, assigned to abrookbanks

[2019-03-06 08:09] bhsmither opened #2252 "Wrong Class Instantiation"
Just guessing at this point... (CC623)

In filemanager.class.php, near line 899, Ctalaogue is instantiated with
[code]
However, now that Catalogue has a non-imaginary
[code]
I believe the `new` instantiation won't work. (Your testing may have shown otherwise.)

I think the following is now necessary:
[code]
I think the reason it worked in CC622 and earlier is because the class was presumed to have

[2019-03-06 08:34] havenswift-hosting commented on #2252
I can confirm that this fixes this issue in 6.2.3

[2019-03-06 08:47] abrookbanks commented on #2252
What does this fix?

[2019-03-06 08:53] bhsmither commented on #2252
Either or both, in admin, FileManager, a white screen (aka 500 ISE - PHP Fatal Error), or a missing list of images on the admin's Add/Edit Product, Images tab, Image FilePicker.

[2019-03-06 08:54] havenswift-hosting opened #2253 "Add new hook"

[2019-03-06 08:54] abrookbanks commented on #2252
Thanks for this. Big one so we need a new release. Damn it.

[2019-03-06 08:57] #2253 closed, assigned to nobody

[2019-03-06 09:01] #2252 closed, assigned to abrookbanks

[2019-03-06 11:02] Noodleyman opened #2254 "Admin area, product page category filter"
If you apply a filter for a category that contains no products, the filter becomes hidden. you have to navigate back to the product page again to start over. Ideally, the filter should remain so you can pick another category.

[2019-03-06 12:44] sumwonlost opened #2255 "Email settings - 6.2.3"
Irrespective of what method I use, after Save, I run Test and get following message "This content failed to load."

[2019-03-06 15:17] abrookbanks commented on #2255
I can't reproduce this.

[2019-03-06 15:18] abrookbanks commented on #2255
![screenshot 2019-03-06 at 15 18 18](https://user-images.githubusercontent.com/4520803/53891844-17de7a00-4023-11e9-8a85-a462f14f2162.png)
![screenshot 2019-03-06 at 15 18 10](https://user-images.githubusercontent.com/4520803/53891845-17de7a00-4023-11e9-9987-10eab4c3af16.png)
![screenshot 2019-03-06 at 15 18 03](https://user-images.githubusercontent.com/4520803/53891846-18771080-4023-11e9-8b1d-b2a7

[2019-03-06 16:01] abrookbanks commented on #2255
I'd need to look at this individual case. From my testing it works on my development store and a number of client stores.

[2019-03-06 16:01] #2255 closed, assigned to nobody

[2019-03-06 20:30] hairy-dog opened #2256 "File: [controller.admin.pre_session.inc.php] Line: [24] "SET @@time_zone = 'Europe/London'" - Unknown or incorrect time zone: 'Europe/London'"
I am getting loads and loads of the same error in the System Error Log, running 6.0.4

File: [controller.admin.pre_session.inc.php] Line: [24] "SET @@time_zone = 'Europe/London'" - Unknown or incorrect time zone: 'Europe/London'

Line 24 says:
$GLOBALS['db']->misc("SET @@time_zone = '".$GLOBALS['config']->get('config', 'time_zone')."'");

I tried choosing a different time zone from the drop-down l

[2019-03-07 00:54] sumwonlost commented on #2256
I am using 6.2.3 and can confirm I am getting same error messages.

[2019-03-07 11:18] abrookbanks commented on #2256
Your hosting isn't compatible.

https://dev.mysql.com/doc/refman/8.0/en/time-zone-support.html

[2019-03-09 00:25] PedrooNL opened #2257 "After upgrade to 6.2.4. images on Product Page (Foundation) do not load well."
After I upgraded to 6.2.4 I have an issue with the images on the Product Page (Foundation) not loading well. Only after refreshing the page they come full size.
Do others have this?
P.

[2019-03-09 05:54] sumwonlost commented on #2255
All well after re-installing.  Sorry about opening issue.

[2019-03-09 08:10] PedrooNL commented on #2257
I found out that 2.cubecart.js in the Foundation skin causes the problem. I brought back:
$('a.open-clearing img#img-preview').load(function() {
in line 4 and
      });
in line 14.
Problem solved.

[2019-03-09 10:47] bhsmither opened #2258 "Gift Cards Cannot Set Image"
CC622 and probably later.

Selecting an image to assign to a Gift Card fails to be processed on POST.

In settings.giftcerts.php, there is:
[code]
A POST with a `type="file"` will cause PHP to create the superglobal $_FILES.

If no actual image is in the POST payload, the resulting array is:
[code]
In settings.giftcertificates.inc.php, near line 21, a call is made to `FileManager->upload()`. Then,

[2019-03-11 06:35] bhsmither opened #2259 "Bad Default Value for Argument"
Re: #2199

See:
https://forums.cubecart.com/topic/54736-624-database-error/

Suggest:
[code]

[2019-03-11 09:47] abrookbanks opened #2260 "Encryption class openssl_decrypt failing due to inconsistent Initialization vector"
As above. Decrypt will fail.

[2019-03-11 09:52] #2260 closed, assigned to abrookbanks

[2019-03-11 14:36] #2259 closed, assigned to abrookbanks

[2019-03-11 14:36] abrookbanks commented on #2259
Thanks

[2019-03-11 14:48] abrookbanks commented on #2257
I expect this was just a browser cache issue. A hard refresh should have fixed it so long as the gallery code was updated with the upgrade.

[2019-03-11 14:48] #2257 closed, assigned to abrookbanks

[2019-03-11 20:18] bhsmither opened #2261 "Bad Index Name"
In maintenance.index.inc.php, near line 750, there is:
[code]
This is an element of `$index_map`.
(Note that all other table names are completely lowercase.)

Near line 942, find:
[code]
The array element:
[code]
does not exist.

[2019-03-12 11:42] #2261 closed, assigned to abrookbanks

[2019-03-12 15:14] abrookbanks commented on #2254
Great find. Thank you.

[2019-03-12 15:14] #2254 closed, assigned to abrookbanks

[2019-03-15 12:35] abrookbanks commented on #1671
#WIP
![Screenshot 2019-03-15 at 12 34 51](https://user-images.githubusercontent.com/4520803/54431601-c61ea980-471e-11e9-9244-6d35247d3db0.png)

[2019-03-15 14:16] abrookbanks commented on #1671
![Screenshot 2019-03-15 at 14 16 15](https://user-images.githubusercontent.com/4520803/54437618-ece3dc80-472c-11e9-9d9f-ee8126c3c7af.png)
![Screenshot 2019-03-15 at 14 16 04](https://user-images.githubusercontent.com/4520803/54437619-ed7c7300-472c-11e9-82a7-3076f13179d1.png)

[2019-03-16 09:49] PedrooNL opened #2262 "Back button (Foundation, Edge mobile, Android) puts product in basket!?"
Just noticed that using a back button on the product page puts the product in the basket.

Others have this?

Update: Found out that this is only happening with the Edge browser on Android.

Update 2: I made a Back button in the Product page with
button onclick="history.go(-1)">Go Back</button
then after the next click on a product the previous one is added to the basket.

then I tried
button oncl

[2019-03-17 12:00] #2262 closed, assigned to nobody

[2019-03-18 10:32] abrookbanks opened #2263 "Sort by Name not working on Dashboard "Unsetteled Orders""
As above.

[2019-03-18 11:03] abrookbanks commented on #2241
This has broken pagination on sales categories.

[2019-03-18 11:04] Noodleyman opened #2264 "Order Status - caching issue"
As a customer on the store front I place an order, go through payment and then am returned to the store. If I sit on the order confirmation page, or review the order via my user account it still shows a "Pending" status even though it's actually processing or completed.

Once the cache is cleared, the UI shows the correct status. This is confusing customers who think their payment didn't go throug

[2019-03-18 15:01] Noodleyman opened #2265 "Unsettled Orders - Invalid column in query"
Admin dashboard, unsettled orders tab calls this SQL query:

`$unsettled_orders = $GLOBALS['db']->select('CubeCart_order_summary', array('custom_oid', 'id', 'cart_order_id', 'name', 'first_name', 'last_name', 'order_date', 'customer_id', 'total', 'status'), 'status IN (1,2) OR `dashboard` = 1', $order_by, $results_per_page, $page);`

But, the column 'name' isn't valid for this table

[2019-03-18 15:08] Noodleyman opened #2266 "request - Pagination on raw query"
It is really helpful being able to use the pagination parameters of the select() database query function, however it would be very helpful if the pagination could also be added to the query() function as well rather than having to paginate things manually, for example using:

`LIMIT '.$per_page.' OFFSET '.(int)($page-1)*$per_page;`

[2019-03-18 16:42] #2263 closed, assigned to abrookbanks

[2019-03-18 16:48] abrookbanks commented on #2265
Thanks. I have a feeling in my bones it was added as backward compatibility from orders made in v3/v4 that have empty first_name and last_name fields.

[2019-03-18 16:48] #2265 closed, assigned to abrookbanks

[2019-03-18 16:49] abrookbanks commented on #2265
Yes..

[code]

[2019-03-18 18:02] havenswift-hosting opened #2267 "http_build_query() error"
Getting this PHP warning in the PHP error_log file across multiple 6.2.4 sites

[18-Mar-2019 17:59:02 Europe/London] PHP Warning:  http_build_query() [<a href='http://docs.php.net/manual/en/function.http-build-query.php'>function.http-build-query.php</a>]: Parameter 1 expected to be Array or Object.  Incorrect value given in /home/XXXXXXXX/public_html/classes/db/database.class.php on line 522

[2019-03-19 02:43] bhsmither commented on #2267
Duplicate of #2259.

[2019-03-19 09:34] abrookbanks commented on #2267
Thanks!!

[2019-03-19 15:45] bhsmither commented on #2267
It seems to me that moving
[code]
to outside and above the `if()` block accomplishes nothing.

Am I not seeing something?

[2019-03-19 15:57] abrookbanks commented on #2267
Haha... I tested it honestly I did! Over confident.. I'll have another look. Thanks for putting up with me.

[2019-03-19 22:57] bhsmither commented on #2267
I meant to say there is no better results than what was accomplished via #2259.

[2019-03-20 01:54] sumwonlost opened #2268 "Admin -> Language cache issue"
Admin - >Languages

When I disable/enable a language and Save, I get error message

"Failed to update language status"

However when I clear cache, the status is correctly updated.

Also a disabled Language does correctly not display on front end.

However it displays in dropdown in Store Settings and Administrators - If a Language is disabled it should not display in these dropdowns.

[2019-03-20 10:21] abrookbanks commented on #2268
In what way?

[2019-03-20 10:27] abrookbanks commented on #2268
Thanks.

[2019-03-20 10:27] #2268 closed, assigned to abrookbanks

[2019-03-20 12:38] Noodleyman opened #2269 "Hook Request - cubecart.class.php"
AFTER
`private function _404() {`

ADD:
`foreach ($GLOBALS['hooks']->load('class.cubecart.404') as $hook) include $hook;`

REASON:
allows for custom handling of http 404 via hooks

[2019-03-20 15:55] Noodleyman opened #2270 "PHP Error - cubecart.class.php"
CubeCart.class.php

`$_POST['user']['password'] = (isset($_POST['register']) && $_POST['register']==1) ? md5($_POST['password']) : md5(time().$SERVER['HTTP_USER_AGENT'].$_SERVER['REMOTE_ADDR']);`

$SERVER['HTTP_USER_AGENT']

should be

$_SERVER['HTTP_USER_AGENT']

[2019-03-20 16:36] abrookbanks commented on #2270
Great find. Thanks Mr Noodles.

[2019-03-20 16:36] #2270 closed, assigned to abrookbanks

[2019-03-20 18:19] Noodleyman commented on #2256
@abrookbanks , as a few people are running into this issue, and they only seem to find it after an upgrade, would it be possible to add some additional checks to the upgrade/setup process to validate if the server meets the requirement?

Can the hosting requirement notes on the website also be updated with more details specific to this topic as well?, it may be useful for reference.

[2019-03-20 19:54] abrookbanks commented on #2256
We could add a configuration setting to disable timezone support.

[2019-03-20 19:56] abrookbanks commented on #2256
@hairydogltd  I don't see what's unsatisfactory about it. Your hosting isn't compatible and I've given you a link to show you why!? Enable mysql timezone support and it will fix this.

[2019-03-21 09:25] havenswift-hosting commented on #2256
While people may not have been affected by or noticed the issue that this code fixes, it was added to 6.2.3 for very good reasons.  The timezone tables are unfortunately not added to MySQL as standard but the manual addition takes somebody with server level access about five seconds to add and has no negative impacts so I never understand why hosting companies dont do it as part of their new serve

[2019-03-21 09:36] abrookbanks commented on #2256
I agree Ian.

[2019-03-21 10:15] sumwonlost commented on #2256
I found a solution.

Login as root via ssh and enter following:

`# mysql_tzinfo_to_sql /usr/share/zoneinfo | MYSQL_PWD=`cat /etc/psa/.psa.shadow` mysql -u admin mysql`

Worked for me.

[2019-03-21 10:17] abrookbanks commented on #2256
@sumwonlost
That is exactly right.

[2019-03-21 10:21] havenswift-hosting commented on #2256
As Al pointed out on this thread 14 days ago and both of us have mentioned in forum threads, this is all it takes - however, only the server admin can do this

[2019-03-21 10:24] abrookbanks commented on #2256
I think in conclusion this needs to be able to be turned off for people stuck within the bounds of dare I say crappy generic hosting.

[2019-03-21 10:27] havenswift-hosting commented on #2256
I certainly wouldnt remove it - maybe limit error reporting to once an hour or once a day so it doesnt fill up the logs and improve the error message.  Giving the ability to turn it off simply encourages crappy, cheap hosting

[2019-03-21 10:35] abrookbanks commented on #2256
Maybe the best option is to disable error logging for just that query.

[2019-03-21 10:35] Noodleyman commented on #2256
going back to my comment, if it's pointed out as part of an upgrade, and tested as part of the installer then that should be enough. This requirement should be clearly documented, outlining why the error is generated and some general steps to be taken if you experience it.

This should clearly point out there is a limitation before people get caught out as part of an upgrade/install, and IF they r

[2019-03-21 10:39] abrookbanks commented on #2256
I'd describe it as a soft error. It doesn't stop anything working other than database timestamps only returning time based on the server time and not store time. It's only useful if say you have a server in the UK with a merchant hosted on it in say for example Canada. Which is actually exactly what bought this about.

I'd have said the best bet is to suppress the error but document the recommenda

[2019-03-21 10:41] abrookbanks commented on #2256
Do we think this is an acceptable solution?

[2019-03-21 10:45] sumwonlost commented on #2256
Yes that will get rid of the annoying error messages, however how are users to know to upgrade the mysql timezones if no error message is given

[2019-03-21 11:22] havenswift-hosting commented on #2256
No it is a very bad idea to suppress error messages - that is just avoiding the problem - several suggestions from myself and Alec on best way to handle this.  Do it this way and people will just ignore and then complain later when there is a date/time issue - you are working around crappy, cheap hosting.  If people are told up front as Alec has suggested, plus given occasional error messages then

[2019-03-21 11:32] abrookbanks commented on #2256
CubeCart hasn't had proper timezone support since its inception. Maybe this error should remain suppressed to avoid huge logs but add a notice next to the timezone setting if it isn't fully supported with the server configuration.

[2019-03-21 11:33] abrookbanks commented on #2256
![Screenshot 2019-03-21 at 11 33 02](https://user-images.githubusercontent.com/4520803/54749668-35881380-4bcd-11e9-95f8-a5dae64309b9.png)

[2019-03-21 11:47] sumwonlost commented on #2256
Why not a dropdown with 2 options.
1 - Server time
2 - Database time

If database time is selected and not installed (active), they get error messages until Server Time is selected or they load database time.

[2019-03-21 11:52] abrookbanks commented on #2256
I think that's a good suggestion. Thank you.

[2019-03-21 12:17] abrookbanks commented on #2256
Actually there is a bug here around the value..

[2019-03-21 12:32] abrookbanks commented on #2256
![Screenshot 2019-03-21 at 12 31 36](https://user-images.githubusercontent.com/4520803/54752281-6704dd00-4bd5-11e9-9a31-1b8d4e11a01e.png)

[2019-03-21 12:32] #2256 closed, assigned to abrookbanks

[2019-03-22 11:13] abrookbanks opened #2271 "encryption method decryptDepreciated should only operate if mcrypt exists"

[2019-03-22 11:15] #2271 closed, assigned to abrookbanks

[2019-03-26 12:25] havenswift-hosting opened #2272 "E-Commerce tracking for POF orders"
As orders placed and "paid" through the Print Order Form never reach the content.receipt.php template, e-commerce tracking in Google Analytics is never triggered.  For many this wont be an issue or will be insignificant but for some a significant proportion of orders can come in this way

[2019-03-26 14:54] abrookbanks commented on #2272
Relates to this: https://features.cubecart.com/topic/move-google-analytics-for-ecommerce-from-client-to-server-side_8

[2019-03-26 18:49] bhsmither opened #2273 "Multi Skins May Confuse skin.custom Cache"
In Foundation's config.xml file, there is a `<custom>` node that ends up in the `skin.custom.cache` file.

This file is written and read with no consideration given to what skin it belongs to.

When changing the skin from the frontside selector, the cache is not deleted (probably no reason to) and `skin.custom.cache` will continue to exist.

This behavior will present the possibility of pertinent

[2019-03-26 18:57] bhsmither commented on #2273
I would also argue for the case where the `<custom>` node might contain more than a one-dimension array.

Therefore, the code that parses `$xml->custom` should recurse in an attempt to reconstruct that array.

[2019-03-26 19:57] bhsmither commented on #2273
Perhaps move/incorporate the GUI code that parses `$xml->custom` over to the processes at `GUI->listskins()`.

[2019-03-26 20:04] bhsmither opened #2274 "Hook Request"
In GUI->listSkins(), add a hook to allow for the processing into `$data` additional nodes of the skin's config.xml file.

[2019-03-27 10:38] abrookbanks commented on #2273
Thanks Brian.

[2019-03-27 10:38] #2273 closed, assigned to abrookbanks

[2019-03-27 10:52] #2274 closed, assigned to abrookbanks

[2019-03-27 10:53] abrookbanks commented on #2269
Thanks Alec :)

[2019-03-27 10:53] #2269 closed, assigned to abrookbanks

[2019-03-27 11:33] abrookbanks commented on #2267
Fixed with https://github.com/cubecart/v6/commit/ca55a8419f834d723cedef80a99652d953e9fb92

[2019-03-27 11:33] #2267 closed, assigned to abrookbanks

[2019-03-27 11:52] #2241 closed, assigned to abrookbanks

[2019-03-27 12:00] abrookbanks opened #2275 "Allow emails to be enabled/disabled"
For example some customers do not want the payment received email if the PCP send confirmation.

[2019-03-27 12:27] #2275 closed, assigned to abrookbanks

[2019-03-28 09:25] abrookbanks commented on #1164
![Screenshot 2019-03-28 at 09 16 13](https://user-images.githubusercontent.com/4520803/55145862-763adc00-513b-11e9-9738-44b7ff0daa38.png)

[2019-03-28 10:32] havenswift-hosting opened #2276 "Add brand"
It would be useful to be enter brands against products - work in the same way as manufacturers

[2019-03-28 13:49] abrookbanks commented on #1164
![Screenshot 2019-03-28 at 13 49 05](https://user-images.githubusercontent.com/4520803/55162706-45b96900-5160-11e9-8e6f-88bcbfb805cc.png)

[2019-04-01 08:07] #2276 closed, assigned to nobody

[2019-04-02 11:39] Noodleyman opened #2277 "setGhostId() not called before writing to DB"
the function setGhostId() and getGhostId() are useful, however the ID doesn't get set until an order is placed.

Ideally, the ID should be set the moment the ghost customer is essentially logged in and the record added to the CubeCart_customer table. that being the moment via checkout they have provided their details, opted not to create an account and then proceed to the next stage.

[2019-04-04 13:26] sumwonlost opened #2278 "Cookie Consent improvements"
I don't know how long a store has to keep cookie consent for customers?

Customer List -> select Customer -> Cookie Consent

The log can become rather large if customer regularly clear their browser cache.

1.  Can you add pagination to this.

2.  How do I delete entries after the expired period?  Can you add checkboxes with delete selected or are these dropped automatically after a set period?  A

[2019-04-04 21:53] bhsmither opened #2279 "Corrupted SQL Statement"
Regarding #2119 and #2249, together they will cause a corrupted SQL statement.

`_where_live_from` is created using ` AND `.

2249 adds `_where_live_from` into the `outOfStockWhere()` results.

2119 sends the `outOfStockWhere()` results to a `$where` array.

The `$where` array is imploded using ` AND `.

This results in a SQL query that looks like (only part of it reproduced here):
[code]

[2019-04-05 08:55] abrookbanks commented on #2279
Can you tell me how to reproduce this as I haven't been able to?

[2019-04-05 23:19] bhsmither commented on #2279
Please use this URL:
[code]
See the last few posts in:
https://forums.cubecart.com/topic/54251-list-all-products-link-is-this-possible/

[2019-04-06 13:00] sumwonlost opened #2280 "Bug - Edit Customer Email address."
In Admin if I edit a customer email address to an existing address and Save.

1.  The email address correctly does not update as exists, however I get message "Customer Successfully Updated" - I should get "Email Address Exists - No Details Updated" error message or something to that affect.

2.  It creates a record in error log.  If no details updated (see 1) then why an error in log?

[2019-04-07 05:05] bhsmither opened #2281 "One Remaining Not Good for More"
More testing is required.

For this experiment:

Have the skin's config default to 12 items per page.

Have 13 items in a search result. Having 13 items in a category may also work.

Request the search. At the bottom will be a More button.

Because there is only one more product to be shown, after clicking the button, CubeCart's AJAX return is not usable because CubeCart sent a 302 Bounce to the o

[2019-04-12 09:04] abrookbanks commented on #2279
Checking the forum post as I still can't reproduce this...

[2019-04-12 11:16] Noodleyman opened #2282 "Google Adwords - Errors"
[Deprecated] /home/<csutomer>/public_html/modules/plugins/Google_Adwords/hooks/class.gui.javascripts.php:18 - Function create_function() is deprecated

using latest version.

[2019-04-15 12:20] abrookbanks opened #2283 "UNIX_TIMESTAMP syntax not liked on certain MySQL version"

[2019-04-15 15:47] abrookbanks commented on #2283
Reopened due to bad fix.

[2019-04-16 14:51] #2283 closed, assigned to abrookbanks

[2019-04-17 06:05] bhsmither opened #2284 "CKEDITOR Weirdness"
Regarding CKEDITOR's `config.js, please verify that:
[code]
is the desired regex. According to an online tester, their report:
[code]
`{$EMAIL_CONTENT}` matches

`{ $EMAIL_CONTENT }` matches but will **not** be parsed by Smarty

This regex: `{\S*?.*\S}` requires a non-space character to sit next to each brace.
[code]
I bring this up because on `Email Templates`, `Default Emails`, `HTML Content` ta

[2019-04-17 18:42] bhsmither opened #2285 "CKEDITOR ShowProtected Plugin Malforms FullPage HTML"
In `/ckeditor/config.js`:
[code]
This experiment shows that the Show Protected plugin is causing FullPage HTML structure to become malformed.

[2019-04-18 03:35] bhsmither commented on #2285
I installed CKEDITOR 4.11.4 and the latest version of the of the Show Protected plugin.

It still misbehaves, although the resulting display is just a bit different.

[2019-04-18 05:41] bhsmither commented on #2285
That's because the plugin added:
[code]
to the styling of the blue "code" icon.

I changed it to `inline-block` and it looks good (still misbehaves).

(Note: it's difficult/impossible to get Firefox to force reload an iframe page's resources. Argh!)

[2019-04-18 11:19] abrookbanks commented on #2280
Thanks!!

[2019-04-18 11:19] #2280 closed, assigned to abrookbanks

[2019-04-18 11:30] abrookbanks commented on #2264
Thanks!! :)

[2019-04-18 11:30] #2264 closed, assigned to abrookbanks

[2019-04-18 11:39] abrookbanks commented on #2284
Thank you. I was able to reproduce and verify your updated Regex. Great job. Thank you.

[2019-04-18 11:39] #2284 closed, assigned to abrookbanks

[2019-04-18 11:45] abrookbanks opened #2286 "Minor Security Issue - $_POST['category'] not typecast or validated during admin session"
This issue is considered minor as an exploit would only be possible if the session was hijacked or malicious user were to be able to authenticate and access the back end as a store administrator.

SQL Injection found by Shuibo Ye.

*1)+and+updatexml(1,user(),2)--+*" as shown below.

the user as shown below.

[2019-04-18 11:48] #2286 closed, assigned to abrookbanks

[2019-04-18 15:14] abrookbanks opened #2287 "Minor Security Issue -Report $report_filter['status'] filter isn't properly sanitised"
This issue is considered minor as an exploit would only be possible if the session was hijacked or malicious user were to be able to authenticate and access the back end as a store administrator.

SQL Injection found by Shuibo Ye.

After logining the "Admin Control Panel",I click "Sales Reports" and click
"Filter".
After choosing "Date Range" and "Order Status",I click "Display".
![1](https://user

[2019-04-18 15:15] #2287 closed, assigned to abrookbanks

[2019-04-18 15:35] abrookbanks opened #2288 "Cart->discountAdd is caching returning incorrect value for `allowed_uses`"
As above.

[2019-04-18 15:36] #2288 closed, assigned to abrookbanks

[2019-04-19 18:38] bhsmither opened #2289 "Later Versions of CKEDITOR Removes Spaces Around Protected Source"
This also manifests:
https://dev.ckeditor.com/ticket/16976

I discovered I was able to work around it by having a regular character as the first non-tag in the line:
[code]
Oddly, the `<wbr>` also stops the removing of spaces.

[2019-04-20 10:48] sumwonlost opened #2290 "Shop - Product Discounts TAB bug"
If you set quantity discounts for a product, in front-end (shop) when you go to product it has (Quantity discounts available) link which does nothing.  On click it should open the Quantity Discounts TAB.

[2019-04-20 11:36] sumwonlost opened #2291 "On Sale with Quantity Discounts bug"
Settings are as follows::

![image](https://user-images.githubusercontent.com/23044524/56456349-4edbd580-63ae-11e9-9b0f-cbbfaf25ec82.png)

As you can see the product is On Sale and has Quantity Discounts.

In front-end (shop) it display correctly in both On Sale box and in Page as shown below

![product_store_on_sale](https://user-images.githubusercontent.com/23044524/56456486-82b7fa80-63b0-11e9-9

[2019-04-21 07:28] bhsmither commented on #2290
This is a known issue with Zurb's Foundation system:
https://github.com/zurb/foundation-sites/issues/4791

[2019-04-25 02:42] sumwonlost commented on #2291
I have now tested with Group Memberships and have found many more issues with the pricing, on sale and quantity discounts with group memberships which many if not all can be fixed as outlined in #2080.

This bug is "doing my head in" on how prices are displayed.  And if it is "doing my head in" as a store owner then customers must surely be confused.

[2019-04-25 13:49] sumwonlost commented on #2291
Just to further explain.  Using the pricing settings above.  Go to front end and they display correctly, Retail, Sale and Discounts.

Now give a customer a membership group and login as that customer.

Pricing does not include sale price nor quantity discounts.  Call me stupid but are memberships not entitled to prices available pre login?

Prices displayed pre-login must be available to all inclu

[2019-04-25 20:54] sparrowme opened #2292 "new search forces user to page bottom"
If a user has searched by keyword (and maybe other methods) for a product and uses the **More** button at the bottom of the page to expand the listing, a new search for new keywords will cause the user to move to the bottom of the page when the results come back and automatically issue a **More** click as if the user did it.  The user then has to scroll back to the top of the page to review the ea

[2019-04-29 09:25] abrookbanks commented on #2290
It doesn't look like we will get a fix for this.

We need a new skin really.

[2019-04-29 09:25] #2290 closed, assigned to nobody

[2019-04-29 22:14] sumwonlost commented on #2290
Best solution I found is to remove the link and make text italic

[2019-05-01 09:19] Noodleyman commented on #2207
@abrookbanks , I think this needs a minor refinement as part of the upgrade process. Although the issue has been addressed, the upgrade doesn't clear out existing sess_* files which exist. this can orphan multiple thousands of files which will never be cleared. The upgrade should clean up those files

[2019-05-01 09:21] abrookbanks commented on #2207
Agree but a lot of the time Apache can't. I'll check the code is there or not and if not add it in the hope it clears it up.

[2019-05-01 09:32] havenswift-hosting commented on #2207
memcached or redis session storage solves so many problems - speed issues, the physical number of files being stored, no worries about deleting files - seems a no brainer to me

Until memory based session storage is available and as I have also said several time before, a local session directory but above public_html is both secure and as owned by the user account, all files are deletable.

[2019-05-01 09:32] abrookbanks commented on #2207
Agreed. :)

[2019-05-02 06:51] Noodleyman opened #2293 "Large stores error when clearing cache"
This in some regard is a continuation of issue #2207

Large stores with a large number of files in the cache directory have performance issues when clearing cache, in some cases throwing max execution errors.

`PHP Fatal error:  Maximum execution time of 30 seconds exceeded in /home/.../domains/.../public_html/classes/cache/file.class.php on line 114`

The file cache clear function suffers from th

[2019-05-03 17:02] havenswift-hosting commented on #2293
For "large" stores you might want to suggest they move different and better hosting - pay peanuts etc.  Just amazes me that people can run stores turning over tens of thousands per month and try to do with 2.99 per month hosting

1) Looping and unlinking files is an extremely quick operation unless the server is I/O bound

2) 30 seconds for max execution isnt enough for several different operation

[2019-05-03 17:05] havenswift-hosting opened #2294 "Changing email to duplicate could be handled better"
If an admin attempts to change an email address on a customer account to one that already exists (customer registered previously and placed order and then registered a second time and placed order but with a mistaken slight variation of the email address) then there is no message shown to the admin user, the screen refreshes and obviously doesnt change the address

An error is recorded in the Cube

[2019-05-05 12:37] sumwonlost opened #2295 "Sales Item link displays in Navigation despite no Items on Sale"
Clean install - change the On Sale price for Test Product to 0.00.

The On Sale sidebox no longer displays as there are no products On Sale, however the Sale Items link still displays in Navigation.  This should also not display if there are no products On Sale.

[2019-05-05 15:21] sumwonlost opened #2296 "Product Description bug"
Create Product, add Product Description (leave Short Description blank) and save.

Front End - Navigate to product via Categories.  It lists all products for Category.  In expanded view, it displays the Product Description and NOT `{$product.description_short}` in product details.

If a Short Description is entered it displays the Short Description correctly else it displays Long Description.  I d

[2019-05-06 18:37] bhsmither commented on #2295
Currently, this link appears if a test at `GUI->_displayNavigation()` determines if the Store Settings has "Sales Mode" set to anything other than *disabled* -- regardless if there are any products that have an actual valid sale price.

Suggest:

That `GUI->_displaySaleItems()` return `true` if any sale items are to be shown in the Sale Items box (`$vars` is not empty) -- with possibly setting a s

[2019-05-06 18:52] bhsmither commented on #2296
Intentional, better than nothing, (as best I know) in Category listings which include Sales and Search results. This is a standard element of the product's dataset sent to the templates, therefore it can be used wherever else it is wanted.

The length is controlled by Store Settings, Layout tab, "Length of product precis".

Formatting is not removed from Short Description if the string length of t

[2019-05-06 22:48] sumwonlost commented on #2296
Thanks for explanation.

[2019-05-06 22:48] #2296 closed, assigned to nobody

[2019-05-07 10:38] MJPCS opened #2297 "Jumping to index page of shop main page"
Clicking on order number makes the main shop page load, does not go to order, this link shows when hovering over order number  -  https://************/shop/?

[2019-05-07 12:11] sumwonlost commented on #2257
I have been having same issue.  It is annoying having to do a hard refresh.

I followed PedrooNL instructions and all good now.  This is temporary fix as it will be overwritten next update and have to redo.  Need a permanent solution as this is a bug

[2019-05-07 16:01] bhsmither opened #2298 "Print Order Form to Respect Custom OID"
As above.

[2019-05-07 18:21] bhsmither opened #2299 "Transactions Table to Hold Custom OID"
Suggest that database table CubeCart_transactions to record custom_oid.

Suggest that admin, Transactions Logs to include a Custom OID column, and be sortable and searchable.

[2019-05-09 05:39] bhsmither opened #2300 "Wrong Variable Name"
Please check in catalogue.class.php, near line 581:
[code]
In this section of code (text-based options), `$value` is not a valid variable.

[2019-05-10 15:19] claudia39 commented on #2257
I'm in the process of creating my custom skin based on Foundation from CC6.2.5.   My image was showing too small so I changed lines 4-14, I think that's right - whatever was changed in CC6.2.5, back to  the code from CC6.2.2 and it worked. However, I noticed later that my small screen would not open the left and right off canvas. No menu of shopping basket.  It took days to figure it out. When I c

[2019-05-11 16:14] bhsmither opened #2301 "Invalid PCRE Modifier"
In seo.class.php, line 637:
[code]
PHP 7 is complaining that the `e` modifier is no longer supported.

This page:
`https://www.php.net/manual/en/reference.pcre.pattern.modifiers.php`
claims the `e` modifier is ignored by all PCRE functions other than preg_replace, and that `e` is now deprecated(PHP5.5.0) and removed(PHP7.0.0).

Suggest removing the `e` modifier, to read:
[code]

[2019-05-12 21:30] bhsmither opened #2302 "Card Capture Module to Query Encryption Class for Capabilities"
Currently, Card Capture 1.0.6 makes a hard test (gateway.class.php line 100) for the MCRYPT extension.

Suggest having the Encryption class return a result that callers can use to verify if **any** encryption that can be setup by the Encryption class is available.

Then, in Card Capture, instantiate the Encryption class, then test `$this->_encryption` for not empty if something is available.

[2019-05-14 10:46] sumwonlost opened #2303 "Product Specifications - include Digital"
In content.product.php at bottom of specifications section need to include the following code:

`                  {if $PRODUCT.digital > 0}
                  <tr>
                     <td>{$LANG.catalogue.product_type_digital}</td>
                     <td>{$LANG.common.download}</td>
                  </tr>
                  {/if}`

This displays whether the product is digital download.  I canno

[2019-05-14 10:54] sumwonlost commented on #2001
CC 6.2.5 - not working without the inclusion of slash.

[2019-05-15 10:15] sumwonlost commented on #2043
Also CardCapture plugin not working

[2019-05-15 10:17] abrookbanks commented on #2043
The card capture plugin at the latest version with the latest version of CubeCart is coded to use OpenSSL instead of Mcrypt.

[2019-05-15 10:19] abrookbanks commented on #2043
This is relevant but should be in 6.2.5:
https://github.com/cubecart/v6/commit/5d4ac244673ef646911e733a8ad6ea71b75be517#diff-310c014724437648134a1d0f52066cae

[2019-05-17 14:36] abrookbanks commented on #2301
Thanks but this has been done already:
https://github.com/cubecart/v6/pull/2220

[2019-05-17 14:36] #2301 closed, assigned to nobody

[2019-05-17 14:39] abrookbanks commented on #2293
Best recommendation is to use Redis or Memcached etc...

All hosted cubecart stores use Memcached and provide enough resources for serious stores.

[2019-05-17 14:39] #2293 closed, assigned to abrookbanks

[2019-05-18 02:20] sumwonlost opened #2304 "Product Options and Quantity Discounts display despite being Unavailable or Out of Stock"
In content.products.php it dispay Product Options and Quantity Discounts if Unavailable or Out of Stock.

Why do these need to display if Customer is unable to Buy?  The only reason I can think of is for information purposes for future when product is available and in stock.  Pretty much useless with preference not to display these until Available and In Stock.

Following the include {include file

[2019-05-18 03:51] sumwonlost opened #2305 "Bug - All in One Shipping 1.0.13. Unable to add Shipping Zone"
When I go to Shipping Zones, it gives Alert "No states are defined for that country." despite having done nothing.

I close Alert box and Radio 1 or more Countries and Select Country from dropdown and save.  It does not save.

[2019-05-18 12:31] sumwonlost opened #2306 "Store Product Condition in order_inventory table."
It would be ideal if Product Condition is stored in order_inventory table especially for dispute resolution.  Eg the product is sold as Used or Refurbished but Customer claims it was advertised as New.

[2019-05-19 10:14] sumwonlost opened #2307 "Bug - Admin add Customer Address"
When creating a Customer Address in Admin.  Default Delivery Address and Billing Address checkboxes are left unchecked, however on save it saves these value = 1.

Also in Admin edit Customer Address, the Country dropdown needs to order ASC.

[2019-05-19 22:45] bhsmither commented on #2304
I would use "Hide out of Stock" in admin.

[2019-05-20 15:02] Dirty-Butter commented on #2306
SemperFi created a ProductDescription addition to the database for me for just that reason. Not sure if he ever turned that into something for sale.
We sell used toys - condition descriptions change as one sells and I edit to add another one as it is found. VERY important that we and the customer get a copy of exactly what they bought.

[2019-05-20 15:51] abrookbanks opened #2308 "Discount/promo code not found when exists"
Something not happy at `preg_replace('/[^\w-_]/', '', $code)`.

[2019-05-21 03:11] sumwonlost commented on #2306
You said it, VERY important.  So I need a plugin for something that should be standard?  Seriously what business cannot give you exact details of a sale, irrespective the type of business?  This is a failure in auditing procedures.  I must be able to replicate a sale exactly as sold.

[2019-05-21 15:16] bos4711 opened #2309 "Product option "Available for purchase" is not honoured"
I have a product that's currently out of stock. With "Use stock level" AND "Available for purchase" unchecked, the product is still buyable.

I doublechecked that the store option "Allow out-of-stock purchases" is unchecked, and it is.

Cubecart 6.2.1.

[2019-05-21 17:10] bos4711 opened #2310 "When cloning a product, none of the translations are cloned"
See attached screenshot. The second row is the original product, with an English translation. The first row is the clone, without the translation.

[2019-05-21 17:11] bos4711 commented on #2310
Github don't like my attachments, so here's a Dropbox-link to the screenshot:

https://www.dropbox.com/s/36qwmjzqz6xwgf7/2019-05-21_190749.png?dl=0

[2019-05-23 14:20] sumwonlost commented on #2304
I have tried "Hide out of Stock" and in Products -> select Product, I have checked "Use Stock Level" and set "Stock Level" = 0.  The Product still displays showing "This product is currently out of stock" message.  It also displays the Options and Quantity Discounts TAB.

As I said, I have no issue with the Product displaying details, description, specifications and reviews when Out of Stock or Un

[2019-05-23 14:37] bhsmither commented on #2310
Please verify that you have Store Settings, Extra tab, **Product Clone** section, Translations: checked.

[2019-05-24 07:37] bos4711 commented on #2310
Confirming that this checkbox was not checked. My bad.

Closing ticket.

[2019-05-24 07:37] #2310 closed, assigned to nobody

[2019-05-24 21:35] bhsmither opened #2311 "PostcodeAnywhere Using BODY_JS Incorrectly"
When CubeCart went with the Smarty {combine} method, $BODY_JS became restricted to using filepaths.

The PostcodeAnywhere module now requires the hook `class.gui.body_js.php` file to have the javascript put in a separate file and the path to that file added to `$body_js`.

Also, add the cubecart.min.js script tag to `$body_js`.

[2019-05-27 18:39] bhsmither opened #2312 "Search String Construction"
Please verify in class.catalogue.php, lines 1880-1887:
[code]
With no modifiers on `foo bar`, the string constructed should be:
[code]
However, line 1887 then strips all that out.

(Not sure why the Unicode Greek block is being included, and not any others.)

[2019-05-28 13:36] abrookbanks opened #2313 "Digital Download SQL issue for prefixed tables"

[2019-05-28 13:37] #2313 closed, assigned to abrookbanks

[2019-05-28 16:44] havenswift-hosting opened #2314 "MySQL syntax error in Sales Reports"
In 6.2.5 simply going into the Admin Sales Reports option throws the following error

File: [reports.index.inc.php] Line: [126] "SELECT `order_date`, `cart_order_id`, `status`, `subtotal`, `discount`, `shipping`, `total_tax`, `total`, `customer_id`, `title`, `first_name`, `last_name`, `company_name`, `line1`, `line2`, `town`, `state`, `country`, `postcode`, `title_d`, `first_name_d`, `last_name_d`

[2019-05-30 09:39] abrookbanks commented on #2308
[code]

[2019-05-30 10:19] Noodleyman opened #2315 "admin.category.tabs placement issue"
The mentioned hook is only called when the action is add/edit, so the hook can't be used on the general "categories" list page, it should be available for both.

[2019-06-01 00:26] bhsmither opened #2316 "CKEditor ProtectedSource RegEx"
Is the change for #2284 still working for you?

In the discussion, there is (erroneously) two versions of the regex:
`/{\S*?.*\S}/g` and `/{\S*?.*?\S}/g`

Note the extra question mark.

The version with the extra question mark works for me. The one without seems to gather up too much of the text.

[2019-06-04 12:14] abrookbanks commented on #2316
I think I reverted it to how it was before. I need to get onto these issues.

[2019-06-04 14:53] #2314 closed, assigned to abrookbanks

[2019-06-04 14:57] abrookbanks commented on #2316
I must have tested the correct regex then copied and paste the wrong one to source control.

Thanks for your help here.

[2019-06-04 14:57] #2316 closed, assigned to abrookbanks

[2019-06-04 15:00] abrookbanks commented on #2297
Where do we click on the order number to reproduce this? Is it a link in an email, the backend or customer area? Please can you be specific. I'll reopen once we have more info..

[2019-06-04 15:00] #2297 closed, assigned to nobody

[2019-06-04 15:02] abrookbanks commented on #2309
This is most likely to be a skin level bug. Older skins may not respect the "Available for purchase"  setting. If you can open a support ticket we can look at this for you.

Alternatively if this is a bug in 6.2.5 with default skin please let me know with specific steps to reproduce. i.e. exactly where you can add it to basket

[2019-06-04 15:03] #2309 closed, assigned to abrookbanks

[2019-06-04 15:11] #2308 closed, assigned to abrookbanks

[2019-06-04 15:15] abrookbanks commented on #2300
Great find! :)

Thanks!

[2019-06-04 15:15] #2300 closed, assigned to abrookbanks

[2019-06-05 07:23] sumwonlost commented on #2304
After a bit of testing I found another post that directed me to problem.  I have to have Store online and be logged out of Admin.  All works correctly for Out of Stock products, not displaying these.

The issue is now it needs to do same if product Unavailable.

Furthermore this can be improved by displaying "Coming Soon" message if a List from Date is entered with the option to display date.

[2019-06-05 09:50] abrookbanks commented on #2305
Fixed with 1.0.14. Thanks.

[2019-06-05 09:50] #2305 closed, assigned to nobody

[2019-06-05 10:01] abrookbanks commented on #2307
Thanks for this.

[2019-06-05 10:01] #2307 closed, assigned to abrookbanks

[2019-06-05 14:55] havenswift-hosting opened #2317 "Search improvements"
It would be very useful to be able to configure which fields are used in a search - currently product name, product code and product description but some stores would not want the description field included for example as a keyword can be included in a description but not display a relevant product

I also know there are people that have modified the search to include searching in the meta keyword

[2019-06-06 11:26] Dirty-Butter commented on #2317
I'm one Bsmither helped modify to use meta keywords, as some would search for cat, another kitty, and others for kitten - but I would not want to clutter a description with every such alternate word.

[2019-06-06 11:28] Dirty-Butter commented on #2317
It would also be great it there were stock admin choices to create searches to be term AND term, as well as a choice for term OR term. That took quite a bit of coding from Bsmither to get AND to work for our store. OR was useless for us.

[2019-06-06 18:16] WayneSallee opened #2318 "Missing Files in Download"
The download is missing the following files:
 	.gitattributes
	.gitignore
	CONTRIBUTING.md
	README.md

I see those files on the github web page, but when  uncompresing the download, those files are not included.

Wayne Sallee
Wayne@WayneSallee.com

[2019-06-06 21:04] bhsmither commented on #2318
They are control files for the GIT version control system. They are not appropriate for a production deployment.

[2019-06-07 12:11] sumwonlost commented on #2317
I would also like to see the option to search selected categories.  ie I know the category/s but need to find product.  Similar to how Manufacturers works.

This helps to refine search for larger stores where Keywords alone might throw up many results.

[2019-06-07 12:21] sumwonlost commented on #2317
It is also suggested that a min of 3 characters be entered as a Keyword, a single character is likely to return most products.

[2019-06-07 13:33] sumwonlost opened #2319 "Free Product - improvements"
Free Products -
Settings - product price = 0 and available and in stock.

In front-end, it displays price as $0.00 which is rather ugly.  I suggest it be replaced with text "Free" or icon/img/sprite  Customers are more likely to be attracted to "Free" rather than $0.00.

The simplest way would be to have a Free checkbox in Product Pricing (inventory table), If checked display "Free" else continue

[2019-06-07 16:33] havenswift-hosting opened #2320 "Syntax error in search query"
Seen in multiple client stores and also reproduced in a clean store with basic demo data.

Ensure "Hide out-of-stock product" is unticked in Store Settings | Stock tab

Do a search via advanced search for "test" and it returns the one product expected

Then do same search but tick "In stock" tickbox and it returns no product and throws the following errors

File: [catalogue.class.php] Line: [1895]

[2019-06-07 17:15] bhsmither commented on #2320
So, line 1895 returns something that is true-ish even though the database reports an error.

See #2279.

[2019-06-12 15:22] richosr opened #2321 "Download Links not in Customer Account and download count not incrementing"
Since the last few updates download links are not appearing in customer accounts, it says the download link is no longer available when it is.

In addition the downloads count is not incrementing when a download is actioned.

![dl001](https://user-images.githubusercontent.com/992654/59364058-745adf00-8d60-11e9-9081-dda41e55ca50.jpg)
![dl002](https://user-images.githubusercontent.com/992654/5936405

[2019-06-12 15:26] richosr commented on #2321
Just checked the error log and perhaps the issue is down to?

Today, 16:24 | File:  [controller.admin.pre_session.inc.php] Line: [26] "SET @@time_zone =  'Europe/London'" - Unknown or incorrect time zone: 'Europe/London'
-- | --
  | Today, 16:24 | File: [controller.index.inc.php] Line:  [27] "SET @@time_zone = 'Europe/London'" - Unknown or incorrect time  zone: 'Europe/London'
  | Today, 16:24 | F

[2019-06-12 15:37] richosr opened #2322 "keep getting error in error log saying column doesn't exist in query"
keep getting this error in error log:

File: [cubecart.class.php] Line: [2076] "SELECT `ns_CubeCart_order_inventory`.*, `ns_CubeCart_order_summary`.`status` FROM `ns_CubeCart_order_inventory` INNER JOIN `ns_CubeCart_order_summary` ON `CubeCart_order_inventory`.`cart_order_id` = `CubeCart_order_summary`.`cart_order_id` WHERE ns_CubeCart_order_inventory.id = '4751' ;" - Unknown column 'CubeCart_orde

[2019-06-12 16:20] richosr commented on #2322
Fixed that issue by changing Line 2076 in cubecart.class.php to as the table prefix code was missing from the sql statement on two or three of the field names:

if (($product = $GLOBALS['db']->select('`'.$GLOBALS['config']->get('config', 'dbprefix').'CubeCart_order_inventory` INNER JOIN `'.$GLOBALS['config']->get('config', 'dbprefix').'CubeCart_order_summary` ON `'.$GLOBALS['config']->get('config'

[2019-06-12 16:38] bhsmither commented on #2322
This is (closed) issue #2313.

[2019-06-12 16:40] bhsmither commented on #2321
Possibly related to (closed) issue #2313.

The timezone issue is unrelated - and is known.

[2019-06-12 17:03] bhsmither opened #2323 "CubeCart_inventory.stock_warning to be Signed"
Request that `CubeCart_inventory.stock_warning` be a `signed` column.

This allows for:
* set negative for one-off items to not show up in Stock Warning reports
* comport with SQL code `$where` in `dashboard.index.inc.php (341)` comparing less-than zero
* other uses on per-product basis

[2019-06-12 17:20] bhsmither commented on #2323
Duplicate of #1796

[2019-06-12 17:40] bhsmither opened #2324 "Dashboard Stock Level Warning"
Suggest using `config::stock_warn_type` as to whether or not to include `config::stock_warn_level` in SQL query `$where` clause in `dashboard.index.inc.php (329)`.

Including `config::stock_warn_level` has its uses as is
(see: https://forums.cubecart.com/topic/54960-stock-warning-setup/)
but may lead to erroneous listings.

[2019-06-14 02:09] bhsmither opened #2325 "Smarty Unpublished Function Discouraged"
I have a concern about using a function call that is not part of Smarty's published API.

In cubecart.class.php, line 456, there is:
[code]
Suggest using:
[code]
for the simple reason that a published API should remain stable, and for longer, than using an unpublished call.

[2019-06-14 04:32] sumwonlost opened #2326 "Mailing List - additional field to display"
It would be handy if Mailing List page had an extra column displaying whether Subscriber is registered Customer or not.

if subscriber.email exist in customer.email and customer.status ==1 display yes/tick else display no/cross.

If registered Customer, the Email address could be a link to Customer Details page.

[2019-06-15 16:01] bhsmither opened #2327 "PayPal Pro Syntax Error"
In gateway.class.php, lines 470-471, there is:
[code]
Suggest:
[code]

[2019-06-17 21:40] bhsmither opened #2328 "Products Assign Code"
In `products.assign.inc.php`, near line 42, there is:
[code]
where `$_POST['category']` is an indexed array.

Suggest:
[code]

[2019-06-17 22:08] bhsmither opened #2329 "Admin Permissions vs Save Button"
If an admin has read-only permissions, I see little point in having a Save button.

[2019-06-17 22:19] bhsmither opened #2330 "Products Assign vs Admin Read-Only Permission"
In `products.assign.inc.php`, near line 21, no test is made to inhibit further processing unless the admin has `CC_PERM_EDIT` permission.

Thus, lines 30 and 35 are executed (I'll have to double-check this) by an admin with read-only permission.

[2019-06-17 22:24] bhsmither opened #2331 "Products Assign Always Indicates Assigns|Prices Updated"
In `products.assign.inc.php`, near line 109, success messages are generated regardless of the outcome of any work attempted or completed.

[2019-06-19 14:48] jbringolf opened #2332 "Email Bug after Upgrade to 6.2.5"
Version: 6.2.5
Emails are not sending and when I try to run the "Test" i get "This content failed to load."

[2019-06-19 17:02] #2332 closed, assigned to nobody

[2019-06-19 17:03] jbringolf commented on #2332
Found it - Thanks

[2019-06-22 15:57] havenswift-hosting opened #2333 "use of FILTER_FLAG_SCHEME_REQUIRED and FILTER_FLAG_HOST_REQUIRED is deprecated"
PHP 7.3

sources/settings.index.inc.php:179 - filter_var() [function.filter-var.php]: explicit use of FILTER_FLAG_SCHEME_REQUIRED and FILTER_FLAG_HOST_REQUIRED is deprecated

[2019-06-24 06:46] bhsmither commented on #2311
Try this:
In class.gui.body_js.php, the contents are now:
[code]
In class.gui.head_js.php, the contents are now:
[code]
A new file at /js/postcodeanywhere.config.js
[code]

[2019-06-24 09:12] sumwonlost opened #2334 "Bug - GEO json form display"
Globally Country and State fields should work as per Countries & Zones settings.

All forms should work as follows.

IF geo_country.status = 0 it correctly does not display the Country in dropdown

IF geo_country.status = 1 (State required) it correctly list All States for the selected Country that are in geo_zones.  As there is no select option (value = 0) in the States dropdown, it displays Stat

[2019-06-24 09:50] sumwonlost opened #2335 "Zones Search"
Countries & Zones -> Zones

Theoretically the geo_zone could have a few 00,000 entries.

Finding a Zone can be time consuming through 000's if not 0,000's of pages.

The following is never more than 1-2 clicks to find Zone

Need to have a Search dropdown (list Countries) on select Country/s (multiple select) it display all Zones for the selected Country/s.  Getting to the Zones for a Country/s is

[2019-06-25 07:42] havenswift-hosting opened #2336 "CubeCart not recording IPv6 against customer records"
It appears that CubeCart isnt recording the IPv6 address against the customer record if the website is setup to allow IPv6 connections and the customer is coming from an ISP that uses IPv6 - customer records in this situation are blank.

Not normally a major problem but for any customers using the eWay payment gateway, this stops customers from making payments as they validate the IP address of th