[2022-04-25 04:22] bhsmither commented on #2980
Also in `SEO->_getCategoryList()`, where `$this->_cat_dirs` receives `false` from `Cache->read()` but later wants to be an array.

Suggest initialize `SEO->_cat_dirs` to an empty array.

[2022-04-25 04:40] bhsmither commented on #2980
And `GUI-listSkins()`.

[2022-04-25 05:34] bhsmither opened #2981 "Use of BOOL for TINYINT Column Type"
In `CubeCart->getDocument()`, near line 155, there is this in the statement:
[code]
The schema for `CubeCart_documents.doc_home` is a data type of `tinyint`. While `true` does resolve to a `non-zero-ish` value (non-strict), there is trouble on the horizon.

PHP 8.1 says: Argument of type bool for ctype_alnum() will be interpreted as string in the future." (This relates to `Database->where()` near

[2022-04-25 05:57] bhsmither opened #2982 "Strict Argument Type"
PHP's `ctype_alnum()`, see:
[code]
there is a note concerning the integer value of the argument being treated in a certain way.

A lot of integers go through `Database->where()` that hit `ctype_alnum()`.

Suggest casting the argument to a string. (PHP 8.1 promises to treat any type as a string.)

[2022-04-25 06:09] bhsmither commented on #2980
Suggest initializing `Category->_category_translations` to an empty array.

[2022-04-25 21:08] bhsmither opened #2983 "Stripslashes With Null Argument"
This is deprecated - unknown for how long it has been so.

There are a few places where an array is passed to `array_walk_recursive()` which will callback `stripslashes()` and `custom_urlencode()`.

In `custom_urlencode()`, there is no check against a `null` being passed in. (See `Database->strip_slashes()`.)

Additionally, in `controller.index.inc.php`, near line 83, there is:
[code]
(which is pr

[2022-04-25 23:45] bhsmither opened #2984 "Use Unknown Variable"
In `Catalogue->imagePath()`, the variable `$image` is initialized only if `$mode` is other than "source", and `if (isset($skins['images'][$mode]))` is true.

However, `$image` is the argument to `filesize()` which is called after the `$mode`'s if/else structure.

Suggest putting the `filesize()` test within and at the bottom of the `if (isset($skins['images'][$mode]))` block.

[2022-04-26 05:09] bhsmither opened #2985 "Null for Non-Nullable Argument"
For PHP 8.1:
See:
[code]
(I like this site!)

Found so far, `database.class.php`, near lines 873 and 926, allows the $subject to be _null_ in `preg_match()`. This is deprecated.

[2022-04-26 05:19] bhsmither commented on #2985
Also, same file, near lines 890 and 949, allows the argument to be _null_ in `strtoupper()`.

[2022-04-26 18:44] bhsmither opened #2986 "Invalid Return Type"
For PHP 8+: (unknown when this actually became an issue)
"Returning bool from comparison function (uasort) is deprecated."

In `function cmpmc()`, a false could be returned. This function is called from various places as a callback to PHP's sorting functions.

In `Catalogue->getProductOptions()`, for example, `$array` is sent for sorting via `uasort()` (near line 1250).

However, `$array` contains

[2022-04-26 19:06] bhsmither commented on #2982
Also `ctype_digit()` in `Database->pagination()`.

[2022-04-26 22:12] bhsmither commented on #2980
Suggest initializing `Cart->basket` and `Cart->basket_data` to empty arrays.

Near line 893, there is:
[code]

[2022-04-27 16:22] abrookbanks commented on #2980
This is all very well but CubeCart isn't going to work on PHP 8.1 at all. I don't see the point in making it 8.0 compatible with we have a huge block at 8.1.

[2022-04-27 17:57] bhsmither opened #2987 "Array Offset on BOOL"
In `User->registerUser()`, near line 844, a query is made that could set `$existing` to `false` - which is good.

However, later near line 921, a test is made on `$existing[0]['type']` which causes PHP to complain:
"Trying to access array offset on value of type bool."

Suggest:
[code]

[2022-04-27 18:07] bhsmither commented on #2980
Well, I am succeeding at making it work on PHP8.1 - fixing errors as they are reported. There are only minor code changes - so far.

Maybe you know something I don't? Maybe discuss this on the forums?

I trust I can read "isn't going to work at all" as actually you **not** shuttering CubeCart when PHP 7.X goes EOL?

[2022-04-27 18:27] bhsmither commented on #2982
In `cubecart.class.php`, near line 854, there is:
[code]
Parameter#2 requires a string. Suggest:
[code]

[2022-04-28 06:56] bhsmither opened #2988 "Strict Argument Type #2"
The database table `CubeCart_option_matrix` has a NOT NULL restriction for the 'options_identifier' column.

Yet, `Catalogue->getProductData()` defaults to _null_ for the optional argument `$options_identifier`.

This _null_ is passed to the where array argument when fetching `$products_matrix_data`.

In `Database->where()`, near line 927, the _null_ is passed into `preg_match()`. PHP throws a mes

[2022-04-28 18:58] bhsmither opened #2989 "Code Check #2: Gallery"
Very minor:

With respect to #2968, the change was made to 'element.product.horizontal_gallery.php'.

The same change could be be made to 'element.product.vertical_gallery.php'.

[2022-04-28 19:25] bhsmither opened #2990 "Code Check #3: Gallery: Wrong Message Displayed"
In 'element.product.vertical_gallery.php', if there are **not more than** one gallery images (that is, `count($GALLERY)` is one, or is false-like), a Smarty `foreach` loop object does **not** get instantiated.

This means, on line 30, `$image` is not created, nor is `$image@total` available.

Thus, the 'tap_gallery' message gets displayed when 'tap_enlarge' is the message that should get displayed

[2022-04-28 20:10] bhsmither opened #2991 "Smarty Syntax Error"
In the template 'element.markup.json-ld.php', please find:
[code]
Apparently, the `date_format` modifier is being applied to only the timestamp integer, thus converting it to a string. After which, then, the statement is wanting to sum the string to `$smarty.now`.

Suggest:
[code]

[2022-04-28 22:00] bhsmither opened #2992 "Third-Party Update: Zurb Foundation"
Suggest updating Zurb's Foundation package to v5.5.3 (currently 5.5.2).

[2022-04-28 23:52] bhsmither commented on #2992
I am also going to test if the latest (v6.7.4) works.

[2022-04-29 23:54] bhsmither opened #2993 "Array Offset on NULL"
When submitting an incorrect email at customer login:

When a login attempt is passed to `User->authenticate()`, the query near line 214 returns false. Also, the query near line 246 returns false.

As such, near line 248, `$user` is false, `$user[0]` is null, and array offset `$user[0]['customer_id']` throws an error.

This _null_ is passed to `Session->blocker()` parameter#2, `$user_id`. It is th

[2022-05-02 23:14] bhsmither opened #2994 "Code Check: Related Products"
In `CubeCart->_displayBasket()`, starting near line 1882, there is the effort to collect products that are 'related'.

First step is to get a list of orders that have the same products as those found in the current order.

Second step is to coalesce a list of the products from all these other orders, **but not to include** in this list any product found in the current order. This list is the 'rela

[2022-05-02 23:15] romanklabal commented on #2977
I believe this check should be removed, otherwise people like [Mr. Pavel](https://en.wikipedia.org/wiki/Pavel_Pavel) will not be able to purchase anything. God forbid he would be sent away without any explanation to Yahoo.

[2022-05-03 02:19] bhsmither commented on #2994
Regarding the second step: not quite completely enforced. If the current order has a product with 'product_id' of 0, then the function `where()` will remove it from the list of 'product_id' values to not look for.

[2022-05-03 04:38] bhsmither opened #2995 "Default Output for No Enabled Gateways"
Minor:

In `CubeCart->_listPaymentOptions()`, if the `$gateways` query returns `false`, and a hook does not add to `$gateways`, there should be no work done, and `false` should be assigned to Smarty's `GATEWAYS` variable.

Also should suppress "Choose Payment Method" is such a case.

Should display a warning banner if no `CHECKOUTS` are being offered as an alternative to no gateways.

[2022-05-03 21:40] bhsmither commented on #2985
Also `ACP->addTabControl()` near line 144, having passed in _null_.

[2022-05-03 21:51] bhsmither commented on #2980
Also `ACP->showNavigation()`, the cache read returns `false`, but later `$navigation` wants to be an array.

[2022-05-04 05:01] bhsmither commented on #2980
Also `Hookloader->scan_all_plugins()`, `$plugins` is initialized `false` but later wants to be an array.

[2022-05-04 05:17] bhsmither commented on #2980
See: https://github.com/cubecart/v6/commit/da5391934952d2220630d10b5698cfe74cd4d2a9
for other variables that got initialized to `false` - that may should have been initialized to an empty array.

[2022-05-05 06:12] bhsmither opened #2996 "Time Display in Upgrade History"
Currently, in maintenance.index.php, near line 172:
[code]
Prefer to use CubeCart's `formatTime()` like many other places in the code.

This easily solves PHP's eventual removal of strftime() also (used by Smarty's date_format modifier, but 'fixed' in Smarty 4).

Suggest in maintenance.index.inc.php:
[code]
And for the skin:
[code]

[2022-05-05 19:05] bhsmither opened #2997 "Code Check: Date Code"
In catalogue.class.php, near line 412, there is:
[code]
`['date_schema']` is used in element..markup.json-ld.php at:
[code]
Is `%G` the actual desired date code? There are the occasions where the ISO 8601 year returned is not the actual year the event happened.

[2022-05-06 06:07] bhsmither commented on #2985
Also, products.coupons.inc.php, near line 183,
[code]
If a manufacturer was not chosen, then a _null_ will be serialized at line 55, and inserted into the database as `N;`.

When unserialized, the _null_ becomes the argument to `array_flip()`. This is a Fatal Error.

[2022-05-09 01:08] bhsmither opened #2998 "Code Check: No Shipping to be Found After Free Shipping Coupon Applied"
In `Cart->discountAdd()`, near line 666, the code will add a "free shipping" coupon to the `basket`, and also unset `basket['shipping']` and `basket['default_shipping_set']`.

On the rebound, at various locations, such as `Cart->_applyDiscounts()`, elements of `$this->basket['shipping']` is used.

Since `$this->basket['shipping']` no longer is set, PHP will complain, and PHP 8 might complain bitte

[2022-05-09 22:47] bhsmither opened #2999 "Third Party Update: Smarty Combine"
Suggest upgrading to the latest version of the Smarty function plugin 'combine'.

See:
[code]

[2022-05-11 05:47] harris-organic commented on #2914
Hi Al,

I have just spoken to my hosting company about the curl requests for PayPal commerce.

As you may remember my control panel is Plesk.

Do you know if the curl requests can be changed at the host end to allow PayPal commerce to work for me?

The hosting company has asked for further information so they may be able to assist.

kindest regards

Duncan Harris

From: Al Brookbanks ***@***.***
S

[2022-05-11 06:21] abrookbanks commented on #2914
The issue you have is caused by the fact that the server doesn't have global public CA certificates installed. Any server administrator should be able to install the latest ones.

[2022-05-11 07:23] abrookbanks opened #3000 "Allow bulk price update tool to set tax rate too"

[2022-05-11 07:23] #3000 closed, assigned to nobody

[2022-05-13 07:34] Noodleyman opened #3001 "Modified Contact->email_content can cause unexpected issues"
modified language string, Contact->email_content.. if by some random chance somebody adds an additional percent symbol (as I found somebody did today) it will prevent the contact form from working entirely.

This is due to:
`$mailer->Body = sprintf($GLOBALS['language']->contact['email_content'], $_POST['contact']['name'], $_POST['contact']['email'], $department, $enquiry);`

An exact number of par

[2022-05-14 06:06] bhsmither commented on #3001
Curious to know what the inadvertent problematic `%-conversion specification` string was.

[2022-05-16 13:56] harris-organic opened #3002 ""continue shopping" and the "empty basket" tabs"
We have noticed that the tabs, "continue shopping" and the "empty basket" tabs disappear at the checkout on a mobile.
![image](https://user-images.githubusercontent.com/13449078/168607891-2ad4329e-5571-40bc-bcd8-d0f4309877ac.png)

![image](https://user-images.githubusercontent.com/13449078/168607977-d7fc880e-fb0e-402b-815d-f679f9eae547.png)

As increasing numbers of customers order on mobile devic

[2022-05-17 14:40] abrookbanks commented on #3001
This customer added ip address to the language string. After upgrade the code went back from:

[code]

To:

[code]

[2022-05-17 17:36] bhsmither commented on #3001
I got caught on that elsewhere. (I forget where.)

I am going to try using Smarty to construct this email body.

[2022-05-18 12:09] abrookbanks opened #3003 "Add Product: Automatically generate product code"
Automatically generate product code needs to uncheck when text is entered in the field.

There is JS to do this but it doesn't appear to work.

[2022-05-18 14:46] abrookbanks opened #3004 "GD->_allocateMemory returns false when memory limit is 1Gb"
It's taken as 1Mb

[2022-05-20 21:12] bhsmither opened #3005 "Smarty Upgrade"
Please upgrade to Smarty 3.1.45.
See:
[code]

[2022-05-24 09:26] abrookbanks opened #3006 "SQL Error on Stats: Best Selling Products"

[2022-05-24 09:31] #3006 closed, assigned to abrookbanks

[2022-05-24 09:34] abrookbanks commented on #3005
Thanks Brian.

[2022-05-24 09:42] #3005 closed, assigned to abrookbanks

[2022-05-24 09:59] #3004 closed, assigned to abrookbanks

[2022-05-24 10:22] #2999 closed, assigned to abrookbanks

[2022-05-25 08:50] #3003 closed, assigned to nobody

[2022-05-25 09:03] abrookbanks commented on #2997
Thanks!

[2022-05-25 09:03] #2997 closed, assigned to abrookbanks

[2022-05-25 15:16] abrookbanks commented on #3001
I can't really see what we can do here. Prior to PHP 8 it will return false on failure but that would need to be coded into the customised code. If the store us upgraded properly keeping the customisation it will work.

[2022-05-25 15:16] #3001 closed, assigned to nobody

[2022-05-25 15:22] abrookbanks commented on #2996
Thanks.

[2022-05-25 15:22] #2996 closed, assigned to abrookbanks

[2022-05-25 15:26] #2993 closed, assigned to abrookbanks

[2022-05-25 16:25] hairy-dog opened #3007 "Language string not editable"
I wanted to change a phrase in the checkout, to make it clearer that you need to register or log in before checkout is available.
A quick search told me that it is checkout/reminder_unpaid_items but that doesn't appear in the list of strings in my languages/checkout section in the editor.
So I looked in the database, and there it is. No problem editing the string in the database, and after a clear

[2022-05-25 16:32] hairy-dog commented on #3002
Disappeared, or just slid below the fold?

[2022-05-26 06:31] abrookbanks opened #3008 "RLIKE - MySQL 8"
https://stackoverflow.com/questions/59998409/error-code-3685-illegal-argument-to-a-regular-expression

e.g. `REGEXP "\\bDVP\\b"`

[2022-05-26 16:46] bhsmither opened #3009 "Misaligned Subjects in Language String"
Please see, regarding language **de-DE.xml**:
[code]

[2022-05-30 13:57] #2995 closed, assigned to abrookbanks

[2022-05-30 14:39] abrookbanks commented on #2987
Thanks. We still have no solution for PHP 8.1 especially with 3rd party extensions coded the same way.

I fear there is no way ahead.

[2022-05-30 14:39] #2987 closed, assigned to abrookbanks

[2022-05-31 14:34] abrookbanks commented on #2975
Well I was wrong. My local dev environment is now PHP 8.1 and it's working. Working my way through these..

[2022-05-31 14:49] abrookbanks opened #3010 "PHP 8.1 - FILTER_SANITIZE_STRING deprecated"

[2022-05-31 14:50] #2975 closed, assigned to abrookbanks

[2022-05-31 14:50] #3010 closed, assigned to abrookbanks

[2022-05-31 14:52] abrookbanks opened #3011 "PHP 8.1 - Function strftime() is deprecated"

[2022-05-31 15:26] abrookbanks commented on #3011
This is a ballache.

[2022-05-31 17:13] #3011 closed, assigned to abrookbanks

[2022-06-01 16:33] #2991 closed, assigned to abrookbanks

[2022-06-01 16:34] abrookbanks commented on #2991
thanks

[2022-06-03 22:50] bhsmither opened #3012 "Wrong Variable Name"
In PayPal Commerce, `/hooks/controller.index.php`, as detailed at:
[code]
(thankyou ChrisColeman), there is:
[code]
where $skin`  should be used in the following `if` block where `$skins` appears.

Additionally, `$skin['name']` is not available, rather `$skin['info']['name']` should be used.

[2022-06-04 17:57] ChrisNColeman commented on #3012
Hi,

      A confession ..

Even though there is an error as reported - That was not the cause of my problem.

The skin I'm using does not use JQUERY, I'm not a fan.

It has worked without issue for 5+ years.

Anyway it turns out that paypal_commerce has a dependency on a jQuery file being present in the currently active skin (??).

So that's it I replaced a JQUERY file into my skin and it now wor

[2022-06-04 19:51] hairy-dog commented on #3012
I prefer to avoid jQuery too. Sadly, it's stuff like postcode lookup or payment methods that you have to accept other people's code for. Those other people assume that jQuery is already there.

[2022-06-05 12:52] ChrisNColeman commented on #3012
Hi Hairy-Dog,
                    yes I must agree - I was able to remove the jquery  for the postcode lookup too - It was a bit hairy to start and maybe not worth the effort, but no more jquery in my skin (well skins actually) - result !

Hell, I'm off-topic again ..

[2022-06-07 02:35] bhsmither commented on #2708
If you haven't seen it yet, I've compiled a report on everything (as of that date) I have found to change for PHP8.1:
[code]

[2022-06-07 05:34] bhsmither opened #3013 "Per_Cat Activated When Not Needed"
In `cart.class.php`, near line 737, `Per_Category_Line` is instantiated. The `__construct()` method executes.

The value `$this->_basket['delivery_address']['country_iso']` is assigned to `$iso`.

There is a case where there may not be a 'delivery_address' available in the basket. If not, PHP complains about an undefined array key, followed by trying to access array offset on value of type null.

[2022-06-07 05:56] bhsmither commented on #3013
Somewhat related, in `cart.class.php`, lines 113 and 742 gets a value for `$tax_on`. Lines 114 and 745 tests for it's presence in `$this->basket[$tax_on]`.

But lines 896, 927, 1083 do not. PHP will complain.

[2022-06-07 06:30] Noodleyman opened #3014 "PayPal Commerce - PayPal takes priority after login but should offer standard gateway selections"
If a store has multiple gateways, for example Print Order Form, PayPal Commerce, SagePay, WorldPay then those payment methods are offered via checkout as a selection.

If you are logged in as a customer, add items and go to checkout you are offered the choice of Gateways.

However, if you are not logged in, add items.. go to checkout and then login you are redirected directly to index.php?_a=gatew

[2022-06-07 06:43] Noodleyman opened #3015 "PayPal Commerce - Priority setting is missing within module config"
As per title, the ability to define priority is not available within the module itself.,

Specifically the setting which would update CubeCart_modules.position

[2022-06-07 06:48] abrookbanks commented on #2708
No I hadn't seen this. Thank you so much Brian. It will be a big help.

[2022-06-10 09:44] abrookbanks commented on #2708
Thanks Brian. You put a lot of work into this. Some of it had been done already. :)

The following block still needs attention. I have concerns about customisations especially around combine and minification ....
[code]

[2022-06-10 13:21] abrookbanks commented on #2708
All seems to be working well. Thank you boss!

[2022-06-10 13:34] abrookbanks commented on #2708
Closing this as everything appears to be working fine. Although closed the error log will be continually monitored and any 8.1 compatibility changes made accordingly.

[2022-06-10 13:34] #2708 closed, assigned to abrookbanks

[2022-06-10 13:56] abrookbanks commented on #3015
Thanks Alec. Done with 1.6.3.

[2022-06-10 13:56] #3015 closed, assigned to nobody

[2022-06-10 13:58] abrookbanks commented on #3014
Does 1.6.3 fix this?

[2022-06-10 16:53] bhsmither commented on #2708
In my report, I changed gui.class.php, line 361:
[code]
I find that in some cases, `$_GET['_a']` is not set - viewing the homepage, for example. The change in given in the report causes `displaySideBasket()` to not be executed.

There needs a different solution here. This seems to work:
[code]

[2022-06-13 07:29] Noodleyman commented on #3015
Cheers.

[2022-06-13 10:32] abrookbanks commented on #2708
Cool thanks so much for this.

[2022-06-13 12:10] abrookbanks commented on #3013
As far as I can see $tax_on should be set in those locations. Keeping an eye on the error log...

[2022-06-13 12:10] #3013 closed, assigned to abrookbanks

[2022-06-13 12:54] #3014 closed, assigned to nobody

[2022-06-13 14:55] #2989 closed, assigned to abrookbanks

[2022-06-13 14:57] abrookbanks commented on #2988
Covered in #2708

[2022-06-13 14:57] #2988 closed, assigned to abrookbanks

[2022-06-13 15:03] abrookbanks commented on #2984
Thanks.

[2022-06-13 15:03] #2984 closed, assigned to abrookbanks

[2022-06-13 15:04] abrookbanks commented on #2980
I believe this is resolved as part of #2708

[2022-06-13 15:04] #2980 closed, assigned to abrookbanks

[2022-06-13 15:06] abrookbanks commented on #2981
Resolved as part of #2708 Thanks!

[2022-06-13 15:06] #2981 closed, assigned to abrookbanks

[2022-06-13 15:14] abrookbanks commented on #2985
This seems to be fixed in #2708 (unless I missed one)

[2022-06-13 15:14] #2985 closed, assigned to abrookbanks

[2022-06-13 15:16] abrookbanks opened #3016 "mysqli.class.php:174 - stripslashes(): Passing null to parameter #1 ($string) of type string is deprecated"

[2022-06-13 15:16] #3016 closed, assigned to abrookbanks

[2022-06-13 15:18] abrookbanks opened #3017 "order.class.php:349 - str_replace(): Passing null to parameter"

[2022-06-13 15:25] #3017 closed, assigned to abrookbanks

[2022-06-14 08:05] abrookbanks commented on #2990
Thanks!

[2022-06-14 08:05] #2990 closed, assigned to abrookbanks

[2022-06-14 08:09] abrookbanks commented on #2983
Pretty confident this has now been covered. Thanks.

[2022-06-14 08:09] #2983 closed, assigned to abrookbanks

[2022-06-14 08:18] abrookbanks commented on #2994
Thanks again Brian. This code change was already present. Thorough work here.. much appreciated.

[2022-06-14 08:18] #2994 closed, assigned to abrookbanks

[2022-06-14 08:30] abrookbanks commented on #3012
Thanks guys.

[2022-06-14 08:30] #3012 closed, assigned to abrookbanks

[2022-06-14 08:47] abrookbanks commented on #3009
Fixed with 2.0.1. Thanks.

[2022-06-14 08:47] #3009 closed, assigned to abrookbanks

[2022-06-14 09:09] abrookbanks commented on #2982
Fixed as part of #2708 already.

[2022-06-14 09:09] abrookbanks commented on #2982
Thanks.

[2022-06-14 09:09] #2982 closed, assigned to abrookbanks

[2022-06-14 09:17] abrookbanks commented on #2937
Thanks. This has been resolved already in 6.4.4 I believe.

[2022-06-14 09:17] #2937 closed, assigned to abrookbanks

[2022-06-14 09:28] abrookbanks commented on #2923
Thanks again Brian!

[2022-06-14 09:28] #2923 closed, assigned to abrookbanks

[2022-06-14 09:47] abrookbanks commented on #2922
Fixed for good practise whether bug or not.

[2022-06-14 09:47] #2922 closed, assigned to abrookbanks

[2022-06-14 12:27] abrookbanks commented on #2973
Happy to look again once we have steps to reproduce.

[2022-06-14 12:27] #2973 closed, assigned to nobody

[2022-06-14 12:31] havenswift-hosting commented on #2973
I did offer you admin and file access to this site so you can see it for yourself.  This is happening using core CubeCart and foundation skin

[2022-06-14 12:32] abrookbanks commented on #2973
I haven't been able to reproduce it.

[2022-06-14 12:53] #2978 closed, assigned to abrookbanks

[2022-06-14 13:15] #2979 closed, assigned to abrookbanks

[2022-06-14 13:25] havenswift-hosting commented on #2973
Probably just means that something in the two environments is different but as I have said this is core CubeCart with almost no plugins so a "custom" site cant be blamed

[2022-06-14 13:26] abrookbanks commented on #2973
I do believe you. :)

[2022-06-14 13:54] havenswift-hosting commented on #2973
Well the offer is still there and would cheer up a very unhappy customer

[2022-06-14 14:46] abrookbanks commented on #2973
I don't need an offer. I need clear steps to reproduce the issue. I haven't been given this which makes it absolutely impossible to look into.

[2022-06-14 14:57] abrookbanks commented on #2914
I don't know why I reopened this as the initial issue appears resolved. @harris-organic was resolved with an OS update.

[2022-06-14 14:57] #2914 closed, assigned to abrookbanks

[2022-06-14 15:12] abrookbanks commented on #2905
Sorry but I don't follow this one. What is the problem and how can it be reproduced?

[2022-06-14 15:20] abrookbanks commented on #2911
Thanks.

[2022-06-14 15:20] #2911 closed, assigned to abrookbanks

[2022-06-14 15:36] abrookbanks commented on #2901
It would probably make more sense to detect. If the format is traditional we know where to look. If not we try new.

[2022-06-14 15:37] #2901 closed, assigned to abrookbanks

[2022-06-15 01:50] bhsmither commented on #2708
Please note a second report has been posted to the forum with some additional findings.
[code]

[2022-06-16 07:06] harris-organic commented on #3002
I reckon It has slipped below the fold.
As a pretty standard Foundation page, does anyone else see this?
The elements on google developer dont change when switching from PC to mobile.
<div class="clearfix" id="checkout_actions">  etc..

[2022-06-16 07:28] harris-organic commented on #2603
A content Page, ie a description tab, so more information can be provided to the customer instead of adding text through the language file.

Is it possible to add a description tab to use a rich text editor in the gift card section?

I would rather use the editor than write into the 'definitions.xml' every time I need to change the description.

Images: Even though images are defined, the image do

[2022-06-20 09:04] #2376 closed, assigned to abrookbanks

[2022-06-20 15:15] abrookbanks commented on #2543
I don't think this is relevant anymore since https://github.com/cubecart/v6/issues/2948

[2022-06-20 15:15] #2543 closed, assigned to nobody

[2022-06-20 15:36] abrookbanks opened #3018 "`CubeCart_request_log`.`time` requires an index"

[2022-06-21 08:56] #3018 closed, assigned to abrookbanks

[2022-06-21 13:21] abrookbanks opened #3019 ""No index used in query/prepared statement""
SELECT * FROM `CubeCart_hooks` WHERE `CubeCart_hooks`.`enabled` = '1' ORDER BY `priority` ASC ;

Relates to line 446 of classes/hookloader.class.php

I can't find any fault here.

[2022-06-21 13:22] abrookbanks commented on #3019
Reproducible just by turning debug mode on.

[2022-06-21 13:37] havenswift-hosting commented on #3019
Need an index on "priority" column - any column in a WHERE, ORDER BY, GROUP BY etc needs to have an index

[2022-06-21 13:39] abrookbanks commented on #3019
You'd think... makes no difference. Changing to varchar(1)  also makes no difference.

[2022-06-21 13:41] abrookbanks commented on #3019
Urgh.. it was totally unrelated. Ignore me.. I think I need to go back to the pub.

[2022-06-21 13:41] #3019 closed, assigned to nobody

[2022-06-21 13:42] havenswift-hosting commented on #3019
Still good to add that index though

[2022-06-21 13:42] abrookbanks opened #3020 "mysqli.class.php:225 - Cannot use a scalar value as an array"

[2022-06-21 13:45] #3020 closed, assigned to abrookbanks

[2022-06-22 12:11] #2934 closed, assigned to abrookbanks

[2022-06-26 09:10] harris-organic opened #3021 "Packaging shipping weight is not shown in the total weight with AIOS."
"At the check out the packaging shipping weight is not shown in the total weight." with 1.0.24
Bsmithers quote
"In the AIOS shipping class file, the basket details are copied into the class's parameters so that the class can incorporate the total product weight, basket sub-total, and count the number of products (optionally not count digital items).

What will need to happen is for the shipping mo

[2022-06-26 11:02] hairy-dog commented on #3021
In other (using other platforms) stores I maintain, the basket has a weight, which is the weight of the individual items, plus a fixed amount (a store-wide setting) plus a small percentage (also a store-wide setting) of the total weight of the products in the basket. Once set up, this works very well most of the time.

[2022-06-26 13:38] harris-organic commented on #2513
Thats great Brian,
I note that the selected image does not show on the gift cards page.

[2022-06-26 19:39] bhsmither commented on #2513
Correct. I believe there never was the intent to have an image show on the GC order page - although it is easy enough - so perhaps an oversight?

The only code I find that uses the image assigned to the GC is for a checkout/gallery-sized image seen in the list of products in the shopping basket at checkout.

[2022-06-27 07:27] #2921 closed, assigned to abrookbanks

[2022-06-28 16:27] claudia39 commented on #2959
Have you decided not to add the PayPal button to the product page?

[2022-06-29 08:09] abrookbanks commented on #3002
I believe they are set to not show on small devices. The customer can remove each basket item individually and click the logo at the top of the page to return to the homepage. Obviously on small devices space is an issue.

I suppose it may be possible to solve by showing just the icon without text for home and empty basket.

I'll experiment.

[2022-06-29 08:36] abrookbanks commented on #3002
<img width="405" alt="Screenshot 2022-06-29 at 09 36 15" src="https://user-images.githubusercontent.com/4520803/176391702-15ea2199-cc0f-45bb-a5bd-ee00419564d2.png">

[2022-06-29 08:38] #3002 closed, assigned to abrookbanks

[2022-06-29 10:49] rbosma opened #3022 "FREQ - Option to exclude categories from a shipping option in AIOS"
Would be nice to have an option in AIOS te exclude some categories from a shipping option in AIOS..
As a store wich ship out orders nationwide..
And also frozen products only in our county...
We're having issues with customers ordering frozen products who aren't living in the county...

Eventhoug we have a small comment in the shipping line (Don't use this if your utside the county)

[2022-06-29 13:55] harris-organic commented on #3002
Thanks Al,

Will that come with 6.4.6?

[2022-06-29 14:00] abrookbanks commented on #3002
It will indeed. :) Thanks for your kind patience.

[2022-06-30 09:00] abrookbanks commented on #2992
I'm struggling to even get hold of the packages. I think ours has been customised so those customisations need to be pulled out first.

[2022-06-30 09:08] rbosma commented on #2435
Maybe a bit related with the issue
 https://forums.cubecart.com/topic/57133-zero-stock-but-still-being-ordered/#comment-250069

[2022-07-04 07:46] #2919 closed, assigned to abrookbanks

[2022-07-04 15:36] abrookbanks commented on #2915
Got there eventually!!

[2022-07-04 15:36] #2915 closed, assigned to abrookbanks

[2022-07-04 16:58] tonyrsutton commented on #2915
Yay! Thank you. :)

[2022-07-06 08:20] abrookbanks commented on #3007
Good find. Thanks for this.

[2022-07-06 08:20] #3007 closed, assigned to abrookbanks

[2022-07-06 08:43] abrookbanks commented on #2951
<img width="725" alt="Screenshot 2022-07-06 at 09 43 08" src="https://user-images.githubusercontent.com/4520803/177509146-1b99deb7-18b7-4a91-806e-c0ff2cbd1f1c.png">

[2022-07-06 08:44] #2951 closed, assigned to abrookbanks

[2022-07-06 08:49] abrookbanks commented on #2947
Closing as a feature request to be assigned a milestone later. This is a good one.

[2022-07-06 08:49] #2947 closed, assigned to nobody

[2022-07-06 08:51] tonyrsutton commented on #2951
You da man, thank you.

[2022-07-06 08:51] abrookbanks commented on #2951
Thanks for your patience!! I need more of me.

[2022-07-06 10:28] abrookbanks commented on #2730
I believe this issue is now resolved.

[2022-07-06 10:28] #2730 closed, assigned to nobody

[2022-07-06 10:35] #2675 closed, assigned to abrookbanks

[2022-07-06 10:50] #2503 closed, assigned to abrookbanks

[2022-07-06 10:51] #2625 closed, assigned to nobody

[2022-07-06 10:52] #2453 closed, assigned to nobody

[2022-07-06 14:05] abrookbanks commented on #2992
I can't really come across a good way to do this. The current version seems very stable.

[2022-07-06 14:05] #2992 closed, assigned to nobody

[2022-07-06 14:06] abrookbanks commented on #2812
Already resolved.

[2022-07-06 14:06] #2812 closed, assigned to nobody

[2022-07-07 09:07] abrookbanks commented on #2963
This is a significant improvement and puts the client to work instead of repeat lookups.

[2022-07-07 09:07] #2963 closed, assigned to abrookbanks

[2022-07-07 10:07] #2935 closed, assigned to nobody

[2022-07-07 12:27] abrookbanks commented on #2878
Thanks

[2022-07-07 12:27] #2878 closed, assigned to abrookbanks

[2022-07-07 13:55] abrookbanks commented on #2933
If no main image is assigned it will just take the first one and show the remainder in the gallery. On these grounds that merchant will see the current setup and be able to edit the master image if they want to. I don't think anything needs changing. Screenshot attached shows the behaviour if main_img is set to 0 for all assigned images.

The merchant should only think it's not right and edit acco

[2022-07-07 13:56] #2933 closed, assigned to abrookbanks

[2022-07-07 14:05] abrookbanks commented on #2868
Thanks!

[2022-07-07 14:05] #2868 closed, assigned to abrookbanks

[2022-07-07 14:09] abrookbanks commented on #2916
More complexities come into play when the product dimensions are eventually passed to a shipping provider. One unit works for that but not a mixture. Holding for now but totally understand all the arguments here.

[2022-07-07 14:09] #2916 closed, assigned to nobody

[2022-07-08 10:33] abrookbanks commented on #2912
Thanks

[2022-07-08 10:33] #2912 closed, assigned to abrookbanks

[2022-07-08 11:16] abrookbanks commented on #2840
Workarounds are fine by me but I changed the function name to init.

[2022-07-08 11:16] #2840 closed, assigned to abrookbanks

[2022-07-08 12:55] abrookbanks opened #3023 "Relates to #2714 - No message on redirect"
On first clone it takes you to settings with no explanation.

[2022-07-08 12:57] #3023 closed, assigned to abrookbanks

[2022-07-08 13:03] abrookbanks commented on #2714
I can't reproduce this and the changes for last_insert ID should stabilise this further. I will reopen if the issue persists with 6.4.6. Thanks guys. I'm so behind with maintenance but on it while I can.

[2022-07-08 13:03] #2714 closed, assigned to nobody

[2022-07-08 13:29] abrookbanks commented on #2766
Good find. Thanks!

[2022-07-08 13:29] #2766 closed, assigned to abrookbanks

[2022-07-08 14:08] abrookbanks commented on #2863
Thanks!

[2022-07-08 14:08] #2863 closed, assigned to abrookbanks

[2022-07-08 15:12] abrookbanks commented on #2717
Works well. Thanks.

[2022-07-08 15:12] #2717 closed, assigned to abrookbanks

[2022-07-13 15:32] bhsmither opened #3024 "Misaligned Subjects in Italian Pack"
With respect to #3009, see also:
[code]
The it-IT language pack.

[2022-07-14 14:25] abrookbanks commented on #2959
Working on this today...

[2022-07-14 14:25] abrookbanks commented on #2959
<img width="745" alt="Screenshot 2022-07-14 at 15 25 30" src="https://user-images.githubusercontent.com/4520803/179005824-1507fdfa-7f6d-4510-8ee0-1829e42ce075.png">

[2022-07-18 13:25] abrookbanks commented on #2959
All done. Please use the 1.7.0 version upwards.

[2022-07-18 13:25] #2959 closed, assigned to abrookbanks

[2022-07-18 15:57] claudia39 commented on #2959
Yeah!  Thank you!

[2022-07-18 16:07] abrookbanks commented on #2959
Let me know how you get on.

[2022-07-18 16:31] claudia39 commented on #2959
I tried it and this is what I get – See attached file.  I know before this version if I enabled the buy later message on the product page, the message showed many times.  Also in the current version the PayPal button doesn’t show on the product page unless I had the buy later message enabled – and it still shows many times.  Also any way to have Venmo optional along with the buy later message?

Fr

[2022-07-18 17:27] abrookbanks commented on #2959
I don't see an attached file. Can you email support@cubecart.com with the attached files and access to the files? Thanks.

[2022-07-20 12:12] havenswift-hosting opened #3025 "Feature Request : In Bulk Product Price Change include any customer groups"
As above : many people use customer groups as these are not included in this very useful utility

[2022-07-25 09:10] bhsmither opened #3026 "Best Sellers Box Has Stale Hide Prices Setting"
Set the store setting to "Hide prices until logged in". Clear Cache. Log out as admin.

Visit the storefront as a visitor. Note the prices are hidden.

Log in. Note the prices are visible, but for Best Sellers are still hidden.

Clear Cache (?debug-cache-clear=true). Note all prices are visible.

Log out. Note the prices are hidden, but for Best Sellers are still visible.

[2022-07-25 16:35] bhsmither commented on #3026
The situation seems to be that `GUI->_displayPopularProducts()` uses a cached array of product details if a cache file exists: `hash.popular_products.lang.cache`.

This cache file contains prices (and many other details, including which actual products are most popular at any given moment) that were relevant to the specific customer group or visitor when the details were cached immediately after h

[2022-07-26 17:10] havenswift-hosting opened #3027 "Basket doesnt set digital_only flag initially"
The digital_only variable within the basket is only set if all items are digital and otherwise is undefined. Can this be set to false  (0) and then set to true if the condition is met

[2022-07-27 14:54] #3027 closed, assigned to nobody

[2022-08-04 11:59] sumwonlost opened #3028 "Best Sellers - currency not changing"
When I change currency, products in Best Sellers box do not change currency

[2022-08-04 20:21] tonyrsutton commented on #3028
Have you tried clearing the cache within the Admin console?

[2022-08-05 01:03] sumwonlost commented on #3028
When USER change currency (front-end), everything changes except Best Sellers.  Nothing to do with clearing cache.

[2022-08-05 01:46] sumwonlost opened #3029 "Logout skin issues"
Eg.  If a store has 2 skins (foundation & xyz).  In Admin, Foundation is set as main skin and allow Everyone to change skin.

In frontend, if Customer change skin to XYZ and then Login, when they logout it revert to the Foundation skin and not the skin the Customer selected (XYZ).

It isn't a XYZ skin issue as same applies vice-versa

[2022-08-05 02:09] sumwonlost opened #3030 "Cart totals after Customer logout"
If Customer (logged-out) and Add to Cart, the amount display (next to cart icon), when Customer Log-in) it also display.  Now Customer decides to Logout, it no longer display, but if Customer Log-in again, it display again.

It need to display again even if Customer decides to Logout as items are still in Cart

[2022-08-05 17:46] bhsmither commented on #3028
Duplicate of #3026.

[2022-08-05 17:57] bhsmither commented on #3030
When the customer *logs out* (and this applies to the admin logging out as well), CubeCart *destroys* the cookie-based _session_. Thus, there is no way for CubeCart to know who is actually visiting the store (and using the IP address is not a reliable method of session persistence) because the cookie being used will be different.

CubeCart does save the logged-in customer's shopping basket in the

[2022-08-05 18:00] bhsmither commented on #3029
When the customer *logs out* (and this applies to the admin logging out as well), CubeCart *destroys* the cookie-based *session*. Thus, there is no way for CubeCart to know who is actually visiting the store. The skin the customer has chosen to see is saved as an element of the session data.

[2022-08-05 23:48] bhsmither opened #3031 "Coupon Maxed Out at Checkout Error Clarification"
When a coupon has reached its overall maximum usage, and when the coupon has been used for the maximum number of times per customer, the error message is the same.

Suggest that the phrase,
[code]
Or,
[code]

[2022-08-07 14:42] sumwonlost commented on #3030
Thanks for explanation.  Ok.  If customer comes back after 2 days and login, items are in basket.  However if customer firstly adds more items to cart then login, only the last items display in cart and not others previously added.  It should display all items until customer removes them.

[2022-08-07 14:59] sumwonlost commented on #3029
I've been away for past 4 yrs and had no involvement with CC, I have to check but sure it was working correctly in previous versions CC5 - CC6.2.  When Customer logged out it displayed the selected skin and not default store skin.

[2022-08-07 15:09] sumwonlost commented on #3028
Thanks for bringing it to my notice, however as I said I have been away for 4 yrs and it was an issue then.  It took that long for somebody to find it?  How many CC users are there, especially those that provide hosting that one of their users did not bring it to their attention earlier?

[2022-08-07 15:09] #3028 closed, assigned to nobody

[2022-08-08 09:23] abrookbanks commented on #3029
It did behave differently in past versions but there was good reason for this change. As far as I'm concerned it's behaving appropriately. A log out should fully log the session out.

[2022-08-08 09:23] #3029 closed, assigned to nobody

[2022-08-08 09:23] #3030 closed, assigned to nobody

[2022-08-08 11:49] abrookbanks commented on #3031
Thanks for this.

[2022-08-08 11:49] #3031 closed, assigned to abrookbanks

[2022-08-08 13:29] #3025 closed, assigned to nobody

[2022-08-09 04:36] bhsmither opened #3032 "Per-User Coupon Not Specified When Checking for Previous Usage"
See:
https://forums.cubecart.com/topic/57956-coupon-limit-per-customer-apparently-counting-before-checking/

CubeCart queries for records from `CubeCart_customer_coupon`, requesting the `used` value, where the `email` or `customer_id` matches the logged in customer.

The problem here is that the query does not specify *which* coupon is being tested for. Thus, if the customer has used *any* coupon

[2022-08-10 08:01] Noodleyman opened #3033 ""Authorize.net Accept Hosted" - Uncaught SyntaxError: Invalid or unexpected token (at payment:24:842)"
As part of building the checkout form, var g_pageOptions pulls in the store name.

However, should the store name contain quotes... for example Chris' then this Gateway does not work.

Special characters / quotes need to be handled, currently they are not.

[2022-08-10 10:42] abrookbanks commented on #3033
Where is `var g_pageOptions`? I searched but I can't find it.

[2022-08-10 10:50] abrookbanks opened #3034 "6.4.6 - Min PHP version seems to be 7.1"
Version requirements need updating.

**PHP 7.0**

[2022-08-10 11:00] Noodleyman commented on #3033
In the JS via checkout. add a single quote to the store name.

then go via checkout. The form itself won't load properly, it's on that page in the souce.

[2022-08-10 11:00] Noodleyman commented on #3033
as in... go rought through the checkout process to the step that should take payment. that form is unable to load.

[2022-08-10 23:36] bhsmither opened #3035 "Code Check: Database Call Syntax"
See:
[code]
These database calls do not look like any other database call syntax:
[code]

[2022-08-11 02:28] sumwonlost commented on #3029
Assume store has 4 different skins and customer is comfortable using 1 (not default) and use it without issue whether logged out or in but when logout it reverts to default, seems stupid that they now have to change skin again.

Furthermore, if customer leave site then come back, they should come back to their selected skin.  This aspect of the cookie should not be destroyed.

[2022-08-11 02:41] bhsmither opened #3036 "Function strftime() Placeholder Codes Used in Template File"
For Foundation, request that the template `element.markup.json-ld.php` use the `date()` placeholder codes.

Currently, near column 2625, the `%` codes are used.

[2022-08-11 03:50] bhsmither opened #3037 "Better Logical Expression"
In `cubecart.class.php`, near lines 1199-1209, the logical expressions might not evaluate to what is wanted.

There is: `A && B || C`. `A` can falsify `A && B`, but PHP will still attempt to evaluate `C`, and in so doing will complain that `$this->_basket['billing_address']['estimate']` is accessing an offset on null.

Suggest: `A && (B || C)`.
[code]

[2022-08-11 12:55] abrookbanks commented on #3036
I've actually removed this attribute as I don't think it's needed. It's certainly optional and we don't really have the right to suggest it's five months.

[2022-08-11 12:55] #3036 closed, assigned to abrookbanks

[2022-08-11 13:00] #3034 closed, assigned to abrookbanks

[2022-08-11 13:03] abrookbanks commented on #3037
Good find. Thank you.

[2022-08-11 13:03] #3037 closed, assigned to abrookbanks

[2022-08-11 13:06] abrookbanks commented on #3035
Thanks Brian.

[2022-08-11 13:07] #3035 closed, assigned to abrookbanks

[2022-08-11 13:36] abrookbanks commented on #3033
Thanks for this. It's fixed with 1.0.8.

[2022-08-11 13:36] #3033 closed, assigned to nobody

[2022-08-11 13:37] Noodleyman commented on #3033
Cheers :)

[2022-08-12 12:00] tvvault opened #3038 "payment gatways no longer working after update"
when customers pay and select card it now comes up with

Many thanks for your order! The order status is currently pending but it will automatically update to processing once payment is confirmed. Normally this is automated and will happen within the hour but please do contact us if you require more information.

with no option to even pay by stripe

[2022-08-12 12:04] tvvault commented on #3038
even the text is now missing Pay with Debit and Credit Card

[2022-08-12 15:13] tvvault commented on #3038
update after a few tests ALL payment gateways are not working tried them all

when customer hits secure checkout they are kicked straight to pending offering no payment gateways at all

[2022-08-12 18:08] bhsmither opened #3039 "Duplicated Modules"
Somewhere not yet found, when bringing up a module for editing the settings, a new instance of the record appears in the database table `CubeCart_modules` when the settings are saved.

(This may be the cause of #3038. Nope. It's not. Well, maybe. I had to clear the cache.)

[2022-08-12 20:38] bhsmither commented on #3039
An edit made for CC646 in /classes/module.class.php, near line 454, there is:
[code]
At this point in the code, `$xml->info` is not an array, but rather an XML object.

Therefore, the population of `$this->_info` does not happen and all sorts of mayhem ensues.

Suggest:
[code]

[2022-08-12 20:45] bhsmither commented on #3039
Also, in this file, at line 41, suggest:
[code]

[2022-08-12 21:10] bhsmither commented on #3039
The store admin will need to use an external database utility to delete the duplicate rows in the database table `CubeCart_modules`.

[2022-08-12 21:28] tvvault commented on #3039
i have done the changes and still the same problem please fix this

please bear in mind that when you release something to public and break my cubecart it affects my livlyhood

[2022-08-12 21:30] tvvault commented on #3039
when the customer goes to checkout the Choose Payment Method is now blank with nothing to show therefore every cutsomer who has visited my site cannot pay for anything since this update

[2022-08-12 21:33] tvvault commented on #3038
does not fix it at all please note your update has now killed my shops earnings

[2022-08-13 09:16] bhsmither opened #3040 "Exception on Missing Function"
In `/setup/index.php`, near line 270, a test is made if either `mysqli` or `mysql` extensions are loaded.

But so what?

If neither are installed, then lines 271 and 272 calls a non-existent function, which crashes PHP. One is left clueless as to whether an extension(s) is installed.

Suggest:
[code]

[2022-08-13 19:53] ahrwh commented on #3039
Having the same problem.

[2022-08-14 01:10] bhsmither opened #3041 "Store Collection: No Such Variable"
Of the Store Collection shipping module, there are references to the `$this->_settings['trigger']` variable that does not exist.

[2022-08-14 01:47] bhsmither opened #3042 "No Such Variable"
Minor:

In `cubecart.class.php`, near line 1751, a reference is made to `$data['tax_inclusive']` which may not exist.

Suggest:
[code]

[2022-08-14 02:26] bhsmither commented on #3042
In `tax.class.php`, depending on `productTax` argument `$tax_inclusive`, near line 106, either `$this->_tax_table_inc[$tax_id]` or `$this->_tax_table_add[$tax_id]` may not exist.

Suggest:
[code]

[2022-08-14 07:28] bhsmither opened #3043 "Code Check: Unset Variable"
Minor:

In `CubeCart->_listPaymentOptions()`, lines 2292-2293, suggest they are coded the same as the (semi-deprecated) `CubeCart->_displayGateways()`, lines 2036-2037.

[2022-08-14 08:39] bhsmither commented on #3043
Also, in `Order->orderStatus()`, in the `case self::ORDER_PROCESS`, the variable `$complete` comes into existence only here.

Near the end of the method, there is a test for `$complete` which will not exist for any other case.

Suggest:
[code]

[2022-08-14 09:48] abrookbanks commented on #3039
We've had to make significant updates to get CubeCart working with PHP 8. Sadly often bugs only come to light with real world testing. This is one of those cases. Fortunately this is a full time business and we are working on this on a Sunday.

It will be promptly patched and fixed most likely tomorrow.

[2022-08-14 10:00] bhsmither opened #3044 "$_SERVER and $_ENV Arrays or Their Elements May Be Not Set"
See:
[code]
I was tracking down some very odd error messages and discerned that some or all of the $_SERVER array was not set.
[code]
and numerous others.

I do not know what CubeCart can do to get these variables "just-in-time" set. I would think using them as arguments to a function would do it, but apparently not. (re: `Session->_http_user_agent()`)

They are read in `ini.inc.php` -- so I don't

[2022-08-14 10:29] abrookbanks commented on #3039
SimpleXMLElement is returning a different data structure with PHP 8 as far as I can see. Reiterating though the returned XML object is not the same now!

[2022-08-14 10:31] abrookbanks commented on #3039
Any XML value with `<![CDATA[ ]]>` wrapper is handled differently. This could be a PHP bug...

[2022-08-14 10:41] abrookbanks commented on #3039
See this example form the free shipping config xml file. The CDATA values are returned as empty objects.
[code]
[code]

[2022-08-14 10:50] abrookbanks commented on #3039
Please find patch above. Please make the code amendments and run the following SQL query:

[code]

[2022-08-14 11:17] abrookbanks opened #3045 "Payment options not listing on checkout pages"

[2022-08-14 11:31] #3045 closed, assigned to abrookbanks

[2022-08-14 11:41] abrookbanks commented on #3039
@tvvault

This is a different issue. Please see https://github.com/cubecart/v6/issues/3045

[2022-08-14 12:30] ahrwh commented on #3039
No problem, Al. I know and trust the dedication of you and your team. And I think you know that the “please bear in mind…” comment below was not from me.

Bill Ahrens

From: Al Brookbanks ***@***.***>
Sent: Sunday, August 14, 2022 4:49 AM
To: cubecart/v6 ***@***.***>
Cc: ahrwh ***@***.***>; Comment ***@***.***>
Subject: Re: [cubecart/v6] Duplicated Modules (Issue #3039)

please bear in mind that w

[2022-08-14 15:44] bhsmither commented on #3039
"SimpleXMLElement is returning a different data structure with PHP 8"

I cannot concur. The language files are still loading.

[2022-08-15 08:59] #3040 closed, assigned to abrookbanks

[2022-08-15 09:06] abrookbanks commented on #3044
Thanks Brian. This is one I'll keep an eye on for now. I don't think a .user.ini file will work as many merchants will already have customised ones unless it checks for one first and can write to it or give a warning to add this.

[2022-08-15 09:08] abrookbanks commented on #3039
Well it does seem to be but I totally see where you are coming from. I had to add flags to the class constructor to get the CDATA libs to load. The patches work well but I may have overlooked something else.

[2022-08-15 09:08] #3039 closed, assigned to abrookbanks

[2022-08-15 09:10] #3038 closed, assigned to nobody

[2022-08-15 09:11] abrookbanks commented on #3038
@tvvault - I'd suggest restoring a backup until the new release is ready.

[2022-08-15 16:52] bhsmither commented on #3044
I think I narrowed the source of what causes the `Undefined array key "HTTP_USER_AGENT"` message.

I use the "Payment Test Gateway" which makes a CURL post to `_g=rm&type=gateway&cmd=process&module=Payment_Test_Gateway`.

The CURL post does not include setting the HTTP_USER_AGENT header item (or *any* header item).

[2022-08-19 01:32] bhsmither opened #3046 "Code Check: Stripe Gateway"
Looking at v3.0.7:

In the module file /skin/checkout.php, near line 5, there is this **part** of the line:
[code]
In the module file `gateway.class.php`, near line 135, there is the same thing.

The Stripe module is located, according to the `config.xml` file,  in the `/modules/gateway/` folder.

[2022-08-19 14:29] abrookbanks opened #3047 "Add/Edit Product - Google Category isn't keeping it's selection"

[2022-08-19 14:30] #3047 closed, assigned to abrookbanks

[2022-08-20 07:51] bhsmither opened #3048 "Code Check: Required Entry in Contact Us"
The Validator rules say the `contact['phone']` field is required, but `CubeCart->_contact()` does not.

[2022-08-21 08:32] bhsmither opened #3049 "Undefined Variable"
Minor:

In `Catalogue->displayProductOptions()`, if `$selected_options_array` is not passed in, then the variable `$selected` will not get set.

Throughout the function, tests are made via `isset($selected`) except for line 580.
[code]

[2022-08-22 22:29] bhsmither opened #3050 "Stripe Module vs. Stripe's Latest API"
According to:
[code]
there is no longer any data referencing a `'payment_intent'` when initially creating a session. In the `gateway.class.php` file:
[code]
where `$session['payment_intent']` is _null_, causing an exception to crash PHP later:
[code]
Suggest any of three solutions:
1. Comment/Remove the `$stripe->paymentIntents->update()` statement in the gateway class file,
2. Give critical instr

[2022-08-24 08:33] havenswift-hosting commented on #2738
Any idea when this is going to be added please GA4 has been out for a very long time now but we really need the option to support all currently offered versions as above

[2022-08-28 03:54] bhsmither opened #3051 "Null For Type String"
In `Database->update()`, the supplied argument `$record` may contain an element with a value of _null_.

If so, PHP complains that using _null_ for argument type _string_ is deprecated in `substr()`.

Suggest:
[code]
One might also worry about UTF character strings -- and use `mb_substr()` -- but here, the code is only interested in:
[code]

[2022-08-28 04:10] bhsmither commented on #3051
In `Mailer->loadContent()`, the default value for the argument `$language` is _null_.

PHP complains that using _null_ for argument type _string_ is deprecated in `preg_match()`.

Suggest:
[code]

[2022-08-30 07:34] havenswift-hosting opened #3052 "PPCP - Under PHP 8.1 throws thousands of warnings"
The changes needed for core for 8.1 are likely going to be needed for all plugins - for example PayPal Commerce under 8.1 throws huge numbers of notices, warnings etc into the PHP error_log

[2022-08-30 07:53] bhsmither commented on #3052
Any sense of how many are **not** 'Undefined variable' and 'Undefined array key' for PayPal Commerce?

[2022-08-30 08:06] havenswift-hosting commented on #3052
Nope - deleted the 9MB with several hundred thousands lines added to the error_log file created in a few hours and downgraded client back to 7.4

[2022-08-30 16:04] claudia39 commented on #3052
I saved a compressed file of the error log when it was at about 24000 lines.  Do you want me to email it to you Brian?  Also sinceI've been put back to PHP 7.4 I've gotten a few PayPal warnings.  Should I send you those too?
Claudia

[2022-08-30 17:39] bhsmither commented on #3052
If the error_log relates to the PayPal module (or any other module), then yes. Otherwise, because I have been working through the core code with PHP8.1, I won't find much that I haven't already reported.

So, yes, email it to me.

[2022-08-30 17:50] claudia39 commented on #3052
And here are the errors I got today
[30-Aug-2022 03:32:10 America/Louisville] PHP Warning:  Undefined global variable $cart in /home/claudias/public_html/modules/plugins/paypal_commerce/paypal.class.php on line 435
[30-Aug-2022 03:32:10 America/Louisville] PHP Warning:  Attempt to read property "basket" on null in /home/claudias/public_html/modules/plugins/paypal_commerce/paypal.class.php on line

[2022-08-30 18:10] claudia39 commented on #3052
Did you get the attachment?

[2022-08-30 18:53] bhsmither commented on #3052
Nothing sent directly to me from you.

[2022-08-30 21:39] bhsmither commented on #3052
I haven't found anything that screams "Fix me now!" that hasn't already been made an issue.

A lot of log entries (again, these errors are not important) can be quieted with this:
https://github.com/smarty-php/smarty/issues/789

[2022-09-02 12:55] abrookbanks commented on #3052
Yes it needs an update but from my testing works fine on PHP 8.1. I'll get around to this asap.

[2022-09-05 16:50] abrookbanks opened #3053 "Coupon subtotal limit fails with absolute priced options"
As above.

[2022-09-06 07:51] abrookbanks commented on #3053
Option line price for absolute products is the difference so the main price needs to be added onto it.

Suggested fix change:
https://github.com/cubecart/v6/blob/v6.4-master/classes/cart.class.php#L1233

[code]

[2022-09-06 11:03] abrookbanks commented on #3051
Thanks Brian. All seems good but more testing will come.

[2022-09-06 11:03] #3051 closed, assigned to abrookbanks

[2022-09-06 11:05] #3053 closed, assigned to abrookbanks

[2022-09-06 11:42] abrookbanks commented on #3050
Thanks. This has been fixed with 3.0.8. Testing checkout and elements with success.

[2022-09-06 11:42] #3050 closed, assigned to abrookbanks

[2022-09-06 15:50] abrookbanks opened #3054 "PPCP - Overcapture requirements"
The following integration changes need to be implemented to PayPal Commerce.
https://www.paypal.com/us/smarthelp/article/FAQ4645

[2022-09-07 08:42] abrookbanks opened #3055 "PPCP - Add BN code to product detail page "CUBECARTLIMITED_Ecom_ECS""
As above.

[2022-09-07 08:44] abrookbanks opened #3056 "PPCP - Improve view order tool tip for other legacy PayPal integrations"
Relates to https://github.com/cubecart/v6/issues/2954

[2022-09-08 08:37] abrookbanks commented on #3052
Hi @bhsmither

Are you working on this one? I don't want to step on your toes if so. Let me know if not and I'll jump on this. Happy to take this on if you want to share findings so far?

[2022-09-08 08:57] abrookbanks commented on #3056
Gateway names:

- PayPal Express Checkout
- PayPal Card Payment
- PayPal_Pro

[2022-09-08 09:28] abrookbanks commented on #3056
39e1477b987e7071bb8f55a77d04037d1385166f

[2022-09-08 14:01] abrookbanks commented on #3055
Implemented for 1.7.2

[2022-09-08 14:01] #3055 closed, assigned to nobody

[2022-09-08 14:05] #3056 closed, assigned to abrookbanks

[2022-09-08 15:25] bhsmither commented on #3052
I am not.

[2022-09-08 15:30] abrookbanks commented on #3052
Ok thanks. I'm not sure how I got the impression you were.

On Thu, 8 Sept 2022, 16:26 Brian Smither, ***@***.***> wrote:

[2022-09-08 17:54] bhsmither commented on #3052
These are the errors that were logged in an error report sent to me that relate to PPCP:
[code]

[2022-09-09 05:19] abrookbanks commented on #3052
Thanks.

On Thu, 8 Sept 2022, 18:54 Brian Smither, ***@***.***> wrote:

[2022-09-09 07:11] abrookbanks commented on #3052
Your version of PayPal Commerce must be out of date as I can't match up most of these errors.

[2022-09-09 07:33] havenswift-hosting commented on #3052
It was running the latest version at the time

[2022-09-09 08:48] abrookbanks commented on #3052
1.7.2 released which should catch most if not all. If you do find more let me know.

[2022-09-09 08:48] #3052 closed, assigned to nobody

[2022-09-10 17:09] bhsmither opened #3057 "PHP8: Order Class vs. Payment Gateways"
Now, for PHP8, what was a Notice is now an Exception. See:
[code]
While in admin (manually moving an order to Processing, for example), the Cart class has not been instantiated.

Moving an order to Processing, a call is made (at orders.index.inc.php, line 208) to `$order->orderStatus()`.

In `orderStatus()`, `Gateway` is instantiated (line 503).

In (almost) all gateways, in `__construct()`, the c

[2022-09-10 17:55] bhsmither opened #3058 "PHP8 Deprecated: Null for Type String"
In `orders.index.inc.php`, near line 307, there is _this part_:
[code]
The 'ship_date' column has a default `null` for data type `DATE`.

Suggest either a default string of '0000-00-00' (see CubeCart_coupons), or:
[code]

[2022-09-12 13:03] abrookbanks opened #3059 "Allow for instant auto upgrades of installed extensions"

[2022-09-12 13:38] abrookbanks commented on #3059
<img width="507" alt="Screenshot 2022-09-12 at 14 38 04" src="https://user-images.githubusercontent.com/4520803/189668793-996402e2-c14e-417f-8459-10d523d69ef5.png">

[2022-09-12 16:33] russellhurst commented on #2738
Has there been any progress in adding Google's GA4 to CubeCart now whilst retaining the original Google Analytics?

[2022-09-12 17:04] abrookbanks commented on #2738
Just add it to the HTML template files for now.. it takes seconds.

[2022-09-12 17:05] hairy-dog commented on #2738
I suspect that all are illegal. Use piwik hosted locally.

[2022-09-12 17:06] abrookbanks commented on #2738
Illegal?

[2022-09-12 18:25] bhsmither commented on #2738
Silly thing about page resources (google fonts as of recent discussion) being fetched from foreign servers.

[2022-09-12 18:39] abrookbanks commented on #2738
I'd only be concerned about this is I were not a small business. Crazy.

[2022-09-12 19:22] hairy-dog commented on #2738
Google tracking has been ruled to breach GDPR in several EU States. There hasn't been a case in the UK, but the same laws apply so it's more a matter of when, not if.

[2022-09-13 10:40] havenswift-hosting commented on #2738
It does not breach GDPR in itself but consent to use the cookies required must be obtained but this applies to anything like this including all other tracking / analytic services.  Most often people decline these making them almost worthless

[2022-09-13 10:46] havenswift-hosting commented on #2738
With the move towards GA4 being the default (and soon to be only) version, perhaps CubeCart should just be updated across the board. So change the admin settings page to indicate that a GA4 code should be entered and then update the code in each of the skin templates.  Will have to be done soon so why not now- think the time has passed to support multiple version of analytics

[2022-09-13 10:51] abrookbanks commented on #2738
Do you know the EoL date for the older ones?

[2022-09-14 17:32] abrookbanks opened #3060 "Add backup/upgrade disclaimers"

[2022-09-14 17:33] #3060 closed, assigned to abrookbanks

[2022-09-15 10:11] #3059 closed, assigned to abrookbanks

[2022-09-15 10:58] abrookbanks commented on #3058
Thanks

[2022-09-15 10:58] #3058 closed, assigned to abrookbanks

[2022-09-18 17:03] bhsmither opened #3061 "SagePay vs PHP8"
Please see:
[code]

[2022-09-22 06:51] Noodleyman opened #3062 "Store Admin theme JS and CSS Smarty Variables cannot be populated via hooks as intended"
Default storee admin theme has smarty variables such as:

- HEAD_CSS
- $HEAD_JS
- $BODY_JS

however, these smarty variables are populated via hooks which are only every called via the storefront, thus are not usable.

[2022-09-22 07:40] bhsmither commented on #3062
I think it may be possible to use `'controller.admin'` (found in admin.pre_session.inc.php).

[2022-09-22 07:54] Noodleyman commented on #3062
I agree, possible yes but this opens up some possible issues.

If you have multiple modules all trying to populate the same smarty variable then they may conflict depending on how they have been written. to work correctly every module would need to know how the other prior to it was populating the value and be aware of the order.

[2022-09-22 10:23] havenswift-hosting commented on #2738
https://support.google.com/analytics/answer/11583528?hl=en

Seems sensible to me to simply switch CubeCart to use GA4 ASAP - it isnt a big change

[2022-09-22 15:44] bhsmither commented on #3062
I concur - for any hook where a variable gets set.

Luckily, Smarty has the `append(array 'VAR', $val)` method, which, if an array VAR doesn't exist, it will be created.

I have had to `$smarty->getTemplateVars('my_foo')` to check for certain things.

It would be nice to have dedicated hooks in `GUI`.

[2022-09-23 07:00] Noodleyman commented on #3062
Morning,

Ah. useful.  Thank you for sharing those references. very helpful. It would be good to standardise via hooks and looks like a simple change to either move the block of code that populates those smarty variables, or clone the same code into the section applicable to the admin area.

[2022-09-23 07:05] Noodleyman opened #3063 "[New Hook Request] getProductPrice() method"
catalogue.class.php - AFTER the following code:
[code]

ADD:
[code]

Reason:
Sometimes you may want to override the prices being gathered from the DB for a specific customer group so the following price calculations use the override. the only other hook in this method is after the calculations have happeend.

[2022-09-23 17:12] bhsmither opened #3064 "Code Check: Wrong Variable Name"
Please verify the identified code errors detailed in [#3012.](https://github.com/cubecart/v6/issues/3012#issue-1260474177)

[2022-09-23 17:14] bhsmither opened #3065 "PPCP - Output Filter Applied Universally"
Please see:
[code]

[2022-09-23 17:48] bhsmither commented on #3064
Sorry, wasn't looking at the latest version. It is fixed.

[2022-09-23 17:48] #3064 closed, assigned to nobody

[2022-09-26 22:36] bhsmither opened #3066 "Search Returns Page 1 Results Regardless of Specified Page Number in Certain Cases"
In `Catalogue->searchCatalogue()`, if the fulltext mode cannot be used because of word(s) that are shorter than `$max_word_len`(*), line 1907 calls `searchCatalogue()` with rlike and the specified `$page` number.

If the fulltext mode returns nothing (`$search = false`), line 1942 calls `searchCatalogue()` with rlike but **NOT** with the specified `$page` number, rather with `$page=1`.

If the rli

[2022-09-29 09:40] russellhurst commented on #2738
As a website owner it would be great if CubeCart could be switched to GA4 ASAP.

[2022-10-03 07:29] abrookbanks commented on #2841
The changes with c30daeee10e2e8313f4f177606179e75c2a39073 are causing faults with language caching. Customer complained of a French default language showing english.

[2022-10-04 08:39] abrookbanks opened #3067 "`CubeCart_inventory_language`.`language` needs an index"
e.g.
`$GLOBALS['db']->select('CubeCart_inventory_language', false, array('language' => $language, 'product_id')); `

[2022-10-05 09:52] abrookbanks opened #3068 "Check PayPal Commerce - Show Make Payment button but disable"
As above. The pay button needs to disable on click.

[2022-10-11 08:22] harris-organic commented on #2914
Hello Al, Could you open Gift Cards and Contact Page - SEO - 6.2.9 #2603 please or do I need to open a new issue?

I have just updated the request.

kindest regards

Duncan

From: Al Brookbanks ***@***.***
Sent: Tuesday, 14 June 2022 10:57 PM
To: cubecart/v6
Cc: harris-organic; Mention
Subject: Re: [cubecart/v6] PayPal Commerce: Undefined Variable (#2914)

Closed #2914 <https://github.com/cubecart

[2022-10-11 08:28] abrookbanks commented on #2914
Can you open a new issue please? This looks like a feature request.

[2022-10-12 07:05] abrookbanks commented on #2738
I think this need to take the form of a new extension that can take advantage of existing hooks to pul in the JS. Any other way would mean updating every skin file.

I appreciate your patience with this but I'm at 100%+ capacity until the end of December with a huge sponsored POS project. It's all consuming but I simply have to prioritise it.

Thanks to you all for your support. As you know it's j

[2022-10-12 17:28] onebrowncow commented on #2738
FYI, tried pasting the GA4 code in to the head as per Google instructions and just ended up with a blank page showing so it isn't always as simple as just chucking it in the head of the template

[2022-10-12 17:38] abrookbanks commented on #2738
Wrap it in smarty literal tags.

{litertal} .. GA Code .. {/literal}

On Wed, 12 Oct 2022, 18:28 onebrowncow, ***@***.***> wrote:

[2022-10-12 17:49] bhsmither commented on #2738
It should be a tad more involved than that. If we take it to the forums, maybe we can work it out.

[2022-10-12 19:28] onebrowncow commented on #2738
Pasted GA script in to the template "element.google_analytics.php" between literal smarty tags, it seems to be working and returning traffic data. Original analytics code left in place.

[2022-10-12 19:51] bhsmither commented on #2738
Please let us see the code that Google gave you -- x-out any identifying labels. (Be sure to use the code tag for the code -- three backticks to start and end the code block.)

[2022-10-12 20:09] onebrowncow commented on #2738
This is how my element.google_analytics.php template now looks

[code]

[2022-10-13 09:20] harris-organic opened #3069 "Gift Cards - SEO"
For Gift Cards
1. Allow images to be placed on the gift card page. Selected images do not show in 6.4.7.
2. Add Image alt and title tags
3. Add a description tab to allow easy editing of content on the Gift card page

[2022-10-13 09:24] abrookbanks commented on #2738
I've been working all night on this. I nearly have an extension ready..

[2022-10-13 09:54] abrookbanks commented on #2738
I've released an extension for this which should work with any skin without coding changes:
https://www.cubecart.com/extensions/plugins/google-analytics-for-ecommerce

[2022-10-17 15:09] abrookbanks commented on #3068
Not showing the "Make Payment" button could scare off end users that it's missing or not working. It needs to show (start disabled) then enable and become more vivid on validation success.

[2022-10-17 15:33] abrookbanks commented on #3068
Fixed with 1.7.3

[2022-10-17 15:33] #3068 closed, assigned to abrookbanks

[2022-10-20 00:18] feagle1991 opened #3070 "Social Login"
hello ,
is there any possibility for social login ? it's handy nowadays

[2022-10-20 09:24] hairy-dog commented on #3070
Handy so that shoppers can be tracked across every place they visit?
Social login is for cretins. So of course it's popular.

[2022-10-20 21:49] bhsmither opened #3071 "Currency Update to be in a Class"
Currently, obtaining and setting currency exchange rates happen during setup (setup.install.php line 272) and in admin (settings.currency.inc.php line 22).

Request that this functionality be put in a class. Suggest the CubeCart class. Or maybe in the functions.inc.php file.

This allows for a hook to be used from a cron job call to get the exchange rates updated on a set schedule.

The cron job c

[2022-10-23 13:50] harris-organic opened #3072 "Add ability to edit meta information to images such as alt tag & title tag"
Add the
![title-alt-tags](https://user-images.githubusercontent.com/13449078/197395943-24d42338-f85a-41e6-b4f3-ef8f9a47d68f.PNG)
ability to edit meta information to images such as alt tag #353.
I refer to #353, however, in version 6.4.7, I can not find a way of changing or inserting alt tags and title tags for images.

On category pages, the alt tag on the main image is linked to the page title an

[2022-10-28 11:26] Caranxnet opened #3073 "hreflang isnt working for any languages other than the default language"
Unfortunately looks like Google isn't indexing the pages I have in the other languages, main one is spanish but I also have translations in english and italian. What also happens is that through search controle some of the meta descriptions in other languages are seen as duplicated, but I think this is part of the same problem. Thanks in advance for your help, I look forward to hearing back from y

[2022-10-29 23:33] havenswift-hosting commented on #3072
This would be a useful addition for all images. Our own skins allow the addition of alt and title tags (and variable position on the homepage) for slideshow images but being able to do it for all images would be great

[2022-10-29 23:35] havenswift-hosting commented on #3073
We have a couple of international clients where this isnt working so if access is needed to be able to work on this, please get in contact - it is a BIG deal for clients that use multi languages.

[2022-10-31 05:23] bhsmither commented on #3073
According to my shallow research, the `hreflang` attribute requires Fully Qualified Domain Names. An FQDN does **not** include any part of the querystring (although the use of querystrings has been used as a workaround that inhibits browsers from caching page resources) -- *according to my research which does not mention this one way or the other*.
[code]
I conclude the above is not the solution.

[2022-11-01 01:58] bhsmither commented on #3073
Part of my untested solution is to create hreflang links using this format:
[code]
Then, in controller.index.php, after the existing three lines, add these new lines:
[code]
I also commented out the `preg_replace()`statement after the point where the SEO class gets instantiated. (Anyway, that PHP statement may need to be tested.)

The next part is to change the code that creates the hreflang links

[2022-11-01 02:40] bhsmither commented on #3073
For Foundation, in element.meta.php, I used this:
[code]
This has not been extensively tested, nor has it been proven compliant by Google.

[2022-11-01 11:37] havenswift-hosting commented on #3073
Thanks Brian - I will speak to a couple of our clients and see whether they would be willing to test this is a live environment and will let you know

[2022-11-02 00:43] bhsmither commented on #3072
Just personal curiosity: what would you want the `alt` and `title` attributes for the image shown above to say?

[2022-11-02 03:50] harris-organic commented on #3072
Its all about SEO. Here is an overview of what alt tags do for SEO. https://blog.hubspot.com/marketing/image-alt-text.

[2022-11-02 17:29] bhsmither commented on #3072
Just FYI: it seems a good chunk of the code to add custom title and description data has been added via the recent feature of 'streamable' media (#2611).

So, this could be easier than anticipated.

[2022-11-02 23:30] bhsmither opened #3074 "Rogue/Missing HTML Tag"
Trivial:
In content.certificates.php, near line 28, there is a `<textarea>` that is preceded by a `<span>` tag, but no following `</span>` tag.

[2022-11-03 20:56] bhsmither opened #3075 "Code Check: Gift Certificate Settings using Wrong Variable"
In settings.giftcertificates.php, near line 42, there is:
[code]
Suggest not using `$CATEGORY.master_image`, but rather use `$GC.master_image`.

[2022-11-04 08:14] Noodleyman opened #3076 "Hook Request - cart.class.php"
Reason:
Sometimes you may want to use the existing hook class.cart.update.max_stock, however this hook is only called if the store setting to allow out of stock purchases is disabled which is not always desired. The aditional hook falls outside of this criteria and can be used as an alternate depending on the situation.

AFTER ADDFIND:
[code]

AFTER ADD:

[code]

[2022-11-08 06:37] jammy9 commented on #3076
Thanks for your [information.](https://www.catlovesbest.com/)

[2022-11-11 08:43] Noodleyman opened #3077 "$DATA.gateway in admin emails is NULL most of the time"
Had a customer request the DATA.gateway be added to email templates to admins so they know if they need to chase for a bank payment. However, in testing it appears that _most of the time_ when the mail is sent the gateway value is NULL when the mail is sent, but the correct Gateway is set in the database CubeCart_order_summary table.

You can test by adding this field to the mail template HTML, pl

[2022-11-15 08:10] abrookbanks commented on #3070
PayPal Commerce allows for quick checkout with PayPal login so I suppose we check one of these boxes already. It would be good however to see more choices.

[2022-11-15 08:10] #3070 closed, assigned to nobody

[2022-11-15 08:12] abrookbanks commented on #3074
Thanks Brian.

[2022-11-15 08:12] #3074 closed, assigned to abrookbanks

[2022-11-15 08:18] abrookbanks commented on #3076
Thanks Alec.

[2022-11-15 08:27] abrookbanks commented on #3072
Yes we can add these extra fields. Skin changes will be required. I'll have a look into this.

[2022-11-15 08:28] abrookbanks commented on #3077
Thanks Alec I'll give this a go.

[2022-11-15 08:34] abrookbanks commented on #3075
Thanks Brian.

[2022-11-15 08:34] #3075 closed, assigned to abrookbanks

[2022-11-15 08:35] #3076 closed, assigned to abrookbanks

[2022-11-15 08:50] abrookbanks commented on #3077
Hi Alec, I set the order status for admin order notifications to "pending" and placed a test order. I edited the email template for order notification to put {$DATA.gateway} at the top and it did populate.

<img width="558" alt="Screenshot 2022-11-15 at 08 48 19" src="https://user-images.githubusercontent.com/4520803/201873056-a1b8a530-466d-4b39-b229-0bc53a741761.png">

I think the issue may conce

[2022-11-15 08:56] abrookbanks commented on #3077
Yes I think this may be the option. The solution may be to add this block of code:
https://github.com/cubecart/v6/blob/v6.4-master/skins/foundation/templates/content.checkout.php#L36-L56

This will post the chosen payment method to the basket data which then gets saved to the order_summary table.

[2022-11-15 09:05] abrookbanks commented on #3073
Hi guys I'm hopping to hop onto this one ASAP. Let me know if you have any further findings.

[2022-11-15 09:24] abrookbanks commented on #3063
Thanks Alec

[2022-11-15 09:24] #3063 closed, assigned to abrookbanks

[2022-11-15 10:08] hairy-dog commented on #3072
It's NOT all about SEO. It's about accessibility.

An alt tag is supposed to describe the image for someone who can't see it.

A title is meant to explain the purpose of the object and destination of a link for someone who can't see the context.

The SEO benefit derives from better accessibility.

[2022-11-15 10:10] abrookbanks commented on #3072
Yes indeed. :)

[2022-11-15 11:59] abrookbanks commented on #3077
Hmmm.. the code to `Order::getInstance()->placeOrder();` is triggered when the gateway parameter isn't set.

Messing with that is likely to cause an upset so I'd recommend adding the linked to code on my last response to the checkout process. That should get it behaving as you want.

[2022-11-15 13:14] abrookbanks commented on #3072
This is work in progress. The back end is done with a number of improvements such as image preview, update feedback and file name validation. Changing the extension isn't prohibited. It was possible to rename without an extension before. Definitely a bug.

<img width="1415" alt="Screenshot 2022-11-15 at 13 13 23" src="https://user-images.githubusercontent.com/4520803/201928653-3db8d795-dd1a-4ce0-8

[2022-11-15 16:14] abrookbanks commented on #3071
e.g. ?_g=cron&_m=updateExchangeRates

[2022-11-16 09:29] abrookbanks opened #3078 "Allow for multiple order tracking URL's"

[2022-11-16 09:58] abrookbanks commented on #3078
<img width="545" alt="Screenshot 2022-11-16 at 09 58 40" src="https://user-images.githubusercontent.com/4520803/202149523-7ba090f4-ebb2-4466-8989-6cccf8b1c63b.png">

[2022-11-16 10:25] #3078 closed, assigned to abrookbanks

[2022-11-16 13:18] abrookbanks opened #3079 "Show orders with notes"
<img width="321" alt="Screenshot 2022-11-16 at 13 18 00" src="https://user-images.githubusercontent.com/4520803/202190952-f72d7ac2-0e3b-47a6-8e62-1f372ce67077.png">

[2022-11-16 13:18] #3079 closed, assigned to abrookbanks

[2022-11-16 14:33] abrookbanks commented on #3071
<img width="1034" alt="Screenshot 2022-11-16 at 14 32 31" src="https://user-images.githubusercontent.com/4520803/202208178-60f176bf-a792-4880-8e7c-a57ddb52949a.png">

[2022-11-16 14:34] abrookbanks commented on #3071
Closing for now. This is quite powerful already. If you can think of any available tasks to add let me know.

[2022-11-16 15:05] #3049 closed, assigned to abrookbanks

[2022-11-18 14:32] #3067 closed, assigned to abrookbanks

[2022-11-18 14:33] abrookbanks commented on #3072
I'll reopen if there is feedback/bugs found.

[2022-11-18 14:33] #3072 closed, assigned to abrookbanks

[2022-11-18 14:51] abrookbanks commented on #3069
I'm not sure #3 is needed because the existing text can be edited in the admin control panel.
<img width="1175" alt="Screenshot 2022-11-18 at 14 51 35" src="https://user-images.githubusercontent.com/4520803/202732660-3b11489d-945a-4f9e-a235-f70e7c743cc2.png">

[2022-11-18 14:52] #3069 closed, assigned to abrookbanks

[2022-11-18 15:00] abrookbanks opened #3080 "Change "Length of product precis" to "Max Short Description Length""

[2022-11-18 15:01] #3080 closed, assigned to abrookbanks

[2022-11-18 17:19] bhsmither commented on #3069
Points 1 and 2 should be solved in other issues.
I am working on a feature enhancement that will assign multiple images to the GiftCard system, allowing the customer to choose from among the images which image is wanted to be applied to the GiftCard email and physical card. (As well as a content editor for additional page content.)

[2022-11-18 20:12] bhsmither opened #3081 "Request More in Debug Section"
Request that even if there is nothing in GET, POST, and COOKIE (or no GET, POST, or COOKIE at all), that the debug section show `<empty>` or `<none>` for each if that is the case.

[2022-11-21 09:16] #3065 closed, assigned to abrookbanks

[2022-11-21 09:32] #3081 closed, assigned to abrookbanks

[2022-11-21 09:54] abrookbanks commented on #3044
I see. So cURL doesn't set the HTTP_USER_AGENT so it never gets set but of course a browser does.

I guess the question lies if we should build a CubeCart user agent into the request class.

e.g. CubeCart/6.4.7 (Apache/2.4.54 (Unix) OpenSSL/1.1.1q PHP/7.4.32)

[code]

[2022-11-21 10:00] abrookbanks commented on #3044
Let me know how this goes. I don't think we need the `$_SERVER['SERVER_SOFTWARE']` bit.

[2022-11-21 13:43] abrookbanks commented on #3073
Really we want something like this. I think we could add this as a feature but it would require setup in the hosting account. I suppose each language would need a subdomain assigned to it. This has to be the best way.

[code]

[2022-11-21 13:47] abrookbanks commented on #3073
Following on this will be quite simple to achieve. CubeCart just need a look up table of domain to language. The developer will need to create the subdomains.

[2022-11-21 14:00] havenswift-hosting commented on #3073
We would be happy to give this a go on a live client site that is having problems with this if you can provide a set of instructions

[2022-11-21 14:04] abrookbanks commented on #3073
Awesome. Hopefully I haven't opened a can of worms but I think its very straightforward to develop.

[2022-11-21 14:20] Caranxnet commented on #3073
Thanks, I hope this can be sorted out easily

Regards

Nicola

De: Al Brookbanks ***@***.***>
Enviado el: lunes, 21 de noviembre de 2022 15:05
Para: cubecart/v6 ***@***.***>
CC: Caranxnet ***@***.***>; Author ***@***.***>
Asunto: Re: [cubecart/v6] hreflang isnt working for any languages other than the default language (Issue #3073)

Awesome. Hopefully I haven't opened a can of worms but I think it

[2022-11-21 15:43] abrookbanks commented on #3073
<img width="987" alt="Screenshot 2022-11-21 at 15 37 08" src="https://user-images.githubusercontent.com/4520803/203097059-d8179d4e-8231-473e-a4b8-ba60ec5abc01.png">
<img width="611" alt="Screenshot 2022-11-21 at 15 44 02" src="https://user-images.githubusercontent.com/4520803/203097251-bbb4e69d-8e15-4e63-a645-612ff9cc4bd3.png">

[2022-11-21 15:48] abrookbanks commented on #3073
This was a pretty simple job and works a treat!

[2022-11-21 15:51] abrookbanks commented on #3073
To test this create the DB table `CubeCart_domains`. Annoyingly there is one skin change... https://github.com/cubecart/v6/commit/93727f5dae8fe2989e3db050150820823a5b0347#diff-b5620a89ddc188cbd3844d0dd5bd9c938bd24eba845d8ef162ab98da3ef3bb92

[2022-11-21 15:53] havenswift-hosting commented on #3073
I will take a look straight away, although when are you planning on releasing 6.4.8

[2022-11-21 15:54] abrookbanks commented on #3073
Within the next fortnight.

[2022-11-22 15:19] #3073 closed, assigned to abrookbanks

[2022-11-22 15:36] abrookbanks commented on #3046
Thanks Brian. Fixed in 3.0.9.

[2022-11-22 15:36] #3046 closed, assigned to nobody

[2022-11-22 15:37] abrookbanks commented on #3054
Waiting on sandbox fixes for testing.

[2022-11-22 15:42] abrookbanks commented on #3043
This part seems to be fixed already.

[code]

I believe this may be resolved already. I see no `unset` in this function. Please let me know if I am mistaken and I can reopen.

[2022-11-22 15:42] #3043 closed, assigned to nobody

[2022-11-23 14:14] abrookbanks commented on #3042
Thanks!

[2022-11-23 14:15] #3042 closed, assigned to abrookbanks

[2022-11-24 15:25] havenswift-hosting commented on #3073
So summarising the testing and problems that I found on a live site.  The code was correctly added without any problems

1) I wasn't able to save urls against any languages except the first one - in order to continue testing, I manually added the records to the database for the two additional languages

2) The language switching to the newly created language domains ie en.domain.com and it.domain.

[2022-11-24 15:37] abrookbanks commented on #3073
Hmm. I can't reproduce these issues. Thanks for the feedback though. It will get a bit more testing prior to release.

[2022-11-24 20:23] bhsmither opened #3082 "Product Image FilePicker Fails to Preview"
Regarding #2934, a mistake was made in the template `products.index.php`.

The mistake was in **replacing**
[code]
with:
[code]
The correct edit was to **insert** the above new stuff into the suggested code -- leaving the preview_image div block as is.

The complete statement should actually be:
[code]

[2022-11-24 21:55] bhsmither opened #3083 "Initial Preview Image Overlays Master Image in FilePicker"
When the Images tab content is first shown, the `preview_image` sub-block is being displayed on top of the `master_image_block`.

Not allowing the mouse cursor to hit any of the FilePicker filenames, view the Images tab (of a **Product**, **Category**, or **Gift Certificate**).

Right-click on the **Main Image** image and select Inspect Element (or similar). This will bring up the browser's Develo

[2022-11-25 09:04] abrookbanks commented on #3048
Thanks.

[2022-11-25 09:04] #3048 closed, assigned to abrookbanks

[2022-11-25 23:01] bhsmither opened #3084 "FileManager Cannot Insert Same-Named File"
In FileManeger class, near line 1265, there is:
[code]
When the case is that an image has been uploaded via FileManager, Images, the record is accurately created and the image is stored in the type=1 chosen folder.

However, this case also has the same-named file uploaded via FileManager, Downloads. When this happens, the record is **updated** to hold the data relevant to a downloadable file, and

[2022-11-28 08:17] #3084 closed, assigned to abrookbanks

[2022-11-28 08:17] abrookbanks commented on #3084
Thanks.

[2022-11-28 08:47] abrookbanks commented on #3082
Thanks for this.

[2022-11-28 09:35] #3082 closed, assigned to abrookbanks

[2022-11-28 20:26] bos4711 opened #3085 "After upgrading to 6.4.7 (from 6.2.8) it is not possible to set orders to "Processing""
After this upgrade, something broke. When customers pay with Paypal, earlier the order was automatically set to "Processing". Now it's set to "Pending", and if we manually set it to "Processing" we are shown an entirely blank page without any errors. Reloading the URL gets back to the order with "Pending" still set. It is possible to change to "Completed" (which completes the order as it should),