[2021-02-09 22:31] tonyrsutton opened #2771 "BUG: Clicking on "More" button at bottom shows new contents above fold on Mobile View"
CubeCart: v6.4.2
PHP: 7.4.13
Database: 5.5.5-10.3.27-MariaDB

Going to one of an Categories and when you scroll down to bottom, there is an 'More' button. I click it. It shows more products then I keep scrolling down to bottom where I see the 'More' button again and so on.

This works fine on my PC (Windows 10, Chrome)

BUT...

On my mobile phone (Android, using Chrome), when I click the 'More' bu

[2021-02-10 11:52] #2768 closed, assigned to abrookbanks

[2021-02-10 15:00] abrookbanks commented on #2767
Thanks for this. I'd say it's a bug.

[2021-02-10 21:24] bhsmither opened #2772 "SEO Path for New Item Foiled in Admin"
When the admin creates a new category, the code in `category.index.inc.php` does make a trip through `SEO->setdbPath()` to insert a record in `Cubecart_seo_urls`, but is foiled in the attempt because of a new feature that inserts a record in `CubeCart_admin_log` when the admin has logged in for fewer than three times (`DB->clearCacheNotice()` **before** returning out of DB->insert()`.

(Practicall

[2021-02-10 21:43] bhsmither opened #2773 "Clear Cache Advisory is Logged"
After any admin action that triggers the Clear Cache Advisory, that advisory gets inserted into the `CubeCart_admin_log` from one to four times, and if the admin is new.

This is not really an issue, as thirty days later, these records will be deleted, but there is no reason to log this anyway.

As mentioned elsewhere, this logging could interfere with what would be the last_insert_id of the previ

[2021-02-10 22:01] bhsmither opened #2774 "Image Tweak"
The admin skin images 0.png and 1.png are too close to the browser's rendering of a checkbox that is disabled (greyed-out).

Request that two new images be created, darker than the existing images, and the existing images be renamed to 0_disabled.png and 1_disabled.png (for possible future use).

[2021-02-11 10:11] Abelardon commented on #2730
I don't think there's a direct support for this in smarty. You can always do this with smarty's {php} tag, however I would strongly discourage you from doing so. Logic doesn't belong in a presentation-level template.

[2021-02-12 11:40] bos4711 opened #2775 "Feature suggestion: Add a "Delete button" in the product page."
Today you can only (AFAIK) delete a product from the Product List. It would be nice to have a Delete button from within the product listing page as well.

[2021-02-12 11:43] bos4711 opened #2776 "Feature suggestion: When deleting a product, delete images as well"
Or atleast ask the user about it.

Something like:

1. Delete -> "Product has two unique images attached. Delete them as well?"
or
2. Delete -> "Product has one unique image and one image shared with N products. Delete the unique image?"

[2021-02-12 11:43] bos4711 opened #2777 "Feature suggestion: A function that purges / deletes unusued product images"

[2021-02-12 12:02] abrookbanks commented on #2774
I'm failing with this. I'm absolutely hopeless with photoshop.

[2021-02-12 12:05] abrookbanks commented on #2776
There is already a setting for this. In the stock section of the stores settings.
"Delete associated images with product delete"

[2021-02-12 17:22] bhsmither commented on #2774
![0](https://user-images.githubusercontent.com/4073092/107800534-ba293100-6d13-11eb-8ff3-f972768948c2.png)
![1](https://user-images.githubusercontent.com/4073092/107800562-c44b2f80-6d13-11eb-8793-82407e521852.png)

[2021-02-12 20:06] tonyrsutton commented on #2767
Thank you. Obviously the link above in my 1st post no longer exists, but as long as you have enough info, then all is good.

Cheers

[2021-02-12 23:34] tonyrsutton opened #2778 "Feature Suggestion: Better error message from Promo Code"
I have a promo code of 5% discount if spent over £25.

As a test, I tried to use the code for item that is less than £25, I get this error message:

The following errors were detected:
Sorry, your basket does not qualify for that promotional code.

Make sense to me (as an admin/store owner). BUT.... to the end user, this is a confusing error message. Why does it not work? Am I typing it in wrong?

[2021-02-13 12:51] tonyrsutton opened #2779 "Feature Suggestion - Royal Mail API"
Can we please have CubeCart to use Royal Mail API i.e. a official plug-in from CubeCart?

https://www.royalmail.com/business/tools-services/apis

Thanks.

[2021-02-13 17:15] tonyrsutton opened #2780 "Feature Suggestion: Cubecart CHMOD/Permission Checker within Admin console"
Hey all,

Reading in the forum made me think...

I think it would be awesome if within the Admin page, maybe under Advanced -> Maintenance, there is a CHMOD/Permission Checker where upon clicking it, it will run the permission checking on all valid files and ensure they are all set up with the correct permission/CHMOD configs and if it found some incorrect setup, it offer you to fix it either by c

[2021-02-15 09:09] havenswift-hosting commented on #2779
Already been tried and failed to get support - see https://forums.cubecart.com/topic/56297-calling-on-all-royal-mail-customers/

[2021-02-15 09:25] havenswift-hosting commented on #2780
There is already this https://www.cubecart.com/extensions/plugins/cubecart-security-suite which does some basic checks.

Checking file permissions is complex because it all depends on how the hosting server is setup although this plugin could add functionality to check if a file or directory is 777 which either means permissions are set incorrectly in a secure environment (which could be fixed) or

[2021-02-15 10:16] Noodleyman opened #2781 "Custom OID query issue."
order.class.php:
`$GLOBALS['db']->misc("UPDATE `".$GLOBALS['config']->get('config', 'dbprefix')."CubeCart_order_summary` SET `custom_oid` = `$column` WHERE `custom_oid` = '' OR `custom_oid` = null");`

The query should read "IS NULL", not "= NULL".

[2021-02-15 20:18] CanadaFB opened #2782 "TAX"
We have 2 taxes here. How do you add a second tax?  Can you add 2 taxes i.e.

5%
7%
Total

Thanks, I have been trying to make this work but maybe it is not possible? What is the solution?

[2021-02-15 21:26] bhsmither commented on #2782
There is an issue on the GitHub that asks the programmers to fix this.

[2021-02-15 22:19] Rob-Tea commented on #2779
I'm probably wrong, but to me it looks like this changed the end of last year (for Royal Mail Click ad Drop) and is now open to all developers... https://clickanddrop.uservoice.com/forums/399930-general/suggestions/37754239-click-drop-rest-api

[2021-02-15 22:22] tonyrsutton commented on #2779
Yes Rob, this is what I raised this feature suggestion for to have this to use the new Royal Mail API now that it's out of beta.

Thanks.

[2021-02-15 22:42] CanadaFB commented on #2782
Thank you for confirming that. Do you have a link to the issue you referred to?

[2021-02-15 22:48] CanadaFB opened #2783 "Canada Post Extension"
Hi,

This does not show up anywhere. I have looked in the Store Settings. I also tried the Rebuild and no luck. Where will it appear?

Of course it is enabled and I have configured it, but nothing.

Can anyone tell me how to fix this, and where exactly it should it show up? This is quite important!

Thank you much.

[2021-02-15 23:27] bhsmither commented on #2782
Look at issues 1786, 2453, 2454, and 2559.

[2021-02-15 23:44] bhsmither commented on #2783
This module uses CP's "SellOnline". I read somewhere that CP isn't giving out new merchant accounts that want to use this. I may be wrong. But see:
https://forums.cubecart.com/topic/51911-resolved-canada-post-extension-not-appearing/

[2021-02-16 01:19] bhsmither commented on #2741
[2741 - Reset Digital Downloads.txt](https://github.com/cubecart/v6/files/5985117/2741.-.Reset.Digital.Downloads.txt)

[2021-02-16 04:15] mediadogg commented on #2741
Nice work. I will definitely add this someday, after I learn how to protect it from being removed by upgrades.

[2021-02-16 07:27] bhsmither commented on #2741
These 'Feature Requests', having been posted in the GitHub, are meant to be part of core code. As such, these edits won't be removed by upgrades. An upgrade will add these edits and make them part of the core code.

[2021-02-16 07:29] abrookbanks commented on #2741
Yes. I intend to make this part of core. Thanks all.

[2021-02-16 10:52] #2782 closed, assigned to nobody

[2021-02-16 10:54] abrookbanks commented on #2780
This is a simple PHP function that could be used.
https://www.php.net/manual/en/function.is-writable.php

Ian is right though. This shouldn't be necessary on a well configured server.

[2021-02-16 10:56] abrookbanks commented on #2779
It can only be done via https://storefeeder.com/ which is owned by Royal Mail.

[2021-02-16 10:59] abrookbanks commented on #2774
Thanks Brian.

[2021-02-16 10:59] #2774 closed, assigned to abrookbanks

[2021-02-16 11:02] abrookbanks commented on #2781
Thanks.

[2021-02-16 11:02] #2781 closed, assigned to abrookbanks

[2021-02-16 11:05] onebrowncow opened #2784 "Printable Gift Invoice, Reciept or Card - Feature Suggestion"
When a order is placed with an alternative address to be sent as a gift to a customer, ability to print the order as a gift receipt without prices, shipping or tax shown and including any gift message posted in the message box by the buyer also including both the buyer name perhaps, as example "a gift from John Smith".

This might also be styled up as something more attractive as a gift card rathe

[2021-02-16 11:23] abrookbanks commented on #2773
Thanks.

[2021-02-16 11:23] #2773 closed, assigned to abrookbanks

[2021-02-16 11:29] onebrowncow commented on #2784
![gift-reciept-blurred](https://user-images.githubusercontent.com/13252688/108057077-05ac4980-704a-11eb-927b-53dbf857e78f.jpg)
this is an image of our modified CC4 invoice which allowed us to print a gift receipt

[2021-02-16 11:49] abrookbanks commented on #2779
Closing this as a duplicate. This is already on radar.

[2021-02-16 11:49] #2779 closed, assigned to nobody

[2021-02-16 16:52] CanadaFB commented on #2783
Thank you very much for the reply. I will follow up with Canada Post. Have a great day.

[2021-02-16 19:14] mediadogg commented on #2741
What a team!!!!

From: Al Brookbanks [mailto:notifications@github.com]
Sent: Tuesday, February 16, 2021 2:30 AM
To: cubecart/v6
Cc: James Richards; Comment
Subject: Re: [cubecart/v6] Allow reset of digital downloads for each product (not just via the edit order page) (#2741)

Yes. I intend to make this part of core. Thanks all.

—
You are receiving this because you commented.
Reply to this email d

[2021-02-16 20:23] tonyrsutton commented on #2780
Make sense. Thanks all, I will close this.

[2021-02-16 20:23] #2780 closed, assigned to nobody

[2021-02-16 20:32] abrookbanks commented on #2780
Cool thanks Tony. 😃

[2021-02-16 23:34] bhsmither opened #2785 "Code Check: AIOS Class"
Considering that instantiating the AIOS class with no arguments, thus the class defaults to `$basket = false`, suggest that all the setters for the private variables that ask for values from `$this->_basket` be grouped inside an `if()` block testing for the `!empty`-ness of the basket.

PHP complains: Trying to access array offset on value of type bool

Suggest also to give default values on the p

[2021-02-17 03:50] bhsmither opened #2786 "Code Review: A Variable's Use"
In `Cart->loadShippingModules()`, the variable `$shipping` first is assigned the recordset having the active shipping modules.

This array is iterated to process each module in turn. For each module, `$shipping` is then assigned the class object.

As with standard PHP code processing, the last use of a variable has the last value assigned to it. This means, at the end of the `foreach()` loop, `$sh

[2021-02-17 04:22] bhsmither commented on #2668
Currently, showing the modal is determined by the absence of a cookie. No cookie? Show the modal and set a 30 day cookie.

What visitor behavior would this be counting? Is this on a per-customer basis?

[2021-02-17 07:23] abrookbanks commented on #2668
No it's quite dumb as you outlined.

[2021-02-17 09:45] havenswift-hosting commented on #2668
Just love waking up early and being called dumb :)

No of course not - it would have to be a store wide setting

That is the whole point - why 30 days - who decides on that ?  This is what should be configurable

[2021-02-17 09:59] bhsmither commented on #2668
I hear you are asking to make the **time delay** on when the modal reappears (cookie expiration) a store setting.

[2021-02-17 10:02] abrookbanks commented on #2668
I wasn't calling anyone dumb LOL. I meant the way it currently works is pretty crude and basic (dumb).

[2021-02-17 10:06] bhsmither commented on #2507
Suggest making CubeCart_inventory.digital a SIGNED INT, and using -1 as the flag to indicate this being digital -- that having no companion file in the FileManager. Still can use zero as a reset flag -- not digital.

[2021-02-17 10:12] tonyrsutton opened #2787 "Settings to be part of store's admin console"
When I did a fresh install of the store, I noticed it asked for their email address for mailing list. As I do not want the option of mailing list to be offered to anyone at all but I could not find a way to hide it.

Please can this be setting configurable within the Admin area so it shows/hides the mailing list option?

This is what I had to hide/commented out so far...

skins/foundation/template

[2021-02-17 10:16] havenswift-hosting commented on #2787
This isnt a store / admin configurable setting - this is specific to whatever skin is being used and so therefore should be controlled by the skin.  Although many people do use Foundation as provided - it was never intended to be used but only as a starting point for other skins to be developed.

We have this as a configurable option in our free Skin Configuration plugin which works with our two s

[2021-02-17 10:21] havenswift-hosting commented on #2668
Simply make the number of days that the cookie is set for configurable

I realised that - hence the :)  Agreed that it is very basic and this is just a simple enhancement to make it a little more controllable - I am sure there are plenty of other enhancements.  One other option of course would be to never show it to logged in customers already registered for the newsletter

[2021-02-17 10:30] tonyrsutton commented on #2787
Yes, I understand, but it would be good to be part of the 'official' skin and using the IF statement to see if it's enabled/disabled in order to display it or not. This saves time when upgrading to the next version and reduces the amount of editing.

Thanks.

[2021-02-17 11:27] havenswift-hosting commented on #2787
It will be up to @abrookbanks of course but I would completely disagree that this should be part of core - it is a skin function and not core CubeCart.  You may want this but there will be hundreds or thousands of other things that other people would want and knowing Al's hatred of settings anyway.....  Foundation also isnt really the "official" skin as I said - it was only ever meant to be a star

[2021-02-17 11:54] hairy-dog commented on #2787
It's an interesting quandary. Zen Cart has gone down the path of making the starter templates really ugly so that people will design their own, which has given the impression that Zen Cart stores are ugly.
Cubecart has a passable starter skin, so it doesn't look ugly, but that means too many people use it as the "default".
Leaving that aside, I think that allowing store admin users to change websi

[2021-02-17 11:55] abrookbanks commented on #2787
We need a pretty new default skin with plenty of colour schemes.

[2021-02-17 12:12] havenswift-hosting commented on #2787
Yes 100% but CubeCart also needs 15 to 20 other skins as well - we have a couple and NiteFox is adding some nice ones !  The problem with having one skin even with different colours and especially historically, is that all skins have had pretty much the same boring layout with small tweaks here and there.

However, none of those (except as noted, our two skins) would solve this request.  Core Cube

[2021-02-17 12:19] tonyrsutton commented on #2787
So what is the difference between what I have suggested here and going in to Store Settings -> Feature and turning off/on for the following:

Enable Product Reviews/Comments
Number of sale items to display

And under Store Settings -> Layout
Products per page
Show 'Latest Products' on homepage?
Number of 'Latest Products' to display

and so on. This is a website settings to me.

My main aim is to

[2021-02-17 14:16] Dirty-Butter commented on #2784
I was able to accomplish this by basically cloning all code/files/database entry involved in printing the invoice with appropriate renaming and tweaking. I agree it would be a nice feature to have as stock code that survives upgrades.

[2021-02-17 15:26] havenswift-hosting commented on #2787
I understand your argument but :

Product reviews and sale items are both functionality being added or not, and while it does affect layout, they arent specifically to do with layout.

For your other examples "Products per page" is deprecated and has been moved to the skin and the Latest Products being there is very old and there is a big argument that this should also be done for that - I am sure

[2021-02-17 20:02] bhsmither opened #2788 "Reports Admin Skin to Have Hooks"
Request that admin template reports.index.php to have hook receiver code:
[code]

[2021-02-18 03:39] bhsmither commented on #2756
Is anyone currently working on this?

[2021-02-18 07:03] havenswift-hosting commented on #2756
Not as far as I am aware - happy to work directly with you on this one - please get in contact

[2021-02-18 07:08] abrookbanks commented on #2756
Sorry guys I'm still doing less than normal. I'm bloody hoping schools go back on 8th March. I've done a few bits on here but 95% of my time is help desk. I haven't got to this yet.

I'm DESPERATE to see schools open.

[2021-02-18 11:08] hairy-dog commented on #2756
A friend of mine is a teacher. Over a month ago she said she was staying home until 8th March. Although BJ says it will be decided by the numbers, not the date, that date seems to be established some time ago. Only three weeks!

 -- Iain

[2021-02-18 11:28] abrookbanks commented on #2756
Both my wife and I work full time. Having both kids at home full time is hell... especially with homeschool.

We are lucky compared to others. There must be single parents in high rise apartments. I have no clue how they cope.

[2021-02-18 11:30] HookedTackle opened #2789 "PayPal Commerce Issue"
We are trying to instal this Plugin, PayPal Commerce, and seem to be hitting a snag. We get as far as the "return to cubecart'" button and then we see this error message.

<img width="851" alt="Screenshot 2021-02-18 at 09 16 37" src="https://user-images.githubusercontent.com/79258010/108350874-a92d6380-71dc-11eb-9f24-01d88e3bf327.png">

[2021-02-19 08:25] Noodleyman commented on #2543
@abrookbanks , can this be revisited if possible? I've seen this happen a few times and it can take a store offline entirely until the image is removed manually. Adding a check may prevent some pain for customers and better improve the stability of CubeCart.

[2021-02-19 08:51] abrookbanks commented on #2543
It's not because the current version accidentally has a webp image in the image source folder is it? *facepalm* (directed at me)

[2021-02-19 08:54] Noodleyman commented on #2543
not on this occasion.. :) issue was from an older version and somebody uploaded a webp image

[2021-02-19 08:55] abrookbanks commented on #2543
I'm not sure what improvements can be made? I'll have a look at the logic as if this only works on upload maybe a check needs to be made on db build.

[2021-02-19 08:57] Noodleyman commented on #2543
I'm not sure either. other than a quick hunt on here today to see if it's a known issue, I've not done a technical deep dive into it. but, if something could be added it should help reduce issues in the future. :)

[2021-02-19 08:59] abrookbanks commented on #2543
Ok cool. I'll checkout the logic. Thanks Alec. I hope lockdown life is treating you well.

[2021-02-19 09:01] Noodleyman commented on #2543
keep forgetting we're in a lockdown... I'm like that guy who lives in the woods and doesn't see anybody for years, emerges once every few years for supplies then back to the cave. but yea, all good thx.

[2021-02-19 09:02] abrookbanks commented on #2543
Sounds like my kind of heaven!!

[2021-02-19 09:04] Noodleyman commented on #2543
I'm pretty much prepped for the end of days given how remote we live.. so ya know. not much changed for us. we're really quite lucky

[2021-02-19 09:09] abrookbanks commented on #2543
Firewood, cider, nettle soup. Sorted.

[2021-02-19 11:18] abrookbanks commented on #2789
What does the PHP error log show? If you reproduce it and then check the PHP error log it will be one of the latest ones.

I'd expect it to be something missing in your PHP config required by the script.

[2021-02-19 11:22] abrookbanks commented on #2787
I think the way forward for this is for the config.xml file to set the possible options for that skin. A part of the admin control panel should read this and create a page to work with these settings accordingly. This will bring a lot of flexibility.

[2021-02-19 11:23] abrookbanks commented on #2787
Closing for now to reopen when this work gets underway. Pulling this in in line with a sexier new default skin would be ideal.

[2021-02-19 11:23] #2787 closed, assigned to nobody

[2021-02-19 11:24] abrookbanks commented on #2787
Relates to #1671

[2021-02-19 11:29] abrookbanks commented on #2786
Thanks for this. 👍

[2021-02-19 11:29] #2786 closed, assigned to abrookbanks

[2021-02-19 11:36] abrookbanks commented on #2788
Hope I got that right.

[2021-02-19 11:36] #2788 closed, assigned to abrookbanks

[2021-02-19 13:51] HookedTackle commented on #2789
Hello, no faults have been recorded in the error log but the request log does show an error at certain stages of the process. I have attached what we can see from our end. We managed to get the Paypal Commerce to work by installing an older version but this still was not showing up on our checkout page.

[2021-02-19 13:54] abrookbanks commented on #2789
I don't see anything attached. When there is a 500 error there will be a corresponding error message. Can't help without knowing that.

I believe this is an issue specific to your web hosting environment and not a bug in CubeCart. Please report back with the error log details.

[2021-02-19 16:50] HookedTackle commented on #2789
Hello, the error is a 404 error not 500. Again, I have attached a folder to this email with relevant images documenting everything we see. This was working a few days ago and has now suddenly stopped functioning. We are currently unable to take any payment because of this issue at this time.

[2021-02-19 16:53] abrookbanks commented on #2789
There is nothing attached. This is not an inbox for email. You are replying publicly on GitHub here: https://github.com/cubecart/v6/issues/2789

[2021-02-19 19:53] tonyrsutton opened #2790 "Feature Suggestion: Search result shows products listing as you type"
Feature Suggestion: Search result shows products listing as you type. Also similar to Autocomplete.

Seeing more and more webpages doing this - showing you the products while you type in the product name in the search box. I think it's done by AJAX Live Search but instead of pulling the string from a file, this could be pulling the product details from the  product database to show you the listing

[2021-02-19 21:11] tonyrsutton commented on #2727
Did the code change work?

[2021-02-19 21:49] bhsmither opened #2791 "Admin Product Details to Have Enhanced Condition Listing"
In products.index.php:
[code]
In products.index.inc.php:
[code]
The hook 'admin.product.pre_display' can then be used to add more conditions. Such as:
[code]

[2021-02-19 22:33] tonyrsutton opened #2792 "Feature Suggestion: Auto remove Out of Stock products from Latest/Featured Product front page"
I have a few items that are on the front page for Latest/Featured Product and they often goes out of stock as soon as I put them up for sale.

It would be good if it can be auto-removed from Latest/Feature Product when they go out of stock, so it can push any 'in stock' products toward the front page for maximum views.

And once the stock comes back, it's re-added to Latest/Featured products.

[2021-02-19 23:34] havenswift-hosting commented on #2790
Great you are getting involved but please check if suggestions have already been made.  This is a duplicate of https://github.com/cubecart/v6/issues/2600 search will be massively improved by using ElasticSearch and / or Sphinx Search

[2021-02-19 23:41] bhsmither commented on #2792
We invite you to explore the setting "Hide out of stock". But keep in mind that if you are logged in as an admin, the "hiding" is disabled.

[2021-02-19 23:50] tonyrsutton commented on #2792
I did see it, thanks - but I do not wish to hide it as I plan to add the stock notification. Just that I don't want it to appear on front page when the stock is gone but still allow for user to find it via search.

[2021-02-19 23:52] tonyrsutton commented on #2790
Thank you, I did look for it before posting here, but I was not aware of a feature called ElasticSearch.

Cheers

[2021-02-19 23:58] tonyrsutton commented on #2790
I however found this post from Al regarding ElasticSearch. :(

https://forums.cubecart.com/topic/52138-resolved-improved-search-facility-elasticsearch/

[2021-02-20 11:32] HookedTackle commented on #2789
Hello, the error isn’t with the installation of the Paypal commerce anymore, the issue is that even when installed and linked to our account the Payment gateway isn’t showing for customers. This is obviously costing us money every day. I cannot see any reason as to why it would not show on our checkout page.

regards,

Spencer Howard
spencer@hookedtackle.co.uk

Hooked Tackle Ltd,
88 All Saints Rd

[2021-02-20 12:10] abrookbanks commented on #2789
Please open a technical support ticket or try our forums.

[2021-02-20 12:10] #2789 closed, assigned to nobody

[2021-02-20 12:31] tonyrsutton opened #2793 "Bug: Items Table formatting misaligned"
v6.4.2

Admin Console -> Customers -> Orders

I have an order where the Item table formatting are misaligned and does not show up correctly. Here's a screenshot

https://pasteboard.co/JPe7BxM.png

As you can see, the £9.00 got pushed down to next row, the 2nd row of £5.00 got pushed down to next row too, and then finally the Subtotal of £14.00 got pushed to the left of the 3rd row

I understand th

[2021-02-21 10:22] bhsmither commented on #2791
To use hooks or Code Snippets (two required):
[code]

[2021-02-21 10:37] bhsmither commented on #2791
I note that the admin conditions use `group catalogue, condition_whatever`, while the frontside class conditions use `group common, whatever`.

I suppose only one hook is needed if the hook to use is either `class.gui.skin_data` or `class.seo.construct`, as these are the only two hooks that are common to the admin and frontside.

[2021-02-21 17:47] bhsmither opened #2794 "Users Online: 404 Actual Path to be Revealed"
[code]
Little sense in providing a link to a 404 page.
[code]

[2021-02-21 18:07] tonyrsutton commented on #2794
Tested on v6.4.2 - works great, thank you. Would be awesome if this can be merged with the next release @abrookbanks - cheers!

Related discussion topic - https://forums.cubecart.com/topic/56707-tracing-the-404s/

[2021-02-21 19:49] tonyrsutton opened #2795 "Bug: jQuery and jQueryUI Packages to be Upgraded"
Discussion: https://forums.cubecart.com/topic/56707-tracing-the-404s/?do=findComment&comment=246558

Missing images from the ui-images images

ui-bg_glass_75_dadada_1x400.png
ui-bg_glass_55_fbf9ee_1x400.png
ui-bg_glass_75_e6e6e6_1x400.png
ui-bg_highlight-soft_75_cccccc_1x100.png
ui-icons_222222_256x240.png
ui-bg_flat_75_ffffff_40x100.png

Related bug report - #1664

Can the missing images please b

[2021-02-21 20:17] bhsmither commented on #2795
I think there is nothing wrong with the web server logging 404 on missing page resources. Or any 404. The web server does this because the web server is supposed to do this.

What needs not to happen is waking up CubeCart to deal with this request. That was solved with declarations in .htaccess many versions ago.

These image files *should have* been packaged with the matched version of the jQuery

[2021-02-21 20:47] bhsmither commented on #2795
This could very well be caused by the fact that CubeCart is erroneously using the `min.css` file from v1.10.4, but named 1.11.2, and using the imageset from v1.11.2.

[2021-02-21 20:48] tonyrsutton opened #2796 "Feature Suggestion: Include what product(s) has been sold in Sales Report & Export"
Admin Console -> Reporting -> Sales Reports

I would like to see what products was sold in this Sales Report so I can work out which products are popular with sales, allowing mw to focus on what to purchase stock.

And the data to be included with the CSV Export.

Thanks.

[2021-02-21 20:54] bhsmither commented on #2795
Maybe change the subject to: `jQuery and jQueryUI Packages to be Upgraded`?

Also, it seems the file jquery-1.11.2.min.js has an internal note that it is actually v1.11.1.

[2021-02-21 21:01] bhsmither commented on #2796
In admin, Statistics, Best Selling Products tab, you will get the top-selling items, 15 per page.

We can build a custom export module. I think I have a few laying about that were built for others with the same request.

[2021-02-21 21:14] tonyrsutton commented on #2795
Subject line updated, thanks.

[2021-02-21 21:15] tonyrsutton commented on #2796
I did see the Best selling tab, but no export option and no "View All", which means I have to copy & paste page by page which is not practical.

Would be interested to see what model you have if you don't mind?

[2021-02-21 21:40] bhsmither commented on #2796
See you on the forums!

[2021-02-22 11:05] Adrienmotblur opened #2797 "PayPal doesn't work and age verification make bug on cubecart"
Hi my PayPal module cubecart does not work. Why?WWhen I add age  verification codage on my top web page. Cubecart ask hack... How to create a module and add my code verification age? Hi have see a module for age verification on cubecart website but I do pay for it 🤔.

Thank you. I need to disallow sell to under 18years people.

[2021-02-22 11:09] tonyrsutton commented on #2797
Please use https://forums.cubecart.com or https://support.cubecart.com/hc/en-gb for knowledge base or support queries.

This is not the right place for support.

Thanks.

[2021-02-22 11:40] Adrienmotblur commented on #2797
Hi where I do put this post thank? in faq there no solution

[2021-02-22 11:40] Adrienmotblur commented on #2797
There's French forum?

[2021-02-22 14:26] Dirty-Butter commented on #2797
https://forums.cubecart.com/topic/55650-paypal-commerce/

[2021-02-22 14:36] Adrienmotblur commented on #2797
There's French forum? Thank you and for the age verification?

[2021-02-25 09:43] bhsmither opened #2798 "More Info to be in Min Qty Error Message"
During checkout, if a customer changes the quantities of several items in the basket such that for any quantity that violated the limit, the error message does not indicate which item(s) need correcting.

Suggest that `Language->catalogue['error_minimum_quantity']` have a second placeholder for the product's name.

[2021-02-25 18:54] bhsmither opened #2799 "Template Variable Collision"
Both `GUI->_displaySaleItems()` and `Catalogue->displayCategory()` use `PRODUCTS` as the template array variable.

Normally, this is not a problem.

However, create this scenario:
* Enable Sales Mode - Per Product
* Set to blank or not zero number sale items to display (not really tested)
* Set all applicable product's Sale Price to zero.
* Have a category with zero products in it (probably with a

[2021-02-26 07:46] Noodleyman opened #2800 "Defect - Fucntion buildURL() does not respect the seo_extension setting correctly which can break storefront links"
If an SEO URL already exists with a .html extension in the database, then this is returned with .html regardless of the SEO Extension setting.

The function only respects the setting if the database record does not yet exist. this is causing problems for stores who upgraded rather than cleanly installed and changed the setting to not use extensions.

[2021-02-26 07:51] Noodleyman commented on #2800
additional info:
CubeCart_seo_url.custom = 1 which contains a .html extension, but can't even open those URL's, 404 error.

[2021-02-26 08:04] tonyrsutton commented on #2800
Thank you for looking into this.

[2021-02-26 08:05] tonyrsutton opened #2801 "Feature Suggestion: Show image upon hoovering over Product name"
It would be good to have the image to show up when you hoover the mouse pointer over each of the items that was ordered under Admin Console -> Customers -> Orders -> [Order ID] -> Items

Now and then I often having to go to the product itself, then going to Images to see/confirm what it is before adding it to the box.

Having the image to come up when hoovering the mouse pointer over each of the i

[2021-02-26 08:07] tonyrsutton opened #2802 "Feature Suggestion: Total Number of item in the Order"
In Order Summary page under Admin Console -> Customers -> Orders -> [Order ID] -> Under Items

It would be awesome to show the total number of items for this order. Now and then, I would have a huge order and I often having to do a count to see how many items IN TOTAL in this order.

Maybe something like 'Items - xx' where xx is the numbers of items just before the list of the items.

[2021-02-26 16:18] Dirty-Butter commented on #2801
I needed this as well, as many plush animals have very similar descriptions and it's easy to send the wrong one if I don't look at the photo before pulling from stock.
I edited the orders.index.php file to use this instead. It requires opening another tab of the item, but that lets me easily read the description for condition if that is also needed.
``              <strong>{$product.quantity} x {$

[2021-02-28 04:11] bhsmither opened #2803 "AIOS Layout"
In the General tab, Advanced Settings, the layout is all over the place (for me).
[code]

[2021-02-28 08:27] tonyrsutton opened #2804 "Feature suggestion - Latest Products to be randomised"
It would be good if Latest Products be randomised with various stock that has the "Include in latest products" checked, just like you have randomised Featured Product stock.

[2021-03-02 06:22] bhsmither opened #2805 "Code Review: Reliance on Plugin Function"
At numerous places throughout the code, there are hidden checkboxes `class="toggle"` that will eventually end up having a matching `<img>` tag, so that an assertive value of a "0" or "1" will get POSTed.

The code that watches for these hidden checkboxes `class="toggle"` is in the FileTree plugin (near line 364).

Suggest the FileTree plugin manage its own toggle checkbox hidden inputs for the Fil

[2021-03-02 08:37] Noodleyman commented on #2800
I also tracked another, related problem in the httpredir function.

`        if (!CC_IN_ADMIN && !strstr($destination, '.') && substr($destination, 0, 1)!=='?') { // Add .html if for some reason its missing!!
            $destination = $destination.'.html';
        }`

This does not respect the extension setting, and in some cases will actually add .html, even though the .html extension is disable

[2021-03-02 08:40] Noodleyman commented on #2800
I added a quick work around, not sure if this is the best solution but it works for now.

[code]

[2021-03-02 09:01] Noodleyman opened #2806 "Can the price to pay be added to the admin products overview screen?"
Retail price is available, but if the product is on sale then it isn't possible to see the actual price a customer would pay. having the price to pay would be useful if you're working through the list specifically targeting sale items.

this may get a little complex with items that use options with various prices, but adding a price range for options in the price to pay would also be quite a usefu

[2021-03-02 10:36] Debyred commented on #2806
There is no where in Cubecart backend (Admin side) to see what products currently have a 'Sale Price' , this means having to go to your store front and viewing the 'Sale' category, then going back to the backend to find them. Cubecart V3 & V4 used to show the normal price and sale price in the product inventory.

[2021-03-02 11:48] hairy-dog commented on #2806
What a pity nobody invented tabbed web browsers.

[2021-03-02 12:39] Debyred commented on #2806
So is it not better to be able to scroll through your product inventory and see at a glance which you have reduced, rather than bouncing back and forth between tabs. Might be ok if you only have a few products with reduced prices but we sometimes have hundreds.

[2021-03-02 12:54] Noodleyman commented on #2806
Even adding a filter to only show in sale items would do the trick. could even be added to the existing filter list (category).  seems a simple thing to add that a lot of people could make use of.

[2021-03-02 19:54] havenswift-hosting opened #2807 "Possible to by-pass shipping when combination of digital and tangible products"
This was first discovered on a client site where they are losing hundreds a month in shipping.  Then also validated in our test / dev environment and finally in a fresh 6.4.2 store with only AIOS shipping added.  It makes no difference what sort order is chosen for shipping costs or what skin is used.

If you first add a digital product to the basket and view the basket, then go and add a tangible

[2021-03-02 20:07] abrookbanks commented on #2807
Can you reproduce it here where there is one digital item, one physical and two shipping rates using AIOS shipping? Stripe is in test mode.
https://www.brooky.com/v6

I can't.

Edit: That URL is connected to a Raspberry Pi that seems to like to crash. Hopefully it will be up.

[2021-03-02 21:24] havenswift-hosting commented on #2807
Yes I can reproduce and just have with an order placed on the store for a digital and physical order where no shipping is charged. Follow the sequence that I did in the video - I can do it on any store

[2021-03-02 21:28] abrookbanks commented on #2807
Nice one. I'll check the video again.

[2021-03-02 21:33] havenswift-hosting commented on #2807
Also couldn't believe that it was possible which is why I tested in multiple stores, multiple skins and multiple configs.  Can walk you through it now if you want or we can do tomorrow - ping me on WhatsApp if you want

[2021-03-02 21:35] abrookbanks commented on #2807
Thanks Ian.

[2021-03-02 22:00] abrookbanks commented on #2807
I reproduced it. Add digital first, view basket, back to choose physical then checkout. Brilliant. Thanks.

I'm sure it's simple. Famous last words right?!

[2021-03-02 22:06] havenswift-hosting commented on #2807
Exactly - amazed not been seen before but client store has a LOT of free digital products that are very often coupled with tangible products.

Sure you will find and fix it !

[2021-03-02 22:12] abrookbanks commented on #2807
Yeah I can't either. I changed your issue title so not to cause a panic. This probably affects a very small percentage of merchants. I'm on it though.

[2021-03-02 22:32] havenswift-hosting commented on #2807
I agree it wont be affecting a large majority but a reasonable number do sell digital and tangible products and I would guess that many dont realise that this is happening - this client has now traced that it has been happening for a while before they discovered it - appreciate you looking into it so quickly !

[2021-03-03 08:06] jasehead commented on #2802
I put some code in my orders.index.php template to add product quantities and give a final IN TOTAL number of items - so 3 forks + 7 knives = 10 in total. Is that what you meant?

`{foreach from=$PRODUCTS item=product}{$intotal=$intotal+$product.quantity}{/foreach}`

Then you would use something like this to display the total count:

`(total of {$intotal} items)`

If you just want to count how man

[2021-03-03 08:28] jasehead commented on #2806
In the products.index.php template, I added a sale price column between price and stock level like this:

`<td>{$product.price}</td>`
`<td>{$product.sale_price}</td>`
`<td align="center">{$product.stock_level}</td>`

[2021-03-03 09:42] abrookbanks commented on #2807
Can you try that fix for me. From my testing it works.

[2021-03-03 09:42] abrookbanks commented on #2807
I'll close once confirmed fixed.

[2021-03-03 10:43] Debyred commented on #2806
Thank you so much jasehead - that works brilliantly .
I actually ended up using the Translations column (as I don't use translations) and changed the heading name. Can see at a glance which products are on sale.
Made a note in my own changelog so I can redo after any future updates.

[2021-03-03 15:17] havenswift-hosting commented on #2807
Thanks Al - Confirm that this solves the problem for sites using Foundation and either of our two skins - unfortunately it doesnt solve it for the client who are using a 3rd party skin but will chat to the developer to get him to look into it.

As far as I am concerned, it can be closed

[2021-03-03 15:42] abrookbanks commented on #2807
Thanks for your feedback.

[2021-03-03 15:42] #2807 closed, assigned to abrookbanks

[2021-03-03 21:28] bhsmither commented on #2807
May we ask which third-party skin?

[2021-03-03 21:37] havenswift-hosting commented on #2807
There was no problem - the solution is good

[2021-03-03 22:34] jasehead commented on #2806
Yes, I forgot to say that if you wanted to insert a new column you need a new heading too (between price and stock level):

`<th nowrap="nowrap">{$THEAD.price}</th>`
`<th nowrap="nowrap">{$THEAD.price_sale}</th>`
`<th nowrap="nowrap">{$THEAD.stock_level}</th>`

[2021-03-05 17:31] bhsmither opened #2808 "A New de-DE Definitions XML"
Attached is the work from forum user MostlyConfused who added almost all the new phrases to the translation definitions file since the existing version. (The email file was not worked on.) This version is deemed **2.0.0**. Hundreds of strings were updated.

Note that the "introduced" attribute did not carry over from the source file.

Also in the ZIP attachment is a second file that has a translat

[2021-03-06 02:05] bhsmither opened #2809 "Code Review: AIOS v1.0.7 vs 1.0.8"
Somewhere between 14 May 2015 and 11 Mar 2016, the AIOS shipping.class.php had the following added t it:
[code]
Is there a record why this was deemed necessary?
_"Fix for when shipping estimates are disabled"_

Considering the AIOS module, having analyzed its program flow, has come to be understood as being rather versatile.

So versatile, that "zones", per se, need not be in the context of geogra

[2021-03-07 15:47] tonyrsutton opened #2810 "Feature Suggestion: Users Online - Name the Web Bots"
In Admin console -> Reporting -> Statistics -> Users Online tab

I see all of the Users online. They are named as 'Guest' plus registered customers.  'Guest' is also used for web bots.

I click on "Display Customers Only"

I see Guest & Registered customers online.

That means somehow CubeCart knows who these web bots are to filter this out.

Can this be changed so instead of 'Guest', it shows up

[2021-03-08 00:26] bhsmither opened #2811 "Code Request: Shipping Modules to Respect 'position' Module Setting"
In `Cart->loadShippingModules()`, request that the `$shipping` hold an array sorted by 'position'.

Then, enhance all the shipping modules to include the ability to set a priority. (I need the AIOS to be the last module processed.)

[2021-03-08 09:02] abrookbanks commented on #2808
Master language updated....

[2021-03-08 09:25] abrookbanks commented on #2808
Updated and updated extension too. Thanks for this.

[2021-03-08 09:25] #2808 closed, assigned to abrookbanks

[2021-03-08 09:26] #2797 closed, assigned to nobody

[2021-03-08 09:26] abrookbanks commented on #2796
Closing for now as per our guidelines. Thanks for the feature request.

[2021-03-08 09:26] #2796 closed, assigned to nobody

[2021-03-08 09:28] abrookbanks commented on #2810
Thanks Tony! We will review for next midpoint release.

[2021-03-08 09:28] #2810 closed, assigned to nobody

[2021-03-08 09:28] abrookbanks commented on #2804
Thanks again! :O) Closed and not forgotten/ignored.

[2021-03-08 09:28] #2804 closed, assigned to nobody

[2021-03-08 09:29] #2801 closed, assigned to nobody

[2021-03-08 09:29] #2802 closed, assigned to nobody

[2021-03-08 09:30] abrookbanks commented on #2790
Yes Elastic search is going to be our next big push I hope. I have mountains of work to catch up on.

[2021-03-08 09:30] #2790 closed, assigned to abrookbanks

[2021-03-08 09:30] #2792 closed, assigned to nobody

[2021-03-08 09:31] #2775 closed, assigned to nobody

[2021-03-08 09:31] #2776 closed, assigned to nobody

[2021-03-08 09:31] #2777 closed, assigned to nobody

[2021-03-08 09:31] #2778 closed, assigned to nobody

[2021-03-08 09:31] #2760 closed, assigned to nobody

[2021-03-08 09:31] #2757 closed, assigned to nobody

[2021-03-08 09:33] #2724 closed, assigned to nobody

[2021-03-08 09:33] #2741 closed, assigned to abrookbanks

[2021-03-08 09:33] #2742 closed, assigned to abrookbanks

[2021-03-08 09:33] #2748 closed, assigned to nobody

[2021-03-08 09:33] #2749 closed, assigned to nobody

[2021-03-08 09:33] #2751 closed, assigned to nobody

[2021-03-08 09:33] #2437 closed, assigned to abrookbanks

[2021-03-08 09:33] #2454 closed, assigned to abrookbanks

[2021-03-08 09:34] abrookbanks commented on #2784
Closed until feature reviews are next done.

[2021-03-08 09:34] #2784 closed, assigned to nobody

[2021-03-08 09:44] #2806 closed, assigned to nobody

[2021-03-08 09:49] abrookbanks commented on #2798
I agree this would be much better. I have mountains to catch up on so I have to put this down as a feature request for now. Kids are finally back at school and I'm starting to realise the volume I have to catch up on. Strict bugs for now.

At least I can put more time back into CC now instead of just firefighting.

[2021-03-08 09:49] #2798 closed, assigned to nobody

[2021-03-08 09:54] abrookbanks commented on #2800
I haven't come across this issue on any of the stores I've upgraded. Why would a .html extension exist in the database once upgraded? The upgrade strips it off.

Have you got a real-world example?

[2021-03-08 10:09] abrookbanks commented on #2794
I went for a slightly different approach using a strikethrough. Thanks for this its quite simple and powerful!

<img width="220" alt="Screenshot 2021-03-08 100843" src="https://user-images.githubusercontent.com/4520803/110307006-5b936200-7ff6-11eb-8075-1c44127683f9.png">

[2021-03-08 10:13] #2794 closed, assigned to abrookbanks

[2021-03-08 10:15] tonyrsutton commented on #2800
Noodleman and I worked on this for my test website - it was a new & clean installation, no upgrades. And we tested this with a test product that was already set up by the new installation.

[2021-03-08 10:19] tonyrsutton commented on #2794
Thank you :)

[2021-03-08 10:32] abrookbanks commented on #2795
Closing as this seems to work really well for me. I'd be grateful if you can test it. I'll reopen if any issues are discovered.

[2021-03-08 10:50] abrookbanks commented on #2800
Ah ok that helps then. If I do a clean install how would I reproduce the bug?

[2021-03-08 11:20] Noodleyman commented on #2800
It relates to modules that call the function to get a url. As the function
doesn't handle the setting in all cases, the URLs returned can be wrong.
There are a couple things going on here, one being that some items in the
db can be stored with a .html extension, which can sometimes drive an
incorrect link. The other being the workaround I put earlier in this item.
Being a bit vague, not at my desk

[2021-03-08 11:27] tonyrsutton commented on #2800
Do a clean install of CubeCart and keep everything as default setting. Once done, I installed this Back In Stock Notification.

https://www.noodleman.co.uk/downloads.html#backinstocknotifications

Enable it.

Make sure the test product is out of stock (i.e. stock level 0)

Go to the website and go to the test product (while logged off). I click on Notify me when back in stock. Log on/register

Onc

[2021-03-08 11:48] abrookbanks commented on #2800
Do you know which ones? I can't think of or see any. Hopefully, we can pick this up in the future. Enjoy your away from desk time.

[2021-03-08 11:49] abrookbanks commented on #2800
@tonyrsutton thanks I can try that

[2021-03-08 14:35] abrookbanks commented on #2795
Already a bug with checkboxes:

[code]

[2021-03-08 14:42] abrookbanks commented on #2795
Closing again unless anything else comes up...

[2021-03-08 14:42] #2795 closed, assigned to abrookbanks

[2021-03-08 14:49] abrookbanks commented on #2772
This makes me mildly anxious.

[2021-03-08 14:49] #2772 closed, assigned to abrookbanks

[2021-03-08 14:57] abrookbanks commented on #2793
Great find. Thank you!

[2021-03-08 14:57] #2793 closed, assigned to abrookbanks

[2021-03-08 14:58] abrookbanks commented on #2793
<img width="514" alt="Screenshot 2021-03-08 145747" src="https://user-images.githubusercontent.com/4520803/110338219-ac1eb580-801e-11eb-819d-a8cee749b12c.png">

[2021-03-08 15:02] havenswift-hosting commented on #2772
Needs some good testing before release lol

[2021-03-08 15:05] abrookbanks commented on #2772
shouldn't do... should do! LOL

[2021-03-08 15:47] abrookbanks commented on #2772
All seem to be working fine. Hopefully this is the last of bad ID association. Well done Brian!

[2021-03-08 16:13] abrookbanks commented on #2769
<img width="1319" alt="Screenshot 2021-03-08 161226" src="https://user-images.githubusercontent.com/4520803/110348144-3bc96180-8029-11eb-961d-e459c0e3400c.png">

[2021-03-08 16:13] abrookbanks commented on #2769
Much better. Thanks! :)

[2021-03-08 16:13] #2769 closed, assigned to abrookbanks

[2021-03-08 16:29] abrookbanks commented on #2799
This is tricky because 3rd party skins will need updating. I think we have to include the old macro name too `PRODUCTS`.

[2021-03-08 16:29] #2799 closed, assigned to abrookbanks

[2021-03-08 16:36] havenswift-hosting commented on #2799
If you are going to make the suggested changes to the foundation skin then these could easily be done to third party skins as well - those that are unsupported are missing so many changes / improvements that people shouldnt really be using them and they probably need removing from the marketplace.

I think it is a bad solution testing for the name of a skin as in this commit !

[2021-03-08 16:40] abrookbanks commented on #2799
Yeah I agree actually. We will need a release note.. skin developers need to be onboard.

[2021-03-08 16:46] havenswift-hosting commented on #2799
Complete agree - certainly I and NiteFox will be updating our skins - who else is there ??

[2021-03-08 16:50] abrookbanks commented on #2805
Good shout this. Find and replace made it easy and I can't find any bugs off the back of it.

[2021-03-08 16:50] #2805 closed, assigned to abrookbanks

[2021-03-08 16:51] abrookbanks commented on #2799
Ha! Not as may as I would like. :-(

[2021-03-09 09:36] #2791 closed, assigned to abrookbanks

[2021-03-10 06:42] rbosma commented on #2803
Same here, thanks bhsmither

[2021-03-10 08:16] bhsmither opened #2812 "Print Order Form Followup"
Concerning issue #2698, the comment made Dec 2 (https://github.com/cubecart/v6/issues/2698#issuecomment-737399830) needs to be followed up.

The customer's email does not include the product's options.

[2021-03-10 10:18] #2770 closed, assigned to abrookbanks

[2021-03-10 13:10] #2736 closed, assigned to nobody

[2021-03-10 13:12] #2735 closed, assigned to abrookbanks

[2021-03-10 13:15] abrookbanks commented on #2756
Assumed fixed via #2772. Please let me know otherwise.

[2021-03-10 13:15] #2756 closed, assigned to abrookbanks

[2021-03-10 13:16] #2731 closed, assigned to abrookbanks

[2021-03-10 13:19] abrookbanks commented on #2733
I think this is store specific.

[2021-03-10 13:19] #2733 closed, assigned to abrookbanks

[2021-03-10 13:36] #2737 closed, assigned to abrookbanks

[2021-03-10 13:48] Noodleyman commented on #2733
Agreed, although did you address the spelling issue? 😊

[2021-03-10 13:52] abrookbanks commented on #2737
Relates to #2400 improved fix https://github.com/cubecart/v6/commit/eb16305545f8bd6f100e0c2dcf348d8b915c5dd7

[2021-03-10 13:54] abrookbanks commented on #2733
Yes. Silly typo fixed.

[2021-03-10 13:55] Noodleyman commented on #2733
Thank you Al 😊

From: Al Brookbanks <notifications@github.com>
Sent: 10 March 2021 13:55
To: cubecart/v6 <v6@noreply.github.com>
Cc: Noodleyman <support@noodleman.co.uk>; Author <author@noreply.github.com>
Subject: Re: [cubecart/v6] cart.order_pending (#2733)

Yes. Silly typo fixed.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub <https://

[2021-03-10 15:15] yarnell902 opened #2813 "Multi delete function not working in digital file manager"
hey folks,

In doing some work on the file manager I just noticed that the multi delete does not work while in digital mode. It does work in image mode though. I tried deleting a file and then updating the file list but it did not work. Fresh Install

Ohh, also, I tried the individual delete icon and that does work. Its just the multi delete that does not work.

just wanted to let you know.

[2021-03-10 15:58] abrookbanks commented on #2813
Reproduced. I'll get it fixed in the next 24 hours.

[2021-03-10 16:19] yarnell902 commented on #2813
great, thanks.

[2021-03-10 18:02] bhsmither commented on #2812
A suggested fix as detailed at this forum post didn't seem to solve it:
https://forums.cubecart.com/topic/38607-extra-text-field/?do=findComment&comment=246838

Tracing the code.

[2021-03-10 20:12] CanadaFB opened #2814 "Payment Gateway"

[2021-03-10 20:36] bhsmither commented on #2812
Used wrong variable names.

All working now (fingers crossed).

[2021-03-11 06:25] yarnell902 opened #2815 "Potential Image Cropper Issue"
Hey,

I manage to run into another issue with the file manager. We'll I'm not sure if this is an issue or if it was designed this way, but when I open the image cropper and try to crop, the crop window is fixed to the top left corner making it impossible for me to crop the image (unless I actually want to crop the top left corner). When I try to move the crop window I do see the 4 arrows but the c

[2021-03-11 08:22] abrookbanks commented on #2814
Please try our [forums](https://forums.cubecart.com/).

[2021-03-11 08:22] #2814 closed, assigned to nobody

[2021-03-11 08:48] #2813 closed, assigned to abrookbanks

[2021-03-11 08:52] bhsmither opened #2816 "Add/Edit Product Digital Tab to Have a Drop Zone"
Feature Request: Add/Edit Product

Place a Drop Zone on the Digital tab like the one seen on the Images tab.

[2021-03-11 09:37] abrookbanks commented on #2815
Thanks for this.

[2021-03-11 09:46] #2816 closed, assigned to nobody

[2021-03-11 10:26] yarnell902 commented on #2815
Your welcome :-)

[2021-03-11 12:15] tonyrsutton commented on #2800
Did you manage to repro this?

[2021-03-11 12:16] tonyrsutton commented on #2800
I also spotted this - #2759

Is it related?

[2021-03-11 14:03] abrookbanks commented on #2800
Sorry I've not got onto this yet.

[2021-03-11 14:09] abrookbanks commented on #2811
Thanks

[2021-03-11 14:09] #2811 closed, assigned to abrookbanks

[2021-03-11 14:27] abrookbanks commented on #2803
Thanks this will be in 1.0.20 which is WIP.

[2021-03-11 14:27] #2803 closed, assigned to abrookbanks

[2021-03-11 14:28] abrookbanks commented on #2809
Thanks this has been removed. I don't know why it was added.

[2021-03-11 14:28] #2809 closed, assigned to abrookbanks

[2021-03-11 14:33] tonyrsutton commented on #2770
Thank you Al.

[2021-03-11 14:36] abrookbanks commented on #2754
Fixed for 1.0.20 check for CubeCart_geo_zone status => 1

[2021-03-11 14:36] #2754 closed, assigned to abrookbanks

[2021-03-11 14:56] abrookbanks commented on #2785
When does this happen so I can test?

[2021-03-11 15:04] abrookbanks commented on #2785
Ignore that I figured it out.

[2021-03-11 15:04] #2785 closed, assigned to abrookbanks

[2021-03-11 15:11] abrookbanks commented on #2767
To clarify: Fixed for products and documents. Categories still need doing..

[2021-03-11 15:13] #2783 closed, assigned to nobody

[2021-03-11 16:03] #2762 closed, assigned to abrookbanks

[2021-03-11 16:22] #2746 closed, assigned to abrookbanks

[2021-03-11 16:26] yarnell902 opened #2817 "Export of Email Contents not working"
Good afternoon.

It says that when I export email contents it should generate a file named 'email_<language code>-custom.xml' in my language folder. I have tried it on a new install and it still does not work.

Just wanted to let you know.

[2021-03-11 16:27] #2759 closed, assigned to nobody

[2021-03-11 16:40] abrookbanks commented on #2817
Thanks

[2021-03-11 16:40] #2817 closed, assigned to abrookbanks

[2021-03-11 17:23] yarnell902 commented on #2817
No worries man. Love the product thus far. You all are doing a great job.

[2021-03-11 19:57] bhsmither opened #2818 "AIOS Shipping Extensions Page has Typo"
The newly added version has been typo'd with `1.0.2-`. Suggest `1.0.20`.

[2021-03-12 08:03] abrookbanks commented on #2771
Thanks for this.

[2021-03-12 08:03] #2771 closed, assigned to abrookbanks

[2021-03-12 08:12] abrookbanks commented on #2818
Whoops!

[2021-03-12 08:12] #2818 closed, assigned to nobody

[2021-03-12 08:12] #2729 closed, assigned to abrookbanks

[2021-03-12 08:14] abrookbanks commented on #2726
Thanks!

[2021-03-12 08:14] #2726 closed, assigned to abrookbanks

[2021-03-12 08:23] abrookbanks commented on #2727
Ignore the reverted commit above. Wrong issue by typo.

[2021-03-12 08:23] #2727 closed, assigned to abrookbanks

[2021-03-12 09:51] havenswift-hosting opened #2819 "Remove ini_set('memory_limit', '256M') from ini.inc.php"
This line should be removed from the core ini.inc.php

There should be no need  - either an account can change the memory limit themselves or this will fail if the server limit is set any lower.

If the account memory_limit is set higher this then has the negative impact of reducing the limit !

[2021-03-12 12:23] abrookbanks commented on #2819
Weird I was thinking the same yesterday whilst looking at error reporting (which should be off by default) too.

[2021-03-12 12:23] #2819 closed, assigned to abrookbanks

[2021-03-12 13:43] #2728 closed, assigned to abrookbanks

[2021-03-12 13:44] #2722 closed, assigned to nobody

[2021-03-12 23:27] yarnell902 commented on #2815
Hey, I updated my files as per your edits and the cropper is still not working.

[2021-03-13 06:03] yarnell902 opened #2820 "Potential issue with tax not calculating"
I'm not sure if this was done by design or not but the tax does not auto calculate when creating/modifying an order. Anyway to get this to auto calculate so we don't have to pull out the calculators?

thanks.

[2021-03-13 06:54] abrookbanks commented on #2815
Did you clear your browser cache?

[2021-03-13 06:59] yarnell902 commented on #2815
I did, I tried on crome, firefox and edge. no work.

[2021-03-13 07:11] abrookbanks commented on #2815
Any JS errors in the console?

[2021-03-13 07:14] yarnell902 commented on #2815
Uncaught TypeError: l is undefined
    drag http://xxx/xxx/skins/default/js/plugins.php?52c11c6ae976461151ad53df32f0589b:145
    jQuery 10

[2021-03-13 07:16] yarnell902 commented on #2815
Uncaught TypeError: l is undefined
    drag http://xxx/xxx/skins/default/js/plugins.php?52c11c6ae976461151ad53df32f0589b:145
    jQuery 10
        _trigger
        _trigger
        e.widget/</h[t]</<
        _mouseDrag
        e.widget/</h[t]</<
        _mouseMove
        e.widget/</h[t]</<
        _mouseMoveDelegate
        dispatch
        handle
plugins.php:145:1479
    drag http://xxx/xxx/skin

[2021-03-13 07:30] abrookbanks commented on #2815
Thanks

[2021-03-13 09:50] rbosma commented on #2820
Don't know if done by design. I bypass this issue by logging in as customer and creating the order.
Would be nice to work in admin mode

[2021-03-13 13:48] havenswift-hosting commented on #2820
This is one of the very many features in our Enhanced Admin Order Entry plugin. See https://www.cubecart.com/extensions/plugins/enhanced-admin-order-entry

[2021-03-14 00:13] bhsmither opened #2821 "Spelling"
[code]
Suggest:
[code]

[2021-03-15 09:10] #2821 closed, assigned to abrookbanks

[2021-03-15 09:17] abrookbanks commented on #2815
I can't reproduce this I'm afraid. http://static.cubecart.com/issue-2815.mp4

It may be because JQuery is out of date which as been updated in a different issue.

[2021-03-15 09:18] abrookbanks commented on #2820
Large known slightly annoying complex issue.

[2021-03-15 09:18] #2820 closed, assigned to abrookbanks

[2021-03-15 09:20] abrookbanks commented on #2725
Great shout thanks! :o)

[2021-03-15 09:20] #2725 closed, assigned to abrookbanks

[2021-03-15 09:51] abrookbanks commented on #2720
Personally I don't like this at all because the customer shouldn't find it easy to backtrack then get distracted and abandon the order. They need to pay. However merchants request this so much it should probably be standard. It can always be removed.

[2021-03-15 09:51] #2720 closed, assigned to abrookbanks

[2021-03-15 09:53] abrookbanks commented on #2687
I'm going to leave this as it is for now because I think it's a better use of space and to me feels natural. Maybe having been  a long term mac user. Maybe a forum poll could be a good idea.

[2021-03-15 09:53] #2687 closed, assigned to nobody

[2021-03-15 13:47] yarnell902 commented on #2815
I noticed in the video you did not try to move the box around. The issue occurs when you click inside the box and try to drag the box around the image... at least for me it does. So if you try to drag the box to the bottom right corner, for instance.

[2021-03-15 13:57] abrookbanks commented on #2815
Ah! I'll try that...

[2021-03-15 14:47] #2815 closed, assigned to abrookbanks

[2021-03-15 14:49] yarnell902 commented on #2815
perfect... thank you sir :-)

[2021-03-15 14:50] abrookbanks commented on #2815
No thank you. It was a classic situation of a developer not looking at real world situation.

[2021-03-17 04:12] yarnell902 opened #2822 "REQUEST: Joyride nub position tweak"
Hey,

I've been trying to figure out how to position joyrides nub position on the bottom right but I can't seem to figure it out, I'm assuming its because its not programmed into the javascript file. Would it be possible to get this functionality added?

Here is a joyride solution I found but it dosn't seem to work with cubecart.
https://codepen.io/adam-huffman/pen/eKgIE

Note the following code
`

[2021-03-17 07:48] tonyrsutton commented on #2822
It would be good if you explain how it can help CubeCart and what it does for CubeCart.

[2021-03-17 08:00] yarnell902 commented on #2822
Hi tony, at the moment I can only position the nub on the left/right/top/bottom of the joyride tip window. Extending the nub position to top-right or left-bottom or bottom-right would allow for more flexability when positioning the tip window.

Hope that helps.

[2021-03-17 08:01] #2822 closed, assigned to nobody

[2021-03-17 08:36] abrookbanks opened #2823 "Update Dropzone"
4.3.0 to 5.7.3.

[2021-03-17 09:23] abrookbanks commented on #2823
Customisations taken out of dropzone.js and put into admin.js instead. This should make future upgrades easier.

[2021-03-17 09:23] #2823 closed, assigned to abrookbanks

[2021-03-17 09:27] abrookbanks opened #2824 "?{$VERSION_HASH} missing from various static css/js files"

[2021-03-17 09:28] #2824 closed, assigned to abrookbanks

[2021-03-17 09:34] abrookbanks opened #2825 "RewriteCond for favicon.ico fails in subfolder"

[2021-03-17 09:36] #2825 closed, assigned to abrookbanks

[2021-03-17 10:07] havenswift-hosting opened #2826 "Feature Request : Downloadable Product Options"
Brian has written the code to add this to core and it has been tested by a couple of people - see https://forums.cubecart.com/topic/56223-digital-files-linked-to-a-products-options/

There have been several discussions about adding this into core but never in a formal way via an issue here - think this would be a great addition to core as often requested

Brian's instructions added as attachments

[2021-03-17 14:55] abrookbanks opened #2827 "Max item quantity"
Thanks to our CC legend Brian.
[code]

[2021-03-17 15:11] #2827 closed, assigned to abrookbanks

[2021-03-17 15:57] bhsmither commented on #2823
The edits to admin.js just may have solved the pickle I got myself into when implementing issue #2816.

I didn't realize CubeCart's DropZone had any customizations.

[2021-03-17 16:00] bhsmither commented on #2826
Possible duplicate of #2749.

[2021-03-17 16:01] abrookbanks commented on #2823
Ah cool! Yeah good to know. To be honest I didn't know it was customised either but a diff showed me.

This was a great idea. Thanks for suggesting.

[2021-03-17 16:03] havenswift-hosting commented on #2826
It certainly is !

[2021-03-17 16:03] #2826 closed, assigned to nobody

[2021-03-18 02:53] bhsmither opened #2828 "FileManager Class Enhancement"
In `filemanager.index.inc.php`, the FileManager class is instantiated with a known `$mode` and `$subdir`. Those modes are 'digital' or (default) 'image'. Shortly after, `FM->upload()` is called.

In `upload()`, legitimate work gets done, but near the end, there is code that assumes this instantiation of FM is for an 'image' mode.

The private method `_assignProduct()` must be rewritten to manage t

[2021-03-18 05:36] bhsmither commented on #2823
Code Review:

When instantiating the DropZone instance against `$("div.dropzone")` (line 478), we initially pass in the option:
[code]
Then, in the `this.on("processing") override, we re-specify that option (line 498):
[code]
I (emphatically) propose the `subdir` be appended to the existing option value:
[code]
I have plans for the initial declaration.

[2021-03-18 07:30] abrookbanks commented on #2823
That doesn't work because it could get appended more than once...

e.g.
?_g=filemanager&product_id=120&subdir=folder1
?_g=filemanager&product_id=120&subdir=folder1&subdir=folder2
?_g=filemanager&product_id=120&subdir=folder1&subdir=folder2&subdir=folder3

[2021-03-18 07:57] bhsmither commented on #2823
How? Where would the extra subdirs come from?

I will experiment with dropping a **collection** of image files onto the dropzone and see what happens. That is the only way I can see that _might_ cause "processing" to iterate across the collection, appending another `$("#val_subdir").text();` each time. But it would be the same subdir, no?

[2021-03-18 08:08] yarnell902 opened #2829 "Cookies being rejected"
Hey,

It seems Mozillahas made some updates... I'm getting the following error:

error Cookie “CC_7B4D6A07E5” will be soon rejected because it has the “SameSite” attribute set to “None” or an invalid value, without the “secure” attribute. To know more about the “SameSite“ attribute, read https://developer.mozilla.org/docs/Web/HTTP/Headers/Set-Cookie/SameSite

[2021-03-18 08:27] bhsmither commented on #2823
Yup. Exactly. On the fourth iteration:
[code]
But all the images ended up in the Test folder!

[2021-03-18 08:32] bhsmither commented on #2823
Moving my 'plans' into the "processing" override...

[2021-03-18 08:34] abrookbanks commented on #2823
Sorry I'm lost now. Why would we want to appending of subdir?

[2021-03-18 08:39] bhsmither commented on #2823
Keep in mind I'm working on issue 2816...

For an infinitesimal erg of optimization, the idea was to actually use what was already given in the initial group of options.

My next experiment will not include an initial url option.

Nope. Needs an action attribute on `<form>` or a non-null initial option. Go to plan "C".

[2021-03-18 08:58] abrookbanks commented on #2823
OK cool. I'm happy to make changes necessary for #2816.

Maybe the changes above can be part of that issue?

[2021-03-18 09:00] bhsmither commented on #2823
The changes above will be required for 2816 to succeed.

[2021-03-18 09:04] abrookbanks commented on #2823
I trust your wisdom as such a devoted CubeCart hero. 👍🏻💥

[2021-03-18 09:12] bhsmither commented on #2823
No, no. I edited my previous comment.

Please revert that "+=" appending idea.

[2021-03-18 09:15] abrookbanks commented on #2823
🙃 I've got muddled... reverted

[2021-03-18 09:24] abrookbanks commented on #2829
This will be resolved when using SSL SameSite requires SSL I believe.

[2021-03-18 09:24] #2829 closed, assigned to abrookbanks

[2021-03-18 10:06] yarnell902 commented on #2829
Changing the following in classes/session.class.php seemed to do the trick.

From
`if($params['httponly']) {
$attributes .= ';HttpOnly';
}`

To
`if($params['httponly']) {
$attributes .= ';HttpOnly';
$attributes .= ';SameSite=Strict';
}`

[2021-03-18 19:03] bhsmither opened #2830 "Admin FileManager Not Using DropZone Upload Form Input Name"
For images:
In `filemanager.index.inc.php`, near line 69, there is:
[code]
According to the docs from DropZone, the default option for the form element, type=file, name attribute to use is:
`paramName: "file"`

PHP complains that `$_FILES['file0']` has an unknown index and the success message is not queued.

For files:
If, on the other hand, the standard input element has `class="multiple"`, the M

[2021-03-19 10:20] abrookbanks opened #2831 "Add/Edit Product - Category may not show"
The SQL relies on a join and the SEO entry may not have been made yets, especially if empty categories are hidden on the front end.

e.g.
[code]

[2021-03-19 10:30] abrookbanks commented on #2831
`getDirectory` then `_getCategoryList` doesn't need SEO path but it should have been generated in creation. Relates to https://github.com/cubecart/v6/issues/2767

[2021-03-20 20:40] tonyrsutton opened #2832 "Feature Suggestion for All In One Shipping Module - Disable/Enable Shipping Rates Row"
It would be good to be able to disable/enable each Shipping Rates row without having to delete a row only to be re-added at a later time which is a time consuming.

Can we please have this improved so it can be enabled/disabled for the All In One Shipping Module under Shipping Rates?

Discussion: https://forums.cubecart.com/topic/56787-all-in-one-shipping-module-disable-and-reanable-rows/

Thank y

[2021-03-20 20:56] tonyrsutton opened #2833 "Feature Suggestion: Remove spaces in Delivery Tracking textbox"
Admin Console -> Customers -> Orders -> [Order ID] -> Delivery tab

Under Shipping Information -> Delivery Tracking (URL or Code)

Can this text field please be set up so when I copy & paste a tracking code, the empty spaces/space be removed by itself.

i.e.

RA123 456 789 AZ

becomes

RA123456789AZ

This will save us a lot of time when pasting and then editing the tracking code before saving it.

[2021-03-20 22:52] bhsmither commented on #2828
In filemanager.class.php, near lines 1235-1240, suggest:
[code]
Near line 1277:
[code]

[2021-03-21 06:15] bhsmither commented on #2816
I have asked for beta testers.
https://forums.cubecart.com/topic/56788-beta-test-drop-zone-on-addedit-product-digital-tab/

[2021-03-21 08:11] bhsmither opened #2834 "Wrong Language Key and Count()"
In products.index.inc.php, line 369, there is:
[code]
If the admin fails to choose a category, there will be no `$_POST['categories']`.

Thus, PHP issues a warning that `count()` cannot be used.

Also, there is no phrase for `$lang['catalogue']['title_category_defaulted']`. There is an appropriate phrase for `$lang['catalogue']['error_category_defaulted']`.

[2021-03-22 06:41] bhsmither commented on #2749
Please keep in mind the above instructions are for CC629.

Since then, following versions of CubeCart have moved code, so the line numbers will not match and the exact code to find and replace has somewhat changed (streaming feature, etc).

[2021-03-22 14:09] #2834 closed, assigned to abrookbanks

[2021-03-23 14:26] abrookbanks commented on #2833
My concern with this is merchants using the field the "wrong" way like adding an instruction message.

[2021-03-23 15:15] tonyrsutton commented on #2833
That's why we have Internal & Note Content - that's what it is for anyway?

Beside the text field description is pretty clear - "Delivery Tracking (URL or Code)" - it doesn't say anything about leaving a note.

If they did leave a note using this then they're doing it wrong. And we can teach them to use the Note Content. (i.e. RTFM lol)

[2021-03-23 17:55] bhsmither opened #2835 "Auto Generate Code Checkbox Wrong Initial Appearance"
When adding a new product:

The 'product_code_auto' form element is a `hidden` type, `toggle` class. Yet there is code that adds `checked="checked"` to this form element.

When the javascript* adds the `<img>` tag to hidden `toggle` class inputs, the actual image used is based on the value of the input's `value` attribute.

There is no `value` attribute for the 'product_code_auto' input.

Thus, th

[2021-03-23 18:30] bhsmither commented on #2835
_Note from above:_ My vote is still to not to place these hidden toggle class input javascript functions into the (customized) filetree plugin. I vote to have them in the general use 'admin.js' file.

[2021-03-23 22:42] bhsmither commented on #2816
For those beta testers, here is the text file that details the code changes.
[Drop Zone on Edit Product Digital Tab.zip](https://github.com/cubecart/v6/files/6193148/Drop.Zone.on.Edit.Product.Digital.Tab.zip)

[2021-03-26 16:10] bhsmither commented on #2671
I have started working on this.

[2021-03-26 16:12] abrookbanks commented on #2671
You absolute legend you!

[2021-03-26 20:23] bhsmither opened #2836 "Code Check: Order of Nested Functions"
In language.class.php, `private function _extractXML()`, there is:
[code]
If `$file.'.gz'` is a compressed file, it should be uncompressed first (inner function), then the resultant string be passed to `simplexml_load_file` (outer function).

[2021-03-29 02:02] bhsmither opened #2837 "Code Review: Unknown Variable"
In language.class.php, there is the use of `_language_strings_def`.

But, this variable is not declared at the top of the class code.

Suggest adding a declarative statement with a brief description of its purpose.

[2021-03-29 07:43] #2837 closed, assigned to abrookbanks

[2021-03-29 07:47] #2836 closed, assigned to abrookbanks

[2021-03-29 08:26] abrookbanks commented on #2767
This will resolve #2831 which can be closed as a result.

[2021-03-29 08:26] abrookbanks commented on #2831
Closing as this is covered in #2767

[2021-03-29 08:26] #2831 closed, assigned to abrookbanks

[2021-03-29 08:40] #2767 closed, assigned to abrookbanks

[2021-03-29 08:51] #2835 closed, assigned to abrookbanks

[2021-03-29 08:51] abrookbanks commented on #2835
thanks

[2021-03-29 09:01] #2833 closed, assigned to abrookbanks

[2021-03-29 09:11] #2832 closed, assigned to nobody

[2021-03-29 10:16] abrookbanks commented on #2828
Great stuff thanks!!

[2021-03-29 10:16] #2828 closed, assigned to abrookbanks

[2021-03-29 10:41] #2830 closed, assigned to abrookbanks

[2021-03-29 10:58] abrookbanks opened #2838 "Clean-up mailing list tool"
Delete invalid rows and unsubscribe thos without MX record.

[2021-03-29 10:59] abrookbanks commented on #2830
<img width="578" alt="Screenshot 2021-03-29 115927" src="https://user-images.githubusercontent.com/4520803/112827424-3a1e1700-9086-11eb-881a-f2bb704aaa35.png">

[2021-03-29 10:59] abrookbanks commented on #2838
<img width="578" alt="Screenshot 2021-03-29 115927" src="https://user-images.githubusercontent.com/4520803/112827446-430ee880-9086-11eb-8e63-e11f63320f69.png">

[2021-03-29 10:59] #2838 closed, assigned to abrookbanks

[2021-03-30 10:21] abrookbanks commented on #2747
<img width="530" alt="Screenshot 2021-03-30 112128" src="https://user-images.githubusercontent.com/4520803/112974201-1b815400-914a-11eb-9ab8-ab3b074381de.png">

[2021-03-30 10:22] #2747 closed, assigned to abrookbanks

[2021-03-30 10:34] abrookbanks commented on #2739
The actual code can be found by order number. Improvements could be made but closing for now.

[2021-03-30 10:34] #2739 closed, assigned to nobody

[2021-03-30 22:39] bhsmither opened #2839 "Wrong Language Phrases"
Re-visiting #512 and #1958.

Install a foreign language - es-ES, for example.
In admin, be sure the admin is using the store's default language - which is other than the newly installed foreign language.
Clear the cache.
Verify that the following files **do not exist** (the cache folder should be empty):
*.definitions.cache
*.definition_data.cache
*.(any language code).cache

In admin, Languages,

[2021-03-31 01:16] bhsmither commented on #2839
Considering that the cache is not used in admin, checking for the cached files probably does not contribute to this issue.

[2021-03-31 21:40] bhsmither commented on #2839
I have a much better idea of what is happening.

In `Hookloader->load()`, eventually a call is made to `$this->_plugin language()`. After a call to `Language->loadDefinitions()` to add the plugin's definitions to `Language->_language_strings`, and then a call to `Language->loadLanguageXML()` to add (something else) to `Language->_language_strings`, there is a call to `Language->assignLang()` that

[2021-04-01 02:11] bhsmither commented on #2839
Well, there is `$this->_language_strings_def` that is used in `getGroups()` and assigned to "SECTIONS" in `settings.language.inc.php`.

But `_language_strings` is the target of investigation.

[2021-04-01 06:21] abrookbanks commented on #2593
Upgrade to use partner API key. (See email from Tom March 15th).

[2021-04-01 08:36] bhsmither commented on #2671
This coming along nicely.

Still need to test when the admin is using language A while editing/searching on language B.

[2021-04-01 08:54] abrookbanks commented on #2671
Brilliant!!

[2021-04-01 22:07] bhsmither commented on #2671
[Language_Search_Edits.zip](https://github.com/cubecart/v6/files/6246696/Language_Search_Edits.zip)
This is what I have so far. Interested persons should beta test.

1. Choose a language to edit.
2. Enter a word or short phrase into the search field. Do not use 'wildcards' or quotes. The search is verbatim.
3. Click the **Go** button.
4. Results are shown in a table above the Group selector.

[2021-04-02 07:02] abrookbanks commented on #2671
I've opened this to look at early next week. Many thanks @bhsmither

It's a long bank holiday here in the UK.

[2021-04-02 23:25] bhsmither opened #2840 "Incorrect Determination of Like-Items in Basket"
In catalogue.class.php, (current line 1338, CC642 line 1321), there is:
[code]
We get here from CubeCart's instantiation of the `Cart` class, which runs `__construct()`, which, _if certain conditions are met_, jumps to `add()`, which makes a call to `Catalogue->getProductData()`, which then jumps to `getProductPrice()`, and here we ask for details about `$GLOBALS['cart']` and wanting to iterate ac

[2021-04-02 23:39] bhsmither commented on #2840
This will probably influence #2291, and maybe #2080.

[2021-04-05 20:06] bhsmither opened #2841 "Code Review: Language->loadLanguageXML()"
In `loadDefinitions()`, the test includes if the variable `$GLOBALS['cache']` is set and not empty (but with what? maybe test for is_object), as well as if the files exist and are readable as an array.

No so for `loadLanguageXML()`. There is no check if the variable `$GLOBALS['cache']` is set and not empty (but with what? maybe test for is_object). The only test is if the files exist.

However, t

[2021-04-07 15:15] richguycc opened #2842 "Lightbox doesn't zoom on single image"
If I have a product with multiple images, clicking on the main image brings up a gallery of zoomed images. If I have a product with just one image, clicking on the image does nothing. This didn't used to be the case. See thread from forum, the legend that is bsmither had a comment.

https://forums.cubecart.com/topic/56622-image-zoom-on-products-with-single-image/

[2021-04-07 18:06] tonyrsutton commented on #2842
I can confirm this as well.

[2021-04-09 00:17] bhsmither opened #2843 "Problem With Database Result"
This is not yet a real problem, but needs to be aware of.

In `Catalogue->__construct()`, this query is made:
[code]
Followed immediately by:
[code]
My first point is that this query will always result in a row being returned, even if the WHERE fails to match anything.

According to MySQL docs (as well as MariaDB 10.4.12), for `MIN()`/`MAX()`, if there are no matching rows, there will be a row ret

[2021-04-09 00:28] bhsmither opened #2844 "Catalogue->_where_live_from Always Present"
With respect to #2843, in the Catalogue class, `$this->_where_live_from` starts as a zero-length string.

In `__construct()`, the query as written will always be true-like: a non-empty array `[0]=>(next_time=>null)`.

Thus, `' AND live_from < UNIX_TIMESTAMP() '` will **always** be part of "out-of-stock" queries.

[2021-04-12 11:36] abrookbanks commented on #2843
Thanks for this.

[2021-04-12 11:44] abrookbanks commented on #2844
Fixed with 5a78ce2b2202f40b1d776a576131e2473486252d

[2021-04-12 11:44] #2844 closed, assigned to abrookbanks

[2021-04-12 15:09] #2842 closed, assigned to abrookbanks

[2021-04-12 15:39] abrookbanks commented on #2723
Thanks so much for this. I don't think there is a need for it as it's shown in the tab. :O)

[2021-04-12 15:39] #2723 closed, assigned to abrookbanks

[2021-04-12 18:07] bhsmither commented on #2843
Did you make the experiment of testing for the result of `FOUND_ROWS()`?

[2021-04-12 18:10] abrookbanks commented on #2843
Nope!

[2021-04-12 19:09] bhsmither commented on #2843
In this case, this isn't a problem to be fixed in CubeCart. Please realize that something wonky is happening, and it just may be some quirk in how PHP reads the response through the MySQLi extension (or MySQLnd - whatever.)

It could be a problem, of course, should code be written in the future that asks for aggregated data with a LIMIT clause.

[2021-04-13 02:45] yarnell902 opened #2845 "Request: Auto update basket on quantity change"
Sup yall,

I had a customer inquiry to inform that a website was not working correctly when adding multiple items to the cart. After doing some troubleshooting and being unable to reproduce the issue (the cart worked fine) I can only assume that the customer did not notice the update button after changing the quantity of an item in his/her cart.

It would be nice if the quantities automatically up

[2021-04-13 06:29] #2845 closed, assigned to nobody

[2021-04-14 06:06] bhsmither commented on #2415
This is a work in progress. Not all actions that CubeCart can perform has been tested relating to a product's Sale Price.

Report any bugs found.

There are two modes of putting items on sale: a per-product basis, and a global basis. For the per-product basis, setting the item's Sale Price to 0 will effectively prevent that item from being on sale. However, globally, all items are on sale with no

[2021-04-14 06:18] bhsmither commented on #2840
This is my work-around:
[code]

[2021-04-14 07:25] rbosma commented on #2835
@abrookbanks @bhsmither
Don't know for sure if it happend after this change but for 90% certain.

In my shop it isn't possible anymore to change/toggle the checkboxes in the whole shop. When manuly changing the value in the form and then press 'save' it is changed...

Could one of you kick me in the right direction to look what caused this..
Running latest version of CC with almost all the bug fix

[2021-04-14 07:48] bhsmither commented on #2835
We would ask that you force your browser to reload page resources. This is usually done with the keyboard shortcut CTRL-F5.

It may be the case that the new version of the admin.js file has not replaced the cached version your browser may be using.

[2021-04-14 08:01] rbosma commented on #2835
Done that frequently, doesn't change a thing...

Wow... Hold on... After clearing cache a dozen of times it seems to work for now...

Thanks @bhsmither  for letting me do same things over...
don't know why it's working now, because did the same things yesterday and earlier today...

[2021-04-14 08:22] bhsmither commented on #2835
Let me be clear... I was not referring to Cubecart's cache, but rather the cache that your web browser manages so that repeated requests for images, CSS files, and javascript files can come from its own cache.

[2021-04-14 09:36] havenswift-hosting opened #2846 "Add List-Unsubscribe header to Newsletter template"
This should be a simple thing to add as a default part of the Newsletter Email Template and adds credibility to mass sending for newsletters and means that emails are much less likely to be treated as spam

[2021-04-14 15:38] abrookbanks commented on #2846
Great idea thanks.

[2021-04-14 15:47] abrookbanks commented on #2846
<img width="616" alt="Screenshot 2021-04-14 164658" src="https://user-images.githubusercontent.com/4520803/114739728-0c50f780-9d41-11eb-933d-02496a62fd31.png">

[2021-04-14 15:49] abrookbanks commented on #2846
Problem with this is that the unsubscribe URL is correct but it doesn't work via the button in the email.

[2021-04-14 16:03] abrookbanks commented on #2846
Sadly this just isn't going to work as its email centric for unsubscribing not URL. I can't find a way to trigger a URL to unsubscribe.

[2021-04-14 16:03] #2846 closed, assigned to abrookbanks

[2021-04-14 16:23] havenswift-hosting commented on #2846
You always need to have the List-Unsubscribe in the header and the unsubscribe url as well.  The List Unsubscribe header doesnt work for all email clients but is beneficial to stop many large email providers from treating an email as spam

https://help.returnpath.com/hc/en-us/articles/222445307-What-is-the-List-Unsubscribe-header-

https://help.litmus.com/article/282-what-is-list-unsubscribe

[2021-04-14 16:29] abrookbanks commented on #2846
This is hard to test. My email client recognised it with an email unsubscribe but not URL. I can only assume some clients have partly built around RFC2369 but from my testing it doesn't work with ONLY a URL to unsubscribe.

[2021-04-14 16:30] abrookbanks commented on #2846
So I've recommit this with URL only in the hope that one day some email clients will cope with URL only.

[2021-04-15 07:42] abrookbanks commented on #2846
I think you misunderstood. The unsubscribe link in the body remains but the header seems to require a mailto to unsubscribe. I'm going to spend a bit more time on this but I think it's only going to work for newsletter systems that allow for unsubscribe by email response not URL.

[2021-04-15 07:44] abrookbanks commented on #2846
I believe this issue has been implemented correctly. We just have to hope for greater support for URL based unsubscribe headers in the future.

[2021-04-15 07:46] abrookbanks commented on #2846
<img width="655" alt="Screenshot 2021-04-15 084626" src="https://user-images.githubusercontent.com/4520803/114833050-14537a80-9dc7-11eb-8bdf-b2ccd8da6c41.png">

[2021-04-15 10:11] abrookbanks commented on #2697
Thanks for this.

[2021-04-15 10:11] #2697 closed, assigned to abrookbanks

[2021-04-15 10:23] abrookbanks commented on #2682
I can't figure out what this is for unless it was coded to check if an SEO path was in use and never completed. I also can't see what htaccess has to do with it.

Maybe this event just needs to be removed.

[2021-04-15 10:26] abrookbanks commented on #2682
I think this is a hangover from the past and therefore I've removed it. It may be from a version that had SEO on and off.

[2021-04-15 10:26] #2682 closed, assigned to abrookbanks

[2021-04-15 10:39] abrookbanks commented on #2843
For me it always returns 1. Closing because I don't know what the solution is.

[2021-04-15 10:39] #2843 closed, assigned to abrookbanks

[2021-04-15 16:11] Dirty-Butter opened #2847 "Checkout on Test site won't work without Captcha enabled"
I can't get past the checkout button on a test site where I have recaptcha turned off (site requires password to see). If I turn on captcha, although it does not work, checkout proceeds. The "problem", if you can all it that, is this code on the checkout button:

`button right g-recaptcha`

Seems like there should be some kind of if code for recaptcha, but this is an  abnormal situation - so maybe

[2021-04-16 22:03] bhsmither opened #2848 "Syntax Customers Mailing List"
In  admin template `customers.subscribers.php`, there is this:
[code]
Using `<` and `>` inside quotes is usually not a problem for browsers. However, suggest using `&lt;` and `&gt;`.

The `value` attribute is given the Smarty variable `{$EMAIL_ADDRESS}`. This variable has no assignment in the code. Suggest using an empty string. Unless you want the text field actually to return `{$EMAIL_ADDRESS}`

[2021-04-16 22:40] bhsmither opened #2849 "Code Review: Customer Subscribers"
In admin `/sources/customers.subscribers.inc.php`:

With respect to #863, please realize that braces are allowed as characters in the "local-part' of an email address and the associated display name. (https://en.wikipedia.org/wiki/Email_address)

So, what issue does deleting braces and the inner content solve? Does the file delivery function choke on braces?

(I can see an edge case where the deli

[2021-04-18 17:54] bhsmither commented on #2062
[code]

[2021-04-18 18:23] bhsmither opened #2850 "Code Review: Email Log $lang Variable"
The statement:
[code]
is seen nearly everywhere in the /admin/sources/ files.

I do not see it in `statistics.emaillog.inc.php`, but am not aware of any complaints about missing phrases.

So, is this statement actually required?

[2021-04-18 18:54] bhsmither commented on #2186
Adding a filter that creates a WHERE `to = $term`

[code]

[2021-04-18 19:01] bhsmither commented on #2352
Possibly a duplicate of #2186.

[2021-04-18 20:12] bhsmither commented on #2186
Please note that this is a copy from `customers.subscribers.inc.php`, which uses a session-wide solution of remembering the filter term.

As such, going back to "Mailing List" will still have the search term in play.

[2021-04-18 20:37] bhsmither opened #2851 "Phrase Review: Search Newsletter Send Log"
In admin, Mailing List, there is a "Search Email Log" phrase.

When/if there is to be a search filter on admin, Statistics, Email Log, the above phrase could become more misleading than it already is.

Suggest for the phrase `group=newsletter, string=log_search`, "Search Subscriber Newsletter Sent Log".

[2021-04-19 00:23] bhsmither commented on #2555
Possible duplicate of #2062.

[2021-04-19 07:31] makeupfx opened #2852 "Stripe extension"
The latest update to the Stripe extension seems to have a bug that names the transaction in Stripe to what
seems to be random numbers instead of the normal "Payment for XXXX-XXXX".

[2021-04-20 10:33] abrookbanks commented on #2186
This works well. Thank you.

[2021-04-20 10:33] #2186 closed, assigned to abrookbanks

[2021-04-20 10:34] abrookbanks commented on #2851
Thank you.

[2021-04-20 10:34] #2851 closed, assigned to abrookbanks

[2021-04-20 10:38] abrookbanks commented on #2848
Thanks for this!

[2021-04-20 10:38] #2848 closed, assigned to abrookbanks

[2021-04-20 10:40] abrookbanks commented on #2850
Removed and can't find any faults! Well spotted.

[2021-04-20 10:40] #2850 closed, assigned to abrookbanks

[2021-04-23 23:21] bhsmither opened #2853 "Use Standard OID If Custom OID is Empty"
If a store owner switches to using Incremental (custom) OID and choosing to **not** apply the custom OID to past orders, there will be instances where the order ID value will not show.

One such instance is the Transaction Logs.

Suggest near line 34 in the admin skin `orders.transactions.php`, this part:
[code]
be replaced by:
[code]
In `orders.transactions.inc.php`, near line 32, change to:
[cod

[2021-04-25 08:36] havenswift-hosting opened #2854 "Order search broken when using incremental order numbers"
Ref : https://forums.cubecart.com/topic/56866-incremental-order-id-removing-all-old-order-ids/

when using incremental order numbers, partial text searching has been removed.

it should also search across original format AND incremental orders for shops switching and retaining old historical order numbers

[2021-04-25 18:25] bhsmither opened #2855 "USPS Module to Use SSL"
See: https://forums.cubecart.com/topic/56885-usps-upgrade/

The module will need to use:
[code]

[2021-04-26 08:04] abrookbanks commented on #2855
Thanks for this. 1.1.4 released.

[2021-04-26 08:05] #2855 closed, assigned to abrookbanks

[2021-04-26 08:13] abrookbanks commented on #2852
Stripe Checkouts session object doesn't allow us to specify the description for the payment intent sadly.
https://stripe.com/docs/api/checkout/sessions/object

I expect we could open a feature request at Stripe.

[2021-04-26 08:13] #2852 closed, assigned to abrookbanks

[2021-04-26 08:27] abrookbanks commented on #2852
I figured it out! Fixed in 3.0.4.

<img width="512" alt="Screenshot 2021-04-26 092444" src="https://user-images.githubusercontent.com/4520803/116052540-9d916980-a671-11eb-854a-a773e2075278.png">

[2021-04-26 09:53] abrookbanks commented on #2854
From my testing this is now resolved.

[2021-04-26 09:53] #2854 closed, assigned to abrookbanks

[2021-04-26 09:56] abrookbanks commented on #2853
Thanks Brian.

[2021-04-26 09:56] #2853 closed, assigned to abrookbanks

[2021-04-26 10:23] havenswift-hosting commented on #2854
I will be able to test this later today but thanks for looking at so quickly

[2021-04-26 12:00] makeupfx commented on #2852
Awesome!! Thank you so much!!

[2021-04-26 16:50] havenswift-hosting commented on #2854
Have tested this myself and also on client store containing a mix of original and incremental order numbers and it works perfectly - thanks !

[2021-04-26 16:52] abrookbanks commented on #2854
Thanks for testing.

[2021-04-27 12:49] #2849 closed, assigned to abrookbanks

[2021-04-27 12:49] abrookbanks commented on #2849
I can't see a need for it. Thanks.

[2021-04-27 12:52] abrookbanks commented on #2847
Sorry but I can't reproduce this.

[2021-04-27 12:52] #2847 closed, assigned to abrookbanks

[2021-04-28 11:35] abrookbanks commented on #2666
This has been resolved with https://github.com/cubecart/v6/commit/8de9c4f255d6f807cb7dddd5342dd0e29da8986d

Thanks.

[2021-04-28 11:35] #2666 closed, assigned to abrookbanks

[2021-04-28 13:37] abrookbanks commented on #2738
In the meantime .. https://support.google.com/analytics/answer/10269537?hl=en

[2021-04-29 06:29] abrookbanks opened #2856 "Add note to debug as to how it can be turned off"

[2021-04-29 07:44] #2856 closed, assigned to abrookbanks

[2021-04-29 08:43] havenswift-hosting opened #2857 "Payment gateways not using Incremental order numbers"
Following on from other recent issues when using incremental order numbers, several (probably all) payment gateways send the original order number instead of the incremental order number

Tested for :

PayPal Standard (1.1.0 latest) - aware this is no longer "Supported" but for many reasons already given, a very large number of users have to continue using this because of the way that PayPal Comme

[2021-04-29 09:26] abrookbanks commented on #2857
Correct. They all need updating individually.

[2021-04-29 13:26] Dirty-Butter commented on #2857
This would be a VERY helpful improvement.

[2021-05-01 22:05] tonyrsutton opened #2858 "Feature Suggestion - Manual Order to include PayPal "Pay Now" button - PayPal Commerce Extension"
Once you have the PayPal Commerce Extension plug-in installed, there should be a new 'Pay Now' button being added to the e-mail template when doing a Manual Order via Admin Console -> Orders -> Create Order

Once a manual order is created and saved, the email is sent out to the customer to alert them of a new order with pending status of the order and awaiting payment. Customer click the link in t

[2021-05-02 06:16] havenswift-hosting commented on #2858
This is not payment gateway specific (and if it was, functionality should never be included for only one gateway !).  As noted this functionality is already included as part of a plugin

[2021-05-03 07:10] abrookbanks opened #2859 "Newsletter to double opt in only unless allowed by server admin"
Mailing lists can be very poor quality, especially if bots have taken advantage.

They should only send to double opt in unless setting allows.

This comes off the back of a hosted customer sending a newsletter to thousands of clearly bot addresses.

[2021-05-03 15:37] Dirty-Butter commented on #2859
I mail newsletters via MailChimp, so they catch the fake addresses quickly. I do not want double opt in. So I'm not clear on whether you intend to take the option to not double opt in out of the code??

[2021-05-03 16:21] abrookbanks commented on #2859
It won't affect mailing list export.

[2021-05-03 23:35] Dirty-Butter commented on #2859
I use a modified Semper Fi extension that coordinates automatically with Mailchimp. I have tried double opt-in in the past, and it caused us to miss a lot of customers because they don't follow through on them.

[2021-05-06 14:51] #2858 closed, assigned to nobody

[2021-05-07 03:40] bhsmither opened #2860 "Foundation to Have JqueryUI"
Please consider adding jQuery-UI to the Foundation skin.

[2021-05-08 14:18] tonyrsutton commented on #2858
OK, how about making it as a hook, so it hooks into whatever payment gateway is installed.

The main aim is for a customer to be able to pay for the order from an invoice that I manually sent out by e-mail.

[2021-05-11 07:08] abrookbanks commented on #2860
This will add quite a bulk to it's already big overhead. Why do we need it?

[2021-05-11 12:59] #2593 closed, assigned to abrookbanks

[2021-05-11 12:59] #2859 closed, assigned to abrookbanks

[2021-05-12 12:56] abrookbanks commented on #2716
Thanks.

[2021-05-12 12:56] #2716 closed, assigned to abrookbanks

[2021-05-12 13:07] abrookbanks commented on #2652
Thanks

[2021-05-12 13:07] #2652 closed, assigned to abrookbanks

[2021-05-12 13:15] abrookbanks commented on #2639
Closing as I think this is fine as it is. Some info might not be that handy but nevermind.

[2021-05-12 13:15] #2639 closed, assigned to abrookbanks

[2021-05-12 13:18] abrookbanks commented on #2713
Fixed in 1.0.3. Thanks.

[2021-05-12 13:18] #2713 closed, assigned to abrookbanks

[2021-05-12 13:33] abrookbanks commented on #2651
Fixed with 2cb8315ff6d51ddc9891dbb3bc488cafa9c32a50 (typo on commit)

[2021-05-12 13:33] #2651 closed, assigned to abrookbanks

[2021-05-12 16:03] bhsmither commented on #2860
My first thought is third-party extensions. But on second thought, instructions on how to make code changes to the skin might suffice -- to fetch only those jQueryUI modules the extension needs.

(Case in point: a Datepicker for the product options. The HTML 5 input type=date is not sufficient.)

[2021-05-13 06:58] Noodleyman opened #2861 "Sort By Price - SQL query fault and minor name improvement"
Admin area -> Settings -> Layout -> Product List Sorting

The value with name "Retail Price" implies it will only sort on Retail Price, but instead it evaluates the price to pay, which can consider sale price. The name "Retail Price" should be revised to imply "Price to Pay" rather than Retail Price.

A new option should be added to the list explicitly for RRP.

However, the SQL query which is cal

[2021-05-13 08:51] abrookbanks commented on #2861
Good find thanks!

[2021-05-13 08:51] #2861 closed, assigned to abrookbanks

[2021-05-13 09:03] abrookbanks commented on #2860
I'm going to close this on the grounds of overhead most won't need. Also a developer should know how to add JQuery UI.

Adding a date field would be great to CubeCart. Maybe there is a standalone datepicker we can use instead of whole UI lib.

[2021-05-13 09:03] #2860 closed, assigned to nobody

[2021-05-13 09:12] #2606 closed, assigned to nobody

[2021-05-13 09:14] abrookbanks commented on #2650
This was fixed with 1.1.6. :o)

[2021-05-13 09:14] #2650 closed, assigned to abrookbanks

[2021-05-13 10:14] DACS21mm commented on #2606
Does this mean it will/may be implemented in a future update?

[2021-05-13 10:19] abrookbanks commented on #2606
Yes. :)

[2021-05-13 11:06] abrookbanks commented on #2671
Still WIP.
<img width="749" alt="Screenshot 2021-05-13 120457" src="https://user-images.githubusercontent.com/4520803/118117471-96918780-b3e3-11eb-8a62-e3b08f2a8e9e.png">

[2021-05-13 11:18] abrookbanks commented on #2671
This is much more involved than I first thought....

[2021-05-13 11:49] abrookbanks commented on #2671
<img width="743" alt="Screenshot 2021-05-13 124853" src="https://user-images.githubusercontent.com/4520803/118121598-9f855780-b3e9-11eb-91df-f7c4a2c026e5.png">

[2021-05-13 13:49] abrookbanks commented on #2671
Dyslexia got the better of me yet again... be134606c388e7e988b929a0d255e14f46962da2

[2021-05-13 14:10] abrookbanks commented on #2671
I think this is done and working really well. Thanks for doing the bulk of the legwork @bhsmither

I'd be interested to see what you make of it.

[2021-05-13 15:21] abrookbanks commented on #2839
I've copied the commentary from the language search below:

[2021-05-13 16:59] bhsmither commented on #2860
One can download a "custom" package containing any part(s) of the UI set. That's the approach I will use.

[2021-05-13 17:01] abrookbanks commented on #2860
Yes indeed. Maybe we need to integrate a date field and add it.

[2021-05-13 18:02] bhsmither commented on #2671
Please be sure to catch the hard-coded titles, captions, and instructions. Convert them to strings in the definitions.xml file.

[2021-05-13 18:05] abrookbanks commented on #2671
Ah!

[2021-05-14 09:24] abrookbanks commented on #2671
I copied the issue number off last commit. See ac6e1dc9b1d17c0b7213e96854498f00bd3b66ad

[2021-05-14 09:38] abrookbanks commented on #2671
Happy with this now. Thanks.

[2021-05-14 09:39] #2671 closed, assigned to abrookbanks

[2021-05-14 23:40] bhsmither opened #2862 "Product Options Attributes Page, Group Selector to have Fallback Message"
Having created one or more Option Groups that are other than Select or Radio-button (and saving), then going to Option Attributes tab, the Groups selector is blank.

For the benefit of those who has not yet realized what is happening, suggest adding code that will show an advisory that says something like: "No groups have been created that are eligible for attributes."

Additionally, suggest that

[2021-05-17 12:26] abrookbanks commented on #2600
I'm pretty confident about how to go about this now so work is planned for 6.5.

[2021-05-17 12:32] abrookbanks commented on #2600
Linking to 6.5 branch - https://github.com/cubecart/v6/tree/v6.5

[2021-05-17 21:49] bhsmither opened #2863 "Product's Options Checkbox's ID Attribute Duplicated"
In admin template products.index.php, please note lines 413 and 429:
[code]
where `{$option.assign_id}` and `{$option.set_member_id}` could be the same value.

This will cause image checkbox management via javascript to misbehave.

Perhaps `"matrix_include_member_{$option.set_member_id}"`? (I have not tried this.)

[2021-05-17 22:47] bhsmither opened #2864 "Adding to an Option Set May Fail to Flag 'from_assigned'"
Creating an option group and add some options (i.e., a radio group with several attribute values). Assign those attributes to an Option Set. View a product's options and add the set to that product.

Now, go back and enter more attribute values. Assign those new attributes to the same option set.

View the product's options. Those new attribute values will show in the list, however the array of op

[2021-05-18 05:37] bhsmither opened #2865 "Duplicated Code"
Trivial:

Regarding #654, was there a specific reason to separate out a test for option group type 0 (select) versus option group type 4 (radio)?

Considering the code is exactly the same, I fail to see the reason.

[2021-05-19 04:36] bhsmither commented on #2864
I am seeing that adding more options to a set where that set has already been assigned to a product fails to test for that situation, and thus fails to add records to CubeCart_option_assign.

[2021-05-19 12:27] abrookbanks opened #2866 "Update PHPMailer - (Object injection vulnerability)"
As above..

[2021-05-19 12:32] #2866 closed, assigned to abrookbanks

[2021-05-19 15:40] abrookbanks opened #2867 "Order product gallery images by name"
This can allow for some control over the order.

[2021-05-19 15:47] Dirty-Butter commented on #2867
While you are thinking about improving the gallery... Unless you already know which folder your image is in - the choice of seeing only active images is useless.

[2021-05-19 22:20] bhsmither opened #2868 "Option Group Description"
Please review #2575 regarding `element.product.options.php`.

[2021-05-19 23:19] bhsmither opened #2869 "Style Tweak"
In box.featured.php, if the image is not as large as the allowed size it could be (200px), it ends up being left-aligned.

Suggest:
[code]

Also in this template, the Foundation CSS has:
[code]
Observe that:
[code]
when the price displayed is not the sale price, the `:last-child` is considered to be the `<h4>` tag and there is no margin between it and the price.

Otherwise, when there is a sale pr

[2021-05-20 07:14] abrookbanks opened #2870 "Session Fixation"
Cubecart 6.4.2 allows someone to fixate (aka find or set) another user’s session ID which permits an attacker to hijack a valid user session.

[2021-05-20 07:16] #2870 closed, assigned to abrookbanks

[2021-05-20 07:21] abrookbanks commented on #2869
Thanks Brian.

[2021-05-20 07:21] #2869 closed, assigned to abrookbanks

[2021-05-20 07:23] #2867 closed, assigned to abrookbanks

[2021-05-21 06:20] havenswift-hosting commented on #2600
Let me know when you feel this is ready to start testing - more than happy to spend time on this as have ElasticSearch already installed on multiple servers

[2021-05-21 06:36] abrookbanks commented on #2600
I was going to ask if you use localhost but it's already coded to take an array of servers so local or remote will be fine.

[2021-05-21 07:01] havenswift-hosting commented on #2600
Have it installed locally and likely would not use it any other way.  Being able to use remote would be useful functionality for those wanting to use a third party paid service - very few / none of the generic hosting companies out there will ever install ES so this will be a big differentiator for both of us in hosting terms

[2021-05-21 07:03] abrookbanks commented on #2600
Very true. It would be an enabler for other hosting. 👍🏻

Good thinking.

[2021-05-21 15:42] Dirty-Butter commented on #2600
I have a test site with the 6.5 code as of yesterday. And I have joined their website, too. I can give Havenswift access to plushtest if it would be of any help in your testing.

[2021-05-21 15:44] abrookbanks commented on #2600
It's not ready to be tested yet but I'll say when it is. Quite a lot to do.

[2021-05-21 15:47] havenswift-hosting commented on #2600
We have Elastic Search installed locally so no need to use an external service (at extra cost)

[2021-05-22 22:08] bhsmither opened #2871 "DropZone.js Filesize?"
Regarding #2823, please confirm that the distributed version in CC643 really must contain 270K of WebPack (and whatever else is in there that does not look like DropZone).

[2021-05-22 23:29] bhsmither commented on #2871
I see the filesize jump when scanning through the various tags, but I could not find any explanation as to what is going on, other than _maybe_ the developer wants to structure that repository to conform to a package manager, or _maybe_ it is a consequence of DropZone actually being written in this thing called ES5,ES6 (and thus needs a translator/compiler).

[2021-05-26 07:45] abrookbanks opened #2872 "Provide Smarty bot status"
As above.

[2021-05-26 07:47] abrookbanks commented on #2872
See fa80fc52d78258cbd4b70f4ee5c35086529fb870

[2021-05-26 07:47] #2872 closed, assigned to abrookbanks

[2021-05-26 11:39] abrookbanks opened #2873 "Double Opt-In Setting has wrong variable name"

[2021-06-03 14:40] havenswift-hosting opened #2874 "Allow for significant order inventory processing (50 line items+)"
Not looked in detail what is causing the issue but changing the order status from Pending to processing on orders takes a HUGE amount of processing time such that orders with large numbers of inventory lines will often cause a fatal error due to exceeding the allowed processing time.

This has previously affected clients that enter orders against a "store" customer in order to update stock levels

[2021-06-03 18:57] bhsmither opened #2875 "Syntax Error"
In the template `element.product_reviews.php`, line 44:
[code]

[2021-06-04 04:22] bhsmither opened #2876 "Divide by Zero"
There is a consequence of #2770, see: https://forums.cubecart.com/topic/56970-upgrade-to-643-now-getting-this-error/
[code]

[2021-06-04 17:09] bhsmither opened #2877 "Invalid Argument"
A consequence of #2652, there are statements having Invalid Arguments.

See: https://forums.cubecart.com/topic/56970-upgrade-to-643-now-getting-this-error/?do=findComment&comment=247991

Suggest for line 104:
[code]
Line 435 is good.

[2021-06-04 19:21] bhsmither commented on #2874
CC642? CC643? Do you think it makes a difference?

[2021-06-07 19:22] bhsmither commented on #2606
Has anyone put any work into this? Any notes made?

I want to work on this.

[2021-06-07 19:23] abrookbanks commented on #2606
Not that I'm aware of.

[2021-06-07 23:20] bhsmither opened #2878 "Standard OID If Custom OID is Empty - Continued"
Regarding #2853 which solved `orders.transactions.php`, please apply the same solution to: `orders.index.php` (near line 34), `orders.print.php` (near line 203), `dashboard.index.php` (near lines 54 and 143), `reports.index.php` (near line 34), and Foundation template `content.receipt.php` (near line 12).

Also consider adding `title="{$LANG.common.edit}"` to the anchor tags in the admin templates

[2021-06-08 01:50] bhsmither opened #2879 "Wrong Title"
Trivial:

In /includes/functions.php, line 512, the title of the `generate_product_code()` function is not correct.

[2021-06-08 03:16] bhsmither opened #2880 "Deleting Pending Orders"
Given the case where the store owner has decided to set inventory to decrement when an order goes to Pending.

When the admin decides to delete a Pending order, `Order->deleteOrder()` does not test for this case. Thus, inventory could be lost.

Suggest using `$this->_manageStock(self::ORDER_CANCELLED, $order_id)` to reclaim the inventory.

(I haven't tested this.)

[2021-06-08 03:23] bhsmither opened #2881 "Standard OID If Custom OID is Empty - Continued#2"
Similarly, in `CubeCart->_orders()`, near line 2493, the argument for addBreadcrumb() could be empty.

Suggest:
[code]

[2021-06-08 03:41] bhsmither commented on #2880
The Multi-Order with Multi-Status (and Multi-Action) sends each order through `Order->orderStatus()`, so maybe not to worry about this method of deleting orders.

[2021-06-08 07:57] havenswift-hosting commented on #2874
No difference at all - this has been happening for a LONG time

[2021-06-08 08:34] hairy-dog commented on #2874
Not looked at this code, but for a different platform, a function for creating address labels seemed very slow. When I looked, it wasn't selecting just the orders with the correct status at the beginning of the query. Fixing that took a few seconds and made aassive difference.

[2021-06-08 08:41] havenswift-hosting commented on #2874
100% it will be the query that needs optimising - just havent had time to look in detail and do the analysis

[2021-06-08 11:07] Noodleyman opened #2882 "PayPal commerce does not populate Gateway correctly"
Seems to be a bug, noted on a couple of sites and only specific to PayPal commerce.

CubeCart_order_summary.gateway is emptied, so there is no Gateway information at the order summary via the admin area.

The value is set when starting the checkout process, and at some point after is removed, presumably via a return call from PayPal.

[2021-06-08 11:20] tonyrsutton commented on #2882
I can confirm this bug.

[2021-06-08 15:29] #2879 closed, assigned to abrookbanks

[2021-06-08 15:31] abrookbanks commented on #2874
I haven't seen any stores suffering from this. I could be a number of things.

Please post back when you have more info..

[2021-06-08 15:33] abrookbanks commented on #2875
Thanks.

[2021-06-08 15:33] #2875 closed, assigned to abrookbanks

[2021-06-08 15:35] abrookbanks commented on #2876
I was going to suggest;

`if (!empty($product_review[0]['Count']) && $product_review[0]['Count']>0) {`

but 0 is empty.

[2021-06-08 15:35] #2876 closed, assigned to abrookbanks

[2021-06-08 15:41] abrookbanks commented on #2877
`var_dump(empty(array()));`

`bool(true)`

So just `if (!empty($this->_tax_table_applied)) {` should be good.

[2021-06-08 15:41] #2877 closed, assigned to abrookbanks

[2021-06-08 16:31] abrookbanks commented on #2881
Makes sense. Thanks.

[2021-06-08 16:31] #2881 closed, assigned to abrookbanks

[2021-06-08 16:42] havenswift-hosting commented on #2874
Never see any problems with normal orders with maybe up to 20 or 30 product line items - try it with an order with 100 or even 500 plus line items as in this case and easily reproducible - tested on multiple stores. I will try and do some analysis of the queries while it is running but it is 100% a problem

[2021-06-08 16:57] abrookbanks commented on #2874
Christ. How many line items!?! Is this Asda.com? 😂

[2021-06-08 17:10] havenswift-hosting commented on #2874
Yep in this case over 500 and this was a single customer order - unbelievable if I hadn’t seen it for myself !  However as I said this is a common issue experienced by multiple customers putting in aggregated orders say from a weekend fair / market.  Don’t know what the number of line items that triggers it but way, way less than the 500 here - maybe 60 plus ?

Guessing the logic is wrong - maybe

[2021-06-08 18:34] bhsmither commented on #2874
Just to be clear, this issue is describing a problem that occurs _**specifically**_ when the admin moves a complete and final order from Pending to Processing? And is aggravated by having a sufficient number of inventory items?

Is it important that the settings say to adjust inventory when the order moves to Processing?

And also to be clear, these cases where this has been observed, they do not

[2021-06-08 20:29] bhsmither commented on #2874
My initial, very shallow analysis of moving an order from Pending to Processing (but having only one inventory item) shows the greatest time expenditures are when executing the code near when, and probably including the time to execute the query itself:
[code]
Overall, this took 7 seconds to complete.

My first guess is that Smarty takes a lot of time rendering the email template and that the time

[2021-06-09 06:28] abrookbanks commented on #2874
What method are you using for sending the email? SMTP will probably take longer due to the handshaking.

[2021-06-09 07:33] havenswift-hosting commented on #2874
The rendering of the email templates does take a while but is pretty irrelevant to this example - it might be relevant if changing 100 orders from Pending to Processing but this is a single order but with a LOT of line items and therefore only one set of the three emails will be sent.

In the example with the 500 plus line items, stock levels are adjusted when the order is placed and therefore eve

[2021-06-10 06:57] Noodleyman opened #2883 "View email throws JS error when the subject has special characters"
Admin area, email history..

special characters need to be escaped, otherwise JS throws an error and can't load the mail in the colorbox window.

Error:
`Uncaught SyntaxError: Unexpected identifier`

if subject contains "it's" for example, it will fail.

[2021-06-10 09:44] abrookbanks commented on #2883
Thanks Noodles. 😁

[2021-06-10 09:44] #2883 closed, assigned to abrookbanks

[2021-06-10 10:10] abrookbanks commented on #2882
This will require paypal_commerce-1.4.4 (to follow) ...

[2021-06-10 10:17] abrookbanks commented on #2882
1.4.4 released https://www.cubecart.com/extensions/plugins/paypal-commerce

[2021-06-10 10:17] #2882 closed, assigned to abrookbanks

[2021-06-10 13:17] #2873 closed, assigned to abrookbanks

[2021-06-10 13:20] abrookbanks commented on #2871
I can't see a lighter package available.

[2021-06-10 13:20] #2871 closed, assigned to nobody

[2021-06-10 13:26] abrookbanks commented on #2865
I don't really understand what you are saying? What is the same about them?

[2021-06-10 13:32] abrookbanks commented on #2874
CubeCart wasn't really designed or tested under this niche situation. It's quite a big ask really.

Listing 500 products to a page is a big job for any scripts and that's not such an unusual request as this.

[2021-06-10 14:22] havenswift-hosting commented on #2874
It isnt really a niche situation - I know at least 4 of our customers that this effects - 3 of them can get around it as it only happens when they enter large cumulative orders as I said before perhaps taken at fairs or shows over a weekend.  However, this one was an online order from a customer

Surely, whatever process is being done at that point should simply loop through the product detail lin

[2021-06-10 14:47] #2874 closed, assigned to nobody

[2021-06-10 16:00] bhsmither commented on #2874
So you are confirming that the admin settings are such that inventory is decremented when the order goes to Pending.

Have you confirmed that there is not any plugin or snippet that gets executed in the context of moving an order to Processing?

[2021-06-10 16:04] abrookbanks commented on #2874
Sorry for the change of status here but I still don't see this as a bug. It's overloaded really. I have no doubt optimizations could be made. 👍🏻 This has to be low priority over other issues like Elastic Search and new skin.

[2021-06-10 16:10] havenswift-hosting commented on #2874
On this one site that is the case but it makes no difference - other sites decrement stock at Processing and have the same problem

On this site no snippets installed and nothing other than basic standard plugins.  Again, this is easily reproduceable on multiple sites all with different plugins etc

Sorry, I would disagree - store allows an order to be placed and then cannot process it at all and

[2021-06-10 16:12] abrookbanks commented on #2874
The old bug/feature debate. 😂

[2021-06-10 17:02] bhsmither commented on #2878
Something not yet obvious is happening here.

_Eventually_, the 'custom_oid' field in CubeCart_order_summary will get filled for those rows that were not forced to be updated. (See `order.class.php` line 901)

So I see this whole thing as moot because _eventually_, that is, once the Store Settings has been Saved (and `$order->setOrderFormat()` has been executed, 'custom_oid' will no longer ever be

[2021-06-10 18:43] bhsmither commented on #2874
I performed the same experiment as before, but (aided by my browser's Developer's Tools) loaded the web form with 100 added inventory line items. Processing the POSTed form took a total of ten seconds where seven seconds of that is rendering and sending emails. (Note: a key factor in this experiment - with unknown consequences - is that all 100 added inventory line items are the same item.)

Have

[2021-06-11 00:14] bhsmither opened #2884 "Accessing Offset on Bool/Null"
Minor:

Given that the admin can add an inventory item to an existing order or when creating a new order, once the ajax response has populated the new line in the Inventory table, there is the opportunity to select its options.

Should the admin choose to not select any option's choices, the data submitted is the `option_id` is valid, but the `assign_id` equates to zero.

So, in `Catalogue->getOpt

[2021-06-11 02:46] bhsmither commented on #2865
In admin template products.options.php, lines 160-173:
[code]
Note that each `{if}` block has identical code.

[2021-06-11 05:53] abrookbanks commented on #2865
Thanks!! I was looking for the wrong thing. 🤪

[2021-06-11 06:33] #2865 closed, assigned to abrookbanks

[2021-06-11 07:17] bhsmither commented on #2865
Those eight lines deleted will cause problems. There is now a `{/if}` with no `{if}`.

Suggest replacing what was:
[code]
with (5 is checkboxes and 7 is hidden - for when these get implemented):
[code]

[2021-06-15 18:31] bhsmither opened #2885 "Un-Commenting Smarty Loop Tags"
In documents.email.inc.php, near line 509, four of Smarty's looping tags are wrapped in HTML comment tags. (The reason is known.)

However, near line 367, those HTML comment tags are removed -- *all* HTML comment tags.

There is no (known) stated advice on not to be coding templates with HTML comments, thus their appearance in customized templates can be expected.

Therefore, suggest formalizing w

[2021-06-16 23:33] bhsmither opened #2886 "Function formatBytes() May Give Bad Output"
The following demonstrates:
[code]
The output:
[code]
Note that `$size` is calculated to be expressed as KiB in the first statement of the function.

Thus, the fourth and fifth output line should be indicated as KiB (or KB as desired).

[2021-06-18 10:17] abrookbanks commented on #2886
New improved code thanks to https://gist.github.com/liunian/9338301#gistcomment-1476159

[2021-06-18 10:18] #2886 closed, assigned to abrookbanks

[2021-06-18 13:11] DiMarca-Online commented on #2874
Being able to put an order that is paid for from 'pending' to 'processing' and once it's sent, to 'complete' (with a tracking code), is not a feature. That is a basic requirement to a shopping system, however big the order is.

Right now I have this big order still pending, because I'm unable to change the status.

I hope you will reconsider fixing this bug. Thank you.

[2021-06-18 13:15] abrookbanks commented on #2874
500 line items to an order is a huge ask on the software and incredibly niche.

[2021-06-18 13:18] DiMarca-Online commented on #2874
Maybe so, but obviously there are also issues with orders of 50+ items.

Is there anyone that could help me find another way to put that order on 'complete'? Maybe you smart guys have some tricks up your sleeve? ;)

[2021-06-18 13:19] abrookbanks commented on #2874
A big competitor of ours has a max limit of 100 line items, I expect for this very reason. Out of interest what is the largest amount of line items that has worked?

[2021-06-18 13:21] abrookbanks commented on #2874
I would have thought that we need to impose a maximum line item limit to prevent this problem. The customer can then then pass through multiple orders.

[2021-06-18 13:25] havenswift-hosting commented on #2874
Al

Why exactly is it a huge ask - what part of the code is causing this when switching from Pending to Processing or even directly to Completed (when you can discount stock control as that was done when creating the order)

500 may be niche but this happens at values WAY below that - I dont think it can even do anywhere close to 100 but I dont have definitive figures.

That is 100% needed - it ca

[2021-06-18 13:26] DiMarca-Online commented on #2874
Maybe ask Ian about the other cases he had, because this was my first problem.

I just counted another order of the same lady, as she always does big orders (not big like the 500 lines, but still) and that one was 184 lines. This was before the upgrade though, does that have anything to do with it?

I personally would hate a maximum line item as that would negatively affect my sales.... a maximum

[2021-06-18 13:28] havenswift-hosting commented on #2874
That is also a very big consideration

[2021-06-18 13:30] DiMarca-Online commented on #2874
I also wonder about that as I would expect the system to have more trouble with creating the order in the first place (to discount the stock) then to put it on processing or complete.

[2021-06-18 13:30] DiMarca-Online commented on #2874
And the stock was discounted perfectly with the 500 line order ;)

[2021-06-18 13:41] abrookbanks commented on #2874
The final word for now is simply that CubeCart has not been designed or tested to cope with huge orders. This isn't unreasonable.

[2021-06-18 13:45] abrookbanks commented on #2874
.. hence the feature request tag.

[2021-06-18 13:49] abrookbanks commented on #2874
Magento have a note about this:
https://support.magento.com/hc/en-us/articles/360048550332-Best-practice-for-number-of-products-in-cart-in-Magento

@havenswift-hosting if your support team can locate any bottlenecks please feed it back to the community. I do not deny and have no doubt that optimisations could be made.

[2021-06-18 13:51] abrookbanks commented on #2874
I believe Shopify has a 100 line item limit. All software has limits which is generally bound by the resource limits imposed by its environment (hosting).

[2021-06-18 13:52] tonyrsutton commented on #2874
If Magento even have a knowledge base on this and they're the biggest shopping cart software out there, then we know this is a huge impact. Many of them do have a limit. Nothing is unlimited.

Therefore I have to agree with @abrookbanks

[2021-06-18 13:54] abrookbanks commented on #2874
Thank you @tonyrsutton

@havenswift-hosting I do appreciate how you are a little biased to appease your client. I can't really blame you for that. 😀

[2021-06-18 14:07] havenswift-hosting commented on #2874
Actually for the three clients that have experienced this so not so niche. Yes of course I am pushing to get something done because several clients have experienced these issues - that doesnt mean to say that I am not right though :)

It would be good to at least have a bit of an investigation into the cause even if it turns out to be too big a job to fix - at the moment it seems to be being dismi

[2021-06-18 14:20] hairy-dog commented on #2874
It seems to me that two arguments are being conflated here. The point about Magento having a KB entry about a similar issue simply tells us that it is an issue when it occurs. This is unquestionable.
If CC has a limit to the number of items in an order, it would be good to know what this limit is. Then clients could work round it, or choose a different platform.
However, finding out what is causin

[2021-06-18 14:21] abrookbanks commented on #2874
I'm sure you can imagine that I've dealt with hundreds and hundred of stores over the years and I've never once seen this from recollection. I'm not saying I don't believe you but to have three is impressive. You attract the niche crowd Ian. 😀

[2021-06-18 14:22] tonyrsutton commented on #2874
At the end of the day, Magento is huge and is owned by Adobe with loads of developers working on this. If they did think this is a bug, they would have resolved it by now. But they haven't and put a limit on it. Therefore it could be a limitation of PHP, SQL and/or web hosting hardware all combined. One or more of them might have a bottleneck which causes this.

If it's a bottleneck from PHP or SQ

[2021-06-18 14:22] abrookbanks commented on #2874
@hairy-dog the limit is resources not set by CubeCart. At the same time there is no doubt at all that the CubeCart code could probably be fairly significantly optimised.

[2021-06-18 14:25] hairy-dog commented on #2874
That's part of the point, isn't it? Something in the environment is setting the limit. Ideally, CC would identify this something and suggest (or impose) a limit that kept acceptable performance.

[2021-06-18 14:28] DiMarca-Online commented on #2874
So then my question is: is that the maximum for CubeCart as well? If so, even though I'm not happy about setting a limit (for the reasons explained above), I can live with with a limit of 500 items. If that's imposed and noone can put more than 500 items in their cart, I can communicate this with my customers.

For now I'm still hoping you can put my 500+ order on complete for me, Al?

[2021-06-18 14:53] abrookbanks commented on #2874
The only limits are the resources defined by your hosting provider. CubeCart doesn't currently set limits for the amount of line items but there are off the back of this strong reasons to start. It's not been approached yet but it could be possible for darker issues such as denial of service or some kind of overflow.

If you were a technical support customer or hosting customer of ours I would of

[2021-06-18 14:54] abrookbanks commented on #2874
@hairy-dog

I think this would be quite challenging to calculate.

[2021-06-18 14:59] tonyrsutton commented on #2874
If you put the latest version of CubeCart (with NO modifications) on:

1) Shared hosting
2) Virtual hosting
3) Dedicated server

Which one will perform the best?

That's the bottleneck. So I am still going with 'This is not a bug'. But I still believe in TWEAKING the server including the additional software (i.e. PHP, SQL, Apache, etc) that is used to run CubeCart - you can tweak them as much as y

[2021-06-18 15:03] abrookbanks commented on #2874
Unfortunately that's a "string" question. You can have a shared hosting account that's significantly more powerful than a dedicated server. At the same time depending on settings and available resources all three could be tweaked to be more powerful or possibly even less powerful and more patient.

[2021-06-18 15:31] abrookbanks commented on #2874
@hairy-dog it's a tricky task to calculate the required resources. I see where you are coming from though and it's a great shout.

[2021-06-18 15:32] bhsmither commented on #2874
Knowing now how to have the admin make an order with 100 items (of the same item) easily, I can make the admin create an order with 1000 items just as easily.

But then I am going to hit PHP's 'max_input_vars' of 1000. So, I will first need to adjust the server environment.

Can the affected installations please check their PHP-Info settings and state what the 'max_input_vars' is set at? As well a

[2021-06-18 15:33] havenswift-hosting commented on #2874
@DiMarca-Online dont worry about that - this is simple to do and already done - dont need more support from anyone else.

[2021-06-18 15:41] abrookbanks commented on #2874
@havenswift-hosting be sure to contribute back to the community which resources were increased and by how much to get it pushed through.

It would be good to push this through PHP X-Ray or cachegrind.

[2021-06-18 15:43] havenswift-hosting commented on #2874
It isnt fixed or processed correctly - dont have any more time to waste on this - simply by-passed it and working with client to put business process in place for now

[2021-06-18 15:53] abrookbanks commented on #2874
Shame. I would use Xdebug to create a cachegrind file to debug. I have no doubt that will find the bottleneck.
https://xdebug.org/docs/profiler

[2021-06-18 16:12] abrookbanks commented on #2874
I say the bottleneck but there may not even be one. I stick to my guns.. this is a big ask for the server.

[2021-06-18 17:19] tonyrsutton commented on #2874
That looks useful, thank you for sharing.

[2021-06-21 11:23] havenswift-hosting opened #2887 "Trivial : Bank Transfer plugin spelling mistake"
The plugin description has a spelling mistake

Show bank account details for internet beanking transfer.

[2021-06-21 12:42] DiMarca-Online commented on #2874
It's set to 15000 & 10000

[2021-06-24 23:01] bhsmither opened #2888 "Code Clarity"
In /classes/cubecart.class.php, near line 833, there is:
[code]
This comment:
https://www.php.net/manual/en/functions.arguments.php#71198
suggests that an assignment as the function call argument is not illegal, and could be useful if the function's argument is accepted by reference.

But I do not see that in this case. `$namespace` is not used anywhere in this method, and there is no hook that co

[2021-06-25 07:52] abrookbanks commented on #2874
Any more findings on this?

[2021-06-25 08:17] abrookbanks commented on #2888
Thanks Brian.

[2021-06-25 08:23] #2888 closed, assigned to abrookbanks

[2021-06-27 01:58] bhsmither opened #2889 "Invalid Offset"
In `Order->orderStatus()`, it is possible that `$currentStatus` is false.

The next statement will have PHP throw a warning `Trying to access array offset on value of type bool.`

[2021-06-27 17:37] bhsmither commented on #2889
Also, Cart class, line 291. It is possible that `$this->basket` is still _null_ or _false_.

[2021-06-28 09:48] abrookbanks opened #2890 "Toggle Show/Hide Disabled Products"
As above. This will allow products to be archived.

[2021-06-28 23:55] bhsmither opened #2891 "Popularity to Not Be Affected by Bots"
Suggest in cubecart.class.php, at the end of `_product()`:
[code]
(I haven't tested this.)

[2021-06-29 10:44] abrookbanks commented on #2891
This is a good one. :O)

[2021-06-29 10:44] #2891 closed, assigned to abrookbanks

[2021-07-02 09:12] abrookbanks opened #2892 "Add notes to customer accounts"
e.g. Customer is hard of hearing. etc..

[2021-07-02 09:13] #2892 closed, assigned to abrookbanks

[2021-07-02 09:15] tonyrsutton commented on #2891
I agree, this is a good spot!

[2021-07-02 09:17] tonyrsutton commented on #2750
@abrookbanks Any chance of including this in the next release? Cheers.

[2021-07-03 21:38] bhsmither opened #2893 "Code Clarity #2"
Trivial:
As per #2888, please review `classes/cubecart.class.php` line 2118, where `$var_name` is getting assigned.

[2021-07-05 07:41] abrookbanks commented on #2893
Thanks

[2021-07-05 07:41] #2893 closed, assigned to abrookbanks

[2021-07-05 08:01] abrookbanks commented on #2750
Thanks.

[2021-07-05 08:01] #2750 closed, assigned to abrookbanks

[2021-07-05 09:46] #2890 closed, assigned to abrookbanks

[2021-07-05 13:21] abrookbanks opened #2894 "Stored cross-site scripting vulnerability"
A vulnerability has been reported concerning stored cross-site scripting.

Big thanks to Thomas for reporting this vulnerability responsibly.

[2021-07-05 13:28] #2894 closed, assigned to abrookbanks

[2021-07-06 08:58] abrookbanks opened #2895 "Help /setup/ delete by error logging above it"
Apache written files in the /setup/ folder may prevent it from being automatically deleted.

[2021-07-06 08:58] #2895 closed, assigned to abrookbanks

[2021-07-08 20:16] bhsmither opened #2896 "PayPal 422 Response to Log Reason"
According to:
`https://developer.paypal.com/docs/api/reference/api-responses/`
there could be a response payload containing a description of the error.

If so, request that it be contained in the Request Log.

[2021-07-08 20:56] bhsmither commented on #2896
I am looking at this in paypal.class.php:
(Disclaimer: I have _nada_ knowledge about PayPal.)
[code]
Assume that the HTTP Response code is 422. The above test is true, an unhelpful message gets displayed somewhere -- maybe, and nothing else gets done. It is now questionable if the following test is ever executed.
[code]
_If executed_, who gets to see the description? The customer? And when? (See d

[2021-07-12 20:24] romanklabal opened #2897 "Validate product options on server side"
When you have a product with multiple required options, you can simply right click the `<select>` in the browser inspector on a product page, remove it from DOM, submit the add to basket form, and CubeCart will add the product without the required option to the basket.

Just tested it on the CC6 demo website.

Looking at the code, the `Cart::add()` method should probably have an additional check t

[2021-07-13 13:48] romanklabal commented on #2897
Additionally, there does not seem to be any check implemented for the productOptions option value. Meaning that you can edit the `<option>` value to a random number using inspector, submit the form and the product will be added (with a unique hash, probably calculated based on the made up group/value pair) to the basket with the product option omitted.

I have resorted to pulling the options via `

[2021-07-13 22:03] bhsmither opened #2898 "Eliminating a Bottleneck"
For reference: https://forums.cubecart.com/topic/57024-500-internal-error-on-update-file-list/

In the Filemanager class, there three instances of PHP's function `md5_file()`. One instance, in the upload() method, is probably of no concern. The other two instances, however, should be dealt with.

This came about with managing a super-large file that is the `digital_path` download of a product. The

[2021-07-19 12:32] abrookbanks commented on #2898
I'm trying to decide if a large INT or VARCHAR is the best option here. I think there are cases where 2.14... GB isn't enough.

Researching...

[2021-07-19 12:33] abrookbanks commented on #2898
I think it needs to be BIGINT.

[2021-07-19 13:14] abrookbanks commented on #2898
So this solution allows for md5_file on upload but not on rebuild for files over 10Mb. I believe the md5 check was added for two reasons (neither actually used).

1. Check that the file delivered is as expected.
2. Check for duplicates of the same file.

Neither scenario is checked for now.

[2021-07-19 13:14] #2898 closed, assigned to abrookbanks

[2021-07-20 05:22] bhsmither opened #2899 "Fedex Logic Flaw"
In the Fedex shipping gateway, please examine what happens near line 232 when `$response->RateReplyDetails` is not an array.

Tests show (instigated by spurious comments about PHP's SOAP) that if there is one child of a node, that child is itself an object - that is, it is not an array. This a dump of `$response->RateReplyDetails` (with irrelevant detail removed):
[code]
(Sorry about the style tag

[2021-07-20 08:42] abrookbanks commented on #2887
Thanks Ian. I hope you are well.

[2021-07-20 08:42] #2887 closed, assigned to abrookbanks

[2021-07-20 09:00] havenswift-hosting commented on #2887
Very well just very busy at the moment !

[2021-07-20 09:01] abrookbanks commented on #2887
I've got a satanic three year old who can come and stay and help out if you like? 😂

[2021-07-20 10:03] abrookbanks commented on #2889
Thanks.

[2021-07-20 10:03] #2889 closed, assigned to abrookbanks

[2021-07-30 14:46] abrookbanks opened #2900 "Catalogue Export - Export all images"
Code required:

[code]

[2021-08-02 09:42] #2900 closed, assigned to abrookbanks

[2021-08-02 23:55] bhsmither opened #2901 "Clarify GC Conversion Message"
In products.coupons.inc.php, lines 69-70, the code is looking for the order specified to make a coupon into a GC, This code implements the 'Incremental' OID scheme.

However, the advisory phrase "To use a promotional code as a gift card ... must be a real order number ..." does not mention that the Order Number **must** be of the format that conforms to the current administrative setting for the O

[2021-08-03 00:13] bhsmither opened #2902 "Make Coupon DB->Insert() Return Value Available"
In products.coupons.inc.php, when finishing up with adding/editing a coupon, with an update, `$coupon_id` is available to the hook that follows.

Request that `$coupon_id` be assigned the value returned from `DB->insert()` (understood to possibly being empty) so that it is also available to the hook that follows.

[2021-08-28 22:59] bhsmither opened #2903 "Minimum Purchase Quantity to Have Default Value on Form Element"
See: https://forums.cubecart.com/topic/57097-disable-maximum-purchase-amount/

Suggest for the template:
[code]

[2021-08-31 15:18] abrookbanks opened #2904 "Display output dimensions on image cropper"

[2021-08-31 15:24] #2904 closed, assigned to abrookbanks

[2021-09-01 22:07] bhsmither opened #2905 "Detritus in URI"
Minor:

The ,htaccess rewrite will deliver `/index.php?seo_path=`, with which the function `currentPage()`, in a certain case, will not remove.

In `functions.inc.php`, line 264 suggests that a non-empty `seo_path` value will get SEO'd.

But nothing is done with an empty `seo_path`. Thus, `?seo_path=&...` is found in various locations.

[2021-09-03 08:21] abrookbanks commented on #2903
Thanks Brian.

[2021-09-03 08:21] #2903 closed, assigned to abrookbanks

[2021-09-06 08:02] #2902 closed, assigned to abrookbanks

[2021-09-06 08:10] #2884 closed, assigned to abrookbanks

[2021-09-06 18:57] chongshengdz opened #2906 "i think sphinx search is better than Elasticsearch"
i think sphinx search is better than Elasticsearch.
sphinx search is much easier to install and maintain.

[2021-09-06 19:10] chongshengdz commented on #2906
Elasticsearch is not suitable for big data and will take up too much space.
sphinx search is for big data, index only take seconds, and no need to install, just unzip to folder and start it up.

[2021-09-06 19:12] chongshengdz commented on #2906
Elasticsearch is not suitable for starter, it needs some skills to install on your server.

[2021-09-07 08:47] #2906 closed, assigned to nobody

[2021-09-07 08:49] abrookbanks opened #2907 "Incorrect macro on anchor link for solo product image"

[2021-09-07 08:50] #2907 closed, assigned to abrookbanks

[2021-09-15 18:57] JDMtom opened #2908 "CubeCart seems to have broken itself"
Im not sure when exactly this started happening but within the last 24 hours.

CubeCart store hosted on PayMonthly Servers.

Error logs show this :
![image](https://user-images.githubusercontent.com/90796241/133492983-ce1426cd-bcf5-4694-8239-3ee411e5968b.png)

And the site wont load any content.

Any Ideas?

[2021-09-15 19:07] JDMtom commented on #2908
Also - I am no longer able to log in to the control panel of the store. Gives incorrect password error. When trying to reset password, I get incorrect email/username.

[2021-09-15 19:47] bhsmither commented on #2908
I have an idea, but let's take this to the forums.

[2021-09-15 19:50] JDMtom commented on #2908
Yer just realised I was clicking on the wrong forum so it was sending me here, Will recreate the post now however I think i have found the issue. Will Put more detail in forumn post

[2021-09-20 14:15] #2908 closed, assigned to nobody

[2021-09-20 14:16] abrookbanks commented on #2908
Sorry you are having problems but this is a technical support issue. We have [support available](https://www.cubecart.com/technical-support) if you would like our staff to resolve this. I'm sure we can get you back on your feet quickly.

[2021-09-20 14:29] abrookbanks opened #2909 "Search as you type to compliment Elasticsearch"

[2021-09-20 14:32] abrookbanks commented on #2790
Duplicate of #2790  (sorry I didn't see this)

[2021-09-20 14:33] abrookbanks opened #2910 "Elasticsearch to keep stock levels dynamic"
Currently they values are not dynamic to sales.

[2021-09-22 01:43] bhsmither opened #2911 "Count() in Coupons Re: Manufacturers"
In `products.coupons.inc.php`, near line 55, there is the serialization of `$_POST['coupon']['manufacturer']`, which is an array. Unless there is no selection. Thus, the serialization results in `N;`.

Then, in `Cart->discountAdd()`, near line 579, a test is made for empty-ness. The value is not empty, and it will be unserialized as _null_. Thus, the `count()` function that follows will have PHP t

[2021-09-22 02:21] bhsmither opened #2912 "Count() in Cart->_applyDiscounts re: Coupons"
In `Cart->_applyDiscounts()`, near line 1271, _perhaps unlikely_, but if the condition is such that `$this->basket['coupons']` is set, yet is not an array, then PHP will throw a warning when trying to `count()` the variable.

[2021-09-24 15:35] havenswift-hosting opened #2913 "Quantity discounts available shows even when none are set"
In element.product.call_to_action.php

{if isset($PRODUCT.discounts)}

should be changed to

{if !empty($PRODUCT.discounts)}

[2021-09-24 21:11] bhsmither commented on #2913
I concur this is better logic control as it deals with the mistake of code setting `$PRODUCT.discounts` but with nothing to set it with.

So, we may also want to find out why the core code (or plugin code) is setting this with no data.

If doing this, also change the template code in `content.product.php` near line 104.

[2021-09-26 18:24] bhsmither opened #2914 "PayPal Commerce: Undefined Variable"
In `paypal.class.php`, line 796 and line 822, the non-existent variable `$ch` is used as an argument. Additionally, the function `curl_error()` may be used inappropriately here.

The intended instance of curl is not available because the Request class was used. I am not sure when this instance of the Request class gets destroyed. Comments suggest that once destroyed, the response to `curl_error()`

[2021-09-27 21:09] tonyrsutton opened #2915 "Feature Suggestion: Start date for Promotional Code"
We currently have an End Date for the Promotional Code.

But it would be good if we have the Start date as well. This way, we can distribute the promo code with a specific start date so they can't use it until the specific date.

It's about control at the end.

Would be awesome to have this added - thank you.

[2021-09-28 14:27] abrookbanks commented on #2913
Thanks!

[2021-09-28 14:27] #2913 closed, assigned to abrookbanks

[2021-09-28 14:37] abrookbanks commented on #2914
Fixed with 1.4.8. Thanks. :)

[2021-09-30 22:41] bhsmither opened #2916 "Dimensional Unit Default and Assertion"
Feature Request:

I disagree with the solution implemented in #2221.

True, the probability that the inventory could be a mix of Imperial and Metric sizes would be low, but not impossible.

I have a task to add other units of length that are at different scales of convenience (e.g., mm, yd), and, perchance, that have little to no culturally paired association with weight (e.g., au, nmi).

[2021-10-01 09:39] hairy-dog commented on #2221
I recall that when I worked at a timber supplier (a very long time ago) some types of wood were measured in mm for thickness and width, sold by the linear (or maybe cubic: I forget) yard.
Ideally, and dimension or weight would have a default unigt for numeric entry, but also accept a text suffix to denote the unit. So 5 would be 5 of the default units, but 5mm 5M 5in 5" 5ft 5' etc would be parsed

[2021-10-01 12:30] #2910 closed, assigned to abrookbanks

[2021-10-01 12:39] #2909 closed, assigned to abrookbanks

[2021-10-01 14:12] abrookbanks opened #2917 "Allow ES to have customisation for image and amount of results"

[2021-10-01 14:14] #2917 closed, assigned to abrookbanks

[2021-10-07 12:49] abrookbanks opened #2918 "Delivery country needs to be respected for existing accounts"
If say for example a customer registers with a Russian address. Later Russia is disabled so no new customers can registers with a Russian address, if an old customer logs in with a Russian address it is accepted when it shouldn't be.

[2021-10-07 12:49] #2918 closed, assigned to abrookbanks

[2021-10-09 15:29] tonyrsutton opened #2919 "BUG: Database Maintenance - Missing options after doing a maintenance"
CubeCart v6.5.0-b2
PHP v7.4.21

Advanced -> Maintenance -> Database tab

Select all checkboxes, pick one of the Action (e.g. Repair) and click the Submit button.

Once it was run, scroll down to bottom, you only see a 'Submit' button with no other options. I had to refresh the page to get the options back. It's the same with all actions (Optimize, Repair, etc)

Bug?

[2021-10-09 22:20] tonyrsutton commented on #2800
Can we get this on v6.5, please? Thanks.

[2021-10-09 22:36] tonyrsutton commented on #2919
This also exists on CubeCart v6.4.2

[2021-10-09 22:56] bhsmither commented on #2919
After the operation completes (e.g., REPAIR), the list shown is the result report of having the operation performed on the table(s).

That is to say, the first screen is the "Determine what you want to do against which tables you want to work on., while the second screen is the results of that work.

Are you suggesting the page show both the 'choose the work' listing every time, **as well as** the

[2021-10-10 06:58] tonyrsutton commented on #2919
Yes, I think it would make sense.

Think about the end user's point of view - what does the 'Submit' button does after the action? What am I submitting?

[2021-10-10 07:27] bhsmither commented on #2919
"_What am I submitting?_"

Well, there is that.

[2021-10-12 09:47] abrookbanks opened #2920 "Elasticsearch use Ping()"
Ping to test connection instead of write:
https://www.elastic.co/guide/en/elasticsearch/client/php-api/current/Elasticsearch_Client.html#Elasticsearch_Clientping_ping

[2021-10-13 15:13] #2920 closed, assigned to abrookbanks

[2021-10-13 22:47] bhsmither commented on #2914
Line 822 was not fixed.

Wondering what PayPal's actual response was:
https://forums.cubecart.com/topic/57331-paypal-commerce-cpanel-error/

[2021-10-14 09:18] abrookbanks opened #2921 "Improve message for no payment option"
Improve to say for your location.

[2021-10-15 18:09] bhsmither opened #2922 "Corrupted Variable"
In `products.import.inc.php`, line 91 creates `$value`.
[code]
Later, line 110 also creates `$value`.
[code]
Then, however, lines 145 and 148 is expecting to use `$value` created at line 91.

But `$value` now has contents acquired by the last iteration of the loop at line 110.

It is known that variables created as operatives in a foreach loop are not private. Example:
[code]
Suggest using distinc

[2021-10-15 18:17] bhsmither commented on #2922
Could be not an issue at all, because line 110 is within a block of code that deals with the 'image' column, which does not exist in CubeCart_inventory. Thus, the code at lines 145 and 148 is moot when the map_offset is referencing the 'image' column.

[2021-10-15 19:31] bhsmither opened #2923 "Untrimmed Value"
In `products.import.inc.php`, line 112:
[code]
may not get what is needed.

Example: `./first/second/image.jpg`

`dirname()` returns: `./first/second`

`preg_replace()` will find the period (the one instance of the collection), but not the slash (requires a second instance of the collection).

Worse, `dirname()` does not trim, so when splitting $value on commas, yet there is a space after the comm

[2021-10-21 09:23] ChrisNColeman opened #2924 "Potential Issue"
With CubeCart  6.4.4 and PHP 7.4.

 [Deprecated] /home/jennifer/public_html/admin_URxvyJ/sources/dashboard.index.inc.php:265 - implode() [function.implode.php]: Passing glue string after array is deprecated. Swap the parameters

Chris.

[2021-10-21 17:21] bhsmither commented on #2924
This was fixed in CC640:
https://github.com/cubecart/v6/commit/b366d549e68861b9b70a2fcb0937d8d704f0e2ed#diff-39595ce96d24cdfee6acfb48d660315f2bf72f648689d5046cbceed4bc95f153
The admin folder being used by CubeCart might be from an earlier version.

[2021-10-23 18:42] ChrisNColeman commented on #2924
Yes looks like the upgrade did not complete - i'll do it again ..

C.

[2021-10-25 07:04] #2924 closed, assigned to nobody

[2021-10-28 09:18] abrookbanks opened #2925 ""Are you sure?" confirmation on bulk order delete"
Merchant selected delete instead of print by accident.

[2021-10-28 09:20] abrookbanks opened #2926 "Universal reCaptcha Keys"
Uncheck "Verify the origin of reCAPTCHA solutions".

[2021-10-28 19:20] bhsmither opened #2927 "No Country Name Displayed"
When managing an extension, if the extension's Allowed Zones tab was configured when a country was enabled, it's config data includes the country numcode(s). For example:
[code]
If later the country is disabled, when viewing the extension's config page, Allowed Zones tab, there are line items for these countries, but no country names appear.

Ref: #2918.

[2021-10-29 22:12] bhsmither opened #2928 "Your Logo?"
It may be my browser, but I cannot find your [CC] logo anywhere on your site (except as a favicon).

[2021-11-02 16:25] abrookbanks commented on #2928
Our site? CubeCart.com?

I'm not sure I follow.

![Screenshot 2021-11-02 162440](https://user-images.githubusercontent.com/4520803/139905369-2a713aa7-e561-4638-8992-03d4191edabb.jpg)

[2021-11-02 18:55] bhsmither commented on #2928
By "[CC]" I mean the light blue "cube" having the white letters CC on the front face.

True, it is part of the "[CC] cubecart" branding, but seen only in the application - not anywhere on your corporate site.

[2021-11-03 16:27] abrookbanks commented on #2928
Bit of a mixed message going on there. 😂

We could do with a bit of branding attention I think.

[2021-11-03 16:41] #2928 closed, assigned to abrookbanks

[2021-11-04 07:59] #2926 closed, assigned to abrookbanks

[2021-11-06 11:40] rds34 opened #2929 "review snippet error"
Hi
Getting review snippet errors via google search console

[2021-11-06 11:47] tonyrsutton commented on #2929
Thanks for your post, but that's not enough details, sorry. And this is the wrong place to discuss the issue. Please use https://forums.cubecart.com with more details (versions, screenshot, etc etc) and if one of us decides it's a bug, it will be reported on here. Thanks.

[2021-11-06 12:18] rds34 commented on #2929
Hi
Al brooks ask me to post it & sent the link.

Im using the latest version of cubecart.

Images attached
![Doc1](https://user-images.githubusercontent.com/27129577/140609276-ba54acfd-32e6-4558-8108-3d61a2c5bb7c.jpg)
![Doc2](https://user-images.githubusercontent.com/27129577/140609290-b72c5964-c6da-42f2-a560-bce6ec847e48.jpg)
![Doc3](https://user-images.githubusercontent.com/27129577/140609293-81

[2021-11-06 12:21] tonyrsutton commented on #2929
Yes, but you didn't include enough details, which I why I asked. Sorry.

Is that CubeCart 6.5.0 Beta? Or 6.4.4 ?

What skin are you using?

Thank you.

[2021-11-06 12:34] rds34 commented on #2929
6.4.4
Cinda

[2021-11-06 16:41] bhsmither opened #2930 "Possible to Delete Form Field"
In the Foundation skin (and probably all skins derived from it), there is only one instance of
[code]
and it is in the `product_grid_view` code block of `content.category.php`.

Suppose one were to remove that grid view code block (as well as the code to make the switch). There is now no form element to inform CubeCart of what product to add to the basket. (Customizing the skin is allowed and enco

[2021-11-08 10:27] #2930 closed, assigned to abrookbanks

[2021-11-08 16:09] #2925 closed, assigned to abrookbanks

[2021-11-08 16:14] abrookbanks opened #2931 "Replace <td align with style text-align"

[2021-11-08 16:20] #2931 closed, assigned to abrookbanks

[2021-11-08 17:21] bhsmither commented on #2927
Just a reminder: if the admin does not update the module's settings, the (now disabled) country code(s) will still exist in the module's config data. Hopefully, CubeCart checks the enabled status of the country code(s) found in the module's config data _before allowing the module to be used_ - regardless of what kind of module it is.

Note: #2918 seems to want to prevent using a disabled country c

[2021-11-09 07:25] bhsmither opened #2932 "Download Link Title to Match Action"
In `content.downloads.php`, the button that says either Download, Watch, or Listen has as the link's `title` attribute `{$LANG.common.view_details}`.

Suggest the `title` attribute use the language phrase contained in `{$download.action}`.

[2021-11-09 10:59] #2932 closed, assigned to abrookbanks

[2021-11-10 06:47] bhsmither opened #2933 "Gallery List in Admin May Be Incomplete"
In `Filemanager->assignProductImages()`, we see that there is a good-faith effort to make one of the newly added images to be the `main_img` - if there wasn't one chosen to start with.
[code]
Note: `(int)$img_add[0]` seems to be selecting the **first** of the new images chosen.

However, playing Devil's Advocate, let's say that something has set the `main_img` column in CubeCart_image_index to "0"

[2021-11-10 07:16] bhsmither opened #2934 "Product Main Image in Admin to Have a Title"
In `products.index.php`, there is:
[code]
This  currently assigned `main_img` shows when the mouse is **not** hovering over a filename in the Picker list.

It needs a title attribute similar to the images shown in the gallery list.

If it is the case that the `main_img` is buried in a folder, the admin may not know where that image is actually located.

Suggest:
[code]

[2021-11-17 08:23] abrookbanks opened #2935 "Niche stock control problem with product options"
If a product has stock at top level instead of by option there can be a situation whereby a customer may have two line items based on different product options allowing them to purchase more than available. CubeCart checks at line item instead of by unique product.

Example below:
![TinyTake_10-11-2021-09-50-25](https://user-images.githubusercontent.com/4520803/142162593-8558a3b6-f364-4054-8bbb-df

[2021-11-22 22:11] bhsmither opened #2936 "HTML Tag Misspelled"
In the admin template `customers.subscribers.php`, there is the use of a `<tfooter>` tag.

Perhaps the tag `<tfoot>` was intended.

[2021-11-22 23:27] bhsmither opened #2937 "Form Element Not Processed"
In the admin template customers.subscribers.php`, there is:
[code]
This form element is not processed in `customers.subscribers.inc.php`.

However, there is:
[code]
which does process the selected line items, but it seems there should be a check for the affirmative selection of the 'Delete' option of the drop-down chooser.

Currently, clicking the Go button will begin the removal of the selected l

[2021-11-23 22:15] cacaokingdom opened #2938 "Product folders vanished"
Been using Cubecart for a couple years without issue. Recently we had a complaint that our webpage wasn't working. When we checked, we found that all the product pages returned a 404 not found error. The individual products did the same. The about us page did the same. When looking through the folders on the server, it appears that the product folder is outright missing.

When I went into the Admi

[2021-11-24 02:35] bhsmither commented on #2938
This caused by a change in how the URLs are derived. CubeCart creates "search engine friendly" URLs and up until the very latest versions, those friendly URLs ended with `.html`. (There is no folder containing product pages. Everything is constructed from data pulled from the database, populating templates. The Homepage works because the filename of the homepage is `index.php`.)

Well, not anymore

[2021-11-24 03:48] cacaokingdom commented on #2938
I changed the SEO URL settings and the result was the same. Still get 404 errors for anything but the home page.

Should note that this isn't from using any external links but by clicking on items on the home page. Other than the home page, at this point my entire site is dead in the water. It happened a little while back but I hadn't had time to really mess with it and so far our site hadn't been

[2021-11-24 05:08] bhsmither commented on #2938
I would really like to continue discussing this in the forums.
[code]
But, to eliminate one thought, there may be the need to review the database after having made an upgrade.

[2021-11-25 07:24] harris-organic opened #2939 "Square Payment Gateway 1.1.6"
I have had a few instances where the customer has paid twice for the same order and yesterday THREE times when using the square extension. My cart also has a Paypal option. There are no double/triple payments with PayPal.

In my Square account the time stamp, $ value and order number are the same in the transaction list, but there is only one order.
However, in the transaction logs, the transactio

[2021-11-25 14:15] #2938 closed, assigned to nobody

[2021-11-25 14:21] abrookbanks commented on #2936
Thanks Brian.

[2021-11-25 14:21] #2936 closed, assigned to abrookbanks

[2021-11-26 00:46] bhsmither opened #2940 "Inclusive Taxes Maths May Be Faulty"
Please see:
[https://forums.cubecart.com/topic/57397-options-pricing-now-incorrect/](https://forums.cubecart.com/topic/57397-options-pricing-now-incorrect/)

[2021-11-28 13:56] chongshengdz opened #2941 "highlight search keyword for elasticsearch"
highlight search keyword for elasticsearch

[2021-11-28 14:33] chongshengdz commented on #2941
highlight search keywords in search results for elasticsearch

[2021-11-30 08:54] abrookbanks commented on #2941
Can you provide a bit more information?

[2021-11-30 13:36] chongshengdz commented on #2941
highlight search keywords in search results like Google does.

![highlights](https://user-images.githubusercontent.com/30888843/144056994-dae4dfd5-3ce1-4d40-bb15-ef7067494811.jpg)

[2021-12-05 06:31] bhsmither opened #2942 "Admin Error Log Unread Count May Not Correlate With List"
Minor:

The Admin Error Log tab will show a count of all unread (rather, unacknowledged) log entries -- regardless of the currently logged-in admin.

Later, the list is populated with log entries only for the currently logged-in admin.

This sets up the possibility, for example, of the tab showing '15', but the list showing only 5 unread entries.

[2021-12-05 06:38] bhsmither opened #2943 "HTML in the Source Code"
Super Minor:

In `settings.errorlog.inc.php`, near line 65, the array element `style` is either a zero-length-string or a `style` attribute (for a `<td>` tag).

Suggest using just `$log['read']`, then testing the truthiness of that in the template to show or not show the HTML attribute.

[2021-12-05 06:52] bhsmither opened #2944 "A Smarty Variable That Is Set, but Empty, Still Iterates"
(I really thought that a Smarty variable set to false would not iterate. But it is happening. Maybe check Smarty version.)

In the admin source file `settings.errorlog.inc.php`, near line 71, `$admin_error_log` is assigned to Smarty `ADMIN_ERROR_LOG`. A `false` could be that value. Now that it is set, even being `false`, Smarty will try to iterate through it - and succeed once.

This results in a

[2021-12-05 08:13] rds34 opened #2945 "Google reveiw snippets (using latest Version cubecart in Cinda skin)"
To the owner of https://www.extremeracing.co.uk/:

Search Console has identified that your site is affected by 1 Review snippets issues:

Top Warnings

Warnings are suggestions for improvement. Some warnings can affect your appearance on Search; some might be reclassified as errors in the future. The following warnings were found on your site:

Invalid object type for field "author"

We recommend

[2021-12-05 09:47] havenswift-hosting commented on #2945
This is not an issue with CubeCart but is a problem with the Cinda skin and you could try contacting the developer.  Alternatively, use our Google Microdata plugin seen here https://www.cubecart.com/extensions/developer/havenswift-hosting

[2021-12-05 11:55] rds34 commented on #2945
Hi

Thank you for the information it was very helpful in solving this issue.

We are currently on PHP Version 7.4.26 will the plugin work?

Regards

Richard

From: Havenswift Hosting
Sent: 05 December 2021 10:48
To: cubecart/v6
Cc: rds34; Author
Subject: Re: [cubecart/v6] Google reveiw snippets (using latest Versioncubecart in Cinda skin) (Issue #2945)

This is not an issue with CubeCart but is a

[2021-12-05 12:50] havenswift-hosting commented on #2945
Yes the plugin will work on 7.4 - it does require ionCube to be activated but any decent hosting will allow you to do that yourself within your hosting control panel if it isn’t activated server wide

[2021-12-05 13:02] rds34 commented on #2945
Still getting the same errors
![same errors](https://user-images.githubusercontent.com/27129577/144747597-4ea8ea6f-f891-4e2a-8f67-f54e297ebd4d.jpg)

[2021-12-05 13:07] rds34 commented on #2945
I jumped the gun slightly still waiting to hear back regarding ioncube

Regards

Richard

From: Havenswift Hosting
Sent: 05 December 2021 13:51
To: cubecart/v6
Cc: rds34; Author
Subject: Re: [cubecart/v6] Google reveiw snippets (using latest Versioncubecart in Cinda skin) (Issue #2945)

Yes the plugin will work on 7.4 - it does require ionCube to be activated but any decent hosting will allow you

[2021-12-06 09:22] abrookbanks commented on #2945
Please contact the developer

[2021-12-06 09:22] #2945 closed, assigned to nobody

[2021-12-06 09:44] rds34 commented on #2945
Hi Al

I have tried but his website is unavailable & doesn’t seem to be on cubecart with the cinda skin either

Do you have any working contact details for him?

Regards

Richard

From: Al Brookbanks
Sent: 06 December 2021 10:24
To: cubecart/v6
Cc: rds34; Author
Subject: Re: [cubecart/v6] Google reveiw snippets (using latest Versioncubecart in Cinda skin) (Issue #2945)

Please contact the develope

[2021-12-06 09:51] abrookbanks commented on #2945
Thats a shame. No we have the same contact methods as you. If you have tech support access we can look into it for you.

[2021-12-06 10:07] rds34 commented on #2945
I used to but the last time I tried to login the section had gone, is it else where?On 6 Dec 2021 10:51, Al Brookbanks ***@***.***> wrote:
Thats a shame. No we have the same contact methods as you. If you have tech support access we can look into it for you.

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.Triage notifications

[2021-12-07 11:14] abrookbanks commented on #2929
[code]

[2021-12-07 12:00] rds34 commented on #2929
Hi Al That's exactly what I thought it was. Lol Thank you for your help had this issue for a while now.Regards RichardOn 7 Dec 2021 12:14, Al Brookbanks ***@***.***> wrote:
{literal}
      <script type="application/ld+json">
    {
      ***@***.***": "https://schema.org/",
      ***@***.***": "Product",
      "brand": {
        ***@***.***": "Brand",
        "name": "{/literal}{$MANUFACTURER|strip

[2021-12-08 08:58] havenswift-hosting opened #2946 "PayPal Commerce : Issue with shipping"
In paypal_commerce/hooks/class.cubecart.construct.confirm.php

we have the following code

`
 // Check we deliver to this country
 $country_status = $GLOBALS['db']->select('CubeCart_geo_country', array('status'), array('iso' => $address['country_iso']));
 if(!$country_status || $country_status[0]['status']=='0') {
        $GLOBALS['gui']->setError("Sorry but we are not able to ship to your country

[2021-12-09 09:41] abrookbanks commented on #2929
Better code:

[code]

[2021-12-09 10:27] #2929 closed, assigned to abrookbanks

[2021-12-09 10:45] abrookbanks commented on #2946
Thanks Ian. Fixed with 1.5.1.

[2021-12-09 10:45] #2946 closed, assigned to nobody

[2021-12-09 10:54] havenswift-hosting commented on #2946
Thank you for turning that around so quickly !

[2021-12-10 06:21] bhsmither commented on #2946
Does this answer the question for when the entire inventory of digital products are geo-fenced?

[2021-12-10 09:03] abrookbanks commented on #2946
I'd have thought that any GEO fencing for availability should be higher down the line. For example on the product detail page based on GeoIP data. "Sorry this item isn't available in your region".

I'm not sure but I'd hedge a bet most merchants don't want geo fencing on digital products.

[2021-12-10 15:47] SteveCGS opened #2947 "Feature request: customer reminder email when order status is Pending"
When a customer does not complete payment for an order we have been manually emailing them recently to find out why. In about half the cases the customer has not realised that payment was not successful, or had got distracted before completing payment. The rest had just changed their mind or shipping costs had put them off (for US customers, we are in the UK).

Is it possible to send an email to a

[2021-12-10 15:52] tonyrsutton commented on #2947
I support tis feature request - it will be very useful as I too face the same issue!

[2021-12-11 03:36] harris-organic commented on #2939
Just had an email from Square saying they are changing the way the OAuth service handles the redirect URL.
Will the extension be updated to provide this URL or will the extension stop working?

[2021-12-15 08:54] harris-organic commented on #2603
"Also adding a content, ie a description page for the gift cards and H1, H2 tags." No content page was added. Should this be raised as a new issue?  ie a description tab, so more information can be provided to the customer instead of adding text through the language file.

[2021-12-15 15:00] Dirty-Butter commented on #2947
I manually send an email as well. Would love to see this feature included.

[2021-12-16 00:12] bhsmither commented on #2603
Please elaborate by what you mean "content page". Is that different than what the customer sees having clicked "Gift Cards" on the Shop by Categories list (top bar)?

[2021-12-16 00:17] bhsmither commented on #2947
There is this:
```https://www.cubecart.com/extensions/plugins/abandoned-carts-capture-missed-opportunities```

[2021-12-16 06:37] harris-organic commented on #2914
Paypal Commerce.
PayPal have a lot of different integration types. Not many platforms support the new PayPal Commerce like Plesk. If Paypal standard works on a Plesk platform, why does not Paypal Commerce?
Can Paypal Commerce be made to work on Plesk?

[2021-12-16 12:47] abrookbanks commented on #2914
@harris-organic because the PayPal Standard extension doesn't use curl requests in the same way. It's a completely different solution technically.

[2021-12-17 09:14] SteveCGS commented on #2947
I installed this extension but it only works with abandoned carts rather than _orders_, that is to say a customer who is logged in and adds products to the basket but doesn't take the further step of going to a payment gateway, Once they do go to a payment gateway, the Abandoned Carts extension stops tracking the basket and so no email is sent out,

I emailed the developer and was told the feature

[2021-12-29 10:48] abrookbanks commented on #2944
Thanks for raising this. It has pestered me for a while and I meant to log an issue.

[2021-12-29 10:52] #2944 closed, assigned to abrookbanks

[2021-12-29 11:01] #2943 closed, assigned to abrookbanks

[2021-12-29 11:32] abrookbanks commented on #2939
I've released 1.1.7 which disables the submit button payment submit. This prevents the customer clicking it more than once which is probably the cause.

[2021-12-29 11:32] #2939 closed, assigned to nobody

[2021-12-29 12:24] harris-organic commented on #2939
Thanks, Al,

Seasons greetings.

kindest regards

Duncan Harris

From: Al Brookbanks ***@***.***
Sent: Wednesday, 29 December 2021 7:32 PM
To: cubecart/v6
Cc: harris-organic; Author
Subject: Re: [cubecart/v6] Square Payment Gateway 1.1.6 (Issue #2939)

Closed #2939 <https://github.com/cubecart/v6/issues/2939> .

—
Reply to this email directly, view it on GitHub <https://github.com/cubecart/v6/issu

[2021-12-31 09:48] abrookbanks opened #2948 "Remove 350Kb image upload limit"
As subject suggests. Dropzone has a built in tool to resize the image.

See resizeWidth or resizeHeight https://docs.dropzone.dev/configuration/basics/configuration-options

Instead replace the 350Kb limit with the PHP ini limit dynamically.

Preliminary tests showed that uploading a 4.71MB JPG with 4000 x 3000 pixels file with `resizeWidth` set to 500 resulted in a 54Kb file of 500 x 375.

[2021-12-31 10:36] abrookbanks commented on #2948
This works beautifully with large images but changes all to jpg. Does it matter?

[code]

[2021-12-31 10:40] tonyrsutton commented on #2948
I think PNG would be the best file format for the Web.

[2021-12-31 10:42] hairy-dog commented on #2948
You can think what you like, but I know that png is NOT the best format for the web.

[2021-12-31 10:42] abrookbanks commented on #2948
Agreed. I will investigate if that is possible.

[2021-12-31 10:51] abrookbanks commented on #2948
😂 yes there is no black and white answer to that. SVG, WEBP, requiring transparency, scaling etc...

Well Dropzone has a built in tool to get the client to resize the image and set the quality before upload. If we go this route we can lose the annoying 350Kb restriction and know that the uploaded image will be suitable. Say 1200px max at 80% quality.

From my testing it only works reliably when th

[2021-12-31 23:31] bhsmither opened #2949 "Code Check"
In `catalogue.class.php`, near line 2111, there is (shortened):
[code]
Note the leading and trailing doubled parentheses.

We assume what is meant is:
[code]
However, the expression `$gallery = false` might make this a moot point, but the overall coding style for database calls implies that the truthiness of this expression be tested. Expanding on that, if the expression should evaluate to somethi

[2022-01-04 11:41] abrookbanks commented on #2949
Thanks Brian.

[2022-01-04 11:41] #2949 closed, assigned to abrookbanks

[2022-01-05 10:11] abrookbanks opened #2950 "Remove Google+ from social links"
Maybe add reddit/tumblr too.

[2022-01-06 12:51] tonyrsutton commented on #2950
I agree with removing Google+ from social links.

Reddit & tumblr is a good idea.

[2022-01-06 12:56] tonyrsutton opened #2951 "Feature Suggestion - NOT to send email when cancelling an Pending order"
Now and then, I will have a customer who somehow placed 2 x same orders. One as Pending with the other one as Processing.

I keep one and cancel the other one. But this send out the email notification, making them to think I've cancelled the order when I have not.

It would be good to allow me to cancel the Pending order without sending an email. Currently, I change the email address to mine, canc

[2022-01-06 14:18] #2950 closed, assigned to abrookbanks

[2022-01-07 00:32] bhsmither opened #2952 "Property of Non-Object"
(With respect to #2896,) There may be a problem with code in the PayPal Commerce file `paypal.class.php`, the `_errorDetected()` function.

At line 190 (and elsewhere), a JSON-formatted string - in this PayPal case - is returned from `$request->send()` and assigned to the variable `$result`.

This string is sent to `_errorDetected()`, but is then treated as an object prior to being `json_decoded()

[2022-01-18 09:53] abrookbanks opened #2953 "Extension Version Check for Enabled Only"
The dash should check for enabled extensions only.

[2022-01-18 10:53] abrookbanks commented on #2953
No correlation between CubeCart_extension_info and current status.

[2022-01-18 10:53] #2953 closed, assigned to abrookbanks

[2022-01-21 13:53] tonyrsutton commented on #2941
So basically making the words (that you're looking for) appear in bold.

My additional suggestion -  it would be good to give us the choice of what colour/format to use i.e. bold, or yellow highlighter

[2022-01-21 13:55] chongshengdz commented on #2941
RED WOULD BE FINE AND EASY TO RECOGNISE.

[2022-01-21 13:57] hairy-dog commented on #2941
It should wrap the highlighted text in a span with a specific class. The stylesheet should define how that class is rendered.

[2022-01-21 14:40] abrookbanks commented on #2941
Well this would be via CSS in the skin. It would be mad to have it as a config option.

[2022-01-24 11:24] abrookbanks opened #2954 "PayPal Standard to Commerce Tooltip"

[2022-01-25 09:59] Lastwolf1882 opened #2955 "Zone LS - Ireland spelt incorrectly"
County Laois is nolonger spelt as Laoighis or Leix, the mispelling causes some issues with courier software like Parcelforce/ GLS

[2022-01-31 11:40] abrookbanks commented on #2729
From PHP 8.1 we can't write to $GLOBALS so this is going to be a problem.

[2022-01-31 14:25] #2955 closed, assigned to abrookbanks

[2022-01-31 14:26] abrookbanks opened #2956 "Max password length and improved validation"

[2022-01-31 14:26] #2956 closed, assigned to abrookbanks

[2022-02-02 06:56] bhsmither opened #2957 "Mailer->sendEmail Contents"
`Mailer->sendEmail()` has `$contents` as a default is `false`.

Later, we are looking at `$contents['to']`. If no `$contents` were provided to the function, PHP might complain about accessing an index on a boolean.

Later, `$contents` is sent to `_parseContents()` where `$contents` is processed only if it is string (returning a string), or an array (returning an array). Otherwise, returning `false

[2022-02-02 14:47] #2948 closed, assigned to abrookbanks

[2022-02-02 15:01] abrookbanks commented on #2957
Are you referring to `admin/sources/maintenance.index.inc.php`?

[2022-02-02 17:27] bhsmither commented on #2957
`/classes/mailer.class.php`

[2022-02-04 10:34] abrookbanks opened #2958 "Promo codes only when shipping isn't free"
Disallow promo codes when shipping is free to prevent combined offers.

[2022-02-04 18:33] claudia39 opened #2959 "PayPal button on Product Page"
Would be nice to have a PayPal pay button on the product page.  That way the customer can bypass the checkout process by using their PayPal account directly

[2022-02-04 18:50] bhsmither opened #2960 "PayPal Commerce Wrong Variable Used"
In the gateway class:
[code]

[2022-02-05 11:25] bhsmither opened #2961 "Null for Array Parameter for Function"
In `products.index.inc.php`, near line 1006, there is:
[code]
Having set `$unique_groups` to an empty array, if there are no options, there will be no elements in `$unique_groups`.

Later, at line 1024, calling `option_matrix()` with that empty array will cause PHP to warn about `$unique_groups[0]` being null for the `array_map()` function.

It seems as if PHP is executing the true part of the ter

[2022-02-07 13:40] abrookbanks commented on #2959
This is being looked into. :)

[2022-02-08 08:27] abrookbanks commented on #2960
Fixed for next release. Thanks.

[2022-02-08 08:27] #2960 closed, assigned to abrookbanks

[2022-02-09 08:15] abrookbanks opened #2962 "ckeditor spell checker editor broken"

[2022-02-09 08:17] #2962 closed, assigned to abrookbanks

[2022-02-10 05:30] bhsmither opened #2963 "More Loaded gets Browser Stuck at that Stage"
Minor issue, but may cause some confusion for the visitor.

Given a category with 9 products in it, and the skin configured to default 4 products per page.

The first page view shows 4 products. Click **More**.

The new page view (same page with the incoming product list appended) now shows 8 products. A cookie has been set.

Visiting any other page* does not delete this cookie. Clicking on the Na

[2022-02-10 07:36] abrookbanks opened #2964 "Multiple Delete Customer"

[2022-02-10 19:26] bhsmither commented on #2964
I have done this. Code to follow soon.

[2022-02-10 19:45] abrookbanks commented on #2964
That would be a great contribution. Thank you. 😃

[2022-02-10 23:14] bhsmither commented on #2964
Two files to modify.
[Multi-Delete Customers.txt](https://github.com/cubecart/v6/files/8044921/Multi-Delete.Customers.txt)

[2022-02-12 07:53] bhsmither opened #2965 "Bad Call for Class Method"
In `setup/setup.install.php`, line 112, there is a call for `$e->message`.

All other CubeCart code uses `$e->getMessage()`, and the docs at:
`https://www.php.net/manual/en/class.exception.php`
suggest `$message` is protected, where `getMessage()` is used to fetch it.

[2022-02-14 09:43] havenswift-hosting opened #2966 "Email Validation"
Work on this was started and some preparation code was added but it was never completed.  So many potential customers enter their own email address incorrectly plus this would also help cut down on spam customer registrations

[2022-02-14 13:44] abrookbanks commented on #2966
Hi Ian, I'm not sure what you are telling me. Is this a bug or extended validation steps?

[2022-02-14 16:14] havenswift-hosting commented on #2966
Extended validation - too many email addresses are entered incorrectly. So it either needs double entry and comparison or an email sent to entered address with a link which needs to be clicked on before signup or order can be progressed

[2022-02-14 16:46] abrookbanks commented on #2966
I'm not saying this shouldn't be a feature but it's a huge barrier to sale. I've never come across this feature on an ecommerce store before. Double entry is not so bad but still an extra field to complete.

[2022-02-14 17:26] tonyrsutton commented on #2966
Perhaps add this feature and leave the settings for us to control?

I would also find it useful.

[2022-02-14 20:38] lyndsiesal commented on #2966
I sell digital products and I have several customers each week who contact us that they have not received order emails and it's almost always that they typed their email address wrong, so an extra field to verify what they typed would be very helpful.

[2022-02-14 21:20] hairy-dog commented on #2966
I think that you are thinking of email confirmation. I'm guessing that validation is when you email a token to check the address and the registration awaits that.

[2022-02-18 05:37] bhsmither opened #2967 "Very Similar Functions?"
Question:
Comparing and contrasting `SEO::generatePath()` and `SEO::buildURL()`, I find nearly identical inputs and output.

Each do have some unique subtasks, but I question why one cannot be absorbed into the other.

[2022-02-20 22:13] bhsmither opened #2968 "Code Check: Gallery"
Very minor:

Is this vestigial?
[code]
The test `count()` has already determined if the gallery should display.

So, is `{if $image@total lt 2}` still necessary?

[2022-02-25 12:33] Dirty-Butter commented on #2966
I currently have double entry coded into my registration. It saves a lot of trouble trying to contact careless customers.

[2022-02-28 22:56] hairy-dog commented on #2632
Is there a way I can make the content editor ONLY offer source editing? At present it drives me loopy. I really don't want ' to be converted to #&39; every time!

[2022-03-01 08:03] abrookbanks commented on #2632
You can indeed.
https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_config.html#cfg-startupMode

To do this edit the file v6/includes/ckeditor/ckeditor.js

Add;
`config.startupMode = 'source';`

[2022-03-01 12:34] hairy-dog commented on #2632
That seems to have sorted it, thanks. And now the editor doesn't mangle html any more!

[2022-03-01 12:36] abrookbanks commented on #2632
Great.

[2022-03-01 19:02] bhsmither commented on #2632
It (CKEditor) will. Give it time.

[2022-03-01 21:29] bhsmither commented on #2632
Switching to WYSIWYG (non-Source) mode will allow CKEditor to replace certain characters with their entities - if within a "text node" - as that is 'best practice'. That is, quotes to delineate attribute values in tags are not disturbed.

But, if you really want to have real single quotes in text left undisturbed when viewing in non-Source mode, add this to `config.js`:
[code]
Note:
Additionally,

[2022-03-01 21:48] hairy-dog commented on #2632
As long as you never click the button to open the non-source editor, it seems to be OK

#39 is simply wrong. &quot; or &lsqou; or &ldqou; etc are correct. #39 is not. You may as well use '

It's not just that: it also messes with other parts of the html. I'd much prefer to just have a simple text editor

[2022-03-04 12:05] abrookbanks opened #2969 "Update What3words AutoSuggest Component to v4.0"
https://developer.what3words.com/tutorial/javascript-autosuggest-component-v4

[2022-03-04 18:59] adam12 opened #2970 "Square module: SqPaymentForm will be deprecated 2022/07/21"
Opening this for posterity as it looks to affect the current version of the Square plugin.

The migration guide Square provides is linked here: https://developer.squareup.com/docs/web-payments/migrate

[2022-03-05 00:04] bhsmither opened #2971 "GMail to Require OAUTH2"
If a CubeCart user is using GMail as the SMTP provider for outgoing emails (or Yahoo or Microsoft), OAuth2 will need to be provided for PHPMailer.

(There seems to be an alternate way using an app-specific password. Scratch that - 2FA only for ASPs.)

[2022-03-07 09:23] abrookbanks commented on #2964
Thanks so much for this Brian.

[2022-03-07 09:23] #2964 closed, assigned to abrookbanks

[2022-03-07 09:38] #2969 closed, assigned to abrookbanks

[2022-03-07 19:43] Dirty-Butter opened #2972 "Spam on Forum"
I've given up reporting spam on the forum, as nothing is being done about it. I've messaged you several times, Al, with no response. Feel free to delete this issue, but please deal with the spam or expect the forum to lose its usefulness.

[2022-03-07 19:52] tonyrsutton commented on #2972
I agree, I have been reporting them too. It's getting out of control. :/

@abrookbanks - have you considering giving a Mod status to someone trusty who can delete these spam now and then? I'm happy to throw my name in as I've been forever marking these posts as spam.

[2022-03-07 20:20] abrookbanks commented on #2972
Sorry I've not been getting any forums notifications for some reason.

I've contacted the software provider and they haven't given me any useful help to get on-top pf this spam. You'd think you can block links on new accounts or make them manually approved... no.

I'd love to welcome you guys as mods!! Thank you.

[2022-03-07 20:28] tonyrsutton commented on #2972
Thanks. We'll look after your forum, so you can focus on CubeCart :)

[2022-03-07 20:31] havenswift-hosting commented on #2972
DB and I have both previously been mods and am always happy to help again

[2022-03-07 20:32] abrookbanks commented on #2972
My time is really streached. Thank you so much for your time. I can promise you it's hugely appreciated.

There are some issues here I must address for the next release.

[2022-03-07 21:26] Dirty-Butter commented on #2972
I don't have time to be a mod, but I will be glad to report spam as long as it's being taken care of.

[2022-03-14 09:45] #2972 closed, assigned to nobody

[2022-03-14 09:50] abrookbanks commented on #2968
Thanks!

[2022-03-14 09:50] #2968 closed, assigned to abrookbanks

[2022-03-14 09:52] #2965 closed, assigned to abrookbanks

[2022-03-14 09:52] abrookbanks commented on #2965
Thanks.

[2022-03-14 09:52] abrookbanks commented on #2965
See f0cf22a7eba7eb8d4091e72ca42444b768b41d95

[2022-03-14 10:43] abrookbanks commented on #2967
Thanks for this but I'm going to leave it as it is. It works and I think there are much bigger fish to fry taking into account resources.

[2022-03-14 10:43] #2967 closed, assigned to nobody

[2022-03-14 10:44] #2971 closed, assigned to nobody

[2022-03-14 10:59] abrookbanks commented on #2966
<img width="509" alt="Screenshot 2022-03-14 at 10 58 46" src="https://user-images.githubusercontent.com/4520803/158159022-d3b18247-70bb-4211-8c81-5e28b1093681.png">

[2022-03-14 11:03] tonyrsutton commented on #2966
That seems to be a good workaround.

Perhaps disable copy & paste functionality on the 2nd field box? This way, the user is forced to manually type in the email address to confirm their correct email address.

[2022-03-14 11:05] tonyrsutton commented on #2966
Also - "Please check your emails match"

Perhaps "Please check your e-mail address matches" ?

[2022-03-14 11:14] abrookbanks commented on #2966
<img width="732" alt="Screenshot 2022-03-14 at 11 14 20" src="https://user-images.githubusercontent.com/4520803/158161231-b5236d28-4840-4beb-8214-8913d97c091a.png">

[2022-03-14 11:16] abrookbanks commented on #2966
Thanks for the feedback so far. I'll leave this open for now. Let me know what you think.

[2022-03-14 11:40] havenswift-hosting commented on #2966
This is a big improvement thanks and allowing store owners to choose to enable or not is great

I would also agree with this as an extra feature

Many sites have email confirmation as part of the registration process but again make it store owner configurable and then they have the choice

[2022-03-14 11:42] abrookbanks commented on #2966
Thanks guys. Hmm disable copy and paste that's a new one to me.. I'll look into that. :)

[2022-03-14 11:52] abrookbanks commented on #2966
Well that was easy. :)

[2022-03-14 17:41] tonyrsutton commented on #2966
Perfect, thank you.

[2022-03-15 08:26] abrookbanks commented on #2961
Thanks this works well.

[2022-03-15 08:26] #2961 closed, assigned to abrookbanks

[2022-03-15 08:26] #2958 closed, assigned to abrookbanks

[2022-03-15 08:41] #2942 closed, assigned to abrookbanks

[2022-03-15 10:14] #2966 closed, assigned to abrookbanks

[2022-03-18 09:01] abrookbanks commented on #2957
I decided that _parseContents when given a string should still return a string. Right now there is no case where this would actually be used (unless I missed it). By returning an array I believe it would need to be put into either an HTML or pain text key. Let me know if you disagree or if I got this wrong.

[2022-03-18 09:01] #2957 closed, assigned to abrookbanks

[2022-03-21 10:44] havenswift-hosting opened #2973 "Bug : adding product with multiple compulsory options doesnt work"
This is verified with latest CubeCart and using unmodified foundation

The problem is if you try to add products from a Category listing page and that product has two compulsory product options

If there is more than one compulsory product option then it seems to do one of two things : a) an option from each compulsory option set is chosen at random or b) an option is chosen at random from only on

[2022-03-21 13:54] abrookbanks commented on #2973
What am I doing wrong? Both these options are required.

https://user-images.githubusercontent.com/4520803/159275794-6087f699-6a31-4ac3-ae79-a197a989fdb9.mp4

[2022-03-22 07:21] havenswift-hosting commented on #2973
We have not been able to 100% reliably work out the set of circumstances.  However, try making one of the options have a default - it then seems to take the default and ignore that the second option is compulsory

[2022-03-24 11:17] #2954 closed, assigned to abrookbanks

[2022-03-25 09:45] #2927 closed, assigned to abrookbanks

[2022-03-25 12:14] CQer789 opened #2974 "Putting multiple files in one folder"
Hi everyone,
I sell digital downloads only (sheet music and audio files), some of the sheet music has multiple parts, ie. there is one score that has all the instruments on one sheet and then the separate parts can be bought separately.
However, to do that, I need to put the individual sheets of the parts in one folder, but CC does not seem to allow me to do that.
Is there a way that can be achiev

[2022-03-25 20:41] tonyrsutton commented on #2974
Hi, please use https://forums.cubecart.com for discussions. This Github is really for bug reports.

Thanks.

[2022-03-28 10:17] #2974 closed, assigned to nobody

[2022-03-29 00:09] bhsmither opened #2975 "PHP 8 New Parameters Requirements"
With respect to #2728, please give some effort to find and fix all scenarios where a non-optional parameter follows an optional parameter.

So far, `/classes/db/database.class.php` lines 175 and 267.

[2022-03-30 10:29] abrookbanks commented on #2975
It's a MUCH bigger deal than this.
https://php.watch/versions/8.1/GLOBALS-restrictions

[2022-03-30 11:01] abrookbanks commented on #2975
Even if we recode around this no existing extensions will work. I doubt. Any thoughts? In my eyes we are stuck at PHP 7.4.

[2022-03-30 14:22] RonSharcott opened #2976 "$0.00 Cart should bypass collection of personal information - option"
Many items will have a $0.00 cost (especially when digital). A cart may be full of these "Giveaways" (also known as Lost Leaders). The check out process forces people to reveal personal information for shipping and account setup.

There should be a setting in the Settings section to skip the account setup if the cart is $0.00. Some sites might want to collect information on these type of "sales" b

[2022-03-31 07:28] #2976 closed, assigned to nobody

[2022-03-31 10:39] hairy-dog commented on #2976
I'm struggling to understand this.
If the product is free, that doesn't mean you don't need a delivery name and address.
Perhaps if a product is both free and downloadable, it's different.
It is illegal to collect any personal details that aren't needed, so no sensible store does this. You do need a name and address to deliver to, regardless of price.
What "personal information" is to be bypassed

[2022-03-31 10:39] hairy-dog commented on #2976
.... basket

[2022-03-31 10:43] abrookbanks commented on #2976
This is a business specific requirement which isn't really in the global scope of CubeCarts main audience. It would need to be developed as a bespoke customisation.

[2022-03-31 13:51] RonSharcott commented on #2976
When  a customer selects an item from your store that is $0.00 you should have the option to send that customer straight to their downloads avoiding the requirement to fill out a lot of personal information. So, if the cart total is $0.00 then bypass the collection of information.

Regardless, because Cubecart is data driven and more about collecting data I have moved on. Sorry that a simple conce

[2022-03-31 14:01] abrookbanks commented on #2976
@RonSharcott please don't think this has been dismissed just because it's been closed. All new feature requests are closed until they are added to the roadmap. Hopefully CC can work for you in the future and sorry it's not right for you at this time. CubeCart has been ultimately designed for at cost catalogues. Hopefully you can find a different product that does fit your specific business needs.

[2022-03-31 14:04] RonSharcott commented on #2976
Sorry, bad morning and I didn't think it was that difficult of a concept. A feature like that would then allow freebees to be given away easily but still allow for cost items to go through accounts. I tried looking at the guest account but that doesn't seem to work or at least work as expected.

[2022-03-31 14:07] abrookbanks commented on #2976
Also how is a basket handled with a mix of free (instant access) and billing details required items for tax/shipping concerns?

[2022-03-31 14:09] RonSharcott commented on #2976
If the basket is above $0.00 then it goes through the regular routine because something costs and may need to be shipped or warrantied.

"If Cart is 0 cost then complete transaction without collecting information"

[2022-03-31 14:12] abrookbanks commented on #2976
@RonSharcott maybe just an instant link in the product detail page to download there and then. This would be a pretty simple change. The add to basket button could just read "Download". This is probably an hour or two to build.

[2022-03-31 14:16] RonSharcott commented on #2976
What I am working with is simple little Google Maps routes planned and downloadable as KMZ files. They sit in the store with a description, a pic and the ability to download. The basket allows for several to be selected before completing the transaction. Obviously, they are not worth anything other than the time to put them together and they don't appreciate. Eventually some items may be sold for

[2022-03-31 14:55] hairy-dog commented on #2976
If you are simply offering a free download, there is no need for any online store. Just put a link into a simple web page.

 -- Iain

[2022-03-31 14:55] RonSharcott commented on #2976
Still not getting it are you hairy

[2022-03-31 14:58] abrookbanks commented on #2976
@hairy-dog I think @RonSharcott wants to be able to turn on purchases in the future for some products.

I think the only feasible way to do this is to allow free products to have the option of an instant download (bypassing basket). That would be simple enough to do.

[2022-03-31 15:01] RonSharcott commented on #2976
@abrookbanks pretty close. A link in the description looks too hackish and doesn't allow for the collection of a few items to be processed all together. Why not treat them as proper items than to just make it look like a dump screen where you put your trash.

[2022-03-31 15:06] hairy-dog commented on #2976
Oh, I get it. The problem is that I think the premise of the issue is nonsense

[2022-03-31 15:08] RonSharcott commented on #2976
Great community you have here Cubecart

[2022-03-31 15:12] abrookbanks commented on #2976
Simply because it significantly complicates the issue. Bypassing all the required checkout fields and fundamentally altering the whole checkout process is heavy going which is unlikely to make it into development.

Am I right in guessing that you haven't found any off the shelf solution that can do this?

[2022-03-31 15:14] RonSharcott commented on #2976
Yes, I have a solution that can bypass the account requirements.

@abrookbanks Can you lock this conversation. There really is no need for it to go any further.

[2022-04-03 03:18] bhsmither commented on #2975
This is how I read the notice:
`\$GLOBALS[ =,.]+` will find:
[code]
A Regex search across the CC644 codebase showed no results.

A Regex search on just `^\$GLOBALS$` showed no results.

A Regex search on `\$GLOBALS\[` (brackets for using a key for the array element) shows 5088 instances.

I am confident there is no statement in CC644 that assigns or modifies `$GLOBALS` **to the whole of it's exist

[2022-04-07 10:33] abrookbanks commented on #2970
This has been done with 2.0.0 but now has a cost unless a CubeCart customer.
https://www.cubecart.com/extensions/payment-gateways/square-payments

Other free alternate solutions such as PayPal Commerce are available.

[2022-04-07 10:33] #2970 closed, assigned to nobody

[2022-04-07 16:00] bhsmither commented on #2914
In the `paypal.class.php`, line 856 (for version 1.6.0), the use of `curl_error($ch)` is not appropriate here.

[2022-04-07 16:27] hairy-dog commented on #2970
This seems like quite a high price for an add-on.
Is this expensive because it was a huge amount of work, or because is seen as a luxury item, or for some other reason?

[2022-04-07 16:37] abrookbanks commented on #2970
The PayPal alternative is free and IMO better.

[2022-04-07 19:22] hairy-dog commented on #2970
I am not a fan of PayPal or its owners

[2022-04-07 19:51] abrookbanks commented on #2970
Do you mind me asking why?

[2022-04-07 20:19] abrookbanks commented on #2970
It is completely new integration which took two hole days to develop. After around 18 sales at £40 it can be made free.

[2022-04-08 19:31] tonyrsutton commented on #2896
Another linked thread - https://forums.cubecart.com/topic/57753-paypal-ecommerce-in-error-log/

[2022-04-11 21:46] MarlineSim commented on #2964
Hello,

Where do I find the files to edit them. It's been a while since I've edited my cubecart.

[2022-04-20 08:31] abrookbanks opened #2977 "Validate customer registration for same first & last name"
This is mainly to prevent spambots.

[2022-04-20 08:35] abrookbanks commented on #2977
See f0fa7347580bcd183574dfbc41792e610a5826e6 typos in commit.

[2022-04-20 12:48] #2977 closed, assigned to abrookbanks

[2022-04-21 18:25] bhsmither commented on #2977
If the purpose is to foil bots, which probably do not process any human-readable response, why display a message?

My vote is to just bounce them to _Yahoo!_.

[2022-04-24 18:46] bhsmither opened #2978 "Residual Diagnostic?"
https://github.com/cubecart/v6/commit/012575d3a2b847536312bf40dee3856dead53082

Is line 17 in `2.cubecart.js`:
[code]
an overlooked residual diagnostic?

[2022-04-24 19:53] bhsmither opened #2979 "User Wanting to Change from Old Password"
With regards to #2956:

In `content.profile.php`, where the user is wanting to change their existing password, new template code limits this to 64 characters.

Has a message banner and method been provided to allow the user to change an existing password that is already greater than 64 characters? (irrespective of how absurd that may seem to be)

The method would be to **force** the user to use th

[2022-04-25 03:30] bhsmither opened #2980 "Variable Type Confusion"
PHP 8.1 will issue a deprecation warning (removed in PHP 9) where an instance of:
[code]
saying "Automatic conversion of false to array is deprecated."

The instance found is in `file.class.php`, near line 223. Tracing the code suggests:
In `cache.class.php`, there is `protected $_empties = array();`. This is good.
However, a call to `_getEmpties()` will call `read()`.
In `read()`, several situati