[2019-06-25 09:50] sumwonlost commented on #2334
The next BUG - the States dropdown assumes the list is comprehensive and no omissions.

What happens if Zone is not on list?  User has no choice but to select from dropdown list.

Need an "Other" option at bottom of States dropdown - not so much for Admin as they can firstly add the new State to db, primarily the issue is on Customers side (addresses).

When "Other" selected, it hides (replaces) t

[2019-06-25 10:20] sumwonlost commented on #2334
The last remaining thing #1720.

On Save if State is textbox (status 2 & 3 or "Other") it save new Zone to geo_zone with status = 2 (pending).  It add Note to Administrator who then confirms new Zone, adds missing details (abbrev) and changes Status = 1.  Done,  populating our DB as we go along.

[2019-06-25 11:26] havenswift-hosting commented on #2336
This also means that sites cannot use Cloudflare as they enable IPv6 by default

[2019-06-26 09:40] sumwonlost opened #2337 "These need urgent looking at #2080, #2291"
I have had related issues outstanding for 12 months.

#2080, #2291

I am glad you agree it is a bug otherwise you would have closed these,

How prices are displayed is a major part of a cart and currently as outlined do not comply with Australian Consumer Laws and question how they do in UK.

The **"Retail Price"** should always be displayed and similar to "On Sale", "Qty Discounts" price should d

[2019-06-27 10:21] abrookbanks commented on #2337
Both these tickets are still open and we will get to them in due course. If you need urgent support please open a technical support ticket.

[2019-06-27 10:21] #2337 closed, assigned to nobody

[2019-06-27 10:26] abrookbanks commented on #2336
The customer IP address table column is varchar(45) which should be long enough for IP v6 so long as the IP address is detected correctly.

I need steps to reproduce this probably on the clients store. Maybe they can open a support ticket. CubeCart predominantly uses $_SERVER['REMOTE_ADDR'] to detect this value which should get IPv4 and IPv6 addressed.

I need to look at this as a case situation.

[2019-06-27 10:27] #2318 closed, assigned to nobody

[2019-06-27 10:30] #2335 closed, assigned to nobody

[2019-06-27 10:34] #2333 closed, assigned to abrookbanks

[2019-06-27 10:34] #2325 closed, assigned to abrookbanks

[2019-06-27 10:35] #2306 closed, assigned to nobody

[2019-06-27 10:35] #2322 closed, assigned to nobody

[2019-06-27 10:37] abrookbanks commented on #2321
Pretty confident this is resolved. There were a number of issues recently relating to downloads and with prefixed database tables.

[2019-06-27 10:37] #2321 closed, assigned to nobody

[2019-06-27 10:44] abrookbanks commented on #2323
Thanks Brian.

[2019-06-27 10:44] #2323 closed, assigned to abrookbanks

[2019-06-27 10:56] abrookbanks commented on #2327
Thanks!! This is fixed in the latest release.

[2019-06-27 10:59] #2327 closed, assigned to abrookbanks

[2019-06-27 12:43] abrookbanks commented on #2326
Thanks. This tweak will be handy.

[2019-06-27 12:43] #2326 closed, assigned to abrookbanks

[2019-06-27 13:59] #2319 closed, assigned to nobody

[2019-06-27 14:06] abrookbanks commented on #2303
Nice little touch. Thank you.

[2019-06-27 14:06] #2303 closed, assigned to abrookbanks

[2019-06-27 14:56] abrookbanks commented on #2329
Thanks.

[2019-06-27 14:56] #2329 closed, assigned to abrookbanks

[2019-06-27 15:56] abrookbanks commented on #2315
For fear of upsetting any existing extensions that want it in the add/edit view I added a second hook.

[2019-06-27 15:56] #2315 closed, assigned to abrookbanks

[2019-06-27 15:56] abrookbanks commented on #2315
.... hope that's ok.

[2019-06-27 15:56] Noodleyman commented on #2315
seems reasonable and the best approach, thank you.

[2019-06-27 15:57] abrookbanks commented on #2315
Holy sh!t you are quick. Have you been refreshing this page for 28 days? LOL

[2019-06-27 15:58] Noodleyman commented on #2315
I've pretty much got an entire screen dedicated to notifications (for many things), the joy of using 6 screens for R&D :)

[2019-06-27 16:01] abrookbanks commented on #2315
Blimey 6 screens. I have three.
![IMG_20190627_165948](https://user-images.githubusercontent.com/4520803/60281626-27007500-98fd-11e9-83fa-933c84085cae.jpg)

[2019-06-27 16:07] Noodleyman commented on #2315
where the magic happens (old pic from a tidy day!). got a lamp on the laptop and added another screen to the right since this was taken.

![image](https://user-images.githubusercontent.com/10614018/60282048-f836ce80-98fd-11e9-8092-864626b4b9f4.png)

[2019-06-27 16:15] abrookbanks commented on #2315
Blimey. We have matching Ikea bins. :laughing:

[2019-06-27 16:18] Noodleyman commented on #2315
It's not really an office without something from Ikea :p

[2019-06-27 16:20] abrookbanks commented on #2315
Petty much all mine is Ikea. Wife keeps her Gin in here too. haha

![IMG_20190627_171936](https://user-images.githubusercontent.com/4520803/60282884-db9b9600-98ff-11e9-8ad4-a21fc68cc736.jpg)

[2019-06-27 16:37] abrookbanks commented on #2281
I like this fix but I'm not 100% sure how compatible it will be with server config.

[2019-06-27 16:37] #2281 closed, assigned to abrookbanks

[2019-06-28 08:51] abrookbanks commented on #2320
I can't reproduce this. This issue is familiar though and I believe it may be fixed already.

The SQL on the left comes from my test under same conditions.

![Screenshot 2019-06-28 at 10 01 40](https://user-images.githubusercontent.com/4520803/60331065-c2d8c200-998b-11e9-841e-da2e8962b4f2.png)

[2019-06-28 08:59] abrookbanks commented on #2278
You can't but it is stored in the database table `CubeCart_cookie_consent ` if you really did need to dig it out.

It shouldn't get too large as once clicked it won't show again for a year or until they clear their browser cache. If the customer doesn't click it and makes a huge amount of page loads it could amount up.

[2019-06-28 09:00] #2278 closed, assigned to nobody

[2019-06-28 09:02] abrookbanks commented on #2320
Please check the catalogue class against the current one in version control and see if the issue persists.

[2019-06-28 09:05] abrookbanks commented on #2317
It needs a complete overhaul I think.

[2019-06-28 09:06] #2317 closed, assigned to nobody

[2019-06-28 09:09] abrookbanks commented on #2328
Thanks Brian!

[2019-06-28 09:09] #2328 closed, assigned to abrookbanks

[2019-06-28 09:32] abrookbanks commented on #2298
Thanks. Fixed with 1.2.1.

[2019-06-28 09:32] #2298 closed, assigned to nobody

[2019-06-28 10:01] abrookbanks commented on #2302
Card capture upgraded to better handle encryption method

[2019-06-28 10:01] #2302 closed, assigned to abrookbanks

[2019-06-28 12:43] havenswift-hosting commented on #2320
I have tested this using the current catalogue class file from git and it is still happening exactly as described - this is in multiple client stores and also in a fresh install with no changes and no plugins

[2019-06-28 13:07] abrookbanks commented on #2320
I have to be doing something differently then....

[2019-06-28 13:10] abrookbanks commented on #2320
http://static.cubecart.com/issue-2320.mp4

Maybe the product has a different setting. This store is using default value and all test products are cloned from the default one.

[2019-06-28 13:22] havenswift-hosting commented on #2320
You are doing one search which is the one that I have said works -  I detailed one that works and then one that didnt !

Advanced search, then click "In Stock" button and search.  Will return no items due to syntax error

[2019-06-28 14:21] abrookbanks commented on #2320
I was just testing you again Ian. Honest!😜

You love it.

[2019-06-28 14:26] abrookbanks commented on #2320
On a serious note I'm dyslexic and miss things like this all the time. PERFECT for this job.🤪

[2019-06-28 14:34] havenswift-hosting commented on #2320
No worries at all - I see from the submit that you managed to reproduce.

Unfortunately it isnt a complete fix - works if you tick "In Stock" but the same problem happens if you tick "Featured Products Only" - double AND

Always amazes me that people with dyslexia always seem to be able to spell that lol

[2019-06-28 14:36] abrookbanks commented on #2320
Cool thanks Ian. I'll check that. Thanks for putting up with me.

[2019-06-28 14:42] abrookbanks commented on #2320
Thanks again. Fix above corrects that for me.

[2019-06-28 14:47] havenswift-hosting commented on #2320
That fixes it if you only select "Featured Products Only" and first fix is when only selecting "In Stock" but if you select both tick boxes it still has a double AND and fails - one more go lol

[2019-06-28 14:48] abrookbanks commented on #2320
Hmm I tested many combinations.. I'll try again.

[2019-06-28 15:40] sumwonlost opened #2338 "Bug - Read Only -> Store Settings + others"
I have Set an Admin as Read-Only for All sections to test.

Bug Store Settings - These can be edited and Saved.  #2329 may have fixed this but have not tested yet.

Bug Customer List -> GDPR Tools - I can delete Customers & Guests

I will post others as i find them

[2019-06-30 10:28] sumwonlost opened #2339 "Improvement - Contact Us form."
If User (Logged In) can it populate Name (title, firstname, lastname) and Email in Contact form for Customer?

[2019-07-01 09:31] abrookbanks commented on #2339
Thanks this is a simple, quick but effective little feature.

[2019-07-01 09:31] #2339 closed, assigned to abrookbanks

[2019-07-01 09:33] abrookbanks commented on #2338
Relates to #2329

[2019-07-01 09:34] abrookbanks commented on #2338
Most of this was fixed with #2329. Added extra read only insurances.

[2019-07-01 09:34] #2338 closed, assigned to abrookbanks

[2019-07-01 09:35] abrookbanks commented on #2338
Please add any new ones as new issues. Thanks.

[2019-07-01 10:40] sumwonlost opened #2340 "Bug - Email Log"
When User/Customer send email via Contact Form the log correctly shows TO email address set in Contact Form settings.

Bug - FROM also display the same email address as TO.  It should display the senders email address and if Customer a link to Customer Account.

[2019-07-01 11:13] sumwonlost commented on #2340
Sorry.   For testing, I forgot that I had set customer as same email as that in contact form.  I change customer email and all is correct.

[2019-07-01 11:13] #2340 closed, assigned to nobody

[2019-07-01 11:19] abrookbanks commented on #2279
Duplicate of #2320

[2019-07-01 11:19] #2279 closed, assigned to nobody

[2019-07-01 11:23] sumwonlost opened #2341 "Email Log - improvement"
Can you add an extra column displaying the Department the email was sent to if department email same as contact form email.  It helps to identify the Departments if they use the same (optional) email.

[2019-07-01 12:08] havenswift-hosting opened #2342 "Improve Stripe payment interface"
Can anything be done to improve the layout that is shown to customers when paying with Stripe - this is such a good company and plugin but the implementation makes it very confusing for customers

![Stripe_Payments](https://user-images.githubusercontent.com/6114431/60435344-9c27bf00-9c09-11e9-80b8-02b5023caf63.jpeg)

[2019-07-01 15:43] abrookbanks commented on #2342
The fields just need borders right? What are you suggesting?

[2019-07-01 15:54] havenswift-hosting commented on #2342
Anything that makes it look a little more professional !  In the Stripe dashboard, people can see the following

![Stripe_Checkout](https://user-images.githubusercontent.com/6114431/60449975-1b78bb00-9c29-11e9-8f01-a846039430ff.png)

but also most other gateways have much better layouts - anything has to be an improvement, so a few boxes, a couple of images (store and maybe the cards supported etc

[2019-07-01 15:56] abrookbanks commented on #2342
This is the default display....
![Screenshot 2019-07-01 at 16 55 53](https://user-images.githubusercontent.com/4520803/60450150-20d20780-9c21-11e9-99c4-796762912ac1.png)
Source: https://stripe.com/docs/stripe-js/elements/quickstart

[2019-07-01 15:57] abrookbanks commented on #2342
Is this better?
![Screenshot 2019-07-01 at 16 56 49](https://user-images.githubusercontent.com/4520803/60450206-3e06d600-9c21-11e9-99c2-a6c57bffed92.png)

[2019-07-01 16:04] abrookbanks commented on #2342
I released 2.1.2 with the above changes. The text "Pay by Debit/Credit Card" is less confusing than seeing "Credit Card" twice. The fields are now also encapsulated in a darker border.

[2019-07-01 16:04] havenswift-hosting commented on #2342
Better yes, but still not immediately clear that there are three different fields there to be filled in and as I said, having a couple of small logos / images there would help as well

[2019-07-01 16:06] abrookbanks commented on #2342
It's "how it is supposed to look" now. We have to trust the Stripe UX designers a bit I think.

Let's see how this goes.

[2019-07-02 08:22] abrookbanks opened #2343 "Error Logs not HTML encoded"
This can cause smarty parse error.

[2019-07-02 08:29] #2343 closed, assigned to abrookbanks

[2019-07-02 14:53] abrookbanks commented on #2342
2.2.0 now supports Strong Customer Authentication (SCA) using the payment intent API.

[2019-07-02 15:16] havenswift-hosting commented on #2342
That is excellent news - great job

Dont think much of the Stripe UX designers if that is the best they can come up with - it is however, much better than it was

[2019-07-02 15:51] havenswift-hosting commented on #2342
While you are working on it - are you able to look at some other issues ?  If a payment fails then customer is not given any details and are shown a white screen.

1) If in test mode and use live card details
2) If postcode (zipcode according to the error recorded) fails validation ( the error recorded in CubeCart error table is "[Exception] /home/caranxne/public_html/modules/gateway/Stripe/stripe

[2019-07-02 16:02] abrookbanks commented on #2342
The error in issue 2 above suggests you are not using the 6.2.0 release which is very different. Please check as this should be fixed in the latest release.

[2019-07-02 19:29] bhsmither commented on #2343
Do you have a case where this happened?

As I see it, the Smarty variable `$log.message` contains a string - which is not further parsed. Thus, Smarty is not influenced by the string value.

What converting these five characters to html entities does, actually, is to stop the browser from acting on these characters and possibly hiding or distorting the display.

(See Example 5.10 at https://www.sm

[2019-07-02 20:22] abrookbanks commented on #2343
I'll see if I can dig out the support ticket tomorrow. Essentially an error around some JS in a front end template stored curly brackets in the error log causing the admin error log page to corrupt too.

[2019-07-03 02:48] bhsmither commented on #2341
We can try this. In `/classes/cubecart.class.php`, near line 1523:
[code]
The Email Log will now show in the To column for Contact Us emails (for example):
Department 1: `Dept1 || email@example.com`
Default: `StoreName || email.com`

[2019-07-03 06:25] sumwonlost commented on #2341
Thanks.  It does the job of identifying the Department making it easy for Admin,  Need Al to add it to master.

Next Bug - It has a link to Search Customers.  What is purpose of having link to search Customers if the email address is store.email, contact.email (contact form) or department.email?

This also eliminates the fact that a record will never be found even if email exist for customer that

[2019-07-03 08:36] abrookbanks commented on #2341
This is a bit more complex than it first seems. See commits above.

[2019-07-03 08:36] #2341 closed, assigned to abrookbanks

[2019-07-03 09:01] abrookbanks commented on #2320
All sorted. All scenarios in advanced search tested.

[2019-07-03 09:01] #2320 closed, assigned to abrookbanks

[2019-07-03 09:23] havenswift-hosting commented on #2320
Confirmed as fixed - thanks

[2019-07-03 09:25] abrookbanks commented on #2320
Great! Thanks for confirming.

[2019-07-03 09:57] abrookbanks commented on #2312
I honestly don't know. This code has been there since 6.0.0.

[2019-07-03 10:10] abrookbanks commented on #2312
It seems pointless to remove the operators after adding them!? I'll figure this out.

[2019-07-03 12:05] sumwonlost opened #2344 "Merge to File and redundant Lang Strings table"
Sorry to be a pain but I have taken CubeCart as a personal project and aim to help to make it better.

Ref #1838

The fixes made work perfectly but still ask why the need for language strings table in db?

Looking at how language files work.

You need to create new language,xml file,  It can have no strings as it defaults to definitions.xml strings OR you can have ALL strings unchanged OR you can

[2019-07-03 13:51] sumwonlost commented on #2344
The default language strings are always those in definitions.xml and module.definitions.xml unless superseded (edited) by those in language.xml and module.language.xml.  If a string does not exist in these it fallback to the strings in definitions.xml and module.definitions.xml.

[2019-07-04 13:39] abrookbanks commented on #2344
This would need to come into new major version.

[2019-07-04 13:39] #2344 closed, assigned to nobody

[2019-07-05 14:12] havenswift-hosting commented on #2342
Since installing this latest release on a site approximately 50% of all payments done via Stripe are being duplicated - ie two payments are being taken at the same time.  Why some are only being taken once and some twice I have no idea but it has happened a large number of times so cannot be a coincidence and started happening immediately after the upgrade

[2019-07-08 12:13] sumwonlost opened #2345 "All In One Shipping - TAB bug"
Click Add Shipping Zone

BUG - All the TABS disappear.  If I choose not to proceed, I cannot go back to module.  I have to click Extensions -> Extension Name (plugin) to comeback to module.

[2019-07-16 04:02] bhsmither opened #2346 "Provided Method to be Used"
Trivial:

In catalogue.class.php, near line 1711, there is:
[code]
There is an existing method that can be used:
[code]

[2019-07-18 07:40] romanklabal opened #2347 "Update needed for SagePay module?"
SagePay has released information about PSD2 and 3D Secure v2 which takes place on September 14th 2019. Will you please be able to go through the tech specs and update the CC SagePay module if necessary?

More information:
https://www.sagepay.co.uk/support/12/36/3d-secure-explained

Technical guide:
https://www.sagepay.co.uk/library/document/directintegrationandprotocol4guidelinespdf

Thanks.

[2019-07-19 08:36] abrookbanks commented on #2347
No update needed. I've been in contact with them concerning this already. The payment pages are hosted by SagePay and are compliant.

Saying this we plan to build a new integration taking advantage of their hosted JS checkout shortly.

[2019-07-19 08:36] #2347 closed, assigned to abrookbanks

[2019-07-19 08:40] abrookbanks commented on #2346
Nice spot. There were two instances! :)

[2019-07-19 08:40] #2346 closed, assigned to abrookbanks

[2019-07-19 10:38] romanklabal commented on #2347
Awesome, thanks for the info Al.

[2019-07-20 00:42] sumwonlost commented on #2334
You could then go 1 step further.  Following on from last post, it can also send CubeCart the new Zone details (collected from stores) which would help build a comprehensive geo_zones and available to all.

We as a community build our own comprehensive geo_zones.

[2019-07-22 07:29] havenswift-hosting commented on #2342
Have you had chance to look into this issue - we had to downgrade both users that had been using the latest version due to huge numbers of duplicated (sometimes 2, 3 or 4 duplicated payments for the same order !)

[2019-07-22 11:02] abrookbanks commented on #2342
I'll have a look tomorrow. If you do find a pattern I'd be grateful.

[2019-07-23 09:01] abrookbanks commented on #2342
Is it possible to look at the logs in stripe for any clues?

[2019-07-23 09:19] abrookbanks commented on #2342
I was able to reproduce this. I believe it's just a simple matter of impatient customers submitting twice.

Code has been added to disable the "Make Payment" button showing "Please wait ..." instead.

I hope this solves this issue.

[2019-07-23 10:34] havenswift-hosting commented on #2342
OK excellent - I will try it out on the same two clients but judging by the fact that it was intermittent on both sites, that sounds like it was the cause - thanks !

[2019-07-23 10:50] abrookbanks commented on #2342
That's exactly what I thought. I was able to get the card charged twice too with the successive click.

[2019-07-23 10:50] #2342 closed, assigned to nobody

[2019-07-23 11:51] Noodleyman opened #2348 "FileManager - directory named 0 (zero)"
trying to setup a naming convetion, top level 0-9 and a-z based on product codes,  however a directory named "0" (zero) cannot be browsed via the FileManager

admin.php?_g=filemanager&subdir=0

I'm assuming because subdir=0 is evaluating to false somewhere. 0 as a directory name should be valid.

[2019-07-25 11:42] havenswift-hosting commented on #2336
The database may be able to hold IPv6 values but those arent being passed through to be stored and it is happening in every single store, not simply the specific client that was using eWay (that just highlighted the initial problem) - simply check the IP address field in the customer table and also against the newsletter subscriber history - always blank whenever a visitor is connecting from a IPv

[2019-07-28 03:55] bhsmither commented on #2348
I have not yet tried it, but in `filemanager.class.php`, `public function findDirectories()`:
If `$search_dir` is to be a string, possibly "0" then :
[code]

[2019-07-28 20:07] abrookbanks opened #2349 "Check $regexp and $regexp_desc not empty prior to executing search"
[code]

[2019-07-29 05:38] bhsmither commented on #2349
As of PHP 7.2, `count()` now returns `1` for arrays or objects that are not countable, and `0` for null.

See: https://forums.cubecart.com/topic/54973-what-does-this-php-warning-mean/

This also happens with no search terms found. See `catalogue.class.php` line 1922 when `$searchArray` did not get set.

No search terms can be true with (near) line 1823 (CC625) when searching for the keyword `0`:
[

[2019-07-31 10:21] abrookbanks commented on #2336
Cloudflair will return it under server variable HTTP_CF_CONNECTING_IP but there is also HTTP_X_FORWARDED_FOR which should probably be taken first. CubeCart checks for this so it should work.

Maybe you can add a script to the server with the code:

[code]

Then look for the variable name foe the IP V6 string.

[2019-07-31 11:53] abrookbanks commented on #2348
Thanks both!! :)

[2019-07-31 11:53] #2348 closed, assigned to abrookbanks

[2019-07-31 12:14] abrookbanks commented on #2345
Fixed with 1.0.15. Thanks.

[2019-07-31 12:14] #2345 closed, assigned to nobody

[2019-07-31 12:30] havenswift-hosting opened #2350 "Add Price Valid Until date to inventory"
It would be very useful to have a simple date field to store this information which can be used to indicate how long a sale price is valid until or even regular prices where these fluctuate

[2019-07-31 12:51] #2336 closed, assigned to abrookbanks

[2019-08-02 14:51] Dirty-Butter commented on #2336
I can concur that I've not seen IP addresses for some time now. Just assumed it was something I had done wrong :)

[2019-08-04 12:23] bos4711 opened #2351 "When manually creating an order, stock is not decreased for the selected items"
Before creating an order I had 10 in stock for item #1 and 20 for item #2. After adding 2pcs #1 and 1pc #2 into the order, and set it to "Complete", I still have 10 in stock for #1 and 20 in stock for #2.

[2019-08-05 10:06] abrookbanks commented on #2350
This is a good one thanks.

[2019-08-05 10:06] #2350 closed, assigned to abrookbanks

[2019-08-05 11:53] Noodleyman opened #2352 "Email Log needs filters."
The Email log is not very user friendly on large stores without the ability to use filters. requesting it be added in a future version.

[2019-08-05 12:15] #2352 closed, assigned to abrookbanks

[2019-08-05 12:42] Noodleyman opened #2353 "Email Log - script error"
If an email contains single quotes, for example "it's" then the script to open the email in the mail log does not work and throws a script error.

The existing smarty code escape function doesn't work.

statistics.emaillog.php
FIND:
`<a href="#" onclick="{literal}$.colorbox({title:'{/literal}{$log.subject|escape:'javascript'} ({$LANG.common.html}){literal}',width:'90%', height:'90%', html:'<iframe

[2019-08-06 08:22] abrookbanks commented on #2353
Thank you.

[2019-08-06 08:22] #2353 closed, assigned to abrookbanks

[2019-08-06 18:35] Dirty-Butter commented on #2289
I tried the new CKeditor version on a test site. Everything else seems OK except the actual editor box is missing in those places that use the CKeditor. The description, etc. is still seen on the store front. Of course, my store is not stock by any means. But I thought I had better let you know.

(I just checked, the Debug messages I reported are still there even with the old CKeditor, so I've del

[2019-08-06 19:59] Dirty-Butter commented on #2289
New CKeditor does not work properly for me in a stock install either.

[2019-08-07 01:52] bhsmither commented on #2289
From a fresh CC625 distribution, copy over the folder `/includes/ckeditor/plugins/showprotected/`.

It is missing as of today.

[2019-08-07 02:00] bhsmither commented on #2289
My experiment involved downloading CKEditor 4.12.1 directly from the CKEditor website, renaming the existing `ckeditor` folder to `ckeditor-4.5.7`, and copying into `/includes/` the new `ckeditor` folder.

Initial tests showed that CKEditor complained about a missing 'showprotected' reference. After copying over that plugin, all is good for me.

[2019-08-07 02:38] bhsmither commented on #2289
The "removing spaces" problem still exists, however.

[2019-08-07 07:50] abrookbanks commented on #2289
Good opportunity to update the 3rd party code. I've added protected source back before reinvestigating this issue.

[2019-08-07 08:11] abrookbanks commented on #2351
I can't reproduce this see http://static.cubecart.com/issue-2351.mp4

Maybe it needs to go to "Processing" first. Please try.

[2019-08-07 08:16] #2349 closed, assigned to abrookbanks

[2019-08-07 08:26] abrookbanks commented on #2282
Thanks Alec. Replaced with anon function in 2.0.1.

[2019-08-07 08:26] #2282 closed, assigned to abrookbanks

[2019-08-07 08:28] abrookbanks commented on #2135
Any sign on this since 6.2.5? If so there should be a better breakdown in the order summary table.

[2019-08-07 08:41] Noodleyman commented on #2135
the same example provided in my original ticket still behaves the same in 6.2.5. unless there is a mechanism added to control round up/down in these scenarios I don't think this will ever be resolved. both are technically correct based on tax rules and it becomes a per business accounting practice to which method is used.

[2019-08-07 08:55] abrookbanks commented on #2135
Yup. Thanks.

[2019-08-07 08:59] Noodleyman commented on #2135
I've not tested any of the other examples I've provided in the past. My assumption is we should never have more than a penny discrepancy overall, however this may be an incorrect assumption since tax is being calculated per line item and aggregated. As it is per line item, a control to round up/down per line item calculation may be required, and possibly a new field in the CubeCart_order_inventory

[2019-08-07 09:07] #2324 closed, assigned to abrookbanks

[2019-08-07 09:10] abrookbanks commented on #2334
These conditions wee designed for the front end.

True but then there is a good chance they can proceed though the checkout but get incorrect or no shipping. They will need to contact the store to get the state added and shipping configured accordingly.

There are some interesting points here but none that need attention in my opinion.

[2019-08-07 09:10] #2334 closed, assigned to nobody

[2019-08-07 09:12] abrookbanks commented on #2334
Nice idea. Ive though the same about translating CubeCart to other languages.

[2019-08-07 09:14] abrookbanks commented on #2312
I'm going to close this as the original developer is long gone from the CubeCart team.

The search needs a comprehensive rewrite.

[2019-08-07 09:14] #2312 closed, assigned to nobody

[2019-08-07 09:23] abrookbanks commented on #2311
Thanks this worked with removal of script tags in `postcodeanywhere.config.js` and removal of `/*` open comments. :)

Thanks so much.

[2019-08-07 09:25] #2311 closed, assigned to abrookbanks

[2019-08-07 09:25] abrookbanks commented on #2311
PostcodeAnywhere-1.0.2.zip published.

[2019-08-07 11:07] sumwonlost commented on #2334
Yes it currently works but what was the purpose of changing country statuses if they don't work as per settings as outlined?

The idea of adding new zones as outlined is to comprehensively build zones as to limit rubbish (misspelling and case/capitals).  Once it has been verified and enabled by Admin it appears in dropdown correctly and saved to db addresses correctly.  It is all about getting the

[2019-08-07 11:10] abrookbanks commented on #2334
It's for the front end not the back end. If you do not use a recent version of the Foundation skin then it might not be coded to use it.

Agreed but many merchants configure shipping by state and there wouldn't be appropriate shipping setup.

[2019-08-07 11:30] sumwonlost commented on #2334
I understand it is for front end as explained admin can firstly add new zone before adding address that uses the new zone.

When I find bugs using my skin, I go to my demo site and do all my testing with latest version of CubeCart using Foundation skin to confirm.  I can guarantee it is not working as outlined, however I will do a new install tonight and retest again.  Let you know tomorrow.

Conf

[2019-08-07 11:31] abrookbanks commented on #2334
OK let me know your findings. Please separate individual issues and feature requests.

[2019-08-07 14:16] Dirty-Butter opened #2354 "6.2.3.sql upgrade does not have ; #EOQ on line 9"
Currently
`ALTER TABLE `CubeCart_inventory` ADD `live_from` int(11) NOT NULL DEFAULT '0' AFTER `status`
ALTER TABLE `CubeCart_inventory` ADD INDEX (`live_from`); #EOQ`

[2019-08-07 17:06] bhsmither commented on #2354
It was removed here:
https://github.com/cubecart/v6/commit/897c1213d9a2e75894e38230911f09e8708565c0
for no apparent reason.

[2019-08-07 20:37] Dirty-Butter commented on #2354
So should the #EOQ be there? If not, how can I undo the query I ran when I added what I thought was a missing part - unless it won't hurt to leave it as-is.

[2019-08-07 21:00] bhsmither commented on #2354
The missing characters should be there.

I assume your store's are already at CC625? And for personal reasons, you are implementing changes, prior to an actual release, that you find in the Github which may eventually find their way into CC626?

[2019-08-07 21:52] Dirty-Butter commented on #2354
Several reasons - found this one bringing one of my test sites up even with the other one that was already on today's commit. I try to do the daily commit changes on the test and stock sites I have when I have time. It's easier to understand a few changes at a time, and I maybe learn a little. And MUCH easier to make decisions about whether or not any of my custom edits (mostly from you LOL) will

[2019-08-07 22:05] bhsmither commented on #2354
Having executed the offending statement, which also managed to include the following statement, thus making the whole thing a "syntax error" event as far as the database server is concerned, then neither of those two statements should have actually changed the database schema in any way.

So, if the store was already at CC623 or later, there should already be a column 'live_from' and an index 'liv

[2019-08-08 00:02] Dirty-Butter commented on #2354
I'm OK. That was a test store I had not taken the time to keep upgraded, so it was still on 6.2.2. Since I did fix it so it would execute, I should be alright.
I will never use that feature, so my live stores probably do not have that column. Will test them all ;)

[2019-08-08 08:11] bhsmither commented on #2354
All stores at CC625 should have that column. The use of that column is hard-coded and is expected to be there.

If not, CubeCart will log an error. But won't stop CubeCart from functioning.

[2019-08-08 11:50] Noodleyman opened #2355 "ID conflicts in admin area"
within the order Inventory tab, if a product has options the HTML input is assigned an ID for each option.

the naming of this is "option_X" with X being the option ID.

However, in the case of multiple products with the same option, the ID is duplicated, meaning any JS which may want to target based on ID could run into issues. ID's should be unique.

this needs to be revised:
`id="option_{$optio

[2019-08-08 12:55] bos4711 commented on #2351
Confirmed. If the order is left at "Pending" or "Processed", the stock is decreased. But if it's immediately set to "Complete" (which I did), stock is not decreased.

[2019-08-08 13:16] abrookbanks commented on #2351
Ok so we need to go to pending first then confirmed if its not been there before.

[2019-08-08 14:21] abrookbanks opened #2356 "Order Builder: Issue changing address after copying from billing"
But then on the delivery page, I clicked by mistake "copy from billing address". Not a big deal but in the following step, there is a bug. I need to correct my mistake by choosing the delivery address. I click on the predefined address, delivery address BUT the county and the country will not change. The system keeps the county and country of the billing although it should be the delivery's detail

[2019-08-08 15:23] Dirty-Butter opened #2357 "Estimate Shipping dropdown bug?"

[2019-08-08 15:26] Dirty-Butter commented on #2357
I use Enabled (State Disabled) for all countries that do not require State/Province. My dropdown when using the Estimate link still shows the standard boxes - Country, State, Zip.

If Countries/Zones is set to State Disabled, the drop down should abide by that setting just like the Checkout address blanks do.

Also, I've noticed in testing that I get a proper choice of International shipping and a

[2019-08-08 23:04] mmagalla commented on #2177
Can at least the Custom Order Id be displayed as   / Custom Order Id: xxxxxxx alongside the other order number as a temporary workaround?

[2019-08-08 23:11] mmagalla commented on #2177
Or can the  OrderId field and language text be hidden and the Custom Order Id  and its language text be visible. Kind of toggling the two values visibility but keeping the internal call with the order number?  Not super elegant but an easy workaround in my opinion.

[2019-08-09 07:59] abrookbanks opened #2358 "Module configuration changes don't show until page is refreshed"
As above. It reloads the previous data.

[2019-08-09 08:00] #2358 closed, assigned to abrookbanks

[2019-08-09 08:27] abrookbanks commented on #2354
Thank you.

[2019-08-09 08:27] #2354 closed, assigned to abrookbanks

[2019-08-09 08:53] abrookbanks commented on #2351
Can you check your store settings?  In the features section under "Misc" check for:

`Allow order "Processing" status to be skipped?`

This should be unchecked and that it works correctly.

[2019-08-09 11:14] abrookbanks commented on #2355
Thanks Alec.

[2019-08-09 11:14] #2355 closed, assigned to abrookbanks

[2019-08-10 11:01] bos4711 commented on #2351
That setting is, and has AFAIK always been, unchecked.

[2019-08-12 06:05] sumwonlost commented on #2334
I re-tested over weekend, yes the status part work correctly.

I will breakdown the remainder and submit them as Features

[2019-08-12 06:26] Noodleyman opened #2359 "County List script error"
`Uncaught SyntaxError: Unexpected token ;`

This can be thrown if you have a single country and that country is configured as "County Disabled". The JS side of things is not checking if this is a valid object or not and is assuming it will always exist and be populated, this is not the case.

resolved with:
[code]

I've not done a lot of validation with the above, it needs more validation and ther

[2019-08-12 06:44] Noodleyman opened #2360 "Add more units of measurement"
It's great that we now have UOM at the product level, however it's only as CM or INCH at the moment.

I'm seeing use cases for other UOM, such as millimetres, and meters to accommodate very small, and very large tangible goods.

The current values are hard coded into the admin theme, it would be useful to port this to a DB table where UOM can be configured, one record for each UOM and then populat

[2019-08-12 09:47] abrookbanks commented on #2360
Took me forever to work out what UOM was. :laughing:

Good shout BTW.

[2019-08-12 09:47] #2360 closed, assigned to nobody

[2019-08-12 10:02] abrookbanks commented on #2359
I'm leaving it as it is for fear of making bugs and upsetting external plugins but the naming convention is horrendous. What were we thinking!??

```var county_list = {$STATE_JSON};```

This should be;
```var state_list = {$STATE_JSON};```

[2019-08-12 10:04] abrookbanks commented on #2359
Thanks so much Alec.

[2019-08-12 10:04] #2359 closed, assigned to abrookbanks

[2019-08-12 10:33] abrookbanks opened #2361 "ACP Add Address - Country Select not alphabetical"

[2019-08-12 10:33] #2361 closed, assigned to abrookbanks

[2019-08-12 10:38] abrookbanks opened #2362 "ACP Order Builder Address - Country Select not alphabetical"

[2019-08-12 10:40] #2362 closed, assigned to abrookbanks

[2019-08-12 11:20] #2356 closed, assigned to abrookbanks

[2019-08-12 13:43] abrookbanks commented on #2357
Brilliant find Rosemary.

[2019-08-12 13:43] #2357 closed, assigned to abrookbanks

[2019-08-12 14:28] abrookbanks commented on #2291
This is fixed now. A feature request is needed to adjust the dynamic price based on quantity.

[2019-08-12 14:28] #2291 closed, assigned to abrookbanks

[2019-08-12 14:34] abrookbanks commented on #2144
I just don't now what to do about this. CubeCart v7 needs to work from auto increment ID with traditional order ID.

[2019-08-12 14:34] #2144 closed, assigned to nobody

[2019-08-12 14:46] abrookbanks commented on #2292
Great find thank you.

[2019-08-12 14:46] #2292 closed, assigned to abrookbanks

[2019-08-12 15:41] Dirty-Butter commented on #2357
Even a broken clock is right twice a day. Glad it was an easy fix. While I have you, take a look at my refinement of the Estimate link. Most countries are left to right, so moving the Estimate box to the left and changing the Estimate link wording is better IMHO.

![Screenshot_2019-08-12 https dirtybutter com](https://user-images.githubusercontent.com/6146505/62877889-9c79a680-bced-11e9-9d8d-4454a

[2019-08-12 16:31] abrookbanks commented on #2357
Ha. I like that saying. :)

Your changes look good. Maybe we can roll out something similar.  Thanks again.

[2019-08-12 16:34] abrookbanks commented on #2351
I'm sorry but I just can't reproduce this. When you change from pending to complete please have a look at the History tab of the order. It should show a change to Processing before Complete.

Maybe I need to look at this on your store.

[2019-08-12 16:34] #2351 closed, assigned to abrookbanks

[2019-08-12 16:36] abrookbanks opened #2363 "Remove "CubeCart" example social links"
Once in a while we get a fraudulent store run by crooks selling fake goods or not shipping anything at all. Links back to CubeCart become bad. They should be example links.

e.g. www.twitter.com/example

[2019-08-12 16:42] #2363 closed, assigned to abrookbanks

[2019-08-13 09:12] abrookbanks commented on #2331
Thanks Brian!! :)

[2019-08-13 09:12] #2331 closed, assigned to abrookbanks

[2019-08-13 09:16] abrookbanks commented on #2330
Thank again.

[2019-08-13 09:16] #2330 closed, assigned to abrookbanks

[2019-08-13 09:34] abrookbanks commented on #2295
Thanks guys! :)

[2019-08-13 09:34] #2295 closed, assigned to abrookbanks

[2019-08-13 10:58] ChrisNColeman opened #2364 "Catalogue Search Returns Incorrect Results .."
On line 1840 of catalogue.class -

`// Only look for items that are in stock
if (isset($search_data['inStock'])) {
$where[] = $this->outOfStockWhere();
}`
Creates an sql $whereString on line 1845 -> AND `live_from` < UNIX_TIMESTAMP()  AND `live_from` < UNIX_TIMESTAMP(), which probably works but is incorrect because it returns out of stock products even when you don't want them (ie. selected _in st

[2019-08-13 11:01] ChrisNColeman commented on #2364
Actually better like this-

`// Only look for items that are in stock, except if admin. -
 if (!(Admin::getInstance()->is() || !(isset($search_data['inStock']) || $GLOBALS['config']->get('config', 'hide_out_of_stock')) )) {
                $where[] = ' AND `STOCK_LEVEL` > 0';
            }`

[2019-08-13 14:12] #2294 closed, assigned to abrookbanks

[2019-08-13 15:20] ChrisNColeman commented on #2364
Sorry the above is fundamentally incorrect - Please ignore for now !

[2019-08-13 15:42] #2258 closed, assigned to abrookbanks

[2019-08-13 15:44] abrookbanks commented on #2364
Please see: https://github.com/cubecart/v6/issues/2320

This issue should be resolved at latest build.

[2019-08-14 08:37] #2364 closed, assigned to abrookbanks

[2019-08-14 09:42] abrookbanks commented on #2285
Maybe we need to retire FCKEditor and use a different solution. It's never worked for us with macros.

[2019-08-14 09:42] #2285 closed, assigned to nobody

[2019-08-14 09:43] abrookbanks commented on #2289
Maybe we need to retire FCKEditor and use a different solution. It's never worked for us with macros.

I just don't know what to do about this and other reported issues around this. The protected source plugin is extensive and I'm not able to take on its development.

[2019-08-14 09:43] #2289 closed, assigned to abrookbanks

[2019-08-14 09:44] #2135 closed, assigned to nobody

[2019-08-14 09:59] abrookbanks commented on #2277
The existing calls to setGhostId may no longer be needed but harmless keeping to avoid the risk of creating bugs.

[2019-08-14 09:59] #2277 closed, assigned to abrookbanks

[2019-08-14 12:02] abrookbanks commented on #2304
Right now stock is checked after product option combination is submit. It would be better to show options first agreed but this gets complex with many option groups.

I have to put this down as a feature request.

[2019-08-14 12:02] #2304 closed, assigned to nobody

[2019-08-14 12:05] abrookbanks commented on #2210
Due to tax inclusive prices there can on some occasions be a 0.01 discrepancy. It's been revisited 101 times now and always raises its head.

The tax system need another complete rewrite and products should always be entered excluding tax. Closing for now. Major version update required.

[2019-08-14 12:05] #2210 closed, assigned to nobody

[2019-08-14 12:29] abrookbanks commented on #2272
I can't really see a solution to this. Google don't seem to have an API to update the status other than via their JS library.

[2019-08-14 12:29] #2272 closed, assigned to nobody

[2019-08-14 12:51] abrookbanks commented on #2272
Note added to POF extension page and Bank Transfer

[2019-08-14 13:18] #2175 closed, assigned to nobody

[2019-08-14 15:54] Dirty-Butter commented on #2289
I was attempting to find some place in the CKeditor config or some such place that showed the version number, so I would not get the old and new confused with each other. I noticed there is a list of plugins in build-config.js and the showprotected is not in that list. Should it be added? Does that have anything at all to do with whether or not the features of that plugin are available to CC?

[2019-08-14 19:47] bhsmither commented on #2289
One can custom-build a package of CKEditor. In doing so, the list of functions (standard plugins) are enumerated in that file. Even so, a pre-built "full" package will still enumerate all plugins included for that package. This does not interfere with adding third-party plugins.

Look for a question mark on the bottom row of the editor toolbars.

[2019-08-14 19:50] bhsmither commented on #2289
In the CKEditor folder, find a file CHANGES.md.

There is also a clue in the file ckeditor.js, line 5, column 170.

[2019-08-16 02:24] bhsmither opened #2365 "CKEditor to Use Placeholder Plugin"
Re: #2289 and #2285

Suggest dropping ProtectedSource and ShowProtected, and using Placeholder.

https://ckeditor.com/cke4/addon/placeholder

Initial tests with CKEditor 4.12.1 show promise.

It is necessary to make a few edits in the Placeholder plugin.js file to replace instances of `[[x]]` to `{x}` - 5 lines.

[2019-08-16 09:25] abrookbanks commented on #2365
I too and getting positive results. Other sections to convert before this ticket is closed.

[2019-08-16 09:25] abrookbanks commented on #2365
Closed by accident.

[2019-08-16 13:30] abrookbanks commented on #2365
Reverted to attempt to change format.

I'm struggling to reformat `validNameRegex = /^[^\[\]<>]+$/;` in the placeholder.js file.

[2019-08-16 14:53] bhsmither commented on #2365
Line 39:
[code]
Line 42:
[code]
Line 47:
[code]
Line 51:
[code]
Line 68:
[code]

[2019-08-16 14:55] abrookbanks commented on #2365
Thanks for this.
[code]

I think it works now. Let's replace the yellow hi-light however.

[2019-08-16 14:57] abrookbanks commented on #2365
![Screenshot 2019-08-16 at 15 56 58](https://user-images.githubusercontent.com/4520803/63176795-83029280-c03e-11e9-8838-d9a49ef49f6c.png)

[2019-08-16 15:08] abrookbanks opened #2366 "Tidy CKEditor Toolbar"
Remove buttons like save, print and flash etc..

[2019-08-16 15:08] #2366 closed, assigned to abrookbanks

[2019-08-16 15:09] abrookbanks commented on #2365
It's working well. Thanks for sharing this Brian. It's much better too.

[2019-08-16 15:09] #2365 closed, assigned to abrookbanks

[2019-08-16 15:16] bhsmither commented on #2365
Placeholder download panel says Line Utilities is a dependency. I installed it, but do not know if it is actually needed.
https://ckeditor.com/cke4/addon/lineutils

CKEditor's config.js:
[code]
Unfortunately, still require `{foreach}` etc in HTML coments. Otherwise, CKEditor will still insist on correcting their placement in between `<ul>` and `<li>` tags.

[2019-08-16 15:20] bhsmither commented on #2365
Might need to edit the dialog code to add:
[code]

[2019-08-16 15:22] abrookbanks commented on #2365
Yes it seems to work without the dependancy.

[2019-08-16 15:27] bhsmither commented on #2365
Personally, I would not comment out the entire `onLoad()` function. I do nor know how javascript would handle a missing method.

Maybe style it differently? A rounded ridge border with a light-grey background, perhaps?

[2019-08-16 15:53] abrookbanks commented on #2365
Really pleased with this. Thanks again Brian.

We should be due 6.2.6 early next week.

[2019-08-16 17:37] bhsmither commented on #2365
I just saw in the language file:
[code]
I can understand the illegal use of brackets - which should no longer be necessary - but angles?

I think the reason for illegal angles need to be discovered and dealt with. Angle characters will be necessary for Smarty code - as well as brackets - and this phrase should now mention braces as being illegal.

[2019-08-17 00:44] bhsmither opened #2367 "CKEditor Placeholders are not Protected or Ignored"
Regarding #2365

Really... what did this actually attempt to solve? Placeholders for what? A placeholder is a 'widget', but offers no direct benefit to us because each 'widget' would be a single Smarty phrase. Thus, CKEditor is free to muck about with it in relation to it's placement in HTML code and the enforcement of code completeness and DOM structure.

Did we not just find ourselves back at sq

[2019-08-17 04:29] bhsmither commented on #2367
It has been said by one of the CKEditor programmers:
"But that means that you are overusing CKEditor. It's a text editor, not a code editor. I understand that it's easy to put some non-HTML markup into the editor, but that does not mean it's the right way of doing things."

So, maybe another editor?

Or lower our expectations?

[2019-08-19 07:29] abrookbanks commented on #2367
Replace with ACE Editor probably the best solution.

[2019-08-19 11:33] JonathanFullCircles opened #2368 "saveAddress Hash check not limited to current customer"
In the user class, the saveAddress function runs a hash comparison to see if the address already exists. This isn't customer id limited however, so can lead to it altering the address in another customers login, which could be an issue if multiple company employees deliver to the same address, as it just won't add the address to the new login

Recommended change Line 938:

`if ($result = $GLOBALS[

[2019-08-19 14:34] abrookbanks commented on #2368
Great find thank you.

[2019-08-19 14:34] #2368 closed, assigned to abrookbanks

[2019-08-19 14:37] bhsmither commented on #2367
Is that the PHP Code Snippet editor? If so, I have issues with it regarding where the text insertion cursor appears to be blinking and between what characters the cursor is actually at. (Might be something I did.)

[2019-08-19 14:39] abrookbanks commented on #2367
Yes. And I also have that issue. It's actually a common issue but no fixes I have tried have worked.

[2019-08-19 14:39] abrookbanks commented on #2367
.. the suggestions seems to be to change the font but I haven't seen a difference.

[2019-08-19 15:54] bhsmither commented on #2367
Were you suggesting replacing a WYSIWYG editor with a code editor?

[2019-08-19 16:00] abrookbanks commented on #2367
If its the only solid solution but merchants will hate it. The new Placeholder seems to work ok for me. Have you reproduced a bug with it?

[2019-08-19 16:07] bhsmither commented on #2367
My experiments with
[code]
did not give acceptable results. CKEditor wants to make paragraphs of each line.

[2019-08-19 16:07] bhsmither commented on #2367
https://github.com/JefMari/awesome-wysiwyg

[2019-08-19 16:09] abrookbanks commented on #2367
I wonder if changing:
https://github.com/cubecart/v6/blob/6.2.0-branch/includes/ckeditor/plugins/placeholder/dialogs/placeholder.js#L17

To `validNameRegex = /^[^\{\}]+$/;` would help.

[2019-08-19 16:18] abrookbanks commented on #2367
It fails with:

<p>{if $i < 5.5}</p>

<p>less than 5.5</p>

<p>{else}</p>

<p>More than 5.5</p>

<p>{/if}</p>

:(

[2019-08-19 16:18] #2367 closed, assigned to nobody

[2019-08-21 08:24] abrookbanks opened #2369 "Exit Modal for Newsletter Signup"
![Screenshot 2019-08-21 at 09 23 50](https://user-images.githubusercontent.com/4520803/63415283-688d3800-c3f5-11e9-8b86-38c1d4c5e4c9.png)

[2019-08-21 08:31] #2369 closed, assigned to abrookbanks

[2019-08-21 08:31] abrookbanks opened #2370 "Drop meta keyword support"
This is widely recognised as being irrelevant in 2019.

[2019-08-21 08:36] #2370 closed, assigned to abrookbanks

[2019-08-21 08:44] abrookbanks opened #2371 "Recommend specific inventory metadata in preference to global merge"
As above.

[2019-08-21 08:48] abrookbanks commented on #2371
![Screenshot 2019-08-21 at 09 48 03](https://user-images.githubusercontent.com/4520803/63417237-cb340300-c3f8-11e9-8c54-ac8e3f768dcb.png)

[2019-08-21 08:49] #2371 closed, assigned to abrookbanks

[2019-08-21 08:50] abrookbanks commented on #2370
Honestly I feel like I have just emptied the loft or something. LOL

Great feeling. Haha.

[2019-08-21 09:22] havenswift-hosting commented on #2369
Nice addition

[2019-08-21 09:24] havenswift-hosting commented on #2350
You added this to the 6.2.6 milestone - are you going to be able to add it before release ?

[2019-08-21 09:25] abrookbanks commented on #2350
Thanks for pointing out. I've removed it for now. Another silly mistake.

[2019-08-21 09:27] havenswift-hosting commented on #2350
lol - that isnt what I meant !  Should be easy to add one extra date field please and would prove really useful for quite a few people

[2019-08-21 09:28] abrookbanks commented on #2350
Haha. OK I'll see what I can do. Big push now especially as SCA has eased off. CC needs hit of energy.

[2019-08-21 09:43] havenswift-hosting commented on #2350
Thanks - would appreciate it

You have to be a bit careful with that - it is only at this stage the FCA that is doing this and even then, their statement says

"The FCA will not take enforcement action against firms if they do not meet the relevant requirements for SCA from 14 September 2019 in areas covered by the agreed plan, where there is evidence that they have taken the necessary steps to co

[2019-08-21 10:05] abrookbanks commented on #1671
7d772edcc02243c9a0b2d8e9bfab99d534fdbafd

[2019-08-21 15:37] bhsmither commented on #2370
Downvote.

I would have removed (comment out) the Smarty variable from the skin. Add `(Deprecated)` to the field labels. Update the help pages.

Even if having removed the Smarty variable from the packaged skin - meaning others who really, really want to have it on their site are able to simply add the HTML code - I would re-purpose the data item by adding it to the fulltext index.

[2019-08-21 15:40] abrookbanks commented on #2370
Are you using it for something bespoke?

[2019-08-21 16:27] abrookbanks commented on #2370
It's more than depreciated. It's defunct right?

[2019-08-21 16:47] havenswift-hosting commented on #2370
Yes, none of the big search engines use them at all for any reason and havent done in 6 to 8 years - they were too easy to key stuff

[2019-08-21 17:13] havenswift-hosting commented on #2370
This is what DB has in her store to add keyword variations to the search.  As per my forum reply, a good addition to search but shouldnt have been using the meta keywords.  Done properly, it would be very useful to add this information "Search Keywords" to each product and as you said, add it to the fulltext index

[2019-08-21 20:44] bhsmither commented on #2370
The `<meta name="keywords">` tag is not illegal. I have not come across any mention of an RFC that repeals its legitimacy - and thus would then crash web browsers trying to parse it (that will never happen). There is a strategy for not having it in a competitive SER fight.

So, I suppose a better word is "ignored" by the few most used search engines (as opposed to deprecated), but could be useful

[2019-08-21 21:22] havenswift-hosting commented on #2370
It was announced by Matt Cutts at Google more than ten years ago that Google no longer used meta keywords and while they dont view the use of these as a spam signal (ie penalize pages that use them) there are strong signals that Bing do and rank site pages lower if they are used.  Even if Google don’t penalize their use, including them in CubeCart gives the impression they are important which is a

[2019-08-21 23:37] bhsmither opened #2372 "Download Links"
In an email, the download link is derived at order.class.php near line 1049 and 1052.

Note the use of:
[code]
This config value is also used in the following classes: admin, seo, ssl, and user.

In admin settings.index.inc.php, a comment is made at line 184 implying that the config key 'ssl_url' is maintained for backward compatibility and is an old value. (CC615 is where I also noticed this.)

I

[2019-08-22 14:46] abrookbanks commented on #2370
I still can't see any reason to keep it.

[2019-08-22 14:47] abrookbanks commented on #2370
Why repurpose to full index? I'm lost there.

[2019-08-22 14:47] abrookbanks commented on #2370
Totally agree. It's complex enough as it is.

[2019-08-22 15:41] havenswift-hosting commented on #2370
Rosemary mentioned her use of this field but in a forum thread.  She enters different spelling variations for product specific keywords (not something you would want to do within the description which is visible on the site) so for example Carter, Carters, Carter's - this greatly helps customers when searching for a product when they wont necessarily enter exactly as the store owner does

[2019-08-22 15:44] abrookbanks commented on #2370
Can't they do in the description as a comment?

``

[2019-08-22 15:52] abrookbanks commented on #2370
.. not as good as a specific column I'm sure.

[2019-08-25 15:46] Dirty-Butter commented on #2369
What triggers this? I have popups allowed on dirtybutterestates.com on the current commit. I have not seen this. I am NOT logged in to admi.

OK, I found it. When I moved the curser up to the browser near my bookmarks it popped up. But it only does it once.

[2019-08-28 12:46] #2372 closed, assigned to abrookbanks

[2019-08-28 21:02] Dirty-Butter commented on #2370
I worked it out. Renamed meta_keywords to search_keywords and re-worked places in code to reference it. All references to meta_keywords are gone, per new commits, and search is working properly. I have some keyword inconsistency, but that's my fault - not the code.

I tried it as a separate tab on the Products, but changed my mind and put the search_keywords box back where it had been in the Searc

[2019-08-28 21:58] Dirty-Butter commented on #2336
Is this what an IPv6 IP address should look like?
2600:6c64:5180:909:f4e8:7d8d:b6a0:3caa

[2019-08-28 22:09] havenswift-hosting commented on #2336
Yes that is an IPv6 address

[2019-08-28 22:22] havenswift-hosting commented on #2370
DB - might be worthwhile documenting the changes to core to add this as a feature and ask for it to be added as a new feature - I think it is worthy of being added

[2019-08-29 01:00] Dirty-Butter commented on #2370
OK - will get a list made.

[2019-08-29 02:52] Dirty-Butter commented on #2370
Easier said than done. I know what I did, but I'm not sure I know how to write it down for other people to use. sorry

[2019-08-29 15:15] Dirty-Butter opened #2373 "Feature Request - Custom Search Index based on old Meta Keywords and Bsmither Custom Search"
Bsmither helped me develop a Search that works better for our products than the stock CC code. See https://forums.cubecart.com/topic/54048-php-725/?do=findComment&comment=234425

I have now modified my current commit 6.2.6 to use this code by renaming inventory meta_keywords table to search_keywords. **Attached is my new catalogue.class.php file.**
[catalogue.class.txt](https://github.com/cubecart

[2019-08-29 15:21] Dirty-Butter commented on #2370
Well, I tried. I've added the Feature Request.

[2019-08-30 13:20] Malvarlin opened #2374 "Store Settings - disable mobile skin"
Whenever I try to deselect 'disable mobile skin' in store settings, it turns back on after clicking save?

[2019-08-30 18:32] Dirty-Butter commented on #2374
What skin are you using?

[2019-08-30 19:01] Malvarlin commented on #2374
Custom foundation 5 skin, that said, the test store I also have no longer has this option at all, possibly its a glitch between versions?  Especially as I now have the mobile version of foundation 5 working as well, without unchecking the box

[2019-08-30 19:34] Dirty-Butter commented on #2374
That's a SemperFi skin isn't it? I think you need to ask on the forum instead of here.

[2019-08-30 22:33] bhsmither opened #2375 "Syntax Error"
Trivial:
cubecart.class.php, line 1524, missing right angle in string.

[2019-09-01 19:10] Dirty-Butter commented on #2373
I edited the last change above, as I just realized I had overwritten part of that code when I tried to attach the catalogue.class file.

[2019-09-02 08:45] abrookbanks commented on #2375
Pleased it is trivial issue and not a block! :)

[2019-09-02 08:47] #2375 closed, assigned to abrookbanks

[2019-09-03 14:16] #2374 closed, assigned to nobody

[2019-09-05 04:42] bhsmither opened #2376 "Sale Items Indication is False Negative"
See: https://forums.cubecart.com/topic/55227-sale-setting-issues/

In the template box.sale_items.php, the test
```{if empty($product.sale_price)}```
will always be false because `sale_price` arrives with a currency symbol.

[2019-09-06 11:58] Noodleyman commented on #1362
@abrookbanks , I know this has been available for quite a while, however I keep finding people request this feature. the only option is to add it to the existing shipping method, however that gets lost when the module is updated. Can this setting be added to the existing shipping modules supplied by CubeCart to prevent this? seems odd having the functionality there but not being used

[2019-09-06 16:33] lamrith opened #2377 "Promotional codes not working"
I have not changed or updated anything on my website, but suddenly now my promotional codes are not working at all.  I have a code that has been used repeatedly and unlimited usage set. Now it is not working and saying that the code does not exist.
I have tried changing the name in case it was a syntax issue.
I have created new codes and copy/pasted the code but they still do not work.

![image](h

[2019-09-06 18:55] bhsmither commented on #2377
None of any of your codes?

If possible, please describe one of your codes, such as the following example:
Three or four uppercase letters,
then a dash,
then four to six numbers.

There was a change in CC626 (from CC625) to the pattern used to make sure there were no funny characters in the user-submitted sequence of characters.

[2019-09-06 20:18] bhsmither commented on #2308
I believe that the intended comment is:
"Strict P**C**RE2 support in PHP 7.3"

[2019-09-06 23:21] bhsmither opened #2378 "Updating Country / Zone May be False Positive"
In settings.geo.inc.php, when iterating across `$_POST['country']` or `$_POST['zone']` arrays, **any** successful (rather, factually, no error) iteration will make the entire array show as a success.

[2019-09-07 00:19] lamrith commented on #2377
Not a single code I have tried has worked and they are all very simple.
for example here are 3 of them.  The last one I created right before posting so it was a fresh entry in the dB in case there was some previous corruption.
bulk200
MIL5
bulk

Here are details on my install..  I am not on 6.2.5 or 6.2.6
CubeCart Version
6.2.2
PHP Version (5.6 Recommended)
7.3.9
MySQL Version
5.7.23-23
Image fold

[2019-09-07 06:12] bhsmither commented on #2377
PHP 7.3 has a new REGEX library called PCRE2. This library is very much more strict in what was otherwise somewhat lenient.

Because of PHP 7.3's PCRE2 library, **all** CubeCart installations prior to CC626 running under PHP 7.3 and later will need to implement the code changes found in issue #2308. There are two links to code changes for a total of four files edited.

It's not a case of your code

[2019-09-07 15:10] lamrith commented on #2377
BINGO!  That fixed it.  Thanks again!

[2019-09-07 15:10] #2377 closed, assigned to nobody

[2019-09-09 09:41] abrookbanks opened #2379 "Cheapest shipping option may not be preselected"

[2019-09-09 09:42] #2379 closed, assigned to abrookbanks

[2019-09-10 13:00] Noodleyman opened #2380 "Memcached - Error when enabled?"
Maybe I am missing something config wise here, but following the support article, enabling memcached CubeCart throws a class not found error.

CubeCart 6.2.5

Article:
https://support.cubecart.com/Knowledgebase/Article/View/235/41/how-do-i-enable-apc-memcached-redis-or-xcache

Fatal error: Uncaught Error: Class 'memcached' not found in /var/www/vhosts/####/httpdocs/classes/cache/memcached.class.ph

[2019-09-10 13:07] havenswift-hosting commented on #2380
Memcached works perfectly and use it on most of our client sites - you dont need the memcached_servers entry in the global file unless you are using an external memcached server

Are you sure that you have memcached PHP library installed and not just the memcache one ?

[2019-09-10 13:15] Noodleyman commented on #2380
hmm, that might be the issue. will check into it. not set this one up before so on a learning curve :)

[2019-09-10 13:19] havenswift-hosting commented on #2380
If you have shell access then try

php -m | grep memcache

[2019-09-11 10:15] abrookbanks commented on #2380
Yeah its working perfectly on CubeCart Hosted too. Sounds like a local issue. Hope you get it fixed.

[2019-09-11 10:15] #2380 closed, assigned to nobody

[2019-09-11 10:17] abrookbanks opened #2381 "Add webp support GD->imagewebp"
I'm seeing this more and more. Especially merchants who take images from Google image search.

[2019-09-11 10:31] #2381 closed, assigned to abrookbanks

[2019-09-11 10:32] abrookbanks commented on #2381
Typo in issue id. See commit 902e1b34634a776e618ebb7fecdf03b85d703256

[2019-09-11 10:35] abrookbanks commented on #2381
Surprisingly easy that one and works a treat.

[2019-09-11 10:58] Noodleyman opened #2382 "Upgrader issue with memory caching.."
Unrelated to my other memory cache ticket this week. Had this come to me as an issue from a customer.

Their store uses FILE cache, and FILE cache is defined in the global.inc.php file. trying to upgrade the store to the latest release, but the SETUP process fails to load with error:

Fatal error: session_start(): Failed to initialize storage module: memcache (path: /var/sites/w/####/public_html/_

[2019-09-11 11:05] Noodleyman commented on #2382
root cause is ini-custom.inc.php where session_save_path is defined to a directory (since CubeCart uses file cache)

However, the setup process is making use of the default session handling on the server which is configured to use memcache.

memcache with a file path is invalid. I think there needs to be an improvement in the installer to catch this condition and handle accordingly.

[2019-09-12 09:31] abrookbanks commented on #2382
CubeCart doesn't use memcache for session storage AFAIK.

[2019-09-12 09:32] Noodleyman commented on #2382
exactly, which caused a conflict with configuration and made the installer non functional

[2019-09-12 09:33] abrookbanks commented on #2382
I don't know what to suggest here. I have 101 customer stores using memcached and never seen this issue on upgrade.

[2019-09-12 09:34] Noodleyman commented on #2382
it is an edge case :)

If the web server itself handles sessions in memory, but the store is using file cache you get this issue.

[2019-09-12 09:35] abrookbanks commented on #2382
You are probably in a better situation to find a solution than me.

[2019-09-12 09:39] Noodleyman commented on #2382
checking some PHP config as part of setup should be enough.

if session.save_handler != files, and session.save_path has a valid file system  path (which came from the ini file) it will break. simply removing the file path should be enough via ini_set

[2019-09-13 08:28] abrookbanks commented on #2382
Makes sense. Did it work and if so can you share your code changes?

[2019-09-13 08:29] Noodleyman commented on #2382
I didn't have time to write a patch so as a work around I removed the session directory path from the ini file so I could run the upgrade, then put it back once done.

[2019-09-13 08:59] abrookbanks commented on #2382
Ok got it. This is very much an edge case as you suggested so I think we can keep this as a thing to watch out for.

[2019-09-13 09:01] havenswift-hosting commented on #2382
Using memcache for session handling is becoming far more common because it is just so much better than file handling so not sure how much of an edge case it will be.  Also a better solution would be to add memcache session handling to CubeCart - should be relatively simple ?

[2019-09-13 09:05] abrookbanks commented on #2382
Yeh it would be better. Maybe we can reference this in the feature request about that. CubeCart hosted uses Memcached so I'm keen.

[2019-09-16 07:52] abrookbanks commented on #2382
There is no session directory path in the ini file. Did you mean global.inc.php file?

[2019-09-16 08:59] Noodleyman commented on #2382
it's an option you can add (and CubeCart recommends it) in some cases when there are session path issues on the server.

session.class.php,
[code]

[2019-09-16 10:39] abrookbanks commented on #2382
This isn't in any recent version is it??

[2019-09-16 10:50] Noodleyman commented on #2382
Code copy/paste from 6.2.2, so not too old. However, there are stores out there which followed the advice from earlier versions if seeing a session path issue and will have it configured.

[2019-09-16 10:51] abrookbanks commented on #2382
It's gone since then so especially as this is such an edge case it's unlikely to raise affect a significant amount of merchants (if any).

[2019-09-17 19:12] bhsmither opened #2383 "HTML Commented Smarty Tags"
There is code to add HTML comments around certain Smarty tags (documents.email.inc.php line 505) so that CKEditor will leave them alone.
[code]
However, on POSTing back, HTML comment markers are indiscriminately removed (line 363).

There may be the case the admin actually wants to have HTML comments in the email content.

[2019-09-18 20:38] Dirty-Butter opened #2384 "Gigantic cookie_consent table"
With a lot of help from Ian I moved our store from dirtybutter to plushmemories. I was surprised to see how much larger the old database was than the new one. It's the cookie_consent table that is gigantic (well over a million entries) in the old store. Several other log tables are also much larger on the original database. Even though all the necessary data appears to have copied correctly, the o

[2019-09-19 06:48] unviva opened #2385 "request - cart update as a seperate submit"
![update-cart-required](https://user-images.githubusercontent.com/27769339/65219992-769caa00-dac2-11e9-9507-f40611e1a1ce.png)

For visitors not logged in, update basket button doesn't work as expected due to required fields. I believe they should be able to update cart even they are not registered/logged in yet.

[2019-09-23 09:43] abrookbanks opened #2386 "County in status ambiguous to Country/Zone change to Zone"

[2019-09-23 09:43] #2386 closed, assigned to abrookbanks

[2019-09-24 15:58] abrookbanks opened #2387 "Items removed from basket when use_stock_level = 0"
https://github.com/cubecart/v6/blob/6.2.0-branch/classes/cart.class.php#L1154

Replace with:
[code]

Testing required.

[2019-09-26 13:56] Dirty-Butter opened #2388 "Disabled Customer was Able to Order - bug?"
See https://forums.cubecart.com/topic/55293-disabled-customer-still-ordered/

[2019-09-27 15:47] Dirty-Butter commented on #2388
It would be helpful if the admin had an easy option or automatic process to unsubscribe a disabled customer from the newsletter subscriptions.

[2019-09-27 15:48] Dirty-Butter commented on #2387
Are you satisfied with this one or still testing?

[2019-09-27 15:49] abrookbanks commented on #2387
happy :)

[2019-09-27 15:49] #2387 closed, assigned to abrookbanks

[2019-09-27 15:55] Dirty-Butter commented on #2387
thanks

[2019-09-29 18:07] bhsmither commented on #2378
Also, `$_POST['multi_country_action']` will always be set. Then, `$_POST['multi-country']` might not exist. And then PHP 7 will object to counting a non-countable object.

`empty()` will be true when a variable does not exist. Suggest lines 22-23 to be:
[code]

[2019-09-29 18:39] bhsmither opened #2389 "Unset Variable in foreach()"
In ajax.class.php, line 169, the return could set `$dir` to *null*. Then, `$dir` as the key to the array `$dirs` will be cast to a -zls-.

Anyway, if the top folder has no sub-folders, `$dirs[-zls-]` should be *false*.

PHP will complain about the following `foreach()`.

[2019-09-30 21:48] bhsmither opened #2390 "Incomplete Breadcrumb"
In categories.index.inc.php, line 323, a call to `GUI->addBreadcrumb()` is missing the additional parameters that will return a link that points to this category.

Suggest:
[code]

[2019-10-02 06:42] Crysties opened #2391 "AIOS Edit delets Shipping Rates"
Supposedly Edit issue was fixed in AIOS GH issue #365 but I dowloaded 1.0.15 (20190930) and when I Edit Shipping Rates it deletes previous rate setup and I have to re-enter the whole setup again.  Using CC 6.2.6

[2019-10-05 22:26] bhsmither opened #2392 "Bulk Import Tool Tax Class to be Named"
In reviewing this KB article (https://support.cubecart.com/Knowledgebase/Article/View/32/41/how-do-i-use-the-bulk-product-import-tool), I see that the Master Category ID column can contain text and the named category will be created if not found.

Suggest that Tax Class ID follow this capability.

[2019-10-07 09:42] abrookbanks commented on #2391
I think this is an issue with the server config value for "max_input_vars".

[2019-10-07 10:43] Noodleyman opened #2393 "MPN field length - increase to 70 characters"
Most platforms accept an MPN up to 70 characters (For example, google feeds etc)

CubeCart has a 20 character limit.

I've had to change this on a few stores as they have had MPN > 20. Can this be changed in CubeCart itself rather than a modification so we can support the widely adopted 70 character limit?

[2019-10-07 18:06] Crysties commented on #2391
So what does this mean for me.  Let's get my website moved to CC.  Hopefully all will clear up.  Rosalyn Rich
Crysties Gifts - Cowboy,  American and Fine Art
http://crystiesgifts.com
530-214-8447

---------- Original Message ----------
From: Al Brookbanks <notifications@github.com>
To: cubecart/v6 <v6@noreply.github.com>
Cc: Roz <crystiesgifts@juno.com>,  Author <author@noreply.github.com>
Subject

[2019-10-08 09:12] havenswift-hosting opened #2394 "Google AdWords plugin on PHP7.3"
Ref : https://github.com/cubecart/v6/issues/2282 - one more instance of error in CubeCart error table

[<strong>Deprecated</strong>] /home/XXXXXXXX/public_html/modules/plugins/Google_Adwords/hooks/class.gui.javascripts.php:37 - Function create_function() is deprecated

[2019-10-08 10:24] abrookbanks opened #2395 "Catalogue->imagePath method doesn't handle missing images fully"

[2019-10-08 10:25] #2395 closed, assigned to abrookbanks

[2019-10-08 14:56] bhsmither opened #2396 "Bulk Import Tool KB to be Clarified"
In https://support.cubecart.com/Knowledgebase/Article/View/32/41/how-do-i-use-the-bulk-product-import-tool, the example for Condition is shown as "New".

Relative to the code that prepends `condition_` to the database value, to have the appropriate key word into the language pack, suggest the example be these specific keys: `new`, `used`, `refurbished`, with a note that they must be lowercase (or

[2019-10-09 11:41] abrookbanks opened #2397 "Search Manufacturer"

[2019-10-09 13:42] #2397 closed, assigned to abrookbanks

[2019-10-09 13:43] abrookbanks opened #2398 "If cache method != file clearing cache doesn't delete minified css and js"
As above.

[2019-10-12 01:53] bhsmither opened #2399 "Misleading Debug Info"
This query could appear in debug during the RLIKE phase:

[25] SELECT I.* FROM CubeCart_inventory AS I LEFT JOIN (SELECT product_id, MAX(price) as price, MAX(sale_price) as sale_price FROM CubeCart_pricing_group WHERE group_id = 0 GROUP BY product_id) as G ON G.product_id = I.product_id WHERE I.product_id IN (SELECT product_id FROM `CubeCart_category_index` as CI INNER JOIN CubeCart_category as C

[2019-10-12 02:14] Dirty-Butter commented on #2395
I had a problem with this code change on a test site. I wanted the data to mirror my current live site, so I dropped all the tables that pertain to images, inventory, sales, and anything else that had changed since I first created the cloned site. When I copied over all those tables from the live to the test, none of the images would show - even though they are in the source folder. I double check

[2019-10-12 03:22] bhsmither commented on #2395
At line 1451, `$source` is referenced before it is ever set with a value. Thus, the test will always be false.

[2019-10-12 18:08] havenswift-hosting commented on #2089
I completely agree - this caught me out again today - any password with a special character in cannot be used in the SMTP settings - accepts it but validation fails

[2019-10-14 10:23] havenswift-hosting opened #2400 "Setting to disable gravatar lookup"
For sites that have reviews, it automatically tries to do a gravatar lookup which is problematic for a couple of reasons

1) If there is a problem with the gravatar website then calls to this site result in any product page having reviews timing out

2) Not all store owners want to display gravatar images even if they have reviews

[2019-10-14 16:21] havenswift-hosting commented on #2400
Multiple sites that are displaying reviews on product pages are having problems with this today - the connection is not made to gravatar and so the page times out

PHP Warning: get_headers(https://www.gravatar.com/avatar/cb62d177c14ca1dd6ad49f3c016304cc?d=404&r=g) [<a href='http://docs.php.net/manual/en/function.get-headers.php'>function.get-headers.php</a>]: failed to open stream: Connection time

[2019-10-14 16:23] havenswift-hosting opened #2401 "count(): Parameter must be an array or an object that implements Countable"
Seeing this error under PHP 7.3 from several different areas

PHP Warning: count(): Parameter must be an array or an object that implements Countable in /home/claudias/public_html/classes/cart.class.php on line 1196

[2019-10-15 08:05] abrookbanks opened #2402 "Check minified CSS & JS exists"
A web store can break if for some reason the minified files don't exist. There is no check.

[2019-10-15 08:06] #2402 closed, assigned to abrookbanks

[2019-10-15 08:30] abrookbanks opened #2403 "Bulk Product Price Change Failing"

[2019-10-15 08:53] #2398 closed, assigned to abrookbanks

[2019-10-15 08:58] abrookbanks commented on #2401
Hope that fixes it.

[2019-10-15 08:58] #2401 closed, assigned to abrookbanks

[2019-10-15 09:43] havenswift-hosting opened #2404 "Nochex plugin issue"
Just upgraded a client to the latest version of the Nochex payment plugin and they have noticed that the Transaction Description passed through to Nochex and relayed back to them in the Payment Confirmation email from Nochex has changed

It used to simply say Payment for order XXXXXX-XXXXXX-XXXX

Now it contains the Product name, product description, product price, quantity - for every single item

[2019-10-15 13:13] Noodleyman opened #2405 "Terms & Conditions only apply to non-logged in users"
Quite frequently you want customers to accept terms and conditions "per order", rather than when registering for an account.

Currently CubeCart only supports enforcing acceptance of T&C if you are not logged in/registering.

Many customers want the ability to force customers to accept T&D on an order by order basis. It would be useful if this can be enhanced to support this out of the box. It's s

[2019-10-16 00:59] Crysties commented on #2391
I am still having problems with the shipping rates staying.  I save them but then they don't save.  If I look in the click on the tabs only about 5 or 6 actually have shipping rates even though I have keyed in a lot more sets of rates than that. See your comment below.  Rosalyn Rich
Crysties Gifts - Cowboy,  American and Fine Art
http://crystiesgifts.com
530-214-8447

---------- Original Message -

[2019-10-17 08:14] abrookbanks opened #2406 "File cache should also clear code snippet cache"

[2019-10-17 08:15] #2406 closed, assigned to abrookbanks

[2019-10-17 11:50] abrookbanks commented on #2395
Thank you.

[2019-10-17 13:04] Dirty-Butter commented on #2395
Glad I actually helped!

[2019-10-18 09:57] Noodleyman opened #2407 "[Security issue] SMTP password is exposed during testing"
When using the TEST utility, a HTTP GET request is made which passes the parameters via URL, including the password in plain text. this will be written to web server logs and stored, as well as sites which may not use https (I hope nobody does), the traffic can be sniffed and password exposed.

This should be replaced with a HTTP POST method

[2019-10-23 15:39] bhsmither opened #2408 "Square Module Requires $SESSION_TOKEN"
Otherwise, will cause CSRF warning.

[2019-10-24 14:40] #2393 closed, assigned to abrookbanks

[2019-10-24 15:26] abrookbanks commented on #2407
Relates to #2089

[2019-10-24 15:27] #2407 closed, assigned to abrookbanks

[2019-10-24 15:27] #2089 closed, assigned to abrookbanks

[2019-10-24 15:31] abrookbanks commented on #2408
Added;

[code]

after;

[code]
.

[2019-10-24 15:33] abrookbanks commented on #2408
Fixed with 1.1.2.

[2019-10-24 15:33] #2408 closed, assigned to abrookbanks

[2019-10-24 15:47] abrookbanks commented on #2391
Caused by input vars exceeding 1000.

[2019-10-24 15:47] #2391 closed, assigned to abrookbanks

[2019-10-24 15:59] #2400 closed, assigned to abrookbanks

[2019-10-24 20:04] Dirty-Butter commented on #2407
`                return "<div class=\"mail_modal\"><h3>Testing ".$method_name."</h3><p>It isn't possible  to get a definitive test result for the &quot;PHP mail() Function&quot; method.</p><p>We have attempted to send a test email to &quot;".$GLOBALS['RAW']['POST']['email_address']."&quot; with the subject of &quot;".$subject."&quot; Please note that it can take ten minutes or even longer for a bu

[2019-10-25 11:13] #2403 closed, assigned to abrookbanks

[2019-10-25 12:20] abrookbanks opened #2409 "Add SSL detection for Cloudflair"

[2019-10-25 12:21] #2409 closed, assigned to abrookbanks

[2019-10-28 08:23] abrookbanks opened #2410 "Add setting to make shipping default to cheapest > 0"
This is particularly useful for merchants who offer store collection.

[2019-10-28 09:26] abrookbanks opened #2411 "Discount line on Order Summary / Invoice etc to only show if > 0"
As above.

[2019-10-28 09:39] #2411 closed, assigned to nobody

[2019-10-28 09:45] abrookbanks commented on #2389
Thanks Brian.

[2019-10-28 09:55] #2399 closed, assigned to abrookbanks

[2019-10-28 09:58] abrookbanks commented on #2396
Done thanks.

[2019-10-28 09:58] #2396 closed, assigned to abrookbanks

[2019-10-28 10:01] abrookbanks commented on #2385
Thanks for this. Right now that are attached to the same form. Your screenshot looks corrupt. There should be JavaScript validation not just browser validation.

I think this issue actually relates to a broader feature request for more granular data change for a more app based checkout.

[2019-10-28 10:01] #2385 closed, assigned to nobody

[2019-10-28 10:39] abrookbanks commented on #2388
The above fix combined with 1.2.6 release of PayPal Checkout will resolve this.

[2019-10-28 10:39] #2388 closed, assigned to abrookbanks

[2019-10-28 10:40] abrookbanks commented on #2392
Ignore the above commit. Typo on issue id.

[2019-10-28 10:40] #2392 closed, assigned to nobody

[2019-10-28 11:42] #2410 closed, assigned to abrookbanks

[2019-10-28 12:10] abrookbanks commented on #2404
Experiment with "Detailed Product Information" mode.

[2019-10-28 12:12] abrookbanks commented on #2383
Agreed but it's unlikely. Leaving as it for now.. we can cross this bridge if/when we get to it.

[2019-10-28 12:12] #2383 closed, assigned to nobody

[2019-10-28 14:46] #2390 closed, assigned to abrookbanks

[2019-10-28 17:03] abrookbanks commented on #2394
Fixed with 2.0.2.

[2019-10-28 17:13] abrookbanks commented on #2376
I can't reproduce this but the issue is familiar. I wonder if it is fixed already.

[2019-10-28 17:13] abrookbanks commented on #2376
Excuse the stupid product names. We have one sale item and one non sale item.
![Screenshot 2019-10-28 at 17 12 27](https://user-images.githubusercontent.com/4520803/67700655-43451900-f9a6-11e9-8af1-c1b6c9e098ff.png)

[2019-10-28 18:54] Dirty-Butter commented on #2388
I use Standard PayPal plugin. Can whatever fixed the Express be applied to Standard as well?

[2019-10-28 23:23] bhsmither commented on #2376
Please change the name of one of the items.

[2019-10-28 23:28] bhsmither commented on #2376
And set the non-sale item to have a sale price of zero.

[2019-10-29 07:25] abrookbanks commented on #2376
Thanks. I'll try this.

[2019-10-29 08:34] abrookbanks commented on #2388
No because PayPal standard doesn't authenticate a customer and return their email to check if its disabled like Express does.

[2019-10-29 08:41] abrookbanks commented on #2376
I just can't reproduce it. This issue is familiar and I'm pretty sure it was fixed already.

[2019-10-29 08:45] #2382 closed, assigned to nobody

[2019-10-29 08:45] #2373 closed, assigned to nobody

[2019-10-29 08:49] #2266 closed, assigned to nobody

[2019-10-29 09:05] #2384 closed, assigned to abrookbanks

[2019-10-29 09:05] #2405 closed, assigned to nobody

[2019-10-29 09:17] abrookbanks commented on #2299
It already does with a join on the `Cubecart_order_summary` table.
![Screenshot 2019-10-29 at 09 16 50](https://user-images.githubusercontent.com/4520803/67753639-ea6c9380-fa2c-11e9-9a28-3ea91a7bb44b.png)

[2019-10-29 09:17] #2299 closed, assigned to nobody

[2019-10-29 10:56] FABPress commented on #2404
I am having this problem. Latest Nochex confirmation e-mail, the Transaction Description field contained more than 1,000 characters! Very unnecessary and would appreciate a fix please.

[2019-10-29 11:52] abrookbanks commented on #2404
See above. Please turn XML mode on.

[2019-10-29 12:40] havenswift-hosting commented on #2384
Thanks Al !

[2019-10-31 11:04] abrookbanks opened #2412 "Clearing logs from log viewer should redirect back to the same page"

[2019-10-31 11:04] #2412 closed, assigned to abrookbanks

[2019-10-31 11:05] #2378 closed, assigned to abrookbanks

[2019-10-31 14:44] abrookbanks opened #2413 "Add optional phone number field to contact us form"
This is requested a lot.

[2019-10-31 16:00] #2413 closed, assigned to abrookbanks

[2019-10-31 17:27] havenswift-hosting commented on #2404
There is no "XML Mode" and it makes no difference whether "Detailed Product Information" is ticked or unticked

[2019-10-31 17:37] abrookbanks commented on #2404
Ok the code suggests otherwise. I'll take a look.

[2019-10-31 23:21] bhsmither opened #2414 "All in One Shipping Tweak"
Request in the file /admin/index.inc.php (and all other files in the module), to replace any sensible occurrence of `All_In_One_Shipping` to `$_GET['module']`.

This solves the edge case where the module has been renamed (for example, to `AIOS_1015`).

(I have made this replacement to many other modules.)

[2019-11-01 08:24] abrookbanks commented on #2404
Forced to `Order created for: xxxx-xxxx-xxxx-xxxx` in 2.2.

[2019-11-01 08:24] #2404 closed, assigned to nobody

[2019-11-01 08:27] abrookbanks commented on #2414
There seems to be only one occurance.

`$GLOBALS['smarty']->append('EXTRA_JS', 'modules/shipping/All_In_One_Shipping/js/all_in_one_shipping.min.js');`

[2019-11-01 08:36] richosr opened #2415 "Exclude specific items from global sale mode"
It would be useful if items could be excluded from Global Sales Mode. For example Store currently in sales mode of say 20% off. A custom item for customer is added at an agreed price and not on sale. If that item could be excluded from the Global Sale it could be added and assigned to a group category not displayed to other customers at the agreed price.

[2019-11-01 17:21] bhsmither commented on #2414
In shipping_rates.tpl, lines 59 and 65, replace with `{$MODULE.folder}`.

In index.tpl, line 8 and 155, replace `id="All_In_One_Shipping"` with `id="{$GENERAL_TAB_ID}"`.

Same file, line 156, replace with `{$MODULE.folder}`.

In all_in_one_shipping.min.js, line 70, replace with something like:
[code]

[2019-11-01 19:34] abrookbanks commented on #2414
Thanks. I'll get this done before release next week...

[2019-11-05 10:20] havenswift-hosting opened #2416 "Feature request : easier movement of images"
There are a great many stores which store all of their images in the /source directory often having many thousands or tens of thousands of images, which isnt very practical and can cause speed or timeout issues in some circumstances

Re-arranging images into sub-directories is tedious but could easily be improved either by allowing drag and drop and / or having a tick box where tens or hundreds of

[2019-11-05 12:07] abrookbanks commented on #2416
Some sample code that was never added to the package was removed just the other day:
https://github.com/cubecart/v6/commit/169d0d7b3db71c337c51c1a8c89e6576106138a3#diff-f63081b2a3d13b40568f191ddd95419a

It works by putting images into alphabetical folders.

e.g.
image1.jpg -> i/image1.jpg
picture.png -> p/picture.png
Banana.gif -> b/banana.gif
etc..

[2019-11-05 12:47] havenswift-hosting commented on #2416
That might be useful maybe as a default option for new stores so at least they dont all go into the one directory.

However, it would have to be one of a number of selectable options as many store owners like to sub-divide by category, manufacturer  or even by product if they use a lot of images on each product or some combination of these.

I was requesting a simple method for manually sub-dividi

[2019-11-05 12:48] #2416 closed, assigned to nobody

[2019-11-05 20:22] Dirty-Butter opened #2417 "6.2.7 Image folders do not show in Filemanager list on a Product"
See https://forums.cubecart.com/topic/55420-should-the-sub-folders-show-in-products-images-tab/

[2019-11-05 21:09] Dirty-Butter commented on #2416
I have a small store that did not have any image folders. I used the previous alphanumeric choice and it worked quite well. It was a disaster when I tried to use it on the big store where I already had quite a few brand folders. I ended up with a conglomeration that I did not like at all. I reverted to my own folders via a database table drop/copy from backup.

[2019-11-06 04:00] bhsmither commented on #2389
I disagree with this solution. `$dir` is the index into an array, thus it will never be an array itself.

Perhaps just check if it is true-like. Try:
[code]
(I haven't tried this.)

[2019-11-06 04:01] bhsmither commented on #2417
Issue #2389 has had a comment added.

[2019-11-06 09:31] abrookbanks commented on #2417
Please follow #2389.

[2019-11-06 09:31] #2417 closed, assigned to abrookbanks

[2019-11-06 09:37] abrookbanks commented on #2389
No that doesn't work either. Lets just leave it as it was before. There was no bug in the first place. Commit reverted.

[2019-11-06 09:37] #2389 closed, assigned to abrookbanks

[2019-11-06 10:05] abrookbanks opened #2418 "Request class ignores server response code and relies on a data response"
Sometimes a server can respond with just a code to save network resources. A patch request is a good example.

e.g. `204 No Content`

Right now the request class will assume failure if no response is received.

[2019-11-06 10:06] abrookbanks commented on #2418
Following on the response code must be logged and request method i.e. curl/fsock

[2019-11-06 10:07] abrookbanks commented on #2418
This feature is required for the new PayPal Commerce integration which us currently in build.
e.g. https://developer.paypal.com/docs/api/orders/v2/#orders_patch

[2019-11-06 11:11] #2418 closed, assigned to abrookbanks

[2019-11-06 16:47] abrookbanks opened #2419 "Improve Request Error Log for response code 4xx & 5xxx"
A 4xxx error should show red even if response body is empty.

[2019-11-06 16:51] abrookbanks commented on #2419
![Screenshot 2019-11-06 at 16 50 57](https://user-images.githubusercontent.com/4520803/68319073-a07f4f80-00b5-11ea-81ec-9ba8477b9b03.png)

[2019-11-06 16:51] #2419 closed, assigned to abrookbanks

[2019-11-07 10:14] abrookbanks commented on #2376
Reproduced. The sales box is taking the value of `$GLOBALS['smarty']->assign('PRODUCTS', $xxx);` from a different area. If you change category the sale items listed reflect the products in that category.

[2019-11-08 10:57] Noodleyman opened #2420 "File Manager allows PDF files to be uploaded"
PDF files can be uploaded as images, then are stored in the images/source directory and it triggers warnings/errors.

PDF files should now be allowed to be uploaded as images.

[2019-11-11 14:55] havenswift-hosting commented on #2142
This was closed nearly a year ago as supposedly Braintree was going to be phased out but as it is still available and people still try to use it, was that decision reversed - if so can this issue be addressed.  If not then can the Braintree extension be removed

[2019-11-11 15:24] abrookbanks commented on #2142
I'll raise this with  PayPal as I have a meeting with them on Friday.

[2019-11-11 15:28] abrookbanks commented on #2142
I expect we will remove it as PayPal are pushing their Braintree products to larger enterprises which is not our typical merchant.

[2019-11-12 13:36] Noodleyman opened #2421 "Performance issues with Matrix in admin area"
When trying to revise a product which has matrix data performance is significantly impacted by the code to update the matrix cached data.

Update queries are quite expensive and in some stores with large matrix sets I am seeing upwards of 30 seconds page load time due to the following code:

[code]

This needs refinement.

[2019-11-12 13:52] Noodleyman commented on #2421
relates to #1655

[2019-11-12 13:54] Noodleyman commented on #2421
Noted a defect: the SQL query used to check if the record exists is searching the entire DB table, it should be also matching on product_id.

`if ($GLOBALS['db']->select('CubeCart_option_matrix', 'matrix_id', array('options_identifier' => $option_group['options_identifier']))) {`

REPLACE WITH:
`if ($GLOBALS['db']->select('CubeCart_option_matrix', 'matrix_id', array('options_identifier' => $option

[2019-11-12 14:19] Noodleyman commented on #2421
I have also found an additional defect. If the option name to update cached_array includes a double quote ", this is escaped in the json to be written to the database, however it's translated to the " character  in the database which makes the json invalid when you read it back.

example:
`[{"name":"Door Type","value":"Fire Door"},{"name":"Door Style","value":"Bevelled Glass"},{"name":"Door Size",

[2019-11-12 14:30] Noodleyman commented on #2421
this is as far as I got to refinement, however due to the issue with json escaped strings being read from the DB, it's not able to match the majority of my test cases and still issues an update. however, for the store in question this has prevented about 600 UPDATE queries with around 400 still running, which is time consuming.
[code]

[2019-11-12 23:09] ChrisNColeman opened #2422 "Bug .."
` //=====[ Private ]=======================================

    /**
     * Parse contents though Smarty
     *
     * @param string $contents
     * @return string
     */
    private function _parseContents($contents)
    {
        if (is_string($contents)) {
            return $GLOBALS['smarty']->fetch('string:'.$content);
        } elseif (is_array($contents)) {
            $out = array();

[2019-11-13 05:14] bhsmither commented on #2422
A misspelled variable.

[2019-11-14 19:16] bhsmither opened #2423 "Code Syntax Error"
Trivial:

In gd.class.php, for the case beginning line 117, there are two breaks.

[2019-11-16 14:37] bos4711 commented on #2410
Thank you!

[2019-11-19 13:48] abrookbanks commented on #2422
Thanks guys.

[2019-11-19 13:48] #2422 closed, assigned to abrookbanks

[2019-11-19 13:49] abrookbanks commented on #2423
Thanks!

[2019-11-19 13:49] #2423 closed, assigned to abrookbanks

[2019-11-19 14:01] abrookbanks commented on #2420
Thanks Noodles!

[2019-11-19 14:01] #2420 closed, assigned to abrookbanks

[2019-11-19 17:35] bhsmither opened #2424 "Sales Report Link URL to Order to be Enhanced for OID"
See:
https://forums.cubecart.com/topic/55491-628-bug-sales-report-order-number-url-issue/

[2019-11-20 07:50] bhsmither opened #2425 "Variable Name Misspelled"
In database.class.php, line 155, please check spelling of `$_this`.

[2019-11-20 08:18] bhsmither opened #2426 "PHP Function Parameters"
Please check Smarty `function.combine.php`, line 132.

The variable `$last_mtime` will contain the contents of a file, if it exists.

That variable, treated as an integer, is then used in PHP's `date()` function.

I haven't debugged this yet, but it doesn't look right.

I don't see what I chasing after, but I think this is the cause.

What I am chasing after is that some stores are showing rogue b

[2019-11-20 10:30] abrookbanks opened #2427 "User->getMemberships should return false if customerId = 0"

[2019-11-21 08:25] havenswift-hosting commented on #370
Any chance of getting this feature request added - I also have many clients that use customer groups especially for wholesale or trade pricing and being able to use the bulk price change tool for customer groups would be so good !

[2019-11-21 09:14] abrookbanks commented on #370
You can sponsor it if you like. ;)

[2019-11-21 20:29] bhsmither opened #2428 "PayPal Standard Module"
See:
https://forums.cubecart.com/topic/55502-paypal-problem/
(Reports of a 301 bounce.)

I tested the web address as specified in the module's /admin/index.inc.php file and got a 302 to a landing homepage.

The changelog says a tool was added to test the IPN endpoints. Next, the web addresses for the endpoints was updated.

But was the tool updated? Does it need to be updated?

Note: I also note t

[2019-11-24 08:07] bhsmither opened #2429 "PHP Constant Requires Minimum PHP 5.5"
As stated in ini.inc.php and /setup/index.php Compatibility Test, CubeCart requires PHP 5.4 or later.

The use of the constant `CURLINFO_RESPONSE_CODE` in request.class.php, near line 383, was introduced in PHP 5.5.

So, the minimum PHP version, at least for this instance of code, should merit updating this requirement.

[2019-11-25 00:04] SyronV opened #2430 "Upgraded from 6.2.6 to 6.2.8"
Hi can anyone tell me what has happened? I upgraded from 6.2.6 to 6.2.8 and I am getting these symbols at the top of the shop page? It does it in Foundation?

www,shop.boltlock.com.au

Any help would be great?

Tyrone

![2019-11-25](https://user-images.githubusercontent.com/23268337/69503995-d86a0c00-0f6a-11ea-8929-cdcd1edc0464.png)

[2019-11-25 00:35] SyronV commented on #2430
I checked the error report and this is what is says:
File: [controller.admin.pre_session.inc.php] Line: [26] "SET @@time_zone = 'Australia/Brisbane'" - Unknown or incorrect time zone: 'Australia/Brisbane

[2019-11-25 00:37] SyronV commented on #2430
and there is this error:

  | [<strong>Notice</strong>] 	 /home/boltadmin/public_html/shop/admin_6LeVae/sources/settings.errorlog.inc.php:69  - Undefined variable: smarty_data

  | [<strong>Notice</strong>] 	 /home/boltadmin/public_html/shop/modules/social/Facebook/social.class.php:53  - Undefined index: comments_width
-- | --

[<strong>Notice</strong>] /home/boltadmin/public_html/shop/classes/ssl

[2019-11-25 09:45] bhsmither commented on #2430
There has been a couple of discussions about this on the forums.

It turns out that there was an active code snippet that behaves differently under CC628.

Please view your admin, Manage Hooks, Code Snippet tab, to determine if any snippets are active.

If so, disable them and let us know if the rogue characters disappear.

[2019-11-25 21:25] SyronV commented on #2430
Legend! You and Al deserve a pay rise for your efforts!
The symbols was being caused by Apply Discount Code via URL - which is a free extension on the Cubecart website
And the date error was resolved when I disabled the time and date in the time and date settings in the Advance store setting, which changes the invoice numbers to a different time stamp, which I like but close enough is good enough!

[2019-11-26 06:23] bhsmither commented on #2430
"Apply Discount Code via URL - which is a free extension on the Cubecart website"

Do you have a web address for this?

[2019-11-26 06:25] bhsmither commented on #2430
Never mind -- found it.

[2019-11-26 06:36] bhsmither commented on #2430
Are you sure? I just installed it, and I do not get these characters.

[2019-11-26 06:44] SyronV commented on #2430
I will try to reinstall it but once I disabled it, the characters disappeared? It was the first and only thing I did and I checked after I disabled it, after you advised about the code snippets? The characters only appeared after the upgrade from 6.2.6 to 6.2.8, I haven't reinstalled it after the upgrade? I will let you know if I have any further issues after I reinstall it... Thanks very much...

[2019-11-28 09:10] #2430 closed, assigned to abrookbanks

[2019-11-28 09:11] abrookbanks commented on #2430
Please seek technical support on our forums or via our official channel.

Forums: https://forums.cubecart.com/
Official Support:  https://www.cubecart.com/technical-support

[2019-11-29 02:43] Dirty-Butter opened #2431 "6.2.8 webp image Filemanager bug??"
Please see https://forums.cubecart.com/topic/55485-google-speed-test-suggestions/?do=findComment&comment=240570

[2019-11-30 11:44] Dirty-Butter commented on #2431
Evidently not a bug, but a server limitation.

[2019-12-01 13:06] romanklabal opened #2432 "Coupon conditions validation not performed when removing items from basket"
Promo coupons in CC can have several conditions which are being validated within the method Cart::discountAdd().

Lets say I create a coupon with a minimum subtotal of €100.

- When I add one item costing €99 to the basket and try to apply the coupon, naturally it wont let me.
- I increase the quantity to 2, bringing the subtotal to €198, and then it lets me add the coupon.
- When I decrease the q

[2019-12-02 16:50] bhsmither opened #2433 "Count() Problem"
Another count() problem.

classes/db/database.class.php on line 708

See #2401.

The difference is that there is a second test that asks if the parameter is an array.

I had once read that PHP will make a quick scan on the collection of tests in a condition argument to determine if a truthness or falseness can be determined. PHP would then do the actual work if the result could not be determined.

[2019-12-02 18:36] GUNFAI opened #2434 "CubeCart Newsletter sends forever when no subscribers"
Minor; I made a new installation of Cubecart 6.2.8 and set up mail working with TLS. During testing of the new site I found that when it is no subscribers to newsletters and you try to send a newsletter to subscribers it stucks in "sending" until you cancel. When adding at least one subscriber then it works. Removing the subscribers gives the same fault.

It should give a notice "No subscribers" i

[2019-12-03 08:33] abrookbanks opened #2435 "Search may return product that are out of stock"
See internal support ticket 107250.

[2019-12-04 09:14] abrookbanks opened #2436 "Search engines should only spider default currency"
If the currency is changed the URL and canonical remains the same. This means pages can show non-defualt currency in search engine listings.

Until multiple currencies are better supported with clear locale it should only spider the default ones.

[2019-12-04 09:19] abrookbanks commented on #2436
For future release significant improvements are required.

e.g. https://www.example.com/en_us/product_name

en_us = USD with en_us language.

[2019-12-04 09:22] abrookbanks commented on #2436
I've left this open as more research is needed before committing to release.

[2019-12-04 10:13] abrookbanks opened #2437 "Log user journey by URL and page title"

[2019-12-04 10:23] havenswift-hosting commented on #2437
Excellent enhancement !

[2019-12-04 10:24] abrookbanks commented on #2437
Simple to integrate and valuable in many ways.

[2019-12-09 11:39] #2429 closed, assigned to abrookbanks

[2019-12-09 11:40] #2431 closed, assigned to nobody

[2019-12-09 18:04] bhsmither opened #2438 "clearImageCache Reports Success Regardless"
In `maintenance.index.inc.php`, line 388, regardless of the outcome of `cleanImageCache()` - which does not return a value - a success message is displayed.

So does a few other tasks in the **Rebuild** group.

[2019-12-12 10:54] #2436 closed, assigned to abrookbanks

[2019-12-15 13:27] Dirty-Butter opened #2439 "Spotted a Predictable Anomaly with Incremental Order #'s"
I've commented several times since Incremental's inception about rare odd number jumps in the sequence. I just realized what the pattern is, which I hope is meaningful and fixable.

Here's a string of order #'s that occured in November:
2019-PC-4543, 2019-PC-4544, **2019-PC-0753**, 2019-PC-4546

Now today I have
2019-PC-4594, 2019-PC-4595, **2019-PC-0754**

Looking back through ALL orders since us

[2019-12-15 14:28] Dirty-Butter commented on #2439
I noticed we had one order shipping to Alabama that occured right after a CC upgrade, and I did something that messed up Sales Tax and did not charge any sales tax on that order. THAT order follows the normal Increment sequence, 2019-PC-4484. So it may have to do with Sales Tax code????

[2019-12-16 18:36] abrookbanks opened #2440 "Checkout should not show delivery fields for digital only orders"

[2019-12-16 18:38] #2440 closed, assigned to abrookbanks

[2019-12-17 21:50] Dirty-Butter opened #2441 "6.2.9 Zopim chat issue?"
I have installed the Zopim chat code and now have a conflict with the Joyride script. If I try to edit a product in Admin the Tour popup suddenly appears on each attemp to save the product tab I'm on. I can't proceed without x-ing out the tour popup. Next button save and tour is back.
I have tour disabled in Administrator. And the popup occurs whether Zopim chat is enabled or not.
The only way I f

[2019-12-18 13:41] Noodleyman opened #2442 "Search defect"
confirmed on a fresh install of the latest CubeCart version. If you perform a keyword search and there are enough results to trigger pagination, and you have a result set which totals the pagination number + 1, you get odd behaviour.

For example. you search and get 13 results, pagination is set at 12 items per page.

When you go to page 2, instead of seeing the results you are redirected with the

[2019-12-22 00:50] bhsmither commented on #2442
Possible continuation of #2281.

[2019-12-26 10:00] bhsmither opened #2443 "Inadvertent Typecast Error"
In request class, near line 391, there is:
[code]
Note that there may be the case that `$error_no` is the string `NA`, which is cast against `%d` in the `sprintf` function.

So, one may see the integer zero as a string having been cast to an integer (depending), but one will **not** see `NA`.

[2019-12-27 18:50] andysarcade opened #2444 "controller.index.ic.php time zone repeated setting fail many instances per minute?"
hi all, i hadn't looked for a while, but my error log is up to 1.3 million entries, related to a time zone thing? the two repeated erros are :

 File: [controller.admin.pre_session.inc.php] Line: [26] "SET @@time_zone = 'Africa/Abidjan'" - Unknown or incorrect time zone: 'Africa/Abidjan'

File: [controller.index.inc.php] Line: [27] "SET @@time_zone = 'Africa/Abidjan'" - Unknown or incorrect time z

[2019-12-27 19:03] andysarcade commented on #2444
just to add, i see my store time zone was actually set to Africa/Abidjan, but when i put it on my actual time zone, it still error logs the same way but with the new time zone name instead of Africa/Abidjan.

[2019-12-28 09:07] havenswift-hosting commented on #2444
This is not a bug but a problem / missing entry with the MySQL server on the server that your website is hosted on.  There are several threads on the forums that explain it and how it can be fixed although unless you have root level access you won’t be able to do it yourself

[2019-12-28 17:06] bhsmither opened #2445 "Export Button to use Name"
Feature Request:

In `reports.index.inc.php`, near line 208, the button text is derived from the module's folder name.

Suggest using the `config.xml` node `<name>` if available, the way `plugins.index.inc.php` uses the `config.xml` file.

[2019-12-29 18:28] bhsmither opened #2446 "Links in README.MD to be Updated"
As above.

[2019-12-29 19:54] andysarcade commented on #2444
ok thanks, I will go look to see this. But can't this known issue be caught by cubecart and not cause such repeated server load?

[2020-01-01 10:20] azitafomo opened #2447 "Self-reference hreflang annotation missing - Missing reciprocal hreflang (no return-tag)"
please help me my website has one languge [](:[20bekhar.com](https://20bekhar.com/))
and these errors are in hrefs error that I need to solve
![001](https://user-images.githubusercontent.com/57670369/71640364-b49e9200-2c9d-11ea-824e-fa952ba5db7b.JPG)
![003](https://user-images.githubusercontent.com/57670369/71640365-b49e9200-2c9d-11ea-94f9-ea7b6ac9bb79.JPG)

[2020-01-02 08:29] abrookbanks commented on #2444
Set Timezone to "Disabled" in the advanced section of your admin control panel or enable time zone support:
https://dev.mysql.com/doc/refman/8.0/en/time-zone-support.html

[2020-01-02 08:29] #2444 closed, assigned to nobody

[2020-01-02 08:32] abrookbanks commented on #2446
Thanks Brian! https://github.com/cubecart/v6/commit/b8ccfd60ec1348d2b7fdfca9fa64f463d875349f

[2020-01-02 08:32] #2446 closed, assigned to abrookbanks

[2020-01-03 01:00] bhsmither commented on #2447
Please verify that you are using CubeCart.

Evidence suggests that you are using PrestaShop.

[2020-01-04 22:31] bhsmither opened #2448 "Files Access Forbidden"
When viewing the FileManager, Downloads list, the filenames take the form of a link.

Clicking the link implies that one can view the file (if possible).

However, the .htaccess file in the `files` folder has a directive that prevents direct access.

Suggest changing the template code to remove the anchor tag, or changing the htaccess rule to allow for admin direct access.

[2020-01-06 09:20] Noodleyman opened #2449 "Unknown column 'seo_meta_keywords' in 'field list"
As of CubeCart version 6.2.6 the structure.sql file no longer contains a column named **seo_meta_keywords** for the table **CubeCart_category**

However. Although I realise that this is an outdated column, dropping it from the DB is impacting third party modules/hooks which expect the column to exist. In some stores this is causing significant numbers of errors to be logged.

Please can this colum

[2020-01-08 18:03] bhsmither opened #2450 "Bad Function Code"
In `config.class.php` near lines 221, 226, and 269, passing the array element value by reference requires working on the variable directly, as opposed to returning the result of work.

This simple test illustrates:
[code]

[2020-01-08 18:05] bhsmither commented on #2450
The output:
[code]

[2020-01-13 15:41] marcotoki commented on #712
comentario

[2020-01-15 13:37] Phrkd opened #2451 "Incremental order numbers"
I've set a custom incremental order number (eg ABC00001) yet when payment confirmation is received the order number that is being displayed is the default CubeCart order number (eg 200115-120925-1799). Payment gateway is WorldPay using CC V6.2.8.

[2020-01-15 18:11] bhsmither commented on #2451
A possible solution for the WorldPay gateway module is:
[code]
I am assuming the MC_OID is a value that WorldPay uses as a Merchant Cart Order ID. As such, I also assume that we can make this value whatever we want with impunity. This is not the same as the cartId, which is what WorldPay and CubeCart agree is the primary key to identifying which order is being referenced.

The edit above says that

[2020-01-16 09:27] azitafomo commented on #2447
Could you tell me about it?

[2020-01-16 12:51] Noodleyman opened #2452 "CubeCart_cookie_consent needs maintaining"
I'm seeing this table get to crazy sizes on busy stores, and even on less busy stores.

For example, a store I reviweed today had > 28,000,000 records in this table. Table size being 9.5GB in size. This can't be considered valid.

Can records with a 0 value be purged after a period of time?

I am also seeing a large number of duplicate records (same session, customer ID etc), with a different time

[2020-01-16 15:03] Dirty-Butter commented on #2452
I had noted this huge file some time ago and CC now has a manual way to delete all records. in Maintenance I would have preferred a way to delete all older than xxx, or some such setting. Maybe your request will get this issue dealt with more completely.

[2020-01-16 15:37] Phrkd commented on #2451
I have made the above amendment but it still appears that the default cubecart format is being sent to the payment gateway.

The incremental order numbers are showing in cubecart admin, yet when going through the basket > checkout > payment sequence the default cubecart order number is still being used.

[2020-01-22 11:02] Noodleyman commented on #2452
@abrookbanks
Found another one today.. this needs some attention as part of the next CubeCart update
![image](https://user-images.githubusercontent.com/10614018/72889058-c4dae780-3d06-11ea-8497-a8aab96eb1a7.png)

[2020-01-22 11:07] Noodleyman commented on #2452
I randomly just spot checked a hand full of site databases. all show this issue, not a single one was under 1GB for that table.

[2020-01-22 14:12] Noodleyman opened #2453 "Tax is not granular enough for some US based states/businesses"
@abrookbanks , this is reasonably urgent.

Found out today of a use case which CubeCart tax system cannot handle.

A customer in US, GA has to pick a tax rate based on Country / State and County. the rate can vary per county within the state.

CubeCart can only handle Country/State level at the moment. for the tax system to be usable the tax for some customers must be refined based on Country / St

[2020-01-22 14:35] Noodleyman commented on #2453
The only way I can think to get this working today, is to add lots of phantom states.

Instead of the State being "Georgia" , I'll have to create 159 states of "Georgia - X" with X being the County name.  Tax rules can then be setup per State/County combination.

I think this will break existing customer accounts which have address book data as those will point to the original state ID in the geo

[2020-01-22 14:40] tbonerocketeer commented on #2453
https://smallbiztrends.com/2019/01/list-of-states-with-internet-sales-tax.html

This is the current list of states that require this.

[2020-01-22 14:53] abrookbanks commented on #2453
I know of a CubeCart merchant doing just that with Ohio by adding multiple derivatives of Ohio.

How would you se it working from a UX perspective on the front end. Another field after State?

[2020-01-22 14:56] Noodleyman commented on #2453
Another select for county (much like state) would be ideal, naturally only if there are counties setup for the state otherwise either hide the field or offer a text input.
What we wanted to avoid was the state becoming a state/county list as it would contain thousands of entries making it pretty unusable for customers

[2020-01-23 12:51] abrookbanks commented on #2453
I think `Counties` is the correct terminology. Two things for 2020;

- Updated extensions
- New midpoint release (roadmap to be decided)
- New default theme (one is started already)

[2020-01-23 12:52] abrookbanks commented on #2453
make that 3 :laughing:

[2020-01-23 13:14] Noodleyman commented on #2453
Yes, Counties.  so it's three tiers (in some cases)

Country -> State -> County

Some U.S states are just by Country -> State

so it's one of those hierarchical solutions based on whatever is configured at the most granular level being applicable.

[2020-01-23 13:14] abrookbanks commented on #2453
Exactly that.

[2020-01-23 21:34] Dirty-Butter commented on #2453
Is there some way to deal with existing accounts by using the zip code to generate the additional County designation once it's added to CC? Luckily for us, Alabama does not require this level yet. But if GA is doing it, we will too eventually, more than likely.

[2020-01-23 21:38] Dirty-Butter commented on #2453
Here's a list of GA Zips with counties. A ZIP range looks like it could be used to populate the new County field on old accounts in GA at least.
[http://www.georgiahealthdata.info/Georgia_Zip_Code_County_Lookup.PDF](url)

[2020-01-24 00:40] bhsmither commented on #2453
Depends on the state. See:
https://forums.cubecart.com/topic/55235-tax-zones-by-county/
Github #1786

[2020-01-27 10:28] Noodleyman opened #2454 "Feature Request: Unique tax codes"
Relates to #2453,
In some cases, simply knowing the total tax charged isn't enough information, especially when integrating with third party accounting systems.

It would be helpful if it was possible to define custom tax codes (unique) for tax rules which are then recorded at the order summary and/or order inventory level so it's possible to track which tax rule applied.

Background for request:

[2020-01-28 10:26] Noodleyman opened #2455 "register_terms_agree_link for new installs"
Just a minor change suggestion. the link in the language string register_terms_agree_link currently opens on the same page, which can be annoying as a customer when you click the link and are redirected away from the form you are filling in. Recommendation is to add a target to the URL so it opens in a new tab

[2020-01-28 11:40] Noodleyman opened #2456 "PayPal Pro/Express can bypass T&C"
This seems like a reasonably common issue. since the PayPal module adds a button which the customer can use to checkout, even before they register for an account... it is possible for a customer to totally bypass acceptance of terms and conditions, which for some businesses is unacceptable.

The ability to checkout, regardless of payment method must be restricted in all cases when T&D's are requir

[2020-01-28 11:48] Noodleyman opened #2457 "GDPR Report should only contain personal data"
It includes everything, including passwords and salt. Only personal data fields should be included

[2020-01-28 12:19] havenswift-hosting commented on #2456
We have just also had a complaint about this as it also by-passes the delivery notes / comments entry which is also crucial for some businesses.  The ability to configure the PayPal module to disable this ability is needed pretty urgently

[2020-01-28 12:47] russellhurst commented on #2456
This is very important to me and my websites as well.

Additionally the name and address information returned by PayPal is incomplete - business name and county are not shown.

For me the PayPal Checkout button should not appear in the basket, only in the checkout page.

[2020-01-28 13:03] russellhurst commented on #2454
My export software also cannot cope with other than standard tax rate so to have tax codes, preferably lining up with Sage's system would be very helpful.

[2020-01-29 12:35] Noodleyman opened #2458 "Hook Request - settings.tax.inc.php"
new hook before:
`$page_content = $GLOBALS['smarty']->fetch('templates/settings.tax.php');`

This allows for tax data sent to the admin theme to be modified for custom fields/pages.

[code]

[2020-01-29 13:09] Noodleyman commented on #2454
productTax() needs to return the ID from CubeCart_tax_rates, which can then be stored in the order inventory table, and used in joins at the query level to get a tax code defined at the tax rule.

It would also be useful to store the tax code that existed at the time against the inventory, in case the tax rule ever changes and breaks the ID association. perhaps just storing the code would be best.

[2020-01-29 15:36] Dirty-Butter commented on #2456
I have stayed with the Standard PP mostly because of the issues mentioned here!

[2020-01-29 17:45] bhsmither opened #2459 "PCRE2 Coding"
As with #2308, another statement has been found that may require an adjustment.

At order.class.php, `function validOrderId()`, near line 910.

[2020-01-29 21:06] bhsmither opened #2460 "Duplicated Statements"
Trivial:

In order.class.php, near lines 856 and 857, these lines are identical.

[2020-01-30 20:49] bhsmither commented on #2439
A forum conversation is happening here:
https://forums.cubecart.com/topic/55681-duplicate-order-id-assigned-order-not-created-but-payment-taken/

[2020-01-30 23:43] bhsmither opened #2461 "Code Review for Order->setOrderFormat"
The database table CubeCart_order_summary declares `custom_oid` as DEFAULT NULL.

In `Order->setOrderFormat()`, near line 844, the database will update all records where `custom_oid` currently has a zero length string.

A zero length string is not the same as *null*.

[2020-01-31 01:16] bhsmither commented on #2460
Also in settings.index.inc.php, near lines 47 and 48.

[2020-01-31 06:14] bhsmither commented on #2461
Unless the **intent** is to fill an **actual blank value** (not the same as *null*) with something -- either the value in the `id` or the `cart_order_id` column.

But I cannot discern what that intent is supposed to accomplish. (The `id` column?)

[2020-02-01 09:49] Noodleyman opened #2462 "CubeCart_order_summary.currency empty"
Noted after a recent support ticket related to invalid data in the currency field. this field is populated using:

`'currency' => $GLOBALS['session']->get('currency', 'client')`

This does not always have a value, which can lead to an empty string being added into the currency field rather than the actual currency used.  This is causing an issue with site-site integrations for financial transactio

[2020-02-02 19:55] bhsmither commented on #2439
Testing shows that the following `CREATE TRIGGER` statement gives much more (possibly 100%) reliable results.

My tests are against a MyISAM engine for the CubeCart_order_summary table. Hopefully, privileges issues* will not be an obstacle for an InnoDB engine table.

In /classes/order.class.php, near line 847:
[code]
(The PHP statement is broken apart for readability.)
* Privileges: https://dev.m

[2020-02-02 23:50] bhsmither opened #2463 "Other Option Choosers"
Feature Request:

In the skin template element.product.options.php, the structure is currently:
[code]
To facilitate adding other types of option choosers, request adding after `else`:
[code]
Plugins will populate OTHER_CHOOSERS which will trigger the inclusion.

[2020-02-03 22:58] Dirty-Butter commented on #2439
Could you please show me the exact beginning/ ending lines to replace with your code @bhsmither ? I can test it with a fake Alabama order.

[2020-02-04 05:23] bhsmither commented on #2439
Note: I made an edit to the suggested code above. I accidentally used my database name instead of the config value.

[2020-02-04 06:01] bhsmither commented on #2439
Line 847 is the only line to change.
[code]
To cause the new trigger to take effect, the admin must simply Save the admin Store Settings. There is no need to actually change anything, just Save.

Note FYI: Every time the admin saves Store Settings, among other things, CubeCart will reconfigure the database to use a trigger to implement (or de-implement) the custom_oid feature. Every time!

In so d

[2020-02-04 10:35] Noodleyman opened #2464 "additional items added to order - not charged for"
This has been around for a while and I've heard the occasional report from a number of people, but never been able to reproduce or explain it.. today, I made some progress in understanding this issue, although still do not have it entirely worked out.

Sometimes, there is a report of a rogue item on a customer order which looks like it hasn't been charged for. The item can be a duplicate item of o

[2020-02-04 12:59] Dirty-Butter commented on #2439
I just tested your edit. It created a different number than the series of wrong order id's I've been getting (my sales tax ones have been sequential - just with their own series), but it did NOT pick up with the regular sequence it should have.

[2020-02-04 13:22] Dirty-Butter commented on #2439
I double checked to see what the Store Settings Preview of incremental said the next number should be - and **it matched the result of your code change**. So that looks like your edit worked.

The problem with my install numbering must have something to do with the old plugin. If I use your code change and edit my Increment Increase Number in Store Settings, I just might fix it.

But I won't test

[2020-02-04 16:43] bhsmither commented on #2439
In phpMyAdmin, execute the follow statement:
[code]
(Replace `myDatabaseName` and `prefix_` as necessary.)

Note the number in the resultant table, `auto_increment` column.

Add to that value the number you have specified for the Increment Increase.

The total value is the number that should then form part of the entire Custom ID string that will be used on the next order -- regardless.

I say 're

[2020-02-05 00:53] Dirty-Butter commented on #2439
I was never able to get the exact "next coid" number I wanted when I originally changed to CC's sequential. So it doesn't surprise me that this did not give me the next number in the sequence, either. I left if where it ended up and tried one test order with tax and one without. It still is not working for me. I give up.

[2020-02-05 04:41] bhsmither opened #2465 "Intermediate Debug to be Spooled"
Feature Request:
I proposed this somewhere before but I can't find it.

When CubeCart has debug mode enabled, all the data collected processing a POST is dumped when the bounce directive is sent to the browser.

The following edits implement spooling the debug stream to SESSION, so that none is lost, until a page is actually displayed.

debug.class.php
[code]
gui.class.php
[code]

[2020-02-06 08:57] Noodleyman commented on #2464
On some level, I've got some basic steps which can be used to reproduce part of the issue, but these steps are still a work in progress and do not isolate all the underlying elements.

replicated on a clean install of 6.2.8.

as a customer, add an item, checkout as guest so that the order is added to the database. (order status doesn't matter).

from admin area, delete the order.

as customer on s

[2020-02-08 09:38] Noodleyman opened #2466 "Not removing unavailable matrix items from cart"
Should a customer add a MATRIX item to their cart, and between the addition and checkout that item is no longer available the item doesn't get flagged as unavailable and removed. The behaviour should be the same as standard products without options.

in my test case, I disabled/removed the already selected matrix items/options but was still allowed to checkout the unavailable item.

Assumed it's b

[2020-02-08 21:46] bhsmither commented on #2466
To clarify: in Store Settings, Stock tab, "Reduce Stock Levels" is set to what choice?

[2020-02-09 08:51] Noodleyman commented on #2466
in this case it's reducing on order pending.

However, this issue isn't related to ordering the last in stock item. It's related to the admin making changes to the product by disabling options, thus making them unavailable. as a customer with the item already in a basket, or saved card you can still order it. Where as, a standard item (no options or matrix) will tell you the item is no longer avai

[2020-02-10 02:13] bhsmither opened #2467 "Additional Check Needed for Deleting an Extension"
In `plugins.index.inc.php`, near lines 30-33:
[code]
If the malformed URL of:
[code]
(where xxx is known) the variable `$dir` resolves to a (semi-)valid, **but wrong** folder which gets deleted.

Suggest testing for directory traversal (if not already elsewhere), and not empty values.
[code]

[2020-02-11 08:48] Noodleyman opened #2468 "Advanced search - Failing SQL query"
catalogue.class.php, line 1960

`$q2 = "SELECT I.* FROM ".$GLOBALS['config']->get('config', 'dbprefix')."CubeCart_inventory AS I LEFT JOIN (SELECT product_id, MAX(price) as price, MAX(sale_price) as sale_price FROM ".$GLOBALS['config']->get('config', 'dbprefix')."CubeCart_pricing_group $group_id GROUP BY product_id) as G ON G.product_id = I.product_id $joinString WHERE I.product_id IN (SELECT prod

[2020-02-11 08:51] Noodleyman opened #2469 "Advanced Search - Failing SQL Query #2"
related to #2468

catalogue.class.php Line: 1904

`$query = sprintf("SELECT I.*, %2\$s AS Relevance FROM %1\$sCubeCart_inventory AS I LEFT JOIN (SELECT product_id, MAX(price) as price, MAX(sale_price) as sale_price FROM %1\$sCubeCart_pricing_group $group_id GROUP BY product_id) as G ON G.product_id = I.product_id $joinString WHERE I.product_id IN (SELECT product_id FROM `%1\$sCubeCart_category_ind

[2020-02-11 08:53] Noodleyman opened #2470 "Advanced Search - Failing SQL Query #3"
Related to #2468
catalogue.class.php Line: 1906

`$q2 = sprintf("SELECT COUNT(I.product_id) as count, %2\$s AS Relevance FROM %1\$sCubeCart_inventory AS I LEFT JOIN (SELECT product_id, MAX(price) as price, MAX(sale_price) as sale_price FROM %1\$sCubeCart_pricing_group $group_id GROUP BY product_id) as G ON G.product_id = I.product_id $joinString WHERE I.product_id IN (SELECT product_id FROM `%1\$s

[2020-02-11 11:54] #2467 closed, assigned to abrookbanks

[2020-02-11 12:14] abrookbanks commented on #2464
It could be something like the order class taking an earlier set value for Order->_order_id but externally. I could even be extension specific. Proper headache. Good work thus far.  :beer:

[2020-02-11 12:22] abrookbanks commented on #2447
Wrong platform.

[2020-02-11 12:22] #2447 closed, assigned to nobody

[2020-02-11 12:30] Noodleyman commented on #2464
one pattern where I've walked the access logs that stands out, is adding an item to a basket, leaving the site and returning multiple days later, adding more items and checking out.

[2020-02-11 12:37] abrookbanks commented on #2443
Thanks.

[2020-02-11 12:37] #2443 closed, assigned to abrookbanks

[2020-02-11 13:04] abrookbanks commented on #2464
Definitely sounds like session value mismatch right? We've both talked to Elaine about this.
Session garbage collection time could be the issue. Maybe CubeCarts session time should match the garbage collection time.

[2020-02-11 17:25] bhsmither commented on #2469
Perhaps caused by #2320. Maybe fix for Featured to be implemented on price searching (and everywhere else that adds to the `$where` array?

[2020-02-12 12:02] abrookbanks opened #2471 "Product dimensions not in basket"
These will be required for line item shipping calculators.

[2020-02-12 12:03] abrookbanks commented on #2471
![Untitled](https://user-images.githubusercontent.com/4520803/74333319-9b562e80-4d8f-11ea-87e7-920ef1eefed2.png)

[2020-02-12 12:03] #2471 closed, assigned to abrookbanks

[2020-02-12 18:27] KMatkin opened #2472 "Authorize.Net - Accept Hosted extension typo"
On line 192 of the gateway.class.php file, there is a stray "l" in the cancel url that causes return failure.

[2020-02-13 09:27] abrookbanks commented on #2472
Thanks. Fixed with 1.0.1.

[2020-02-13 09:27] #2472 closed, assigned to nobody

[2020-02-17 11:10] #2459 closed, assigned to abrookbanks

[2020-02-17 11:21] abrookbanks commented on #2462
Good find. Thanks.

[2020-02-17 11:21] #2462 closed, assigned to abrookbanks

[2020-02-17 11:27] #2458 closed, assigned to abrookbanks

[2020-02-17 11:30] abrookbanks commented on #2461
Coincidentally I was looking at this this morning. There are circumstances where the `custom_oid` column can be empty or null. On those grounds it needs to work with either.

[2020-02-17 11:32] #2460 closed, assigned to abrookbanks

[2020-02-17 11:40] abrookbanks commented on #2465
Thanks so much for this Brian.

[2020-02-17 11:43] abrookbanks commented on #2456
Can anyone suggest how they would next expect the user experience flow to go around this?

[2020-02-17 11:56] abrookbanks commented on #2445
Good shout. Thanks.

[2020-02-17 11:56] #2445 closed, assigned to abrookbanks

[2020-02-17 11:57] abrookbanks commented on #2441
I think we would need to look at this as a single case.

[2020-02-17 11:57] #2441 closed, assigned to nobody

[2020-02-17 11:58] abrookbanks commented on #2428
We are no longer developing this extension. Merchants should move over to PayPal Commerce.

[2020-02-17 11:58] #2428 closed, assigned to nobody

[2020-02-17 12:02] havenswift-hosting commented on #2456
The way the PayPal module is written allows these issues to be by-passed.

1) If T&C are required, the ability to checkout should not be allowed
2) Probably need a new setting in the plugin settings "Require entry of delivery notes / comments" and then if ticked, checkout without entry should be disallowed

[2020-02-17 12:05] abrookbanks commented on #2456
I get all that. It's more how the checkout flow is adapted to bring this into it.

I think the easy way is to add it above the "make payment" button.

[2020-02-17 12:08] havenswift-hosting commented on #2428
This needs to be made VERY clear somehow to merchants - there will be a VERY large number using this plugin

[2020-02-17 12:09] abrookbanks commented on #2456
yup.. I think I know how to approach this  :)

[2020-02-17 12:18] russellhurst commented on #2456
For me I think the Paypal Checkout button should only appear on the checkout page and not in the basket.

[2020-02-17 12:19] abrookbanks commented on #2456
That defeats the object of express checkout and would impact conversions.

[2020-02-17 12:19] abrookbanks commented on #2456
I'm on it....

[2020-02-17 12:21] Noodleyman commented on #2456
the PayPal button shouldn't be visible / usable until T&C's are accepted (if required). Notes are optional, so not as critical

This overlaps with: #2405

[2020-02-17 12:22] abrookbanks commented on #2456
No I disagree with that too. They need to be able to see they can checkout quickly with PayPal from the off.

[2020-02-17 12:44] russellhurst commented on #2456
So if either delivery notes or T&Cs required (new option in settings) then could the Paypal button just take them to the checkout page with possibly a message why?

[2020-02-17 12:44] russellhurst commented on #2456
if not required then straight through to PayPal

[2020-02-17 12:49] abrookbanks commented on #2456
I have a good solution..

1. Put the check box above "Make Payment" button. The delivery notes box can still be used.

![1](https://user-images.githubusercontent.com/4520803/74655166-d12a5700-5183-11ea-9f8c-0f8295c071e3.png)

2. Once checked the order is paid for and delivery notes stored against the order.

![2](https://user-images.githubusercontent.com/4520803/74655197-e1423680-5183-11ea-901f-c3

[2020-02-17 13:07] russellhurst commented on #2456
How will it function for a new unregistered user? I'm also keen to get accurate billing & delivery names and addresses if they are directed straight through to PayPal from the basket.

[2020-02-17 13:08] havenswift-hosting commented on #2350
Any chance of getting this date field added for next release please ?

[2020-02-17 13:19] abrookbanks commented on #2456
See the attached screenshots. After they login to PayPal from the basket they get to the screen with "Make Payment". They are then required to accept the T&C's before it will proceed. They can also enter delivery instructions.

For this to work will need to use PayPal Commerce 1.2.1 or higher with the code fix in this post.

Contact support if you want us to do this for you.

[2020-02-17 13:19] #2456 closed, assigned to abrookbanks

[2020-02-17 13:39] Noodleyman commented on #2456
@abrookbanks ,

Does that mean "PayPal pro" is no more, as the fix for PayPal pro appears to be in another module?  How does todays fix work with the PayPal button which is offered to customers via the plugin on checkout pages?

[2020-02-17 14:37] abrookbanks commented on #2456
Before I answer this I need to give you a high level overview of paypal products and our integrations. Bear with me it is complex and confusing!

I'm not even sure where to start but I don't want to go into too much detail.

The old "PayPal Commerce" extension is really "Express Checkout" and "PayPal Pro". PayPal pro has two modes, hosted (to avoid PCI issues) and card payments in a form (which ha

[2020-02-17 15:05] abrookbanks commented on #2350
Always up against it but I will try. The merchant could always sponsor it.

[2020-02-17 16:01] Noodleyman commented on #2456
so, in short... all other PayPal solutions should be considered legacy, and the PayPal Commerce module the go-to module for all things PayPal related (Or Braintree?)

[2020-02-17 16:04] abrookbanks commented on #2456
Yes. I would say that's right.

[2020-02-17 16:33] abrookbanks commented on #2456
Braintree is no longer an option for small merchants. PayPal are taking that arm of the company for larger corporations.

[2020-02-17 17:25] russellhurst commented on #2456
I've been trying to test this (v 1.2.2) but cannot get to the configuration screen.  On working through the 'connect your existing account' I get on completion a 'welcome to paypal' message then on returning to cubecart i'm back to where I started with no configuration settings available. Just the 'connect your existing account'.

[2020-02-17 18:13] abrookbanks commented on #2456
I haven't seen this behaviour before. Is your store at a recent version? I'm happy to look at it without a support contract. support@cubecart.com

[2020-02-17 18:16] abrookbanks commented on #2456
.... If you are not on a recent version it could be a cache bug. On return from PayPal refresh the page and you might find it changes

[2020-02-18 08:51] Noodleyman commented on #2456
I'm assuming that this is one of those modules which requires a FQDN accessible store? the module totally hangs my sessions on my local server when I try to access it, I'm assuming it's a network thing

[2020-02-18 08:54] Noodleyman commented on #2456
Turns out it threw an error:

 Security Warning: Illegal array key "{&quot;authCode&quot;:&quot;C21....... (quite a long key, full error not here for obvious reasons...)  was detected and was removed.
/var/www/html/cubecart/6-2-8/classes/sanitize.class.php on line 114,

Thrown from: ?_g=plugins&type=plugins&module=paypal_commerce

[2020-02-18 08:56] abrookbanks commented on #2456
Yes. PayPal needs to send an auth code back to the store which is then used to download sensitive API keys.

[2020-02-18 08:57] abrookbanks commented on #2456
I use a DDNS service to work locally @ www.brooky.com.

[2020-02-18 08:58] Noodleyman commented on #2456
based on the error in the logs, it looks like it was received and sanitised. it crashed my web server and totally hung my sessions. I had to restart it :o

[2020-02-18 09:00] abrookbanks commented on #2456
No idea WTF caused that! We have quite a lot of merchants using this now.  No _known_ issues.

[2020-02-19 15:36] abrookbanks commented on #2452
It now logs who it was displayed to, when, what and where instead of logging for every page load. This should make the table considerably lighter and probably more useful too.

[2020-02-19 15:49] abrookbanks commented on #2452
This means that per session a maximum of two logs will now be made.

1. The dialogue (where, when and who).
2. Accept or Blocked (where, when and who).

[2020-02-19 15:49] Noodleyman commented on #2452
does it also clean up the several GB of data in the table on upgrade?

[2020-02-19 15:51] abrookbanks commented on #2452
No but there is a tool to purge it in 6.2.9 via the maintenance section. I'm not sure how we can clean it up without deleting all. That could be unfavourable.

[2020-02-19 15:51] Noodleyman commented on #2452
removing all duplicates would help on upgrade,. probably an 90% reduction there ;)

[2020-02-19 15:53] abrookbanks commented on #2452
Yeah could well be.. not sooooo easy though. The log column has no index so an SQL query to do this on upgrade could be rather heavy. I will see what I can do.

[2020-02-19 15:56] Noodleyman commented on #2452
Add an index, select query from one table to a temp table, use group by to reduce dupes, truncate and move back ;)

Shouldn't take too long to do and the upgrade process does suggest grab coffee whilst you wait ;)

[2020-02-19 16:19] abrookbanks commented on #2452
This seems to do the job:

[code]

[2020-02-19 16:25] Noodleyman commented on #2452
I would truncate CubeCart_cookie_consent, it's faster and also resets auto_increment values.

don't forget to drop the temp table ;)

[2020-02-19 16:29] abrookbanks commented on #2452
Some sound advice there! :)

[code]

[2020-02-19 16:30] abrookbanks commented on #2452
It's working well. I don't know if you have a backup of a large old table to try it on?

[2020-02-19 16:33] Noodleyman commented on #2452
sorry, I do not. I clear the table of data before I export as they can be quite large otherwise.

[2020-02-19 16:34] abrookbanks commented on #2452
No probs. I’ll look out for a merchant with a big one.

[2020-02-19 16:34] Dirty-Butter commented on #2452
I have a large one I can try it on - brb

[2020-02-19 16:34] abrookbanks commented on #2452
That sounds a bit dodgy!! LOL

[2020-02-19 16:35] abrookbanks commented on #2452
This is the final code;

[code]

[2020-02-19 16:46] Dirty-Butter commented on #2452
I tried to use it via cpanel one a test store and I'm getting an error message that will not let it run - can't copy paste it, as it disappears on SQL screen - but it's something about A reserved keyword cannot be used as a column name without backquotes (near SELECT)
Also - Atleast one column definition was expected (near SELECT)
Error is on the CREATE TEMPORARY TABLE line

Maybe it's because thi

[2020-02-19 16:49] abrookbanks commented on #2426
It's not actually a bug. The file content will be a timestamp. Crazy world we live in. :)

I will reopen if I am wrong.

[2020-02-19 16:49] #2426 closed, assigned to abrookbanks

[2020-02-19 16:53] abrookbanks commented on #2452
Thanks for trying. I can't see any columns or tables without backquotes. Can you Alec?

No. :) Ignore that. I'm just being weird.

[2020-02-19 16:59] Dirty-Butter commented on #2452
It's underlining SELECT as being the spot of the error on (SELECT * FROM

[2020-02-19 17:00] Dirty-Butter commented on #2452
I don't read weird very well :)

[2020-02-19 17:00] Noodleyman commented on #2452
you don't need brackets for the select * from sub query when used with an insert. maybe that's it (untested)

[2020-02-19 17:13] Dirty-Butter commented on #2452
I took off the parenteses but now I get:
ALTER TABLE `CubeCart_cookie_consent` ADD `log_hash` VARCHAR(32) NOT NULL

MySQL said: Documentation
#1060 - Duplicate column name 'log_hash'

[2020-02-19 17:35] abrookbanks commented on #2452
Ok run just this part...

[code]

[2020-02-19 17:51] Dirty-Butter commented on #2452
It's still complaining about the "a symbol name was expected" SELECT is still underscored.
It did try to run the query however, but results:

Show query box
MySQL returned an empty result set (i.e. zero rows). (Query took 9.1601 seconds.)
CREATE TEMPORARY TABLE `tmp_cookie_table` (SELECT * FROM `CubeCart_cookie_consent` GROUP BY `log_hash`,`session_id`)
[Edit inline] [ Edit ] [ Create PHP code ]
M

[2020-02-19 17:52] Dirty-Butter commented on #2452
Maybe somebody else better try this - I know just enough about all this stuff to be trouble, but not enough to be helpful. LOL

[2020-02-19 17:54] abrookbanks commented on #2452
That's wierd. I don't think it's pasting in what is expected from here. Your error has no bsckquotes in but the code here does.

[2020-02-19 18:00] Dirty-Butter commented on #2452
The backquotes are there - just did not pick them up for some reason on copy/paste. Just to be sure I tried it again - same

[2020-02-19 18:40] abrookbanks commented on #2452
I'm going to close this as I'm confident the fix is good. I'll seek a big database to test it on but it works nicely on a small one.

[2020-02-19 18:40] #2452 closed, assigned to abrookbanks

[2020-02-19 19:33] abrookbanks commented on #2449
Sorry I didn't think this would be used by 3rd party.

[2020-02-19 19:33] #2449 closed, assigned to abrookbanks

[2020-02-20 10:07] abrookbanks commented on #2468
What a mess. I never authored this code so it's a struggle.

[2020-02-20 10:22] Noodleyman commented on #2468
I've never liked the way the search was put together, recycling the category code. It could be massively simplified and segmented from the category product collection methods for backwards compatibility. :)

Every time I am asked to review a change to search I cry a little...

[2020-02-20 10:24] abrookbanks commented on #2468
Christ its a total shambles.

[2020-02-20 10:25] abrookbanks commented on #2468
But I fixed this one..... :ok_hand:

[2020-02-20 10:26] #2468 closed, assigned to abrookbanks

[2020-02-20 10:29] abrookbanks commented on #2468
Pretty confident this fixed #2469 and #2470 too but its hard to tell what the advanced search parameters were.

[2020-02-20 10:30] #2469 closed, assigned to nobody

[2020-02-20 10:30] #2470 closed, assigned to nobody

[2020-02-20 10:34] abrookbanks commented on #2464
There are some really interesting notes here:
https://stackoverflow.com/questions/24337474/ini-set-session-gc-maxlifetime-for-1-day

Essentially I believe the conclusion is that CubeCart setting the session time as 604800 seconds could just be a complete waste of time.

[2020-02-20 10:36] abrookbanks commented on #2464
Using a handler like memcached would be so much better. I know this has been discussed in the past.

[2020-02-20 10:40] Noodleyman commented on #2464
this particular issue fried my brain. I even walked the access logs for a couple of examples to try and figure out the reproduction steps. It appears in most cases it's when somebody added something to their basket, went away then came back "later". Having checked the various session configs I wasn't able to isolate the root cause. I can't confirm it happens every time with the steps to reproduce.

[2020-02-20 10:41] abrookbanks commented on #2464
Yes well doing getting as far as you did. It's a monster.

[2020-02-20 10:43] Noodleyman commented on #2464
one thing I can say with certainty.. time is a factor

[2020-02-20 10:43] abrookbanks commented on #2464
From what I am gathering setting the gc_maxlifetime to match $this->_session_timeout is perfectly fine. But another script in the server with a lower gc_maxlifetime will wipe it out for all.

The problem is other storage methods like memcached aren't available to most merchants.

[2020-02-20 11:37] abrookbanks commented on #2464
I think we can relate this to #1306. I'm keen to get sessions working with memcached especially for our hosted product.

[2020-02-20 11:39] abrookbanks commented on #2464
Damn it. Typo on commit. Please see: a395f16465affb7a82abc86352a206d84369756b

[2020-02-20 11:40] abrookbanks commented on #2463
Please ignore commit above. It's for a different issue. Typo on commit.

[2020-02-20 11:51] abrookbanks commented on #2464
Works really well for me. Hopefully this resolves this issue for merchants using memcached at least.

![Untitled](https://user-images.githubusercontent.com/4520803/74931340-4e99d580-53d7-11ea-8a2c-8ba06c620c3f.png)

[2020-02-20 12:04] abrookbanks commented on #2455
Thanks!! :)

[2020-02-20 12:04] #2455 closed, assigned to abrookbanks

[2020-02-20 12:25] #2448 closed, assigned to abrookbanks

[2020-02-20 14:55] abrookbanks opened #2473 "Allow for 3rd party category assign to add/edit product page"
This could be useful for feeds other then Google Base.

[2020-02-20 14:56] #2473 closed, assigned to abrookbanks

[2020-02-21 12:23] havenswift-hosting opened #2474 "Nochex plugin does not contain description"
The Nochex plugin does ask for / store an alternative description as all / most other payment plugins do - simple one line to add

[2020-02-23 23:01] bhsmither opened #2475 "Misleading Error Message"
In `Cart->discountAdd()`, if the `$order` in which a Gift Card was purchased is not in status 2 or 3, an error message is displayed that says:
"Sorry but that code can't be used against an order of this status."

Considering that the error is displayed against a customer attempting to apply it to their **current** purchase, the phrase is misleading.

Suggest:
"Sorry, but this Gift Certificate is i

[2020-02-23 23:24] bhsmither commented on #2461
I think this edit does not answer the secondary question of **why use the `Cart_order_summary.id` value** for the `custom_oid` when in Incremental mode where the `custom_oid` column is currently *null* or a *zls*.

Wouldn't it make more sense to use the existing `cart_order_id`?

In admin, Promotional Codes, Gift Cards tab, there is:
[code]
For example, for orders made before switching over to Inc

[2020-02-25 08:40] abrookbanks commented on #2474
Done  with NochexAPC-2.3.zip thanks Ian.

[2020-02-25 08:40] #2474 closed, assigned to nobody

[2020-02-25 09:04] abrookbanks commented on #2461
Let me know if I missed the boat on this one. I tested this and it seems fine.

[2020-02-25 09:04] #2461 closed, assigned to abrookbanks

[2020-02-25 09:07] abrookbanks commented on #2475
Thanks!

[2020-02-25 09:07] #2475 closed, assigned to abrookbanks

[2020-02-25 09:17] #2424 closed, assigned to abrookbanks

[2020-02-25 09:35] #2457 closed, assigned to abrookbanks

[2020-02-25 09:37] abrookbanks commented on #2451
Changing the MC_OID value could have a consequence on getting the order status to update.

[2020-02-25 09:37] #2451 closed, assigned to nobody

[2020-02-25 09:38] abrookbanks commented on #2451
Closing this for now as it's something that may affect most gateways. I'm not sure what the best course of action is. I can't update every extension.

[2020-02-25 09:55] abrookbanks commented on #2450
Good find. Thanks

[2020-02-25 09:55] #2450 closed, assigned to abrookbanks

[2020-02-25 10:05] abrookbanks opened #2476 "Missing border-radius in CSS"

[2020-02-25 10:06] #2476 closed, assigned to abrookbanks

[2020-02-25 10:06] abrookbanks commented on #2464
Closing this as I feel this is a positive step to help improve stability. We need to keep this in our minds and recommend memcached where possible.

[2020-02-25 10:06] #2464 closed, assigned to abrookbanks

[2020-02-25 10:15] abrookbanks commented on #2439
This is disappointing because Brians method seems like a really solid solution where was ask for a specific value and not just the last insert id from any table!

It seems to me like it could be taking the last insert ID from the tax table of you are charging tax to your home state.

[2020-02-25 10:54] abrookbanks commented on #2466
When you say no longer available, have you deleted the product, set the status to disabled or removed the matrix entry?

[2020-02-25 11:03] abrookbanks commented on #2454
Let me know if this isn't an acceptable solution.

[2020-02-25 11:49] Noodleyman commented on #2466
disable an option which makes up a matrix item. (set option status to disabled)

[2020-02-25 11:50] Noodleyman commented on #2454
the references need to be user defined via admin area so it can be aligned with other systems as needed.

[2020-02-25 12:08] abrookbanks commented on #2466
Thanks. I'll try it.

[2020-02-25 13:08] abrookbanks commented on #2434
Thank you!

[2020-02-25 13:08] #2434 closed, assigned to abrookbanks

[2020-02-25 13:22] abrookbanks commented on #2414
Implemented in AllInOneShipping-1.0.16.zip. All seems to be working well. Thank you.

[2020-02-25 13:22] #2414 closed, assigned to abrookbanks

[2020-02-25 13:47] abrookbanks commented on #2438
e.g.
![Untitled](https://user-images.githubusercontent.com/4520803/75252852-60171f00-57d5-11ea-95d7-e1355bf62f66.png)

[2020-02-25 13:47] #2438 closed, assigned to abrookbanks

[2020-02-25 15:19] abrookbanks commented on #2433
That makes sense. Thank you.

[2020-02-25 15:19] #2433 closed, assigned to abrookbanks

[2020-02-25 15:21] abrookbanks commented on #2425
Thank you!

[2020-02-25 15:21] #2425 closed, assigned to abrookbanks

[2020-02-25 15:31] abrookbanks commented on #2442
Thanks guys.

[2020-02-25 15:31] #2442 closed, assigned to abrookbanks

[2020-02-25 15:44] #2427 closed, assigned to abrookbanks

[2020-02-25 15:50] abrookbanks commented on #2421
Thank you. Thats a great contribution. JSON issue next..

[2020-02-25 15:52] Noodleyman commented on #2421
Did you manage to find any further refinements that could be made? this specific feature still kills performance, although not as much with the changes noted above.

On the store in question, we currently have over 400,000 valid matrix records, almost every product uses it and it makes the admin area painful to use sometimes depending on the product complexity.

[2020-02-25 15:54] abrookbanks commented on #2421
How many rows in the table?

[2020-02-25 15:54] Noodleyman commented on #2421
revised comment above. around 400,000

[2020-02-25 22:20] Dirty-Butter commented on #2439
I would agree with that. You just have to remember that my pre-coid code was using an old SFWS Incremental Order Number plugin. I did everything I could think of to scrub any code or references to code out of my install and database - but maybe I was not successful and likely never will be now.

[2020-02-26 03:01] bhsmither opened #2477 "Unexpected Value for Function Argument"
In `Order->_updateOrder()`, near line 1572, the variable `$digital` comes into existence only under one condition.

However, when deleting removed digital items, the test near line 1592 assumes that the variable `$digital` exists.

That might not be the case. If `$digital` does not exist, PHP will log an error.
"PHP Warning:  in_array() expects parameter 2 to be array, null given."

[2020-02-26 14:25] #2477 closed, assigned to abrookbanks

[2020-02-28 00:24] bhsmither opened #2478 "Grammer"
In `maintenance.index.php`, line 52, there is:
[code]
In the USA, we say:
Looking for automated hourly backups **of** your files and database?

[2020-02-28 08:54] abrookbanks opened #2479 "Check for mbstring on setup"

[2020-02-28 08:55] abrookbanks commented on #2478
My dyslexia beats me again. You are right.

[2020-02-28 08:57] abrookbanks commented on #2478
Thanks.

[2020-02-28 08:57] #2478 closed, assigned to abrookbanks

[2020-02-28 09:03] #2479 closed, assigned to abrookbanks

[2020-02-28 10:39] abrookbanks opened #2480 "Add hook to allow export feeds to write to file"

[2020-02-28 12:24] #2480 closed, assigned to abrookbanks

[2020-02-28 12:24] abrookbanks opened #2481 "Cookie Consent Table can have empty logs"
[code]

[2020-03-01 20:30] bhsmither opened #2482 "Update Stated Version of PHP"
In /setup/index.php, line 257 should match line 258, re PHP version.

[2020-03-02 08:38] abrookbanks commented on #2482
This was subtly slipped in here already https://github.com/cubecart/v6/commit/d697fbc993726708b1ea7cc6edff5341f22a5058

Of course you weren't to know especially as no issue was opened.

Thanks Brian. I hope you had a terrific weekend.

[2020-03-02 08:38] #2482 closed, assigned to abrookbanks

[2020-03-02 08:49] abrookbanks opened #2483 "Disabled Setting for Timezone should say "User default server time""

[2020-03-02 09:55] #2481 closed, assigned to abrookbanks

[2020-03-02 10:15] abrookbanks commented on #2483
![default_timezone](https://user-images.githubusercontent.com/4520803/75666998-bfaa7a00-5c6e-11ea-963a-6f600f02d8c2.png)

[2020-03-02 10:15] #2483 closed, assigned to abrookbanks

[2020-03-02 16:46] bhsmither commented on #2482
Sorry, no.
[code]
**PHP 5.5+** in 'title' to match 'status'.

[2020-03-04 08:27] abrookbanks opened #2484 "Request log can be impossible to read when entries are long"

[2020-03-04 08:34] #2484 closed, assigned to abrookbanks

[2020-03-04 08:41] abrookbanks commented on #2484
![Untitled](https://user-images.githubusercontent.com/4520803/75860570-f362dc80-5df3-11ea-9681-e3a95aba4d5e.png)

[2020-03-08 22:54] bhsmither opened #2485 "Database User to have Permission Create Temporary"
In my database manager, there is a separate permission to `CREATE TEMPORARY TABLES` vs `CREATE`.

See: https://dev.mysql.com/doc/refman/5.6/en/create-temporary-table.html

Please request commentary from known hosting companies regards their default user permissions on the database.

For myself, not having to have been bothered with temporary tables before, none of the users on my dev server have b

[2020-03-09 04:52] bhsmither opened #2486 "Template Code Review"
In the template `element.paginate.php`, please review the reason why the unordered list is hidden for small only.

Currently, any more than five reviews are not available. (Unless I missed something.)

[2020-03-09 21:41] bhsmither opened #2487 "Deprecated Issue"
PHP 7.4.0+ is complaining about `dashboard.index.inc.php`, line 267:
**implode()**: Passing glue string after array is deprecated. Swap the parameters

[2020-03-10 07:11] bhsmither opened #2488 "Deprecated Issue #2"
In `language.class.php`, line 716, using braces for string offsets is deprecated as of PHP 7.4.

See:
https://wiki.php.net/rfc/deprecate_curly_braces_array_access
https://www.php.net/manual/en/migration74.deprecated.php
Seems the actual doc page has not been updated:
https://www.php.net/manual/en/language.types.string.php#language.types.string.substr
"String access and modification by character"

[2020-03-10 07:25] bhsmither commented on #2488
As well as:
`settings.language.inc.php`, line 116
`products.options.inc.php`, line 55

[2020-03-11 08:30] bos4711 opened #2489 "Merge customers"
More than once time the same users have registered multiple accounts. That is, same physical shipping address, only the email address is changed. This was not a problem in the beginning, but it's starting to be. The ability to merge all these duplicates would save a lot of confusion in the long run.

I'm thinking something like this:

1. Select a customer (no 1)
2. In the customer, a tab / button

[2020-03-11 09:31] bhsmither commented on #2489
A follow-on step would need to be an email sent to the customer advising of this action.

The **customer should realize** that with a new email address (as new account), the purchase history of the prior account is not available. But if not, the email should mention both emails being used, and which one the admin gave priority to. Also include a link to reset the password, if starting to use a new

[2020-03-11 10:41] bhsmither opened #2490 "PHP 7.4 Issue #3"
In `catalogue.class.php, line 1317, PHP 7.4 will be issuing notices about accessing variables as if they were arrays, but actually aren't. (1)
[code]
`basket` might not be an array.

Find in `cart.class.php`, line 1095:
[code]
`basket` might not be empty, but it might also not be an array.

Right now, as of PHP 7.4.3, **Notice** is issued. That may change.

(1) https://wiki.php.net/rfc/notice-for-

[2020-03-11 12:31] bos4711 commented on #2489
Fair point. I did not consider that. However, for my particular case, I have about 5-10 unique customers that have atleast three accounts (different emails). I am not sure why they have done this, but it is clear it's one single user per multiple account so a merge would be beneficial for everyone.

I think.

[2020-03-12 01:37] bhsmither opened #2491 "Unchecked Variable Type for Function"
In `dashboard.index.inc.php`, near line 269, `$customers` may come back as boolean false (however unlikely that may be).

The next line assumes that `$customers` is something that can be iterated over.

[2020-03-12 01:43] bhsmither commented on #2491
Then, if `$customer_type` never gets set, PHP 7.4 will complain about line 285 (but not yet about line 286) with using an array offset on a container that does not exist.

[2020-03-12 09:43] abrookbanks opened #2492 "Add instructions about how to link to public files"
As above.

https://www.example.com/files/public/file.zip

[2020-03-12 12:01] Noodleyman opened #2493 "SQL Query - SQL_CALC_FOUND_ROWScauses performance problems"
I've started to log and address poor performing SQL queries, I am seeing an issue where SQL_CALC_FOUND_ROWS is used, as this causes index avoidance and unnecessary data to be reviewed, thus adds a significant overhead. Take this example:

Note. I do not necessarily consider this a "problem", but I do see it in the wild causing slow downs, should be a simple change and could unlock some reasonable

[2020-03-12 12:13] havenswift-hosting commented on #2493
SQL_CALC_FOUND_ROWS is well known for causing significant performance issues especially on larger tables and I raised it several years ago and agree that a rework would be very helpful.  Also note that while not an immediate issue as most people arent even using MySQL 5.7 yet, SQL_CALC_FOUND_ROWS is deprecated in V 8.0 and will be removed quickly after that

[2020-03-12 12:18] Noodleyman commented on #2493
It's only called in two locations within CubeCart.

catalogue.class,
database.class

one being a manual query, one being automated as part of the DB class. a rework of the select() function could solve this entirely, thus minimal effort, potentially a vast boost in performance

[2020-03-12 14:55] bos4711 opened #2494 "Customers sorted by orders gives incorrect result"
In the admin interface, I click "Customers", then column "Orders", then column "Orders" once again. Expected result here is to see the list of customers sorted by descending amount of orders. Actual result is that I see my test user, with 0 orders, appearing in this list.

Reproducable every time.

CubeCart Version
    6.2.8
PHP Version (7.2 Recommended)
    7.3.15
MySQL Version
    5.5.5-10.3.21-

[2020-03-12 20:45] bhsmither commented on #2493
Is `select count(1)` returning how many rows are in the SELECT statement enclosed in parenthesis? If so, my experiment shows a result of 20. (My dev server has 140 rows in this table.)

So, asking for a count of a `LIMIT 20` recordset is asking for the wrong thing.

CubeCart has used a procedure of sending a follow-on query without the SORT, LIMIT, and OFFSET parts, and having PHP count the number

[2020-03-13 05:23] bhsmither commented on #2490
Same for `customers.index.inc.php`, line 534. `$smarty_data` comes into existence only if there are enables external modules that are actually present.

If there is an enabled external module but that folder does not exist, PHP 7.4 will issue a Notice about `$smarty_data['customers_export_list']` saying 'Array access on null'.

Suggest line 331 (blank):
[code]

[2020-03-13 08:53] abrookbanks opened #2495 "Login as user need a warning that it only works if admin is in SSL"
As above. Assuming SSL is on.

[2020-03-15 18:01] bhsmither opened #2496 "Orders List in Admin"
In orders.index.inc.php, line 17, `$order` gets the instantiation of the Order class.

When the Order class gets instantiated, it wants to fetch `$GLOBALS['cart']->basket`. However, `$GLOBALS['cart']` does not exist. PHP 7.4 issues:
[code]
As of now, admin's Orders doesn't need to do anything with Cart.

Perhaps add *false* as an argument to `Order::getInstance()` and coding `Order::__construct()`

[2020-03-15 18:42] bhsmither opened #2497 "Bad Argument for Loop"
In `settings.index.inc.php`, it is possible that the foreach argument `$fields_find` at line 58 may not exist if:
* Store Settings set Incremental Order Mode
* Database fails to honor TRIGGER permissions (that is, `$oid_data` is false-like)

FYI: I installed MariaDB and did not switch off the binary log. I got:

http://wiki.ispirer.com/sqlways/troubleshooting-guide/mysql/import/binary-logging

[2020-03-17 23:56] bhsmither opened #2498 "Code Review for Debug Class"
All information I have been reading states that, other than PHP's built-in error handler, there can be only one custom error-handler in a running script.

I see that Smarty registers an error handler, then the Debug class registers its error handler -- knocking out Smarty's.

This **may** explain why template coding errors, almost always, do not show up in PHP's error_log file (if enabled).

But b

[2020-03-18 03:33] bhsmither commented on #2498
Oops! My bad. (I was experimenting...)

Debug comes first and Smarty takes note of it. Then clobbers it.

Still tracing it out (the correct code) as explained above.

[2020-03-20 03:24] bhsmither commented on #2498
Explaining Smarty template coding errors involves the fact that Smarty throws exceptions, and it is up to the package that uses Smarty to deal with it.

The Debug class has an exception handler, and does cause a message to be written to the database.

However, I would like to see the Debug exception handler create an Error (trigger_error), but the `Debug->errorLogger()`, `$error_no` argument, is e

[2020-03-22 23:30] bhsmither commented on #2498
This is what I did:
[code]
This gets me an entry in PHP's **error_log**:
[code]
There is info here that makes interpreting the fault message confusing, unless one knows what to specifically look for.

With some *regex* on the message, it could be cleaned up: drop the location that threw the exception, drop the location that called `trigger_error()` - but only for Smarty-thrown exceptions.

[2020-03-23 10:06] abrookbanks commented on #2497
Surely it will always have a value from the else statement off the back of;

`if ($_POST['config']['oid_mode']=='i') {`

[2020-03-23 12:17] NiteTowerDesign opened #2499 "$SKIN_SUBSET caching issue in Foundation skin"
I recently ran in to a bug with one of my skins relating to the skin changer feature which got inherited from the Foundation skin.

The Foundation skin checks for $SKIN_SUBSET in element.css.php and adds it to the $css_input[] array which caches the style if caching is enabled. Now this isn't a problem by default as Foundation has no subset styles but for anyone who follows foundations core coding

[2020-03-23 13:54] bos4711 opened #2500 "Feature request: Clickable items in order overview"
When browsing the order overview, it would be really nice to have the items clickable. Clicking an item would get me directly to the product page for that particular item.

[2020-03-23 13:54] bos4711 commented on #2500
![2020-03-23_145201](https://user-images.githubusercontent.com/11036018/77323889-3db1ec00-6d16-11ea-97c9-7fada0ebfcb8.png)

[2020-03-23 16:30] bhsmither commented on #2497
The first condition above hits the 'true' part of the mentioned `if` block. The `else` part is moot.

The second condition above hits the 'true' part of the
[code]
block. The `else` part is moot.

[2020-03-23 16:51] havenswift-hosting opened #2501 "Make memcache session caching optional"
If a site uses memcache / memcached for normal caching, it now automatically uses it for session handling as well - it is very important that this should be optional - ideally giving a choice of other methods but initially allowing file session handling

[2020-03-23 17:12] abrookbanks commented on #2501
Why? It works very well.

[2020-03-28 08:53] Noodleyman opened #2502 "BUG: Gift Certificate product code"
If the product code of a gift certificate happens to be numeric, and by chance happens to match an existing product_id in CubeCart_inventory, when you try to buy a gift certificate the product with  matching ID is added to the cart instead making it impossible to purchase the gift card.

[2020-03-30 09:15] bhsmither opened #2503 "Difference in Cookie Code"
Compare:
`CubeCart->loadPage()` where `_g=ajax_cookie_consent`. The variable `$dialogue` represents the response choice and is logged.

With:
`GUI->_displayCookieDialogue()`, where the variable `$dialogue` represents the advisory text - **not the response choice** - which is logged. The variable `$accept` is not used (that is, provided it arrived via POST).

Suggest re-working the function `_displ

[2020-03-30 09:25] bhsmither commented on #2503
And I'm not sure the point of MD5'ing the response chosen (a hard-coded phrase), or the `notification['cookie_dialogue']` (which I suppose the text of the advisory could change over time). (Unless the GUI function gets edited to log the response.)

[2020-03-31 14:33] havenswift-hosting commented on #2501
Everything works well until it doesnt - and there could be any number of reasons for that

Every other package configures caching, session management and where available, FPC separately with each being able to be enabled or use different methods and just offers flexibility.

For example, in CC, if you are using memcached for caching and disable caching,  session management still uses memcached and

[2020-04-02 08:55] Noodleyman opened #2504 "the stock_level value in the $product array should be a single value"
When using options, the stock level can return a range, for example 0 - 2. This field should only ever return a single number and be the stock level value from the inventory table. A new field should be added to hold stock level ranges.

This is causing a problem with some modules, because the range is treated as math. "0 - 2 = -2", which makes the stock level evaluations incorrect.

[2020-04-03 05:07] bhsmither opened #2505 "Code Review: Casting Fault"
It could happen...

In `Catalogue->getProductData()`, near line 1051, the variable `$product_id` is being cast to an integer.

Even though `$product_id` is `@param` as an integer, legitimately this could be an array.

Casting from an array to an integer is undefined - although I have never seen an error be thrown from doing it - not having made extensive experiments.

[2020-04-03 05:34] bhsmither commented on #2504
Interesting that the value of a string variable is being eval'd.

But this is interesting:
[code]
It suggests that when casting that string to an integer, the leading zero is ignored (discarded), and the remaining character sequence is valid for a negated integer.

I wonder what the string "3-6" shows up as in your code.

[2020-04-03 07:04] Noodleyman commented on #2504
I'll have to test it, I suspect you are correct. Ideally, multiple values should each have their own element in the array rather than combined.

it's a simple evaluation of the stock level v's a value. for example,

if($product['stock_level'] >= 1){
// in stock
}else{
// out of stock (if stock control is enabled)
}

however, given the 0-2 (thus negative 2), it's out of stock.

[2020-04-04 17:13] bhsmither opened #2506 "Code Review: UPDATE Query"
In `User->addOrder()`, the query is updating the user's order count using `DATABASE->misc()` without setting the `cache` parameter to false.

Assuming this then causes `MySQLi->_execute()` to cache the query and result, which is not an array.

Thus, in the `if ($cache_check)` blocks, the PHP function `sizeof()` faults.

Examining the query in `addOrder()`, I believe using the `Database->update()`

[2020-04-05 19:49] bhsmither opened #2507 "Code Review: What Makes a Product Digital?"
With respect to `products.index.inc.php`, near line 84, the question is:

Would the presence of a value in `digital_path` be all that is required to declare the product as being digital? That is, regardless of `digital` being empty. (Maintaining that something in `digital` also declares the product as being digital.)

If so, this answers the criticism that flagging `digital` with 1 collides with 1

[2020-04-07 04:59] mapsedge opened #2508 "Register/New Customer cart form: jquery.validation failing on ajax call"
CubeCart v6
Windows Server 2012, IIS 10
Chrome 80.0.3987.149 , Firefox 74.0.1, on Windows 10

jQuery.validation appears to add elements to a stack, then performs an ajax call for server-side validations, specifically email in this instance (about line 1538 in ver.1.17). It appears to be designed such that the form is submitted when the stack is emptied by the **success** method.

When the ajax cal

[2020-04-07 18:24] bhsmither opened #2509 "Language Editor Tweaks"
Because the language phrase edit text entry boxes are 'disabled' until clicked on, and it will not recognize being clicked on when disabled...

Suggest removing the `title` attribute from the textbox/textarea form element, and then adding an edit icon just to the immediate left of the text entry field, with a `title` attribute saying "Click to edit".

[2020-04-08 08:53] Noodleyman opened #2510 "Hook Request - seo.class.php"
Hook required in the buildURL function to allow manipulation of URL, or refinement of the selection of records from CubeCart_seo_urls table if more than one record is returned by a query.

Multiple modules, including some of my own add data to the SEO URL table and via a new column add a flag to highlight this data is for a custom purpose. this can, in some cases cause multiple records to be retur

[2020-04-11 22:19] bhsmither commented on #2509
Or, using the `span class="editable">` idea.

[2020-04-14 14:30] havenswift-hosting opened #2511 "Error log is impossible to read when messages are long"
Ref https://github.com/cubecart/v6/issues/2484

Same issue with error log especially with smarty errors

[2020-04-15 09:57] bhsmither opened #2512 "Dashboard Stock Level List May Show Incorrect Records"
In `products.index.inc.php`, near line 1038, ineligible records in `CubeCart_option_matrix` are updated by setting their status to 0. This could happen when an option is removed from being included in the Option Matrix Table.

The records remain.

However, the code to show stock warnings on the Dashboard will actually show `M_stock_level` because `M_use_stock` is enabled.

[2020-04-15 11:28] abrookbanks commented on #2511
Have you got a screenshot? From what I see they wrap nicely.

[2020-04-16 04:28] bhsmither commented on #2490
And cubecart.class.php, line 2302.

[2020-04-16 04:53] bhsmither opened #2513 "Admin Gift Cards to Have RTE"
Feature Request:

Add a Content tab and CKEditor to allow for additional content on the storefront Gift Card purchase page (similar to Contact Us).

[2020-04-16 18:58] bhsmither opened #2514 "Stock Level Incorrect Order->_manageStock Processing"
I see a potential issue - but not yet verified.

For an order currently at Pending, if the **store settings** say to decrease stock when the order goes to Processing or Completed, yet the currently Pending order is then Declined, Failed, or (especially) Cancelled, the stock level is increased without having first been decreased.

See #1960.

[2020-04-16 19:01] bhsmither commented on #2514
Oh, wait. I now see that a test is made to determine if the stock level has already been updated via a previous process. If not, no adjustment is performed.

[2020-04-17 18:34] bhsmither commented on #1225
I also left this as a comment on the commit:

If `count($years)` does not equal zero, where does `$min_year` come from?

With respect to that and `$max_year`, are we just assuming the query will return the recordset in `'order_date'` order (as far as being clumped by year)?

For example, *suppose* `$result[0]` just happened to be from 2020, and `$result[1]` just happened to be from 1994. While not

[2020-04-19 02:13] bhsmither opened #2515 "Coupon's Last Newly Added Assigned Product May Post Twice"
When adding assigned products to a coupon, the Add Product item does not clear out when clicked on the white-plus-green-circle.

Thus, when saving, both the item listed in the Add Product section and the same item now newly listed in the Assigned Products section is in the POST.

And, (at least for me) when examining `CubeCart_coupons.product_id`, the serial string shows both instances.

Suggest w

[2020-04-19 03:01] bhsmither opened #2516 "Admin Product List for Digital Item Stock May Be Misleading"
Set a digital product to `Use Stock Level:checked` and `Stock Level:0`. (Clear Cache.)

Verify storefront indicates the digital product is Out of Stock.

View admin's Product Inventory main list.

Note that the stock column for the digital item shows infinity.

In products.index.inc.php, near line 1220, there is this:
[code]
Considering `Catalogue->getProductStock()` respects 'use_stock_level' eve

[2020-04-19 04:49] bhsmither commented on #2490
And catalogue.class.php, near line 1374, where `$products_matrix` could be false, causing complaints about the next line.

Suggest wrapping `$products_matrix` in an `if((expression)!==false)` test and the following six lines in the true block.

[2020-04-23 08:16] abrookbanks commented on #2511
Sorry I can't reproduce this.
![Untitled](https://user-images.githubusercontent.com/4520803/80075763-1af83a80-8543-11ea-8ba1-80fcf7b9b8dd.png)

[2020-04-23 08:17] abrookbanks commented on #2511
I will reopen with further info. Thanks Ian.

[2020-04-23 08:17] #2511 closed, assigned to nobody

[2020-04-23 08:19] #2510 closed, assigned to abrookbanks

[2020-04-29 04:16] bhsmither opened #2517 "Missing Data Item for Template - (bool) Discount"
In the template `content.receipt.php`, lines 110-116 provide for showing the total of the discounts applied to the order.

Yet, in `CubeCart->_complete()`, there is no code that assigns anything to $DISCOUNT.

Thus, the customer is not reminded of whether any coupon or GC had been applied resulting in what seems like a miscalculation in the figures shown.

Suggest adding a banner message within co

[2020-04-29 10:41] #2500 closed, assigned to abrookbanks

[2020-04-29 10:41] abrookbanks opened #2518 "Administrator overview tab is badly formatted"
![Untitled](https://user-images.githubusercontent.com/4520803/80587395-63659b80-8a0e-11ea-9884-35e28badf6d6.png)

[2020-04-29 10:43] abrookbanks commented on #2518
![Untitled](https://user-images.githubusercontent.com/4520803/80587529-9f98fc00-8a0e-11ea-85eb-eefc21d8d15d.png)

[2020-04-29 10:43] #2518 closed, assigned to abrookbanks

[2020-04-29 11:27] abrookbanks commented on #2495
![Untitled](https://user-images.githubusercontent.com/4520803/80590964-b93d4200-8a14-11ea-8a25-fc875331dc76.png)

[2020-04-29 11:27] #2495 closed, assigned to abrookbanks

[2020-04-29 13:52] abrookbanks commented on #2490
Thanks for this. I think it's best however to define an array like;
[code]

[2020-04-29 13:52] #2490 closed, assigned to abrookbanks

[2020-04-29 13:57] #2513 closed, assigned to nobody

[2020-04-29 14:04] abrookbanks commented on #2517
I don't see why when we can just add the logic to assign `$DISCOUNT`?

[2020-04-29 14:08] abrookbanks commented on #2506
Cache disabled but keeping misc which works ok.

[2020-04-29 14:08] #2506 closed, assigned to abrookbanks

[2020-04-29 14:17] abrookbanks commented on #2504
Why should it be a single value and if so which (or an average)? Do we think it should always take the min value > 0?

Can you explode if there is hyphen and then wrong from max/min?

[2020-04-29 14:36] #2502 closed, assigned to abrookbanks

[2020-04-29 14:45] havenswift-hosting commented on #2502
That's a novel solution !

However, the message displayed should say "Gift Certificate code can not be numeric." instead of "Product....."

[2020-04-29 14:47] Noodleyman commented on #2502
Also needs to fix any existing codes that meet the criteria on update

[2020-04-29 14:58] abrookbanks commented on #2502
It's the product code field so message makes sense.

[2020-04-29 15:10] abrookbanks commented on #2502
Updated product code on upgrade

[2020-04-29 15:54] bhsmither commented on #2517
Some people, **if they over-think it**, may worry that their coupon or GC submission has been 'consumed'.

Maybe a mention of the balance of a GC once CubeCart knows about it, having it in the basket?

[2020-05-04 08:20] #2497 closed, assigned to abrookbanks

[2020-05-04 12:46] #2489 closed, assigned to nobody

[2020-05-04 12:48] abrookbanks commented on #2487
Thanks! :)

[2020-05-04 12:48] #2487 closed, assigned to abrookbanks

[2020-05-04 13:37] abrookbanks commented on #2488
Thanks

[2020-05-04 13:37] #2488 closed, assigned to abrookbanks

[2020-05-04 13:46] #2485 closed, assigned to nobody

[2020-05-05 08:23] #2486 closed, assigned to abrookbanks

[2020-05-05 08:36] #2496 closed, assigned to abrookbanks

[2020-05-05 08:39] abrookbanks commented on #2517
That would be cool as a feature request. There should be a section to show balance and usage in their account profile.

[2020-05-05 08:39] #2517 closed, assigned to abrookbanks

[2020-05-05 09:11] abrookbanks commented on #2508
Thanks for the technical report but can you give basic steps to reproduce this issue?

There are no known issues with any of the form validation with the most recent release and default skin. This isn't an issue I have been able to reproduce.

[2020-05-06 06:57] bhsmither opened #2519 "Coupon and GC Codes to be UTF-8 Capable"
Feature Request:

For our non-English speaking users, request that GC and Coupon codes using UTF-8 characters survive the `preg_replace()` near line 55 in `products.coupons.inc.php`.

(I have not tested this.)

See:
https://www.php.net/manual/en/function.preg-replace.php#106981
https://www.php.net/manual/en/reference.pcre.pattern.modifiers.php#103348

[2020-05-07 08:15] Josh707 opened #2520 "Square Extension - Google pay and Apple Pay button not showing."
Hello I am new to using Cube Cart still, I have set up the Square payment gateway extension, I tested it out by going to the storefront of my website, I went to order something, but the Apple Pay and Google Pay buttons are not showing, how can I fix this?

Thanks
Josh

![2F1BD262-8304-4E77-8A16-E13991C01631](https://user-images.githubusercontent.com/64953408/81270833-a5d24c80-908e-11ea-9692-30d02d

[2020-05-11 09:52] abrookbanks commented on #2520
Odd. It looks like there may just be a CSS clash.

[2020-05-14 02:27] Josh707 commented on #2520
The Square payment by card didn’t work either when I tested it, towards the end after I entered card details and it came up with some error when I wanted to go ahead, anyway for now PayPal will do.

[2020-05-15 07:38] Noodleyman opened #2521 "GTIN code is missing at the Option Matrix level"
Required as some option combinations have different GTIN numbers than the parent product.

[2020-05-15 08:15] havenswift-hosting commented on #2521
It would be great (would need all barcode options, rather than just GTIN) if this could be added ASAP as been a major headache for quite a few sites for a long trime

[2020-05-17 02:52] bhsmither opened #2522 "ACE Editor Tweak"
Regarding the offset-ness of the text insertion cursor with respect to the actual text, here is a tweak to fix it:
[code]
There is interference caused by layout.css near line 517:
[code]

Also, suggest:
[code]
The above will enable wrap mode correctly. Otherwise: `misspelled option "useWrapMode"`.

Also, suggest upgrading to ACE 1.4.10 -- but so far, haven't noticed any changes that make the upgra

[2020-05-18 05:07] bhsmither commented on #2522
I just found `#php_code{}` in layout.css, near line 1166. Maybe add the new declaration there.

Also, I finally got Monaco (mostly) working. There is some interference with a rule(s) in layout.css that I am tracking down now.

[2020-05-18 18:23] bhsmither commented on #2522
Regarding Monaco, see:
`https://github.com/microsoft/monaco-editor/issues/1916`

The problem is the same with CubeCart with respect to setting all `tab_content` with `display:none`.  Then having javascript showing one of them on `$(document).ready()`.

[2020-05-20 20:55] bhsmither opened #2523 "Issue #2329 Went Too Far"
For #2329, if an admin has **any** section set to Read Only ('level' = 1), then the Save button is removed...

**Even if** there are other sections to which permission is given to Edit and/or Delete.

[2020-05-21 10:33] abrookbanks commented on #2522
Thank you that has bugged me for a LONG time.

[2020-05-21 10:33] #2522 closed, assigned to abrookbanks

[2020-05-21 11:20] havenswift-hosting commented on #2501
Any chance of getting this into the next version as still seeing problems with multiple sites with session management using memcached.  Current CubeCart coding forces session management to be memcached in standard caching uses that

[2020-05-21 11:22] havenswift-hosting opened #2524 "Feature request : admin option to clear sessions"
It would be great to have a feature to clear sessions both within the CubeCart table and also the corresponding session file.

A small admin option under maintenance to clear all and also to be able to select by IP address

[2020-05-23 20:01] dieseld23 commented on #2520
I'm having the same issues as above.

[2020-05-26 02:22] bhsmither opened #2525 "Syntax Error"
In Foundation, content.checkout.small.php, line 125, the `</td>` should be a `</tr>`.

[2020-05-26 11:37] #2525 closed, assigned to abrookbanks

[2020-05-27 07:58] abrookbanks commented on #2524
I think this is a good idea but it would be interesting to know why?

[2020-05-27 07:59] abrookbanks commented on #2508
I will reopen once we have more info.

[2020-05-27 07:59] #2508 closed, assigned to abrookbanks

[2020-05-27 08:10] abrookbanks commented on #2523
Reverted.

[2020-05-27 08:10] #2523 closed, assigned to abrookbanks

[2020-05-27 08:19] #2501 closed, assigned to abrookbanks

[2020-05-27 08:27] abrookbanks commented on #2501
Note added to https://support.cubecart.com/hc/en-gb/articles/360003831737-How-do-I-enable-APC-Memcached-Redis-or-xCache-

[2020-05-27 08:32] havenswift-hosting commented on #2501
Many thanks Al !  Any ideas on what is causing the odd problems with session management when using memcached ?  Would much prefer to use memcached for sessions but for some sites, the problems seem worse than others, so much so that have to switch off memcached completely - we had exchanged some emails about this previously for reference

[2020-05-27 08:35] abrookbanks commented on #2501
The only issue I have found is that on submit whilst editing a product it in rare occasions logs the admin user out. Can you remind me of your findings?

[2020-05-27 09:09] havenswift-hosting commented on #2501
That is the issue but for some sites it is not just rare occasions and makes product editing impossible as logging out (and not saving the changes) happens 75% or more of the time

[2020-05-27 09:16] abrookbanks commented on #2520
Can one of you please contact support@cubecart.com and provide access to your server so I can investigate for you? I will then get this fixed and release a patch.

[2020-05-27 09:44] abrookbanks commented on #2524
This is more complex than first thought. Isn't everything?!

[2020-05-27 10:21] abrookbanks opened #2526 "Specific customer discount code usage limit"
Add a numeric value as to how any times each customer can use a discount code.

[2020-05-27 10:27] havenswift-hosting commented on #2524
What is the complexity ?

[2020-05-28 07:24] Noodleyman opened #2527 "tax_type DB discrepency"
this can cause issues when working with tax data.

CubeCart_inventory.tax_type allows NULL
CubeCart_pricing_group.tax_type does not allow NULL.

can cause issues when balancing data between inventory and customer group prices if NULL is encountered. the definitions should be the same.

[2020-05-28 11:02] #2526 closed, assigned to abrookbanks

[2020-06-01 12:33] abrookbanks commented on #2527
Same as in NULL not NOT NULL? I don't know what you mean by balancing data.

[2020-06-01 12:34] Noodleyman commented on #2527
custom processes can sync prices/data for customer groups as CubeCart only populates it as/when you hit a save button on the product page.  but, you can't insert a NULL value (from inventory) into a NOT NULL field, so it will error the queries. I worked around it, but would be nice to have the price fields defined the same.

[2020-06-02 10:07] abrookbanks opened #2528 "Bulk assign to category not assigning primary"
As above.

[2020-06-02 15:42] adam12 opened #2529 "Square Extension - API only accepts Integers"
I emailed this to the sales@ address as I did the last patch for the Square extension and then followed up, but presuming it was lost.

Force value to be cast as Integer, because occasionally a random floating point will cause Square to fail. I've been using this for many months now without issue.

Fixes the error message `Expected an integer value` received from Square.

[code]

[2020-06-02 17:52] bhsmither commented on #2499
Suggest in `element.css.php`, near line 15:
[code]

[2020-06-02 18:04] bhsmither opened #2530 "Debug Section Stream Tweak"
Re; #2465
When the Store Settings Debug is enabled, the debug section at the end contains this link:
[code]
When this is being processed, the Session class does not get instantiated. Thus, PHP logs a Fatal Error when Debug is destructing, because Session->set() does not exist.

Suggest in the Debug class, near line 128:
[code]

[2020-06-02 18:18] bhsmither commented on #2530
Likewise, near line 369:
[code]

[2020-06-02 18:42] bhsmither opened #2531 "SET @@ SQL Query Should Not Be Cached"
In `controller.index.inc.php`, near line 27, a query to tell the database to set its timezone (for this connection) uses `DB->misc()`. This method will use the cache if not overridden.

Suggest not allowing this query (or any query that uses @@ database server variables) to interact with the cache.

See also `controller.admin.pre_session.inc.php`.

[2020-06-03 20:09] Don1968 opened #2532 "Trouble with stripe"
Hello,

First post here. search did not turn up my trouble so I am asking for help or pointers
I help a friend with a Cubecart 6 site he is using stripe as a payment processor. he contacted me today asking for help his site when you get to the payment page that in the past gave separate boxes for credit card info is now just giving one box withe the field titles stacked on top of each other.
if yo

[2020-06-03 21:56] bhsmither opened #2533 "CubeCart Forums Archiving Current Threads"
Relates to the CubeCart Forums:

This module:
[code]
is still active.

However, the conversation that discusses it is in an 'archived' status:
[code]
This is an example of a general condition.

[2020-06-04 00:54] bhsmither opened #2534 "Stripe Form Template CSS"
Trivial:
The CSS in `form.tpl` has special effects for `#card-button span`, but there is no span descendant for `#card-button`.

Also, suggest not using `<label>` as some skins have their own rules that will affect the display of that content. Maybe use a `<p>` tag, or an `!important` class to override.

[2020-06-04 13:54] abrookbanks opened #2535 "Possible redirect error on newsletter subscription"

[2020-06-04 21:39] bhsmither opened #2536 "Code Review: Database->where() ORs and ANDs"
For example:
[code]
should result in:
[code]
Because of the order of operations, this could return TESA1 found in name irrespective of cat_id.

Please experiment with putting parentheses around `implode(' OR ', $or)`.

[2020-06-08 09:25] #2535 closed, assigned to abrookbanks

[2020-06-09 16:10] Don1968 commented on #2532
solved with great help from https://forums.cubecart.com/profile/79556-bsmither/

[2020-06-09 16:10] #2532 closed, assigned to nobody

[2020-06-10 13:42] Noodleyman commented on #535
@abrookbanks , this issue appears to still exist in the latest CubeCart version. I've seen it happen on two stores although it doesn't happen regularly. When building URL's if the site is accessed via IP address rather than domain name, the URL is built with the IP. This breaks the site if using SSL because the certificate is for the domain, not IP.

Is it possible to have the URL function swap ou

[2020-06-10 18:30] bhsmither opened #2537 "Bad SQL Query"
I believe there is a bad database query that will need an incredible amount of time for large resultsets.

In /classes/seo.class.php, find:
[code]
Five lines down, find:
[code]
Change to:
[code]
​

[2020-06-11 03:58] bhsmither commented on #2537
This might not be a bad query as the changed version does not show those categories where `'custom'="0"`, even if there is a 'path' available.

So, I think the problem I am chasing down lies elsewhere.

[2020-06-11 04:15] bhsmither commented on #2537
Why is it necessary for `'custom'='1'`?
See #1414 and #1452.

[2020-06-11 14:14] havenswift-hosting opened #2538 "Code has changed for Zendesk chat - moved from Zopim"
The key & code format for using their inline chat has changed and the current module no longer works

For example the code that needs embedding is

``

<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=XXXXXXXXXX"> </script>

``

[2020-06-17 08:34] abrookbanks opened #2539 "Order lookup on front end doesn't work with incremental ID"

[2020-06-17 10:17] #2539 closed, assigned to abrookbanks

[2020-06-17 10:17] abrookbanks opened #2540 "Semicolon product import CSV failing"
When changed to comma it worked.

[2020-06-17 20:02] bhsmither opened #2541 "Code Review: Variable Names"
In Catalogue->setCategory(), the names of the arguments can be better chosen.

The developer could certainly suss out the true purpose, but naming the variables as follows would give a far clearer understanding of what this function specifically needs and provides:
[code]

[2020-06-18 06:26] Noodleyman opened #2542 "$words regex strips hyphens when searching"
catalogue.class.php

`$words = preg_replace('/[^\p{Greek}a-zA-Z0-9\s]+/u', '', $search_data['keywords']);`

If searching for product code which can contain a hyphen you won't get a match as the hyphen is stripped.

recommending this be modified to:
`$words = preg_replace('/[^\p{Greek}a-zA-Z0-9\-\s]+/u', '', $search_data['keywords']);`

which allows hyphens.

[2020-06-18 09:47] abrookbanks commented on #2538
As a customer the dashboard still shows me the old code. Is that where you see it? Maybe I'm on a legacy version still.

![Untitled](https://user-images.githubusercontent.com/4520803/85005704-128e3b80-b151-11ea-9028-8721787815cd.png)

[2020-06-18 10:02] havenswift-hosting commented on #2538
Yes exactly !  New accounts have completely different login url for the dashboard and use new embedded code.  Legacy accounts still work as well so either needs option or two plugins

[2020-06-18 11:29] abrookbanks commented on #2538
Ah I see. Thanks. :)

[2020-06-18 11:36] abrookbanks opened #2543 "Only allow webp upload if GD can handle it"
`Call to undefined function imagecreatefromwebp()` in some OS.

[2020-06-19 20:48] bhsmither opened #2544 "PHP 7.4 Issue #4"
In `settings.errorlog.inc.php`, line 69, `$smarty_data['error_log']` only exists if the query returns an array.

Suggest coding the query of the style:
[code]
and inside the true block, get $count, and do the Smarty assign() statements.

[2020-06-24 14:42] #2544 closed, assigned to abrookbanks

[2020-06-24 15:01] #2541 closed, assigned to abrookbanks

[2020-06-25 10:21] abrookbanks commented on #2542
Thanks!!! :)

[2020-06-25 10:21] #2542 closed, assigned to abrookbanks

[2020-06-26 13:57] abrookbanks commented on #2543
Decided against this. Server changes happen regularly. GD issues can come and go.

[2020-06-26 14:02] #2531 closed, assigned to abrookbanks

[2020-06-26 14:02] #2528 closed, assigned to abrookbanks

[2020-06-26 14:06] abrookbanks commented on #2530
Thanks for this contribution.

[2020-06-26 14:06] #2530 closed, assigned to abrookbanks

[2020-06-26 14:08] abrookbanks commented on #2520
Closed due to lack of feedback.

[2020-06-26 14:08] #2520 closed, assigned to nobody

[2020-06-26 14:17] abrookbanks commented on #2537
Thanks for this.

[2020-06-26 14:17] #2537 closed, assigned to abrookbanks

[2020-06-26 15:12] abrookbanks commented on #2533
I've excluded that forum from archiving. It should sort itself out.

[2020-06-26 15:12] #2533 closed, assigned to abrookbanks

[2020-06-26 15:25] havenswift-hosting opened #2545 "Admin permissions"
Looking at setting up an admin with restricted access to Orders and (as I very rarely use the permissions functionality) a couple of things have popped up

1) Is it possible to restrict the menu options that are displayed to those ones that they have some access to ie in this case it should only be Orders

2) Why would an admin user with RW access to Orders have access to transactions logs ?  Mayb

[2020-06-26 23:19] bhsmither opened #2546 "Code Review: Catalogue->defineOptionsIdentifier()"
Trivial and inconsequential, but...

Currently, a SQL statement is constructed and then sent to `DB->query()`. There is the possibility nothing will be returned.

`DB->query()` will always return an array, including an empty array, unless there was an actual fault.

When building the `$options_identifier_string`, a test is made against the returned recordset, `is_array()`.

This test will always b

[2020-06-27 02:07] bhsmither opened #2547 "Code Review: Determining Required Options"
In `Cart->add()` when adding options to the basket item (near line 351), a query is made for a specific `option_id`.

This query was already made in `Catalogue->getOptionRequired()` near line 988, from `Cart->__construct()` near line 145.

However, the queries are worded slightly different although being exactly the same.

Suggest ordering the columns requested be `'option_type','option_required'`

[2020-06-29 12:51] havenswift-hosting opened #2548 "Option to not record "Possible session hijack" warning messages"
Is it possible to either not record these warning messages into the PHP error_log file or at least add an store setting to switch off this.  99.999% of the time it is due to browser or OS upgrades but for some sites this can cause thousands of entries in a very short period of time.

An example

[29-Jun-2020 01:34:48 Europe/Madrid] PHP Warning:  Stored session data did not match DB record. Session

[2020-06-29 15:06] abrookbanks commented on #2529
Thank you. This has been fixed with 1.1.5.

[2020-06-29 15:06] #2529 closed, assigned to nobody

[2020-06-30 08:45] abrookbanks commented on #2548
From what I can see it will only log if debug mode is enabled. Can you make sure it's turned off and see if the issue persists?

The method `errorLogger` in the debug class sets `$can_log` only if debug mode is on.

[2020-06-30 09:10] abrookbanks commented on #2548
From my testing turning off debug mode does indeed resolve this.

[2020-06-30 09:10] #2548 closed, assigned to abrookbanks

[2020-06-30 09:16] havenswift-hosting commented on #2548
Have multiple sites where debug mode is disabled and yet these are recorded - not all though so something else is going on - never as simple as testing on one site and closing

[2020-06-30 09:24] abrookbanks commented on #2548
All on recent versions?

[2020-06-30 09:49] #2540 closed, assigned to abrookbanks

[2020-06-30 12:44] havenswift-hosting commented on #2538
Any ideas about this ?

[2020-06-30 14:24] abrookbanks commented on #2538
Fixed with 2.0.0 just now. Just upload and it will convert old zopim accounts to html or allow html to be entered for widget code.

[2020-06-30 14:24] #2538 closed, assigned to abrookbanks

[2020-07-01 11:51] abrookbanks opened #2549 "Memcached clear is too aggressive"
Clearing cache in one store will delete for all stores

[2020-07-01 12:01] abrookbanks commented on #2549
Also applies to memcache, redis and xcache.

[2020-07-01 12:04] abrookbanks commented on #2549
This could relate to bugs around https://github.com/cubecart/v6/issues/2501

[2020-07-01 12:04] #2549 closed, assigned to abrookbanks

[2020-07-01 12:48] havenswift-hosting commented on #2549
This is a pretty major bug and would explain why we have always seen massively more REDIS and memcached usage than would be expected and https://github.com/cubecart/v6/issues/2501 has meant that we couldnt upgrade any more sites to 6.2.9 (those we had already done, we had to revert to file caching) as we have a large number of sites using memcached across a number of servers and 6.2.9 was unusable

[2020-07-01 12:50] abrookbanks commented on #2549
asap

[2020-07-01 12:54] havenswift-hosting commented on #2549
Thanks !

[2020-07-01 12:58] abrookbanks commented on #2549
I might roll the memcached changes out on hosted.cubecart.com to see how we get on. I think every store is on the latest version.

[2020-07-02 00:16] bhsmither opened #2550 "Code Check: Use of a Foundation Class"
In `main.php` (lines 60 and 66) and `main.checkout.php` (line 45), use is made of a CSS class `small-collapse` on a `column` div.

The Foundation docs shows that the `collapse` set of classes only work on `row` divs.

(Only these three lines are coded as such.)

[2020-07-02 08:41] havenswift-hosting commented on #2342
Hi Al

People love using Stripe but really dont like the very basic (although improved a little) design that is presented to customers.  Is there anything more that can be done to make it snazzier - something along the lines of my original image which one customer suggested.  I must get this 4 or 5 times a month from clients

[2020-07-02 09:47] Prb4000 commented on #2342
I've just started using the Stripe plugin on our website.  The first time I saw this interface I found it quite disconcerting.  It doesn't look genuine.  I am concerned that customers, particularly new customers will be put off buying from us when they are asked to input their card details into an interface that doesn't look professional and doesn't look secure.