[2018-03-13 13:22] abrookbanks commented on #1903
![screen shot 2018-03-13 at 13 22 00](https://user-images.githubusercontent.com/4520803/37344179-927880de-26c1-11e8-88fe-7907275742b0.png)

[2018-03-13 13:22] #1903 closed, assigned to abrookbanks

[2018-03-13 16:11] abrookbanks commented on #1900
Please can you open a technical support ticket if you require any further assistance. This is not a bug I can reproduce or have had any other reports about.

[2018-03-13 16:17] theoneandonly-vector commented on #1900
please.. give me at least another site so I can check if I can reproduce it
there...

as I said I reproduced it on 3 setups now..
It doesn't fail every time..

Al Brookbanks <notifications@github.com> schrieb am Di., 13. März 2018,
17:11:

[2018-03-13 16:17] abrookbanks commented on #1900
You can try the demo store https://demo.cubecart.com/cc6

[2018-03-13 16:18] theoneandonly-vector commented on #1900
I can even set it up from 0 when I git clone this project and it gives me
the same error.

[2018-03-13 16:20] theoneandonly-vector commented on #1900
as I said.. same error
(screenshot)

Al Brookbanks <notifications@github.com> schrieb am Di., 13. März 2018,
17:17:

[2018-03-13 16:21] theoneandonly-vector commented on #1900
![screenshot_20180313-171931](https://user-images.githubusercontent.com/10380051/37354865-e2731a7e-26e2-11e8-994f-851804493c82.jpg)
![screenshot_20180313-171927](https://user-images.githubusercontent.com/10380051/37354866-e2e4228c-26e2-11e8-987a-e2b82dc0d024.jpg)

[2018-03-13 16:21] abrookbanks commented on #1900
Where do I see this screen shot?

[2018-03-13 16:22] abrookbanks commented on #1900
Which browser are you using on your android device?

[2018-03-13 16:24] theoneandonly-vector commented on #1900
it somehow renders the site a 2nd time, where it should show the basket..
this doesnt' happen with every device I've tested, nor eith every browser.. but you can reproduce using chrome dev tools and set to galaxy s5 or ipad pro (doesn't happen every but nearly every time)

my phone (screenshot) is running  stable chrome.

[2018-03-13 16:25] theoneandonly-vector commented on #1900
I even sent a .json file with a timestamp which shows the exact error..

[2018-03-13 16:26] abrookbanks commented on #1900
It's 24 megabytes! That's not an exact error. :)

[2018-03-13 16:27] abrookbanks commented on #1900
I can't reproduce this on Chrome 65.0.3325.109 on Android 7.0.

[2018-03-13 16:42] theoneandonly-vector commented on #1900
As I said.. It isn't failing every time.. on every device (probably it
changes with different screen sizes etc.. as my phone is tge OnePlus 5 )..
Should I reproduce it at home and send the .json file?
Try it with chrome's dev tools.. and use S5 or ipad pro  and try 2-3 times.

Am 13.03.2018 17:27 schrieb "Al Brookbanks" <notifications@github.com>:

I can't reproduce this on Chrome 65.0.3325.109 on

[2018-03-13 16:45] abrookbanks commented on #1900
That may be of interest.

[2018-03-13 17:00] abrookbanks commented on #1900
I have reopened this because I believe I have enough info now.

[2018-03-13 17:01] abrookbanks commented on #1900
Can you try making [this code change](https://github.com/cubecart/v6/commit/9b4c598bbb39491254270e92c3ba5d405f4fe7ec) to see if it then works?

[2018-03-13 17:19] abrookbanks commented on #1900
Ok. I'm pretty confident I fixed this now. If you can replace your `classes/session.class.php` with this one https://raw.githubusercontent.com/cubecart/v6/6.1.15-branch/classes/session.class.php it should be ok.

I'd be very grateful if you could let me know.

[2018-03-13 17:38] theoneandonly-vector commented on #1900
hey there
yes it works!
thank you so much :-)

Al Brookbanks <notifications@github.com> schrieb am Di., 13. März 2018,
18:19:

[2018-03-13 17:39] abrookbanks commented on #1900
GREAT! Thanks so much for all your help today.

[2018-03-13 17:39] #1900 closed, assigned to abrookbanks

[2018-03-13 21:43] PloughGuy commented on #1897
Definitely.
And maybe detect it is a dup and update instead?

[2018-03-14 09:40] abrookbanks opened #1904 "Allow customised print order template to be customised without upgrade overwrite"
As above. A WYSIWYG editor would be good.

[2018-03-14 13:54] #1904 closed, assigned to abrookbanks

[2018-03-14 13:55] abrookbanks commented on #1904
![screen shot 2018-03-14 at 13 55 16](https://user-images.githubusercontent.com/4520803/37406561-5b703c52-278f-11e8-89cf-1d0235b520cf.png)

[2018-03-14 14:39] abrookbanks commented on #354
Related to #1892

[2018-03-14 15:07] abrookbanks opened #1905 "Automatically minify and compress page output"
As above.

HTML, JS, CSS and Gzip compression

[2018-03-14 18:19] abrookbanks commented on #1905
Skin subset and folder needs to by dynamic.

[2018-03-15 09:47] abrookbanks commented on #1905
Very pleased with these improvements. Big thanks to @MarkehMe & @dead23angel.

[2018-03-15 09:47] #1905 closed, assigned to abrookbanks

[2018-03-15 10:38] abrookbanks commented on #1898
Thanks.

[2018-03-15 10:38] #1898 closed, assigned to abrookbanks

[2018-03-15 11:21] abrookbanks commented on #1897
Fixed with unique key. Thanks.

[2018-03-15 11:22] #1897 closed, assigned to abrookbanks

[2018-03-15 11:59] abrookbanks opened #1906 "Duplicate ID's on Logo Settings"
As above.

[2018-03-15 12:00] #1906 closed, assigned to abrookbanks

[2018-03-15 14:29] abrookbanks opened #1907 "Document title should be optional (hide option)"
Referring to feature request: https://features.cubecart.com/topic/welcome-title-removal

[2018-03-15 14:30] abrookbanks commented on #1907
![screen shot 2018-03-15 at 14 30 26](https://user-images.githubusercontent.com/4520803/37469578-76c29e40-285d-11e8-8423-106393a7251b.png)
![screen shot 2018-03-15 at 14 30 33](https://user-images.githubusercontent.com/4520803/37469579-770dc424-285d-11e8-880b-5ab053224cf8.png)

[2018-03-15 14:30] #1907 closed, assigned to abrookbanks

[2018-03-15 15:48] havenswift-hosting opened #1908 "Minor Improvements to Estimated Shipping"
1) The word "Estimated" could be changed to something like "Refine Estimate" to make it clearer that clicking that link will provide that - many people never realise that this is a link

2) The Country, County and Postcode should default to those for the store which is what the estimate is based on - currently it shows "Afghanistan" which is unlikely to be useful to anyone

[2018-03-15 15:54] havenswift-hosting opened #1909 "Small Improvements to All in One Shipping Plugin"
When adding a new shipping zone and choosing "One or more states/provinces", you can choose a country and then click into the "States/provinces" box (is this phrase hard-coded as not correct for en-GB) but then every single option is listed and not just those for the selected country

[2018-03-15 15:57] bhsmither commented on #1908
Point 2 -- I cannot duplicate. (As of CC6112, it does default to using the store's address. I haven't verified this for the later versions.)

[2018-03-15 16:10] abrookbanks commented on #1908
I like this. I also can't reproduce point 2.

[2018-03-15 16:13] havenswift-hosting commented on #1908
Point two validated as not working correctly on three test sites and three different client sites

[2018-03-15 16:16] abrookbanks commented on #1908
Demo store works. https://demo.cubecart.com/cc6

[2018-03-15 16:18] abrookbanks commented on #1908
Thanks for this Ian. Seems to be a fault with your three clients stores regarding point 2.

[2018-03-15 16:18] #1908 closed, assigned to abrookbanks

[2018-03-15 16:20] abrookbanks commented on #1908
![screen shot 2018-03-15 at 16 20 11](https://user-images.githubusercontent.com/4520803/37476317-c38c4528-286c-11e8-8b9c-5558ccc73ede.png)

[2018-03-15 23:47] bhsmither opened #1910 "Verify Code"
In the Module class, line 113:
[code]
The result of any expression is not assigned to a variable.
Perhaps what is wanted is:
[code]

[2018-03-16 12:15] #1910 closed, assigned to abrookbanks

[2018-03-16 12:15] abrookbanks commented on #1910
Well found! :)

[2018-03-16 15:05] briansandall opened #1911 "Synchronous XMLHttpRequest on the main thread is deprecated"
Synchronous XMLHttpRequest on the main thread (at `jquery.js:27:1117`) is deprecated because of its detrimental effects to the end user’s experience.

For more help http://xhr.spec.whatwg.org/

Looks like a 3rd party code update will be due soon.

[2018-03-16 15:06] briansandall commented on #1911
Note that this happens (not with 100% certainty) when adding products to the cart.

[2018-03-16 15:11] briansandall commented on #1911
Oddly, I am only able to get this warning with debugging enabled. Probably not worth doing anything about at this time.

[2018-03-16 15:11] #1911 closed, assigned to nobody

[2018-03-16 16:00] briansandall opened #1912 "CSRF(?) issues adding items to basket"
Unmodified v6.1.14 - click add to basket, go somewhere else and add an item from there, then use the back button and add another item from the original page.

You should now have your store displayed *twice* with the version above being a bit narrower; scroll down and you'll see your store front displayed again.

Repeat all of the steps above to have any number of narrower and narrower stores disp

[2018-03-16 16:01] briansandall commented on #1912
As a further test, navigate to a product page and add to basket from there, click back to get to the category, and add a product from there.

This should bring you back (well, shouldn't but does) to the home page with a brief CSRF message displaying before it auto-hides. Not nearly enough time to read it, but it's there.

[2018-03-16 16:05] briansandall commented on #1912
Of further note is that the store front is displaying even though the URL still shows where I would expect to be, e.g. the category or product I was last viewing when trying to add to the basket.

I've been able to reproduce this on CubeCart code going back to 6.1.10 so far... probably goes back all the way to whenever CSRF tokens were added.

[2018-03-16 16:09] briansandall commented on #1912
Note the URL, but displaying the home page (which is displayed 3 times here but only seeing the top one):
![cc1912](https://user-images.githubusercontent.com/14335170/37531532-b358c6b2-28f9-11e8-89b3-c122ffaf2e1b.jpg)

[2018-03-16 16:16] briansandall commented on #1912
I think the user experience would be much improved if the CSRF token was generated once per session, rather than every single page request (at least on the customer side).

[2018-03-16 17:20] bhsmither commented on #1912
The visual effect you are seeing is that when adding an item to the cart, the page uses AJAX to inform CubeCart of the change in basket contents. Sent along with the product data is the security token.

CubeCart then sends back **just** the relevant HTML (the box.basket.php template populated with new basket contents) and AJAX will replace the related chunk of the page.

If CubeCart determines the

[2018-03-16 17:30] briansandall commented on #1912
Exactly, and it gives a very poor impression to the customer.

We can't expect customers to not ever use the back button, and no other online store I've ever purchased from restricts usage of the back button. It's a basic browser functionality that should not be compromised.

[2018-03-16 23:31] Dirty-Butter commented on #1912
We had an order today where someone bought more than one item (unusual for us). She could not get past the basket. She wrote back when I asked what happened, and she said it worked when she closed out the store website completely, came back, and was able to proceed. I suspect this was this same issue.

[2018-03-17 14:44] abrookbanks commented on #1912
This should be resolved with https://github.com/cubecart/v6/issues/1900

[2018-03-17 14:45] abrookbanks commented on #1912
Fix: https://github.com/cubecart/v6/commit/88518877396812935677b4b02eef0234fcfaebd7

I will reopen and look again if need be.

[2018-03-17 14:45] #1912 closed, assigned to abrookbanks

[2018-03-17 22:39] Dirty-Butter commented on #1536
Well, this may or may not be related. I installed the latest 2.0 on dirtybutter.com/trial over the last commit of v2.0 I had tried, BUT no matter what I did I could not get the storefront to use proper css or possibly js. Whatever it was it looked like a narrow almost phone view. I used maintenance to clear all caches, used the clear cache button in Admin. I rebooted, cleared over and over with no

[2018-03-17 23:09] Dirty-Butter commented on #1870
It would be very helpful if there were a way to Search for a country in order to change the State and EU settings.

[2018-03-18 07:08] abrookbanks commented on #1536
It's because of this...
https://github.com/cubecart/v6/issues/1905

It will use compressed combined CSS file served from the cache folder if debug mode is off.

[2018-03-18 16:06] bhsmither opened #1913 "Order Summary to Have Currency Used"
Request:
In `CubeCart_order_summary` there is a column to record the language that was being used when the order was placed.

Request the currency that was being used is also recorded.

[2018-03-19 15:31] briansandall commented on #1912
Nice.

Btw, looks like you've got some 6.2.0 code in the 6.1.15 branch, specifically width/height/depth/dimension_units in the language definitions file. ;)

[2018-03-19 15:44] briansandall commented on #1912
Tested this out on my live store and it still has the same problem:

1. Attempt to add any product (with options that requires you to navigate to the product page) to basket

2. Click back

3. Add any product to basket

[2018-03-19 15:46] briansandall commented on #1912
Tested on unmodified store as well - not fixed.

[2018-03-19 19:18] bhsmither opened #1914 "Location (In)Consistency"
In admin/sources/orders/index.inc.php, near line 607:
[code]
The first statement uses a constant derived in ini.inc.php that equates to a server root-based path. The second statement uses a constructed string that equates to a web site document root-based path.

If (low probability this will change, but then why create a constant for it?) `CC_FILES_DIR` changes, then an effort must be made to find

[2018-03-20 11:55] Noodleyman commented on #1913
it would also be useful to log the exchange rate to the store currency at the time the order was placed.

[2018-03-21 00:38] bhsmither commented on #674
(Haven't actually verified this yet...)
I see that Kurouto/1.0.3 has had what appears to be a recent version of Foundation's content.recaptcha.php.

Is this intentional?

I just wonder what I would be missing since SVG and Foundation classes are not part of any other CC5 skin.

[2018-03-21 01:41] bhsmither opened #1915 "Code Syntax"
In `GUI->recaptchaAssign()`, a call is made to `$GLOBALS['gui']->recaptchaRequired()`.

We are already in the GUI class.

Suggest:
[code]

[2018-03-21 07:46] abrookbanks commented on #674
Yes it's intentional. The SVG images are only used with the phased out version. reCaptcha V2 will work fine.

[2018-03-21 09:14] abrookbanks commented on #1912
It won't work with a back button. Nothing I can do about that.

[2018-03-21 09:15] abrookbanks commented on #1912
I don't know if a work around like this may help:
https://codepen.io/derekjp/pen/Bguwz

Out dated page content is a problem with CSRF.

[2018-03-21 15:03] briansandall commented on #1912
I suppose that could work, but ideally the CSRF token would only be generated once per user session on the front end, then they could use the back button, multiple tabs, etc. as much as they want.

What's the reasoning behind having such a strict CSRF policy on the front end that it impacts the customer experience so negatively? I have never been on any other online store with such a restrictive f

[2018-03-21 15:11] abrookbanks commented on #1912
That's true on the front end it could stay constant. It was added after a 3rd party security company gave me a hard time about it.

[2018-03-21 15:12] abrookbanks commented on #1912
I think relaxing it to a constant value is a good option.

[2018-03-21 15:35] briansandall commented on #1912
I wonder if we could also have some sort of check in the AJAX request to prevent re-rendering the whole page as well, just in case the CSRF token is regenerated (e.g. due to the session regenerating) while the user has a page open.

[2018-03-22 14:41] abrookbanks opened #1916 "Config `offline_content` should render out full HTML with doctype etc..."
As subject suggests. This can allow redirects to be created and valid HTML markup instead.

[2018-03-22 16:16] Noodleyman opened #1917 "Hook Request: products.index.inc.php"
FIND:
`$GLOBALS['smarty']->assign('PRODUCTS', $smarty_data['products']);`

ADD BEFORE:
`foreach ($GLOBALS['hooks']->load('admin.product.products_list') as $hook) include $hook;`

REASON:
It's really useful to be able to add custom data to the products array if you want to add custom data/columns to the products list :)

[2018-03-23 11:58] havenswift-hosting commented on #1908
Verifying that it works in a freshly installed latest version store is obviously a good starting point (and one I didnt do !) but simply proves that there is no problem in the latest version and isnt a particularly good real world test.  I have done more tests and can confirm that it works fine with a newly installed store and doesnt appear to be skin / plugin related.  However, as with most of th

[2018-03-23 13:39] abrookbanks commented on #1908
See if it works using default Foundation skin. Make sure the stores country, county and postcode are set in settings.

I expect this is a hangover from a bug in a custom skin no core updates can fix. On those grounds there's nothing that can be done other than looking at each of these shops with case by case technical support.

[2018-03-23 14:38] #1916 closed, assigned to abrookbanks

[2018-03-23 14:42] abrookbanks commented on #1915
Good find. Thank you.

[2018-03-23 14:42] #1915 closed, assigned to abrookbanks

[2018-03-23 15:08] havenswift-hosting commented on #1908
No, exactly the same problem - always check things like this against unchanged Foundation skin !

Yeah, wouldnt work without those being set - not my first rodeo !  Also as I have pointed out, it doesnt do anything with the postcode which I think it should

You have closed it, so no worries

[2018-03-25 23:53] romanklabal opened #1918 "Tiny little typo"
https://github.com/cubecart/v6/blob/40522bdb3abbaa94ecff3aee35804d1e9be78560/classes/seo.class.php#L972

[2018-03-26 08:49] abrookbanks opened #1919 "Links on bxslider fail with Firefox"
As above. This fix works:
https://stackoverflow.com/questions/49321401/links-on-bxslider-firefox-not-working

[2018-03-26 08:56] #1919 closed, assigned to abrookbanks

[2018-03-26 09:49] abrookbanks commented on #1918
Thanks.

[2018-03-26 09:51] #1918 closed, assigned to abrookbanks

[2018-03-26 09:57] #1917 closed, assigned to abrookbanks

[2018-03-26 10:52] #1913 closed, assigned to abrookbanks

[2018-03-26 13:41] abrookbanks opened #1920 "customer_comments macro missing from email document content"

[2018-03-26 13:42] #1920 closed, assigned to abrookbanks

[2018-03-26 14:07] #1914 closed, assigned to abrookbanks

[2018-03-26 15:20] abrookbanks opened #1921 "CSRF token regeneration on each page load damages usability"
e.g. Back button etc..

[2018-03-26 15:22] #1921 closed, assigned to abrookbanks

[2018-03-26 15:24] abrookbanks commented on #1912
Resolved with https://github.com/cubecart/v6/issues/1921

I googled this quite a bit and it does seem to be common to keep it static for UX reasons such as multiple tabs, back etc. I'm sure this will be very welcome!

[2018-03-26 15:52] abrookbanks commented on #1895
With the [relaxed CSRF token](https://github.com/cubecart/v6/issues/1921) we shouldn't be seeing this anymore!

[2018-03-26 15:52] #1895 closed, assigned to nobody

[2018-03-26 17:43] briansandall commented on #1921
Site is much easier to use now - thanks so much for this!

[2018-03-26 17:44] abrookbanks commented on #1921
What were we thinking???!!!

[2018-03-26 17:56] briansandall commented on #1921
Better safe than sorry? Equifax? Those who trade essential Security for temporary Liberty deserve neither? ;)

[2018-03-28 11:55] jac0511 opened #1922 "unselected images stick to products"
Updating product images only adds images to products but doesn't remove them. Unselecting is supposed to remove the unselected images from the product, isn't it? Now the images must be deleted in order to remove them from products.

[2018-03-28 13:18] abrookbanks commented on #1922
What version of CubeCart are you using?

[2018-03-28 13:40] Noodleyman opened #1923 "Code Notice"
Adding so the code can be improved and not generate notices/warnings. clean install of CC 6.1.14.

Notice: Undefined index: taxes in <path>/classes/cubecart.class.php on line 1292

[2018-03-28 14:42] abrookbanks commented on #1923
CubeCart v6 isn't coded to strict standards. There are thousands of these.

[2018-03-28 14:42] #1923 closed, assigned to nobody

[2018-03-28 14:48] Noodleyman commented on #1923
yup, I was intending to raise them as/when I noticed them so things can be improved over time ;)

[2018-03-28 14:51] abrookbanks commented on #1923
Thanks but I think there are thousands. Really notices and warnings should be turned off in error reporting. Version 7 *gulp* will be strict.

[2018-03-28 15:25] claudia39 commented on #828
So this isn't to be used for shipping dimensions eventually (future shipping plugin) as those dimensions  would be larger than the item dimensions, plus you would also need the girth in some instances?

[2018-03-28 15:25] abrookbanks commented on #828
No it's not. One step at a time..

[2018-03-28 15:28] Noodleyman commented on #1923
and to tackle thousands, you need to start somewhere ;) it'll make everything better in the end

[2018-03-28 15:33] briansandall commented on #828
Girth is derived from the base dimensions, so wouldn't have its own database field.

For my own store, I simply note that these are shipping dimensions, not the actual product dimensions.

Not sure if it's a US vs UK thing, but UPS expects parameters named length, width, height (in order from largest to smallest) rather than width, height, depth.

[2018-03-28 15:58] claudia39 commented on #828
Yeah, I was wondering about the wording. I'm in the US.  I'll just change depth to width and width to length. I have an Excel worksheet that figures the girth for me.  I had already setup in my date base "item size" and just typed in the dimensions say 5-1/2W x 10-3/4L x 5H. Anyway this can show fractions instead of decimals?

[2018-03-28 16:04] briansandall commented on #828
If you're interested, I wrote my own [shipping module](https://github.com/briansandall/CubeCart_Awsp_UPS_Module) for UPS that uses the shipping dimensions for more accurate shipping rates. It expects the database columns to be named `product_length`, `product_width`, and `product_height`, though, so you'd have to alter the upgrade script a little or wait until I update it to use whatever is in the

[2018-03-28 17:03] claudia39 commented on #828
Thanks briansandall, but I use USPS mostly and I love the AOIS shipping mod.  I can get by using the decimals. Thanks for all answers to my inquiries!

[2018-03-29 14:18] abrookbanks commented on #1922
Unable to reproduce on 6.1.14 build.

[2018-03-29 14:18] #1922 closed, assigned to nobody

[2018-03-30 10:17] jac0511 commented on #1922
ah, I have 6.1.13, have to update.. Thanks!

[2018-03-30 18:54] MrGweb commented on #1920
Thanks Al

[2018-04-01 14:13] Dirty-Butter opened #1924 "6.2.0-b1 issues??"
PARTIALLY SOLVED??

I manually deleted the CC cache and manually emptied the browser cache again. This time the site loaded correctly. I'm thinking maybe the cache is not emptying correctly from within CC??

The problem with extensions not being able to enable/disable still exists.

***********
ORIGINAL COMMENT
Enjoy your Easter - but I wanted to get this written down while I could still remember

[2018-04-02 09:56] Dirty-Butter commented on #1924
OK - I'm satisfied the problems are mine - still can't get a custom skin to work, but I now have the plugins page working properly and the stock skin working.

[2018-04-02 09:56] #1924 closed, assigned to nobody

[2018-04-03 10:01] theoneandonly-vector opened #1925 "Bug when I use "add to basket" using Responsive Design (tested with chrome dev-tools Galaxy S5)"
I'm using the latest v6 from github (cloned it yesterday)
Similar bug like https://github.com/cubecart/v6/issues/1900
There aren't multiple sites, which
sometimes (it only happens sometimes!, not every single time BUT it happens much more often when I select "low-end-mobile" (screenshot)
![image](https://user-images.githubusercontent.com/10380051/38243072-b7e8ad64-3736-11e8-8015-61925831ea54.png)

[2018-04-03 10:09] abrookbanks commented on #1925
I can't see anything wrong in that screenshot? What exactly is the problem?

Provide as much info as possible.

[2018-04-03 10:11] theoneandonly-vector commented on #1925
when I add an item and then go to "show basket" it's gone.

[2018-04-03 10:13] theoneandonly-vector commented on #1925
1.
![image](https://user-images.githubusercontent.com/10380051/38243578-40249566-3738-11e8-9c4a-c2017bc398aa.png)
2.
![image](https://user-images.githubusercontent.com/10380051/38243592-4d0763d0-3738-11e8-9a65-b9d13d876bc6.png)
3.
![image](https://user-images.githubusercontent.com/10380051/38243613-5e9ba412-3738-11e8-8f40-6cc52523d492.png)

[2018-04-03 10:16] abrookbanks commented on #1925
Can you reproduce this on our demo store? I can't. Please make sure server side/proxy caching is disabled and use mod_expires to make sure HTML is not cached past 1 second.

https://demo.cubecart.com/cc6/

![screen shot 2018-04-03 at 11 17 04](https://user-images.githubusercontent.com/4520803/38243800-94e75a14-3730-11e8-8b8b-6b0e694c885d.png)

[2018-04-03 10:21] theoneandonly-vector commented on #1925
the demo site still has this bug: https://github.com/cubecart/v6/issues/1900

[2018-04-03 10:24] abrookbanks commented on #1925
How do I reproduce it? I have tried with exactly the same Chrome dev tools settings (Galaxy S5, "low-end-mobile").

[2018-04-03 10:37] theoneandonly-vector commented on #1925
hm.. somehow d'couldn't made it right now through chrome, but this is a video (just recorded it) using oneplus 5:
https://youtu.be/9-5aTr_OcY8

[2018-04-03 10:46] abrookbanks commented on #1925
Thanks for the movie. I'll try to reproduce it.

[2018-04-03 15:16] theoneandonly-vector commented on #1925
do you know a way to create a profile from a specific smartphone whoch could then be used to test it in chrome?, like by browsing to a website?

[2018-04-04 10:41] Talukdertutul opened #1926 "www.bdembassy.com"
www.bdembassy.com

[2018-04-05 10:04] #1926 closed

[2018-04-05 10:04] abrookbanks commented on #1926
Spam.

[2018-04-05 11:27] Noodleyman opened #1927 "BETA - Clean install issue"
Not sure what the root cause is, but I just did a clean install of the 6.2 beta, however after a successful install it isn't possible to log into the admin area.

No error/warning, just returned to the login prompt every time. No errors in the Server error log or in the CubeCart DB tables.

Tested with multiple browsers. Using PHP Version 7.1.15-1, Apache2 on Ubuntu.

Clean installs of 6.1x versio

[2018-04-06 10:04] abrookbanks commented on #1927
Can't believe this is the only bug report in a week. Clearly nobody is using it. We will have to release it as final for real world testing. :)

Thanks Alec I'll look into this.

[2018-04-06 10:06] Noodleyman commented on #1927
I wasn’t even aware it existed until I went to download a fresh copy of 6.1

The only testing I’ve done so far is installing it… but since I can’t log in I’ve not done much else yet

[2018-04-06 10:07] abrookbanks commented on #1927
LOL - It should show in the store dashboard, on the homepage of our website, in the forum announcements and Twitter/Facebook. :)

[2018-04-06 10:13] Noodleyman commented on #1927
I don’t social media, totally missed the announcement on the dashboard and for some reason didn’t get the mail with the notification from the forums (I subscribed to them). DOH.

I’m wondering if the login issue is specific to my own server, not sure.. thus raised a ticket for a 2nd pair of eyes to confirm.

[2018-04-06 10:21] abrookbanks commented on #1927
I don't blame you I hate it too but use it just for work. I'll test this out after lunch and report back.

[2018-04-06 10:56] abrookbanks commented on #1927
Worked fine for me. Please note that 6.2 uses MySQL triggers. Does the MySQL user have permission?

Anything in the error logs?

[2018-04-06 10:56] abrookbanks commented on #1927
Also make sure that MySQL is not in strict mode. Much like PHP notices and warnings. It's not coded to strict standards.

[2018-04-06 10:57] Noodleyman commented on #1927
logs are 100% clear, full permissions at the DB level. I'll test it again in a moment

Out of interest... what triggers are being used and why?  I've had issues where triggers just randomly stop working and have to be dropped/recreated in the past, so try to avoid using them.

[2018-04-06 11:00] abrookbanks commented on #1927
They are used for sequential order numbers. Actually they are off by default so it shouldn't be an issue. If they are turned on and the trigger setup fails it will warn and keep off.

[2018-04-06 11:06] Noodleyman opened #1928 "$SUM after checkout should also include unformatted numbers"
Currently the totals are only available with currency formatting, but would be useful to also have them in their raw format so it makes integrating additional conversion / tracking code possible without modification

[2018-04-06 11:13] Noodleyman opened #1929 "$SUM.basket on content.receipt.."
$SUM.basket currently outputs the serialised array of the basket rather than the array itself which makes it difficult to work with, ideally this should be an array already.

[2018-04-06 11:17] Noodleyman opened #1930 "$GA_SUM on content.receipt is conditional and shouldn't be..."
$GA_SUM is currently only sent to the receipt page if the order status is 2 or 3, processing/complete.  This means you can't track conversions for things such as print order form or manual card payments.

Or, if an IPN doesn't respond promptly, the conversion may be missed as the status was not 2 at the time of the page load

Not 100% sure if this should be changed, but wanted to raise it as a con

[2018-04-06 11:36] bos4711 opened #1931 "Images assigned to a product is not ticked when browsing to the product under admin"
CC 6.1.13

I found out that when cloning an existing product (with images) and replacing the clone's images with new ones, the active images are not ticked under Products -> (Product) -> Images. Then I found out that this problem applies to all products, and not clones.

[Image showing the problem](https://www.dropbox.com/s/dvlosr1fb50j8ai/cc6_no_images.png?dl=0)

The four images marked in red are

[2018-04-06 11:59] Noodleyman commented on #1927
right... it's related to something weird/odd..... perhaps cookie related. If I access the beta site with the FQDN then it allows me to log in, however my local URL which is simply the network name of the server locally won't allow login.

It's because I installed CubeCart using my local machine name
http://fluffles-lamp2/cubecart/6-2-0beta

and the installer set the Cooke Domain to be ".fluffles-l

[2018-04-06 15:17] abrookbanks commented on #1931
I dragged your screenshot into GitHub to ensure we don't lose it. Thanks.
![cc6_no_images_preview](https://user-images.githubusercontent.com/4520803/38429347-fc1e5368-39b5-11e8-9772-288908979302.png)

[2018-04-06 15:18] abrookbanks commented on #1928
Agreed... you can use this in the interim...
`{$data|regex_replace:'/[^0-9.]+/':''}`

[2018-04-06 15:21] abrookbanks commented on #1927
Thanks for the thorough feedback. Maybe if the hostname has no dot in it the cookie shouldn't set a domain? Maybe thats tooooooo simples.

[2018-04-06 15:22] abrookbanks commented on #1927
BTW I work locally too but use the hosts file to fake a domain. This is pretty much the same across OS's.

`127.0.0.1       localhost       www.example.com`

[2018-04-06 20:43] bhsmither opened #1932 "Plugin Token Page Damaged"
This does not get a proper page:
https://www.cubecart.com/extensions/download/418/SFWS_Test_Payment_Gateway-CCMP-1.0.1.zip/auto

[2018-04-06 21:18] bhsmither commented on #1932
Must have had a glitch in the page I downloaded. The AJAX seems to be working now.

[2018-04-09 12:52] abrookbanks commented on #1932
Thanks.

[2018-04-09 12:52] #1932 closed, assigned to nobody

[2018-04-10 05:04] bhsmither opened #1933 "Image sprite_flags is 404"
CC620b1

Watching the Network traffic, I see that the request for the image is 404.

In `/foundation/css/cubecart.css`, there is:
[code]
The browser wants to fetch `/images/sprite_flags.png`, but the image is not at that absolute root-based folder.

Working on the assumption that the path should be in quotes, I edited the cubecart.css file.

**Question 1**: How to force CC620 to rebuild the `/cach

[2018-04-10 05:30] bhsmither commented on #1933
Managed to force a rebuild by also manually deleting `css.foundation.css.cache`.

[2018-04-10 05:37] bhsmither commented on #1933
The image file `sprite_flags.png` is still 404 because the browser wants to load from `/images/`.

This makes sense because `css.foundation_YYMMDDHHMMSS.css` is not in the skin folder.

Thus, either the minifier is skipping over some CSS `url` values (rewriting to what?), or this becomes a RPITA having to recode CSS rules to `data:base64` images.

[2018-04-10 08:53] abrookbanks commented on #1933
Is an inline image a PITA? Thanks for this bug report though. I might be able to find and replace ../images/ dynamically.

[2018-04-10 09:51] abrookbanks commented on #1933
Fixed up. Thanks Brian!

[2018-04-10 09:51] #1933 closed, assigned to abrookbanks

[2018-04-10 10:14] abrookbanks commented on #1927
Sorted. Thanks!

[2018-04-10 10:42] Mandevles opened #1934 "text overwrite 6.2beta"
Hi,
when inserting a product code and a description into products propogation, there appears to be an overwrite situation on the product code ?
It seems like the product description (short) takes priority over product code.
![image](https://user-images.githubusercontent.com/38245593/38552514-39571458-3cb4-11e8-8b7e-37e1673f1802.png)

[2018-04-10 10:53] Mandevles opened #1935 "Bulk Price Change 6.2Beta"
When adjusting prices in Bulk Price Change, you cannot update product in selected category, it defaults to every category
It would also be nice to see existing price with option of updating individual prices per product (in bulk).
When selecting what to adjust - sale price, retail price, cost price etc it would also be nice to see the adjustment before going ahead with "save".  This would enable y

[2018-04-10 11:12] abrookbanks commented on #1934
I can't reproduce this problem.

It's showing the alternate text tag badly because there are missing images. Have you deleted any images from the images/source folder?

Was this a fresh install or upgrade?

[2018-04-10 11:14] abrookbanks commented on #1935
You can submit feature request here:
https://features.cubecart.com

[2018-04-10 11:16] abrookbanks commented on #1935
Worked fine for me but the changes didn't show until the cache was cleared.

![screen shot 2018-04-10 at 12 15 52](https://user-images.githubusercontent.com/4520803/38554033-038e7168-3cb9-11e8-917c-bd2abecc3aa1.png)

[2018-04-10 11:16] #1935 closed, assigned to abrookbanks

[2018-04-10 11:20] abrookbanks commented on #1931
I can't reproduce this. Can you give me precise steps and clarify exactly what you do when you are "replacing the clone's images with new ones"?

Do you upload new ones? Choose existing ones?

Please can you also update to the latest version of CubeCart.

[2018-04-10 11:21] abrookbanks commented on #1930
I *think* should should stay as it is because the sale should only be tracked in Google Analytics for eCommerce when paid for.

[2018-04-10 11:25] #1929 closed, assigned to abrookbanks

[2018-04-10 11:25] Noodleyman commented on #1930
it would be useful if the variable was available without the condition, then perhaps add the payment status as a field in the array. this way data is always available for other uses

[2018-04-10 11:26] abrookbanks commented on #1931
I'm going to close this for now as it's such a core feature with no known problems. If you can log a support ticket we can look at your store for you. It may be worth clearing your browser cache after updating to the latest version.

[2018-04-10 11:26] #1931 closed, assigned to nobody

[2018-04-10 11:28] abrookbanks commented on #1930
Agreed but older skins will invoke the tracking code based on the presence of the $GA_SUM variable alone. So by making it present at all times isn't backward compatible.

[2018-04-10 11:29] Noodleyman commented on #1930
perhaps a new, additional variable would be a better solution.

[2018-04-10 11:31] abrookbanks commented on #1930
There isn't actually any need for `$GA_SUM` at all. I wish I never made a specific array for it. Everything should be available under `$ITEMS` and `$SUM` albeit with a bit of regex to format it to your wishes.

[2018-04-10 11:32] Noodleyman commented on #1930
apart from the subtotal/totals unformatted ;)

[2018-04-10 11:34] Mandevles commented on #1934
All content was deleted and it was a clean CSV upload.  There are no pictures.
Even when altering the name in the products section this occurs.  Might just be with the amount of characters ?
I have just done a complete refresh and I cannot get it to do the same again - sorry

[2018-04-10 11:41] abrookbanks commented on #1930
But you can unformat them with lightweight regex no?

[2018-04-10 11:42] abrookbanks commented on #1930
[code]

[2018-04-10 11:43] Noodleyman commented on #1930
you can, but ideally this isn't something that should be done by the store theme, it's a refinement. :)

[2018-04-10 12:16] bos4711 commented on #1931
Hi again.
Forget about the cloning, the issue applies to all products. Whenever going into Product -> Images, no images at all are ticked in that list (even if the product has images from there). For categories, the images are ticked, but not for images.

Here's a screen recording showing the error for one of my products:

https://www.dropbox.com/s/0i110mpi926sx62/cc6_no_images.mp4?dl=0

Unfortuna

[2018-04-10 12:21] #1934 closed, assigned to nobody

[2018-04-10 12:21] bos4711 commented on #1931
I will upgrade as soon as I can, but since this error has been there for the past 2-3 upgrades (it's not until now it became annoying enough for me to report) I don't have much faith in that an upgrade will help here.

[2018-04-10 14:11] abrookbanks commented on #1925
I just can't reproduce this.

[2018-04-10 14:11] abrookbanks commented on #1925
Closing until I can get more specific steps to reproduce.

[2018-04-10 14:11] #1925 closed, assigned to nobody

[2018-04-10 16:10] #1930 closed, assigned to nobody

[2018-04-10 16:11] #1928 closed, assigned to nobody

[2018-04-10 16:12] abrookbanks commented on #1928
It's probably lighter to use the regex than assigning even more smarty variables to memory.

[2018-04-11 10:00] Noodleyman opened #1936 "Beta - Min CSS should be configurable"
I see that the CSS is now added to the cache and minimized, However there needs to be an option to turn this feature off as it's making development of skins very painful, inspecting elements to find css references all show the same line. It's also difficult to know from which CSS file the original rule was parsed from.

Unless there are some tricks I'm missing, I'm having to roll back to an earlie

[2018-04-11 10:10] Noodleyman commented on #1936
nevermind... found the trick I was missing. element.css.php, debug=true. :)

[2018-04-11 10:10] #1936 closed, assigned to nobody

[2018-04-11 10:20] Noodleyman opened #1937 "BETA - Recaptcha JS error"
Seems to happen regardless of the configuration in store settings, JS error.

![image](https://user-images.githubusercontent.com/10614018/38610958-5acb6780-3d7a-11e8-8bc0-ba91041b1cad.png)

[2018-04-11 10:26] Noodleyman opened #1938 "BETA: Foundation, main.php"
`<div class="small-12" id="main_content">`

should be

`<div class="small-12 columns" id="main_content">`

[2018-04-11 10:49] Noodleyman opened #1939 "Beta - Menu items and caret"
Using beta foundation theme, with categories that contain no children. on page load the categories in the menu initially load with the caret, then they are removed. this causes the menu to expand from left to right, then contract again.

It happens with every page load.

It happens when the setting "Expand category navigation tree"  is No.

[2018-04-11 11:00] abrookbanks commented on #1937
Fixed by deferring to explicit fields.

[2018-04-11 11:06] Noodleyman commented on #1937
Please can you share the code change you made? I'd like to apply it to my test store

[2018-04-11 11:13] Noodleyman opened #1940 "BETA: foundation, content.category"
subcats with images are not aligned correction, the category name appears to the right of the category image in <small> tags.

![image](https://user-images.githubusercontent.com/10614018/38613389-afe2a1e6-3d81-11e8-8a49-2df2842fe5d7.png)

[2018-04-11 11:13] abrookbanks commented on #1937
Sure see the [first commit](https://github.com/cubecart/v6/commit/d11cf75330c3c6ac6d8175e3c6937a21c429ab96).

[2018-04-11 11:19] Noodleyman commented on #1937
Is there an additional change not mentioned in the commit?

The JS error is gone, but it's been replaced with the following console output:

![image](https://user-images.githubusercontent.com/10614018/38613681-96af0ca4-3d82-11e8-8edc-30442d322704.png)

[2018-04-11 11:19] abrookbanks commented on #1938
[Looks ok to me](https://github.com/cubecart/v6/blob/6.1.15-branch/skins/foundation/templates/main.php#L95)

[2018-04-11 11:20] abrookbanks commented on #1937
Clear the cache?

[2018-04-11 11:21] Noodleyman commented on #1938
hmm, perhaps a typo on my part when I did a code change. my bad

[2018-04-11 11:21] #1938 closed, assigned to nobody

[2018-04-11 11:24] abrookbanks commented on #1937
You might need to manually empty the `/cache` folder.

[2018-04-11 11:24] Noodleyman commented on #1937
I don't have cache enabled, however cache cleared to test, but still the same output.  /cache directory manually cleared.. no change.

[2018-04-11 11:26] abrookbanks commented on #1937
Are you using reCaptcha v2?

[2018-04-11 11:27] Noodleyman commented on #1937
invisible... looks like a bug with the change in content.recaptcha.php.

<div class="g-recaptcha" data-sitekey="{$CONFIG.recaptcha_public_key}"></div> is within the if $RECAPTCHA==2 statment, but invisible is 3..

[2018-04-11 11:28] abrookbanks commented on #1937
Ok. I'll try invisible.

[2018-04-11 11:30] Noodleyman commented on #1937
looks like content.recaptcha is only for v1 or v2, nothing here will work for invisible as it's not in the initial checks

[2018-04-11 11:43] abrookbanks commented on #1937
Still buggy with invisible.. working on it.. V2 seems ok now...

[2018-04-11 12:06] Noodleyman opened #1941 "Categories should allow parsing of Smarty"
same as documents, it's sometimes very helpful to access smarty objects in category descriptions.

[2018-04-11 12:47] abrookbanks commented on #1937
Ok all sorted! Sorry quite a lot of code changes but its a much more professional integration and Invisible reCaptcha is more reliable now.

[2018-04-11 12:47] #1937 closed, assigned to abrookbanks

[2018-04-11 12:48] #1941 closed, assigned to nobody

[2018-04-11 12:48] abrookbanks commented on #1941
Nice idea. Thanks.

[2018-04-11 14:24] abrookbanks commented on #1940
Thanks Alec.

[2018-04-11 14:24] #1940 closed, assigned to abrookbanks

[2018-04-11 14:26] abrookbanks commented on #1939
This is how the top bar JS in the Foundation framework works. It's pretty complex.

Ideally we need to upgrade to a newer responsive framework.

[2018-04-11 14:26] #1939 closed, assigned to nobody

[2018-04-12 08:02] Noodleyman opened #1942 "BETAb2- Email test fails"
all details are valid, but test fails with
![image](https://user-images.githubusercontent.com/10614018/38663956-35183642-3e30-11e8-8bdb-a9854f632f1e.png)

[2018-04-12 08:56] abrookbanks commented on #1942
What details did you use? mail(), SMTP? If you can send me a censored screenshot it would help loads.

It worked with my test setup.

[2018-04-12 09:00] abrookbanks commented on #1942
Hmm tested again with success. All Ajax params match the test parameters.

[2018-04-12 09:02] abrookbanks commented on #1942
I can reproduce this if "Sender's Email Address" is empty but it needs a value so on those grounds it works as expected.

[2018-04-12 09:13] Noodleyman commented on #1942
I just sent you two screen shots via email with data to review. The fields all have valid values. the test was working until I did the update to the beta version

[2018-04-12 09:44] abrookbanks commented on #1942
Thank you.

[2018-04-12 10:41] #1942 closed, assigned to nobody

[2018-04-12 10:48] abrookbanks opened #1943 "Add mod_expires support with default values"
Putting this as a bug and a feature request. Setting `ExpiresByType text/html "access 0 seconds"` may actually fix caching issues with a number of hosting providers where outdated content is pushed by default.

[2018-04-12 10:49] #1943 closed, assigned to abrookbanks

[2018-04-12 12:34] Noodleyman opened #1944 "Add support for hreflang to foundation"
I happened to notice this wasn't in the stock theme, but as it's multi lingual it's probably a good idea to add.

https://support.google.com/webmasters/answer/189077?hl=en

Google uses hreflang tags to match the user's language preference to the right variation of your pages.

[2018-04-12 12:43] Noodleyman opened #1945 "BETAb2 - Cache issue"
If you edit a product and change it's status from Available to Unavailable, the store front does not pick  up the change until you manually clear the cache.

This kind of changes shouldn't require a cache clearing, or should clear the cache upon making the changes in the admin area.

Not sure if this is by design, if it is then admins need to be made aware of the additional steps required to enfor

[2018-04-12 12:45] abrookbanks commented on #1945
Sorry but it does. The cache needs to be cleared manually. Yes its a shag maybe but overall is makes the cache meaningful. 6.0 cleared the cache with every admin page load which did the polar opposite to any good caching actually does.

[2018-04-12 12:47] abrookbanks commented on #1944
New to me.. I like it! Lets get it added..

[2018-04-12 12:47] Noodleyman commented on #1945
There needs to be some notification to inform admins that if they want their config changes applied they must clear the cache.  If you don't know about this new feature then people will assume their changes are live on the site or wonder why the changes are not working.

Shouldn't the cache be cleared when product data is modified (on product save) so your changes are applied in real time?

[2018-04-12 12:48] abrookbanks commented on #1945
The button at the top changes colour top draw attention. With final release we will make this feature clear. I expect people won't like it but for a performance point of view its necessary and will become second nature.

[2018-04-12 12:49] abrookbanks commented on #1945
![screen shot 2018-04-12 at 13 49 12](https://user-images.githubusercontent.com/4520803/38678233-5c42919a-3e58-11e8-9a43-802a39bb2834.png)

[2018-04-12 12:50] Noodleyman commented on #1945
if your going to have to manually clear the cache after every product edit, why not auto clear the cache when saving a product change?

Otherwise, it's adding an additional step/click for the admin with no benefit and introduced a risk of people forgetting to reset cache and not apply changes.

[2018-04-12 12:50] abrookbanks commented on #1945
It's probably better practise to clear the cache when you have finished making all your changes.

[2018-04-12 12:51] abrookbanks commented on #1945
If they forget to clear the cache over time it will sort itself out.

[2018-04-12 12:57] Noodleyman commented on #1945
Ultimately, your decision but I feel this needs refinement. at the very least a setting that allows somebody to enable the auto clearing of cache on product/category saves.

I get that everybody can press the clear cache button as part of a process, but is it really necessary to force users to have to push the button especially if editing things frequently? It's adding additional admin tasks/click

[2018-04-12 12:57] abrookbanks commented on #1945
The cache as it was before was useless. It's now meaningful.

[2018-04-12 13:00] Noodleyman commented on #1945
I don't disagree with that statement. this topic is more focused on the admin processes. Is there any reason to not clear the cache after editing a product or category?

[2018-04-12 13:02] abrookbanks commented on #1945
If you have a busy store and the store admin spends 2 hours editing products clearing the cache every few seconds while visitors are writing the cache out every second it will decimate the server read write processes.

[2018-04-12 13:03] Noodleyman commented on #1945
but, they have to clear it anyway after they edit every product, so what's the difference between automating it and manually doing it?

[2018-04-12 13:04] abrookbanks commented on #1945
Do they? I don't think they do unless its something they need done urgently.

[2018-04-12 13:07] abrookbanks commented on #1945
Relevant: https://github.com/cubecart/v6/issues/1536

[2018-04-12 13:15] Noodleyman commented on #1945
They do if they want their edits to become active immediately.  This is quite a major change and I can see it catching a lot of people out, will there be a notice to clear cache to apply the changes added before the final release?

Do you have any documentation about how cache now works? I'm going to need to review how some of my modules work with smarty, especially if smarty content isn't being d

[2018-04-12 13:21] abrookbanks commented on #1945
Its pretty simple. Skins and inventory is cached for x amount of time. Once that time is passed it gets deleted and written again.

[2018-04-12 13:26] Noodleyman commented on #1945
I just found a valid example where this is a problem. As a test customer I placed an order on my site, then navigated to my user account page and reviewed my recent orders. The order doesn't show up until I clear the cache as an admin.

[2018-04-12 13:28] abrookbanks commented on #1945
So we need to remove caching form that query. This is why we have a beta (nobody is using).

[2018-04-12 13:28] abrookbanks commented on #1945
I'll open a separate issue.

[2018-04-12 13:28] #1945 closed, assigned to nobody

[2018-04-12 13:29] abrookbanks opened #1946 "Remove cache from customer orders list"
Relates to #1945.

[2018-04-12 13:34] abrookbanks commented on #1945
Surely this is a bug in 6.1 too? What if no admin is working at the time you have that scenario?

[2018-04-12 13:35] Noodleyman commented on #1945
I was not able to replicate the issue on 6.1.14, only in the beta

[2018-04-12 13:39] abrookbanks commented on #1945
Weird because it works the same way in theory. Probably proves that its clearing the cache even more than with admin page loads.

Thanks.

[2018-04-12 13:40] abrookbanks commented on #1945
Got to finish early today as I need to get into London for 5pm meeting (beers).

[2018-04-12 14:02] Noodleyman opened #1947 "Password reset does not work correctly"
The email is sent, and when clicking the link you are taken to a page to reset the PW, however after filling in the form to reset the password it errors with

Invalid username or password
Failed to update your password. Please check the email address and validation key are correct and verify the new password matches.

It looks like the key is not stored against the customer record so it can't matc

[2018-04-12 14:07] Noodleyman opened #1948 "BETA2 - Product unavailable button on product page"
the button is misaligned when visible with the latest theme version.

![image](https://user-images.githubusercontent.com/10614018/38682507-2646673c-3e63-11e8-857d-81c708c0dc7a.png)

[2018-04-12 14:35] Noodleyman opened #1949 "BETA2 - Foundation, element.navigation_tree.php"
The "rel" value in the following line should be an absolute URL, currently it is not.

`<li itemprop="name"><label itemprop="url" content="{$BRANCH.url}" rel="{$BRANCH.url}">{$BRANCH.name}</label></li>`

I tried to fix it using the {$STORE_URL} variable, but for some reason this variable does not work within this file.

![image](https://user-images.githubusercontent.com/10614018/38684208-173d5fbc-

[2018-04-12 14:58] havenswift-hosting commented on #1945
It is even worse in bigger stores with multiple admin users - currently each admin is clearing cache after each admin page load, so much so that we have sites where even as quick as it is to delete files on a Linux system, one set of cached files isnt fully deleted before another admin user is trying to delete some of the same cache files.  With two or more admin users actively working, it is bett

[2018-04-12 15:44] abrookbanks commented on #1945
I think when people understand they will appreciate it. I'm expecting a backlash after release so I might need the help of kind folk like yourself to set them straight.

[2018-04-12 15:45] abrookbanks commented on #1945
Thanks Ian.

[2018-04-13 10:00] abrookbanks commented on #1947
Worked flawlessly for me??

[2018-04-13 11:09] Noodleyman commented on #1927
if this was included in beta2, it still isn't working correctly. tested with a clean store install

[2018-04-13 11:15] Noodleyman opened #1950 "BETA2 - Clean install - SQL errors and bad SEO paths"
performed a fresh install of CC using the latest beta, noted no page links on the store front worked. reviewed the Error log and found 213 SQL errors from the install.

![image](https://user-images.githubusercontent.com/10614018/38731804-b7ef1d72-3f13-11e8-84cd-cfc2fcf52beb.png)

the table contains:
![image](https://user-images.githubusercontent.com/10614018/38731823-cda8e580-3f13-11e8-9b1c-025cdd

[2018-04-13 11:21] Noodleyman commented on #1947
hmmm, I can't seem to replicate this on my fresh install, but can on an upgraded one. doing more testing..

[2018-04-13 11:24] Noodleyman commented on #1947
hmm, can't replicate it at all now. whatever was causing the issue seems to have stopped.

[2018-04-13 12:49] abrookbanks commented on #1927
It should only set a cookie domain if the hostname contains a dot. I'll test it again.

[2018-04-13 14:00] Dirty-Butter commented on #1950
Maybe the beta comment I put here and then closed on my own is not so much my own error after all. I thought it was cache related at the time: https://github.com/cubecart/v6/issues/1924

[2018-04-14 06:44] bhsmither opened #1951 "Language Version Indication"
Please incorporate a <version> node in language packages, and display that version in the Manage Extensions list.

Make language packs able to be identified as eligible for "new version available" notices.

[2018-04-14 20:19] Dirty-Butter opened #1952 "BETA - Package Count?"
What is the Package Count field for in the Product Dimensions admin tab?

[2018-04-14 20:34] bhsmither commented on #1952
On what screen?

[2018-04-14 20:44] Dirty-Butter opened #1953 "BETA - flag images"
On the Email Contents screen, my Translation Flags are touching each other - no space in between.

[2018-04-14 20:51] Dirty-Butter commented on #1952
On a specific listing - Products>Dimensions

[2018-04-14 20:51] bhsmither opened #1954 "SSL Admin Settings"
These settings initially had correct values for what I had used as the FQDN for the B1 installation.

Then I changed the FQDN.

These settings retained their values and did not change to match the new FQDN.

So, I blanked them, believing CC62B1 would redetermine the correct values and populate the fields.

The Cookie Domain did update, but the Store URL is simply a forward slash.

I entered the su

[2018-04-14 20:54] bhsmither commented on #1952
I don't have a Dimensions tab. Maybe new to B2 (as opposed to B1)?

[2018-04-14 21:03] bhsmither commented on #1953
There is a space character in the HTML source.

But, as a result of the squeeze algorithm implemented in Smarty, almost every line ending and white space, and HTML comments, are stripped.

There will need to be a CSS rule to counter-act this loss of spacing, or use a `&nbsp;` character.

[2018-04-14 21:06] Dirty-Butter commented on #1952
I'm on current commit I think. Just beginning to kick all the tires. I think I've had a Dimension tab for some time on beta commits. But I hadn't looked at any tabs on anything until today. Mainly just trying to get it all to work at this point.

[2018-04-14 22:59] bhsmither commented on #1952
"Current commit"? Would this then be something past the published CC62B2?

Looking at the (published) B2 code, I see there to be tabs for:
General, Description, Pricing, Category, Options, Image, Digital, Search Engines, Translations, and Reviews - if any.

Where is the Dimensions tab in that lineup?

[2018-04-15 00:42] Dirty-Butter commented on #1952
I'm using the most recent commit, which is past the published beta, https://github.com/cubecart/v6/commit/4535281380ff22a9c6ae1b981e4443068deae8e5

When you open a product listing in Admin, the last tab is the Dimensions.

[2018-04-15 13:25] nutbags commented on #1892
I've only recently heard about the new GDPR regulations coming into force next month and am looking in to what I need to do as a commerce business owner. I note that your new 6.2 update will feature tools to help our compliance and I look forward to getting Havenswift to update me as soon as fully available(I still cannot auto update!) I have a couple of questions though:
I understand that you are

[2018-04-15 18:24] bhsmither commented on #1927
Until this is sorted, I suggest:
https://forums.cubecart.com/topic/51551-resolved-500-internal-server-error-after-wampserver-installation/?tab=comments#comment-219520

[2018-04-15 19:13] bhsmither opened #1955 "OID Config Setting Not Available"
Just for reference:
https://github.com/cubecart/v6/commit/c98a11fe160e3bc9936a5d12a57a80bd294b97d3#comments

It seems that the new Custom OID setting is not immediately available until at some point the Store Settings are saved.

1. Install a fresh CC62.
2. Install (via token) the US language pack.
3. View admin, Email Templates, **Admin: Order Received** (US).
4. Note there is nothing (cart_order

[2018-04-15 20:40] bhsmither opened #1956 "Doc Add Translation List of Language Choices Wrong"
CC62B1:

Install the English-US language pack and make sure it is enabled.

In admin, Documents, note that the Language shows the flag for the language that was in use during install. (If that's important?)

Click the **Add Translation** icon for "Welcome to [Store Name once it is known]".

Note the Language drop-down contains **only** the language already assigned to the document.

[2018-04-16 12:23] abrookbanks commented on #1955
Thanks Brian. Should be safe now.

[2018-04-16 12:23] #1955 closed, assigned to abrookbanks

[2018-04-16 12:32] #1950 closed, assigned to abrookbanks

[2018-04-16 12:45] abrookbanks commented on #1953
Fixed with 869610217fdfa5440c54b58e246c797b6f9976fe typo on issue ID.

[2018-04-16 12:45] #1953 closed, assigned to abrookbanks

[2018-04-16 13:32] abrookbanks commented on #1927
This is fixed now but related to #1954 (which is driving me nuts).

[2018-04-16 13:32] #1927 closed, assigned to abrookbanks

[2018-04-16 13:38] #1946 closed, assigned to abrookbanks

[2018-04-16 13:40] abrookbanks commented on #1952
I think this is an extension or something. I can't find any reference to a global search for "Package Count".

[2018-04-16 13:40] #1952 closed, assigned to nobody

[2018-04-16 13:51] abrookbanks commented on #1954
Honestly I thought I was going mad! Hahaha.

[2018-04-16 13:51] #1954 closed, assigned to abrookbanks

[2018-04-16 14:10] abrookbanks opened #1957 "ACP Clear Cache doesn't fully clear the cache"
It misses CSS, JS and skin cache data

[2018-04-16 14:11] #1957 closed, assigned to abrookbanks

[2018-04-16 14:13] abrookbanks commented on #1948
Sorry I can't reproduce this. Have you cleared your cache?

![screen shot 2018-04-16 at 15 13 06](https://user-images.githubusercontent.com/4520803/38814147-b8ad8fba-4188-11e8-854e-aa5bfe22b149.png)

[2018-04-16 14:24] Noodleyman commented on #1948
Still reproducible, clean install of beta2, stock theme and a test product made unavailable.

![image](https://user-images.githubusercontent.com/10614018/38814788-46d21a08-418a-11e8-9f9b-02cfbfb54d65.png)

[2018-04-16 14:49] abrookbanks commented on #1948
Ah its on the PDP page!

[2018-04-16 14:55] abrookbanks commented on #1949
This will also be fixed by [this](https://github.com/cubecart/v6/commit/2b4705dcb3dd858ff68358a3399f7183a5c12ac6).

[2018-04-16 14:55] #1949 closed, assigned to abrookbanks

[2018-04-16 15:01] abrookbanks commented on #1948
Thanks Alec.

[2018-04-16 15:01] #1948 closed, assigned to abrookbanks

[2018-04-16 21:40] Dirty-Butter commented on #1952
Sorry - I didn't realize I still had SFWS's Dimensions plugin installed on this test site.

[2018-04-16 22:04] bhsmither opened #1958 "Language Bleed-Through"
CC6114:
This is a duplicate from long ago - I am sure I've seen this reported somewhere.

Install a language not being used by anyone anywhere.

In admin, Languages, click the Edit icon for that language.

Various parts of the admin screen are displayed in that language.

I cannot duplicate this in CC620B1. So, I assume this has been fixed for CC6115 as well?

[2018-04-17 02:01] Dirty-Butter opened #1959 "BETA2 typo"
content.contact.php
line 41 contact_sumbit

[2018-04-17 09:18] abrookbanks commented on #1959
Thanks Rosemary :) I would never have seen that with my dyslexia.

[2018-04-17 09:18] #1959 closed, assigned to abrookbanks

[2018-04-17 10:14] abrookbanks commented on #1958
I don't know but if you can't reproduce it then there is nothing to do right?

If you can and have steps to reproduce then I'll have a look at this.

[2018-04-17 10:14] #1958 closed, assigned to nobody

[2018-04-17 10:26] abrookbanks commented on #1944
Thanks for sharing.

[2018-04-17 10:26] #1944 closed, assigned to abrookbanks

[2018-04-17 22:14] Dirty-Butter commented on #1959
Retired school teachers are good for something LOL.

[2018-04-18 09:59] abrookbanks commented on #1956
Hmmm... I think all version may do this. Great bug find.

[2018-04-18 10:38] #1956 closed, assigned to abrookbanks

[2018-04-18 12:30] bos4711 opened #1960 "Stock levels not increased when deleting an order"
CC 6.1.13

Settings -> Store settings -> "Reduce stock levels" is set to "When the order is placed (Pending)".

If a buyer adds PRODUCT (1 left in stock) to his basket and checks out, and I delete the order, the stock level for PRODUCT is zero (0).

Expected value here would be one (1) since the order was deleted.

[2018-04-18 15:07] bhsmither commented on #1956
CC6114 works correctly, but then it had that bleed through issue.

[2018-04-18 15:14] abrookbanks opened #1961 "6.2.0 RC1 Install Fails"
White screen with no interesting PHP error_log entries.

[2018-04-18 15:17] abrookbanks commented on #1961
B2 works so has to be something new in this release. Upgrade seems to work.

[2018-04-18 15:29] abrookbanks commented on #1961
Yup that fixed it.

[2018-04-18 15:29] #1961 closed, assigned to abrookbanks

[2018-04-18 21:06] Dirty-Butter opened #1962 "RC2 - product tabs on storefront issue?"
I'm working on merging my edits with rc2 foundation, and nothing I do gets the tabs to look correct on a product storefront listing. Even when I use a stock content.product.php I get the specification
 table showing on description and the description showing on the spec table. It looks the same no matter which tab you click on.
Is there another file I need to fiddle with besides content.product.ph

[2018-04-19 07:33] Noodleyman opened #1963 "Add support for secure database connections"
Given the current climate of security issues, can we put adding support for secure MySQL connections on the road map?

It should be fairly simple to add support for this via some additional advanced settings, although as with all things it does have dependencies on the MySQL server version & configuration.

[2018-04-19 08:03] abrookbanks commented on #1962
I can't reproduce this Rosemary. I'm sorry.

[2018-04-19 08:03] #1962 closed, assigned to nobody

[2018-04-19 08:16] abrookbanks opened #1964 "Replace SKIP_DB_SETUP with CC_IN_SETUP"
To keep in line with CC_IN_ADMIN etc...

[2018-04-19 08:17] #1964 closed, assigned to abrookbanks

[2018-04-19 11:08] abrookbanks opened #1965 "Incorrect variable for admin.php upgrade extract check"

[2018-04-19 11:09] #1965 closed, assigned to abrookbanks

[2018-04-19 15:16] abrookbanks opened #1966 "ZipArchive->renameName is unreliable"
It seems to cause the extract to fail (at leat on some PHP versions)

[2018-04-19 15:17] abrookbanks commented on #1966
Should bring make auto upgrade too more reliable.

[2018-04-19 15:17] #1966 closed, assigned to abrookbanks

[2018-04-19 15:32] abrookbanks opened #1967 "recursiveDelete({path}) doesn't list dot files like .htaccess"
This means the folder might not be deleted fully.

[2018-04-19 15:33] #1967 closed, assigned to abrookbanks

[2018-04-19 15:57] Noodleyman opened #1968 "Problem with email field after failing error checking"
This has been around a while, but I only just remembered to report it. I've replicated this on the latest beta build to validate it still exists.

If you are adding an email address, for example on the registration page of the store front and you trigger the "That email address is already being used." error, it's very difficult to type your new email address. Every time you type a new character th

[2018-04-19 23:15] Dirty-Butter commented on #1962
I was able to get a clean install on a test site with R2, so now I can make such comparisons for myself. Thanks.

[2018-04-20 07:33] abrookbanks commented on #1968
I'm really pleased you mentioned this. Since the CSRF token is now static we can remove this annoying fail safe. It was introduced to make sure the CSRF token got updated before submitting again therefore stopping CSRF error on email check.

[2018-04-20 07:34] Noodleyman commented on #1968
Thank you Al :)

[2018-04-20 07:34] abrookbanks commented on #1968
I think we can strip it back even further..

[2018-04-20 07:53] abrookbanks commented on #1968
Ok so I nearly made a stupid mistake changing the JSON format in the core code which would upset any custom skins currently using CSRF. Reverted back but only used required data from it ignoring the returned token.

[2018-04-20 07:53] #1968 closed, assigned to abrookbanks

[2018-04-20 08:06] abrookbanks opened #1969 "6.2.0 RC2 - User data should not be cached"
Updating profile doesn't show changes.

[2018-04-20 08:07] #1969 closed, assigned to abrookbanks

[2018-04-20 10:23] abrookbanks opened #1970 "Redirect from upgrade delete upgrade_error_log loads wrong tab"

[2018-04-20 10:25] #1970 closed, assigned to abrookbanks

[2018-04-20 22:19] Dirty-Butter opened #1971 "RC2- duplicate boxslider line templates\element.css"
'skins/{$SKIN_FOLDER}/css/cubecart.helpers.css',
                                'skins/{$SKIN_FOLDER}/css/jquery.bxslider.css',
                                'skins/{$SKIN_FOLDER}/css/jquery.bxslider.css',
                                'skins/{$SKIN_FOLDER}/css/jquery.chosen.css']}

[2018-04-21 06:25] Noodleyman opened #1972 "BETA issue - currency"
minor thing, not sure if this is by design or not. If you only had a single currency enabled then the currency selector on the store front would be hidden, why show something with only one choice, right?

but, I just noticed that it does still show in the latest versions, only with a single currency available.

[2018-04-21 14:48] Dirty-Butter opened #1973 "RC2 - products.export.inc.php Header??"
The Google headers in Google Base plugin corresponding to the dimension fields in products,export.inc.php are not present. And the Google terms are different from the CC ones.
shipping_length
shipping_width
shipping_height
Also, how would the units field(s) be done in Google_Base?

[2018-04-21 15:41] LibertineNL opened #1974 "categories 6.2.0-rc2"
Just upgraded to newest version.
It seems that I can't change the categories in my store.
New category doesn't show up online, visible/status on or off doesn't work either

[2018-04-21 22:14] bhsmither commented on #1972
Also a minor thing, but may come to bite you later: several countries use the same symbol --
Mexico, USA, Australia, Canada, New Zealand, Singapore use $.

[2018-04-21 22:21] bhsmither commented on #1974
CC62 incorporates a "Clear Cache on Demand". That is, make your edits, then when necessary, clear the cache. There is a "Clear Cache" button in the upper right corner.  It should be lit when databased edits are ready to be re-cached.

If this is frustrating for you, especially when initially building and stocking your store, see if disabling the cache makes things easier. In admin, Store Settings,

[2018-04-22 06:25] #1974 closed, assigned to nobody

[2018-04-22 06:26] abrookbanks commented on #1972
On the grounds of shared symbol I'd suggest adding a suffix.

E.g. $9.99 USD, $9.99 CAD etc.

[2018-04-23 00:37] bhsmither opened #1975 "Language Key Consistency"
Suggestion: add language key to `$email_types` and `CubeCart_email_content`.

Note the inconsistency:
[code]
Note: If the language key and the content type were consistent, enhancements could be more easily done. For example:
[code]
Since this is not likely to change, add the column `name` to `CubeCart_email_content`. The value would be the language string attribute `"name"`, thus gluing the defin

[2018-04-23 09:01] abrookbanks commented on #1971
Thank you!!

[2018-04-23 09:01] #1971 closed, assigned to abrookbanks

[2018-04-23 09:04] abrookbanks commented on #1972
It's one of those preference things. Some people like to see what currency the store operates in.

We could easily add some code to remove it. I'm not sure why the decision to show it was made. Maybe another user asked for it. I don't know. It can easily be removed with a simple code change.

Let's leave this as it is for now but keep in mind.

[2018-04-23 09:04] #1972 closed, assigned to nobody

[2018-04-23 09:07] abrookbanks commented on #1973
I've put this as a feature request as this isn't really supported fully yet.

[2018-04-23 09:07] #1973 closed, assigned to nobody

[2018-04-23 09:47] Noodleyman commented on #1972
just an observation. the code in smarty is designed to hide it today, but for some reason isn't.. :)

it uses:
`{if count($CURRENCIES)>1}`

I've not looked at it in detail

[2018-04-23 10:15] abrookbanks commented on #1972
Thats right. There is an else to the clause to show just the one currency. [Those lines](https://github.com/cubecart/v6/blob/6.1.15-branch/skins/foundation/templates/box.currency.php#L22-L23) could be removed.

[2018-04-23 10:17] abrookbanks commented on #1974
I made a note about this on the 6.2 release announcement.

[2018-04-23 12:22] hairy-dog opened #1976 "Leading Zeros is a misleading label"
In 6.2.0 the new order number setup (which is great, thanks) has a setting labelled "Leading Zeros", but that is simply not what it is. It is the number of digits in the order number. There may or may not not be leading zeros, depending on how many digits are in the order number.
I can't see any reason why the label can't be "Digits in Order Number" or "Number of Digits". or "Number Length".
I don

[2018-04-23 15:42] abrookbanks commented on #1976
Number Length is probably better. Something for 6.2.1. Thanks.

[2018-04-24 09:27] sumwonlost opened #1977 "Store Offline issue."
Take store offline then goto frontend.  On click warning message to logout (view offline message) it gives "File not found" error.

[2018-04-24 11:25] abrookbanks commented on #1947
Reopening to remove cache from the queries around this functionality.

[2018-04-24 11:26] abrookbanks commented on #1947
See: https://forums.cubecart.com/topic/53898-customers-can%E2%80%99t-reset-password/

[2018-04-24 13:50] #1947 closed, assigned to abrookbanks

[2018-04-25 08:37] #1976 closed, assigned to abrookbanks

[2018-04-25 08:42] #1977 closed, assigned to abrookbanks

[2018-04-25 09:14] MrGweb opened #1978 "Forum"
sorry to post here but the forum has this error - you cant do anything it wont let you reply or post

this is on the bottom of the page
![screen shot 2018-04-25 at 7 13 30 pm](https://user-images.githubusercontent.com/30888410/39236711-d1490b86-48bc-11e8-837f-d765f469d733.png)

[[Template core/global/global/includeJS is throwing an error. This theme may be out of date. Run the support tool in the

[2018-04-25 09:59] havenswift-hosting commented on #1892
I think the newsletter consent side needs some extra work.  The ICO document states that you must

"Keep evidence of consent – who, when, how, and what you told people."

What I have seen in other software products is a list of date/time and IP address when people have opted in and out - so you can prove that if a person was opted in on 1st April, received a newsletter sent on the 4th April and th

[2018-04-25 10:12] abrookbanks commented on #1892
Ok so we need another table for subscription history. Makes sense....

[2018-04-25 10:13] abrookbanks commented on #1892
So are you saying it shouldn't be deleted from history? But then you have their email on file. LOL. Fun this isn't it?!?

[2018-04-25 10:19] abrookbanks opened #1979 "GDPR Keep evidence of consent – who, when, how, and what you told people"
As above. CubeCart needs a subscription consent log and bulk emailer log as to when marketing was sent.

[2018-04-25 10:20] abrookbanks commented on #1892
I've closed this again but opened a new issue in regards to evidence of consent. See: #1979

[2018-04-25 10:20] #1892 closed, assigned to abrookbanks

[2018-04-25 10:20] havenswift-hosting commented on #1892
Yep - all good intentions but not very practical as usual !

I think if they are only signed up for newsletters (ie arent an active customer) and they request to be deleted - then the history has to go which contradicts this statement but I guess a deletion request trumps unsubscribe !

If they ask to unsubscribe, you dont need to delete their details, just record that they dont want to receive ne

[2018-04-25 10:21] abrookbanks commented on #1892
Thanks Ian, that's massively helpful. I'll get onto this one right away.

[2018-04-25 10:42] havenswift-hosting opened #1980 "What cookies are used by CubeCart"
I know it is possible to find out what cookies are being used via Chrome developer tools and various websites but many store owners may not be able to use or understand this so it might be useful to have a KB article saying what cookies are used by a standard CubeCart store (maybe include cookies such as Analytics that are part of core code although not necessarily present on all stores).  Obvious

[2018-04-25 11:16] abrookbanks commented on #1980
Funny this was on my mind.. I'll create a KB article.

[2018-04-25 12:32] abrookbanks commented on #1980
https://support.cubecart.com/Knowledgebase/Article/View/241/20/what-cookies-are-used-by-cubecart

[2018-04-25 12:32] #1980 closed, assigned to nobody

[2018-04-25 13:36] abrookbanks commented on #1979
Also log when terms and conditions accepted on checkout probably with current terms and conditions saved against it.

[2018-04-25 15:06] abrookbanks commented on #1978
Looking at this now..

[2018-04-25 15:19] abrookbanks commented on #1978
Fixed now. Redis had died.

[2018-04-25 15:19] #1978 closed, assigned to nobody

[2018-04-26 09:20] keat63 opened #1981 "Feature Request - Restrict access to admin panel via IP address."
Not sure if this has been considered, but a feature to restrict admin panel login to IP address or addresses would be a nice feature.
Easpecially given the new GDPR nonsense.

[2018-04-26 09:26] havenswift-hosting commented on #1981
It isnt really a GDPR issue but is a good idea if you have a fixed IP address from your ISP.  However, it is much better if this is done manually rather than through CubeCart and is very simple to do by creating a .htaccess in the admin directory with the IP's allowed / denied

[2018-04-26 09:49] abrookbanks commented on #1981
This should not within the realms of CubeCart. Instead it should be at firewall/web server level which will by nature be much more efficient.

[2018-04-26 09:49] #1981 closed, assigned to nobody

[2018-04-26 09:54] keat63 commented on #1981
Not everyone has access to a firewall or web server access.

On Thu, 26 Apr 2018, 10:49 am Al Brookbanks, <notifications@github.com>
wrote:

[2018-04-26 09:54] abrookbanks commented on #1981
You have access to the .htaccess file. :)

[2018-04-27 08:13] romanklabal opened #1982 "Selecting a category image after uploading a new one does not work"
Steps to reproduce:

1. Edit a category in the backend
2. Upload a new image using the AJAX CC Dropzone
3. Select any image in the fileTree
4. No changes are saved, because the $_POST['imageset'] array is not present in the request

I have found the bug in the admin.js file. When you create a new fileTree, you set the name based on the id attribute:

`name: $(this).attr("id")`

However when you re

[2018-04-27 08:26] romanklabal commented on #1982
To be honest the more I look into this the more confused I am, as it should not work for products as well, huh. I trust you with it though, as its definitely broken for categories!

[2018-04-27 09:39] abrookbanks opened #1983 "Create Order "Copy from Billing Address" fails if state is empty"
As above.

[2018-04-27 09:45] #1983 closed, assigned to abrookbanks

[2018-04-27 09:52] abrookbanks commented on #1982
Thanks for the detailed report.

[2018-04-27 11:07] abrookbanks commented on #1979
![screen shot 2018-04-27 at 12 06 11](https://user-images.githubusercontent.com/4520803/39359834-7e031072-4a13-11e8-83e8-315eaef76136.png)

[2018-04-27 12:20] abrookbanks commented on #1886
Reopened due to a bug when order status is set to update the order to processing.

[2018-04-27 12:21] #1886 closed, assigned to abrookbanks

[2018-04-27 12:36] abrookbanks commented on #1979
![screen shot 2018-04-27 at 13 35 51](https://user-images.githubusercontent.com/4520803/39362873-ed639e12-4a1f-11e8-9cef-8b402c7e380c.png)

[2018-04-27 12:48] havenswift-hosting commented on #1979
Looking good - might also be useful to be able to select all newsletter signups based on whether they have opted in or not and then be able to send an email to those not double opted in and also a method to delete those not double opted in

[2018-04-27 13:04] abrookbanks commented on #1979
![screen shot 2018-04-27 at 14 03 28](https://user-images.githubusercontent.com/4520803/39363908-e133534a-4a23-11e8-8a99-5e5e29b0ebca.png)

[2018-04-27 14:02] abrookbanks opened #1984 "Bulk email tool isn't very pretty and can be too quick"
For small mailing lists its all over to fast. Progress bar will flash up briefly before redirect.

[2018-04-27 14:04] abrookbanks commented on #1984
![screen shot 2018-04-27 at 15 03 57](https://user-images.githubusercontent.com/4520803/39366581-3c4ad08e-4a2c-11e8-9979-fac8f1622cc4.png)

[2018-04-27 14:04] #1984 closed, assigned to abrookbanks

[2018-04-28 14:30] abrookbanks opened #1985 "Admin order email notification email view order link may be wrong!"
Custom order ID will cause it to fail as it expects traditional format.

[2018-04-28 14:31] #1985 closed, assigned to abrookbanks

[2018-04-28 16:29] Dirty-Butter opened #1986 "6.2.0 State Required??"
https://github.com/cubecart/v6/commit/01c4032dd8a3f6a7959354cf1927c5cdff82d779

I've checked on two of my test sites and the Required State Status db change is not being applied to USA.

[2018-04-28 21:53] bhsmither opened #1987 "Database Index"
CC620:
Looking at the 6.2.0-b1.sql file, there is a new column `custom_oid` added with `NOT NULL DEFAULT ''`.

This adds the column and fills all rows with a zero-length string.

Then there is a new index added with `UNIQUE` attribute.

My database manager is complaining about `Duplicate entry` for `custom_oid`.

[2018-04-28 23:03] Dirty-Butter commented on #1987
I have the same issue - thought it was my fault. I have a support ticket into host, but maybe it's a CC issue?

[2018-04-28 23:08] Dirty-Butter opened #1988 "6.2.0 predis??"
I don't understand this code, but it just looks like it needs a / before lib to me.

redis.class.php in classes\cache

	require CC_INCLUDES_DIR."lib/predis/autoload.php";

Wondering if it might be a typo or, more likely, my ignorance of the code

[2018-04-29 00:01] bhsmither commented on #1986
Were these two sites an upgrade from CC6.1.X to CC6.2.0?

If so, I have found a problem. Issue to be posted soon.

[2018-04-29 00:33] bhsmither commented on #1988
In ini.inc.php, a constant is set up to be:
`CC_INCLUDES_DIR` is `CC_ROOT_DIR.'/includes/'`
where
`CC_ROOT_DIR` is `realpath(dirname(__FILE__))`
where
`realpath(dirname(__FILE__))` is the server-level path the operating system says the file `ini.inc.php` is located - without a trailing slash.

In conclusion, all the special DIR constants have trailing slashes - except CC_ROOT_DIR.

[2018-04-29 00:42] Dirty-Butter commented on #1986
6.1.14 to 6.2.0 - haven't applied the latest change Al mentioned on a forum post - otherwise to current. I have issues in both test site databases as far as error messages on key.

[2018-04-29 00:59] bhsmither opened #1989 "Database CHANGE from ENUM to TINYINT Fault"
In 6.2.0-b1.sql, a staement is issued to CHANGE CubeCart_geo_country.status to the TINYINT data type.

CubeCart has this column since 6.0.0 as an `ENUM('0','1')` text data type.

Be aware that the database actually stores the 1-based index of the list of strings:
[code]
Thus, when converting the contents of 'status' to TINYINT, it is the actual contents that remain - and **not** the result of atte

[2018-04-29 01:24] Dirty-Butter commented on #1988
Figured it was my lack of understanding. Thanks Bsmither. I'll close this.

[2018-04-29 01:24] #1988 closed, assigned to nobody

[2018-04-29 01:39] bhsmither commented on #1986
(If the "error messages on key" does not relate to this Country vs State issue, may I humbly recommend that we do not pollute this (or any) thread with unrelated comments.)

See issue #1989.

Does the choice of 'State Required' stick if changed from within admin?

[2018-04-29 12:10] Dirty-Butter commented on #1986
Sorry, since your explanation of the cause of the State Required not working at this point deals with table structure settings - I thought it might be related. That's my lack of understanding, as usual.

And, yes, the Required sticks when changed within admin.  Optional countries like the UK, with states already in the database, DO have the drop down choices, however.

[2018-04-29 14:29] abrookbanks commented on #1989
It should probably be ENUM('0','1','2') instead....

[2018-04-29 14:30] abrookbanks commented on #1987
It can't be a unique column at the time of setup. I'd suggest we lose this from install/upgrade and apply at the time of creating the trigger.

[2018-04-29 16:18] bhsmither commented on #1989
I have never seen commentary that promotes the use of ENUM to hold this sequence of numeric-looking strings. I have seen plenty of commentary that opines this is a bad idea.

ENUM has its uses, but a list of string literals used as zero- or one-based indexes to another list ain't one of them.

[2018-04-29 17:15] jasehead commented on #1449
With the horizontal gallery, I'm having problems with images stretching if the first/main image is square and the rest are landscape - probably to do with how min_height is calculated in 2.cubecart.js

[2018-04-30 05:01] bhsmither opened #1990 "Smarty's New Code Not Compatible with Something"
FYI:
CC620:
See: https://forums.cubecart.com/topic/53926-cc620-crashes-php/

I replaced the Smarty folder and the Foundation skin folder (and commented relevant lines in the controller) with CC6115 versions and the problem did not manifest.

[2018-04-30 12:20] abrookbanks commented on #1986
Thanks guys. I'll close this due to #1989 and pick it up form there.

[2018-04-30 12:23] abrookbanks commented on #1990
I'm not a windows man at all. Is there a way to debug 'Unhandled Win32 Exception'?

Please remember that strictly speaking Windows is not a supported platform. Can you install a different version of PHP? Just because MS Server 2003 doesn't support PHP 5.5 and above can't you configure it manually?

https://windows.php.net/download#php-7.2

... as I said I have almost zero PHP, IIS, Windows experie

[2018-04-30 14:51] charles111444 commented on #1979
Recording consent
 We keep a record of when and how we got consent from the individual ?
 We keep a record of exactly what they were told at the time ?

[2018-04-30 14:54] charles111444 commented on #1979
Recording consent
Any consent and log of privacy policy (accept or not) Or Except as the only option. Is this needed ? Eg I accept your cookies used on this website. Logged at? By?  or denied. If denied then a facility to stop them purchasing on website.

[2018-04-30 15:02] abrookbanks commented on #1979
You mean accept not except?

[2018-04-30 15:06] charles111444 commented on #1979
yes lol thank you oops.

[2018-05-01 00:56] demand73 commented on #1931
Can this be because the images are in a sub-folder?
I will correct myself in this mather, works fine even with subfolders.

[2018-05-01 06:48] bhsmither opened #1991 "BXSlider CSS to be Converted"
There are still two `background: url()` to be converted to `data:` in jquery.bxslider.css.

[2018-05-01 07:00] bhsmither commented on #1990
I have eliminated the HTMLMinify filter as the cause of the problem.

That leaves the new {combine} function.

[2018-05-01 10:00] charles111444 commented on #1979
Think a news letter opt in opt out ain't needed. Just opt in opt out accepted or denied cookies. They the one who signs up to them in the first place and pretty sure you could put in privacy policy that if you want us to stop sending you news letter to give us a email or call.

[2018-05-01 10:03] charles111444 commented on #1979
Think a news letter opt in opt out ain't needed. Just opt in opt out accepted or denied cookies. They the one who signs up to them in the first place and pretty sure you could put in privacy policy that if you want us to stop sending you news letter to give us a email or call.

[2018-05-01 11:14] abrookbanks commented on #1991
Reverted back to image path URL instead of inline image. This is since combine will adapt the path accordingly. Relates to #1933

[2018-05-01 11:14] #1991 closed, assigned to abrookbanks

[2018-05-01 11:18] abrookbanks commented on #1990
I wonder if there is a specific function in it that the server doesn't like. For example Solaris will not work with a glob brace flag. I expect the sever is taking exception to something in that file.

[2018-05-01 11:26] abrookbanks commented on #1990
I have a feeling in my bones [it's this](https://github.com/cubecart/v6/blob/6.2.0-branch/includes/lib/smarty/plugins/function.combine.php#L94).

http://php.net/manual/en/function.flock.php

[2018-05-01 13:24] Dirty-Butter opened #1992 "Newsletter Confirm Subscription language packs"
The newsletter confirmation section needs to be added to the language packs when you have time (lol)

[2018-05-01 15:44] abrookbanks commented on #1992
I can't do it because I am monolingual. Actually thats a lie as I can order a beer in French, Spanish, Italian and German. (Don't test me please!!!).

I have to leave this work to someone else.

[2018-05-01 15:58] abrookbanks opened #1993 "Reduce Foundation Heading Font Sizes"
I get asked every week on support how to make the titles smaller so they should probably be reduced by default until we get a better default skin.

[2018-05-01 16:07] #1993 closed, assigned to abrookbanks

[2018-05-01 16:07] SemperFiWS opened #1994 "Skin Select - Clear Cache Required"
Scenario:
- 6.2.0 store, clean install
- multiple skins
- switch skin enabled for all

If a customer uses the skin selector to change skins, it will result in a blank white page in the storefront.
I believe that occurs as there is no cached CSS + JS files for skin being switched to.

Clicking on the 'clear cache' link on the admin dashboard will resolve the issue, somewhat.

Suggestion:
Add clear/

[2018-05-01 18:55] Dirty-Butter commented on #1992
I don't think the opt-in choice for newsletters is going to work if there is no confirmation email to send. I got an error message when I tried.

[2018-05-01 20:10] Dirty-Butter opened #1995 "Default Language entries cannot be edited"
In the Demo store (where all language phrases are stock) - terms cannot be edited. On my test stores the previous edits that are saved in my lang_strings table can be edited.

[2018-05-02 00:29] bhsmither commented on #1990
I have narrowed the problem to be triggered by sending a large file through CSSmin.php.
`skins/foundation/css/normalize.css` passes
`skins/foundation/css/foundation.css` crashes

See:
http://john.cuppi.net/phps-pcre-backtrack_limit-and-recursion_limit/
https://bugs.php.net/bug.php?id=62876
https://bugs.php.net/bug.php?id=63829 (mentions a solution)

PCRE limitations being set too high, allowing fo

[2018-05-02 01:08] bhsmither commented on #1990
Made the change to give Apache 8MB stack size (default for Windows 1MB, Linux 8MB).

The combined CSS file created successfully.

I think JSmin would not have been a problem, as I do not find any sort of PCRE functions being used there.

[2018-05-02 04:04] bhsmither commented on #1995
Please see #1903.

[2018-05-02 04:12] bhsmither commented on #1994
There will be the bare-bones HTML sent to the browser. Sure, browser may get a 404 if the "combined" files are not in the cache. But there will be a page - it will look ugly.

The fault must lie elsewhere.

[2018-05-02 04:22] bhsmither commented on #1994
I didn't do a CC620 clean install, but I changed through several skins no problem. Are you saying this **must** be a clean install?

[2018-05-02 04:33] bhsmither commented on #1994
A fresh install of Beta1 (on a standby server) switched fine to Kurouto.

A skin needs to utilize the new Smarty plugin {combine} to get those massive CSS and JS files located in the /cache/ folder. Otherwise, the page makes requests to the skin's own css and js files.

[2018-05-02 07:25] abrookbanks opened #1996 "GDPR delete customer account with no orders and orders over certain age"
As above. A tool to do this may be useful.

[2018-05-02 07:52] abrookbanks commented on #1996
[code]

[2018-05-02 09:26] Noodleyman opened #1997 "Unable to use more than one promotional code"
As a customer if you try and use more than one promotional code, the most recent code is applied to the cart and the previously applied code is removed.  Ideally they should stack to allow a customer to take advantage of multiple offers if available.

It would be helpful to have the ability to configure a promotional code to allow it to be used with other codes (stackable) or solo use only.

[2018-05-02 09:27] Noodleyman opened #1998 "Promotional Codes - Customer specific"
Promotional codes can be restricted to specific products, it would also be helpful to be able to lock promotional codes to specific customer accounts, thus preventing a code being released into the wild for all to use :)

[2018-05-02 09:53] #1998 closed, assigned to nobody

[2018-05-02 10:15] bos4711 commented on #1931
Highly unlikely, since the categories are in a sub-folder as well, and the category ticks are working as expected.

[2018-05-02 10:20] hairy-dog commented on #1997
There be dragons! Imagine I have a code that gives £5 off, a code that gives 10% off and a code that gives 30% off.
A customer buys a £100 product. They use all three codes. What do they pay?
100 - 5 = 95
95 - 10% = 84.50
84.5 - 30% = 59.15
or
100 - 30% = 70
70 - 10% = 63
63 - 5 = 58.00
or several other net prices

[2018-05-02 10:23] Noodleyman commented on #1997
any percentages.. combine the % to make a single discount.. 10% and 30% combine to make 40%.

Fixed prices, interesting point. not sure if they should come first or last. My gut feeling is first.

So apply static discounts first, reducing the 100 by X. Then apply a 40% discount on the remainder.

[2018-05-02 11:10] abrookbanks commented on #1931
Guys I'll look at this asap. GDPR issues have to come first.

[2018-05-02 11:37] hairy-dog commented on #1997
In my view, any ambiguity should be resolved in favour of the customer. So that means that static discounts have to be deducted last, not first.
I'm not sure what to think about conditional discounts in multiple discounts. For example, if a discount is £5 off all orders over £100 and a percentage discount takes the order from £105 to £95, would the £5 off then be invalid? Though I've never tried t

[2018-05-02 11:46] Dirty-Butter commented on #1995
Ah - didn't occur to me to check other browsers. So it works properly in Chrome. Is this fixable from CC's side?
But #1903 seems to say that clicking on the area does allow editing. My FF only allows editing if it had previously been edited, no matter where or how I click.

[2018-05-02 12:34] abrookbanks commented on #1996
![screen shot 2018-05-02 at 13 33 59](https://user-images.githubusercontent.com/4520803/39523435-7eca90ae-4e0d-11e8-8d63-bb86cdc78cc3.png)

[2018-05-02 12:35] #1979 closed, assigned to abrookbanks

[2018-05-02 14:12] bhsmither commented on #1995
My Firefox, I have to click on the language key, or basically anywhere directly to the left of the text-entry box.

[2018-05-02 14:12] abrookbanks commented on #1996
![screen shot 2018-05-02 at 15 12 05](https://user-images.githubusercontent.com/4520803/39528135-31b13198-4e1b-11e8-94fd-efb87cf4f04b.png)

[2018-05-02 14:16] abrookbanks commented on #1994
I can't reproduce this at all.

[2018-05-02 14:19] Dirty-Butter commented on #1995
THAT works! Not intuitive, but it works. THANK YOU!!

[2018-05-02 14:19] abrookbanks commented on #1994
Movie: http://static.cubecart.com/issue-1994-skin-switch.mp4

[2018-05-02 14:22] abrookbanks commented on #1995
Use Chrome instead its much nicer. :)

[2018-05-02 14:22] #1995 closed, assigned to nobody

[2018-05-02 14:23] abrookbanks commented on #1994
I'll reopen if needs be. Please come back with more info if this persist.

[2018-05-02 14:23] #1994 closed, assigned to nobody

[2018-05-02 14:35] abrookbanks commented on #1997
Closing as per the feature request submission guidelines.

[2018-05-02 14:35] #1997 closed, assigned to nobody

[2018-05-02 14:37] abrookbanks commented on #1963
The vast majority of customer use localhost or internal network hostname. This would be a welcome feature but as an internal process it's not critical.

Granted this would be good for those using an external host (which must be a performance bottleneck).

[2018-05-02 14:37] #1963 closed, assigned to nobody

[2018-05-02 14:45] abrookbanks commented on #1987
It just can't be a unique key.

[2018-05-02 15:06] abrookbanks commented on #1989
Tested with disabled countries on upgrade including US that needs state required. Passed.

[2018-05-02 15:06] #1989 closed, assigned to abrookbanks

[2018-05-02 15:07] abrookbanks commented on #1986
Fixed with recent commit.

[2018-05-02 15:07] #1986 closed, assigned to abrookbanks

[2018-05-02 15:35] #1992 closed, assigned to abrookbanks

[2018-05-03 04:44] bhsmither opened #1999 "Column Sort May Not be Acted Upon"
In orders.transactions.inc.php, line 79, the query includes `JOIN` and an array for the sort. Also, line 28.

In `DB->select()`, if `JOIN` is found, `$allowed` is not set.

Later, when constructing `$orderString`, `$order` is an array but `$allowed` is not an array, and `$orderArray` is not built.

Therefore, `$orderString` is _null_.

Quick fix is to fix orders.transactions.inc.php by changing `$

[2018-05-03 08:45] havenswift-hosting opened #2000 "Recommended PHP version"
CubeCart is still showing 5.6 as the recommended PHP version - this should be at least 7.1 or maybe even 7.2 (although cPanel dont yet support ionCube loaders 10.2.0 for PHP 7.2) now as these are the only actively supported versions (5.6 and 7.0 dont have active support and only have security support for six months)

[2018-05-03 08:48] abrookbanks commented on #1992
Yes it will send now since these fixes even if the translation for the current language doesn't exist. It will send it in English.

[2018-05-03 08:59] abrookbanks commented on #2000
Agreed. As ioncube isn't required by default lets go with 7.2.

[2018-05-03 08:59] #2000 closed, assigned to abrookbanks

[2018-05-03 08:59] abrookbanks commented on #2000
See commit: a2d11cb30fb3b5877f23dd881f4a0eab14ef19f9

[2018-05-03 10:33] abrookbanks commented on #1990
OK so it sounds like we can close this one and keep it in mind for Windows users. PHP 5.4 is past its end of life now anyway so its seems silly to adapt CubeCart around this.

[2018-05-03 10:33] #1990 closed, assigned to nobody

[2018-05-03 14:06] bhsmither commented on #1990
Technically, the problem was not with PHP. The specific environment of **Apache** 2.2 (maybe any version of Apache) on a 32-bit **Windows** (maybe any bitsize) box using a specific function (apparently with known limitations) on a sufficiently large file.

Overflowing the stack.

Which means, with a sufficiently large file, this will occur on _any_ kit.

[2018-05-03 17:34] bhsmither opened #2001 "Bad URL"
New to CC620:
Jpayam has found that Foundation main.php (and probably main.checkout.php) uses `{$ROOT_PATH}`, which includes a trailing slash, causes a double-slash at the favicon link.

[2018-05-04 02:28] sumwonlost opened #2002 "Addressbook - Admin Side"
It stands to reason that only 1 Billing Address and 1 Default Delivery Address exist for a Customer.

This works correctly on front-end when Customer add/edit address and these checked.  It saves the checked value as 1 and changes other addresses value=1 to value=0 for selected customerid.

However on Admin side this does not work correctly and allows for multiple Billing and Default Delivery Addr

[2018-05-04 08:52] abrookbanks commented on #2001
Thank you

[2018-05-04 08:52] #2001 closed, assigned to abrookbanks

[2018-05-04 09:12] havenswift-hosting commented on #2001
I haven’t checked Foundation code, but don’t you need to make the change to main.checkout.php as well ?

[2018-05-04 09:14] abrookbanks commented on #2001
Absolutely!! I'm pleased you have your head screwed on this morning. I clearly don't.

[2018-05-04 09:37] abrookbanks commented on #1996
Still work to do.

[2018-05-04 09:52] abrookbanks commented on #1996
![screen shot 2018-05-04 at 10 52 39](https://user-images.githubusercontent.com/4520803/39622232-4ad08f74-4f89-11e8-8c63-fffe5152d7cf.png)

[2018-05-04 09:54] abrookbanks commented on #1996
This is flawed right now because a customer who registered 10 years ago may have orders placed yesterday.

[2018-05-04 11:37] sumwonlost commented on #2002
After further testing, the Default Delivery Address work correctly only permitting 1 address however the Billing Address has bug.  It creates multiple Billing Addresses.

As a result of having multiple Billing Addresses in front-end when Customer login -> addressbook - no delete checkbox appears for either address.

[2018-05-04 11:50] #1996 closed, assigned to abrookbanks

[2018-05-04 22:42] Dirty-Butter commented on #828
In 6.2.0 Store Settings>Stock already asks if weight should be Metric or Imperial - wouldn't it make more sense to have a setting that chooses Metric or Imperial for ALL the weight and dimension settings? Otherwise every new listing has to be chosen for inches or centimeters and all existing listings will have to have a query run I suppose to set the correct one. Some sellers will need both measur

[2018-05-06 19:23] theoneandonly-vector commented on #1870
I don't see any status drop-down, it's still the tick/untick over here.

[2018-05-06 19:54] abrookbanks commented on #1870
Then your store hasn't been upgraded to the latest version fully.

[2018-05-06 19:55] theoneandonly-vector commented on #1870
what can I do to update it fully?
I uploaded the latest files from github and ran the setup.. it shows it's
v.6.2.1 now.

Al Brookbanks <notifications@github.com> schrieb am So., 6. Mai 2018, 21:54:

[2018-05-06 20:45] Dirty-Butter commented on #1870
I am having an issue with the Required placeholder on 6.2.1 latest commit.  See https://forums.cubecart.com/topic/53956-problem-with-state-placeholder-in-620/

It's also showing on the 6.2.0 Demo store.

[2018-05-06 22:46] claudia39 commented on #828
Agree Dirty-Butter!

[2018-05-07 08:41] abrookbanks opened #2003 "SQL error with DB prefix"
[code]

[2018-05-07 08:42] #2003 closed, assigned to abrookbanks

[2018-05-07 23:58] Dirty-Butter opened #2004 "Delivery Same as Billing Checkbox problem 6.2.1?"
Works on 6.2.0 but not on 6.2.1 current commit.

https://forums.cubecart.com/topic/53961-delivery-same-as-billing-checkbox-problem-with-621/

My fault or a possible cache bug?

[2018-05-08 07:01] bhsmither opened #2005 "Non-Super Can Make Itself Super"
In a round-about way-- A non-super-user can create a code snippet (needs Settings:Edit permission), that tweaks the CubeCart_admin_users table by updating their record `'super_user' = 1`.

Suggest in settings.hooks.inc.php, change `permissions('settings'` to `permissions('maintenance'`.

Therefore, since there is no section called 'maintenance' in `Admin->_getSectionId)`, only a Super User can get

[2018-05-08 07:25] abrookbanks commented on #2005
Code Snippet should be SU only really. I'll get this fixed.

[2018-05-08 11:43] Dirty-Butter commented on #2004
It appears it WAS a cache issue, but is also was my fault. It dawned on me in the night that I still had cache disabled for testing purposes. When I enabled cache this morning and went through the checkout process on the front end again - it worked.

[2018-05-08 14:02] theoneandonly-vector commented on #1870
any additional info pls.. I also tried it on a 2nd setup, which doesn't work too..

[2018-05-08 14:26] abrookbanks commented on #1870
This is not a tech support channel.

[2018-05-08 15:27] theoneandonly-vector commented on #1870
this isn't about getting tech support.. there is a fault in the upgrade procedure. this can't be fixed by tech support..
this kind of interaction already happened here:
https://github.com/cubecart/v6/issues/1900

there is no way I did something wrong updating it.

[2018-05-08 15:30] abrookbanks commented on #1870
6.2.1 isn't released yet so its really not a good idea to be trying to use it. Please keep with 6.2.0 for now.

[2018-05-08 15:31] abrookbanks commented on #1870
You can't have upgraded properly. If you don't see the drop down menus then the code of your store is still at 6.0.x or 6.1.x.

[2018-05-08 15:40] theoneandonly-vector commented on #1870
what could have gone wrong by uploading a clone of github's 6.2.1 and running the setup upgrade process? it even shows me 6.2.1 in settings.

[2018-05-08 15:44] abrookbanks commented on #1870
If we add more changed to the 6.2.1 upgrade then when you upgrade to 6.2.2 these will be missed as it will already think it is fully upgraded to 6.2.1 when its not been fully. This could have some significant consequences from a stability point of view.

If you don't see a drop down next to each country then the code isn't at 6.2.x. Check the files uploaded overwriting the existing ones and please

[2018-05-08 17:38] bhsmither opened #2006 "Non-Super Can Install Plugins"
In plugins.index.inc.php, the code suggests that any admin with permissions of Settings:Read can install, enable, and delete plugins. No further checks and deterents based on permissions is made.

Also, near lines 167-171, `$request` is being built, but nothing is done with it.

[2018-05-08 20:37] theoneandonly-vector commented on #1870
thank you very very much!

Al Brookbanks <notifications@github.com> schrieb am Di., 8. Mai 2018, 17:44:

[2018-05-08 20:59] abrookbanks commented on #1870
Ok now? What was the problem?

[2018-05-08 21:13] theoneandonly-vector commented on #1870
I don't know exactly, need to be an update-setup fail. I just did what you
wrote and it's working now.

Al Brookbanks <notifications@github.com> schrieb am Di., 8. Mai 2018, 22:59:

[2018-05-08 21:23] abrookbanks commented on #1870
Ok so it wasn't a fault after all. A support issue.😁

Pleased it is ok now.

[2018-05-09 07:50] #2005 closed, assigned to abrookbanks

[2018-05-09 07:53] abrookbanks commented on #2006
lines 167-171 tell CubeCart that the token has ben used and it is then deleted on our side. I'm not sure this is really necessary as they are cleaned up regularly anyway.

[2018-05-09 07:53] #2006 closed, assigned to abrookbanks

[2018-05-09 07:57] abrookbanks commented on #2004
Thanks for the update.

[2018-05-09 08:19] abrookbanks opened #2007 "Invisible reCaptcha doesn't work on submit review"
As above. Form does nothing.

[2018-05-09 08:22] abrookbanks commented on #2007
Still fails..

[2018-05-09 11:54] #2007 closed, assigned to abrookbanks

[2018-05-09 14:15] Dirty-Butter commented on #1870
I had a comment 3 days ago in this thread that looks like it kind of got lost in the conversation with vector. It concerns the State Required placeholder showing in the wrong situation.
https://forums.cubecart.com/topic/53956-problem-with-state-placeholder-in-620/

[2018-05-09 15:15] abrookbanks opened #2008 "HEAD_JS cannot be combined as it expects script tags"
As above.

[2018-05-09 15:58] abrookbanks opened #2009 "Guest checkout with double opt in enabled blocks checkout"
And multiple emails get sent.

[2018-05-09 16:05] #2009 closed, assigned to abrookbanks

[2018-05-09 16:06] abrookbanks commented on #2009
How on earth did this get though the betas?!

[2018-05-10 08:04] abrookbanks opened #2010 "Addresses stored multiple times as check for existence caches false"
As above. Existing address always returns false even after insert leading to duplicates.

[2018-05-10 08:04] #2010 closed, assigned to abrookbanks

[2018-05-10 12:37] abrookbanks opened #2011 "Subscribe/Unsubscribe Buggy with Logged in Customers"
As above. None of the SQL takes into account the dbl_opt value.

[2018-05-10 12:38] #2011 closed, assigned to abrookbanks

[2018-05-10 13:36] Dirty-Butter commented on #2010
This one does not show up in the list of changes on 6.2.0. By the way, why is there not an actual link to 6.1.16 or 6.2.1 - the only current way to get to it is via Milestones.

[2018-05-10 13:37] abrookbanks commented on #2010
6.2.1 hasn't been released yet

[2018-05-10 18:36] SemperFiWS opened #2012 "External JS Breaks JS Combine?"
- 6.2.0 store
- stock 6.2.0 foundation skin
- Braintree plugin enabled

No JS file is created and added to 'head' section.

Error Log Entry:
[code]

[2018-05-10 20:07] Dirty-Butter commented on #2010
I know it's not released, but with 6.2.0/6.1.15 you were keeping a updated developer as well as a released branch version. So that was just because of 6.2?

[2018-05-10 20:11] abrookbanks commented on #2010
I've messed it up but will try to do so again in the future.

[2018-05-11 00:13] bhsmither opened #2013 "Cache Cleared by Only Admin Foils Decision Making"
CC620:

See: https://forums.cubecart.com/topic/53975-database-errors/

Also making refrence to https://github.com/cubecart/v6/commit/ddf50b12523270f165291a70e906e94d33017c9b

The `Database->insert()` and `->update()` functions now have this added to the test whether the cache should be cleared: `if (CC_IN_ADMIN && $purge...`

(Then we have `SEO->setDbPath()` which **does not** properly use select(

[2018-05-11 04:24] bhsmither opened #2014 "GDPR Report - Then What?"
I get the table displayed. (Is it supposed to be downloaded like a report?)

Request a link to take me back to the Customer list.

Maybe have an icon in the action column (edit, delete, etc) to get the report of that customer, instead of a separate page load entering an email address.

[2018-05-11 04:32] bhsmither commented on #2012
Probably related to #2008, but I think there is a better way.

Check for src that is not `{$STORE_URL}`. Array those separately, still squeeze the lines, append to what was already combined.

[2018-05-11 05:21] bhsmither commented on #1747
Has this been forgotten about?

Universally applying back-ticks (CC620, line 1759) messes with `$order` when built under SQL conditionals.

[2018-05-11 06:38] bos4711 commented on #1960
Update: same behaviour when an order is "Denied"; the product does not re-stock to the amount that was set in the order.

[2018-05-11 09:00] abrookbanks commented on #2014
You can print it as a PDF if you like. Or you can use it to locate data to delete.

[2018-05-11 09:08] abrookbanks opened #2015 "Ajax::SMTPTest param check for mail is incorrect"

[2018-05-11 09:10] #2015 closed, assigned to abrookbanks

[2018-05-11 13:51] Dirty-Butter commented on #2010
Thanks! I try to keep one test site updated with any new commits. It's easier for me, because of all my edits, to upgrade in tiny bites :) Helps me to understand what the code is doing, although I don't expect to ever really grasp it all.

[2018-05-11 14:31] bhsmither commented on #2014
My point being - I seem to be at a deadend.

(My browser seems to be against sending a page request if the page being displayed is equal to the URL in the address bar.)

So, my request is for the Create Report button to be opening a new window, or there be a link back to the admin.

[2018-05-11 16:10] SemperFiWS commented on #2012
Looking at the fix for #2008 it will cause issues when scripts included are depending on jquery having been loaded already.

Moving this:

```{foreach from=$HEAD_JS item=js}{$js}{/foreach}```

below the combine would fix that issue.

[2018-05-11 16:50] abrookbanks opened #2016 "State issue checkout out as a guest when required"
It just somehow gets lost and errors to address edit page making it impossible to checkout as a guest when state is required. FML.

Old skin works so the bug resides somewhere in the new template files. Possibly in the JS.

[2018-05-12 13:14] abrookbanks commented on #2014
Yeah its pretty basic and thrown together just so we have something. We can polish it up in the future.

[2018-05-12 13:14] #2014 closed, assigned to abrookbanks

[2018-05-12 14:22] Dirty-Butter opened #2017 "6.2.0 State Required Countries Missing Zones?"
Argentina, Brazil, India, and Japan are listed in 6.2.0 db query as Requiring "States". But there are no Zones listed in the admin. This causes a Required placeholder to show when one of those countries is chosen.

So, if the zones are needed - will CC add them to 6.2.1, or do we need to manually add them. If manually, where do we find a list to use?

Also, to clarify - does the UK require "States

[2018-05-12 14:22] abrookbanks opened #2018 "class.cubecart.pre_basket missing from hook.xml"

[2018-05-12 14:23] abrookbanks commented on #2018
Actually its not!

[2018-05-12 14:23] #2018 closed, assigned to abrookbanks

[2018-05-12 14:46] abrookbanks commented on #2017
Yes they require a value which will need to be put in the text field.

[2018-05-12 14:47] abrookbanks commented on #2017
UK does not require states ("Counties").

[2018-05-12 14:47] abrookbanks commented on #2012
https://github.com/cubecart/v6/issues/2008

[2018-05-12 14:47] #2012 closed, assigned to nobody

[2018-05-12 14:59] Dirty-Butter commented on #2017
https://en.wikipedia.org/wiki/Provinces_of_Argentina#List_of_provinces
https://en.wikipedia.org/wiki/States_of_Brazil#List
https://en.wikipedia.org/wiki/ISO_3166-2:IN
https://en.wikipedia.org/wiki/Prefectures_of_Japan#By_English_name

Maybe these will help if you need to add them to CC.

[2018-05-12 15:01] Dirty-Butter commented on #2017
Ah, I didn't notice you had answered. I remember the big mess the database got in way back when customers were allowed to add in whatever they thought belonged in State. I was hoping this would be added to Zones. Guess I'll do it myself.

[2018-05-12 15:05] Dirty-Butter commented on #2017
I never could get the Required placeholder to not show up on State Optional countries, so I've changed them all to State Disabled.

Just as feedback: I also realized today that the list of enabled countries includes mostly countries I did not have listed in previous versions. It took a while to disable all the ones I don't want to ship to.

[2018-05-12 19:04] Dirty-Butter commented on #2017
Working on the Japan zones - there is no abbreviation for the prefectures as far as I could find. The ISO does not work, because the field needs at least 5 characters and only has 4.

The same thing is going to happen with India.

[2018-05-12 19:05] abrookbanks commented on #2017
We can probably invent them ourselves.

[2018-05-12 19:12] Dirty-Butter commented on #2017
Personally, I'd rather change to 5 characters and stick to something that is found in Wikipedia. I finished Argentina and Brazil. But I don't know how to get the Hispanic diacritical marks. And I have no idea how to send the results to you to add to CC.

[2018-05-12 19:13] Dirty-Butter commented on #2017
OR maybe better, use the ISO but leave out the hyphen??

[2018-05-12 19:22] Dirty-Butter commented on #2017
Well, for Japan at least it's easy to take the first two letters of each one. Tell me how to send it to you and I'll get this done for you.

[2018-05-12 20:18] Dirty-Butter commented on #2017
OK - All four are done (with the special characters) whenever you tell me what format you want them exported from the database for you to import.

[2018-05-12 20:39] abrookbanks commented on #2017
Thank you. Just copy/paste to here is fine. 👍🏻😊

On Sat, 12 May 2018, 21:18 Dirty-Butter, <notifications@github.com> wrote:

[2018-05-12 20:54] Dirty-Butter commented on #2017
  | Argentina | Catamarca | CT |
  | Argentina | Chaco | CC |   |  
  | Argentina | Chubut | CH |   |  
  | Argentina | Ciudad de Buenos Aires | DF |   |  
  | Argentina | Corrientes | CN |   |  
  | Argentina | Córdoba | CB |   |  
  | Argentina | Entre Ríos | ER |   |  
  | Argentina | Formosa | FM |   |  
  | Argentina | Jujuy | JY |   |  
  | Argentina | La Pampa | LP |   |  
  | Argentina | L

[2018-05-12 20:54] Dirty-Butter commented on #2017
  | Brazil | Acre | AC |   |
  | Brazil | Alagoas | AL |   |  
  | Brazil | Amapá | AP |   |  
  | Brazil | Amazonas | AM |   |  
  | Brazil | Bahia | BA |   |  
  | Brazil | Ceará | CE |   |  
  | Brazil | Distrito Federal | DF |   |  
  | Brazil | Espírito Santo | ES |   |  
  | Brazil | Goiás | GO |   |  
  | Brazil | Maranhão | MA |   |  
  | Brazil | Mato Grosso | MT |   |  
  | Brazil | Mato

[2018-05-12 20:55] Dirty-Butter commented on #2017
  | India | Andaman and Nicobar Islands | INAN |   |  
  | India | Andhra Pradesh | INAP |   |  
  | India | Arunachal Pradesh | INAR |   |  
  | India | Assam | INAS |   |  
  | India | Bihar | INBR |   |  
  | India | Chandigarh | INCH |   |  
  | India | Chhattisgarh | INCT |   |  
  | India | Dadra and Nagar Haveli | INDN |   |  
  | India | Daman and Diu | INDD |   |  
  | India | Delhi | IND

[2018-05-12 20:55] Dirty-Butter commented on #2017
  | Japan | Aichi | AI |   |  
  | Japan | Akita | AK |   |  
  | Japan | Aomori | AO |   |  
  | Japan | Chiba | CH |   |  
  | Japan | Ehime | EH |   |  
  | Japan | Fukui | FI |   |  
  | Japan | Fukuoka | FA |   |  
  | Japan | Gifu | GI |   |  
  | Japan | Gunma | GU |   |  
  | Japan | Hiroshima | HI |   |  
  | Japan | Hokkaido | HO |   |  
  | Japan | Hyogo | HY |   |  
  | Japan | Ibaraki

[2018-05-12 20:57] Dirty-Butter commented on #2017
Seems like there should be a better way for me to give it to you.

[2018-05-12 21:06] abrookbanks commented on #2017
Thank you. No that's perfect with a find and replace using an editor

On Sat, 12 May 2018, 21:57 Dirty-Butter, <notifications@github.com> wrote:

[2018-05-12 21:10] Dirty-Butter commented on #2017
Good - glad to help.

[2018-05-13 13:35] #2016 closed, assigned to abrookbanks

[2018-05-13 13:45] abrookbanks commented on #2013
This should be resolved already with https://github.com/cubecart/v6/commit/e70d89431ba7f37d4d9782fa9527d3dfb886548d#diff-d56b75ca5f64dafedeb953b843b58b54.

Please note that I changed the constant name to keep more inline too..
https://github.com/cubecart/v6/commit/72700263cf5b2400d51ae99289f8b650b8fa5186#diff-d56b75ca5f64dafedeb953b843b58b54.

[2018-05-13 14:05] abrookbanks commented on #2013
This should be good now. Please pick me up if I missed something.

[2018-05-14 03:32] sumwonlost opened #2019 "Question - Update Error"
I am running 6.1.15 on 1 site and 6.2.0 on another.

As of last week, I no longer receive version update/info on both sites.

Also when I go to Maintenance I get "Failed to look up latest version" message.

I ask is this a Cubecart issue, ie the update server is down or have I done something causing this issue?

The only thing I have done is disable updates on various plugins that I have made cust

[2018-05-14 08:58] abrookbanks commented on #2019
Please contact support if you need us to look into this. It's not a known issue and from my tests works fine in all versions of CubeCart.

[2018-05-14 08:58] #2019 closed, assigned to nobody

[2018-05-14 09:00] abrookbanks commented on #1960
How do I deny an order?

[2018-05-14 09:23] abrookbanks commented on #2017
Thank you. I've added this to install only and not upgrade as the countries may have been edited or removed. If you want to add then (and assuming your country ID's match us). Please run the following SQL command;

[code]

[2018-05-14 09:24] abrookbanks commented on #2017
How do we delivery to Brazilian Favelas?

[2018-05-14 09:25] abrookbanks commented on #2017
Maybe with this.. https://what3words.com

[2018-05-14 09:27] abrookbanks commented on #2013
Cache notice now impossible to clear..

[2018-05-14 09:37] bos4711 commented on #1960
Sorry, I meant "Declined".

![declined](https://user-images.githubusercontent.com/11036018/39989774-24034b5e-576b-11e8-8c3d-a30d759342bf.png)

[2018-05-14 09:39] sumwonlost commented on #2019
I found issue.

The problem does not occur when using php 5.6.63 and when I go back to this version, all is ok.

The problem occurs when I upgrade to php 7.1.17.

**** Edit to above
This is not case.  I went back to php 5.6.63 - all then worked correctly.
I then went to php 7.1.17 and all working correctly now.

Must of been a minor glitch.

I will update you if it occurs again

[2018-05-14 13:10] #2013 closed, assigned to abrookbanks

[2018-05-14 13:11] abrookbanks opened #2020 "Integrate reCaptcha v3"

[2018-05-14 15:55] abrookbanks opened #2021 "Export Subscribers is in a stupid place"
It should be in the "Mailing List" section not newsletter

[2018-05-14 16:03] #2021 closed, assigned to abrookbanks

[2018-05-14 16:21] havenswift-hosting opened #2022 "Add setting to allow "Invisible" recaptcha to be on left or right"
Currently defaults to bottom right but can be bottom left (or Inline although this may not be needed).  Bottom right interferes with "Top" and also with Zendesk chat

[2018-05-14 16:33] abrookbanks opened #2023 "Hide SMTP settings if mail() is chosen"
This will prevent confusion with noobs.

[2018-05-14 16:35] havenswift-hosting commented on #2023
Why not remove PHP mail() as an option and then there is no confusion - most hosting companies disable PHP mail() anyway due to the big security issues with it.  SMTP is also a much more reliable way of sending and having emails actually delivered

[2018-05-14 16:38] abrookbanks commented on #2023
Vast majority of CubeCart stores are using mail().

[2018-05-14 19:57] Dirty-Butter opened #2025 "definitions.xml typo"
No biggie, but while you're fixing:
[code]

[2018-05-14 21:37] Dirty-Butter commented on #2004
This needs to be opened again. Since this issue has cropped back up for me, I created a test site with 100% STOCK of today's commit.

Making sure to check the box choosing Billing and Delivery Addresses are the same does nothing. The next screen asks for a Billing Address.
The only plugins I have enabled are the PayPal, Google Base, and USPS. Cache is Enabled and Debugging is Disabled.

[2018-05-14 23:28] andysarcade opened #2026 "Cache folder with half a million files???"
hi..

Yesterday my hosting company told me i have over 300,000 files in the cache folder and that i needed to address it promptly, i went to try and delete by ftp but couldn't get a file list cos the folder is so huge... I then got distracted.. today they say there's over 500,000 files in there and they're threatening to pull my package if i dont get it under control..

Is this a leak somewhere in

[2018-05-15 05:47] abrookbanks commented on #2026
Which cache folder?
/cache or /images/cache

Can you let us know how many product and categories you have?

[2018-05-15 05:54] #2023 closed, assigned to abrookbanks

[2018-05-15 05:55] abrookbanks commented on #2023
Also many, many hosts block external SMTP connections in their firewall.

[2018-05-15 07:37] abrookbanks commented on #2026
I haven't seen any other store with this issue. If you can open a sales ticket (no support needed) with FTP access we will investigate this for you.
https://support.cubecart.com/Tickets/Submit

[2018-05-15 07:50] #2025 closed, assigned to abrookbanks

[2018-05-15 08:06] #2022 closed, assigned to abrookbanks

[2018-05-15 08:24] abrookbanks commented on #1747
Yes. I've got it back on my radar now.

[2018-05-15 13:25] abrookbanks opened #2027 "Add reset to mailing list search"
As above. People may not think to empty the form and submit again.

[2018-05-15 13:26] #2027 closed, assigned to abrookbanks

[2018-05-15 13:41] #2002 closed, assigned to abrookbanks

[2018-05-15 14:02] Dirty-Butter commented on #2004
I'm using file cache.

[2018-05-15 14:57] andysarcade commented on #2026
What should the permissions be set for on the cache folder? I wondered if these were wrong and cubecart can't clean up as it goes is a problem?

[2018-05-15 15:00] abrookbanks commented on #2026
I don't think that is relevant.

[2018-05-15 15:01] abrookbanks commented on #2026
How many products and categories do you have?

[2018-05-15 15:03] abrookbanks commented on #2026
Have you tried a different cache method?
https://support.cubecart.com/Knowledgebase/Article/View/235/41/how-do-i-enable-apc-memcached-redis-or-xcache

[2018-05-15 15:15] andysarcade commented on #2026
880 products, 89 categories... I have not tried the other cache methods, did you see my email about the FTP details..?

[2018-05-15 15:30] abrookbanks commented on #2026
Please delete the cache folder via SSH or ask the hosting company to do it. Once done create the folder again and keep an eye on it.

[2018-05-15 15:30] #2026 closed, assigned to nobody

[2018-05-15 16:47] SemperFiWS commented on #2008
Seeing #2012 was closed, is the suggestion of moving the '{foreach from=$HEAD_JS item=js}{$js}{/foreach}' going to be applied?

[2018-05-15 17:00] abrookbanks commented on #2008
Yes this is resolved already

[2018-05-15 17:01] abrookbanks commented on #2008
Oh sorry. They should go below. Yes. I'll change it.

[2018-05-15 17:30] SemperFiWS commented on #2008
Thanks Al, much appreciated.

[2018-05-15 21:52] Dirty-Butter commented on #2004
The last time a commit created a default Billing/Delivery address correctly in the database was 05/05/18.

That was with the commit I downloaded on 05/03/18.

[2018-05-16 07:03] abrookbanks opened #2028 "Enable ip anonymization for Google Analytics"
https://developers.google.com/analytics/devguides/collection/gtagjs/ip-anonymization

[2018-05-16 08:51] abrookbanks opened #2029 "Initial displayed errors should only be crucial ones"
The ini.inc.php file displays errors before the debug class is initialised. Warnings such as MySQL client version not matching have to be ignored.

[2018-05-16 08:53] #2029 closed, assigned to abrookbanks

[2018-05-16 10:26] abrookbanks opened #2030 "reCaptcha v1 references still exists and need to be removed"
As above.

[2018-05-16 10:34] #2030 closed, assigned to abrookbanks

[2018-05-16 10:56] abrookbanks opened #2031 "Order::validOrderId can fail if get('config', 'oid_mode') isn't set"
As above.

[2018-05-16 10:58] #2031 closed, assigned to abrookbanks

[2018-05-16 11:56] havenswift-hosting opened #2032 "Google category issues when updating products"
See https://forums.cubecart.com/topic/53998-disappearing-google-categories

[2018-05-16 16:51] Noodleyman commented on #2032
I've just had the same issue reported to me by another customer.

[2018-05-16 18:19] bhsmither opened #2033 "SEO May Cause Warning"
See: https://forums.cubecart.com/topic/53997-keep-getting-this-php-warning/

If a plugin is disabled/uninstalled, its **seo path** would still remain in `CubeCart_seo_urls`. It will be fetched in a query in `SEO->getItem()`.

Then, when that data is passed to `SEO->_getItemVars()`, there is no code there to return a set but empty array.

Back at `SEO->getItem()`, PHP will issue a warning regarding

[2018-05-17 07:32] #2028 closed, assigned to abrookbanks

[2018-05-17 07:43] abrookbanks commented on #2033
Thanks for this.

[2018-05-17 07:46] #2008 closed, assigned to abrookbanks

[2018-05-17 08:22] havenswift-hosting opened #2034 "Record date & IP address of EU Cookie Consent"
As consent now has to be specifically obtained (you can no longer use the privacy policy wording "If you continue to use this site you agree to the use of cookies" etc), I think it is necessary to record consent details for this as well and if the user then logs in during the session, to record that detail in this table.  This table could get pretty large so would also need some way of clearing ba

[2018-05-17 08:33] abrookbanks commented on #2034
Also a JS tool to pick the cookies they accept. Fun this...

[2018-05-17 08:37] abrookbanks commented on #2034
There are third party tools such as https://www.cookiebot.com/en/ too.

[2018-05-17 08:43] abrookbanks commented on #2034
Introducing all the 3rd party add ons makes this impossible. Every cookies need to be listed and categorised and described. "Essential", "Functional" & "Performance" with the ability to select each one you want.

[2018-05-17 13:14] Dirty-Butter commented on #2034
I have this wording in my policy - note the link:

The*AddThis and *Google Analytics cookies are non-essential. We do not currently have a way for you to opt out of using these cookies, but you can opt yourself out by following these directions to change your browser cookie settings: www.wikihow.com/Clear-Your-Browser%27s-Cookies

[2018-05-17 14:49] abrookbanks commented on #2034
![screen shot 2018-05-17 at 15 55 56](https://user-images.githubusercontent.com/4520803/40185566-ce957d9a-59ea-11e8-85e0-c166be066edc.png)

![screen shot 2018-05-17 at 15 49 10](https://user-images.githubusercontent.com/4520803/40185159-ddd134b2-59e9-11e8-80f8-680662c9020d.png)

[2018-05-17 14:58] abrookbanks commented on #2034
![screen shot 2018-05-17 at 15 57 55](https://user-images.githubusercontent.com/4520803/40185694-1e584fd8-59eb-11e8-8bb2-8719c7185875.png)

[2018-05-17 15:42] bhsmither opened #2035 "Mican Image Anomaly"
In Mican-1.0.3/images/black/background_main.jpg, there is rogue detail at the image bottom.

[2018-05-17 16:05] bhsmither commented on #2033
I disagree with this solution.

The `switch()` will happen. Therefore, the `default` could happen.

As such, whatever the hook tried to catch is now clobbered.

Suggest above the hook, `$array = array();` which allows for the hook to assign to $array what it needs to, the `switch()` will do it's thing if appropriate, and we still return a zero-element array if nothing gets caught.

[2018-05-17 17:10] hershbergj opened #2036 "stock levels dont change"
Stock levels don't decrease after customers order is placed after upgrade to 6.2.0-b1.
settings are "when payment has been made"
also stock levels don't change when changing quantities on the product page as well.
did through the maintenence panel a repair of product inventory but it did not find anything.
Please help!

[2018-05-17 17:33] abrookbanks commented on #2033
Ok thanks I'll look again.

[2018-05-17 22:25] bhsmither opened #2037 "Smarty Combine to Honor CubeCart Debug Mode"
Suggest:
[code]
Same for javascript.

[2018-05-18 05:57] abrookbanks commented on #2037
Thanks. I had planned to do this so it must have escaped my mind. :)

[2018-05-18 08:53] abrookbanks commented on #2037
Your solution is spot on. Thanks as always. :)

[2018-05-18 08:53] #2037 closed, assigned to abrookbanks

[2018-05-18 08:55] abrookbanks commented on #2037
We could think about a setting for the combine age maybe.
`age='604800'`

[2018-05-18 08:55] abrookbanks commented on #2037
But I'm not a big fan of settings.

[2018-05-18 09:04] abrookbanks commented on #2035
Looks like it was sliced incorrectly. Only took 9 years for someone to notice. LOL

Thanks Brian.

[2018-05-18 09:04] #2035 closed, assigned to abrookbanks

[2018-05-18 09:09] abrookbanks commented on #2033
Totally agree. I missed that. :)

[2018-05-18 09:09] #2033 closed, assigned to abrookbanks

[2018-05-18 10:17] #2032 closed, assigned to abrookbanks

[2018-05-18 12:04] abrookbanks opened #2038 "Address issues for guest checkout"
- unregistered customers:
If you go under their address book, you will see that their billing address is missing if the billing and the delivery are the same.
If the billing and the delivery are different, both are listed in the address book, no problem there.

This does not affect the orders where I can see both prefectly. It is only under the customer's address book the issue.

- registered cust

[2018-05-18 17:48] Dirty-Butter commented on #2038
This is what I'm STILL seeing, even though the choice is pre-checked for billing and delivery to be the same. My only way around it is to fill out the separate Billing address. after the pre-checked same box does not work for me. I have this same issue on 3 test sites now. It's driving me crazy double checking files with no sign of anything but cosmetic differences. I do require creating an accoun

[2018-05-18 22:46] bhsmither opened #2039 "No Resolution for Wrong Argument Type"
In `Mailer->_parseContents()`, the argument `$contents` is processed if it is an array.

If it is a string (which the doc header suggests it should be), nothing is returned.

[2018-05-21 07:18] bhsmither opened #2040 "Assumption of Available Data"
In `Order->getOrderDetails()`, it is assumed that `_getInventory()` has already been called.

The `getOrderDetails()` is public, yet `_getInventory()` is private. The only place `_getInventory()` is called is in `Order->orderStatus()`.

Suggest in `getOrderDetails()`, to have this:
[code]

Suggest in `orderStatus()`, instead of this:
[code]
to have just this:
[code]

[2018-05-21 14:50] Dirty-Butter opened #2041 "Cookie Dialogue ISSUE with 05/21/18 commit"
As of 05/20/18 commit - I cannot access the login screen for admin in a normal way. If I go to the url, the page crashes (not even the CC login box). But I can access the storefront. I did not click anything yet about accepting or denying cookies.  I can immediately go back and access the admin dashboard normally. This strange behavior is occurring on a 100% stock site and with a test site with my

[2018-05-21 17:54] Dirty-Butter commented on #2041
Also, previous commit was on 05/18/18.

[2018-05-21 20:04] SemperFiWS commented on #2038
I have encountered something similar to this.

In checkout, for unregistered customers, it appears to drop the state selection that was made.

Then when you look at the address book entries:
- the billing address is set to 0
- nothing is set in the state field

[2018-05-21 20:44] Dirty-Butter commented on #2041
I've narrowed it down to the cookie dialogue. If the use of the Cookie Dialogue is disabled in admin then admin loads as expected.

If Cookie Dialogue is enabled the workaround of going to storefront first and then admin in order to access admin is the only thing that "works".  I decoded the config in phpMyAdmin and changed the Cookie Dialogue choice to "0", encoded again and replaced in the table

[2018-05-22 08:56] Noodleyman opened #2042 "Can't change default mail template"
verified in two stores on 6.2

After pressing save the newly selected template becomes deselected and the chosen template is once again Default. aka, changes are not saved :)

[2018-05-22 11:49] havenswift-hosting opened #2043 "mcrypt deprecated in PHP7.1 and removed in 7.2"
As above and this is used in at least the SagePay gateway plugin which means it doesnt work under 7.2

[2018-05-23 07:52] havenswift-hosting commented on #2043
mcrypt relies on libmcrypt which is dead and has been unmaintained since 2007
 - see http://php.net/manual/en/intro.mcrypt.php

This needs to be rewritten to use openssl_encrypt

[2018-05-23 15:45] bhsmither commented on #1904
Did you mean to include the textarea for the email **contents** editor? See:
https://github.com/cubecart/v6/commit/059e8cf8cb1b0830195d5eebfe51a7c0b66c0bbe#diff-ec3350c6cbe91f80d4c935e2187021ea

Where the **contents** sit inside the **template**, the template should have the `fck-full` attribute, but not the contents editor.

[2018-05-24 04:10] bhsmither commented on #2042
This goes back quite a few versions. Probably all the way back to CC6.1.0.

It has to do with the filetree plugin code, starting near line 360.

[2018-05-24 04:28] bhsmither commented on #2042
I made a comment on #476, fourth entry. Also, #1285 discusses this.

Work-around: uncheck existing first, then check what you want. Save.

[2018-05-24 06:19] jasehead opened #2044 "6.1.14 - Loading... not showing for More button click on Chrome/Safari"
With Firefox, clicking the More button to load more products shows Loading with an icon spinner - as expected.

With Chrome and Safari (webkit browsers) there is no change, just a long pause while the user stares at the More button wondering if anything is going to happen... (no loading text or spinner)... and then the next page of images loads.

Related files are:
- /skins/foundation/js/2.cubecar

[2018-05-24 07:06] jasehead commented on #2044
Found it - in 2.cubecart.js search for:
async: false,

This was not in 6.0.12, and commenting out this line allows the Loading text to show.  However, the loading spinner SVG is not animated (tested on Chrome, Safari and Firefox).

// async: false, // comment out if More button does not change to Loading...

[2018-05-25 03:01] sumwonlost opened #2045 "Bugs - Countries/Zones"
Goto Admin -> Countries/Zones

BUG - at the bottom "Select With" options are wrong. These should be:
Disabe
Enable (County Required)
Enable (County Optional)
Enable (County Disabled)
Delete

Now Disable ALL then Enable (County Disabled) for Australia,  Enable (County Required) for UK,  Enable (County Optional) for US so we test for BUGS.

Login as Customer then ADD/EDIT ADDRESS - Addressbook
The C

[2018-05-25 04:24] sumwonlost opened #2046 "Product Dimensions - Improvement to Foundation skin"
In Admin -> Products (Add/Edit) currently it require a W x H x D value for it to display (volume).

It should work also for W only (length).
It should also work for W x H (area)

Replace in skins/foundation/templates/content.products.php
[code]

With
[code]

[2018-05-25 06:11] bos4711 commented on #1931
Upgraded to 6.2.0 yesterday, and the issue is resolved there.

[2018-05-25 06:59] bhsmither opened #2047 "ReCaptcha Could be Forced Off"
See:
https://forums.cubecart.com/topic/54025-re-captcha-keeps-switching-off/

I have not verified this as I do not yet have the utility to create custom POST requests.

[2018-05-25 12:41] sumwonlost commented on #2045
Ref #1720

With above fixes, the last thing remaining.  On submit if new Zone, it adds record in zones table (status=2) and create Note to Administrator that new Zone has been Added with details for Administrator to confirm/update details.

In Admin -> Countries/Zones -> Zones it require a dropdown for Status instead of checkbox.  The dropdown options for each Zone (County) are:

Disabled = 0
Acti

[2018-05-25 13:18] sumwonlost commented on #2045
Whilst on Zones page, can you add a Search dropdown at top of page.

The dropdown populate with Countries (irrespective of status) that have Zones.  When I select a Country it populate the page table with the Zones for selected Country instead of ALL Zones.

[2018-05-25 21:36] richscd opened #2048 "Product URL line."
I see in CC V6 that there appears to be an issue with the URL line. When I define a product and select a category, I'll call it t-shirts for the category for right now, the category doesn't always show in the URL line. Very easy to reproduce too. For example, I have 3 t-shirts available on one of my sites and only one shows the category and yet all 3 are defined the same way with the category. You

[2018-05-25 22:53] bhsmither commented on #2048
I would like to take this to the forums. There we can discuss what may be happening. This is very likely **not** a bug.

[2018-05-26 16:08] jasehead commented on #2044
Still having trouble getting #icon-spinner animated when loading more results.

[2018-05-27 05:22] bhsmither commented on #2047
Confirmed.
Using Postman (www.getpostman.com), I constructed a custom POST request. ReCaptcha switched off as described in the forum conversation.

This experiment was performed on CC620, but may also apply to CC6115.

[2018-05-27 20:51] richscd commented on #2048
Sorry, I thought I was on the forums. Thank you.

On Fri, May 25, 2018 at 3:53 PM, Brian Smither <notifications@github.com>
wrote:

--
Rich Parker
http://southcoastdivers.com

[2018-05-28 09:21] jasehead commented on #2044
Related - the icon spinner for transferring to a payment gateway is also not spinning.  However, if I stop the page loading it begins to spin.

[2018-05-28 20:22] bhsmither opened #2049 "Coding Standards Against PHP 7.1+"
See: http://docs.php.net/manual/en/language.types.array.php
Creating/modifying with square bracket syntax

So, code that looks like:
[code]
Edit:
This is so strange. The docs say this isn't supposed to work, and I see error messages in this regard, but elsewhere, statements that should fail don't.

[2018-05-29 11:48] sumwonlost opened #2050 "What does "Global percentage discount" do? Is it Bug?"
Definition - Global discount percentage: Enter a percentage here to reduce all standard pricing by the entered amount. This overrides the individual product sales prices.

Admin -> Settings -> Features - in Global percentage discount, I enter 10% and save.

Now what does this do?  It does not display prices (discounted) anywhere on site.  Not in any boxes (Featured, Popular, On Sale), nor Products

[2018-05-29 13:01] Dirty-Butter commented on #2050
My store is very heavily edited, so it may be something I did to the skin - but I have https://dirtybutterestates.com on global percentage sale and the prices are marked the same way on the storefront as they would be if only individual products were on sale. I'm on the latest commit of 6.2 on that store, so it could also be that this has been fixed in 6.2+ code.

[2018-05-29 13:43] sumwonlost commented on #2050
I am using 6.2.0 and my skin has also been heavily edited, I always refer to foundation skin when upgrading my skin.  This does not work in foundation skin.

I did download the latest commit last week however after upgrade it would not load admin screen, I tried 2 times before reverting back to 6.2.0 so i decided to wait for official release.

[2018-05-29 14:15] Dirty-Butter commented on #2050
I have a work around for the commit not loading admin screen. https://github.com/cubecart/v6/issues/2041 But I'm having a major issue with the Billing/Delivery during checkout, so it's not ready for live site yet. The estates store is live, but we don't get customers any more - I keep it as my last testing step before upgrading our "real" store.

[2018-05-29 15:05] sumwonlost commented on #2050
I have been developing my site for past 6-8 months with due date to go live Feb next year.

My skin originally started out as e-tone but has been heavily modified, the only thing of the original is the 3 column layout and parts of the navigation menu.

With each CubeCart upgrade, I look at foundation skin and find new changes from previous version then add/edit/delete the changes into my skin.  Bu

[2018-05-29 15:20] Dirty-Butter commented on #2050
Yes, I have one test site that is 100% stock code. The workaround with the cookies works for me. I can access my 6.2+ sites either by turning off the cookie notice or going to storefront before going to admin.

[2018-05-29 15:24] sumwonlost commented on #2050
Ok.  Switch to foundation skin, are prices displayed with or without Global percentage discount taken into account.

[2018-05-29 15:50] bhsmither commented on #2050
In admin, after making an adjustment to global discount rate and saving, please note if a button at the upper-right of the window is lit - "Clear Cache".

If so, click that button. Examine the pricing on the storefront.

[2018-05-29 16:11] Dirty-Butter commented on #2050
Yes, with Global, the regular price is crossed out and the sale price shows next to it, just as it should. Hopefully Bsmither hit on your issue and it's a cache clearing problem.

[2018-05-29 17:09] havenswift-hosting commented on #2050
Just FYI - this type of question should really be put on the forums and not as a github issue until / unless it is proved it is a bug and is reproducible - let's keep Al's workload down as much as possible as he has enough on his plate right now !

[2018-05-30 01:10] andysarcade opened #2051 "Abnormally high number of files in cache folder"
I've had my hosting package scripting switched off twice since they are reporting the cache folder has 250,000+ files (and growing) in it and it will affect server performance, they switch my scripting off until i fix it.

I changed the caching method in global.inc.php to all of the other methods one by one and all resulted in errors on the main page, mostly looking for included files that aren't

[2018-05-30 04:22] sumwonlost commented on #2050
If only it was as simple as clearing the cache.

I officially declare it a bug then.  I have just done a clean virginal install (6.2.0b) as downloaded from Cubecart.  The only changes I made are as follows.

1.  Added 10% to Global percentage discount.  This did not work.  So I went to step 2.
2.  Entered 0 for Sale Price for Test Product.  This still did not do anything other than remove the sale

[2018-05-30 05:08] bhsmither commented on #2050
Just checking... In admin, Store Settings, Features tab:

You entered a value in the "Global percantage discount" text entry field.

Did you also set the "Sales Mode" drop-down selector to 'Global percentage discount'.

[2018-05-30 05:18] sumwonlost commented on #2050
Sorry everybody, I feel like a goose, thank you for your help.  I found the issue.

I assumed I only had to put the % in.  I had not realised I needed to change the mode from Sales to Global percentage discount in the dropdown above.  All working correctly.

Thanks bhsmithers, yes that was the issue as i just found it as you sent me your reply.

[2018-05-30 05:18] #2050 closed, assigned to nobody

[2018-05-30 05:22] bhsmither commented on #2051
I have 3,000. ~~Many groups have identical contents, but different hashed filenames.~~ Stupid comment.

[2018-05-30 05:57] bhsmither commented on #2051
#2026 was closed (with presumably a "Could Not Duplicate" flag) and this effectively reopens that.
#2013 may have some complicity in this.

[2018-05-30 06:42] bhsmither commented on #2051
A "normal" amount is very dependent on how many products and categories are in your store. Somewhere in the ballpark would be 150 cache files per product.

[2018-05-30 13:45] havenswift-hosting opened #2052 "Sub-category links and images not visible on smallest screen sizes"
When viewing a category page on a mobile screen is in vertical orientation (horizontal orientation is fine), the clickable links and images of any sub-categories disappear

[2018-05-30 15:55] briansandall commented on #2051
150 per product seems quite excessive; is that really necessary for performance? If so, perhaps the PHP / JS code should be profiled for bottlenecks (again?) to see what can be done there while easing off on the aggressive caching.

[2018-05-30 19:26] bhsmither commented on #2051
Again, how many unique queries are executed against the database per product varies. One can get a sense of this by viewing CubeCart's debug output. (I have about 200 cached queries when viewing the Test Product in a fresh install. Roughly 50 cached queries relate to processes not associated with showing the product.)

There is a trade-off, of course. Aggressive caching or aggressive database conn

[2018-05-30 20:04] andysarcade commented on #2051
Products 880
Categories 89

Thats how my store is set up, and its been running fine for years, its only appeared recently, maybe after an upgrade possibly 1 or two versions ago ?

[2018-05-30 20:05] andysarcade commented on #2051
I have two entires in the error log :
File: [catalogue.class.php] Line: [1874] "SELECT I.* FROM CubeCart_inventory AS I LEFT JOIN (SELECT product_id, MAX(price) as price, MAX(sale_price) as sale_price FROM CubeCart_pricing_group WHERE group_id = 0 GROUP BY product_id) as G ON G.product_id = I.product_id WHERE I.product_id IN (SELECT product_id FROM `CubeCart_category_index` as CI INNER JOIN CubeCa

[2018-05-30 21:31] bhsmither commented on #2051
The error log entries would be a different problem. Probably a visitor just randomly entering letters and other characters in the search box.

[2018-05-30 23:02] andysarcade commented on #2051
I had assumed they were unrelated but wanted to make sure for completeness.

[2018-05-31 13:20] abrookbanks opened #2053 "Mailing list export needs flag for double opt in only"

[2018-05-31 13:58] Dirty-Butter opened #2054 "Plugin Cookies Not blocked by default"
AddThis _atuvc, _atuvs cookies are not effected by Cookie code. There are possibly other plugins, etc, this would apply to as well.

[2018-06-01 13:52] Dirty-Butter commented on #2054
Is there any way to code the google analytics so the "if  code" applies to any and all snippets/mods/plugins as wel?l Otherwise any that create/use cookies will need to be modified before they work properly with GDPR.

[2018-06-01 15:54] briansandall opened #2055 "Pre-6.2 branches?"
Looks like they've all been culled - any chance we could get some of them back?

I've got a store still on 6.1.14 that I'd like to update to the latest 6.1.x before moving up to 6.2.x, and having the branches available would make that job much simpler.

[2018-06-01 23:49] bhsmither commented on #2055
Go to <>Code. Click the Branch drop-down selector. Click Tags tab. Select v6.1.15. Download.

[2018-06-02 03:54] bhsmither commented on #2055
You can also get any and all versions from CubeCart's downloads page.

[2018-06-02 09:17] havenswift-hosting opened #2056 "Spanish translation incorrect"
The phrase for the EU cookie popup is translated incorrectly

activar el cumplimento de UE galletas

galletas means biscuits or cookies in that sense - just use "cookies"

[2018-06-02 15:10] Dirty-Butter opened #2057 "Please re-open https://github.com/cubecart/v6/issues/2004"
I have created a new install on a new database on https://dirtybutter.com/stock2. This is blocked for all but my IP address and the mxtoolbox record of cubecart's IP address. If that doesn't give you access I'll take the block off.

I changed Admin to add US Language and store address to USA, dollars, pounds. I put in my SMTP info and tested. Google Analytics and Recaptcha have my Keys. Cookie Dia

[2018-06-03 15:13] claudia39 opened #2058 "Stock Level Does Not Change Until Cache Cleared"
This is still happening.  Is anyone looking into it?
I added this to  the post: stock quantities dont change By JoshuaH, May 17 in Technical Support but I think I want to make it a new post with more clarification.

I run 6.2.0 and sold something that I originally had a stock level of 4. It was late and I just saw the emails, didn’t go into admin to see details. This morning I was setting up an ac

[2018-06-03 17:01] bhsmither opened #2059 "Extension Not Available"
This does not download (for me, anyway):
https://www.cubecart.com/extensions/download/106/AddThis-1.0.1.zip/manual

[2018-06-03 18:53] Dirty-Butter commented on #2059
It installed for me on a 6.1.15 store and on the latest 6.2+ commit. I tried the token way and downloaded and extracted it.

[2018-06-04 00:31] bhsmither commented on #2059
The /manual/ part is the manual download link (that is, **not** the lightning bolt).

Try that.

[2018-06-04 09:01] abrookbanks opened #2060 "Stock level may be cached allowing out of stock purchases"

[2018-06-04 11:08] Dirty-Butter commented on #2059
I did download it as well as ttry he lightning bolt way. It downloaded as usual, and then I extracted it and took a look at the files. All looks fine to me.

[2018-06-04 11:53] abrookbanks commented on #2059
Works for me???!

[2018-06-04 11:53] abrookbanks commented on #2055
I messed it up. I'm sorry. From the next release I'll get it back in shape.

[2018-06-04 11:53] #2055 closed, assigned to nobody

[2018-06-04 11:54] abrookbanks commented on #2060
Duplicate of #2058

[2018-06-04 11:54] #2060 closed, assigned to abrookbanks

[2018-06-04 13:27] abrookbanks commented on #2059
Closing until you tell me it still doesn't work. :)

[2018-06-04 13:27] #2059 closed, assigned to nobody

[2018-06-04 13:28] abrookbanks commented on #2054
I can't do anything about this. The developers need to code accordingly.

[2018-06-04 13:28] #2054 closed, assigned to nobody

[2018-06-04 13:29] #2048 closed, assigned to nobody

[2018-06-04 13:31] abrookbanks commented on #2051
Closing as I don't think this can be resolved. Most linux systems should be able to handle massive folder contents. Alternatively it may be a good idea to [use a different cache system](https://support.cubecart.com/Knowledgebase/Article/View/235/41/how-do-i-enable-apc-memcached-redis-or-xcache).

[2018-06-04 13:33] abrookbanks commented on #2043
Cool thanks for the heads up.

[2018-06-04 14:58] briansandall commented on #2055
@bhsmither Ah, I see what you mean. The tags are still there, though the branches themselves are not. That'll work.

[2018-06-04 15:28] bhsmither commented on #2059
Working fine today.

[2018-06-04 15:43] abrookbanks commented on #2059
Thanks for letting me know. Must be those Gremlins again!

[2018-06-04 15:51] #2057 closed, assigned to nobody

[2018-06-04 15:52] abrookbanks commented on #2004
See notes on #2057

[2018-06-04 23:31] bhsmither opened #2061 "Users Online May Show Confusing Data"
Edge Case (and not verified).

If an admin and a user is logged in, and using the same browser, even though using different cookies (to be confirmed), the Users Online table shows the User's name or "Guest", as opposed to the Admin's name, and no line item of where the User is at.

[2018-06-05 07:48] Noodleyman opened #2062 "Mailing List columns should be sortable"
So you can sort by date/ double opt-in etc.

It would also be useful to have a filter, so you can only see double-opt in etc.

[2018-06-05 07:49] Noodleyman opened #2063 "Mailing List - Date Added"
With double opt-in, the added date for new subscribers is being logged as "0000-00-00 00:00:00"

[2018-06-05 08:25] abrookbanks commented on #2063
This is already fixed for the next release.

[2018-06-05 08:25] #2063 closed, assigned to nobody

[2018-06-05 08:35] #2058 closed, assigned to abrookbanks

[2018-06-05 09:03] #2053 closed, assigned to abrookbanks

[2018-06-05 09:04] #2062 closed, assigned to nobody

[2018-06-05 09:06] abrookbanks commented on #2056
Thanks Ian. Fixed with 1.0.1 on marketplace.

[2018-06-05 09:06] #2056 closed, assigned to nobody

[2018-06-05 09:19] abrookbanks commented on #2045
Thanks for the bug report. I believe you had already posted these feature requests which we may be able to add in the future.

[2018-06-05 09:19] #2045 closed, assigned to abrookbanks

[2018-06-05 09:23] abrookbanks commented on #2046
This could do with improvement but what if you sold products based on height only?

[2018-06-05 09:30] #2046 closed, assigned to abrookbanks

[2018-06-05 11:06] abrookbanks commented on #2041
Thanks for this Rosemary. I'll close this as I am still working on this area and keep your findings in my mind.

[2018-06-05 11:06] #2041 closed, assigned to nobody

[2018-06-05 11:07] abrookbanks commented on #2036
Fixed with 9ab975105a891e26867eb7f7c2a9b253cd084a19

[2018-06-05 11:07] #2036 closed, assigned to abrookbanks

[2018-06-05 15:18] abrookbanks commented on #2052
This is by design as they can take up too much screen. The navigation will show subcategories and "show-for-medium-up" can be removed in the template if so desired.

[2018-06-05 15:18] #2052 closed, assigned to abrookbanks

[2018-06-05 15:18] abrookbanks commented on #2052
https://github.com/cubecart/v6/blob/6.2.0-branch/skins/foundation/templates/content.category.php#L24

[2018-06-05 15:28] abrookbanks commented on #2043
Fixed with 1.0.7 release. From my testing it works fine.

[2018-06-05 15:29] abrookbanks commented on #2049
Odd! Thanks for sharing. I can't sift thought the code trying to figure out where to change this as it will take an eternity but lets keep it in mind.

[2018-06-05 15:29] #2049 closed, assigned to nobody

[2018-06-05 16:20] havenswift-hosting commented on #2052
I understand it is by design but I (and quite a few clients) believe it is incorrect design. Yes of course it is easy to remove and I will make it a selectable option via our skin config plugin for our skins but many use Foundation as is.

1) It makes no sense and gives a horrible user experience to show sub-category images and links when a phone is horizontal but then not when turned vertical.

2

[2018-06-05 16:47] abrookbanks commented on #2052
OK from testing it still sits well. Thanks for arguing the case. :)

[2018-06-05 18:17] havenswift-hosting commented on #2052
YW and thanks ! Works well even with three sub-category images per row and gives a much better UX

[2018-06-05 18:27] abrookbanks commented on #2052
Thanks Ian. I'm back in the game now. We had a baby girl four days before
moving house!!! Omg. Probably my craziest week ever.... Pushing to get
6.2.1 out now. 👍🏻

On Tue, 5 Jun 2018, 19:23 Havenswift Hosting, <notifications@github.com>
wrote:

[2018-06-05 20:23] bhsmither commented on #2061
Using two different browsers (thus two different values for the same-named cookie), still shows "Guest" as the name of the logged in admin.

[2018-06-06 06:19] havenswift-hosting commented on #2052
Congratulations to you both !

[2018-06-06 06:20] abrookbanks commented on #2052
Thanks Ian. I hope all is well in Spain.

[2018-06-06 14:39] havenswift-hosting commented on #2043
A client has tested this and now orders are not being moved from Pending to Processing and when looking at the transaction log for the order, the transaction ID is blank and the status is set to Not Available

[2018-06-06 14:40] abrookbanks commented on #2043
Yeah. I'm going to pull this version.

[2018-06-06 17:20] Dirty-Butter commented on #2017
I'm confused. The addition of Japan zones using the database install query from 6.2.+ did not work. India and Brazil did.  From what I can decipher in the query - they are missing.

[2018-06-07 11:22] havenswift-hosting opened #2064 "Products per page setting"
What was the thinking behind making this setting deprecated and adding it into the skin config.xml and what are the plans for it ie will it stay deprecated forever or do you have plans to remove it. I think it would be much more flexible to revert this, so take it out of config.xml and restore this setting.  Any changes made to the config.xml file are over-written when a skin is upgraded.

An alte

[2018-06-07 12:49] abrookbanks commented on #2064
It's because it's more than just products per page. Agreed though, it would be better to have this as a feature. I'll stick this down as a feature request. Keen to get this done.

[2018-06-07 12:49] #2064 closed, assigned to abrookbanks

[2018-06-07 16:06] abrookbanks commented on #1904
No I don't think I did. I just removed the "textbox" class.

See: 7a437ab0aef018b6e87ade9167a43d86ce8411b8

I think that's what you meant. Thanks.

[2018-06-07 16:12] abrookbanks commented on #1747
@bhsmither - I'm really lost with this. Probably due to lack of sleep. My wife and I had a baby in the same week and moving house and my brain is battered.

Are you suggesting that the back ticks should be removed from the line of code below:

```$order_string = 'ORDER BY `'.$order['field'].'` '.$order['sort'];```

[2018-06-07 16:17] abrookbanks commented on #1747
Ignore my last message.. I managed to wind up my brain again..

[2018-06-07 16:17] #1747 closed

[2018-06-07 16:23] abrookbanks commented on #2047
I think this is fixed as a result of https://github.com/cubecart/v6/issues/2030

[2018-06-07 16:23] #2047 closed, assigned to abrookbanks

[2018-06-07 16:41] abrookbanks opened #2065 "{$product.product_options} macro missing from email content macro list"

[2018-06-07 16:43] #2065 closed, assigned to abrookbanks

[2018-06-07 18:14] bhsmither commented on #1904
No, I disagree with this change.

The `fck-full` attribute causes CKEditor to create a complete HTML document (has `<html>`, `<head>`, and `<body>` tags. These tags are not wanted in an email content template.

[2018-06-07 18:27] Dirty-Butter commented on #2017
Found it! The country ID for Japan is the same as India's - 99.

[2018-06-07 18:28] Dirty-Butter opened #2066 "See #2017 Japan"
setup query has wrong ID for Japan.

[2018-06-07 18:58] abrookbanks commented on #2017
Whoops!!! I'll get it fixed.

[2018-06-07 18:59] bhsmither commented on #2047
The same for the CC6.1 series?

[2018-06-07 20:07] Dirty-Butter commented on #2066
You asked earlier in the thread about Brazil's Favelas. This is interesting: https://motherboard.vice.com/en_us/article/5395w3/the-mailman-mapping-brazils-largest-favela-by-hand

[2018-06-08 08:10] abrookbanks commented on #2017
Thanks Rosemary.

[2018-06-08 08:10] #2017 closed, assigned to abrookbanks

[2018-06-08 08:14] abrookbanks commented on #2066
Residents have to pay for the service. If they live in Favelas how will they have the money to pay for that? Seems odd to me. https://what3words.com/ is a better solution I think.

I added the correct ID for Japan.

[2018-06-08 08:14] #2066 closed, assigned to abrookbanks

[2018-06-08 08:14] abrookbanks commented on #2066
See commit to #2017

[2018-06-08 08:18] abrookbanks commented on #2044
I can't see any relevant code changes between 6.1.12 and 6.1.14 annoyingly. I'll have a good look at this today.

[2018-06-08 10:09] jasehead commented on #2044
I referred to 6.0.12.  My workaround was to comment out async: false in 2.cubecart.js, and also to hardcode the style in the same file - so AFTER this:

`var next_link = $('a.ccScroll-next');`

my line is now

`var loadingHtml = '<p class="text-center" id="loading"><svg class="icon" style="-webkit-animation: spinner 1s infinite steps(8); animation: spinner 1s infinite steps(8);"><use xlink:href="#

[2018-06-08 11:12] abrookbanks commented on #2047
It only affects 6.2.0.

[2018-06-08 11:15] abrookbanks commented on #1904
Gotcha. Sorry for the confusion. :)

[2018-06-08 12:35] abrookbanks commented on #2034
Log added to admin CP.
![screen shot 2018-06-08 at 13 35 01](https://user-images.githubusercontent.com/4520803/41158425-c7a816d6-6b20-11e8-9279-2eabadc5a5d1.png)

[2018-06-08 12:35] #2034 closed, assigned to abrookbanks

[2018-06-08 12:41] #2020 closed, assigned to abrookbanks

[2018-06-08 13:43] #2042 closed, assigned to abrookbanks

[2018-06-08 13:43] abrookbanks commented on #2042
![screen shot 2018-06-08 at 14 43 12](https://user-images.githubusercontent.com/4520803/41161300-49b421c0-6b2a-11e8-8f6f-3ee48e392afc.png)

[2018-06-08 16:14] abrookbanks commented on #2044
Sorted! :)

[2018-06-08 16:14] #2044 closed, assigned to abrookbanks

[2018-06-08 18:16] jasehead commented on #2044
#Icon-spinner is also used in foundation/templates/content.gateway.php for transfer to gateway (6.1.14):
`<p><svg class="icon icon-submit"><use xlink:href="#icon-spinner"></use></svg></p>`

[2018-06-08 18:57] abrookbanks commented on #2044
Should still work but I'll test it on Monday.

[2018-06-08 22:44] Dirty-Butter commented on #2034
Well I guess I've wasted your time again. I've played with it all again, and this time the stock2 100% stock is working.

I tried today's commit on my stock2 100% stock install. As soon as I enabled the cookie dialogue and tried to save or clear cache - it crashed. I then commented out the new section in customers.index.inc.php and customers.index.php, cleared cache, and admin loaded as expected.

[2018-06-11 09:04] abrookbanks commented on #2004
Sorry Rosemary but I just can't reproduce this.

[2018-06-11 09:04] #2004 closed, assigned to nobody

[2018-06-11 09:15] abrookbanks commented on #2044
Yes works fine just a bit small. I made it bigger..

[2018-06-11 09:41] #2038 closed, assigned to abrookbanks

[2018-06-11 09:42] abrookbanks commented on #2004
I was able to reproduce this and fixed with #2038

[2018-06-11 10:09] Noodleyman opened #2067 "Submitting an email address to the newsletter should optionally require recaptcha"
Although there is double opt-in, it would be useful to have a mechanism to reduce bots spamming lists with email addresses. It doesn't look like the newsletter signup process currently uses recaptcha, but it probably should.

Request raised on behalf of my customers who have requested this be changed.

[2018-06-11 10:10] #2039 closed, assigned to abrookbanks

[2018-06-11 10:13] abrookbanks commented on #2067
It does already. Invisible reCaptcha has a better UX.

![screen shot 2018-06-11 at 11 13 09](https://user-images.githubusercontent.com/4520803/41226144-814c70d4-6d68-11e8-80a1-c27bcd98c84b.png)

[2018-06-11 10:13] #2067 closed, assigned to nobody

[2018-06-11 15:25] Dirty-Butter commented on #2038
THANK YOU!!! It's working on the two sites I've tried so far. I really appreciate your patience with me. LATER on when you have the time, I'd like to know what the difference was in your setup and mine that caused you to not be able to reproduce it for so long. Did it have anything to do with you being on the default language and me using US?  A difference in servers or php version?

[2018-06-11 21:46] bhsmither opened #2068 "Update Third-Party Code"
PHPMailer 5.2.26 is latest stable version of this series, and fixes a couple of CVEs. This series will receive no new features.

PHPMailer 6.0 series requires PHP 5.5 and will also require changes to how CubeCart's Mailer class extends from it.

[2018-06-12 13:27] Noodleyman opened #2069 "Transaction Logs is ordered incorrectly"
When viewing the transaction logs the oldest items are displayed first. Ideally the most recent should be first

[2018-06-13 17:02] abrookbanks opened #2070 "On image delete show image name in confirmation dialogue for clarity"
As above. Right now it just says "Are you sure you want to delete this?"

[2018-06-13 19:02] claudia39 commented on #2070
We must be psychic Al.  I was deleting some photos this morning and thought how nice it would be if it showed the name just to be sure I deleted the right image!  Thanks for considering this.

[2018-06-14 09:10] sumwonlost opened #2071 "Gift Card - Tax Bug @ Checkout"
Gift Certificates are created with or without Tax included.

If Tax included the Gift Certificate value when sold includes tax.  When redeemed in Checkout it seems to be working correctly for VAT where Tax is included in Gift Card price and adjusted accordingly in Checkout .

If Tax not included the Gift Certificate value when sold does not includes tax.  The Gift Card is basically a IOU similar t

[2018-06-14 15:44] Dirty-Butter opened #2072 "Add Email Template Translation Issues"
The email translation attempt needs an error message

            1. A Language is listed in the Languages, but it is NOT enabled
            2. The flag does not show in the flags for a specific email template
            3. When you add the translation to a specific template, the language shows in the drop down list of possibles
            4. It the language is NOT enabled in Languages, the sav

[2018-06-14 19:01] Dirty-Butter opened #2073 "CubeCart Security Suite Cache Button"
When enabled, this plugin Save does not turn off the color of the Cache button. The message says the setting was saved. Go back to the Manage Extensions page and it's still colored, but click the Cache button again and the button clears. Go back and just look at the CCSS page without doing anything, and the button is colored again.

[2018-06-16 09:20] sumwonlost opened #2074 "Further Improvements to Product Specifications"
In 6.2.0 you added Product Dimensions which is great inclusion.

The Dimension Units are cm and inches.  Can you include mm, m, feet and yards in the dropdown.

Two other additions that would be helpful improvement to Product Specifications

1. Volume Dimensions dropdown (ml, l, oz, gal)
1.1 Volume textbox (enter amount)

2. Material textbox (enter material) eg Metal, Plastic, Copper, Timber, Cott

[2018-06-16 10:23] richosr opened #2075 "6.2.1 Sort not working on Transaction Logs"
When applying a sort on transaction log page no change happens the default sort remains.

![image](https://user-images.githubusercontent.com/992654/41497910-d36b59b4-7189-11e8-8469-08b974218fec.png)
![image](https://user-images.githubusercontent.com/992654/41497916-eb81fae4-7189-11e8-9250-901ebc4b6e3c.png)

[2018-06-16 11:04] richosr opened #2076 "6.2.1 Message on delete orders is incorrect"
If you delete Checked orders from list, after deletion of the selected the message is incorrect.

It says:
![image](https://user-images.githubusercontent.com/992654/41498122-9cabcdf4-718f-11e8-99b8-ce851c5966ef.png)

regards
Steve

[2018-06-16 13:21] Dirty-Butter commented on #2075
Url shows ASC and DESC, but it does not sort for me, either, on two 6.2.1 test sites that have Transactions.

[2018-06-16 17:38] bhsmither commented on #2074
Product Dimensions were (most likely) added to solve a problem with commercial carrier requirements that rate requests would be accurate if, in addition to weight (Lb or Kg), packaging sizes was included to get a more accurate shipping quote.

As such, composition and other dimensional units, being elements of product specs, probably would not solve any pressing obstacle to selling and shipping in

[2018-06-16 17:40] bhsmither commented on #2075
Possible duplicate of #1999

[2018-06-16 23:05] Dirty-Butter commented on #2075
Looks like it, Bsmither!

[2018-06-17 19:17] bhsmither opened #2077 "Code Duplication"
Trivial:
/classes/seo.class.php
There is code duplication.
Compare lines 973+ with 978+.

[2018-06-17 20:22] bhsmither opened #2078 "Wrong Value for Attribute"
Trivial:
Wrong attribute value.
For the new language phrases given to the `group=customer`, the value for the `introduced` attribute is "6.1.2".

Perhaps it is actually "6.2.1".

[2018-06-18 04:23] sumwonlost commented on #2074
Fair enough with dimensions for shipping, however I see an issue if dimensions are used for shipping as I have it (Size/Dimensions) set up as an Option where I have different sizes/dimensions (attributes) at different sale price.

I can override weight in Product Options so how do I override Dimensions if I set Size (Dimensions) as an Option/Option Set?

eg
Size1 (Dimentions1) - Price1 - Weight1
S

[2018-06-18 05:06] bhsmither commented on #2074
With respect to dimensions, I agree this is a valid concern to be able to pass to the shipping modules something similar if not precisely the product options that relate to dimensions. If one could also add columns to the table that assigns an option type and option values, as like the weight column, then this can be passed in the cart array to anything that needs it. (Weight can be summed when sh

[2018-06-18 08:45] #2074 closed, assigned to nobody

[2018-06-18 09:02] #2078 closed, assigned to abrookbanks

[2018-06-18 09:04] abrookbanks commented on #2077
Thanks!!

[2018-06-18 09:04] #2077 closed, assigned to abrookbanks

[2018-06-18 09:09] #2076 closed, assigned to abrookbanks

[2018-06-18 09:09] abrookbanks commented on #2076
Thanks for this.

[2018-06-18 09:31] abrookbanks commented on #2075
Duplicate of #1999

[2018-06-18 09:31] #2075 closed, assigned to abrookbanks

[2018-06-18 09:32] abrookbanks commented on #1999
Fixed with https://github.com/cubecart/v6/commit/ca4f4358e94a133efbf0771ec1e7b9293b9294c0

[2018-06-18 09:32] #1999 closed, assigned to abrookbanks

[2018-06-18 09:41] abrookbanks commented on #2073
Fixed thanks.

[2018-06-18 09:41] #2073 closed, assigned to abrookbanks

[2018-06-18 09:43] abrookbanks commented on #2069
Relates to #2075 and #1999 but can't reproduce since fixed.

[2018-06-18 09:43] #2069 closed, assigned to abrookbanks

[2018-06-19 09:21] havenswift-hosting opened #2079 "Unable to change from foundation skin if cache disabled"
Using stock 6.2.1 with foundation skin, if cache is disabled and you switch to foundation skin, it is impossible to then switch to any other skin.

[2018-06-20 08:36] sumwonlost commented on #2074
I see an issue if dimensions are used for shipping.

Example I have dimensions for a Towel as 75 x 150 cm but when shipped this is folded down to approx 25 x 25 x 1 cm

BTW can you tell me which plugin provides the options you listed?

[2018-06-20 10:39] sumwonlost opened #2080 "Bug - Sale Products & Quantity Pricing for Group Memberships"
I use Customer Memberships, when I go to Admin -> Products (select a product) -> Pricing the dropdown lists Retail Pricing followed by any Group Memberships.

For now I leave it on Retail Pricing and enter a value in Retail Price and Save.  On Save it updates prices for product in inventory table and creates a record in pricing_group table for each of the Membership Groups for the Product.

Now in

[2018-06-20 14:20] sumwonlost opened #2081 "Improved Layout to Checkout/Orders, Bug with Discounts and Gift Card Accounting Practices"
1.  Improved Layout for Checkout - currently this is confusing with Coupons and Discounts see image

![image](https://user-images.githubusercontent.com/23044524/41660397-43edc3cc-74df-11e8-84cc-1f7c37c98154.png)

The suggested layout makes it much clearer, see image

![screenshot 65](https://user-images.githubusercontent.com/23044524/41660742-461262c4-74e0-11e8-8ddf-e2533df129c5.png)

2.  BUG - On

[2018-06-21 06:05] bhsmither commented on #2074
I don't see your handle on the forums - which is where I would otherwise post this reply:

https://www.cubecart.com/extensions/plugins/additional-global-product-fields
https://www.cubecart.com/extensions/plugins/additional-product-fields
https://www.cubecart.com/extensions/plugins/additional-global-product-tabs
https://www.cubecart.com/extensions/plugins/additional-product-tabs
(Not sure of the ex

[2018-06-21 09:20] bos4711 opened #2082 "Plugins that use ionCube cannot be uninstalled if ionCube is not installed."
I added a plugin that requires ionCube, which my hosting does not have (nor will install). The plugin is therefore of no use to me, but when trying to uninstall it by clicking the delete icon under "Manage Extensions", this message pops up:

This makes everything a Catch 22.

![cc6](https://user-images.githubusercontent.com/11036018/41710067-04dfc430-7545-11e8-8bec-c7509f39ec64.png)

[2018-06-21 09:21] bos4711 commented on #2082
Update: I can't even access the admin-page anymore, because of this.

[2018-06-21 09:26] havenswift-hosting commented on #2082
This is not a bug and there is nothing that CubeCart can do about it.  Any plugins that require ionCube, clearly say this in the description so you shouldnt try and install one without first checking (and find a better hosting company that provides this lol) but the solution is to simply use FTP or your hosting File Manager to remove the plugin directory

[2018-06-21 09:29] bos4711 commented on #2082
Either I'm blind or there's not a word about ionCube at the plugin page: https://www.cubecart.com/extensions/plugins/related-products-manual-automated-recommendations

[2018-06-21 09:32] bos4711 commented on #2082
Alright, renaming the plugin directory solved it. Thanks.

Closing ticket.

[2018-06-21 09:32] #2082 closed, assigned to nobody

[2018-06-21 10:50] abrookbanks commented on #2082
Turn on safe mode in the global.inc.php file. For notes refer to the global.inc.php.dist file.

[2018-06-23 08:35] Noodleyman opened #2083 "Install on IP rather than domain issue"
After installing to an IP rather than name, you can't log into the admin area.

[2018-06-23 17:37] hershbergj opened #2084 "stock level cache"
upgraded to 6.2.1 and checked that your manual repair for this issue was included. storefront quantities still don't get updated. only by manual clear cache. receiving because of this issue out of stock sales. Thank you

[2018-06-24 07:34] havenswift-hosting opened #2085 "Add option to cache sessions using redis or memcache"
This was part of https://github.com/cubecart/v6/issues/1306 but responses seemed to only focus on adding Full Page Cache which is a much more complex proposal.

Sessions can already be located in an account specific directory which helps with session files being deleted early via garbage cleanup but caching small session files is exactly what memcache / redis is brilliant at doing

[2018-06-25 06:08] bhsmither commented on #2083
Your browser is probably not sending back cookies because the calculated domain in the cookie does not match the page requested (leading period).

This may be considered an "unsupported" environment - but for dev environments, there is a solution in the forums.

Personally, I would like to see a resolution in the core code to detect IPv4|6 syntax.

[2018-06-25 08:24] abrookbanks commented on #2083
CubeCart isn't really designed to operate from an IP address. You can add a domain to your hosts file to point to local hosts. This is a good solution and takes only a minute.

[2018-06-25 08:24] #2083 closed, assigned to nobody

[2018-06-25 08:25] abrookbanks commented on #2085
Thanks Ian.

[2018-06-25 08:25] #2085 closed, assigned to nobody

[2018-06-25 08:38] Noodleyman commented on #2083
It's not critical, but thought direct IP was supported based on previous conversations we've had on the topic Al which is why I reported it.

[2018-06-25 08:44] Noodleyman opened #2086 "There should be a defined max quantity limit"
Had somebody come to me with this over the weekend after playing around with CubeCart. There are no safeguards to prevent somebody from entering stupid quantities and adding to their basket when stock control is disabled, for example adding "99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999

[2018-06-25 08:48] #2068 closed, assigned to abrookbanks

[2018-06-25 08:51] #2081 closed, assigned to nobody

[2018-06-25 08:59] abrookbanks commented on #2070
![screen shot 2018-06-25 at 09 59 00](https://user-images.githubusercontent.com/4520803/41840758-7d86c75a-785e-11e8-983e-492983018cf7.png)

[2018-06-25 08:59] #2070 closed, assigned to abrookbanks

[2018-06-25 09:03] abrookbanks commented on #2079
I can't reproduce this at all.

[2018-06-25 09:04] abrookbanks commented on #2079
Any special scenario? My settings are below:
![screen shot 2018-06-25 at 10 03 42](https://user-images.githubusercontent.com/4520803/41841001-13c7559a-785f-11e8-83ba-ed0d9c0a07cb.png)

I can switch between skins and they hold.

[2018-06-25 09:32] abrookbanks commented on #2086
I don't think we should have a setting for this unless it is per product or 999 if not set. I can see some niche store needing 99999 but most will probably need 99 max.

[2018-06-25 09:34] Noodleyman commented on #2086
one of those scenarios where people sell liquids by the millilitre and somebody wants several a 55 gallon drum, seems unlikely but I have seen this kind of thing happen and cause some very interesting results, the thought of a global limit is purely a safety net to prevent errors rather.

[2018-06-25 09:43] abrookbanks commented on #2086
I think for the vast majority 999 as a max is ample.

[2018-06-25 09:43] #2086 closed, assigned to abrookbanks

[2018-06-25 17:16] bhsmither commented on #2086
What was the cause of the 500ISE? Integer overflow on the variable(s) holding the quantity?

[2018-06-25 17:18] Noodleyman commented on #2086
I'm not sure. I was going to check, but didn't have access to the server logs for the site used in the test

[2018-06-25 17:19] bhsmither commented on #2086
See if it crashes on your dev environment.

[2018-06-25 17:50] Noodleyman commented on #2086
I tried, I wasn't able to replicate it there or on the official cubecart demo site.

[2018-06-25 18:08] abrookbanks commented on #2086
Let me know if you think I need to look at this more.

[2018-06-25 18:21] bhsmither commented on #2086
Do you have any sense if the server where this happened is 32-bit? (A max integer on a 64-bit machine is 9,223,372,036,854,775,807 - so even that input would have overflowed. And if so, PHP converts to a float. But then, CC type casts it back to `(int)` (Cart class near lines 158 and 166 for `POST['quantity']`.)

[2018-06-25 19:07] abrookbanks commented on #2086
I wish I listened more in my computer science lectures at uni. 🤣😀

[2018-06-26 04:30] bhsmither commented on #2008
Would this also apply to $JS_SCRIPTS in element.js_foot.php?

[2018-06-26 10:55] abrookbanks commented on #2008
No I don't think so.

[2018-06-26 13:19] abrookbanks commented on #2079
Happy to reopen...

[2018-06-26 13:19] #2079 closed, assigned to nobody

[2018-06-26 16:56] bhsmither commented on #2008
Case in point:
In the current element.js_foot.php file, there is a separate <script> tag. So, we know that {combine} needs to be before script tags that would reference these vendor (or module) scripts.

Suggest:
From:
[code]
To:
[code]
Note that `$JS_SCRIPTS` now does not push onto `$js_foot`.

[2018-06-27 08:40] abrookbanks commented on #2008
As far as I can see JS_SCRIPTS will hold and array or file paths so it should be fine as it is.

[code]

[2018-06-27 11:24] Noodleyman opened #2087 "Sitemap uses http or https in urls based on whichever the admin is using at the time"
See:
https://forums.cubecart.com/topic/54134-sitemap-question/?tab=comments#comment-234303

with SSL set to YES in store settings...

if logged into the admin area using http and you rebuild sitemap, it uses http in URL's.
if logged into the admin area using https and you rebuild sitemap, it uses https in URL's.

with SSL set to yes it should always use HTTPS in sitemap

[2018-06-28 09:27] abrookbanks commented on #2087
Thanks.

[2018-06-28 09:27] #2087 closed, assigned to abrookbanks

[2018-06-28 15:54] vidmarc opened #2088 "Meta title missing from element.meta.php"
This line needs adding:

<meta name="title" content="{if isset($META_TITLE)}{$META_TITLE}{/if}">

[2018-06-28 15:55] vidmarc commented on #2088
`<meta name="title" content="{if isset($META_TITLE)}{$META_TITLE}{/if}">`

[2018-06-28 21:15] Dirty-Butter commented on #2073
I'm on today's commit on a couple of test sites. This is still not clearing the cache button color for me. Maybe you forgot to fix it?? I couldn't find the code you changed in the commit history, so I can't be sure I have the correct edit installed.

[2018-06-29 12:50] Noodleyman opened #2089 "Can't use special characters in password for SMTP server"
Tested using Gmail as SMTP server, If your password contains special characters, for example:
!
&
^

The password is rejected as being incorrect. if you remove those special characters from the password it works correctly.

[2018-06-29 12:52] abrookbanks commented on #2088
https://moz.com/community/q/title-vs-meta-name-title-both-or-just-one-of-them

[2018-06-29 13:45] vidmarc commented on #2088
Suggest removal of field: Products -> Search Engines -> Meta Title if it is not used.

[2018-06-29 14:32] abrookbanks commented on #2088
That is used but in the title tag.

[2018-06-29 14:36] #2088 closed, assigned to abrookbanks

[2018-07-02 09:22] Noodleyman opened #2090 "Impliment CSP to enhance security"
Reference:
https://infosec.mozilla.org/guidelines/web_security#content-security-policy

This should help reduce the risk of XSS issues on sites.

https://observatory.mozilla.org/analyze/demo.cubecart.com

[2018-07-02 10:17] Noodleyman opened #2091 "Add support for STS"
This can be added reasonably easily to the htaccess file when SSL mode is enabled.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security

https://observatory.mozilla.org/analyze/demo.cubecart.com

[2018-07-02 12:44] Noodleyman commented on #2080
based on your description. it's working correctly. both the price and sale price are customer group specific. in your example you've only mentioned setting a sale price at the retail group.

you need to configure everything at each group level.

[2018-07-02 13:43] abrookbanks commented on #2089
Is it obvious I do the easy ones first? :)

[2018-07-02 13:43] abrookbanks commented on #2089
Thanks for this

[2018-07-02 13:46] abrookbanks commented on #2090
Nice!!

[2018-07-02 13:51] Noodleyman commented on #2089
I do the same when slammed, quick wins. Thanks :)

[2018-07-02 13:59] Noodleyman opened #2092 "Add support for X-Frame-Options"
Kinda associated with #2090
See:
https://infosec.mozilla.org/guidelines/web_security#x-frame-options

https://observatory.mozilla.org/analyze/demo.cubecart.com

[2018-07-02 14:08] sumwonlost commented on #2080
Is that right?  So why does it display Retail Pricing Group (Retail Price) if I have no Retail Price set for a Group?  Therefore this is the BUG and should not display products for Customer Groups if Retail Price has not been set for their Group.

BUT understandably it does not work this way as your method of configuring at each level would be tedious.  If no Retail Price is entered in a Membershi

[2018-07-02 14:17] abrookbanks commented on #2090
I'll cover this with 2092.

[2018-07-02 14:18] abrookbanks commented on #2090
I'll cover this with #2092

[2018-07-02 14:18] #2090 closed, assigned to nobody

[2018-07-02 14:20] Noodleyman commented on #2092
To make life easier... here' some code from a site I applied it to today, seems to work OK and passed validation checks

  ######## Force strict SSL ########
  Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

  ######## X-Frame-Options to protect against nasty things ########
  Header always set X-Frame-Options SAMEORIGIN
  Header set Content-Security-

[2018-07-02 14:23] sumwonlost commented on #2080
Unless superseded by entering values (Retail Price and Sale Price) by setting these for Groups it defaults to these for Retail Pricing, this part work correctly.  It should do the same for Quantity Pricing.

Much simpler, less tedious and less db resources than configuring each group

[2018-07-02 14:26] Noodleyman commented on #2080
not displaying products because you've not set a price is different, that's a security model thing. (note, I've a security module that can do this for you available on the marketplace).

The prices are designed to work "per group", and yes, it's tedious if you have many groups. It doesn't waterfall in the way you are describing.

when you say "if no retail price is entered it defaults to the retai

[2018-07-02 14:57] abrookbanks commented on #2092
Doesn't that block inline JS?

[2018-07-02 14:58] Noodleyman commented on #2092
not in my tests, worked fine. I set those options which passed validation checks and the store functionality was still working correctly. There may be better options to configure, that's my initial attempted based on limited research. :)

[2018-07-02 15:08] abrookbanks commented on #2092
Yes. That seems ok. I was getting confused with content-security-policy rules. I don't think we can get that tight enough to protect against XSS as we need inline JS.

[2018-07-02 15:09] Noodleyman commented on #2092
Agreed. :), I assumed some payment modules that use frames may also be impacted, so it would require some solid testing of any settings that made it into the cart, maybe even adding some config or control of the values

[2018-07-02 19:27] bhsmither opened #2093 "Nochex IPN Address"
In Nochex's 2.0 gateway.class.php file, the `callback_url` is:
[code]
but the folder name is `Nochex_APC`.

This will cause a failure in the `_g=rm` process.

Suggest having the `module` value and folder name match.

[2018-07-03 08:28] abrookbanks commented on #2093
Thank you... 2.1 released.

[2018-07-03 08:28] #2093 closed, assigned to nobody

[2018-07-03 21:59] JonasTheGamer opened #2094 "Cubecart only shows "Test category" and "Test product" whilst everything is set up."
Hey there! I am using cubecart on my site: [(https://jonasgamertv.com/Test3](https://jonasgamertv.com/Test3)

I am a complete n00b with it, so help me please.
I tried clearing cache,... Nothing works.

Thanks to whoever fixes it!

[2018-07-04 08:54] sumwonlost commented on #2094
You need to have a good play around with CubeCart before asking the basics.  Each software has its quirks and CubeCart is no different but once you understand how these work, in my opinion it is a good cart.

Login into Admin, in Menu on left hand side you will see Categories and Products, click on these and configure (delete or edit) or add new category/product.

[2018-07-04 09:53] abrookbanks commented on #2094
Please seek support on our [forums](https://forums.cubecart.com/) or via [official channel](https://support.cubecart.com/Tickets/Submit).

[2018-07-04 09:53] #2094 closed, assigned to nobody

[2018-07-04 11:37] JonasTheGamer commented on #2094
I did that. Doesn't work.

Op wo 4 jul. 2018 om 11:53 schreef Al Brookbanks <notifications@github.com>:

--
Groetjes Jonas

[2018-07-04 13:37] sumwonlost commented on #2080
"Waterfall logic" and a "security model thing", I'll explain logic and where is the "security model thing?".  Why do I need a plugin for what is technically a BUG.

I get different outcomes on how products are created and edited for Groups which affect how these are displayed.  I will go through each (I will assume you have min 2 Groups set up and a Customer associated to a Group).

Goto Add Produ

[2018-07-05 09:06] havenswift-hosting opened #2095 "Update jquery"
https://forums.cubecart.com/topic/54150-update-jquery-javascript/

[2018-07-05 16:46] briansandall opened #2096 "Tax applies to shipping even when not checked"
Create a tax rule for e.g. Alabama, US - sales tax applies to goods only, not to shipping.

Create an order for an address in Alabama; the correct tax rule is applied but it erroneously taxes shipping cost in addition to goods.

Tested on v6.2.1.

[2018-07-05 17:18] briansandall opened #2097 "Taxes: improving the order editing experience"
1. Display at least County next to each Tax Rule entry in the list so that they are distinguishable

2. Increase the drop-down element width (or leave unspecified) to allow displaying entire entry

3. Auto-populate the amount to tax when selecting a tax rule and/or include the tax rate and whether it applies to shipping with each entry on the list so we can determine the amount to charge

I may ju

[2018-07-06 19:50] bos4711 opened #2098 "Promotional Code with Free Shipping bugs when All In One Shipping-extension is installed"
This issue is maybe related to #1791 (which is marked fixed). Quoting the last paragraph:

Even with "Allow physical orders ..." checked, the refresh-loop clears the selected "Free Coupon Shipping" and you cannot check-out the order, if the "All in one shipping"-extension is installed. I tried to disable the extension for a short while to see if it still bugs out, but somehow I cannot disable it.

[2018-07-06 20:32] Mateo1966 opened #2099 "New Product not showing up on Latest Products or Category Pages"
Added a product to my store...running CC v6.2.0
BUT the product is not being added to Latest Products or the category pages, but can be searched for individually and it shows up...
How to fix this?

Thanks,
Matthew

[2018-07-06 20:39] havenswift-hosting commented on #2099
You need to clear cache - read the release notes https://forums.cubecart.com/topic/53894-cubecart-6115-620-released/

[2018-07-06 21:15] Mateo1966 commented on #2099
I'm not finding a clear cache button on the top right of any page in the admin...

[2018-07-06 23:24] bhsmither commented on #2099
Please determine if you have more than one administrative folder at your site. Using FTP or the hosting account's control panel, in Cubecart's main folder, there should be one administrative folder.

The folder's name could be **admin** or **admin_aBcDeF** using random characters.

If you have more than one administrative folder, determine which is the newest folder.

Then, in `includes/global.inc

[2018-07-07 00:13] bhsmither opened #2100 "Coupon for Subtotal Only"
My research suggests that in admin, Promotional Codes, Add/Edit Coupon, Assigned Products tab, `Discount applies to subtotal only` setting, while it is databased, there is no code in CC621's Cart class that uses it.

(Three hooks exist but are probably not well positioned to effectively use this setting.)

Suggest adding verbage explaining this setting is ignored, or removing this setting from the

[2018-07-07 00:38] Mateo1966 commented on #2099
Ok, I did that and saw it...then logged out...
Now I am unable to log back in
What happened?
Just to let you know, the website is still working, customers can log in and checkout, but I just can't access the admin area...
I do get the cross-site error message, but i've clean my cache and so on and nothing works

thanks

[2018-07-07 01:24] bhsmither commented on #2099
Please realize that the administration folder may have a name you have not created a desktop shortcut  for. Or your browser is using a (now) incorrect remembered web address.

When you say you cannot access admin, do you first get the admin logon page, and thereafter get nowhere? Or do you not even get the logon page?

Make sure the /includes/global.inc.php file has the matching names of the admin

[2018-07-07 02:26] Mateo1966 commented on #2099
I get to the log on page for admin...and the global.php has both the correct admin and folder info.
yes, cleared all cookies from both browsers.
i've tried in chrome and edge browsers...just goes nowhere...

[2018-07-07 03:42] bhsmither commented on #2099
Then this should probably have a ticket submitted to Support or start a conversation on the Forums. I will assert this situation isn't a bug with CubeCart code.

See you on the Forums!

[2018-07-07 13:32] Dirty-Butter commented on #2100
We sell many low cost items and cannot afford to discount s/h. I have always used this check box. Please consider changing the code so it actually does what it says it does. Evidently we've just been lucky!

[2018-07-07 14:55] Mateo1966 commented on #2099
hey thanks...I put the old file back in and reconfigured the global.inc.php to point to the admin page and old folder....at least can have access to the admin area now...
Still no clear cache situation...
Wonder what's in the old file that isn't in the latest file that will allow access to the admin area...?
Or, what's in the latest file that can be transferred to the old admin file to show and al

[2018-07-08 01:05] bhsmither opened #2101 "Manage Extensions to Have a Breadcrumb"
Request in /admin/sources/plugins.index.inc.php:
From:
[code]
Add after:
[code]

[2018-07-09 07:56] abrookbanks opened #2102 "Product list 0-9 (#) not working"
As above. A full list is returned.

[2018-07-09 07:57] #2102 closed, assigned to abrookbanks

[2018-07-09 08:56] #2095 closed, assigned to nobody

[2018-07-09 08:56] abrookbanks commented on #2095
I updated it some months ago and it opened a can of worms of problems. The current version used in CubeCart is very stable.

[2018-07-09 09:01] abrookbanks commented on #2101
Nice find thanks.

[2018-07-09 09:01] #2101 closed, assigned to abrookbanks

[2018-07-09 09:02] abrookbanks commented on #2099
Please follow the [upgrade instructions](https://support.cubecart.com/Knowledgebase/Article/View/228/43/how-do-i-upgrade-from-cubecart-v6-to-latest-v6).

[2018-07-09 09:02] #2099 closed, assigned to nobody

[2018-07-09 13:59] #2098 closed, assigned to abrookbanks

[2018-07-09 17:50] Noodleyman opened #2103 "Stripe - White screen on checkout"
Getting this for existing customers who are logged in using the latest version of Stripe.

[Exception] /var/www/html/lanmatrix/modules/gateway/Stripe/stripe-php-5.2.0/lib/ApiRequestor.php:124 - Customer already exists.

[2018-07-11 09:33] abrookbanks commented on #2103
That's odd as it trys to retrieve the customer and catches an exception if the ID doesn't exists to then create the customer. This means it shouldn't create a customer if it already exists.

Can you reproduce this?

[2018-07-11 09:40] #2100 closed, assigned to abrookbanks

[2018-07-11 09:40] abrookbanks commented on #2103
I wonder if the call to retrieve failed for some reason like a network time out.

[2018-07-11 10:03] abrookbanks commented on #2096
I can't reproduce this. Ignore the zip code format and tax name as it shouldn't make a difference.
## SUBTOTAL ONLY
![screen shot 2018-07-11 at 11 02 15](https://user-images.githubusercontent.com/4520803/42564951-0823a232-84fa-11e8-933b-696fdcda038d.png)
![screen shot 2018-07-11 at 11 02 23](https://user-images.githubusercontent.com/4520803/42564958-0a0cd7e4-84fa-11e8-995b-863815a984b7.png)
## SUB

[2018-07-11 10:27] Noodleyman commented on #2103
Can you give me some pointers on the call to retrieve and I'll check into it. :)

[2018-07-11 10:27] Dirty-Butter opened #2104 "Print Layout tweak needed where no State/Province provided"
See https://forums.cubecart.com/topic/54178-address-layout-for-disabled-state-62/

[2018-07-11 10:28] abrookbanks commented on #2103
Yup. Line 83 of gateway.class.php

[code]

[2018-07-11 10:29] abrookbanks commented on #2103
Actually I see line 87 a line to create the source but it doesn't look like thats the issue. Maybe it is.

[2018-07-11 10:51] abrookbanks commented on #2104
Is this from printing in the admin control panel, the "print order form" gateway or customer print?

[2018-07-11 11:06] Dirty-Butter commented on #2104
As far as I can tell it's anywhere the address is printed. Plus on the storefront Customer's Addressbook it leaves the blank line there. And in Admin the Order summary page shows the  comma ZIP in the address.

[2018-07-11 11:09] Dirty-Butter commented on #2104
Just change a country to State Disabled and you'll see the issue everywhere the address is displayed or printed.

[2018-07-11 14:47] briansandall commented on #2096
I tested it with the tagged v6.2.1 code base on an unmodified installation. I'll try again with the latest code.

[2018-07-11 15:51] Dirty-Butter commented on #2104
There's no way to test this on the CC Demo store, so I brought a stock store back up to current commit. I do not see the extraneous comma or the blank space in addresses anywhere. So this is NOT a CC bug. But I have the issue in all my test and live stores. UGH

[2018-07-11 15:52] abrookbanks commented on #2104
Hmm mine shows..

[code]

[2018-07-11 15:52] abrookbanks commented on #2104
You can change the code to check for it as above. :)

[2018-07-11 15:52] #2104 closed, assigned to nobody

[2018-07-11 15:54] briansandall commented on #2096
Still reproducing it with the latest code from 6.2.0-branch; I'm going to try again with a clean database install, though I don't believe that will make a difference.

![2096](https://user-images.githubusercontent.com/14335170/42584321-caa4414e-84e7-11e8-8630-dc0c770e235c.png)

[2018-07-11 18:13] briansandall opened #2105 "CubeCart_tax_rates table structure optimization"
Is there any reason that `goods` and `shipping` can not be `TINYINT(1)`? It seems that both columns are either 0 (unchecked) or 1 (checked).

[2018-07-11 18:32] briansandall commented on #2096
I've noticed that when the basket is calculating shipping tax, tax_id is 999999 and so it is using the inherited tax rules from `Tax::productTax` rather than those for `shipping` tax types.

Is there a setting somewhere for this, perhaps?

[2018-07-11 18:38] briansandall commented on #2096
Seems to be an issue with the shipping plugin setting the incorrect tax id - I can sort that on my end, but at least the UPS plugin may need an update.

[2018-07-11 18:49] briansandall commented on #2096
On second thought, wouldn't it be more reasonable for inherited tax rules to consider the possibility that it might be a shipping charge, rather than blindly adding tax?

I'm not sure how else a shipping plugin with tax settings set to `Inherit` should function - since the tax_id is unknown, how can we determine whether the tax should apply to shipping (see also #385). Any thoughts?

[2018-07-11 20:25] Dirty-Butter commented on #2104
I was talking about the comma showing on the Admin and storefront pages with addresses. But it WAS my fault. I'm so sorry for wasting your time.

[2018-07-12 09:29] abrookbanks commented on #2105
Thanks

[2018-07-12 09:29] #2105 closed, assigned to abrookbanks

[2018-07-13 22:20] bhsmither opened #2106 "Custom Actions"
In cubecart.class.php, the `default` method (near line 426) suggests that a user created `_a=whatever` will auto load any `/classes/` class file.

The code actually looks for `CubeCart->_whatever()` (lines 430-432), and then will trigger a code snippet or plugin hook.

So, the question is, how does one get `CubeCart->_whatever()` (from `$this->{$method}();`) into the class?

Any notes on how this

[2018-07-14 18:58] bhsmither opened #2107 "Skin to Determine Structure"
In Foundation's `content.product.php`, there is:
[code]
and
[code]
(Note: Smarty can handle a missing or empty array. There is no need to check if it isset.)

The above **requires any hook** to prepare in advance how any additional tabs are structured. That is, Foundation uses `dl, dt, dd` and `<div class="content"` to create tabs and visible blocks. Other skins may have a different structure.

Su

[2018-07-16 15:58] Noodleyman opened #2108 "config.xml <csrf> and email validation issue"
I've noted this before and shared it elsewhere, but it has come back around again over the past week and been causing a lot of pain for a handful of customers.

CubeCart 6.2x may not work correctly with older themes, specifically those who port/update their themes based on foundation. Foundation also will not work correctly if "csrf" is defined as false.

Specifically a customer can't checkout if