[2020-07-07 04:21] bhsmither opened #2551 "Code Check: Regarding #2510"
Regarding #2510, hooks were added but I do not see them listed in `/modules/plugins/hooks.xml`.

Also, I fail to see what the change in `box.newsletter.php` has to do with adding these hooks.

[2020-07-12 19:32] bhsmither opened #2552 "Code Review: Available Extensions Table Width"
This is set at 70%. I find no problem with 100%.

[2020-07-13 12:21] abrookbanks commented on #2552
70% encourages an even amount on each line on most viewports rather than more across the top than the bottom.

[2020-07-13 12:21] #2552 closed, assigned to nobody

[2020-07-13 23:25] bhsmither opened #2553 "Code Check: CSS Declaration Fault"
In admin's `layout.css`, line 932, height, needs a dimension.

[2020-07-15 22:16] bhsmither opened #2554 "Code Check: Language Phrase Duplicated"
Inconsequential:

In `definitions.xml`, the `newsletter` group has two instances of the `string name="email_invalid"`.

[2020-07-16 07:04] abrookbanks opened #2555 "Add sorting to subscriber list (e.g. by Date)"

[2020-07-16 07:04] #2555 closed, assigned to nobody

[2020-07-20 11:03] #2553 closed, assigned to abrookbanks

[2020-07-20 11:18] abrookbanks commented on #2551
Thanks. Hooks added to initial issue. Newsletter commit should have been separate. It fixes an issue with invisible recaptcha.

[2020-07-20 11:18] #2551 closed, assigned to abrookbanks

[2020-07-23 15:53] Noodleyman commented on #2421
@abrookbanks , looks like this change introduced an oddity which is causing some problems in the matrix.

the matrix status gets set to 1 when a matrix record is added, or revised because something changed, cached array or cached name.

However, if you disable an option used in an option set, the matrix record status = 0.

Nothing EVER will set this back to 1 again, even if you enable the option a

[2020-07-23 15:58] abrookbanks commented on #2421
Thanks. I'll look into this.

[2020-07-24 07:50] #2554 closed, assigned to abrookbanks

[2020-07-24 08:22] abrookbanks commented on #2421
Assuming you are referring to https://github.com/cubecart/v6/commit/e766079ee7c9772bec5c676150822c2156c878b3 I can't see how this would make a difference as it's only updating if `cached_array `or `cached_name` has changed?

Can you provide steps to reproduce this? That would make it much easier to delve into.

[2020-07-24 08:25] Noodleyman commented on #2421
setup options, assign to product. add to matrix. check matrix DB table (status = 1).

toggle the status of one option, save. check matrix db table. it flipped to disabled.

enable the option again, matrix option still disabled.

once disabled, the only way an option in the matrix gets enabled again is if the option name (cached name changes), or if it's deleted manually, then re-added by CC.  noth

[2020-07-24 08:32] abrookbanks commented on #2421
Thanks. I believe our mutual client said you fixed this? If that's the case I'd be grateful if you could share.

[2020-07-24 08:36] abrookbanks commented on #2421
Reproduced. Thanks! :)

[2020-07-24 08:38] Noodleyman commented on #2421
I simply commented out the if statement to allow it to update on page load as it used to, which will prevent anything with an incorrect status from staying disabled.

and then, to correct the impacted data, I set everything to status  1, then ran the same large block of code for every product in the store to correct existing data. it flipped invalid matrix entries to disabled.

not an issue on the

[2020-07-24 08:41] abrookbanks commented on #2421
I think the idea was to allow for them to be added back if there was a mistake remembering what the product codes etc where.

[2020-07-24 08:45] Noodleyman commented on #2421
perhaps a new store setting, delete/keep matrix data?

[2020-07-24 08:48] abrookbanks commented on #2421
I'd be interested to know what percent of matrix entries are disabled on a high count table. Maybe delete is better after all.

A setting would be hard to educate merchants about as we couldn't expect them to understand the concept of SQL load.

[2020-07-24 08:53] Noodleyman opened #2556 "SameSite attribute - consideration required."
The following attribute isn't defined..

A cookie associated with a cross-site resource at <URL> was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>Cookies and see more details at <URL> and <URL>.

####

Indicate

[2020-07-24 08:56] Noodleyman opened #2557 "No default favicon"
CubeCart defines favicon path as:
`<link rel="shortcut icon" href="{$STORE_URL}/favicon.ico" type="image/x-icon">`

But, no icon exists at this location when you install cubecart. a default one should exist to stop a 404 error

[2020-07-24 08:57] abrookbanks commented on #2421
CubeCart is due some cron tasks. There are lots of things we can do to improve performance such as batch processing email instead of having them "block" the code making a page load slower. It would be more asynchronous this way.

Development has slacked due to this bloody virus with kids at home so much.

Back to the issue at hand. Did you notice a significant performance improvement with the cond

[2020-07-24 09:07] abrookbanks commented on #2421
The store in question only has ~2k rows in the  CubeCart_option_matrix table. This shouldn't be a big deal.

[2020-07-24 09:07] Noodleyman commented on #2421
from a store with just shy of 400,000 options, 372,510 with status - 0.

[2020-07-24 09:08] abrookbanks commented on #2421
Blimey. I did also notice that the football store has over 50% status = 0;

Maybe its time to only save status 1.

[2020-07-24 09:09] Noodleyman commented on #2421
Cron, with hooks would be super helpful as I've got a backlog of things I intend to port to CRON anyway. If one already exists with hooks, it'll be one job rather than multiple. I've built several already for CC, easy to setup just needs core tasks adding to it and then those items removed from page loads etc. HOWEVER, it may be a good idea to have a setting to toggle on/off the use of cron, in ca

[2020-07-24 09:10] Noodleyman commented on #2421
"Did you notice a significant performance improvement with the condition below"

Yes, page load from > 40 seconds (aka, timeout with default 30 seconds), to about 5-10 seconds.  It depends on the number of options / unique combinations of options since they are essentially Cartesian joined.  it can be tens of thousands for a single, complex product.

[2020-07-24 09:11] abrookbanks commented on #2421
I think that is enough to warrant a delete.

[2020-07-24 09:24] abrookbanks commented on #2421
The status column doesn't even have an index!

[2020-07-24 09:25] Noodleyman commented on #2421
the index didn't help much when I tested it. the real drag was it calculating every unique combination on page load, then cross referencing the DB. but yes, more records = more work.

[2020-07-24 09:28] abrookbanks commented on #2421
Thanks Alec. Big help here.

I haven't dropped the status column in case we need to back track on these changes.

We should be in a much better place now.

[2020-07-24 09:28] Noodleyman opened #2558 "PayPal commerce - not enabled?"
Linking an existing, live PayPal business account via ecommerce module. during checkout, get a failure. in developer console, the following error is noted:

_Card processing is not enabled for this merchant_

There is nothing in the documentation to imply what needs to be enabled or the account prerequisites. what is required in the PayPal account settings for the eCommerce module to work?

[2020-07-24 09:30] Noodleyman commented on #2421
you may want to consider making a setting, which defaults to existing behaviour, giving the option to toggle the delete ON. (default off), for legacy reasons. then if people have data sets which is causing performance issues the setting can be toggled on

[2020-07-24 09:37] abrookbanks commented on #2421
With the level of bloat on just two stores (over 50% status = 0) I'd be included to think this is a bug which will eventually cause performance issues.

[2020-07-24 09:39] abrookbanks commented on #2421
If we put it back to work with status and introduced a cron to see if a status has been 0 for more than say a few days that could make the current solution work without bloat.

[2020-07-24 09:57] havenswift-hosting commented on #2557
In some ways I agree and CubeCart used to ship with a favicon.ico file (the CubeCart one) which is great for CubeCart especially as many stores never bother to do one themselves but not so great when each upgrade was overwriting those stores where they had created their own !  My view would be to not include it and leave it as it is now

If a new store owner doesn't create their own favicon, then

[2020-07-24 10:06] havenswift-hosting commented on #2421
This is something that a LOT of other systems do and something I think would be ideal for CubeCart -the batch email process for example (although we do have a plugin that does this already but would be happy for this to be core !)

I disagree.  Cron is almost universally available with hosting accounts and we shouldnt be bloating code and maintaining old ways of doing things for the few odd hostin

[2020-07-24 10:17] abrookbanks commented on #2421
@havenswift-hosting thanks fr your thoughts :)

I think I've come up with the optimal solution now. Essentially it will allow option matrix rows with status 0 live for three days. This allows for the merchant to get their product setup right with a 3 day memory if they add or remove to the matrix based on a time stamp when added.  I've tested the delete which works correctly for timestamps older t

[2020-07-24 10:23] havenswift-hosting commented on #2421
I agree that sounds like a good solution for this situation, the cron is a potential solution to other problems and also an opportunity for better functionality

[2020-07-24 10:26] abrookbanks commented on #2421
@havenswift-hosting totally agree.

I think email is a particular one. One connection can be opened for say 10 emails at a time or something rather than each time on the fly. It could even be restricted by the hour to say 100. The rest could be sent at quieter times.

[2020-07-24 11:10] #2421 closed, assigned to abrookbanks

[2020-07-26 00:31] bhsmither opened #2559 "Taxes: Need 'Rest of World'"
For those countries that find it allowable to collect taxes for sales outside its jurisdiction (delivery address), there needs to be the capability for a fallback tax rule for "--Rest of World--".

[2020-07-27 11:32] havenswift-hosting opened #2560 "Finding assigned images in admin file manager impossible"
In sites that have a large number of images and (correctly) create a large hierarchy sub-directory structure in which to store these images, it is impossible to locate where these images are for any specific product.

Switching between "Show all images" and "Show only assigned images" only works if the correct sub-directory is already open and ideally should also not display all the other sub-dire

[2020-07-27 13:41] abrookbanks commented on #2558
For most established PayPal accounts card processing will work right away. I believe some accounts take time to be manually verified by PayPal before card processing is enabled. At the time of developing the extension there was no means to feed this back to the merchant or provide updates but I do know that this will be available at a later date. When it is we can build it in.

If cards don't work

[2020-07-27 13:41] #2558 closed, assigned to nobody

[2020-07-28 08:16] abrookbanks commented on #2557
I think this should say as it is. With the code removed you still get a 404 error as browsers look for it regardless and if we add one it will indeed overwrite with each upgrade.

[2020-07-28 08:16] #2557 closed, assigned to nobody

[2020-07-28 08:18] abrookbanks commented on #2556
Sounds like we need SameSite=strict .

[2020-07-28 08:58] abrookbanks commented on #2556
Might need to fork the cookie JS
https://github.com/carhartl/jquery-cookie/blob/master/src/jquery.cookie.js#L67-L73

[2020-07-28 09:29] abrookbanks commented on #2556
I was very wrong there.

[2020-07-28 10:43] abrookbanks commented on #2556
This should be resolved now.

[2020-07-28 10:43] #2556 closed, assigned to abrookbanks

[2020-07-29 09:03] abrookbanks commented on #2556
Nothing is ever simple is it?! SameSite can't be used to extend session cookie.

[2020-07-29 14:09] abrookbanks commented on #2556
This works beautifully now. Browser warnings gone.

[2020-07-29 14:11] abrookbanks commented on #2524
Complexity as in we can't clear the local PHP session files due to permissions. Garbage collection will need to remove those.

[2020-07-29 14:11] #2524 closed, assigned to abrookbanks

[2020-07-29 14:19] abrookbanks commented on #2556
![Annotation 2020-07-29 151850](https://user-images.githubusercontent.com/4520803/88811749-d79b1100-d1ae-11ea-9680-fd1fc4c4a60b.jpg)

[2020-07-29 17:39] havenswift-hosting commented on #2524
Whether you can clear PHP session files will depend on where they are stored (/tmp, another default directory all together with other users or a custom path in user account) and with what permissions (depends on location, PHP handler used etc) and also how they are stored (memcached for example will have different rules)

Does the code as it is attempt to delete the local PHP file and detect wheth

[2020-07-31 14:42] #2550 closed, assigned to abrookbanks

[2020-07-31 15:05] abrookbanks commented on #2499
I'm not 100% following. Is there a bug that needs changing?

[2020-07-31 17:32] bhsmither commented on #2499
Yes.

Customize a Foundation skin by adding a sub-style (requisite folders, files, and changes to config.xml) -- for example, "red".

Now there is the 'default' and 'red' sub-styles.

Note: have **debug disabled**, and have **caching enabled**.

Take note that the CSS combined file in the cache is named "css.foundation.css".

When the customer (if allowed) switches the skin to "Foundation|Red", th

[2020-08-03 10:22] harris-organic commented on #1362
@abrookbanks , the request was for an optional "user defined name within the shipping modules" I am confused as to how to change the name of "all_in_one_shipping" or "All in One Shipping" within the current module 1.0.16. Could you explain how to do this, please?

[2020-08-03 17:48] bhsmither commented on #1362
Please see:
https://forums.cubecart.com/topic/53130-all-in-one-shipping-module-gets-a-custom-name/

This conversation may need to be updated for CC629.

But I see that you are already participating in that conversation.

[2020-08-03 22:45] bhsmither opened #2561 "AIOS to be Updated"
As per #2414, this statement:
[code]
can be changed to:
[code]
In shipping_rates.tpl, lines 59 and 65, replace `All_In_One_Shipping` with `{$MODULE.folder}`.

And as per:
https://forums.cubecart.com/topic/53130-all-in-one-shipping-module-gets-a-custom-name/
request that the edits be implemented.

[2020-08-04 02:14] harris-organic commented on #1362
Thanks, Brian, you are correct, the conversation requires updating for CC629. I have edited the three files with your code from https://forums.cubecart.com/topic/53130-all-in-one-shipping-module-gets-a-custom-name/ with no luck. ie the code made no difference to the shipping name on the order form.

[2020-08-04 14:56] Noodleyman opened #2562 "Text Options - Apostrophe breaks serialize"
A common PHP problem, if you add a product to cart and populate a text option with a sentence that contains an apostrophe... serialise no longer works. apostrophes don't work correctly with serialize, so you can't later unserialize the values.

notable in the admin area as you can't see the option values under the order summary, and in the printed invoice it dumps the serialized string instead of

[2020-08-04 15:54] bhsmither commented on #1362
Taking this to the forums.

[2020-08-04 16:18] havenswift-hosting opened #2563 "Error from AIOS plugin"
Quite often see this across multiple sites and doesnt seem to make a difference as to how zones are configured

[04-Aug-2020 11:05:47 UTC] PHP Warning:  Invalid argument supplied for foreach() in /home/XXXXXXXX/public_html/modules/shipping/All_In_One_Shipping/shipping.class.php on line 46

[2020-08-04 16:20] havenswift-hosting opened #2564 "Error from new PayPal Commerce plugin"
See this on a lot of sites running this plugin

[04-Aug-2020 10:37:44 UTC] PHP Warning:  Invalid argument supplied for foreach() in /home/XXXXXXXX/public_html/modules/plugins/paypal_commerce/paypal.class.php on line 50

[2020-08-05 00:41] bhsmither commented on #2563
This happens when a customer reviews a past order.

The AIOS module is instantiated and does its `__contruct()` method. The boolean `false` is passed in for `$basket`, yet there is code here that wants to iterate through the basket `'contents'` - which is not set. In fact, nothing is set. All statements wanting to pull data from `$basket` needs to ternary test for `isset()` defaulting to empty val

[2020-08-05 09:23] Noodleyman commented on #2562
my fix which maintains backwards compatibility.

order.class.php
FIND:
[code]

REPLACE WITH:
[code]

And two changes in orders.index.inc.php
FIND:
[code]

REPLACE WITH:
[code]

FIND:
[code]

REPLACE WITH:
[code]

[2020-08-05 09:46] abrookbanks opened #2565 "CubeCart requires more regular stock checks on checkout"
.. to prevent customers purchasing out of stock items.

If you reduce the stock the basket needs to check on every page load.

[2020-08-05 09:56] #2565 closed, assigned to abrookbanks

[2020-08-05 10:21] abrookbanks commented on #2564
Thanks!! Fixed in 1.3.17.

[2020-08-05 10:21] #2564 closed, assigned to nobody

[2020-08-05 10:32] abrookbanks commented on #2561
Thanks for this. New version released.

[2020-08-05 10:41] havenswift-hosting commented on #2561
Wrong plugin uploaded to AIOS extension page ! https://www.cubecart.com/extensions/shipping-methods/-all-in-one-shipping

[2020-08-05 10:43] abrookbanks commented on #2561
Whoops! Sorted now. Thanks.

[2020-08-05 16:53] bhsmither commented on #2561
Not finding the requested edits as outlined here:
https://forums.cubecart.com/topic/53130-all-in-one-shipping-module-gets-a-custom-name/

(That's your decision, of course.)

[2020-08-05 17:11] abrookbanks commented on #2561
I hadn't realised there were more edits in the thread.... reopened.

[2020-08-06 07:21] abrookbanks commented on #2563
Thanks. Fixed for 1.0.18 release due later.

[2020-08-06 07:22] #2563 closed, assigned to nobody

[2020-08-06 07:28] abrookbanks commented on #2561
Thanks. Added to 1.0.18.

[2020-08-06 07:28] #2561 closed, assigned to nobody

[2020-08-06 09:46] abrookbanks opened #2566 "Product Options - Bugs with mixture of absolute / non absolute option value"
Internal ticket #110084.

[2020-08-06 10:45] abrookbanks commented on #2566
https://github.com/cubecart/v6/commit/1058a06b9690a726555604314f067c3ec8551411 - Fixes total calculations for products with ONE option that is absolute in price.

[2020-08-07 08:23] Noodleyman commented on #2421
@abrookbanks, just revisiting this to double check something.
I know that a delete is now issued, however the upgrade to the version with this change MUST correct the status of all matrix records to avoid deletion of valid data which has an incorrect status.

revisiting this as I'm working on correcting this issue on a large store at the moment as it appears to be the root cause of many weird matr

[2020-08-07 09:27] Noodleyman commented on #2421
FYI, I threw this into products.index.inc.php so I could manually call the fix on demand.  it corrects all the status.

[code]

[2020-08-09 16:45] bhsmither opened #2567 "Code Check: Admin Permissions"
Minor:

Please check the behavior of setting permissions in admin.

For example, in the Read column, check the top four rows.

Then check the All Sections box for the Read column. Note that all section boxes become unchecked.

Uncheck the All Sections box. Note that all section boxes become checked.

With none of the section boxes initially checked, does the All Sections box cause all section boxe

[2020-08-09 22:43] bhsmither opened #2568 "Code Check: Admin->permissions()"
Within this function, there is a call to `$this->getSectionId()`. (no underscore)

There is only `$this->_getSectionId()`. (has underscore)

[2020-08-10 13:52] abrookbanks commented on #2562
Thanks Alec.

[2020-08-10 14:09] abrookbanks commented on #2534
The span does actually get put into the button on successful submit. The then animates ... to deter the customer from clicking more than once. This seems to work.

`label `replaced with `h3` which pads better too.

[2020-08-10 14:09] #2534 closed, assigned to abrookbanks

[2020-08-10 14:13] abrookbanks commented on #2547
You have a keen eye! :) Thanks for this.

[2020-08-10 14:13] #2547 closed, assigned to abrookbanks

[2020-08-11 10:25] abrookbanks commented on #2519
Thanks Brian.

[2020-08-11 10:25] #2519 closed, assigned to abrookbanks

[2020-08-11 10:40] abrookbanks commented on #2521
Thanks for this.

[2020-08-11 10:40] #2521 closed, assigned to abrookbanks

[2020-08-11 10:42] abrookbanks commented on #2492
![Annotation 2020-08-11 114225](https://user-images.githubusercontent.com/4520803/89888353-bd5a2d80-dbc7-11ea-8cec-e4b3334defd2.jpg)

[2020-08-11 10:42] #2492 closed, assigned to nobody

[2020-08-11 14:09] abrookbanks commented on #2463
Thanks!

[2020-08-11 14:09] #2463 closed, assigned to abrookbanks

[2020-08-11 14:19] #2505 closed, assigned to abrookbanks

[2020-08-11 14:36] #2567 closed, assigned to abrookbanks

[2020-08-12 06:47] bhsmither opened #2569 "Link to Open New Window"
On the Import Code Snippets tab, a link is presented to load a sample XML document.

Suggest converting the document to an HTML page and make the HTML **look** like an XML structure, or provide an XML stylesheet that uses the actual XML document.

Also, suggest using the `target="_blank"` attribute of the link to open a new browser window. Or maybe a ColorBox.

[2020-08-12 07:09] bhsmither opened #2570 "HTML error in French Language Pack."
Regarding #2569, the fault lies with the HTML in a language string in the French pack.

See: https://forums.cubecart.com/topic/56227-import-code-snippets/

[2020-08-12 11:32] abrookbanks opened #2571 "Show image in master file manager"
A list of names is not helpful.

[2020-08-12 11:33] abrookbanks commented on #2571
![Annotation 2020-08-12 123315](https://user-images.githubusercontent.com/4520803/90010603-037ec200-dc98-11ea-8dc7-bce6c21e846c.jpg)

[2020-08-12 11:39] havenswift-hosting commented on #2571
That is a great feature request that will make things much better 👍  Wonder how it will work when an admin has 10,000 images in one top level directory lol

Would you be able to take a look at https://github.com/cubecart/v6/issues/2560 and add as well as that combined with this will make image management so much better

[2020-08-12 11:41] abrookbanks commented on #2571
What kind of maniac has 10,000 images in one folder!!! LOL

[2020-08-12 11:43] havenswift-hosting commented on #2571
As you and I both know - quite a few - have seen 150,000 all in top directory lol

[2020-08-12 11:44] abrookbanks commented on #2571
So it sounds like I need to add lazy loading. :)

[2020-08-12 11:46] havenswift-hosting commented on #2571
Would be a very good idea.  In fact it is a great idea throughout the store but especially for categories

[2020-08-12 13:06] abrookbanks commented on #2571
Lazy loading works beautifully. Tested over "Slow 3G" network config in Chrome.

[2020-08-12 13:15] havenswift-hosting commented on #2571
Excellent addition !

[2020-08-12 13:25] abrookbanks commented on #2569
Thanks!! :)

[2020-08-12 13:25] #2569 closed, assigned to abrookbanks

[2020-08-12 14:01] abrookbanks commented on #2570
It looks ok to me.

`<![CDATA[Un exemple d'un flux XML d'importation peuvent être trouvées <a href="docs/examples/code_snippet_import.xml"> ici </ a>. S'il vous plaît utilisez le lien «Aide» pour plus d'informations.]]>`

[2020-08-12 14:06] havenswift-hosting commented on #2570
</ a> is wrong

[2020-08-12 14:07] abrookbanks commented on #2570
Yes. Thanks. Fixed now in 1.0.2.

[2020-08-12 14:07] #2570 closed, assigned to abrookbanks

[2020-08-12 14:36] abrookbanks commented on #2514
It looks like this can be closed. Please let me know if not.

[2020-08-12 14:36] #2514 closed, assigned to nobody

[2020-08-12 15:03] #2491 closed, assigned to abrookbanks

[2020-08-12 15:33] abrookbanks commented on #2568
Good find. Thank you sir.

[2020-08-12 15:33] #2568 closed, assigned to abrookbanks

[2020-08-12 15:37] abrookbanks commented on #2560
I'll see what I can do. Big push for 6.2.10 now....

[2020-08-12 15:42] havenswift-hosting commented on #2560
Would be great if you can to go alongside your other admin image improvement !  Are you going to be able to get memcache issue  fixed for this version as havent even moved many clients to 6.2.9 due to that

[2020-08-12 16:01] abrookbanks opened #2572 "session_save_handler as memecached / memcache has issues"
As above.

[2020-08-12 16:03] abrookbanks commented on #2572
Revert until a reliable fix can be found.

[2020-08-12 16:03] #2572 closed, assigned to abrookbanks

[2020-08-12 16:03] #2527 closed, assigned to abrookbanks

[2020-08-12 16:05] havenswift-hosting commented on #2572
That's one solution lol 👍

[2020-08-12 16:24] bhsmither commented on #2560
A couple technical aspects of the FileTree plugin prevents an easy fix.

As a workaround, this is what I did:
[code]
This displays a list of all the currently assigned images including their filepath.

[2020-08-12 16:38] abrookbanks commented on #2560
@bhsmither I was thinking about a similar approach. The fila tree doesn't load all data unless folders are opened which makes it tricky. I'll see where I can go with this. Thanks gents.

[2020-08-12 16:38] abrookbanks commented on #2572
Ha yeh. I just can't get to the bottom of it so at least this is stable.

[2020-08-12 17:00] abrookbanks commented on #2499
Thanks for the clarification. :)

[2020-08-12 17:00] #2499 closed, assigned to abrookbanks

[2020-08-12 17:05] abrookbanks commented on #2466
This was inadvertently fixed with https://github.com/cubecart/v6/commit/cf2b8f8e0ca0be5d12ab9e23368f21564cd4a8a7

[2020-08-12 17:05] #2466 closed, assigned to abrookbanks

[2020-08-12 21:34] cb2004 commented on #2499
Stepping back into the community after many years here, been a while. Isn't customers changing skin a bit before dinosaurs? I am all for fixing bugs but not maintaining what a large percentage dont use

[2020-08-12 21:39] cb2004 commented on #2571
Without looking too much into this, you know about loading="lazy" on image tags is widely supported now so you could let the browser do the work here, no code to maintain

[2020-08-12 22:05] bhsmither commented on #2499
Please keep in mind the sub-styles are CSS-based.

As such, please be aware that CSS can change **much more** than just a color pallet.

If a website has a small amount of clientele, out of compassion or legal requirement, that should/must be catered to, providing a means for that clientele to choose their preferred skin is incredibly important.

A sub-skin could accomplish: (intelligent) large-pr

[2020-08-12 23:25] cb2004 commented on #2499
I agree that could be a use case, but accessibility wise, desktop software handles this better. I can't remember the last time I visited an ecommerce site that gave me options to change appearance. I can remember the last time I saw something about cookies :)

[2020-08-13 00:36] bhsmither opened #2573 "Separate Scroll on Admin Nav Pane"
When the main content of an admin screen is overly long (see PHP Info), having the admin navigation pane acquire an independent scroll becomes a huge convenience.

See the MySQL Docs site for an example:
https://dev.mysql.com/doc/refman/8.0/en/

[2020-08-13 02:30] bhsmither opened #2574 "Stop Query From Reading Cache"
In `Order->_digitalDelivery()`, a SELECT query is made to `Cubecart_downloads` that could read from the cache.

A possible (probable) previous query (or call to `_digitalDelivery()`) resulted as an element in the empty recordset cache.

Suggest setting to false the parameter to read the cache.

[2020-08-13 05:05] bhsmither opened #2575 "Option Group Description is Customer Facing"
At checkout (and possibly elsewhere), the Option Group Description is displayed to the customer.

I believe the description is for admin use only (and says so on the Help screen), and may contain verbiage not appropriate for where it gets shown.

In content.checkout.medium-up.php, there is:
[code]
Suggest just using `option_name`.

However, if there is a desire to have the group name be plural, su

[2020-08-13 07:01] bhsmither opened #2576 "Unset Targeted Empty Query from Cache"
With respect to #2574, perhaps a means of taking a run through the Cache class to see if a 'no-cache' query just happens to be in the empty recordset cache.

If the no-cache query actually did return something, then obviously it is no longer empty.

Came across this when execution went through a hook that eventually added the pertinent record to the database, but the empty recordset cache id was a

[2020-08-13 08:11] abrookbanks commented on #2571
It is 73% supported which is good enough for me.
https://caniuse.com/#feat=loading-lazy-attr

[2020-08-13 08:23] abrookbanks commented on #2571
In hindsight. This adds complexity in that the image dimensions have to be set and above the fold shouldn't have the tag added. This makes it difficult for the gallery size buttons. Lets keep the JS library for now.

[2020-08-13 08:38] abrookbanks commented on #2574
Thanks!!!!!! :) :) :)

[2020-08-13 08:38] #2574 closed, assigned to abrookbanks

[2020-08-13 09:13] havenswift-hosting commented on #2499
It is functionality that already exists and so any bug found should be fixed.  I agree that there are few cases where I would consider or recommend a user allows visitors to change the skin but the feature is very useful on a developer's demo site when allowing visitors to preview a number of different skins to compare and contrast and also useful to the developers themselves to switch back and fo

[2020-08-13 09:26] Noodleyman commented on #2562
@abrookbanks , this needs to be re-opened. there are additional changes to make to ensure options are added to emails.

[2020-08-13 09:29] abrookbanks commented on #2562
Thanks Alec. Introducing new bugs and quick subsequent releases causes a lot of work.

[2020-08-13 09:35] Noodleyman commented on #2562
Additional change in order,class.php (may not be the only place,I've not checked admin files yet)

FIND:
[code]
REPLACE WITH:
[code]

this adds option content back into emails and backwards compatible.

[2020-08-13 09:38] Noodleyman commented on #2566
@abrookbanks , can you please add some context to this change? which bugs did this ticket target, what was their behaviour? thanks.

[2020-08-13 09:38] abrookbanks commented on #2562
Thanks for that. double `;;` I removed.

[2020-08-13 09:45] abrookbanks commented on #2566
Prior to these changes CubeCart was designed to only have one absolute option group which overrides the main price.

It's been re-coded so you can now have one absolute option group and others too.

**Case:**
Gift Message: (Optional +£5)
Material: Plastic (Absolute Price £20) / Stone (Absolute Price £30)

Before it would force the price to £20 or £30. The gift message price would get ignored.

Sin

[2020-08-13 09:46] abrookbanks commented on #2562
I'll test this today. Thanks again Alec.

[2020-08-13 09:50] Noodleyman commented on #2566
I can see a lot of misconfigured stores running into price issues after upgrading.. might be worth adding a lot of details to this one in the release notes when it's pushed out.  thanks for the details.

[2020-08-13 09:54] abrookbanks commented on #2566
No I don't think that will be the case at all. All existing option configurations will continue to work with this logic.

[2020-08-13 09:55] Noodleyman commented on #2566
for stores where they checked absolute for every option, but only one gets applied (as today). this change would modify the result and give them a different price.

I've seen it misconfigured this way a bunch of times and is what I had in mind with the last comment.

[2020-08-13 09:58] abrookbanks commented on #2566
I see what you are saying. I haven't seen a situation like that before. I can't think of a case a merchant would do that and I certainly haven't come across it before.

[2020-08-13 10:00] Noodleyman commented on #2566
can confirm, it's out there in the wild.  usually where people experimented with the absolute options until they got the price they wanted and just left it alone. those scenarios will now get a higher price based on aggregated absolute options, minus product price.

also note, that in some cases, the base product price will be zero for these kind of configurations. why is it adding up the absolute

[2020-08-13 10:01] abrookbanks commented on #2566
Ok I will add release notes. Thanks for the heads up. I haven't seen such a scenario myself so it may only affect a very small minority or merchants.

[2020-08-13 10:48] abrookbanks commented on #2562
Successful emails. Thanks again Alec.

[2020-08-13 12:56] abrookbanks opened #2577 "Prevent AJAX Cache"
Reports of ajax add t basket returning nothing on "rare" occasions.

[2020-08-13 17:18] #2577 closed, assigned to abrookbanks

[2020-08-13 17:19] abrookbanks opened #2578 "Assign discount code to brand"
As above. It's simple coding that can be very useful.

[2020-08-14 14:34] #2578 closed, assigned to abrookbanks

[2020-08-15 17:00] Chazeo opened #2579 "Admin account username is exposed publicly by social - Youtube on Chrome"
If a user opts to have the browser remember the credentials, the Admin account username is populated to the YouTube field when navigating to Store Settings. It is very likely that someone could miss this by navigating to another tab and saving.
I have replicated this issue on  GChrome/Windows and Mac, Edge (Chrome) - Firefox does not have this behavior.
This is under very specific circumstances an

[2020-08-16 00:35] bhsmither opened #2580 "Code Review: Products/Page Selector Labels"
When having coded the `content.category.php` template to show Traditional Pagination, and that includes the Page Splits drop-down selector, there is no labeling for the customer to know what this selector does.

Suggest: `large-8` for PAGINATION, `large-4` for the selector, and
[code]

[2020-08-17 07:49] abrookbanks commented on #2579
Sorry but I can't see how this is possible.

The login username text field has name="username" id="username".
The YouTube text field has name="config[youtube]" id="youtube".

[2020-08-17 09:37] havenswift-hosting commented on #2579
Using the browser to save usernames and passwords is not good security but of course a lot of people do it.  I have also seen this happen in various places - SMTP auth password on the settings page is overwritten with the wrong saved password but have also seen a similar thing with the social media entry fields although cant remember which ones

[2020-08-17 09:50] abrookbanks commented on #2579
This happens ALL the time even though the field has `autocomplete="off"`.

[2020-08-17 09:52] hairy-dog commented on #2579
No, I don't understand why it happens either, but it does.

I think I went into the database to remove it in the end.

 -- Iain

[2020-08-17 09:53] abrookbanks commented on #2579
I'm going to have to close this unless anyone has any further input as I don't know that there is anything else we can do.

[2020-08-17 09:58] hairy-dog commented on #2579
Closing an unresolved issue is not good practice.

 -- Iain

[2020-08-17 10:00] abrookbanks commented on #2579
@hairydogltd agreed but its an impossible task right? Suggestions please.

[2020-08-17 11:51] Chazeo commented on #2579
Perhaps this is an option? https://stackoverflow.com/questions/55738891/chromes-save-password-functionality-places-a-username-in-an-unrelated-field

[2020-08-17 12:39] abrookbanks commented on #2579
It's a bit of a dirty work around we shouldn't have to do but could work. I'll experiment.

[2020-08-17 14:53] Noodleyman commented on #535
@abrookbanks , this needs to be re-opened. it still happens.

[2020-08-17 14:57] abrookbanks commented on #535
Any steps to reproduce?

[2020-08-17 15:00] Noodleyman commented on #535
It doesn't seem to happen as often as it used to, but for some reason I'm still seeing it happen in the wild. had it happen today on a prominent link on a busy site, which stops the link loading and browser throws a security error as the cert covers the domain, not IP.

[2020-08-17 15:29] abrookbanks commented on #535
Yes I've seen it too. It's a rare beast.

[2020-08-18 07:09] Noodleyman commented on #535
probably just needs a regex to stop IPv6 and IPv4 addresses in URL's being cached, unless an option is enabled in the store settings to keep existing behaviour. I seem to recall a specific customer who uses a IP rather than hostname.

[2020-08-18 07:11] abrookbanks commented on #535
Yes I was thinking the same. :)

[2020-08-18 16:30] bhsmither commented on #2573
It would also be nice to have the row of tabs stick at the top of the screen

[2020-08-18 16:50] Noodleyman commented on #2566
@abrookbanks
why is it adding up the absolute prices and subtracting the base price, instead of just using the aggregated option prices?

Reason for asking, the concerns I had with this approach have already become an issue on a site where we applied the changes in this thread because the base price is making the absolute price £0 for the purposes of promotional codes, so you can't enforce a minim

[2020-08-19 09:58] abrookbanks commented on #2579
That JS code seems to work well. Lets see how it goes in real world testing.

[2020-08-19 09:58] #2579 closed, assigned to abrookbanks

[2020-08-20 05:18] bhsmither commented on #2573
To get the sticky tabs:
[code]
[code]

[2020-08-20 13:48] abrookbanks opened #2581 "Add SendGrid Support"
With so many host with unreliable mail() configurations and blocked outgoing SMTP ports there is a need for an external relay.

[2020-08-20 13:48] abrookbanks commented on #2581
6.1.10 should be 6.2.0.

[2020-08-20 13:49] #2581 closed, assigned to nobody

[2020-08-21 01:54] bhsmither opened #2582 "Rogue HTML Tag"
In `content.checkout.medium-up.php`, near line 27, there is a rogue `<p>` tag.

[2020-08-21 15:44] abrookbanks commented on #2582
rogue!

[2020-08-21 15:44] #2582 closed, assigned to abrookbanks

[2020-08-21 16:07] bhsmither opened #2583 "Code Review: CSRF re: Session Token"
Is it just me, or is it now possible to be working in administration, open more than one order (customer, document, product) - experimented with four orders - each in a separate tab/window, change something, Save it, and still be able to then continue working/saving the rest of the orders in other tabs/windows without having to reload and get a page with the correct security token?

It seems the s

[2020-08-23 04:43] bhsmither commented on #2513
If interested, here are the code edits to add this feature.

settings.giftcertificates.php
[code]
Note the temporary hard-coded language phrases. Need to add to definitions.xml.

settings.giftcertificates.inc.php
[code]
Note the temporary hard-coded language phrases. Need to add to definitions.xml.

cubecart.class.php
[code]

content.certificates.php template
[code]

[2020-08-23 23:06] bhsmither opened #2584 "Certain Store Settings Placement"
On the Store Settings, Stock tab, General Stock Settings section, there are a few settings that might be better placed elsewhere:

"Allow delivery to non-invoice address" to the Features tab, Misc section
"Weight Unit" to General tab, Tax, Language, Currency, and Weight section (a new title)
"Display basket weight on checkout" to Layout Settings tab, Layout Settings section

Just my opinion.

[2020-08-23 23:28] bhsmither opened #2585 "AIOS Javascript Code"
In the module's /skin/admin/index.tpl template, there is some javascript code.

Currently, that code conforms to a style that does not conflict with Smarty parsing.

But, perhaps on the next update, consider wrapping this code in `{literal}{/literal}` Smarty tags.

[2020-08-24 00:21] Dirty-Butter commented on #2571
I have tried this new code in two installs. Both of them show the link to the folder image should be admin/skins/default/images/folder_large.png. But it does NOT find the image because I have renamed the admin file. When I replace the admin with my naming, the folder image shows up.

[2020-08-24 00:29] Dirty-Butter commented on #2581
Is there a way to opt-out of using Sendgrid? Or will CC ignore that code if there is not an API key shown? I tried an install with Sendgrid code included in CC and am having problems. I acquired the Sendgrid API key, but I don't know what else I'm supposed to do other than put the key in the blank.

[2020-08-24 05:48] abrookbanks commented on #2581
That is all you are supposed to do other then domain DNS changes. It's just an alternate way to send email. If your current setup worked ignore it.

[2020-08-24 05:49] abrookbanks commented on #2571
Allow dynanic admin folder.

[2020-08-24 06:58] abrookbanks commented on #2583
Yes the security token no longer changes with each post. The loss of multiple tab/windows for this was too much.

[2020-08-24 06:58] #2583 closed, assigned to nobody

[2020-08-24 11:39] Dirty-Butter commented on #2581
I get this error when I try to change a test order from Pending to Cancelled:
``[<strong>Exception</strong>] /home/butter01/public_html/plushmemories.com/plushtest/classes/sendgrid/lib/SendGrid.php:18 - Too few arguments to function SendGrid::__construct(), 0 passed in /home/butter01/public_html/plushmemories.com/plushtest/classes/mailer.class.php on line 255 and at least 1 expected``

This is on

[2020-08-24 11:55] Dirty-Butter commented on #2581
Also, when I ran the SMTP Test on the test site that has never had any API key added - the screen went blank, as in a crash. BUT I did receive the email notice that an SMTP test had completed successfully.

[2020-08-25 07:15] bhsmither opened #2586 "Code Check: Fetch Default Apps Will Database Bad Data"
In `plugins.index.inc.php`, near line 49, there is:
[code]
The `$file` array has not yet been assigned a value. That assignment occurs two lines later.

Because of this, `CubeCart_extension_info`, `'dir'` column has bad data.

The first iteration of `$default_apps` will have an incomplete path, and the remaining iterations will have a path containing the folder name of the previous iteration.

Com

[2020-08-25 07:30] bhsmither commented on #2586
The `CubeCart_extension_info.dir` is checked when showing the Dashboard.

If the folder does not exist, which it won't because the folder path - for the default apps - is incomplete or wrong, those database records will be deleted, and thus version checking - for the default apps - will forever not happen any more.

[2020-08-25 18:46] bhsmither opened #2587 "Code Review: New $Request, but for What?"
in `plugins.index.inc.php`, at the end of processing a plugin_token, there is a new instantiation of the Request class that has no apparent use.

(Dec 2014, it used to be a `file_get_contents()` confirmation fetched.)

[2020-08-26 20:21] bhsmither opened #2588 "CCHQ Version Check Server Miscalculates Availability"
The following tests show that the data returned seems to be the result of a miscalculation of published date for the latest version.

These tests were made by enabling the Request Log for the Dashboard *version check* and sending various 'modified' values for key 44 (All in One Shipping).
[code]
[code]
The first test is, of course, correct.

The second test says I have a version three years old. N

[2020-08-27 15:23] havenswift-hosting commented on #535
I am also seeing this sometimes and on larger sites it obviously has a much bigger impact - any chance of trying to get a fix into 6.2.10 please ?

[2020-08-28 13:49] havenswift-hosting opened #2589 "Feature request : ability to mark and delete multiple images in one go"
As above - it is a real pain having to delete images one at a time especially as page refresh positions page at top of list each time

[2020-08-29 07:11] abrookbanks opened #2590 "Clear Cache Emphasis"
I think too many new merchants give up on CubeCart early because they don't get the message about clearing the cache. Also categories not showing until a product is assigned.

[2020-09-01 08:42] abrookbanks opened #2591 "System Error Log to show URL"
After having a rouge MySQL error logging the URL will prove very useful.

[2020-09-01 15:18] abrookbanks commented on #2588
A new bug since introducing a better request cache. I believe this is resolved now. The store is cached for an hour so it might not behave until up to an hour after posting this.

[2020-09-01 15:20] abrookbanks commented on #2588
Closing as I could see the issue. The timestamp wasn't correctly taking the latest one but last listed.

[2020-09-01 15:20] #2588 closed, assigned to abrookbanks

[2020-09-01 16:20] bhsmither commented on #2588
If you are referring to CubeCart's Request class `cache` attribute and functionality, it turns out this attribute/function is no longer relevant with respect to administrative processes.

That's because, having set the `Request->status` to true, `Request->send()` uses the Cache class to determine if there exists a cached response for this request.

However, in admin, the Cache class status is fals

[2020-09-01 16:24] abrookbanks commented on #2588
No I was referring to cache at CCHQ for storing latest time stamps of extensions.

[2020-09-02 02:53] bhsmither commented on #2591
Maybe the System Error Log could record the `debug_backtrace()`?

To keep the display clean, put the contents in a (i) bubble that shows a tooltip on hover.

I am going to try:
http://docs.php.net/manual/en/function.debug-backtrace.php#99796

[2020-09-02 07:02] abrookbanks commented on #2591
Here is an example of error log entry I'm struggling to reproduce.

[code]

[2020-09-02 08:00] abrookbanks commented on #2591
What do you think? I had to array shift once to break out of the errorLogger method of the debug class.

![Annotation 2020-09-02 085909](https://user-images.githubusercontent.com/4520803/91955141-a906dd80-ecfa-11ea-805d-760d0d6981fd.jpg)

[2020-09-02 08:04] bhsmither commented on #2591
That would be a manually constructed querystring with having `page=22121121121211` (assuming 48 products per page) from a "search" -- probably getting a list to display the products of a category.

A debug_backtrace would show where the arguments for `getProductData()` are coming from -- probably `getCategoryProducts()`.

The image above is great, but it is indistinct as to what it belongs to -- o

[2020-09-02 08:11] abrookbanks commented on #2591
Thanks Brian!

[2020-09-02 08:13] bhsmither commented on #2591
And we may have to rethink the `create_function()` - deprecated as of PHP7.2.

Try for an anonymous function?

[2020-09-02 08:13] abrookbanks commented on #2591
You are on the ball today.

[2020-09-02 08:43] bhsmither commented on #2591
This is what I am going to try:
[code]

[2020-09-02 08:48] bhsmither commented on #2591
I have noticed in backtraces that ionCube decoded stuff gets listed as *something* with line number 0.

Might cause *some* confusion tracing it out if it's not listed.

[2020-09-02 08:49] abrookbanks commented on #2591
Yes I've come across that too.

[2020-09-02 09:01] #2591 closed, assigned to abrookbanks

[2020-09-02 09:04] abrookbanks commented on #2587
It confirms the install on our end and deletes the token. I don't think we actually need it.

[2020-09-02 09:07] #2587 closed, assigned to abrookbanks

[2020-09-02 13:35] #2586 closed, assigned to abrookbanks

[2020-09-02 14:23] #2590 closed, assigned to abrookbanks

[2020-09-02 16:03] #2589 closed, assigned to abrookbanks

[2020-09-02 16:04] abrookbanks commented on #2589
![Annotation 2020-09-02 170406](https://user-images.githubusercontent.com/4520803/92007828-5222f780-ed3e-11ea-943a-664b5d3265d8.jpg)

[2020-09-03 08:23] abrookbanks opened #2592 "Reduce default system error log & request log capacity"
The system error log in particular can bloat out especially with new back trace. Seven days should be enough for default instead of 30.

[2020-09-03 08:24] #2592 closed, assigned to abrookbanks

[2020-09-03 09:26] abrookbanks opened #2593 "Integrate What3Words"
Checkout process, address book, delivery slip, invoices etc...

Off by default.

More info at https://what3words.com

[2020-09-03 09:57] abrookbanks commented on #2585
Same with the script tag at the bottom.

[2020-09-03 10:04] abrookbanks commented on #2585
AllInOneShipping-1.0.19.zip available

[2020-09-03 10:04] #2585 closed, assigned to abrookbanks

[2020-09-03 14:36] #2580 closed, assigned to abrookbanks

[2020-09-03 14:36] abrookbanks commented on #2580
Thanks.

[2020-09-03 16:49] abrookbanks commented on #2546
Thanks. I took the safest option.

[2020-09-03 16:49] #2546 closed, assigned to abrookbanks

[2020-09-03 21:11] bhsmither commented on #2591
If there will be some guidance put on a wiki help page for the debug_backtrace, be sure to mention that the trace shown is only of limited use. Calls to functions no longer mentioned on the stack (*e.g.*., hooks) might very well be the culprit.

[2020-09-04 19:13] Dirty-Butter commented on #2581
Sendgrid code now works when I do not input the API key. Emails are sent as they should be with no error messages or crashes.
And the email test does not crash now. BUT the CC message after testing says
 "Testing SMTP with SSL - Success
Test failed to execute."
I assume that second line is for the Sendgrid not in use, but it would help if it actually said "Sendgrid Test failed to execute". If that

[2020-09-05 12:12] Dirty-Butter commented on #2581
SORRY - NOT RESOLVED for me. I was able to send an email via Contact link and it worked correctly, but when we had a live order using the newest commit the automatic emails that should have been sent to the customer after sale was completed may not have processed correctly. The email log showed them as sent, but I did not get a copy of the sent email as I normally do. SO I have again removed all r

[2020-09-08 08:03] abrookbanks commented on #2581
It works flawlessly for me. Did you setup all the DNS steps at sendgrid?

[2020-09-08 10:16] abrookbanks opened #2594 "public_html/classes/gd.class.php:118 - Call to undefined function imagecreatefromwebp"
Check the function exists.

[2020-09-08 12:31] Dirty-Butter commented on #2581
I did not finish the Sendgrid setup on their site. I did NOT add the Sendgrid API Key - I was trying to get all the new CC, including the Sendgrid option code, to work without actually using Sendgrid at all. I really don't need Sendgrid as far as I can tell. Havenswift's SMTP works just fine.
Please try removing just the Sendgrid API key from your Advanced settings, with all previous SMTP info in

[2020-09-08 13:57] havenswift-hosting commented on #2571
Just wondering if you need an extra check when deleting a folder if it contains images or at least change the popup message that "You are about to delete a folder that contains xxx images"

[2020-09-08 14:00] abrookbanks commented on #2571
I'll check thanks.

[2020-09-08 18:51] havenswift-hosting commented on #2571
Also during my testing, I am unable to click into any sub-folder and view images within that folder

[2020-09-08 22:39] Dirty-Butter commented on #2439
I have also noticed the outlier from normal incremental numbering if the customer uses a coupon.

[2020-09-09 11:13] #2594 closed, assigned to abrookbanks

[2020-09-10 03:36] bhsmither opened #2595 "Database Where with REGEXP"
Feature Request:

Add the ability to have a REGEXP matching on the Database `where()` method.
[code]

[2020-09-10 04:09] bhsmither commented on #2595
Also:
[code]
This would require:
[code]

[2020-09-10 06:23] bhsmither opened #2596 "Database Select DISTINCT"
When passing in an array of columns, currently, only one element can have the key "DISTINCT" and it must be the first. That is because DISTINCT is a modifier on the SELECT keyword, and not part of an expression (column name, etc).

When working through `$columns`, a `$field` having the `$key` of "DISTINCT" is also added to `$group_by`.

This creates a limitation where a query cannot be constructed

[2020-09-10 08:30] #2595 closed, assigned to nobody

[2020-09-10 08:33] abrookbanks commented on #2571
I can't reproduce that.

[2020-09-10 08:41] #2571 closed, assigned to abrookbanks

[2020-09-10 09:37] havenswift-hosting commented on #2571
I have download and replaced all files changed as a result of this and also https://github.com/cubecart/v6/issues/2589 and still have problems.  Is there some sort of caching for these changes - several of the recent changes (including the last one about folder being deleted) arent reflected in the file being download so that could be the cause.  When are you intending to release 6.2.10 ?

[2020-09-10 12:41] abrookbanks commented on #2573
The sticky tab control looked like this with that code.
![Screenshot 2020-09-10 134043](https://user-images.githubusercontent.com/4520803/92730179-4d2bfc80-f36b-11ea-8be5-df34e6f944f3.jpg)

[2020-09-10 12:50] havenswift-hosting opened #2597 "Add error log notification tab to dashboard"
It would be very useful to have this added if there are new / unread errors in the log - most users never go into this option as there is no indication that there are new errors

[2020-09-10 14:13] abrookbanks opened #2598 "order::validOrderId should always validate true to traditional"

[2020-09-10 14:15] abrookbanks commented on #2598
This helps with backward compatibility for older skins.

[2020-09-10 15:00] #2598 closed, assigned to abrookbanks

[2020-09-10 15:02] havenswift-hosting opened #2599 "Add search facility to images / image assignment"
Building on the fantastic improvements with the image gallery, what would also really help would be search functionality when in the images option and also within the product image assignment option to be able to look for and narrow down the list of images containing a word or phrase

[2020-09-10 16:04] havenswift-hosting opened #2600 "Feature request : Add ability to use ElasticSearch"
Search is one of the poorer areas in CubeCart but implementing ElasticSearch would dramatically improve usability, speed and accuracy of responses and also take a lot of strain off of the MySQL server engine.

It would probably need to be implemented as an option to the current search functionality as not all hosting companies would install it locally on the server although an additional option to

[2020-09-10 16:30] abrookbanks opened #2601 "Feature required to search file manager for images and digital files"

[2020-09-10 16:33] abrookbanks commented on #2601
![Screenshot 2020-09-10 173250](https://user-images.githubusercontent.com/4520803/92763651-aa37aa80-f38b-11ea-999b-d34883c0d843.jpg)

[2020-09-10 16:33] abrookbanks commented on #2601
Clicking the search result will open the folder.

[2020-09-10 16:34] havenswift-hosting commented on #2601
Another fantastic feature added - thanks Al 👍

[2020-09-10 16:41] havenswift-hosting commented on #2601
Would it be possible to add this search functionality also to the Image tab when editing products ? That way a search can be done for suitable images already uploaded and then one or more can be assigned to the image

[2020-09-10 16:42] abrookbanks commented on #2601
Yes very easily.

[2020-09-10 16:43] abrookbanks commented on #2601
maybe even to list the assigned ones.. I'll have a poke tomorrow

[2020-09-10 17:19] bhsmither commented on #2573
I am experimenting on why your Google Chart is not hiding its overflow that is obscuring the Nav pane. Either not hiding it, or the Chart is badly positioned and scaled too large.

For example: where are your Quick Tasks? The "WARNING" (no Close button) and "Dashboard" line up and are flush against the Nav pane.

I think there may be an additional or missing `</div>` tag somewhere messing with `#c

[2020-09-10 18:28] havenswift-hosting commented on #2601
Now that would be even better ! Updating and testing as you release so bring it on !

[2020-09-10 23:54] bhsmither commented on #2573
In my Firefox, I can make changes to the CSS and HTML against the page being displayed. I did this on the CubeCart Demo site.

On the Demo site, I've discovered that once the new line following `<div id="content">` is added, switching panels via clicking on the tabs is no longer possible. I do not yet know why.

On my dev site, when I use the Developer Tools to *remove* the extra line and style fr

[2020-09-11 09:16] abrookbanks commented on #2601
![Screenshot 2020-09-11 101536](https://user-images.githubusercontent.com/4520803/92900725-d567db80-f417-11ea-83f7-0497ca00f039.jpg)

[2020-09-11 09:31] havenswift-hosting commented on #2601
Having the search results on a separate screen works well and being able to select one from the list is good but would it be better and easier to use if instead of that it instead only displayed the images matching the search results ?  This way the images can be seen and one or more chosen (especially when adding images to a product)

[2020-09-11 09:55] havenswift-hosting opened #2602 "ZenDesk Chat plugin"
In the recent version, the chat window will open on each page load even after being minimised - very annoying for users on the website

[2020-09-11 12:15] Dirty-Butter commented on #2600
I have been using search code Bsmither devised for our store some years ago, as I require an AND, not an OR type search for our products where order of terms does not change the results. I would not have been able to continue using CubeCart if I had no option other than to use stock CC search code. I look forward to seeing this implemented as an option.

[2020-09-11 14:12] abrookbanks commented on #2602
The recent version just allows you to paste the code in provided by ZenDesk. I don't see what we can do?

Can the code be changed?

[2020-09-11 14:53] abrookbanks commented on #2599
Duplicate of https://github.com/cubecart/v6/issues/2599. I hadn't seen this.

[2020-09-11 14:53] #2599 closed, assigned to abrookbanks

[2020-09-14 04:06] harris-organic commented on #1362
Thanks, All good now.

[2020-09-14 04:58] harris-organic opened #2603 "Gift Cards and Contact Page - SEO - 6.2.9"
Gift Cards and Contact Page - SEO
Both Gift Cards and Contact Page have no option to change the title, Custom SEO URL Path and meta description.

The Gift Cards and Contact Page have the same default title, and meta description in 6.2.9, ie /gift-certificates.html and contact-us.html

Also adding a content page for the gift cards and H1, H2 tags would be pleasing .

[2020-09-14 10:11] #2562 closed, assigned to abrookbanks

[2020-09-14 10:24] abrookbanks commented on #2566
Reopened. Logic should be changed to detect multiple absolute option groups then fall back to old if > 1. We are then fully backward compatible.

[2020-09-14 14:08] abrookbanks commented on #2566
I've spent hours on this but the biggest issue seems to be UX.

I can't think of a real world example where you would want more than one option group with absolute price. Assuming we do then they would need to add up like normal options removing the main product price once? I'm so confused.

Or would it put the price as the absolute amount for whichever one is selected. On those grounds it shouldn

[2020-09-15 15:51] Dirty-Butter commented on #2597
A very long time ago CC had that tab if I remember correctly. I would love to see this, as it's too easy to have an issue go unseen for ages.

[2020-09-16 00:18] pmycroft opened #2604 "Cache files on server"
Hello all,

We are using the latest version of CubeCart and have discovered that thousands of cache files are being saved in the /cache/ directory on the server, filling it up and costing us server space.

Are they needed and can they be stopped and removed?

TIA.

[2020-09-16 23:42] bhsmither commented on #2604
We know this happens, but in your case, do you think this might be a bug?

If not, we can discuss it on the forums.

[2020-09-17 00:06] pmycroft commented on #2604
Hi Brian,

Sorry, but I do not know if this is a bug or not. I see thousands of cache files in that directory and don't know where they are coming from or why.

![Screen Shot 2020-09-15 at 4 49 01 PM](https://user-images.githubusercontent.com/22687467/93404428-004e9700-f83f-11ea-8b6d-7f3f2bcb5ee5.png)

What do you think? TIA.

[2020-09-17 04:13] bhsmither commented on #2604
Let's discuss this in the forums.

You might also want to read:
https://forums.cubecart.com/topic/54222-inodes-limit-exceded/
and read the Github issues 2026 and 2051.

[2020-09-17 08:45] abrookbanks commented on #2604
I'm not sure what we can do. There could be a bug or permission issue causing it not to clear. How big is the actual folder in megabytes? Also how much do you pay for hosting (don't answer this)?

Bear in mind that budget hosting companies impose certain resource limits to up-sell more expensive packages.

It would be better to use a memory based cache such as Memcached. More info here: https://su

[2020-09-17 08:47] abrookbanks commented on #2602
I have to close this because the latest release gives full control over the invocation code.

[2020-09-17 08:47] #2602 closed, assigned to nobody

[2020-09-17 08:48] abrookbanks commented on #2597
It did. Since then the error reporting level is more sensible so maybe we can add it back.

[2020-09-17 09:20] abrookbanks commented on #2597
Error types explained.

![Screenshot 2020-09-17 102005](https://user-images.githubusercontent.com/4520803/93451654-5f5bec80-f8cf-11ea-9a4d-da4a3f54e00b.jpg)

[2020-09-17 09:21] abrookbanks commented on #2597
Dash tab reinstated

![Screenshot 2020-09-17 102107](https://user-images.githubusercontent.com/4520803/93451768-84505f80-f8cf-11ea-84fa-1908a42b795f.jpg)

[2020-09-17 11:06] havenswift-hosting commented on #2593
Decided to put it into 6.2.10 rather than 6.3 then ?!

[2020-09-17 11:12] abrookbanks commented on #2593
Branches are all messed up. We are skipping the 6.3 branch so it will be 6.4.

[2020-09-17 11:24] havenswift-hosting commented on #2593
So you arent going for 6.2.10 then and going straight to 6.4 ?  Any chance of Elastic Search being included ?  I have it installed and working on one server already so can do extensive testing when added

[2020-09-17 11:24] havenswift-hosting commented on #2593
Will be testing the W3W integration for you shortly as well

[2020-09-17 14:53] havenswift-hosting commented on #2593
You have hard coded text "what3words address (optional)" in several different skin files

[2020-09-17 15:01] abrookbanks commented on #2593
well spotted

[2020-09-17 16:52] havenswift-hosting commented on #2601
As reported by Rosemary (somewhere), I am also seeing this error reported

[<strong>Deprecated</strong>] /home/XXXXXXXX/public_html/classes/ajax.class.php:55 - Non-static method Ajax::fmSearch() should not be called statically
https://domain.com/admin_AbCdEf.php?_g=xml&function=fmSearch

[2020-09-17 17:30] havenswift-hosting commented on #2593
And some other hard coded wording on the admin side as well

[2020-09-17 18:12] pmycroft commented on #2604
Thanks Al.

I read that thread and will pass on the info to my developer as I am unsure how to do this work and what issues it may cause.

[2020-09-17 18:13] abrookbanks commented on #2604
Best of luck. Please do post back if you find any issues.

[2020-09-18 06:52] abrookbanks commented on #2601
Are you sure it wasn't logged before latest code? I can't reproduce it and I remember change the code to fix that issue during dev.

[2020-09-18 06:59] abrookbanks commented on #2593
Thanks. I will leave this open until I get feedback from the W3W team.

[2020-09-18 13:11] havenswift-hosting commented on #2601
I am running latest code as of yesterday evening and I can reproduce it - can provide access to site if you want to look ?

[2020-09-18 16:48] claudia39 commented on #2275
Is it ok to implement this now?  I have customers I don't want to send emails too

[2020-09-18 22:24] bhsmither opened #2605 "Debug Queries Cached Status to be Tweaked"
If caching has been disabled, the Queries section of the debug output still shows that queries were written to the cache.

In mysqli.class.php, near line 237, find:
[code]
We will write the query to the cache - which will succeed or fail - the result of the attempt is ignored. One reason writing to the cache will fail is if caching has been disabled.

We then use `_sqlDebug()` to give a message to

[2020-09-19 08:17] DACS21mm opened #2606 "Can't complete payment of a Pending Order"
I have set the stock to reduce when an order is placed - Order goes to Pending.

If a customer orders an item which has only 1 left in stock, when the order is made the stock goes to 0 (as expected).

When the customer logs back into that order and selects Make Payment The result is the Out of stock message, so can't complete the order. (although the item is reserved to that order). CC appears to

[2020-09-19 16:29] bhsmither opened #2607 "Invalid Parameter for preg_match()"
In `Order->validOrderID()`, a `preg_match` pattern uses a dash.

This dash is an actual dash and not a range identifier. So, the dash must either be:
--the first character in the collection, or
--escaped

[2020-09-21 11:09] abrookbanks commented on #2607
It seems to work fine as it is at https://regex101.com. What do you suggest?
![Screenshot 2020-09-21 120742](https://user-images.githubusercontent.com/4520803/93759982-1bd0ed80-fc03-11ea-909d-a23ed772b7a4.jpg)

[2020-09-21 11:11] abrookbanks commented on #2606
The text "Make Payment" is strictly speaking "Re-order".

I'd suggest changing the store reduction time to "Processing".

[2020-09-21 11:31] havenswift-hosting commented on #2606
So if an order is at Pending status and a customer tries to "Complete Payment" it is actually trying to create a new order ?

If so, the wording is completely wrong and something like "Create new matching order" should be used instead although even this would be very clunky, confusing and poor UX - why would they want to re-order when they have already placed an order which they simply now want to

[2020-09-21 11:37] DACS21mm commented on #2606
Not sure I understand. The customer has the ability to finish the payment, but that is causing the issue.
Don't feel that Pending is a Re-Order state, the item is available in the basket and as such Make Payment should 'Work'
By store seduction time I assume you are referring to 'Reduce Stock Levels' in store settings - set to 'When the order is complete'
We are dealing with many single items for

[2020-09-21 11:43] havenswift-hosting commented on #2606
No we are both saying it generally works better to set that to "When the order is Processing" ie paid for

However, with your situation when selling a lot of single items, it makes sense to have it set to "When order at Pending" BUT you have to ALSO change the setting to Cancel Pending orders to a very short time period (I would say approx 20 to 30 minutes) so that the item of stock being reserved

[2020-09-21 11:45] havenswift-hosting commented on #2606
However, in your example, a customer returning back to pay for a Pending order where he has reserved the one item of stock still isnt able to make payment which I believe is a bug

[2020-09-21 12:00] DACS21mm commented on #2606
Given the nature of our ‘shop’ it makes sense to set stock levels at the time of order - so we do need the customers ‘Make Payment’ button work

Regards

Dave Ashton
________________________________
From: Havenswift Hosting <notifications@github.com>
Sent: Monday, September 21, 2020 12:44:09 PM
To: cubecart/v6 <v6@noreply.github.com>
Cc: DACS21mm <dave.ashton@outlook.com>; Author <author@noreply.g

[2020-09-21 12:04] havenswift-hosting commented on #2606
Agreed

[2020-09-21 13:35] abrookbanks commented on #2605
Thanks, that's a great find.

[2020-09-21 13:35] #2605 closed, assigned to abrookbanks

[2020-09-21 14:13] abrookbanks opened #2608 "Option to delete product images with delete"

[2020-09-21 14:13] #2608 closed, assigned to abrookbanks

[2020-09-21 15:41] havenswift-hosting commented on #2204
Duplicate of https://github.com/cubecart/v6/issues/2020

[2020-09-21 16:42] bhsmither commented on #2607
Sorry, please test the second preg_match: `preg_match('/[\w-\_]/', $order_id)`

[2020-09-21 16:50] bhsmither commented on #2607
And there should be a `+` after the collection. Otherwise, the pattern represents just one character (of several).

[2020-09-21 16:59] bhsmither commented on #2607
I tested this at regex101 and it passed.

However, this bug report discusses why this is so:
https://github.com/firasdib/Regex101/issues/1072
It is an issue with PCRE vs. PCRE2.

This page:
https://www.regular-expressions.info/charclass.html
has a summary:
"The hyphen can be included right after the opening bracket, or right before the closing bracket, or right after the negating caret. Both `[-x]

[2020-09-21 17:21] bhsmither commented on #2607
Suggest: `preg_match('/[-\w\_]+/', $order_id)`
Although, the `underscore` is included in `\w`.

[2020-09-22 07:54] abrookbanks commented on #2571
I just can't reproduce this issue. http://static.cubecart.com/issue-2571-ajax.mp4

[2020-09-22 07:59] havenswift-hosting commented on #2571
Can grant access to a store where I can reproduce this easily - ping me on WA if you want details

[2020-09-22 08:17] havenswift-hosting commented on #2571
You might want to move this from the bottom to the top (or maybe better to have it in both locations)

[2020-09-22 09:00] abrookbanks commented on #2601
Preview in popup.
![Screenshot 2020-09-22 095919](https://user-images.githubusercontent.com/4520803/93862727-65304400-fcba-11ea-87d2-0cfc08fe0951.jpg)

[2020-09-22 09:02] abrookbanks commented on #2601
Excuse the family snaps. This was over ten years ago in New Zealand. I'm a fat middle aged dad now.

[2020-09-22 09:07] abrookbanks commented on #2571
I hope you liked the music! I hadn't mean to keep the sound on. :laughing:

[2020-09-22 09:09] havenswift-hosting commented on #2571
I had mine muted when I first looked but had to go back and check after your comment lol Cant say it is my taste lol

[2020-09-22 09:14] abrookbanks commented on #2571
Ha nor me really.  Spotify has a mind of its own.

[2020-09-22 09:38] abrookbanks commented on #2566
Closing. I just can't see a reason to have more than one absolute group.

[2020-09-22 09:38] #2566 closed, assigned to abrookbanks

[2020-09-22 09:40] DACS21mm commented on #2606
I am still hopeful of a solution to what I feel is a 'bug' in the cubecart system. Our shop is dealing with ONLY single item products, and as such we need to be able to allocate the stock to a customer at order time, NOT on payment. Simply, this does give us the opportunity to discuss with a potential buyer issues of Postage, Shipment etc which may fall out of the automated methods we have created

[2020-09-22 09:47] abrookbanks opened #2609 "Broadcast product count to category navigation"

[2020-09-22 09:47] #2609 closed, assigned to abrookbanks

[2020-09-22 09:55] Noodleyman commented on #2566
can you chance the option checkbox to a radio button so it would only ever allow one to be selected?

[2020-09-22 10:17] abrookbanks commented on #535
I'm pretty confident this will finally resolve this one.

[2020-09-22 10:17] #535 closed

[2020-09-22 10:21] abrookbanks commented on #2593
Signed off.

[2020-09-22 10:24] abrookbanks commented on #2566
Sadly not because there will be more than one. Hmmm.. Good idea though. Let me have a ponder.

![Screenshot 2020-09-22 112401](https://user-images.githubusercontent.com/4520803/93871221-315b1b80-fcc6-11ea-8c68-0f7726690225.jpg)

[2020-09-22 10:42] hairy-dog commented on #2606
It feels to me as if a real-world requirement has led to modifying how the software is being used, and the imposed solution simply doesn't work with the existing functional design. So changes are being requested. This really isn't the correct approach. We should be going back to the details of the use case and seeing if there is a better way to do it. Unique products that are sold as one-offs are

[2020-09-22 10:44] hairy-dog commented on #2606
"decided not" should read "don't"

[2020-09-22 10:44] abrookbanks commented on #2606
... to edit :)

[2020-09-22 10:52] abrookbanks commented on #2607
Thanks Brian.

[2020-09-22 10:52] #2607 closed, assigned to nobody

[2020-09-22 11:02] havenswift-hosting commented on #2606
I think the OP and myself understand the problem very well and can replicate it in a real world situation. Al and myself have offered ideas for settings changes that will help the situation but this doesnt solve the problem entirely and therefore it is perfectly valid to request that changes are made that prevent the software working correctly in this situation !

[2020-09-22 12:26] abrookbanks commented on #2606
Yes it needs to just take payment. Regrettably the payment screen is a big part of the checkout with basket so it's not straightforward.

[2020-09-22 13:40] abrookbanks commented on #1164
*** TESTING REQUIRED ***

[2020-09-24 08:58] #2601 closed, assigned to abrookbanks

[2020-09-24 09:02] havenswift-hosting commented on #2601
Can this not also be added please ?

[2020-09-24 09:04] abrookbanks commented on #2601
It has been.

[2020-09-25 10:55] abrookbanks commented on #2465
This breaks setup.

[2020-09-25 10:56] #2465 closed, assigned to abrookbanks

[2020-09-28 08:40] abrookbanks commented on #2604
Can you try setting up a nightly cron to keep the folder empty?

e.g. `rm -rf /path/to/home/user/public_html/cache/*`

[2020-09-28 08:41] abrookbanks commented on #2604
I'm going to close this as I just don't think there is anything we can do. It has to be a permission issue at server level. I highly recommend using a memory cache instead of file.

[2020-09-28 08:41] #2604 closed, assigned to nobody

[2020-09-28 09:03] abrookbanks opened #2610 "CSS: White foundation buttons should be transparent"
This means if the background colour changes they won't show white.

![Screenshot 2020-09-28 100250](https://user-images.githubusercontent.com/4520803/94412513-c69c5b00-0171-11eb-8765-e3e2152d14b6.jpg)

[2020-09-28 09:04] #2610 closed, assigned to abrookbanks

[2020-09-28 15:28] pmycroft commented on #2604
Hi Al, thanks for trying.

I am now seeing an error on https://www.biggamesportscards.com/, could this be related?

 Warning: Cache data not written. in /homepages/16/d283680407/htdocs/cubecart4/classes/cache/file.class.php on line 262

How can I find a CubeCart dev to help me here and with that cron setup? Thanks.

[2020-09-28 15:35] abrookbanks commented on #2604
We have [support ](https://www.cubecart.com/technical-support)available if you need us.

[2020-09-28 15:39] pmycroft commented on #2604
Thanks for replying so quickly, Al. It seems that the server @ 1and1 has filled up again with those cache files so I will need help setting up the memory-based cache.

Does Option 1: $60.00 monthly + $70.00 setup, include the time involved to fix the problem?

TIA!

[2020-09-28 16:00] abrookbanks commented on #2604
Yes indeed. If we can't sort it we will refund you.

[2020-09-28 16:02] pmycroft commented on #2604
Okay, I am having a call with the client today so will let you know as soon as I can.

Thanks.

[2020-09-28 16:06] abrookbanks opened #2611 "Allow streaming of digital media after purchase"
Many merchants sell video and audio. To be able to stream the media in browser instead of forced download is useful especially in the case of a large movie file to watch as it downloads.

[2020-09-28 16:45] abrookbanks opened #2612 "3rd parameter with _a is removed"
e.g.
https://demo.cubecart.com/cc6/index.php?_a=value1&b=value2&c=value3

Redirects to:
https://demo.cubecart.com/cc6/index.php?_a=value1&b=value2

[2020-09-28 17:49] pmycroft commented on #2604
The client has approved the year contract so I will set that up for $600 now.

[2020-09-28 19:03] bhsmither commented on #2612
Can you please elaborate on what action `_a` is doing?

[2020-09-28 19:07] abrookbanks commented on #2612
The download URL from the email for digital downloads is in the format.

?_a=download&accesskey=xxx

I wanted to add a parameter.

e.g. ?_a=download&accesskey=xxx&stream=1

It redirects back to;
?_a=download&accesskey=xxx

At this moment in time I have no idea where or why but I'd guess it's something in the SEO class.

Maybe something to do with seoable method. I'll have a deeper look when I'm ba

[2020-09-28 21:10] bhsmither commented on #2612
Not finding it in CC629.

If `FileManager->deliverDownload()` does not error, CC exits with the browser staying on the downloads page, or a blank page if having clicked on the link in an email.

If it does error, I get taken to the customer's downloads page or the login page. Adding and keeping a third parameter is irrelevant.

Must be in some new code of yours because my trying the online demo do

[2020-09-28 21:35] bhsmither commented on #2612
Found it.

In `SEO->__construct()`, there is this:
[code]
The URL is having `$match[6]` appended with a question mark.  Then `httpredir` is mangling that.

The key fault (IMO) is that the URL matches the `PCRE_REQUEST_URI`, but `$match[2]` cannot be found in `$this->ignore`. The `_a=download` URL **must** be found in that array.

Suggest adding to the array `private $_ignored` the value `'download

[2020-09-28 22:48] bhsmither opened #2613 "Code Review: Testing Array Element"
Trivial Notice:
SEO class, line 131, there is this:
[code]
The `preg_match()` will return `$match[6]` but it could be empty. Thus, when PHP tests `isset()` with it being true, will then test against `$match[6][0]` which will cause PHP to issue:
[code]
Knowing that `$match[6]` will be set, suggest:
[code]

[2020-09-29 07:18] abrookbanks commented on #2612
Thanks. You have saved me a lot of time.

[2020-09-29 07:18] #2612 closed, assigned to abrookbanks

[2020-09-29 07:24] abrookbanks commented on #2613
Thanks again!! :)

[2020-09-29 07:24] #2613 closed, assigned to abrookbanks

[2020-09-29 08:49] abrookbanks commented on #2611
![Screenshot 2020-09-29 094937](https://user-images.githubusercontent.com/4520803/94535152-1e51c980-0239-11eb-85a1-bdd8272a4fbb.jpg)

[2020-09-29 11:57] abrookbanks opened #2614 "PDF Digital Files should load inline"
As above. They should not be forced downloads.

[2020-09-29 11:59] #2614 closed, assigned to abrookbanks

[2020-09-29 12:37] #2611 closed, assigned to abrookbanks

[2020-09-29 15:28] abrookbanks opened #2615 "Mimetype icons for digital file manager items are sparse"
As above. Many common types just fall to a generic icon.

[2020-09-29 15:49] abrookbanks commented on #2615
More work to do...

![Screenshot 2020-09-29 164919](https://user-images.githubusercontent.com/4520803/94582067-bbc9ef00-0273-11eb-938d-625a770870ae.jpg)

[2020-09-30 08:39] abrookbanks commented on #2604
The cache folder has been cleaned out and a cron setup to pull;

`https://www.example.com/index.php?debug-cache-clear=true`

This issue is being monitored.

[2020-09-30 09:36] abrookbanks opened #2616 "6.4.0 - Admin login only works with SSL enabled."
This could be a local issue with WSL/Ubuntu on Windows 10 but investigation needed. Could relate to https://github.com/cubecart/v6/issues/2556.

[2020-09-30 11:00] #2615 closed, assigned to abrookbanks

[2020-10-01 08:49] abrookbanks commented on #2616
Other areas also need changes around SSL.

[2020-10-01 08:54] abrookbanks commented on #2616
All seems resolved.

[2020-10-01 08:54] #2616 closed, assigned to abrookbanks

[2020-10-01 12:55] abrookbanks commented on #1164
This seems to be working really well. No faults found.

[2020-10-01 12:55] #1164 closed

[2020-10-02 07:38] #2575 closed, assigned to abrookbanks

[2020-10-02 07:45] abrookbanks commented on #2584
I agree Brian. Thanks for this.

[2020-10-02 07:45] #2584 closed, assigned to abrookbanks

[2020-10-02 08:37] #2573 closed, assigned to nobody

[2020-10-02 08:59] abrookbanks commented on #2560
With the file manager updates this really should go into 6.4.

[2020-10-02 09:16] abrookbanks commented on #2560
Progress so far. I will try to make it dynamic (linked to the file tree status).

![Screenshot 2020-10-02 101510](https://user-images.githubusercontent.com/4520803/94907547-3ecb8f00-0498-11eb-8c2a-9a88d26ddb24.jpg)

[2020-10-02 12:36] abrookbanks commented on #2560
This is a significant improvement!

[2020-10-02 12:36] #2560 closed, assigned to abrookbanks

[2020-10-02 12:56] #1671 closed

[2020-10-02 12:56] #2097 closed, assigned to abrookbanks

[2020-10-03 14:03] Dirty-Butter commented on #2560
I'm not sure which change this goes with, but I would suggest the default font size needs to be larger for the folder names in Filemanager and possibly black color.
.fm-item > a so tiny below the folder that I could barely read it - and pale blue makes it even more difficult to read.

[2020-10-07 07:49] abrookbanks opened #2617 "Sales reports for individual items"

[2020-10-07 07:49] #2617 closed, assigned to nobody

[2020-10-07 08:51] havenswift-hosting opened #2618 "Password reset request should be recorded in Email Log"
As above

[2020-10-08 09:49] abrookbanks commented on #2618
Should or shouldn't?

[2020-10-08 09:52] havenswift-hosting commented on #2618
It doesnt appear to be currently (though havent checked code !) and should be

[2020-10-08 09:58] abrookbanks commented on #2618
It does.

![Screenshot 2020-10-08 105618](https://user-images.githubusercontent.com/4520803/95443944-20acd580-0955-11eb-9647-89a2ddbd89dc.jpg)
![Screenshot 2020-10-08 105602](https://user-images.githubusercontent.com/4520803/95443946-21456c00-0955-11eb-9b34-8a355dcf08d7.jpg)

[2020-10-08 10:59] #2618 closed, assigned to abrookbanks

[2020-10-08 17:50] bhsmither opened #2619 "SendNewsletter Logged Result Optimistic"
In `Newsletter->sendNewsletter()`, a message gets logged that the (Test)Newsletter was sent before the Mailer actually sends it.

Suggest the code in the `if()` tests, near lines 130 and 149, use the result of the `sendMail()` to determine if the (test)newsletter actually got sent, and log an appropriate message.

[2020-10-08 18:43] bhsmither opened #2620 "Code Check: REGEX"
A number of statements use this:
[code]
to remove all occurrences of unwanted characters.

In my opinion, this is faulty in that only the _first_ unwanted character is removed.

Suggest experimenting with:
[code]
The result at regex101.com gives a result of nine periods.

However, when adding the /g 'global' flag, all unwanted characters are removed.

[2020-10-09 00:51] bhsmither commented on #2620
Never mind.

PHP does not use the /g modifier. (I am removing regex101.com from my browser's bookmark toolbar!)

[2020-10-09 02:18] channan88 opened #2621 "Customers cannot register"
I have read all the previous posts about customers not being able to register but none of those fixes worked for me. I'm running the latest 6.2.9. Essentially, once a customer fills out the register form and clicks register, the page reloads but nothing actually happens. From then, the shop is essentially broken and you cannot add anything to the basket. I have tried restoring current version, rem

[2020-10-09 06:43] working-name commented on #2620
https://3v4l.org/NM0hl

Think of it as `/g`: `$limit = -1`, whereas no global flag is `$limit =1`. That's how php chose to implement that.

[2020-10-11 16:50] bhsmither opened #2622 "Code Check: Manufacturer Query Component"
In `Catalogue->searchCatalogue()`, near line 1797, a string is being added to the `$where` array.

However, unlike everywhere else, this statement does not include a needed SQL keyword -- probably `AND`.

Without this, a malformed query results when search parameters include a selected manufacturer.

[2020-10-11 20:06] Dirty-Butter commented on #2622
This code change worked for me on 6.2.9 AND it also worked on the current commit of 6.4.0

https://forums.cubecart.com/topic/54048-php-725/?do=findComment&comment=244302

[2020-10-11 20:11] Dirty-Butter commented on #2622
https://forums.cubecart.com/topic/54048-php-725/?do=findComment&comment=244302

This has fixed the manufacturer search not only in 6.2.9 but also the current commit of 6.4.0

[2020-10-12 11:32] abrookbanks commented on #2620
Thanks guys. Sounds like this can be closed. :)

[2020-10-12 11:32] #2620 closed, assigned to nobody

[2020-10-12 11:33] abrookbanks commented on #2621
Please open a support ticket or seek assistance on our forums. This  is not reproducible and needs to be investigated in your hosting environment/configuration.

[2020-10-12 11:33] #2621 closed, assigned to nobody

[2020-10-12 12:56] abrookbanks commented on #2622
Thanks for this.

[2020-10-12 12:56] #2622 closed, assigned to abrookbanks

[2020-10-12 13:01] abrookbanks commented on #2619
Good find. Thanks.

[2020-10-12 13:01] #2619 closed, assigned to abrookbanks

[2020-10-13 07:12] #2603 closed, assigned to abrookbanks

[2020-10-13 23:24] bhsmither opened #2623 "Missing /images/sources/ Folder"
According to:
https://github.com/cubecart/v6/commit/aa757bd35e19c21fa02b92cff26e8e91e5ed9823#diff-21b2eed1e328a2c62fe4c17d51188bdea73450f29956dc5c8c95429313ddd72c
there seems to still be a missing /images/sources/ folder.

Not that it would **not** be a real problem for an upgrade to an existing site, but on a fresh install?

[2020-10-14 12:53] abrookbanks commented on #2593
Add clip to country https://developer.what3words.com/public-api/autosuggest-component

[2020-10-14 14:21] abrookbanks opened #2624 "Add clip-to-country support to what3words"
As above. This improved the auto suggest tool.

[2020-10-14 14:21] abrookbanks commented on #2624
Fixed with commit https://github.com/cubecart/v6/commit/f00134d156e6ff897e0c5df15744aa688e7f76d6

[2020-10-14 14:21] #2624 closed, assigned to abrookbanks

[2020-10-15 07:05] abrookbanks opened #2625 "Replace dated default slider images"

[2020-10-15 10:05] abrookbanks opened #2626 "Add/Edit Category: Parent categories dropdown can be empty"
As above.

[2020-10-15 10:10] #2626 closed, assigned to abrookbanks

[2020-10-15 10:11] abrookbanks commented on #2623
Silly silly silly. Thanks Brian! :)

[2020-10-15 10:41] #2623 closed, assigned to abrookbanks

[2020-10-15 10:41] abrookbanks opened #2627 "Upgrade 6.4.0.sql should be 6.4.0-b1.sql"
Also scripts/upgrade/6.4.0.php should be 6.4.0-b1.php.

Best scenario is to name them b2 to fix existing beta installs.

[2020-10-15 10:43] #2627 closed, assigned to abrookbanks

[2020-10-15 15:53] bhsmither commented on #2627
I was going to mention this, but then thought the better idea was to move away from using betas and release candidates as integral steps through the sequential upgrade process.

Just commenting, I feel betas should always be fresh installs. Beta testers could load a fresh install of any previous version (or a copy of an existing installation) as the base version to see how well the upgrade progres

[2020-10-15 16:04] abrookbanks commented on #2627
Agreed but we do need to test upgraded stores too.

[2020-10-15 16:25] havenswift-hosting opened #2628 "Error testing 6.4.0b1"
Getting this in the PHP error_log on a site running the b1 release

[13-Oct-2020 12:25:47 UTC] PHP Warning:  Invalid argument supplied for foreach() in /home/XXXXXXXX/public_html/classes/ajax.class.php on line 188

[2020-10-15 16:26] havenswift-hosting commented on #2628
The line in this release is

`foreach ($dirs[$dir] as $parent => $folder) {`

[2020-10-15 19:32] Dirty-Butter opened #2629 "NOT SOLVED 6.4.0 b2 not creating next custom_oid"
I've tried two test orders taken all the way to PayPal on dirtybutterestates.com live site. Both orders failed to create the next order number.
Error log shows all details of the order, but the last part is Duplicate entry '2020-EC-19' for key 'custom_oid'  - that was the last order placed successfully on 6.2.9.

[2020-10-16 06:03] bhsmither commented on #2628
This is an issue going way back. Waaaaayyyyy back.

[2020-10-16 06:07] bhsmither commented on #2629
Issue #2439 may be applicable.

[2020-10-16 07:03] havenswift-hosting opened #2630 "6.4.0 problems with register and login"
On a new site where "SEO URL Extension" is chosen to be None the .html suffix is hard coded into the register / login pages (and maybe others ?) in foundation

[2020-10-16 07:23] #2630 closed, assigned to nobody

[2020-10-16 10:37] havenswift-hosting opened #2631 "Problems adding products to cart on small mobile devices"
Using foundation based skins, when on small mobile devices, the quantity field disappears (normally expect to hit "Add to basket" multiple times to add more than one item to the cart.

However, if you have a minimum purchase quantity set for that product, and that is set to be greater than 1, it is impossible to add products to the cart as it fails this test first

[2020-10-16 13:15] Dirty-Butter commented on #2629
I tired replacing stock with your edit, but it still is not creating the order at all.
`$GLOBALS['db']->misc("CREATE TRIGGER `custom_oid` BEFORE INSERT ON `".$GLOBALS['config']->get('config', 'dbprefix')."CubeCart_order_summary` FOR EACH ROW SET NEW.custom_oid = ".str_replace('`id`', "(SELECT `auto_increment` FROM INFORMATION_SCHEMA.TABLES WHERE table_schema = '".$GLOBALS['config']->get('config',

[2020-10-16 13:28] Dirty-Butter commented on #2629
When I check the CubeCart_invoice_template table in cpanel should I see a list of triggers, because I do not.

[2020-10-16 16:50] bhsmither commented on #2629
I see that the TRIGGER should be on CubeCart_order_summary.

[2020-10-16 20:42] Dirty-Butter commented on #2629
Confirmed there is a trigger.
Name custom_oid
Action SET NEW.custom_oid = CONCAT(DATE_FORMAT(NOW(), '%Y-EC-'), LPAD(LAST_INSERT_ID()+0, 2, 0), '')
Time BEFORE
Event INSERT

[2020-10-18 01:36] bhsmither opened #2632 "Email Template Editor to be ACE"
As commented in #2285, maybe we can try moving to ACE for CC640 -- now that we've got that cursor positioning problem fixed.

[2020-10-20 02:43] bhsmither commented on #2632
In `documents.email.php`, find near line 185:
[code]
Change to:
[code]
There is a "Test" button (currently located below the editor) to give as best a colorbox display of the result as is possible.

[2020-10-20 19:21] Dirty-Butter commented on #2629
After checking all code again I found my mistake. Working properly now.

[2020-10-21 08:50] abrookbanks commented on #2632
I'm on the fence with this a bit. There seems to be a case for both (html editor is mainly macros and hard to use). What is `yexybox`?

It would be cool if the preview has sample values maybe.

[2020-10-21 08:52] abrookbanks commented on #2632
The test (preview) doesn't work well because it takes styles from the page.

[2020-10-21 09:12] Noodleyman opened #2633 "PayPal Standard reports an error"
The test endpoint button for the PayPal standard module appears to be throwing the same error across a number of sites I've checked today.

cURL Error (NA): cURL is installed but may be disabled by the host. cURL exec returns false.

However, the module itself is working correctly and you can checkout as a customer.

[2020-10-21 09:21] havenswift-hosting commented on #2633
Also have reports of this from several customers - the module does still work and processes transactions

[2020-10-21 12:13] hairy-dog commented on #2633
Over the last couple of months, various e-commerce website I look after have had numerous problems the PayPal. None of them using cubecart, none of them with anything wrong with them.

[2020-10-21 12:55] nathanbright commented on #2394
This fix has broken the conversion event because function() (used to replace the deprecated create_function()) is not re-entrant. The second call to registerFilter() is overwriting the first, thus preventing the GA_GLOBAL_CONVERSION_JS script from being included - but it *is* required by the conversion event

One solution is an undocumented feature, passing a third parameter "name" to registerFilt

[2020-10-21 16:44] bhsmither commented on #2632
The `yexybox` is detritus. I was making experiments at sizing the editor with the `textbox` style. (Fixed OP.)

"Takes styles from the page" - Then that is a fault with the ColorBox plugin. We need to explore if a colorbox can be isolated from outside influence. Calling the colorbox has an `iframe` capability.

I can see enhancing the macro array for `TEMPLATE_MACROS` with placeholder phrases.

[2020-10-21 18:42] bhsmither commented on #2632
I am experimenting with:
[code]
but getting a blank iframe. This is, more or less, exactly what it looks like in the examples.

Experimenting with numerous variations all have results that the content will just not get sent to the iframed colorbox.

[2020-10-22 08:56] abrookbanks commented on #2633
Move them to PayPal Commerce is the best option but I'll look at this.

[2020-10-22 09:19] abrookbanks opened #2634 "Clear Cache should reload same tab"

[2020-10-22 09:23] havenswift-hosting commented on #2633
Where possible that has been done with many sites but as discussed elsewhere, there are many sites where PayPal Commerce doesnt work and with it's current implementation, will never be installed by them.  If PayPal Standard is unsupported going forward then errors like this will start to happen and eventually some changes by PayPal will cause this plugin to break and at that stage these customers

[2020-10-22 09:25] hairy-dog commented on #2633
We have moved everyone onto Stripe.

[2020-10-22 09:28] abrookbanks commented on #2633
Stripe and PayPal Commerce are my recommendations. The latter is a better technical/feature integration though.

[2020-10-22 09:29] abrookbanks commented on #2633
The PayPal Standard integration is so old and express checkout which is part of PayPal Commerce has so many clear advantages not to mention direct card payments and alternate payment methods such as Giropay, Credit, Sofort, Ideal etc... We encourage all merchants to make the move as its seems like a no brainer.

[2020-10-22 09:34] abrookbanks commented on #2633
@havenswift-hosting it would be interesting to know in what way it doesn't work for them? I know my contacts at PP would be genuinely grateful to hear about such cases. It could lead to product or integrational changes to help make it work for them.

[2020-10-22 09:38] havenswift-hosting commented on #2633
Immediately off the top of my head, two reasons that have been discussed several times before are that Express by-passes customer comments and also the requirement to agree to terms and conditions.  There may be others and by the sound of it @hairydogltd customers may also have specific requirements

[2020-10-22 09:42] hairy-dog commented on #2633
The reason for the move from PayPal was just reliability. A (varying) percentage of payments were failing, but PayPal support were as useless as ever in investigating or helping to find a fix.

[2020-10-22 09:44] abrookbanks commented on #2633
How were they failing? Do you mean payment failed or notification to your store failed?

[2020-10-22 10:07] hairy-dog commented on #2633
Timeouts in PayPal server responses, usually, but not always. Errors that had not been there before (nothing had changed at our end) and that went away when we switched to Stripe.
I think that PayPal servers were overloading due to Covid-related increases in online payments, but that's only my guess. If PayPal support could be persuaded to help and investigate, we might know.

[2020-10-22 13:36] #2634 closed, assigned to abrookbanks

[2020-10-22 16:33] nathanbright commented on #2394
The issue is more complex. We've more than one plugin needing to use this code and only the last one invoked gets rendered

On reflection the [Smarty docs ](https://www.smarty.net/docs/en/advanced.features.outputfilters.tpl) have shown an alternative solution, create separate named functions and pass the function name to the registerFilter() call

I'm attaching a proposed solution for /plugins/Goo

[2020-10-23 07:43] abrookbanks commented on #2631
Minimum purchase quantity being a mod? Any chance I can take a look at this store?

[2020-10-23 07:46] abrookbanks commented on #2628
Thanks chaps.

[2020-10-23 07:53] #2628 closed, assigned to abrookbanks

[2020-10-23 07:59] abrookbanks commented on #2633
I release 1.0.10 which just removes this tool. I've never seen a case where it didn't work. I believe it was to test the HTTP 1.1 protocol when PayPal changed their security requirements which is standard now.

[2020-10-23 07:59] #2633 closed, assigned to abrookbanks

[2020-10-23 08:11] havenswift-hosting commented on #2631
It is part of core !  Column on inventory table is CubeCart_inventory.minimum_quantity

[2020-10-23 08:14] abrookbanks commented on #2631
is it!? Haha ok...

[2020-10-23 08:31] havenswift-hosting commented on #2631
LOL - Not used by many people and I had to double check it as well

[2020-10-23 09:09] bhsmither opened #2635 "Code Check: $options_line_price"
In catalogue.class.php, please compare the line 543 versus line 583.

I believe both accomplish the same thing, but 583 has a syntax error:
`=  +` should be `+=`

[2020-10-23 15:11] abrookbanks commented on #2631
This was a really good find thanks Ian.

[2020-10-23 15:11] #2631 closed, assigned to abrookbanks

[2020-10-23 15:23] abrookbanks commented on #2635
Thanks!

[2020-10-23 15:23] #2635 closed, assigned to abrookbanks

[2020-10-26 00:25] Dirty-Butter commented on #2629
Well my test order worked, but now we have a customer whose order does not show anywhere but in the error log. Save error of Duplicate order number, so the order is not created. I have not added the last few days tweaks to dirtybutterestates.com, but they don't seem to have any relationship to order creation.
I chose this site for my live test because we don't advertise it, and it's only had 2 ord

[2020-10-26 15:16] windsurfer51 opened #2636 "Cubecart 6.04"
I am looking through some files and i noticed some peculiarities in admin\skins\default\templates\products.index.php   file

Line 407                <td>{$LANG.catalogue.absolute_price} *</td> (should the asterisk be there ?)
Line 509   <div>* {$LANG.catalogue.absolute_price_explained}</div> (should the asterisk be there ?)

[2020-10-26 15:18] windsurfer51 commented on #2636
Okay that didn't come out right, the asterisk is not showing
![image](https://user-images.githubusercontent.com/73485384/97191071-e0cf5600-177c-11eb-83ba-89c1339d22b9.png)
![image](https://user-images.githubusercontent.com/73485384/97191114-edec4500-177c-11eb-845e-7cefe16313b5.png)

[2020-10-26 19:17] bhsmither commented on #2636
I think a better solution would be to put a blue 'information' icon that, when hovered over, would pop up a 'tooltip' to show what including this value does to the price of the item.

As it is used here, it is exactly the same that you would see in the text of any article to reference an explanatory footnote elsewhere.

[2020-10-27 00:48] bhsmither commented on #1164
I'm thinking that with the changes to the contents in the 'path' column in CubeCart_seo_urls, as well as the .htaccess file, this becomes very difficult for backwards compatibility.

Just making a comment -- I understand there was never a promise of backward compatibility.

[2020-10-27 06:14] abrookbanks commented on #1164
I don't think so but I'll check. They should be document relative.

[2020-10-27 18:11] bhsmither opened #2637 "Spell Check"
For CC640, check spelling:
Value for /language/definitions.xml: group=filemanager: string=search_location
Hard-coded phrase in admin template products.index.php: near line 586:
[code]
Should be a language string, and grammatically should be "Other included images". Perhaps "Other assigned images".

[2020-10-28 03:23] bhsmither opened #2638 "KB Clarification"
In:
https://support.cubecart.com/hc/en-gb/articles/360003831737-How-do-I-enable-APC-Memcached-Redis-or-xCache-
suggest mentioning that because the session data location has changed, all users of the site should be fully logged out. Otherwise strange results will manifest.

[2020-10-28 03:44] bhsmither commented on #2638
Also, all base code suggests the value to use the filesystem as the session repository is `files`.

However, this is stated in the KB:
[code]
I believe the value should be 'files'.

[2020-10-28 05:01] bhsmither opened #2639 "Memcached Stats"
In the Memcached class, `_printStats()` function, the data includes:
[code]
On a newby's initial read, one could infer that the data is for this page request only. But it seems that this is not the case.

I was getting perplexed when the hits value grew into the thousands, and the misses value stayed steady but extraordinarily high.

I concluded that almost all of this is a cumulative report and s

[2020-10-28 14:41] havenswift-hosting commented on #2638
This whole section is invalid as of 6.4.0 (session handling via memcache has been removed for now) and also prior to 6.2.9 (as it wasnt implemented before then)

[2020-10-28 22:29] bhsmither opened #2640 "Tie Query to Cache Hash"
Feature Request:
Either of --

(Preferred) In the debug section of the returned page, for each SQL query listed, also include the cache hash that corresponds to that query, or
Edit: Scratch the following...
Include the query in the cache file (not applicable to Memcached)

[2020-10-29 18:56] bhsmither commented on #2638
If, as you say, nothing really changed - which I take to mean that this statement is ignored - I shouldn't have lost any sessions.

But I did:
https://forums.cubecart.com/topic/56390-getting-white-screen-after-629-upgrade-from-626/

[2020-10-29 19:07] bhsmither commented on #2638
Happily, doing the exact same thing as earlier, but switching from `memcached` to `redis`, I did not lose any sessions.

Something, I believe, is still looking at `$glob['session_save_handler']` and not finding 'file'.

[2020-10-30 02:43] bhsmither opened #2641 "Code Review: Files Cache Usage"
As best I can tell, most cache stats generally state hits and misses. (The stats also may state a few parameters in Bytes.)

So, I call into question the Usage Report of 'Files' cache being expressed as a total of filesizes (in bytes).

I find this result to be counter to what I would expect, namely, to ask:

How many requests were found in the cache - regardless of the amount of data contained in

[2020-10-30 03:28] bhsmither opened #2642 "Code Check: Can Redis->set() Fail?"
`Redis->write()` (`set()` near line 273 in redis.class.php) is not checked for success (like it is in the other methods of cache).

[2020-10-30 03:34] bhsmither commented on #2642
Also, can it be set to expire (like it is in memcache/d, and meta in files)?

And there is no check to make sure `json_encode` was successful.

[2020-10-30 05:29] bhsmither opened #2643 "Bad SQL Query"
Setup (CC629 - probably happens in CC640 as well):
Enable debugging.
Set "Hide Out of Stock" to Enabled.
Create a membership group.
Create a customer and assign that membership group to it.
Create a product and give a price and sale price to that membership group.
Clear Cache.
Log out as admin.
Log in as the customer.
Request the homepage.

Examine the SQL debug listing. At the end of the list, th

[2020-10-30 05:35] bhsmither commented on #2643
Probably a duplicate of #2080.

[2020-10-30 07:44] bhsmither opened #2644 "Lost Use of Sub-Apps"
Regarding #1164, it is now (probably) impossible to have a sub-application in a sub-folder. Having lost the rewrite pattern to include `.html` at the end invites a large amount of ambiguity.

Which is to say, an application here:
`www.example.com/myapp/index.php`
**must** have always a findable document.

If the app uses links that presume to use an available default document (i.e., index.php) wit

[2020-10-30 09:09] bhsmither opened #2645 "Divide by Zero"
In the cache scripts for memcache/d, it is conceivable that the very first page request after switching it on, if it's an admin page (doesn't use cache), the `_printStats()` parameter `$data` may have a zero value for `["cmd_get"]`.

This causes a Divide by Zero fault.

The cache script for file tests for this.

[2020-10-30 21:33] bhsmither commented on #2640
Suggested edits:
In `Debug->debugSQL()`:
[code]
Also, in `Database->_sqlDebug()`:
[code]
This gives an output as follows:
[code]
The time hack is the amount of time that has elapsed since starting executing the script. Large jumps can indicate heavy processing of data between the database calls. The duration is how long a query took to ask and get a response. (This is already stock code.) It is ch

[2020-10-30 21:40] bhsmither commented on #2640
I also made this change in `Debug-display()`:
[code]

[2020-10-31 04:42] richosr opened #2646 "Errors appearing in error log"
I am getting the following errors appearing in the error log frequently.
Any ideas on how I can resolve these would be appreciated.

![image](https://user-images.githubusercontent.com/992654/97771318-253c6680-1b6e-11eb-8ed4-c7f835b55729.png)

[2020-10-31 06:52] bhsmither commented on #2646
This is someone yanking your chain.

A search is being made and the page number of the results is being changed to be a stupidly high number -- so high that PHP is converting that number into scientific notation (the E+14 at the end of the number).

True, it is annoying, but not dangerous.

[2020-11-01 19:46] bhsmither opened #2647 "Phrasing"
Trivial:

In admin, Manage Hooks, [Plugin], at the bottom of the list of hooks, the phrase:
[code]
could be more informative:
[code]

[2020-11-02 09:39] #2647 closed, assigned to abrookbanks

[2020-11-02 09:47] abrookbanks commented on #2638
Thanks. Article updated.

Memcached session management proved just too buggy. Frustrating.

[2020-11-02 09:47] #2638 closed, assigned to nobody

[2020-11-02 10:18] abrookbanks commented on #2640
Love this. Thanks Brian!

[2020-11-02 10:18] #2640 closed, assigned to abrookbanks

[2020-11-02 10:28] #2645 closed, assigned to abrookbanks

[2020-11-02 10:30] abrookbanks commented on #2646
I'm pretty sure this is a duplicate which has been fixed but I'm not 100% sure. Please can we reopen if this isn't resolved with 6.4.0 which will have improved backtracking to help debug it too.

[2020-11-02 10:30] #2646 closed, assigned to abrookbanks

[2020-11-02 10:31] abrookbanks commented on #2644
Good to bear in mind. We can cross this bridge if/when it arises.

[2020-11-02 10:31] #2644 closed, assigned to nobody

[2020-11-02 10:34] abrookbanks commented on #2637
Well spotted. I have to admit that I'll never be able to spell or spot typos!

[2020-11-02 10:34] #2637 closed, assigned to abrookbanks

[2020-11-02 13:51] #2636 closed, assigned to abrookbanks

[2020-11-02 16:03] abrookbanks commented on #2629
MySQL triggers are buggy. I don't know how to solve this.

[2020-11-02 20:25] Dirty-Butter commented on #2629
In my total ignorance of coding, it seems like it would need to take the custom_oid of the most recent order_date in CubeCart_order_summary and plus one it.

[2020-11-02 21:55] bhsmither commented on #2629
That is one way to do it, but there is a danger of collision.

That is, on a **very, very** busy site, where sales happen on the order of dozens per second, by the time the code gets the latest order number from the database server, adds one to it, and gets ready to save back a new record, there could be several other sales using that and neighboring numbers already.

Even the different trigger su

[2020-11-03 14:27] abrookbanks commented on #2642
From what I can see it doesn't return a boolean value.

[2020-11-05 11:14] abrookbanks opened #2648 "Gallery should show if count > 1"
The page then sits better with one master picture.

[2020-11-05 11:15] #2648 closed, assigned to abrookbanks

[2020-11-07 21:25] bhsmither opened #2649 "ePayments Interac Admin Panel to have Email Setting"
The core code has the function to send a courtesy email, but the module's admin control panel does not have a setting to enable it.

[2020-11-08 02:16] bhsmither opened #2650 "Square has Bad Equation"
In Square 1.1.5, an edit was made to cast the result of a function to an integer:
[code]
This is not correct. (At least for PHP 7.4.) The basket total is getting cast before getting multiplied.

The correct statement is:
[code]

[2020-11-08 02:31] bhsmither commented on #2650
Even so, there may still be an issue with certain versions of PHP 7 that specifically affects values ending in `.99`.

See the comments at: https://www.php.net/manual/en/function.intval

[2020-11-08 09:26] bhsmither opened #2651 "Code Check: Taxes"
Regarding issue #724 and commit https://github.com/cubecart/v6/commit/413844155bd3a82ae485e9690ea8482cec4b22bc, I see that only the pattern for the function `sprintf()` was removed, where I think the intent was to remove the actual function.

PHP 7 is complaining of:
[code]
which is how I found this (which is a separate issue).

[2020-11-08 09:32] bhsmither opened #2652 "Code Check: Variable Types"
PHP 7 is complaining of:
[code]
Throughout this class, `_tax_table` and relatives holds an array of floats.

Yet, at the class declarations, these and other attributes are set to be boolean. (Also in `function taxReset()`.)

Perhaps a better choice would be empty arrays?

[2020-11-11 07:22] abrookbanks opened #2653 "config.seo_ext may not exist"
See: https://github.com/cubecart/v6/commit/a11d3b1c181687251f04d21d409792a7ec466135#commitcomment-44059396

1. This code was supposed to be in the 6.4.0 release but wasn't due to some kind of version control error.
2. This code has a fault.

[2020-11-11 07:24] #2653 closed, assigned to abrookbanks

[2020-11-11 10:47] wiiaboo opened #2654 "[6.4.0/6.4.1] Issue with SQL statement in admin/sources/dashboard.index.inc.php"
Since the upgrade to 6.4.x, everytime a user goes to the Admin dashboard, this error shows up in the System Error Logs:
[code]

Checking the code, the variable that's supposed to have some value is `$condition` (line 343), but I don't see how that's failing to do this check properly:
https://github.com/cubecart/v6/blob/8bb19d46ad36050ecfb7a766f4f5ed20f4a19b4a/admin/sources/dashboard.index.inc.php#

[2020-11-11 14:01] abrookbanks opened #2655 "classes/newsletter.class.php:205 - Call to a member function is() on null"

[2020-11-11 14:10] wiiaboo commented on #2654
Changing the code to this fixes the SQL statement, but I don't know how correct/safe this is:

[code]

[2020-11-11 14:36] wiiaboo opened #2656 "Suggestion to improve font on Admin Search input"
https://github.com/cubecart/v6/blob/8bb19d46ad36050ecfb7a766f4f5ed20f4a19b4a/admin/skins/default/styles/layout.css#L838

could instead be
[code]
and then it will look as the rest of the interface, and the Font-Awesome icon will use FontAwesome as expected, at least on Firefox.

[2020-11-11 20:08] bhsmither commented on #2634
This will likely crash the javascript if the config says to disable cache. When cache is disabled, the Clear Cache button is not present in the DOM, the targeted node cannot be found, and the `var cc` object is undefined.

[2020-11-11 20:30] bhsmither commented on #2654
Your config sample has `stock_warn_level` as being empty.

Please verify in your admin Store Settings, Stock tab, "Global stock warning level" has an integer value being used.

[2020-11-11 20:59] wiiaboo commented on #2654
I checked directly on the database, it's `"0"`.

![screenshot of the html code](https://c.tsu.re/EQ.png)

[2020-11-11 21:25] bhsmither commented on #2654
I am asking for `stock_warn_level`.

The `$condition` variable will be either the literal string `I.stock_warning` or the value held in the config setting `stock_warn_level`.

[2020-11-11 23:06] wiiaboo commented on #2654
Oh, OK, I misread and thought they were the same.
But empty is the default. I've never configured this or unset it.

[2020-11-11 23:19] wiiaboo commented on #2654
Setting it to 0 also fixes it. And I see in setup that the default value is supposed to be `'5'`. My store install comes back from v3 or something, so it's quite old.

[2020-11-12 09:38] abrookbanks opened #2657 "SEO->setdbPath - Check dynamic $type has a valid $item_id"
As above. It should return false if the conditions are not met.

[code]

[2020-11-12 09:40] #2657 closed, assigned to abrookbanks

[2020-11-12 14:04] abrookbanks opened #2658 "main.stream.php doesn't handle expired media"

[2020-11-12 14:15] #2658 closed, assigned to abrookbanks

[2020-11-13 00:54] bhsmither opened #2659 "Session->set_cookie(): Use of PHP's setcookie()"
In this function, there is:
[code]
According to the function signature, each placement is defined:
[code]
What is given above is that:
[code]
I believe this will cause the `setcookie()` function to fail.

[2020-11-13 01:06] bhsmither commented on #2659
See: https://stackoverflow.com/questions/39750906/php-setcookie-samesite-strict
for some interesting hacks that deal with effective handling of PHP <=7.2 versus PHP >=7.3

[2020-11-13 08:37] abrookbanks opened #2660 "Feature: Contain digital downloads to cookie"
Small amount of optional added security.

Filemanager Class->deliverDownload after:
[code]
Add
[code]

User class->authenticate after:
[code]
Add
[code]

[2020-11-13 08:51] bhsmither commented on #2644
I put phpRedisAdmin in a sub-folder. Didn't have to, but I did.

Guess what? No `index.php` on some code.

Took a while to find it, but it was one edit.

I am also finding instances of `?seo_path=` on some URLs. Tracking it down.

[2020-11-13 10:01] abrookbanks commented on #2659
It's using the options method to have more control.

![Screenshot 2020-11-13 095827](https://user-images.githubusercontent.com/4520803/99059958-36866980-2597-11eb-93f7-480575c3d503.png)

[2020-11-13 10:35] abrookbanks opened #2661 "Add icon to download source image from file manager"
As above. This should be a simple task

[2020-11-13 12:25] abrookbanks opened #2662 "Dash SQL Issue"
[code]

If the global stock warn level isn't set then use a default.

[2020-11-13 13:16] NiteTowerDesign opened #2663 "Admin Tabbing Issue When Cache is Disabled"
Seems when the cache is disabled it causes a JS issue affecting Admin tabs

Info from browser :

"Uncaught TypeError: cannot read property 'split' of undefined "
admin.js - 671
var ccp = cc.split("#");

bsmither seems to have dug into it more at [https://forums.cubecart.com/topic/56437-firefox-vs-edge/?do=findComment&comment=244754](https://forums.cubecart.com/topic/56437-firefox-vs-edge/?do=findC

[2020-11-13 14:36] abrookbanks commented on #2663
Thanks so much for this! :)

[2020-11-13 14:36] #2663 closed, assigned to abrookbanks

[2020-11-13 14:42] #2662 closed, assigned to abrookbanks

[2020-11-13 16:12] abrookbanks opened #2664 "Feature Request: Tool to remove orphaned images"
As above. Useful to save hosting space and to clean things up.

[2020-11-13 17:28] bhsmither commented on #2659
Please review the statement. The third parameter is a string, not an array.

Additionally, this particular function signature for setcookie(string, string, array) is available **only** for PHP 7.3 and higher. Please keep in mind CubeCart is still claiming it will work on PHP 5.5+ (5.4+ as the 'title' in setup).

[2020-11-13 21:21] bhsmither opened #2665 "Code Review: Redirects List Screen"
The **Item ID** column has a text entry field typed as a number. This adds a spinner to the field that seems to offer so very little UI to the task of choosing the `item_id`.

Mouse-clicking the spinner does nothing.

Keyboard cursor-up and -down works, as does actual text entry.

However, because the path retrieved is variable in length, even if the mouse-clicker spinner worked, the **Destination

[2020-11-13 21:39] bhsmither commented on #2665
Additionally, the **Item ID** value can be spun down to zero and into the negative numbers.

When the value shown here no longer represents a valid item, the **Destination** field does not clear. And when the value goes to -1 and -2 (but not -3 and beyond), there is shown a **Destination** that corresponds to 2 and 1 respectively.

[2020-11-13 22:00] bhsmither opened #2666 "Code Review: Category SEO Empty Path"
In `categories.index.inc.php`, near line 84, a test is made for an empty `POST['seo_path']`.

Since POSTing an edited item with an empty path is no longer deleted from the database (was CC629), there is no longer any need to `rebuildCategoryList()` at this point.

[2020-11-14 17:04] abrookbanks opened #2667 "File: [cart.class.php] Line: [533] "SELECT SQL_CALC_FOUND_ROWS `used` FROM `CubeCart_customer_coupon` WHERE ... OR `customer_id` = LIMIT 1;""

[2020-11-14 17:09] abrookbanks commented on #2667
Typo in commit. See https://github.com/cubecart/v6/commit/08df7335152731b9e005b6b8fd3f284f2e8bce13

[2020-11-14 17:09] #2667 closed, assigned to abrookbanks

[2020-11-14 21:06] bhsmither commented on #2667
Comment:

If `$customer_id` evaluates to a zero-length-string, then something is not getting set correctly where `$customer_id` is getting a value assigned to it.

That would mean either:
- `$this->basket['customer']['customer_id']` is not set, and `$this->basket['billing_address']['customer_id']` is not set or has no value, or
- `$this->basket['customer']['customer_id']` is set and has no value.

[2020-11-16 12:47] havenswift-hosting opened #2668 "Make number of times that exit modal is shown configurable"
Currently, the exit modal only shows once and what would be great, is to make this configurable via a setting

[2020-11-16 20:29] NiteTowerDesign opened #2669 "Maintenance Clear Logs (Activity, Error, Request) Leads To Blank Page"
As reported by iant [https://forums.cubecart.com/topic/56454-641-bug-report-clear-logs-leads-to-blank-white-screen/](https://forums.cubecart.com/topic/56454-641-bug-report-clear-logs-leads-to-blank-white-screen/l)

**Steps to reproduce:- (6.4.0 & 6.4.1)**

1. Admin > Maintenance > Rebuild

2. select clear error , admin activity, requests logs

3. submit (leads to dead page although the action does

[2020-11-16 23:21] NiteTowerDesign commented on #2575
Appears this was missed in **element.product.options.php** in 6.4.1

[2020-11-17 08:30] abrookbanks commented on #2669
Thanks for reporting.

[2020-11-17 08:30] #2669 closed, assigned to abrookbanks

[2020-11-17 13:03] havenswift-hosting commented on #2524
Would be nice to revisit this at some stage ?

[2020-11-17 16:07] Noodleyman opened #2670 "$GLOBALS['db']->insert() no longer returns the insertid on success, instead it is returning boolean true."
This was working up until 6.4x

in earlier versions the insert queries would return the inserid, but it looks like it is now only ever returning boolean true which is breaking several bespoke features which are expecting the return to be the insertid.

[2020-11-17 16:17] Noodleyman commented on #2670
@abrookbanks
To confirm, if I swap out the class files for DB with that of 6.2.9, everything works correctly. This is impacting a lot of modules and functionality, if it can be looked at as a priority it would be greatly appreciated.

[2020-11-17 16:18] abrookbanks commented on #2670
Thanks for this Alec.

[2020-11-17 16:21] havenswift-hosting opened #2671 "Add search functionality to language"
It is often difficult to work out which section a language string is found under, so a search function that scanned all messages and presented any matching text pattern matches and then after selecting one, took the user to that string would be very helpful

[2020-11-17 16:22] abrookbanks commented on #2670
CubeCart too is very dependant on last insert ID and no issues have come up that I've seen.

I can't see anything relevant changed in those files which quick compare. Was it just those two files you replaced?:
![Screenshot 2020-11-17 162206](https://user-images.githubusercontent.com/4520803/99416709-0c171200-28f1-11eb-963c-6aef2d59b0c4.jpg)

![Screenshot 2020-11-17 162134](https://user-images.gith

[2020-11-17 16:25] Noodleyman commented on #2670
I just tested each file, one at a time.

swapping out database.class.php between that of 6.2.9 and 6.4.1 is causing/fixing the issue, so it's something specific to that one file or something it references. I'm a little confused by it as well as there is very little difference between the two as you've stated.  I'm working through them to isolate a specific item... yet to find it.

[2020-11-17 16:27] Noodleyman commented on #2670
root cause is:
[code]

[2020-11-17 16:29] Noodleyman commented on #2670
it's because of adminLog(), which does an insert.. before the return of the insert by the ACTUAL insert query...  as successMessage logs the event...

[2020-11-17 16:34] abrookbanks commented on #2670
Frustrating. I haven't seen any other bugs around this yet. I'll get it changed for 6.4.2.

[2020-11-17 16:37] Noodleyman commented on #2670
essentially, you need to call lastinsertid before any other actions write to the DB, however as it's now logging a message, it's writing additional data to the DB as part of the cacheing clear step.

untested, but an actual fix may be to swap these two lines around to capture the ID before cache is cleared

[code]

[2020-11-17 16:40] abrookbanks commented on #2670
Your fix is better. Please confirm as you have a means to test against your extension.

[2020-11-17 16:43] Noodleyman commented on #2670
fix confirmed, simply swapping those lines around resolves the issue.

[2020-11-17 16:43] abrookbanks commented on #2670
Thanks Alec. This should have come up in the long beta period. Never mind.

[2020-11-17 16:43] #2670 closed, assigned to abrookbanks

[2020-11-17 16:44] Noodleyman commented on #2670
at least it's a simple fix 👍
unfortunately I wasn't able to do any beta testing due to time constraints

[2020-11-17 16:46] abrookbanks commented on #2670
No that's fine. Comment wasn't aimed at you.

[2020-11-17 23:13] bhsmither opened #2672 "ReCaptcha Observation"
The Foundation skin has a separate template for holding the javascript that answers the `reCaptchaCallback()` call. The template also has a basic row/8-column container for the forward facing reCaptcha content. This will eventually cause headaches when wanting to tweak row/column formatting.

The template is used for any `main_content` area content that wants to use it (Contact, Register, Product

[2020-11-18 06:31] bhsmither opened #2673 "Wrong Variable"
In settings.language.inc.php, near line 216, there is:
[code]
At this point in the admin wanting to make edits to phrases, the key `'type'` is not in the `$_GET` array. It is instead in the `$_POST` array, but all other code wanting to use the key `'type'` gets it from the `$_REQUEST` array.

[2020-11-18 07:04] bhsmither opened #2674 "Braces doing String Offset"
Regarding #2488, replacing braces in `settings.language.inc.php` line 116 is still a TODO item.

[2020-11-18 07:28] bhsmither opened #2675 "Code Review: Redundant Call"
In `settings.language.inc.php`, near line 149, begins fetching data if there is a `'type'` (a language phrase group name).

Regardless if we are looking for a group in a module's language pack or a group in one of CubeCart's language packs, there will be an assigned value to `$definitions` from a call to `Language->getDefinitions()`.

Thus, at line 172, assigning to `$definitions` again by calling

[2020-11-18 09:14] abrookbanks opened #2676 "Feature Request: Add "Upgrade Lock" for customised stores"

[2020-11-18 09:18] havenswift-hosting commented on #2676
This is a great idea

[2020-11-18 11:29] bhsmither commented on #2676
What would this do - or prevent from doing?

[2020-11-18 11:32] abrookbanks commented on #2676
Block the auto update tool executing. Maybe add an email address to contact the right person for upgrade.

[2020-11-18 19:49] bhsmither commented on #2676
CubeCart has an auto-update tool?

[2020-11-18 19:58] abrookbanks commented on #2676
Yes in the maintenance section.

[2020-11-18 19:58] abrookbanks commented on #2676
Auto Upgrade is probably the better term.

[2020-11-18 20:46] bhsmither commented on #2676
I am recalling how my installation of Wordpress (no longer running) was truely automatic. It relied on a cron job -- no attention needed by me to keep it up to date.

I don't see how CubeCart's "Update" button is on same caliber.

One needs to have agency and manually start an upgrade process.

I am aware of store's changing the teams of techs who manage's the installation. But I would hope that s

[2020-11-18 21:10] abrookbanks commented on #2676
Definitely nitpicking. 😂

[2020-11-19 10:53] havenswift-hosting opened #2677 "Poorly performing query for popular products based on sales data"
The query on line 1233 classes/gui.class.php needs some work as it is very poorly performing !

[2020-11-19 12:14] abrookbanks opened #2678 "Sorry, that code is not valid for the items in your basket."
Bug with excluded products.

[2020-11-19 12:16] #2678 closed, assigned to abrookbanks

[2020-11-19 17:35] #2660 closed, assigned to nobody

[2020-11-20 01:24] NiteTowerDesign opened #2679 "Missing Discount Logic for Order Complete During Checkout"
After checkout you get sent to the complete page (index.php?_a=complete) which displays the order receipt but it seems if a discount has been applied it's not showing in the totals BUT when a customer views the order directly from the order history page its there so it seems $DISCOUNT isn't getting assigned for content.receipt.php at the index.php?_a=complete page ..

Well at least in my tests any

[2020-11-20 05:06] bhsmither commented on #2657
Your fix will certainly work -- until the caller can't handle a `false` result. One such caller is `SEO->buildURL()` at the last `return`.

One (perhaps only) reason this* will happen is during checkout when CubeCart queries for Related Products. If any of the past XX orders have a Gift Certificate (product_id 0 or _null_), CubeCart will include this item in a loop near the end of `CubeCart->_disp

[2020-11-20 08:04] abrookbanks commented on #2597
System error log is for developers not merchants. On those grounds it should not show on the dashboard. There are too many false positive in code that isn't strict.

[2020-11-20 08:06] #2597 closed, assigned to abrookbanks

[2020-11-20 08:36] bhsmither commented on #2657
Another case is when the admin adds an arbitrary item to an existing order, something that isn't in the established inventory.

[2020-11-20 08:40] abrookbanks commented on #2657
Figured out where? I appreciate your help because my workload is at 900% right now.

[2020-11-20 08:55] abrookbanks commented on #2677
This will make a massive difference

[2020-11-20 09:10] #2676 closed, assigned to abrookbanks

[2020-11-20 09:14] havenswift-hosting commented on #2677
Brilliant - thanks !

[2020-11-20 10:13] abrookbanks opened #2680 "SEO Class line 722"
[code]

There could be circumstances where the path is already in use. Check required.

[2020-11-20 11:56] abrookbanks commented on #2680
This could be a hangover from another bug #2670

[2020-11-20 17:55] bhsmither commented on #2657
When an admin adds an arbitrary item to an existing order's inventory, it is impossible for there to be a `product_id`. Thus, when the added arbitrary item gets added to `CubeCart_order_inventory`, it becomes the source of the resulting SEO path problem just like GCs.

Making the change to the Related Products SQL query will also handle this source of incompatible data.

[2020-11-20 18:17] NiteTowerDesign opened #2681 "Customer Newsletter Unsubscribe Error Message"
When a logged in customer unsubscribes from newsletters via the newsletter page (index.php?_a=newsletter) it displays:

Seems you run 2 delete queries for logged in customers as you pass both the customer id and email address to the unsubscribe function so $removed which is used to determine whether to use setNotify or setError in newsletter.class.php gets overwritten by the last delete query.

[2020-11-21 00:45] bhsmither opened #2682 "Code Review: SEO AJAX Request"
In admin.js, starting at line 974, I can guess the task, but a lot of the details seem to be wrong.

Watching for a change anywhere on the tab_content `id="seo"`. When a change happens, test for the truthiness of the value of that tab_content. The value of the tab_content is an empty string. The test fails and `seo = "no_seo_code"`.

An AJAX request is made:
[code]
AJAX::load() defaults to a `sear

[2020-11-22 00:42] NiteTowerDesign opened #2683 "Product Review Submission Returns .html SEO EXT"
Seems when a customer submits a product review on its return to the product page .html gets added to the url causing 404 page not found

CC 6.4.1

[2020-11-22 01:18] bhsmither opened #2684 "Code Review: Properly Closing the Database Connection"
In `mysqli.class.php`, near line 219, when dealing with `$result` being true-like, the `(is_bool)` section does not close the connection, but the `else` section does.

Not sure what best practice is, but perhaps use `$this->_db_connect_id->close()` just above `_stopTimer()`.

[2020-11-22 01:41] bhsmither opened #2685 "Code Check: Database Table Backticks"
In database.class.php, near line 753, a query is being built.

Suggest enclosing the table name in backticks.

This should assert to the database engine to use the entire name given instead of having it complain about a table name that uses dashes and makes it look like a malformed equation (example: CubeCart_coupons_backup_2019-01-30).

[2020-11-22 02:06] bhsmither opened #2686 "Code Review: Recursion Limits"
In `Database->sqldumptable()`, after processing a LIMIT of fifty rows, the page number is incremented and the method is recursed into.

For a table with thousands of rows, some systems will crash with a stack overflow.

Suggest coding `sqldumptable()` to fetch chunks by iterating on a loop.

[2020-11-22 23:47] bhsmither opened #2687 "Image Manager Layout Tweak"
Regarding #2571, can the code be tweaked to break the floats between the group of folders and the group of images?

[2020-11-23 00:41] bhsmither opened #2688 "FileManager Tabs Tweak"
Operationally, the admin FileManager (Images and Downloads) seems to work fine.

My 'nit-pick' is that the **Files** tab is not 'connected' to the Files tab_content **pane** -- stylistically.

That is, clicking the Files tab will reload the page. But I would like to show that this pane of content _stylistically_ belongs to the Files tab.

Luckily, there is a new argument available in ACP->addTabCo

[2020-11-23 09:11] abrookbanks commented on #2688
Thanks so much this has really pestered me too.

[2020-11-23 09:11] #2688 closed, assigned to abrookbanks

[2020-11-23 09:16] abrookbanks commented on #2687
So folders always show in their own "section" above? I'm not sure of the benefit.

[2020-11-23 09:50] abrookbanks commented on #2683
This could potentially introduce a new issue. Lets hope not.

[2020-11-23 09:50] #2683 closed, assigned to abrookbanks

[2020-11-23 10:00] abrookbanks commented on #2684
Why not `$result->close();` just above `$this->_stopTimer();`?

[2020-11-23 10:02] abrookbanks commented on #2684
Hmm. That seems to cause a crash. It's probably best to leave it as it is.

[2020-11-23 10:02] #2684 closed, assigned to abrookbanks

[2020-11-23 10:03] #2685 closed, assigned to abrookbanks

[2020-11-23 16:26] bhsmither commented on #2687
No real benefit. Just a styling/layout thing. I admit, every filemanager I've ever worked with stacks folders on top of files vertically. But this horizontal, and has a strange 'look'.

[2020-11-24 12:46] Noodleyman opened #2689 "Cookies are corrupting / broken in latest release"
I've yet to isolate a specific root cause, but there are two live sites I am aware of, both presenting the exact same problem, being...

Session/Cookie data seems to somehow corrupt or contain something invalid, which means various pages on the site do not work correctly until the cookies are manually cleared from the browser, then it works for a few page views and stops again. for example, pressi

[2020-11-24 13:15] havenswift-hosting commented on #2689
There have been various reports about this on the forums and I have experienced it myself once on one test site that I have upgraded but also cannot reproduce it in order to look deeper

When it happens is there a record in the error_log file with the normal "Session aborted as possible session hijack."

[2020-11-24 13:21] Noodleyman commented on #2689
I hadn't noted "Session aborted as possible session hijack.", I'll keep an eye out for that.

[2020-11-24 13:59] Noodleyman commented on #2689
customer_id is not being set correctly in the session data, it logs 0 in CubeCart_sessions as the customer_id.

There are different session ID's between specific pages, almost like an old one was cached for one page... which I assume would cause the hijack error

[2020-11-24 14:11] Noodleyman commented on #2689
Confirmed. multiple cookies with the same name are being created in the browser, but with different session ID's, (pre-login, and post-login)... and it seems to be flicking between them randomly

[2020-11-24 14:12] abrookbanks commented on #2689
Possibly relevant Alec.
https://github.com/cubecart/v6/issues/2556

[2020-11-24 14:15] abrookbanks commented on #2689
Maybe we should revert the SameSite cookie changes.

[2020-11-24 14:16] abrookbanks commented on #2689
I don't know of a site expressing this behaviour. Maybe one of you guys can kindly try for me removing the SameSite changes in the issue above.

[2020-11-24 14:38] Noodleyman commented on #2689
example.

two sessions ID's in the DB..
![image](https://user-images.githubusercontent.com/10614018/100107973-2ce7e600-2e62-11eb-9fa7-f89d0b07f7d6.png)

in my existing example, the session_id ending with a1 is being used on all pages on the storefront, apart from one, where it uses the one ending 6b.

There are two cookies, with the same name. one of which is domain wide, (path = /) the other has

[2020-11-24 14:41] abrookbanks commented on #2689
So it's a path issue. Can you email it to me? :)

[2020-11-24 14:49] Noodleyman commented on #2689
this specific example may be, but this is most likely a variant of the underlying issue. @havenswift-hosting , do you have any other example sites you can share?

[2020-11-24 14:59] abrookbanks commented on #2689
"underlying issue"?

[2020-11-24 15:00] Noodleyman commented on #2689
that's what we are trying to figure out 😉

[2020-11-24 15:03] abrookbanks commented on #2689
Oh yeh. 🤣

[2020-11-24 15:04] abrookbanks commented on #2689
Virgin Media are up and down every 5 minutes today so I'm handicapped at the moment. I bet the issue is somewhere in the code changes for #2556

[2020-11-24 15:05] Noodleyman commented on #2689
The example I've provided, I am confident will be related, but different to the other reports that will come in. It's due to the way this specific example is being triggered. This is the only example I have to hand at the moment, and I have not been successful in reproducing other reports from other customers. It appears specific to their computers/machines or network. However, the common thing fo

[2020-11-24 15:09] abrookbanks commented on #2689
I expect it's to do with extending the session cookie expire date on each page load... 🤔

[2020-11-24 15:14] abrookbanks commented on #2689
I strongly expect its something here:
https://github.com/cubecart/v6/blob/v6-master/classes/session.class.php#L583-L592

I still can't reach my development store whilst Virgin Media are down. :(

[2020-11-24 17:08] abrookbanks commented on #2689
I JUST can't win with this. SameSite before PHP 7.3 needs the cookie to be set via header without using `setcookie()`.

[code]

That code works well (at least on Chrome) but the expire time doesn't update on each page load.

[2020-11-24 17:35] abrookbanks commented on #2689
I had the expire format wrong. Now this seems to work well.

[2020-11-24 17:52] abrookbanks commented on #2689
So we really had a number of issues here. Bad path for root level stores. Bad expiry date format and mixed handling of SameSite.

The only way PHP less than 7.3 can handle samesite is with a header instead of setcookie function.

I'm confident this is resolved but I'd be grateful of feedback.

[2020-11-24 19:53] bhsmither commented on #2689
Just mentioning #2659.

[2020-11-24 20:07] abrookbanks commented on #2689
Thanks yes I had seen and it did influence this. Really appreciate it. I believe that issue can be closed now.

[2020-11-24 20:07] #2689 closed, assigned to abrookbanks

[2020-11-24 20:08] abrookbanks commented on #2659
Resolved within #2689

[2020-11-24 20:08] #2659 closed, assigned to abrookbanks

[2020-11-25 06:18] bhsmither opened #2690 "Code Review: Databasing Product Reviews"
In `CubeCart->_product()`, if there are no errors in the POSTed data, an attempt is made to INSERT the `$record` into `CubeCart_reviews`.

It is here that the resultant INSERT_ID must be captured into a variable for later use.

For, between here and when the insert id value gets used, there is work being performed. Note that none of the obvious current work will disturb the the `DB->insertid()` re

[2020-11-25 08:05] Noodleyman commented on #2689
Thank you Al 👍

[2020-11-25 08:07] abrookbanks commented on #2689
And thank you for helping find the problem in the first place.

[2020-11-25 08:55] havenswift-hosting commented on #2689
Upgraded two live sites and 3 test / dev sites yesterday evening with this fix so will monitor and let you know if any more problems

[2020-11-25 08:58] Noodleyman commented on #2689
For the less technical out there, will 6.4.2 be released soon with this fix?

[2020-11-25 09:02] abrookbanks commented on #2689
Next week. :)

[2020-11-25 09:05] abrookbanks commented on #2655
Fixed with commit https://github.com/cubecart/v6/commit/8ab90c4673ffe86d867cfe4042dcaf0952a29d56

[2020-11-25 09:05] #2655 closed, assigned to abrookbanks

[2020-11-25 10:14] abrookbanks opened #2691 "user.class.php:313 - Possible Phishing attack - Redirection to 'https://example.com/index.php?_a=confirm' is not allowed."

[2020-11-25 10:26] #2691 closed, assigned to abrookbanks

[2020-11-25 10:59] abrookbanks commented on #2690
Confirmed working.

[2020-11-25 10:59] #2690 closed, assigned to abrookbanks

[2020-11-25 11:05] abrookbanks commented on #2673
Thanks Brian!

[2020-11-25 11:05] #2673 closed, assigned to abrookbanks

[2020-11-25 11:05] abrookbanks commented on #2680
One to keep an eye on.

[2020-11-25 11:05] #2680 closed, assigned to abrookbanks

[2020-11-25 11:11] #2668 closed, assigned to nobody

[2020-11-25 11:15] abrookbanks commented on #2654
Thanks this is actually fixed in another issue. Sorry if I missed this one first.

[2020-11-25 11:15] #2654 closed, assigned to abrookbanks

[2020-11-25 11:16] #2629 closed, assigned to nobody

[2020-11-25 16:57] abrookbanks opened #2692 "Some helpdesk links are broken"
They point to the old helpdesk.

[2020-11-25 16:58] #2692 closed, assigned to abrookbanks

[2020-11-26 08:16] Noodleyman opened #2693 "Note: Your store should only log notice and warning errors if it is in debug mode"
This statement on the error log page is not accurate as it only applies to PHP. Anything being thrown from the database regardelss of severity is also logged.

However, I think it would only log errors from the DB anyway.. but might be worth refining to clarify PHP errors.

a few people assumed the would only see "Unknown or incorrect time zone" notices if they had debug mode enabled.

[2020-11-26 09:38] abrookbanks commented on #2693
Good point.

[2020-11-26 11:18] abrookbanks commented on #2693
This could go further but for now the vital one is supressed unless debug mode is on.

[2020-11-26 11:44] abrookbanks opened #2694 "_cache_path is not set when alt caches are used"
It is needed to clear the file cache of skin items such as minified CSS/JS.

[2020-11-26 11:59] #2694 closed, assigned to abrookbanks

[2020-11-26 14:13] #2693 closed, assigned to abrookbanks

[2020-11-26 16:15] abrookbanks opened #2695 "User method _validCustomerId() has `misc` queries that may cache"

[2020-11-26 16:16] #2695 closed, assigned to abrookbanks

[2020-11-26 16:18] abrookbanks commented on #2695
"may" ... I sound like a BBC journalist.

[2020-11-26 18:34] bhsmither opened #2696 "UX Review: Taxes"
On the Tax Classes page, there is an icon (trash bin) leading the phrase "Assign to all products".

An admin might associate the icon to the phrase. That association would be a stretch of the imagination: **_careful_** observation that the icon is a trash bin (typically meaning Delete), which pops up a confirmation dialog, vs. a phrase that also pops up a confirmation dialog. So, there is a 'halt

[2020-11-26 18:50] bhsmither opened #2697 "Misleading Tax Message"
In settings.tax.inc.php, when processing `$_GET['assign_class']`, the result of `DB->update()` is the boolean success or failure.

`DB-update()` does not return the number of rows affected.

To find the number of rows affected, one must immediately call `DB->affected()` after `update()` or `delete()`.

[2020-11-26 21:20] bhsmither opened #2698 "Product Options Serialized Storage"
Regarding #2562, the edit made in order.class.php near lines 299-305 (https://github.com/cubecart/v6/commit/fdd1e50f4ff81c613fb727cdca2110c285c8c217) does not match the edit made elsewhere (https://github.com/cubecart/v6/commit/7d4343525786f29af4e613404043a3362a7aa3ef).

Specifically, the `else` block is identical to the `if` block.

[2020-11-27 08:27] #2664 closed, assigned to nobody

[2020-11-27 16:04] twistedsymphony commented on #2698
Is this what's causing the the following issue:

Options when displayed on the Oder summary and printed invoice show the serialized version as opposed to the actual selected option as seen in the photo below:
![cube_cart_options](https://user-images.githubusercontent.com/14942805/100467321-42e2ea00-30a0-11eb-80ae-995ed7365bc1.jpg)

[2020-11-27 20:48] bhsmither commented on #2698
I am going to say no. Your observation seems to be something different. Please mention the version of CubeCart you are using.

[2020-11-28 11:04] rbosma commented on #2698
@bhsmither Same problem as @twistedsymphony over here... When generating a print order form....
![order_form](https://user-images.githubusercontent.com/13029406/100513161-65900400-316f-11eb-8b16-20632b813a1a.png)

Viewing the order the product options show normaly...
![view_order](https://user-images.githubusercontent.com/13029406/100513815-3cbc3e80-3170-11eb-9aa9-cc6d6110a25b.png)

Mail to custom

[2020-11-29 00:34] mjvids opened #2699 "newsletter.class.php:205 - Call to a member function is() on null"
i am getting a error newsletter.class.php:205 - Call to a member function is() on null

please help

[2020-11-29 01:21] bhsmither commented on #2677
This statement:
[code]
says that if the cached file contains something false-like or is missing, then use the empty value in `$content`.

I believe you want:
[code]
which says if the cached file does exist and has valid content, use it. Otherwise, build one.

[2020-11-29 02:46] bhsmither commented on #2677
Also, the skin template box.popular.php is wrapped in a test for the truthiness of `$POPULAR`, which does not get set.

I would have suggested adding an assignment to `'POPULAR'` being `true` but the template is wanting to loop through it.

And then, where is `$POPULAR_PRODUCTS` used in the skin? (OK, I see that CC5 skins use this approach.)

[2020-11-29 07:57] bhsmither commented on #2699
Duplicate of #2655.

In CC641, in admin, Error Log, System Error Log tab, you might see this error. If so, hovering over the error will show a trace of where this error came from.

Can you reproduce this? If so, enable debug mode, cause the error, and look at the System Error Log table.

[2020-11-29 15:25] twistedsymphony commented on #2698
Same for me. This happend after I upgraded from version 6.2.9 to 6.4.1

[2020-11-29 19:06] #2699 closed, assigned to nobody

[2020-11-29 21:55] bhsmither opened #2700 "Deprecated Syntax"
In categories.index.inc.php, near line 345 (broken apart for clarity):
[code]
The PHP 7.4 error is "Unparenthesized [nested ternary] is deprecated."

Suggest:
[code]

[2020-11-30 10:16] abrookbanks commented on #2439
There have been a number of issues and threads about this but I decided to open this one.

We have to retire the trigger as it just doesn't work.

[2020-11-30 10:23] 3dtime opened #2701 "Empty Cart"
Hi all,
 i seem to have the age old problem with the cart being empty after item/s have been added, i have done some research but cant seem to find a definitive answer, 2 people have reported this problem both on a phone and on a pc, i have tested it and it seems to work ok for me, i have a basic install of CC with just the PayPal and All in one shipping addons, i did experience this once but afte

[2020-11-30 10:50] abrookbanks commented on #2701
See https://github.com/cubecart/v6/issues/2689

[2020-11-30 10:50] #2701 closed, assigned to nobody

[2020-11-30 10:52] abrookbanks opened #2702 "User method _validCustomerId could still return invalid customer id"

[2020-11-30 11:00] #2700 closed, assigned to abrookbanks

[2020-11-30 11:22] #2702 closed, assigned to abrookbanks

[2020-11-30 12:27] abrookbanks commented on #2698
Mixed versions of code? I expect you have an outdated /admin_xxx/*.* folder.

[2020-11-30 15:52] rbosma commented on #2698
Not as far as I know, same date and time stamps as upgrade... Is there any way to check this out if there is a mixture of code?

[2020-11-30 16:06] abrookbanks commented on #2698
It's a classic upgrade error to upload the admin folder without renaming it admin_xxx matching the value in your includes/global.inc.php file.

[2020-11-30 16:09] abrookbanks commented on #2656
Thanks for this!! :)

[2020-11-30 16:09] #2656 closed, assigned to abrookbanks

[2020-11-30 18:13] Dirty-Butter commented on #2439
My test code is on 6.4.1, and this new #2439 still makes one series if there is no tax or coupon and another series if there is sales tax or promotional code. Would there be anything in 6.4.2 commit that I should change as well?

[2020-11-30 18:29] abrookbanks commented on #2439
I forgot to say that it needs to be activated by clicking save in your stores settings. That will deactivate the trigger and enable to new code.

[2020-11-30 19:17] Dirty-Butter commented on #2439
First test worked! With and without sales tax were in sequence as they should be. And the predicted next number is actually what came next in the series - that had never happened. Will continue to test as soon as I can.

[2020-11-30 21:24] spacekids opened #2703 "Product attributes not showing in plain text after upgrade from 6.29 to 6.41"
Hope someone can give me some pointers, just recently upgraded from Version 6.29 to 6.41.

Since the upgrade, every time I get an order, when I view the order in Admin Control Panel or print it, any product with a size attribute, the size comes up as a set of numbers and letters like this example:

1 x ISS Astronaut White Space suit by Galactic Gear - SK049-3 (£37.99) £37.99
YToxOntpOjE4ODtzOjEyOi

[2020-11-30 21:24] Dirty-Butter commented on #2439
Tested on 2 stores at 6.4.1 and it worked on both of them with and without coupons or sales tax. YAY!!

[2020-11-30 21:37] bhsmither commented on #2703
Possibly a duplicate of #2698.

[2020-11-30 21:53] abrookbanks commented on #2439
Great!!

[2020-11-30 21:53] #2439 closed, assigned to abrookbanks

[2020-12-01 00:53] NT7S commented on #2698
I am also having this problem, and yes I did check that my admin_ folder matches the one global.inc.php.

[2020-12-01 01:23] bhsmither commented on #2698
Are these orders that were placed **after** the upgrade?

Or are they orders placed **before** the upgrade, but are now viewing them in admin **after** the upgrade?

Are these customer-placed orders or admin-created orders?

Are there any order-related plugins installed?

[2020-12-01 06:20] rbosma commented on #2698
**Yes they are, it happens when the orders are placed and the form is being created, as shown in my screenshots above**

**In the admin screen the orders show up fine, it's purely the first output that shows this garble..**

**Only with customer placed orders, with admin there's no problem... (At least on my side)**

**Only pugs installed on my side that could interfere and being used are:
_Print

[2020-12-01 08:43] abrookbanks commented on #2703
I can't reproduce this.
http://static.cubecart.com/issue-2703.mp4

I expect the admin files are not at the latest version.

[2020-12-01 08:43] #2703 closed, assigned to abrookbanks

[2020-12-01 08:44] abrookbanks commented on #2698
I can't reproduce this. http://static.cubecart.com/issue-2703.mp4

Are you 100% sure the admin files are up to date? Upload the contents of the /admin folder over your /admin_xyz123 folder manually.

[2020-12-01 08:50] abrookbanks commented on #2698
Email:
![Screenshot 2020-12-01 084932](https://user-images.githubusercontent.com/4520803/100717619-30272880-33b2-11eb-9aa5-602d7022fc94.jpg)

[2020-12-01 08:50] abrookbanks commented on #2698
Please open a tech support ticket if you require any further assitance.

[2020-12-01 08:54] abrookbanks commented on #2696
Thanks.

![Screenshot 2020-12-01 085511](https://user-images.githubusercontent.com/4520803/100718189-f0147580-33b2-11eb-9f68-82efdad1b4ca.jpg)

[2020-12-01 08:54] #2696 closed, assigned to abrookbanks

[2020-12-01 09:01] abrookbanks opened #2704 "Filemanager should load source image in click"
Instead it loads "medium" variant.

[2020-12-01 09:02] abrookbanks commented on #2704
Resolves #2661

[2020-12-01 09:02] #2704 closed, assigned to abrookbanks

[2020-12-01 09:03] #2661 closed, assigned to abrookbanks

[2020-12-01 09:03] #2677 closed, assigned to abrookbanks

[2020-12-01 09:05] #2674 closed, assigned to abrookbanks

[2020-12-01 09:38] rbosma commented on #2698
I'll give it a try... _I'll be back_

[2020-12-01 09:51] rbosma commented on #2698
Didn't solve the issue...
![scrn_dump](https://user-images.githubusercontent.com/13029406/100724340-0fb39a00-33c3-11eb-8c6b-fa40c97e7e24.PNG)

Using print order form.. Logged in as customer..

When viewing order in Admin panel, everything shows up fine..

[2020-12-01 10:25] abrookbanks opened #2705 "Product option unserialize is badly coded #2698 & #2562"
It needs a dedicated method. Right now its overly confusing.

[2020-12-01 10:52] #2705 closed, assigned to abrookbanks

[2020-12-01 10:52] abrookbanks commented on #2703
Code improved via https://github.com/cubecart/v6/commit/269183fbec82c6f04e68634b6969362a93d579ef

[2020-12-01 13:22] rbosma commented on #2705
@abrookbanks

That didn't do the trick on my side... Changed to code to all three files, but outcome is still the same...

[2020-12-01 13:57] abrookbanks commented on #2705
Please can you contact support@cubecart.com with FTP access.

[2020-12-01 14:23] rbosma commented on #2705
I will, takes a few minutes...

[2020-12-01 14:39] rbosma commented on #2705
You have mail

[2020-12-01 17:24] bhsmither commented on #2698
I am seeing code that suggests the POF gateway is querying for itself the order inventory, and has not been upgraded (looking at v1.2.0) to deal with #2562.

How much of `POF->call()` is already done elsewhere with `Order->getOrderDetails()`?

[2020-12-01 18:57] abrookbanks commented on #2698
Can you say what the problem is around this?

[2020-12-01 19:04] bhsmither opened #2706 "GLOB Consuming Massive Amount of Memory?"
Please test: (see https://forums.cubecart.com/topic/56507-latest-update/)

The two changed lines in `_clearFileCache()` would find all files that have '.js' somewhere in the filename. I am only seeing there to be just one file found for each skin for each of JS and CSS concatenated/minified files. So, I do not understand what problems the edits to those lines were to accomplish.

Edit: I see '.js'

[2020-12-01 19:13] bhsmither commented on #2698
In the specific case mentioned two posts above, the POF cannot handle inventory `$item['product_options']` now being recorded in a base64 format. (Lines 86 and 195.)

My suggestion to have POF use `Order->getOrderDetails()` and `Order->assignOrderDetails()` instead of relying on its own implementation of querying `CubeCart_order_inventory` and populating Smarty variables.

This specific case is no

[2020-12-01 22:12] abrookbanks commented on #2698
I see... I'll get this done tomorrow. Thanks.

[2020-12-02 09:18] abrookbanks commented on #2698
PrintOrderForm-1.2.2.zip released.

[2020-12-02 09:18] #2698 closed, assigned to abrookbanks

[2020-12-02 09:45] abrookbanks commented on #2706
.cache files need to go into the general cache clear. If you change to say an alternate cache they won't ever get cleared otherwise.

[2020-12-02 09:48] abrookbanks commented on #2706
Bugs...

[2020-12-02 10:00] #2706 closed, assigned to abrookbanks

[2020-12-02 10:03] havenswift-hosting commented on #2706
Not all skins use the concatenation / minification

[2020-12-02 18:04] bhsmither commented on #2698
Also e-Payments Interac in two places.

And the second occurrence in POF (now line 205 for v1.2.2).

[2020-12-03 00:29] bhsmither opened #2707 "Stock Warn Level Determination Too Strict"
As regards #2662, for the benefit of those who use negative stock levels for special purposes, please consider:
[code]

[2020-12-03 08:28] abrookbanks opened #2708 "PHP 8.1 Compatibility"
This will require a lot of testing!

e.g. https://www.php.net/releases/8.0/en.php#saner-string-to-number-comparisons

[2020-12-03 09:05] abrookbanks commented on #2707
Thanks. :)

[2020-12-03 09:05] #2707 closed, assigned to abrookbanks

[2020-12-04 03:27] bhsmither opened #2709 "Debug SQL Table Code Tweak"
Regarding #2640, a tweak:
[code]
This table structure adopts the general styling of the skin - which could be anything (Foundation: alternate colors, e-Fluid: centered text, etc).

[2020-12-06 00:25] bhsmither commented on #2708
Not to mention **Smarty** has a lot of work to be done to make it PHP8 Compatible.

Testing the /setup/ of CC642 under PHP8 now.

Setup died on the page asking for database info:
[code]
and nothing after that.

[2020-12-06 00:29] bhsmither opened #2710 "Misspelled Attribute"
Trivial:

In /setup/skin.install.php, line 113, the value of the `for` attribute, "form-dbhhost" is misspelled.

[2020-12-06 06:47] bhsmither opened #2711 "Code Check: Setup Method"
In /setup/index.php, near line 341, there is:
[code]
The method is either 'install' or 'upgrade'. Therefore, I believe what is wanted is:
[code]

[2020-12-06 08:02] abrookbanks commented on #2708
CubeCart v7 then. Who's in?

[2020-12-06 08:50] abrookbanks commented on #2708
https://github.com/smarty-php/smarty/issues/605

[2020-12-06 08:59] bhsmither commented on #2708
I've been watching this.

[2020-12-07 11:35] rbosma opened #2712 "Shipping costs calculation incl VAT"
It would be nice if shipping costs (AIOS) could be calculated over the total order costs incl VAT.
In The Netherlands when we show prices to normal customers (not business)  we have to show prices incl VAT.
We have two VAT percentages..
9% food
21% non-food & services

When a customers orders for over a amount of 100.- (incl VAT) we ship out with no costs, below that he needs to pay a bit.
Calcula

[2020-12-07 19:48] bhsmither opened #2713 "Google Base Module Price Tweak"
Google Merchant Center says for its product feed:
https://support.google.com/merchants/answer/7052112?hl=en

 For 'price':

Example
15.00 USD

In the Google Base module /hooks/admin.product.import.format.php, near line 15:

The line that starts with:

$fields = array(

Change:
'price'

to:
'price currency'

[2020-12-08 08:29] #2711 closed, assigned to abrookbanks

[2020-12-08 08:31] #2710 closed, assigned to abrookbanks

[2020-12-08 09:02] Noodleyman opened #2714 "Product Clone - Categories are not cloned (none selected) for newly cloned products"
as per title, in 6.4.2 all cloned products have no categories assigned, making them invalid until manually assigned.

[2020-12-08 20:15] bhsmither commented on #2714
Did this just start happening at CC642 for you? Will you confirm that there was not this issue for CC641?

I find no difference in code that would affect cloning.

[2020-12-08 20:31] Noodleyman commented on #2714
Not tested in 641

On Tue, 8 Dec 2020, 8:16 pm Brian Smither, <notifications@github.com> wrote:

[2020-12-08 21:26] bhsmither commented on #2714
I cannot duplicate. The cloned product has the same categories assigned as the source product as seen in CubeCart_category_index and CubeCart_inventory.

[2020-12-08 21:34] Noodleyman commented on #2714
On a clean install of 642?

On Tue, 8 Dec 2020, 9:27 pm Brian Smither, <notifications@github.com> wrote:

[2020-12-08 21:41] bhsmither commented on #2714
Yes and no. I pepper tracer code at points of interest. But the actual core code is not changed.

[2020-12-09 08:57] Noodleyman opened #2715 "htaccess typo?"
newly created htaccess file contains:
`ErrorDocument 404 "<html></html>`

I'm assuming this should be ended with a closing double quote?

[2020-12-09 09:51] rbosma commented on #2714
On upgrade (6.4.2.) no problem here.

[2020-12-09 10:22] Noodleyman commented on #2714
I just installed CubeCart again, new install. it's reproducible.

![image](https://user-images.githubusercontent.com/10614018/101617240-4feccb00-3a08-11eb-9ba0-80733d4f16de.png)

CubeCart_category_index isn't populated for the cloned product.

![image](https://user-images.githubusercontent.com/10614018/101617309-62ff9b00-3a08-11eb-9552-650acd8d5e96.png)

[2020-12-09 12:37] abrookbanks commented on #2715
Thanks.

[2020-12-09 12:38] #2709 closed, assigned to abrookbanks

[2020-12-09 17:27] bhsmither commented on #2714
The code to clone is stupid-simple. The primary category is always cloned.

If you have debug enabled, are there queries shown on the POST portion of the debug area that relate to INSERTing new records in CubeCart_inventory, CubeCart_category_index, etc?

The difference I see is that my settings will have CubeCart auto-redirect to the cloned product.

[2020-12-09 17:31] bhsmither commented on #2715
NO! Actually, the docs specifically make a note of this, and specify that there should NOT be a closing quote.

I will try to find the spec later.

[2020-12-09 17:34] abrookbanks commented on #2715
Whoooops

[2020-12-09 18:03] bhsmither commented on #2715
https://httpd.apache.org/docs/2.4/custom-error.html

In Configuration, discussing `<action>`:

which, technically, `<html></html>` is just one word. (The use of quotes may have been slightly different in previous versions of Apache.)

https://httpd.apache.org/docs/2.0/custom-error.html
Apache 2.0 says:

Other sites expand on this by saying: "Note that the initial quotation mark ( " ) [is simply a

[2020-12-09 19:55] bhsmither commented on #2714
There is, however, a remote possibility that, if the database is not also "fresh", there could be some problem.

[2020-12-09 20:07] bhsmither opened #2716 "Possible Installation Anomaly"
In /setup/db/install/examples.sql, the first query inserts a new category allowing the database to handle the value determined by auto-increment rules.

There could be a _very slight_ possibility that these rules will return a value other than `1`.

If that happens, the second query inserts bad data as the product is referencing a category that does not exist.

As regards to the third query, it to

[2020-12-10 07:32] #2715 closed, assigned to abrookbanks

[2020-12-10 12:55] Noodleyman opened #2717 "Request - capture the depth of a category in CubeCart_category"
Would it be possible to enhance the category data to store the category_depth of each category?

Example:
Parent => Sub-cat => Sub-cat
would have a depth of 3

It's useful where you need to know the depth of the category for bespoke modules/features but don't necessarily want to recursively walk all the hierarchies every time to find the solution.

[2020-12-10 14:54] abrookbanks commented on #2717
In programming count it would be 0, 1, 2 if you are being pedantic.

[2020-12-10 15:59] Noodleyman commented on #2717
Agreed. I was pondering 0 or 1 when I opened this :)

[2020-12-10 23:36] bhsmither commented on #2714
Found it (highly probable). And there are likely numerous other situations where this scenario will get triggered.

A key component is that the admin doing the tasks must have logged in for less than four times.

In `DB->_clearCacheNotice(`), if the admin_data['logins'] <= 3, then a message is triggered.

Following the path of code execution, `ACP->adminLog()` will insert a new record. We arrive a

[2020-12-11 07:24] bhsmither opened #2718 "Code Review: buildCategoriesDropdown Has No Loop Detector"
As opposed to `SEO->getDirectory()`, which has a loop detector, `SEO->_getCategoryList()` and `Catalogue->buildCategoriesDropDown()` do not.

(Personally, I think the SEO class should not calculate category paths/directories. Have the Category class do that and pass back the sequence of cat_id numbers to the methods in SEO that will use the sequence.)

[2020-12-11 08:52] Noodleyman commented on #2717
[code]

just call the function every time a category is saved and it will rebuild all the hierarchies. needs the DB column  added and if implemented in a future version of CubeCart also needs to have the function called once during the upgrade process to populate the values.

[2020-12-11 18:15] bhsmither opened #2719 "Code Check: Databased SEO Paths"
In /setup/db/upgrade/6.4.0.sql, there is a query that CONCATs ".html" to the values in the `path` column for all rows.

Then, following that, are three INSERT queries that adds 'login', 'register', and 'search' to the table _without_ the ".html" extension.

[2020-12-12 21:03] bhsmither opened #2720 "Continue Shopping Button"
With respect to #1381, the link will only appear if `$INCLUDE_CHECKOUT && !$DISABLE_GATEWAYS` evaluates to true. See a discussion here:
https://forums.cubecart.com/topic/56546-continue-shopping-link-disappeared-after-installing-paypal-commerce-gateway/

Suggest make the link more permanent and pretty.
[code]

[2020-12-13 11:06] havenswift-hosting opened #2721 "Remove testing image from release"
https://forums.cubecart.com/topic/56548-odd-photo-in-file-manager/

[2020-12-13 23:40] bhsmither opened #2722 "Code Request: include $hookName;"
Code Request (not expecting anything with this ;)):

With respect to the following code structure:
[code]
Request that it be rewritten as:
[code]
My programming editor is able to identify `functions/methods`, the parameters inside `()`, sometimes variables inside `{}`, and includes.

Renaming `$hook` with `$hookName` comports well with the IDE that I use (and maybe others).

This change in the cod

[2020-12-14 08:51] onebrowncow opened #2723 "Count Issue in Admin"
![screenshot-admin-control-panel](https://user-images.githubusercontent.com/13252688/102059892-6a98b880-3de9-11eb-851e-ea6daf79a83e.jpg)

Count (by green arrow) shows the stock warning amount not the unsettled orders amount CC6.4.2

[2020-12-14 11:39] abrookbanks commented on #2721
Thank God it was something inoffensive!!!

[2020-12-14 11:40] #2721 closed, assigned to abrookbanks

[2020-12-14 11:44] abrookbanks commented on #2719
It's intentional. Coming from < 6.4 .html is used everywhere. From 6.4 it could be either so in case of switch both need to be able to work depending on hard code in skin/js. Those rows are required.

[2020-12-14 11:44] #2719 closed, assigned to abrookbanks

[2020-12-14 19:05] onebrowncow opened #2724 "Feature Request: quantity in basket in mobile view"
![Screenshot_2020-12-14 Handbags Jewellery Home Kitchen Interiors Pottery Mugs Emma Bridgwater Greetings Cards Stationery One](https://user-images.githubusercontent.com/13252688/102123515-dce7b800-3e3e-11eb-8696-255c3fe0dfeb.png)
I'd like the basket quantity to show to customer when they add to basket in mobile view. I've had a quick play with the code in box.basket.php for the results in the atta

[2020-12-14 19:34] bhsmither opened #2725 "Code Review: Column Selection"
In `Language->translateProduct()`, the `DB->select()` columns parameter uses _false_.

Request the same consideration be given for `Language->translateDocument()` and `translateCategory()`.

[2020-12-15 08:38] rbosma commented on #2724
Nice one, should definitly put into CC

[2020-12-16 05:24] bhsmither opened #2726 "UX Review: Delete Button in Image Manager"
Even though the folders have a checkbox to select for deletion _en mass_, the red-lettered Delete button is shown only when files are listed.

[2020-12-18 15:16] abrookbanks opened #2727 "Search is bringing up items that are disabled"
Internal ticket 111476.

[2020-12-18 15:42] abrookbanks commented on #2727
[code]

<img width="1064" alt="Screenshot 2020-12-18 154209" src="https://user-images.githubusercontent.com/4520803/102632910-9ac4bc00-4147-11eb-88be-58209557bc01.png">

[2020-12-18 19:32] bhsmither commented on #2727
My experiments show that:
[code]
should be changed to:
[code]
or not use 'manufacturer' in certain combinations of query conditionals.

[2020-12-18 19:51] bhsmither commented on #2727
The above is near line 1851:
[code]
That is, if **not** looking for a specific manufacturer (see near line 1796 and issue #2622), but rather if any of the search terms looks LIKE a manufacturer name, then include those products -- using OR -- resulting in a recordset containing products irrespective of any other conditions.

[2020-12-18 20:01] bhsmither commented on #2727
Looking at the code changes for issue #2397, the query did use:
[code]

[2020-12-21 09:33] abrookbanks commented on #2727
I'm so grateful. Saved me a lot of work this morning which I need now the kids are home and my wife and I juggle work again.

It's really not much fun in the UK right now. The new strain was an absolute kick in the teeth on Friday.

I'll see how the customer gets on with these changes.

[2020-12-21 19:52] bhsmither opened #2728 "Deprecated for PHP8: Function Parameters"
PHP Deprecated:  Required parameter $replace follows optional parameter $compress in /classes/language.class.php on line 904

[2020-12-21 22:41] bhsmither opened #2729 "Fatal Error: method_exists() (PHP8)"
During install, line 71 of /setup/index.php instantiates `Debug`. That means from this point on, errors will get handled by `Debug->errorLogger()`.

In `errorLogger()`, near line 416, references are made against `$GLOBALS['config']` which, during setup, does not hold a Config class object. (In /setup/setup.install.php, line 269, `$GLOBALS['config']` is used to hold an array.)

With `$GLOBALS['conf

[2020-12-21 23:35] bhsmither opened #2730 "PHP8: Unset Smarty Variables"
How did I find #2729?

In /setup/skin.install.php, there is the variable {$FORM} that does does not yet exist on the first display of 80% Complete (database access form).

Undefined things now throw warnings.
[code]
https://www.php.net/manual/en/migration80.incompatible.php

I will test if Smarty `muteExpectedErrors()` will solve this.

[2020-12-22 00:32] bhsmither commented on #2730
Nope.

[2020-12-22 01:07] bhsmither commented on #2729
This bug report looks interesting:
https://bugs.php.net/bug.php?id=79623

Will try using "Config" to trigger the autoloader.

[2020-12-22 01:09] bhsmither commented on #2729
Or, try:
[code]

[2020-12-22 01:34] bhsmither commented on #2729
This works:
`method_exists("Config", 'get')`

but does not solve this:
`(bool)$GLOBALS['config']->get('config', 'debug')`

This actually fixed it:
[code]
But there is still a ton of entries in the error_log file from unset Smarty variables.

[2020-12-28 18:08] bhsmither opened #2731 "SEO URL RewriteRule May Catch Too Much"
With CC640+'s .htaccess new rewrite rule that catches everything, then the 404 override for missing page resources may be moot.

(I no longer run Apache, so I have not tested.)

[2020-12-31 21:31] mrobertbell opened #2732 "https://www.cubecart.com/ is down"
ParseError: syntax error, unexpected ';' in /home/ccmarket/app/models/Site.php:73 Stack trace: #0 [internal function]: Illuminate\Support\ClassLoader::load('Site.php') #1 /home/ccmarket/app/controllers/HomeController.php(23): spl_autoload_call('Site') #2 [internal function]: HomeController->index() #3 /home/ccmarket/vendor/laravel/framework/src/Illuminate/Routing/Controller.php(231): call_user_fun

[2020-12-31 22:03] #2732 closed, assigned to nobody

[2021-01-01 01:21] Dirty-Butter commented on #2439
One last piece of information about custom_oid. When I upgraded plushmemories/lovie-shoppe I could not get the Preview of the custom id number to show what I expected. I had forgotten what it took to get the dirtybutterestates.com custom_oid to work. The "old" increment increase number would not erase from the database config file even when I blanked it out and saved in CC Admin. I had to decode t

[2021-01-04 09:47] abrookbanks commented on #2731
I can't see a way around that. Can you?

[2021-01-04 12:32] Noodleyman opened #2733 "cart.order_pending"
PHP Notice:  Email content for cart.order_pending doesn't exist in default lamguage. in classes/mailer.class.php on line 132
PHP Notice:  Email content for cart.order_pending doesn't exist in any lamguage. in classes/mailer.class.php on line 129

Happened to notice this in an error log today, seems that "order_pending" doesn't exist, nor can I see it being created by CubeCart. Also, a typo in the

[2021-01-04 12:38] Noodleyman opened #2734 "HTTP 400 with PayPal Commerce module"
newly installed PayPal commerce module, version 1.3.23.  Linked with a PayPal account but unable to checkout via storefront.

Captured the following URL being called which throws a HTTP 400 error.

https://www.paypal.com/sdk/js?client-id=&merchant-[id=###&currency=USD&intent=capture&commit=true&components=buttons,hosted-fields ](url)

Note: I've only replaced the merchant-id with ### in the above

[2021-01-04 19:36] abrookbanks opened #2735 "Language for account: error_email_in_use to be improved"
It may be more helpful to word it as something like;

[2021-01-04 23:29] rbosma commented on #2735
I was just thinking about this. Had a few customers with this issue last week.... They're a bit 'slow learners' I presume.

[2021-01-05 00:58] bhsmither commented on #2733
Can you provide a backtrace to see what code is requesting the Mailer to send `cart.order_pending`?

I think `cart.order_pending` never did exist. Maybe a plugin?

[2021-01-05 21:00] bhsmither opened #2736 "Logged-In Admin, to See Empty, Hidden, Disabled Categories"
Feature Request:

When a logged-in admin is viewing the storefront, have empty, hidden, and disabled categories be shown (similar in concept to hiding prices until logged in, and hide out-of-stock products).

Perhaps use a non-default link/text color for categories that would otherwise not be shown.

[2021-01-06 07:31] havenswift-hosting commented on #2736
I disagree with this.  The admin needs to be able to see the store exactly the same as a user sees it.  If they need to be able to see these categories then they can simply put the store into maintenance mode, enable the setting to see these and then view the store front.

[2021-01-06 15:18] havenswift-hosting opened #2737 "Config switch to disable showing of gravatar images"
We need a config switch (on / off) for the display of gravatar avatar images when a product has reviews.  When gravatar.com is down or unreachable, the call to their site takes a long time before it times out and this can cause multiple problems especially when running a site through Cloudflare for example which then throws a 524 error and temporarily blocks access to the site

[2021-01-07 06:05] bhsmither commented on #2737
This has been implemented. See: https://github.com/cubecart/v6/commit/f63354bd9eddd9b51e61aa7877194c36a77bef83

In admin, Store Settings, Features tab, Reviews section, "Enable Product Reviews/Comments", set to **Enabled (Gravatar Disabled)**.

Whether this actually works correctly, I have not verified.

[2021-01-07 06:23] bhsmither commented on #2737
Perhaps using a cURL function with CURLOPT_TIMEOUT or CURLOPT_CONNECTTIMEOUT at 3 seconds?

Perhaps not even test for connected-ness in the core code, but delegate all responsibility of making the connection and dealing with the connection attempt to the skin to make an ajax call - if the skin even wants to use gravatars.

[2021-01-07 11:14] havenswift-hosting opened #2738 "Urgent : Need support for various forms of Google Analytics"
With the recent release of  [Google Analytics 4](https://blog.google/products/marketingplatform/analytics/new_google_analytics) there are now three different types of analytics that need to be supported

Original Google Analytics
Universal Analytics
Google Analytics 4 - also known as Global Site Tag

GA4 is now the default for new properties and doesnt work in CubeCart as the code is different

[2021-01-07 11:24] havenswift-hosting commented on #2737
@bhsmither you are correct - it was done a few years ago after the last major problem that affected hundreds of stores.

I dont believe this should be taken out of core and put into skin control but the suggestion of using a very short time out via curl is a good one.  When there are many tens of customers all saying their product pages arent loading, they dont associate it with gravatar (as most

[2021-01-08 12:52] abrookbanks opened #2739 "Gift Certificates should show on order info page in admin cp"

[2021-01-08 19:38] bhsmither commented on #2739
Where is this missing?

I show it on Edit Order, both Overview tab and Inventory tab.

[2021-01-10 22:53] bhsmither opened #2740 "Code Check: Regex Pattern in SSL Class"
Regarding #2691, the regex:
[code]
may not be what is wanted. The pattern offers a choice of two options: starts-with-**https?://**, or is **www**-any-one-character.

So, **subdomain.wwwhacky.com** matches, with **wwwh** being removed.

It is now possible for `SSL::validRedirect()` to return a false `false`.

Suggest:
[code]

[2021-01-11 11:30] abrookbanks commented on #2734
I've seen this before. It's because the onboarding isn't complete. Disconnect and try again. The button used to connect to PayPal should load a small modal window not load a new browser tab. If there is a new browser tab then there will also be a JS security error. This may happen on websites that are not hosted as the primary name. The server header hostname doesn't match the domain.
e.g. Say we

[2021-01-11 11:31] #2734 closed, assigned to nobody

[2021-01-11 11:37] Noodleyman commented on #2734
Modal loads fine, no security error.  working theory is that you can't use the same PayPal account to link multiple stores. we got it working on the first one OK, but the additional stores seem to not work. the onboarding process seems to complete successfully.

headers are correct and not deployed the site into a subdirectory as per example URL

[2021-01-11 11:38] abrookbanks commented on #2734
Did they click the final blue button to return to CubeCart? That's vital to post back client ID etc..

[2021-01-11 11:40] Noodleyman commented on #2734
I believe so as the same steps were followed on the first site which is working correctly. However, I'll double check to confirm.

[2021-01-11 11:42] abrookbanks commented on #2734
Very odd. I haven't seen this before. Try onboarding again.

[2021-01-12 08:07] abrookbanks opened #2741 "Allow reset of digital downloads for each product (not just via the edit order page)"
It should be possible to check a box to reset all purchased digital downloads when a downloadable product is updated.

It would also be good to be able to see a list of all orders that contain a specific item whether digital or not.

[2021-01-12 08:09] abrookbanks opened #2742 "Show gift certificate list in customer edit page"
As above. Currently there's no means for the administrator to review this.

[2021-01-12 12:35] hairy-dog commented on #2741
Yes, it's a few years since I asked for this. A way to see who has bough a particular product.
My request fell on stony ground. So several stores didn't move to cubecart after all.

[2021-01-12 13:08] abrookbanks commented on #2741
A million and one requests have been made that haven't been able to be introduced. I hoped going open source would help but we get next to no contributions.

[2021-01-12 15:31] havenswift-hosting opened #2743 "Spelling typo in admin dashboard message"
`<![CDATA[This update has been ignored however next time an update is released by the develper a notification will be shown again.]]>`

developer has a typo and punctuation missing

This update has been ignored. However, next time an update is released by the developer, a notification will be shown again.

[2021-01-12 17:50] mediadogg commented on #2741
Is there a process for contributions to the open source that benefit the contributor? My first request of this feature was met with an offer to provide a quote, so providing the functional change, clearly is deemed to have value. If I wrote the code and it were to be ultimately accepted into production (I assume after rigorous testing), is there some compensation scheme other than the satisfaction

[2021-01-12 17:55] abrookbanks commented on #2741
The main benefit would be the reward of giving. The second would be that if you custom developed it just for yourself then you may have to manually add the code back in after every upgrade. Third would be that it helps CubeCart become more popular which means more users which means the project is more likely to live longer thus attracting more contributors.

Fourth would be that we give you credit

[2021-01-12 17:55] abrookbanks commented on #2741
Fourth would be that we give you credit for you work which we promote. That could be in some way beneficial commercially.

[2021-01-12 17:57] abrookbanks commented on #2741
Covid also doesn't help. Working from home with schools closed is a big problem for working families right now. The UK like the US is in an absolute mess.

[2021-01-12 19:55] bhsmither commented on #2741
@hairydogltd, I am not finding in the forums your request for a way to see who has bought a particular product.

But I did create a plugin that might suit your needs:
https://forums.cubecart.com/topic/56472-can-you-filter-orders-by-products-sold/

[2021-01-12 20:00] hairy-dog commented on #2741
It's OK. This was a requirement, so we didn't use cubecart. Years later, migration would be too difficult.

[2021-01-13 08:30] abrookbanks commented on #2743
They don't half make this confusing. Looks like we need to replace it with:

[code]

I can't see how this affects ecommerce tracking yet.

[2021-01-13 08:32] abrookbanks commented on #2738
https://developers.google.com/analytics/devguides/collection/gtagjs/ecommerce

[2021-01-13 08:33] abrookbanks commented on #2738
They don't half make this confusing. Looks like we need to replace it with:

[code]

https://developers.google.com/analytics/devguides/collection/gtagjs/ecommerce

[2021-01-13 08:47] havenswift-hosting commented on #2738
It is more complicated than that - you need to be able to support all types of GA code - one isnt suddenly replaced with another.  Other applications are giving the choice between the three different types - for example https://blog.whmcs.com/133669/google-analytics-4-support-in-the-google-analytics-addon

https://support.google.com/analytics/answer/10089681

[2021-01-13 10:03] #2743 closed, assigned to abrookbanks

[2021-01-13 18:35] Dirty-Butter commented on #2741
Being able to search for who bought what would be a nice addition for all orders, not just digital. As it is now I depend on queries via phpMyAdmin to find such information in the order summary table usually.

[2021-01-15 03:20] bhsmither opened #2744 "Unused Code"
Inconsequential:

In `products.index.inc.php`, near line 855, there is:
[code]
These, I believe, are vestigial.

[2021-01-19 11:10] abrookbanks commented on #2744
Thanks.

[2021-01-19 11:10] #2744 closed, assigned to abrookbanks

[2021-01-20 11:47] bhsmither opened #2745 "Edited Order Keeps Formatted GC Value"
1. Go through the motions of purchasing a GC, but stop short of actually making payment.
2. In admin, manually edit the order (it shoul dbe databased as pending).
3. The value of the GC is now databased as the locale formatted string of the value.

In `orders.index.inc.php`, near line 357, the value of the GC `custom` serialized GC data is formatted to the locale.

This string gets POSTed.

In `or

[2021-01-24 12:01] abrookbanks opened #2746 "Fatal error: MySQL server has gone away in /home/xxx/public_html/classes/db/mysqli.class.php on line 42"
If MySQL goes down due to an issue like too many connections this error is displayed giving awaye server paths.

A less informative error is required.

[2021-01-24 19:06] bhsmither opened #2747 "Customer Details to have Dbl-Opt Indicator"
Feature Request:

When viewing details about a customer, add an indicator showing if the customer has:
1. Not Dbl-Opt
2. Dbl-Opt
A phrase on the side reminding the admin if this detail matters based on the Config GDPR Dble-Opt setting.

[2021-01-25 11:22] havenswift-hosting opened #2748 "Feature request : add option for double opt for customer sign ups"
As per the title

[2021-01-25 11:22] havenswift-hosting commented on #2747
The current double opt in is only for newsletter signups, not specifically for customers which is a new feature request here https://github.com/cubecart/v6/issues/2748

[2021-01-25 14:12] abrookbanks opened #2749 "Downloadable Product Options"
Thanks to our good friend Brian.
[Testing-Instructions.txt](https://github.com/cubecart/v6/files/5867111/Testing-Instructions.txt)
[Code-Changes-Instructions.txt](https://github.com/cubecart/v6/files/5867112/Code-Changes-Instructions.txt)

[2021-01-25 16:46] bhsmither commented on #2747
It is informative re: Newsletters on the Add/Edit General page, "Subscribed to newsletter?" indicator.

This references https://forums.cubecart.com/topic/56618-newsletter-sign-up-issue-sorry-but-we-have-not-been-able-to-validate-your-email/

[2021-01-26 21:09] tonyrsutton opened #2750 "Export Catalogue does not include the Categories field"
Under Inventory -> Export Catalogue - it does not export the Categories field

According to https://support.cubecart.com/hc/en-gb/articles/360003831277-How-do-I-use-the-bulk-product-import-tool-

It appears to be missing the **cat_id** field from it.

Is this a bug? If so, can this please be added in the next release?

Thanks.

[2021-01-27 00:28] tonyrsutton opened #2751 "Feature Suggestion: "Search for Image Location" -> checkbox to include"
In the Item Product -> Image

When doing a search using the "Search for Image Location" and once found, have a checkbox to appear next to it so I can include it without having to hunt down the folder structure to find the image I want.

[2021-01-27 18:35] bhsmither opened #2752 "Code Review: Redundant Iteration?"
In `mysqli->_execute()`, `$this->_result` gets built from iterating across `$result->fetch_assoc()`. The opportunity to tweak the recordset row is taken to `strip_slashes`.

Then, in `DB->select()`, `$output` gets built from iterating across `$this->_result`.

Is there a reason why `$output` cannot directly equal `$this->_result`?

Is there a reason why not returning `$this->_result` directly? (li

[2021-01-27 18:42] bhsmither opened #2753 "Code Hook Request"
In `DB->select()`, `$output` gets built from iterating across `$this->_result`.

This affords us an opportunity to tweak the recordset at a common point, instead of at each needed place amongst the codebase.
(See: https://forums.cubecart.com/topic/56623-sorting-is-not-logical/)

Requesting a hook where `$output` is being built from iterating across `$this->_result` via `$row`.

[2021-01-29 06:17] bhsmither opened #2754 "AIOS to Restrict Country and County/State Lists to Only Those Enabled"
When AIOS offers a list of Countries when setting up a Zone, all countries are presented.

Likewise, when AIOS offers a list of Counties/States when setting up a Zone, all counties/states are presented.

Request the database queries that fetch from CubeCart_geo_country and CubeCart_geo_zone to respect the `'status'` column.

[2021-01-29 08:10] abrookbanks opened #2755 "cancelled"
--

[2021-01-29 08:13] #2755 closed, assigned to nobody

[2021-01-29 10:04] havenswift-hosting opened #2756 "BUG : seo_url path problem"
Core 6.4.2 using core foundation skin

If a site has "Add category to product URL path?" SEO store setting set to "top level and all sub-categories" and it seems to be adding the category path again and again for each sub-category level !

On a newly created product this is the url that was generated !!

https://www.domain.co.uk/terrain/terrain/6mm/terrain/6mm/walls-fences/terrain/6mm/walls-fences

[2021-01-29 10:25] havenswift-hosting commented on #2756
This has only started happening since upgrading the site from 6.2.8 to 6.4.2 so code changes between these versions will be the cause

[2021-01-29 10:36] havenswift-hosting commented on #2755
As previously reported - also seeing this with search engine crawler sessions !

[2021-01-29 18:00] tonyrsutton opened #2757 "Feature Suggestion: Generate Promotional Codes for download"
I'd like to suggest a way to generate Promotional Codes by following a few questions like

Discount Type
Discount Value
Expire Date
Number of codes to be generated

and so on

Once you have answered the questions, I click on the generate button and it will output the Promotional Codes with the codes as random letters that is unique to each of them. Then it allows me to download it as CSV (of the o

[2021-02-01 05:24] bhsmither opened #2758 "Code Review: Cookie Construction in Setup"
Regarding #2689, please review /setup/index.php, line 537:
[code]
Here, the path string contains a semi-colon, causing:
PHP Warning:  Cookie paths cannot contain any of the following '**,; \t\r\n\013\014**'

Suggest following the fix in the other issue.

[2021-02-01 07:39] bhsmither opened #2759 "Code Check: SEO Paths Extensions"
Regarding #2719, where `.html` gets appended, but on a fresh install, the paths do **not** have the `.html` extension.

(It could be something I did, but please check.)

[2021-02-01 09:11] abrookbanks commented on #2758
See 1ae752eb362df41b1c4a7c851299f5ea16bbc27a

[2021-02-01 09:11] #2758 closed, assigned to abrookbanks

[2021-02-01 09:11] abrookbanks commented on #2756
Commit above has incorrect issue ID.

[2021-02-02 12:51] havenswift-hosting opened #2760 "Feature request : improvements to admin dashboard orders list"
There are a number of small changes that would greatly enhance the usability of this area

1) It is often useful to know which orders use which payment provider - add as a column

2) The Search Orders page could include a lot more possible fields including payment provider, orders containing a specific product, customer email address etc

[2021-02-02 22:40] bhsmither commented on #2757
Is there some part of this:
https://www.cubecart.com/extensions/plugins/preset-gift-certificate-/-voucher-codes
that might not be a solution? (It is a few years old, so may need to verify with the author about making sure there is a version for PHP7.)

[2021-02-02 23:39] bhsmither opened #2761 "Repo to Adopt WIP Protocol"
Requesting issue tags to indicate if a Feature Request, or Bug, has had work started on it, and to have them put to use as appropriate.

I am interested in solving the occasional Feature Request. But, if there is someone else who has already started solving it, I would want to either collaborate or step-aside. I would not want to be making duplicative efforts.

I understand that, on the possible e

[2021-02-02 23:50] bhsmither commented on #2742
Please elaborate on this.

When editing a customer, the admin wants to review _what_ exactly?

Did this customer buy the GC? And the details to show is that of the recipient and current status of the GC?

[2021-02-03 00:05] tonyrsutton commented on #2757
Thanks, yes I did see it, but it's more focused on Gift Voucher, whereas I am looking for Promo Code i.e. 5% off your next purchase.

[2021-02-03 08:56] bhsmither opened #2762 "Timezone Chooser has Bad Option"
Regarding #2483, the phrase "Use default server time (X/Y)" is a valid selector option.

And it has a valid meaning: "Unless overridden by another choice, we will use this (X/Y) setting as the local timezone." (settings.index.inc.php, near lines 389-392)

However, POSTing this selector option fails the `preg_match()` giving the configuration a -zls-. (settings.index.inc.php, near lines 138-140)

U

[2021-02-03 11:07] havenswift-hosting opened #2763 "BUG : Sessions being aborted when IP address or user agent changes"
There is a mechanism to abort sessions if the system detects a change of IP address or a change (however small) in the user agent

I am not sure that this is even needed for users - browser can be updated or people can be logged into a site on multiple devices using different browsers from same address ; or the IP address can change due to dynamic address update or moving between mobile areas.

Ho

[2021-02-03 11:28] abrookbanks commented on #2763
Relates #2755

[2021-02-03 11:37] abrookbanks commented on #2763
With HTTP only and Secure cookie flags user agent comparison shouldn't be required. We can see that it causes issues with latest iOS with Safari is an issue too.

[2021-02-03 11:41] #2763 closed, assigned to abrookbanks

[2021-02-03 11:58] havenswift-hosting commented on #2135
Can this issue be revisited as seeing it is various forms in several different sites

[2021-02-03 12:00] abrookbanks commented on #2761
Good shout thanks for this. I've added it.

[2021-02-03 12:00] #2761 closed, assigned to abrookbanks

[2021-02-03 12:06] abrookbanks commented on #2762
Option 1 should be empty.

[2021-02-03 12:28] havenswift-hosting opened #2764 "PHP Warning from AOIS module"
Seeing this on a couple of sites -

PHP Warning:  Invalid argument supplied for foreach() in /home/XXXXXXXX/public_html/modules/shipping/All_In_One_Shipping/shipping.class.php on line 46

[2021-02-03 12:45] abrookbanks commented on #2764
Hmm that doesn't add up. Are they on the latest version?

Line 46 starts:
[code]

[2021-02-03 12:51] abrookbanks commented on #2759
This is intentional. New store shouldn't have .html as standard. I hope I understood you ok.

The seo table should cater for both with and without .html.
https://github.com/cubecart/v6/blob/v6-master/setup/db/upgrade/6.4.0.sql#L38-L40

[2021-02-03 13:01] abrookbanks commented on #2754
Fixed with 1.0.20.

[2021-02-03 13:13] abrookbanks commented on #2750
It could actually have more than one category. Maybe it should add them all with the primary category name first.

[2021-02-03 13:16] abrookbanks commented on #2740
Thanks for this Brian.

[2021-02-03 13:20] havenswift-hosting commented on #2764
Ooops !  Sorry - updated !

[2021-02-03 13:20] #2764 closed, assigned to nobody

[2021-02-03 13:24] abrookbanks commented on #2753
I wonder if there is a real word example where this would be useful. If so it may be nice to implement. In the meantime removing the output array is far more appealing.

[2021-02-03 13:24] abrookbanks commented on #2753
Closing as per feature request guide.

[2021-02-03 13:24] #2753 closed, assigned to nobody

[2021-02-03 13:33] abrookbanks commented on #2752
See https://github.com/cubecart/v6/commit/77971d75bd298445f8c96d72945660fe880ea585

[2021-02-03 13:33] #2752 closed, assigned to abrookbanks

[2021-02-03 13:34] abrookbanks commented on #2764
Ah cool. Pleased that fixed it.

[2021-02-03 13:40] #2740 closed, assigned to abrookbanks

[2021-02-03 14:39] tonyrsutton commented on #2750
Yes, because it will help a lot. And I can then use this field to do an import as well so it will set the correct cats, rather than doing it manually after importing.

Thank you.

[2021-02-03 15:58] bhsmither commented on #2762
In my opinion, that empty option should not be there at all.

Please use it as an instruction, not as an unvalued option.

Suggest also that since `ini-get('date.timezone')` can be seen, auto-set the selector for that.

[2021-02-03 16:36] abrookbanks commented on #2762
With an empty option it knows not to try and set it.

[2021-02-03 17:11] bhsmither commented on #2762
I concur that the web browser will not include in POST that form element's key (name) with having this unvalued option as the displayed choice.

But the store's configuration remains set with an empty string (ultimately UTC), with a misleading phrase still showing in the selector.

[2021-02-03 18:59] bhsmither opened #2765 "Customer Cannot Empty Cart"
There is a customer that has not yet provided a billing address.

This logged-in customer, after clicking 'Add to Basket', the Basket pop-over shows a "Checkout" button.

Click on "Checkout", and this customer is taken to the account page to add an address. {The configuration setting "Jump to basket on add" does not cause any different result.)

Not yet finding it necessary to provide an address,

[2021-02-03 19:25] bhsmither opened #2766 "GC Add to Basket Button Behavior"
If I recall, every **Add to Basket** button's behavior is to cause the Shopping Basket pop-over to briefly appear.

Clicking the **Add to Basket** button on the Gift Cards page does not.

However, this is not a significant obstacle to UX from the customer's perspective.

[2021-02-03 21:09] bhsmither commented on #2742
Are the details of the GC going to be editable?

[2021-02-03 21:18] abrookbanks commented on #2742
Not sure yet. I fire fighting right now thanks to schools being closed. Literally half my day is looking after young kids thanks to this f@*king virus.

Hoping to be able to be 100% back by mid March.

[2021-02-03 22:02] bhsmither commented on #2742
Ok, I will start doing some things. Will not be editable to start. Simply shows details.

[2021-02-03 22:09] abrookbanks commented on #2742
Thank you Brian. 🙏🏻

[2021-02-03 22:10] abrookbanks commented on #2742
..... I'll be sure to use the new WIP tag.

[2021-02-04 20:23] ulanded001 commented on #2746
HI, Same issue, but this time I changed the DB password to be able to acces mysql admin..
HOw  or where do I fix the new Password?
Thanks a lot !

[2021-02-04 20:35] ulanded001 commented on #2746
got the solution.. this worked :

Hi, you can change the database name to work with your store in /includes/global.inc.php as long as the passwords havent changed.
So using ftp open /includes/global.inc.php

You will get:

<?php

$glob['dbdatabase'] = web21-store';

$glob['dbhost'] = 'localhost';

$glob['dbpassword'] = 'my_password';

$glob['dbprefix'] = 'myPrefix_';

$glob['dbusername'] = 'my_use

[2021-02-04 20:36] abrookbanks commented on #2746
No you've missed the point I'm afraid. Please try our forums or contact support. It sounds likely you need to edit your includes/global.inc.php file.

[2021-02-04 22:11] tonyrsutton opened #2767 "BUG: Custom SEO URL Path - not auto generated"
Possible bug on Custom SEO URL Path

**Steps**

Add a product as usual including the Product Name. Save it. Go back to this product you created and click on 'Search Engines' tab. Under "Custom SEO URL Path", you should see the path in there. Observe the path name.

Now, go back to general tab of this product and edit the Product Name. Once edited, go back to Search Engine tab and clear the Path bo

[2021-02-05 13:22] abrookbanks opened #2768 "Remove UK from EU in setup process"
It should no longer be included.

[2021-02-05 16:03] abrookbanks commented on #2754
Needs reopening because status can be > 1

[2021-02-06 08:57] bhsmither commented on #2742
I have put together something.

I still have the question: why? Have purchasers been calling and inquiring about the GCs usage?

[2021-02-06 09:04] abrookbanks commented on #2742
Good question. All I know via support is that one of our merchants wanted to get it on behalf of a customer.

[2021-02-06 21:27] bhsmither commented on #2742
Do you think this will be a 'highly-used' and 'greatly appreciated' by a very large number of CubeCart admins?

Well, here are the code edits:
[code]

[2021-02-07 02:51] bhsmither commented on #2741
I will start working on this.

[2021-02-07 07:25] abrookbanks commented on #2741
Thanks so much. 🙏🏻

[2021-02-07 20:22] bhsmither opened #2769 "UI Review: FileManager Downloads Action Column"
**Generally,** the list of anything has certain action icons in the right-most table column, and multi-select checkboxes in the left-most table column. See the Product Inventory table. (Where practical - re: FilePickers)

Suggest the table in Filemanager Dowsloads conform to this general style.

[2021-02-08 23:02] tonyrsutton opened #2770 "Database Use of stripslashes Kills nulls (was "Database Import to another DB Bug")"
Hey all,

I exported the database from the CubeCart Admin section under Advanced -> Maintenance -> Backup tab and under data Backup, I put tickboxes on all of them apart from Compression.

Once backed up, I copied the .sql file across to my new web host, Then imported it but it fails halfway with this error:

`Error in query (1366): Incorrect integer value: '' for column `xxxxxxxxxx_db`.`xxxxxxxxx

[2021-02-08 23:23] tonyrsutton commented on #2770
Update:

Exported via phpMyAdmin and then imported to another DB - it works perfectly!

Does it mean there is something weird with CubeCart DB export from it?

[2021-02-09 05:30] bhsmither commented on #2770
I ran into that as well and I swear I posted an issue about it. But I cannot find it.

Please let us know what version of CubeCart you are making the backup from.

[2021-02-09 06:40] bhsmither commented on #2770
When I installed, via setup, CC629, the 'customer_id' column took on the default value _null_. When I installed, via setup, CC642, the 'customer_id' column took on the specific value **0**. I have yet to find where the difference took place.

Technically, the null that is returned from a SELECT statement should stay that way.

What I think is happening is that the null is not surviving PHP's fwrit

[2021-02-09 06:47] tonyrsutton commented on #2770
Was exported (via the CubeCart admin) based on this version

CubeCart - v6.4.2
PHP - 5.6.40
MySQL - mysqlnd 5.0.11-dev

Imported to another web host which are

CubeCart - v6.4.2
PHP - 7.4.13
MariaDB - 5.5.5-10.3.27-MariaDB

[2021-02-09 07:13] bhsmither commented on #2770
Using phpMyAdmin, examine the table CubeCart_admin_users.

Are any of the values for 'customer_id' something other than a numeric value?

[2021-02-09 12:00] bhsmither commented on #2770
Found it.

The database class sends values through `sqlSafe()` and DB->strip_slashes(), both of which uses PHP's `stripslashes()` function.

PHP's `stripslashes()` **accepts a string and returns a string**. That means, when sending any other type of variable (integer, double, boolean, null, etc), PHP will first try to convert the incoming variable type to a string.

According to:
https://www.php.n

[2021-02-09 16:28] tonyrsutton commented on #2770
Good find. As requested, I have renamed the subject of this post.